<!-- begin add_email_error_screen.tmpl --> 

<h3>Problems</h3> 

<p>Import was not successful. Details:</p> 


<!-- tmpl_if expr="(error eq 'over_add_list_import_limit')" --> 
<ul>
    <li>
        You've tried to import more addresses, than the current limit is set to. 
	</li> 
</ul>
<!-- tmpl_else --> 
    
    <pre><!-- tmpl_var error --></pre> 

<!-- /tmpl_if --> 

<!-- end add_email_error_screen.tmpl --> 
