<!-- begin add_email_screen.tmpl -->
<!-- tmpl_set name="title" value="Membership &#187; Verify Invitations/Additions" -->
<!-- tmpl_if chrome --> 
    <div id="screentitle"> 
        <div id="screentitlepadding">
    Membership (<!-- tmpl_var type_title -->) 
    &#187; 
    <!-- tmpl_if expr="(type eq 'list')" --> 
        Invite
        <!-- tmpl_if expr="((list_settings.enable_mass_subscribe == 1) && ((root_login == 1) || (list_settings.enable_mass_subscribe_only_w_root_login != 1)))" -->             
        / Subscribe
        <!-- /tmpl_if -->
    <!-- tmpl_else --> 
        Add
    <!-- /tmpl_if -->
    &#187; 
     <strong>Verify</strong>
    &#187;
    
    <!-- tmpl_if expr="(type eq 'list')" --> 
        Send Invitation
        <!-- tmpl_if expr="((list_settings.enable_mass_subscribe == 1) && ((root_login == 1) || (list_settings.enable_mass_subscribe_only_w_root_login != 1)))" --> 
            / Subscribe
        <!-- /tmpl_if -->
    <!-- tmpl_else --> 
        Add
    <!-- /tmpl_if -->
    
    </div>
<!-- /tmpl_if --> 
</div> 
<div id="add_email"></div>
<div id="screen_meta" data-menu_highlight="add"></div>

<!-- tmpl_if expr="(type eq 'list')" --> 
        <!-- tmpl_if list_settings.send_subscribed_by_list_owner_message --> 
            <div class="clearskiesbox">
                <ul> 
                    <li>
                     <p>
                        Addresses <strong>Subscribed</strong> will be sent a, &quot;Welcome&quot; message. 
                    </p> 
                    </li>
                </ul> 
            </div>
            <!-- /tmpl_if --> 
            <!-- tmpl_if list_settings.send_last_archived_msg_mass_mailing --> 
            <div class="clearskiesbox">
            <ul> 
                <li>
                 <p>
                        Addresses <strong>Subscribed</strong> will be sent the latest archived message.                
                </p> 
            </li>
            </ul>    
            </div>
        <!-- /tmpl_if -->             
<!-- /tmpl_if -->

<!-- tmpl_if expr="(type eq 'list')" --> 
    <!-- tmpl_if going_over_quota -->
         <div class="badweatherbox">
            <p>
             Warning! You cannot subscribe all the addresses that you have submitted,
             since you will go over your subscription limit. Please re-submit a smaller number of addresses to subscribe.
            </p>
        </div>
    <!--/tmpl_if-->
<!-- /tmpl_if --> 

<!-- tmpl_if expr="(type eq 'list')" --> 
    <!-- tmpl_if list_settings.closed_list -->
        <!-- tmpl_unless expr="((list_settings.enable_mass_subscribe == 1) && ((root_login == 1) || (list_settings.enable_mass_subscribe_only_w_root_login != 1)))" --> 
         <div class="clearskiesbox">
         <p><strong>Warning!</strong></p> 
         <p>
             You currently have a <strong>Closed List</strong> and subscribing members via the list 
            control panel is <strong>Disabled</strong>. Subscribers will not be able to 
            confirm any list invitations that you send. 
            </p> 
        </div> 
        <!-- /tmpl_unless --> 
    <!-- /tmpl_if -->
<!-- /tmpl_if -->

<!-- tmpl_if expr="(type eq 'list')" --> 
    <!-- tmpl_unless expr="((list_settings.allow_profile_editing == 1) || (root_login == 1))"-->
        <div class="clearskiesbox">
            <p>
                Profile Field Editing is <strong>Disabled.</strong>
            </p>
        </div> 
    <!-- /tmpl_unless --> 
<!-- /tmpl_if --> 





<!-- tmpl_if expr="(type eq 'list')" --> 
    <div class="clearskiesbox">
        <p>
            <strong>Check</strong> the addresses that you would like to Subscribe/Invite/Update
        </p> 
    </div> 
<!-- /tmpl_if --> 

<form name="confirm_add" id="confirm_add" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
 <input type="hidden" name="f"              value="add_email" />
 <input type="hidden" name="type"           value="<!-- tmpl_var type -->" />
 <input type="hidden" name="return_to"      value="<!-- tmpl_var return_to -->" />
 <input type="hidden" name="return_address" value="<!-- tmpl_var return_address -->" />





 <!-- tmpl_if not_members -->
     <div id="not_members_addresses"> 
         <fieldset> 
          <legend>Verified Addresses</legend>

          <!-- tmpl_if expr="(root_login == 1) || (list_settings.allow_profile_editing == 1)" -->           
              <!-- tmpl_if expr="(type eq 'list')" -->
                  <div class="clearskiesbox">
                      <p>
                          Some of the <strong>Verified Addresses</strong> below may already have profile information saved.
                      </p>        
                      <p>
                          <input type="radio" name="not_members_fields_options_mode" id="not_members_fields_options_mode_preserve_if_defined" value="preserve_if_defined" checked="checked" /> 
                          <label for="not_members_fields_options_mode_preserve_if_defined">Preserve any current profile data, but save profile data that's new.</label>
                          <br />
                          <input type="radio" name="not_members_fields_options_mode" id="not_members_fields_options_mode_writeover_inc_password" value="writeover_ex_password" /> 
                          <label for="not_members_fields_options_mode_writeover_inc_password">Update the profile data, excluding the Profile Password</label> 
                          <br />
                          <input type="radio" name="not_members_fields_options_mode" id="not_members_fields_options_mode_writeover_ex_password" value="writeover_inc_password" /> 
                          <label for="not_members_fields_options_mode_writeover_ex_password">Update the profile data, including the Profile Password</label> 

                      </p>    
                  </div>
              <!-- /tmpl_if --> 
        <!-- /tmpl_if --> 


          <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
              <table class="stripedtable">
               <tr>
                <td width="25">
                 <p>&nbsp;</p>
                </td>
                <td>
                <p>
                 <strong>
                  Email
                </strong>
               </p>
              </td>
             <!-- tmpl_if expr="(type eq 'list')" -->
                     <!-- tmpl_loop field_names --> 
                     <td>
                      <p>
                       <strong>
                        <!-- tmpl_if label --> 
                            <!-- tmpl_var label escape="HTML" -->
                        <!-- tmpl_else --> 
                            <!-- tmpl_var name --> 
                       <!-- /tmpl_if --> 
                       </strong>
                      </p>
                     </td> 
                 <!--/tmpl_loop --> 
                 <td>
                  <p>
                   <strong>
                    Profile Password
                  </strong>
                 </p>
                 </td>
             <!-- /tmpl_if --> 


               </tr>

               <!-- tmpl_loop not_members -->
                 <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>     
                     <td width="25">
                   <input type="checkbox" name="address" value="<!-- tmpl_var csv_str escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" checked="checked" />
                  </td>
                  <td>
                   <p>
             <label for="<!-- tmpl_var email  escape="HTML" -->">
                    <!-- tmpl_var email  escape="HTML" -->
             </label>
                   </p>
                  </td>
                  <!-- tmpl_if expr="(type eq 'list')" -->
                      <!-- tmpl_loop fields -->         
                         <td>
                          <p>
                           <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
                          </p>
                         </td>
                     <!-- /tmpl_loop -->                
                     <td>
                         <!-- tmpl_var profile_password escape="HTML" -->
                     </td>                
                 <!-- /tmpl_if --> 
               </tr>

               <!-- tmpl_if __last__ --> 

               </table>              
               <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
           <!-- /tmpl_if -->   
         <!-- /tmpl_loop -->
         </div>
         <p>
         <input type="checkbox" class="check_all_in_div" id="checkbox_for_not_members_addresses" data-target="not_members_addresses" checked="checked">
             <label for="checkbox_for_not_members_addresses">
                 check all
             </label>
         </p>


         </fieldset>
         </div> 
 <!--/tmpl_if-->
 
 
 
 <!-- Subscribed Already --> 
 
  <!-- tmpl_if subscribed -->

     <div id="subscribed_addresses"> 
         <fieldset> 
          <legend>Subscribed Already</legend> 

         <!-- tmpl_if expr="(root_login == 1) || (list_settings.allow_profile_editing == 1)" --> 
             <!-- tmpl_if expr="(type eq 'list')" --> 
                 <div class="clearskiesbox">
                     <p>
                      These addresses are <strong>already members</strong> of your Subscribers. They will not be subscribed/added/invited again. 
                     </p>
                     <p>
                         But, you may update the Profile Fields and Profile Password of these addresses.  
                     </p>
                      <p>
                         <input type="radio" name="subscribed_fields_options_mode" id="subscribed_fields_options_mode_writeover_inc_password" value="writeover_ex_password" checked="checked" /> 
                         <label for="subscribed_fields_options_mode_writeover_inc_password">Update the profile data, excluding the Profile Password</label> 
                         <br />
                         <input type="radio" name="subscribed_fields_options_mode" id="subscribed_fields_options_mode_writeover_ex_password" value="writeover_inc_password" /> 
                         <label for="subscribed_fields_options_mode_writeover_ex_password">Update the profile data, including the Profile Password</label> 
                     </p>                 
                     <p>
                         <strong>Check</strong> the addresses below that you would like to <strong>update</strong>:
                     </p> 
                 </div> 
             <!-- /tmpl_if --> 
        <!-- /tmpl_if -->

     <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
      <table class="stripedtable">
       <tr>
        <td width="25">
         <p>&nbsp;</p>
        </td>
        <td>
        <p>
         <strong>
          Email
        </strong>
       </p>
      </td>
      <!-- tmpl_if expr="(type eq 'list')" -->
          <!-- tmpl_loop field_names --> 
              <td>
               <p>
                <strong>
                     <!-- tmpl_if label --> 
                         <!-- tmpl_var label escape="HTML" -->
                     <!-- tmpl_else --> 
                         <!-- tmpl_var name --> 
                    <!-- /tmpl_if --> 
                </strong>
               </p>
              </td> 
          <!--/tmpl_loop --> 
          <td>
           <p>
            <strong>
             Profile Password
           </strong>
          </p>
          </td>
     <!-- /tmpl_if -->

       </tr>

       <!-- tmpl_loop subscribed -->
         <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
          <td width="25">

              <!-- tmpl_if expr="(root_login == 1) || (list_settings.allow_profile_editing == 1)" --> 
                  <!-- tmpl_if expr="(type eq 'list')" --> 
                     <input type="checkbox" name="update_fields_address" value="<!-- tmpl_var csv_str escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" />
                 <!-- /tmpl_if -->
              <!-- /tmpl_if --> 
          </td>
          <td>
           <p>
     <label for="<!-- tmpl_var email escape="HTML" -->">
            <!-- tmpl_var email escape="HTML" -->
     </label>
           </p>
          </td>
          <!-- tmpl_if expr="(type eq 'list')" -->
              <!-- tmpl_loop fields --> 
                 <td>
                  <p>
                   <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
                  </p>
                 </td>
             <!-- /tmpl_loop --> 
             <td>
                <p>
                    <!-- tmpl_var profile_password escape="HTML" -->
               </p>
              </td>
          <!-- /tmpl_if --> 


       </tr>
       <!-- tmpl_if __last__ --> 
       </table>
       <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 

       <!-- /tmpl_if --> 

     <!-- /tmpl_loop -->
     <p>&nbsp;</p>
     <p>&nbsp;</p>
     </div>
     
     <!-- tmpl_if expr="(root_login == 1) || (list_settings.allow_profile_editing == 1)" --> 
         <!-- tmpl_if expr="(type eq 'list')" --> 
             <p>
             <input type="checkbox" id="checkbox_for_subscribed_addresses" class="check_all_in_div" data-target="subscribed_addresses">
                 <label for="checkbox_for_subscribed_addresses">
                     check all
                 </label>
             </p>
        <!-- /tmpl_if -->
    <!-- /tmpl_if -->
     </fieldset> 
     </div> 
 <!--/tmpl_if-->








 <!-- tmpl_if list_settings.black_list -->
     <!-- tmpl_if black_listed -->
             <div id="black_listed_addresses">
             <fieldset> 
               <legend>Black Listed Addresses</legend>
                 <div class="clearskiesbox">
                  <p>
                   These addresses are 
                   <strong>
                    black listed.
                   </strong>
                         <!-- tmpl_if list_settings.allow_admin_to_subscribe_blacklisted --> 
                               They will not be subscribed/added/invited unless they are checked:
                         <!-- tmpl_else --> 
                         They will not be added/invited.
                         <!-- /tmpl_if --> 
                     </p>
                 </div> 
             <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
              <table class="stripedtable">
               <tr>
                <td width="25">
                 <p>&nbsp;</p>
                </td>
                <td>
                <p>
                 <strong>
                  Email
                </strong>
               </p>
              </td>
              <!-- tmpl_if expr="(type eq 'list')" -->
                  <!-- tmpl_loop field_names --> 
                      <td>
                       <p>
                        <strong>
                             <!-- tmpl_if label --> 
                                 <!-- tmpl_var label escape="HTML" -->
                             <!-- tmpl_else --> 
                                 <!-- tmpl_var name --> 
                            <!-- /tmpl_if --> 
                          
                        </strong>
                       </p>
                      </td> 
                  <!--/tmpl_loop --> 

                  <td>
                   <p>
                    <strong>
                     Profile Password
                   </strong>
                  </p>
                  </td>
              <!-- /tmpl_if --> 
               </tr>

               <!-- tmpl_loop black_listed -->
                 <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
                  <td width="25">
                   <!-- tmpl_if list_settings.allow_admin_to_subscribe_blacklisted --> 
                     <input type="checkbox" name="address" value="<!-- tmpl_var csv_str escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" />
                     <!-- tmpl_else --> 
                     &nbsp;
                     <!-- /tmpl_if --> 
                  </td>
                  <td>
                   <p>
                 <label for="<!-- tmpl_var email escape="HTML" -->">
                        <!-- tmpl_var email escape="HTML" -->
                 </label>
                   </p>
                  </td>
                  <!-- tmpl_if expr="(type eq 'list')" -->
                      <!-- tmpl_loop fields -->         
                         <td>
                          <p>
                           <!-- tmpl_var value default="&nbsp;" escape="HTML" -->
                          </p>
                         </td>
                     <!-- /tmpl_loop --> 

                     <td>
                         <!-- tmpl_var profile_password escape="HTML" -->
                     </td>
                 <!-- /tmpl_if -->

               </tr>

                <!-- tmpl_if __last__ --> 
               </table>
               <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
               <!-- /tmpl_if --> 
             <!-- /tmpl_loop -->
             <p>&nbsp;</p>
             <p>&nbsp;</p>
             </div>

             <!-- tmpl_if list_settings.allow_admin_to_subscribe_blacklisted --> 
                 <p>
                 <input type="checkbox" id="checkbox_black_listed_addresses" class="check_all_in_div" data-target="black_listed_addresses">
                     <label for="checkbox_black_listed_addresses">
                         check all
                     </label>
                 </p>
             <!-- /tmpl_if -->
             </fieldset> 
             </div> 
         <!--/tmpl_if-->    
 <!--/tmpl_if-->











 <!-- tmpl_if list_settings.enable_white_list --> 
 <!-- 
     <p> White list is enabled.</p> 
 --> 
     <!-- tmpl_if not_white_listed --> 
 <!-- 
     <p>There's un-white listed subscribers to show </p> 
 --> 
 <fieldset> 
  <legend>Not White Listed Addresses</legend>
     <div class="clearskiesbox">
         <p>These addresses are not included on your 
           <strong>
            white list.
           </strong>
           They will not be subscribed/added/invited unless they are manually checked:
          </p>
     </div>

 <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
  <table class="stripedtable">
   <tr>
    <td width="25">
     <p>&nbsp;</p>
    </td>
    <td>
    <p>
     <strong>
      Email
    </strong>
   </p>
  </td>
  <!-- tmpl_if expr="(type eq 'list')" -->
      <!-- tmpl_loop field_names --> 
          <td>
           <p>
            <strong>
                 <!-- tmpl_if label --> 
                     <!-- tmpl_var label escape="HTML" -->
                 <!-- tmpl_else --> 
                     <!-- tmpl_var name --> 
                <!-- /tmpl_if --> 
              
            </strong>
           </p>
          </td> 
      <!--/tmpl_loop --> 
      <td>
       <p>
        <strong>
         Profile Password
       </strong>
      </p>
      </td>
 <!-- /tmpl_if --> 

   </tr>

   <!-- tmpl_loop not_white_listed -->
     <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
      <td width="25">
       <input type="checkbox" name="address" value="<!-- tmpl_var csv_str escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" />
      </td>
      <td>
       <p>
 <label for="<!-- tmpl_var email escape="HTML" -->">
        <!-- tmpl_var email escape="HTML" -->
 </label>
       </p>
      </td>
      <!-- tmpl_if expr="(type eq 'list')" -->

          <!-- tmpl_loop fields --> 

             <td>
              <p>
               <!-- tmpl_var value escape="HTML" default="&nbsp;"  -->
              </p>
             </td>
         <!-- /tmpl_loop --> 

         <td>
             <!-- tmpl_var profile_password escape="HTML" -->
         </td>
     <!-- /tmpl_if --> 

   </tr>
   <!-- tmpl_if __last__ --> 

   </table>
   <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 

   <!-- /tmpl_if --> 
 <!-- /tmpl_loop -->


 <p>&nbsp;</p>
 <p>&nbsp;</p>
 </div>
 </fieldset> 
 <!-- tmpl_else --> 
     <!--
         <p>There's NO un-white listed subscribers to show </p> 
     --> 
 <!--/tmpl_if--> 

 <!-- tmpl_else --> 
     <!-- 
         <p> White list is NOT enabled.</p>
     --> 
 <!--/tmpl_if-->










 <!-- tmpl_if invalid_profile_fields -->
 <div id="invalid_profile_fields_addresses"> 
 
     <fieldset> 
      <legend>Missing Profile Fields</legend>
  
     <div class="clearskiesbox">
         <p>
          These addresses have missing profile fields that have been set as being required.
         </p>
         <!-- tmpl_if expr="(root_login == 1) || (list_settings.allow_profile_editing == 1)" -->                          
             <p>
                 If you would still like to subscribe them, <strong>check</strong> those addresses below: 
             </p>
        <!-- /tmpl_if --> 
        
     </div> 
 
     <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
      <table class="stripedtable">
       <tr>
        <td width="25">
         <p>&nbsp;</p>
        </td>
        <td>
        <p>
         <strong>
          Email
        </strong>
       </p>
      </td>
      <!-- tmpl_if expr="(type eq 'list')" -->
          <!-- tmpl_loop field_names --> 
              <td>
               <p>
                <strong>
                     <!-- tmpl_if label --> 
                         <!-- tmpl_var label escape="HTML" -->
                     <!-- tmpl_else --> 
                         <!-- tmpl_var name --> 
                    <!-- /tmpl_if --> 
                  
                </strong>
               </p>
              </td> 
          <!--/tmpl_loop --> 
  
          <td>
           <p>
            <strong>
             Profile Password
           </strong>
          </p>
          </td>
     <!-- /tmpl_if --> 

       </tr>

       <!-- tmpl_loop invalid_profile_fields -->
         <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
          <td width="25">
              
              <!-- tmpl_if expr="(root_login == 1) || (list_settings.allow_profile_editing == 1)" -->           
                <input type="checkbox" name="address" value="<!-- tmpl_var csv_str escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" />
              <!-- /tmpl_if --> 
                
          </td>
          <td>
           <p>
     <label for="<!-- tmpl_var email escape="HTML" -->">
            <!-- tmpl_var email escape="HTML" -->
     </label>
           </p>
          </td>
          <!-- tmpl_loop fields --> 
     
             <td <!-- tmpl_if invalid_profile_field -->style="background-color:#ffe1af;"<!-- /tmpl_if -->>
              <p>
               <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
              </p>
             </td>
         <!-- /tmpl_loop --> 
     
         <td>
             <!-- tmpl_var profile_password escape="HTML" -->
         </td>
     
       </tr>
       <!-- tmpl_if __last__ --> 

       </table>
       <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 

       <!-- /tmpl_if --> 

     <!-- /tmpl_loop -->
     <p>&nbsp;</p>
     <p>&nbsp;</p>
     </div>
     <!-- tmpl_if expr="(root_login == 1) || (list_settings.allow_profile_editing == 1)" --> 
         <p>
         <input type="checkbox" id="checkbox_for_invalid_profile_fields_addresses" class="check_all_in_div" data-target="invalid_profile_fields_addresses">
             <label for="checkbox_for_invalid_profile_fields_addresses">
                 check all
             </label>
         </p>
     <!-- /tmpl_if -->
     </fieldset> 
 </div> 
 <!-- /tmpl_if --> 













 <!-- tmpl_if invalid_email -->

 <fieldset> 
  <legend>Invalid Email Addresses</legend>

     <div class="clearskiesbox">
         <p>
          These addresses did not go through validation successfully. They will <strong>not</strong> be subscribed/added/invited. 
          </p>
     </div> 

     <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
  <table class="stripedtable">
   <tr>
    <td width="25">
     <p>&nbsp;</p>
    </td>
    <td>
    <p>
     <strong>
      Email
    </strong>
   </p>
  </td>

 <!-- tmpl_if expr="(type eq 'list')" -->
     <!-- tmpl_loop field_names --> 
          <td>
           <p>
            <strong>
                 <!-- tmpl_if label --> 
                     <!-- tmpl_var label escape="HTML" -->
                 <!-- tmpl_else --> 
                     <!-- tmpl_var name --> 
                <!-- /tmpl_if --> 
              
            </strong>
           </p>
          </td> 
      <!--/tmpl_loop --> 

      <td>
       <p>
        <strong>
         Profile Password
       </strong>
      </p>
      </td>
 <!-- /tmpl_if --> 

   </tr>


   <!-- tmpl_loop invalid_email -->
     <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
      <td width="25">
 &nbsp;     </td>
      <td>
       <p>
 <label for="<!-- tmpl_var email escape="HTML" -->">
        <!-- tmpl_var email escape="HTML" -->
 </label>
       </p>
      </td>

      <!-- tmpl_if expr="(type eq 'list')" -->
          <!-- tmpl_loop fields --> 

             <td>
              <p>
               <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
              </p>
             </td>
         <!-- /tmpl_loop --> 

         <td>
             <!-- tmpl_var profile_password escape="HTML" -->
         </td>
     <!-- /tmpl_if --> 

   </tr>
   <!-- tmpl_if __last__ --> 
   </table>
   <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
   <!-- /tmpl_if --> 

 <!-- /tmpl_loop -->
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 </div>
 </fieldset> 


 <!-- /tmpl_if -->










<!-- tmpl_if not_members --> 
    <!-- ... -->
<!-- tmpl_else --> 
    <div class="badweatherbox">
    <p> 
        No addresses have passed verification. 
    </p> 
</div>
<!-- /tmpl_if -->


     <div class="buttonfloat">
    <!-- tmpl_if chrome --> 
         <input type="button" class="cautionary previous" value="<< Re-Enter Addresses" />
    <!-- /tmpl_if --> 
    
    <!-- tmpl_if expr="(type eq 'list')" -->
    
        <!-- tmpl_if show_invitation_button --> 
            <input type="submit"  name="process" value="Send Invitation... &rArr;" <!-- tmpl_if list_settings.closed_list -->disabled="disabled" class="disabled"<!-- tmpl_else -->class="processing addingemail"<!-- /tmpl_if --> />
        <!-- /tmpl_if --> 
    <!-- /tmpl_if -->
    
    <!-- tmpl_if expr="(type eq 'list')" -->     
        <!-- tmpl_if show_update_button --> 
            <input type="submit" class="processing addingemail"name="process"  value="Update Checked Addresses &rArr;" />            
        <!-- tmpl_else --> 
            <!-- tmpl_if show_add_button --> 
                <input type="submit" <!-- tmpl_unless expr="((list_settings.enable_mass_subscribe == 1) && ((root_login == 1) || (list_settings.enable_mass_subscribe_only_w_root_login != 1)))" --> disabled="disabled" class="disabled"<!-- tmpl_else -->class="processing addingemail warnAboutMassSubscription"<!-- /tmpl_unless -->  name="process"  value="Subscribe/Update Checked Addresses &rArr;" />            
            <!-- /tmpl_if -->         
        <!-- /tmpl_if --> 
        
    <!-- tmpl_else --> 
        <input type="submit" class="processing addingemail" name="process"  value="Add Checked Addresses to <!-- tmpl_var type_title --> &rArr;" />
    <!-- /tmpl_if -->
     </div>
     <div class="floatclear"></div>
    
 </form>
 
<!-- end add_email_screen.tmpl -->
