<!-- begin add_email_screen.tmpl -->

<!-- tmpl_set name="title" value="Membership &#187; Verify Invitations/Additions" -->

<!-- tmpl_if chrome --> 

	<div id="screentitle"> 
		<div id="screentitlepadding">

	Membership (<!-- tmpl_var type_title -->) 
	&#187; 
	<!-- tmpl_if expr="(type eq 'list')" --> 
		Invite
		<!-- tmpl_if list_settings.enable_mass_subscribe -->
			/ Subscribe
		<!-- /tmpl_if -->
	<!-- tmpl_else --> 
		Add
	<!-- /tmpl_if -->
	&#187; 
	 <strong>Verify</strong>
	&#187;
	<!-- tmpl_if expr="(type eq 'list')" --> 
		Send Invitation
		<!-- tmpl_if list_settings.enable_mass_subscribe -->
			/ Subscribe
		<!-- /tmpl_if -->
	<!-- tmpl_else --> 
		Add
	<!-- /tmpl_if -->

	</div>

<!-- /tmpl_if --> 

</div> 
<div id="add_email"></div>
<div id="screen_meta" data-menu_highlight="add"></div>


<!-- tmpl_if expr="(type eq 'list')" --> 
	<!-- tmpl_if ENFORCE_CLOSED_LOOP_OPT_IN -->
		<!-- ... -->
	<!-- tmpl_else --> 
		<!-- tmpl_if list_settings.send_subscribed_by_list_owner_message --> 
			<div class="clearskiesbox">
				<ul> 
					<li>
					 <p>
						Addresses <strong>Subscribed</strong> will be sent a, &quot;Welcome&quot; message. 
					</p> 
					</li>
				</ul> 
			</div>
			<!-- /tmpl_if --> 
			<!-- tmpl_if list_settings.send_last_archived_msg_mass_mailing --> 
			<div class="clearskiesbox">
			<ul> 
				<li>
				 <p>
						Addresses <strong>Subscribed</strong> will be sent the latest archived message.				
				</p> 
			</li>
			</ul>	
			</div>
			<!-- /tmpl_if --> 	
		
	<!-- /tmpl_if --> 
<!-- /tmpl_if -->





<!-- tmpl_if expr="(type eq 'list')" --> 
	<!-- tmpl_if going_over_quota -->
		 <div class="badweatherbox">
			<p>
			 Warning! You cannot subscribe all the addresses that you have submitted,
			 since you will go over your subscription limit. Please re-submit a smaller number of addresses to subscribe.
			</p>
		</div>
	<!--/tmpl_if-->
<!-- /tmpl_if --> 


<!-- tmpl_if expr="(type eq 'list')" --> 
	<!-- tmpl_if list_settings.closed_list -->
		<!-- tmpl_unless list_settings.enable_mass_subscribe -->
		 <div class="clearskiesbox">
		 <p><strong>Warning!</strong></p> 
		 <p>
		 	You currently have a <strong>Closed List</strong> and subscribing members via the list 
			control panel is <strong>Disabled</strong>. Subscribers will not be able to 
			confirm any list invitations that you send. 
			</p> 
		</div> 
		<!-- /tmpl_unless --> 
	<!-- /tmpl_if -->
<!-- /tmpl_if -->



<form name="confirm_add" id="confirm_add" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
 <input type="hidden" name="f"              value="add_email" />
 <input type="hidden" name="type"           value="<!-- tmpl_var type -->" />
 <input type="hidden" name="return_to"      value="<!-- tmpl_var return_to -->" />
 <input type="hidden" name="return_address" value="<!-- tmpl_var return_address -->" />
 

<!-- tmpl_if filtered_addresses -->

<fieldset> 
 <legend>
  Good Addresses!
 </legend>
 
 <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">

 <table class="stripedtable">
  <tr>
   <td width="25">
    <p>&nbsp;</p>
   </td>
   <td>
   <p>
    <strong>
     Email
   </strong>
  </p>
 </td>

<!-- tmpl_loop name="field_names" --> 
    
    <td>
     <p>
      <strong>
       <!-- tmpl_var name --> 
      </strong>
     </p>
    </td> 
<!--/tmpl_loop --> 

  </tr>
 

    <!-- tmpl_loop filtered_addresses -->
    
        <!-- tmpl_if status --> 
        
      	<tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>     
      		<td width="25">
            <input type="checkbox" name="address" value="<!-- tmpl_var csv_info escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" checked="checked" />
           </td>
           <td>
            <p>
                <label for="<!-- tmpl_var email  escape="HTML" -->">
                    <!-- tmpl_var email  escape="HTML" -->
                </label>
            </p>
           </td>
            <!-- tmpl_loop name="fields" --> 
               <td>
                <p>
                 <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
                </p>
               </td>
           <!-- /tmpl_loop --> 
        </tr>
         <!-- /tmpl_if -->
    <!-- /tmpl_loop -->
    </table>
    <p style="text-align:right"><strong>Total:</strong>Something Something</p> 
  
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  </div>
 
 
 
 
 
  <fieldset> 
   <legend>
    Baaaad Addresses!
   </legend>

   <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">

   <table class="stripedtable">
    <tr>
     <td width="25">
      <p>&nbsp;</p>
     </td>
     <td>
     <p>
      <strong>
       Email
     </strong>
    </p>
   </td>

  <!-- tmpl_loop name="field_names" --> 

      <td>
       <p>
        <strong>
         <!-- tmpl_var name --> 
        </strong>
       </p>
      </td> 
  <!--/tmpl_loop --> 

    </tr>


      <!-- tmpl_loop filtered_addresses -->
      
          <!-- tmpl_unless status --> 

        	<tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>     
        		<td width="25">
              <input type="checkbox" name="address" value="<!-- tmpl_var csv_info escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" checked="checked" />
             </td>
             <td <!-- tmpl_if error_invalid_email --> style="background-color:#ff0000" <!-- /tmpl_if -->>
              <p>
                  <label for="<!-- tmpl_var email  escape="HTML" -->">
                      <!-- tmpl_var email  escape="HTML" -->
                  </label>
              </p>
             </td>
             <!-- tmpl_loop name="fields" --> 
                <td>
                 <p>
                  <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
                 </p>
                </td>
            <!-- /tmpl_loop --> 
          </tr>
      <!-- /tmpl_unless -->
    <!-- /tmpl_loop -->
</table>
<p style="text-align:right"><strong>Total:</strong>Something, Something</p> 
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </div>
 
 
 
  <!-- /tmpl_if -->

	 <div class="buttonfloat">

	<!-- tmpl_if chrome --> 
	 	<input type="button" class="cautionary previous" value="<< Re-Enter Addresses" />
	<!-- /tmpl_if --> 
	
	<!-- tmpl_if expr="(type eq 'list')" --> 
	  <input type="submit"  name="process" value="Send Invitation... &rArr;" <!-- tmpl_if list_settings.closed_list -->disabled="disabled" class="disabled"<!-- tmpl_else -->class="processing addingemail"<!-- /tmpl_if --> />
	<!-- /tmpl_if -->

	<!-- tmpl_if expr="(type eq 'list')" --> 
		<!-- tmpl_if ENFORCE_CLOSED_LOOP_OPT_IN --> 
			<!-- ... --> 
		<!-- tmpl_else --> 
			<input type="submit" <!-- tmpl_unless list_settings.enable_mass_subscribe -->disabled="disabled" class="disabled"<!-- tmpl_else -->class="processing addingemail warnAboutMassSubscription"<!-- /tmpl_unless -->  name="process"  value="Subscribe Checked Addresses &rArr;" />	
		<!-- /tmpl_if --> 
	<!-- tmpl_else --> 
		<input type="submit" class="processing addingemail" name="process"  value="Add Checked Addresses to <!-- tmpl_var type_title --> &rArr;" />
	<!-- /tmpl_if -->
	 </div>
	 <div class="floatclear"></div>


 </form>
 
<!-- end add_email_screen.tmpl -->
