<!-- begin admin_screen.tmpl -->

<!-- tmpl_set name="title" value="Administration" --> 
<!-- tmpl_set name="show_profile_widget" value="0" --> 


<!-- tmpl_if invalid_login -->
	<div class="alert-box error radius">
		Login is invalid/session expired, please login in, below:
	</div>
<!-- /tmpl_if -->

<div class="row">
	<div class="small-10 medium-5 large-4 small-centered medium-centered large-centered columns">

		<ul class="tabs" data-tab>
			<li class="tab-title active">
				<a href="#logintab" target="_self">
					Login
				</a>
			</li>
            <li class="tab-title">
				<a href="#createtab" target="_self">
					Create
				</a>
			</li>
        </ul>
		
		<div class="tabs-content">
			<div  class="content tab-title active"id="logintab">
				<!-- tmpl_include control_panel_login_form.tmpl -->
			</div>
						
			<div  class="content tab-title" id="createtab">
				<!-- tmpl_include create_new_mailing_list_form.tmpl -->
			</div>
		</div>
	</div> 
</div> 

<!-- tmpl_if expr="list_max_reached == 1" -->
	<!-- tmpl_include upgrade_to_pro_dada.tmpl -->
<!-- /tmpl_if -->


<!-- end admin_screen.tmpl -->
