<!DOCTYPE html>
<html>
 <head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Pragma"  content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="Content-Type" content="text/html; charset=<!-- tmpl_var HTML_CHARSET -->">

  <title><!-- tmpl_var title --> - <!-- tmpl_var list_settings.list_name --> - <!-- tmpl_var PROGRAM_NAME --></title>
 
  <link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/dada_mail.css" type="text/css" media="screen" />


<!-- tmpl_if load_google_viz --> 
	<!-- Google Visualization -->
	<script type="text/javascript" src="//www.google.com/jsapi"></script>
<!-- /tmpl_if --> 

<!-- jQuery -->
<!-- tmpl_if comment --><script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script><!-- /tmpl_if --> 
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery-1.8.2.min.js"></script>

<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.plainoverlay.min.js"></script>

<!-- tmpl_if comment --><script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script><!-- /tmpl_if -->
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery-ui-1.9.1.custom.min.js"></script>

<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.tablesorter.js"></script>
<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/jquery-ui-1.9.1.custom.min.css">

<!-- tmpl_if load_google_viz --> 
	<!-- Google Visualization -->
	<script type="text/javascript">
		google.load('visualization', '1.1', {'packages':['corechart', 'geochart']});	
	</script>
<!-- /tmpl_if -->

<!-- tmpl_if load_jquery_validate --> 
	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.validate.js"></script>
<!-- /tmpl_if --> 

<!-- tmpl_if load_datetimepicker --> 
    <link rel="stylesheet" type="text/css" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/jquery.datetimepicker.css"/ >
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.datetimepicker.js"></script>
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/unserialize.jquery.1.0.2.js"></script>
    
<!-- /tmpl_if -->


<!-- tmpl_if load_linedtextarea --> 
    <link rel="stylesheet" type="text/css" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/jquery-linedtextarea.css"/ >
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery-linedtextarea.js"></script>    
<!-- /tmpl_if -->



<!-- Dada Mail's Admin Javascript -->
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/dada_mail.js"         type="text/javascript"></script>

<!-- tmpl_if load_wysiwyg_editor --> 
	<!-- WYSIWYG Editors --> 
	<!-- tmpl_if using_ckeditor --> 
		<script src="<!-- tmpl_var CKEDITOR_URL -->/ckeditor.js"         type="text/javascript" ></script>
		<script src="<!-- tmpl_var CKEDITOR_URL -->/adapters/jquery.js"  type="text/javascript"></script>
	<!-- /tmpl_if --> 
	<!-- tmpl_if using_tiny_mce --> 
		<script src="<!-- tmpl_var TINY_MCE_URL -->/tinymce.min.js"         type="text/javascript"></script>
		<script src="<!-- tmpl_var TINY_MCE_URL -->/dada_mail_config.js" type="text/javascript"></script>
	<!-- /tmpl_if -->
<!-- /tmpl_if --> 

	<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/colorbox/colorbox.css">
	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/colorbox/jquery.colorbox-min.js"></script>

	<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/select2.css">
	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/select2.js"></script>

</head>
 
 <body id="DadaAdmin">
   <div id="Header">
	<a href="<!-- tmpl_var PROGRAM_URL -->">
		<img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/dada_mail_logo.png" alt="<!-- tmpl_var PROGRAM_NAME -->" />
    </a>
	<span id="Title">
		Logged in as
		<!-- tmpl_if root_login --> 
		 <strong><!-- tmpl_var PROGRAM_NAME --> Root</strong>
		<!-- tmpl_else --> 
			List Owner
		<!-- /tmpl_if -->
		of 
		<a href="<!-- tmpl_var PROGRAM_URL -->/list/<!-- tmpl_var list_settings.list -->/" target="_blank"><!-- tmpl_var list_settings.list_name --> (<!-- tmpl_var list_settings.list -->)</a>   
	 	
		<!-- tmpl_if login_switch_widget --> 
			<!-- tmpl_if root_login --> 
			| 
				<!-- tmpl_var login_switch_widget -->
			<!-- /tmpl_if -->
		<!-- /tmpl_if -->
		| <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=logout">Log Out</a>
		
    </span>
    <div class="floatclear"></div>
  </div><!-- ends id="Header" -->
 


 <div id="AdminContentWrapper">
   <div id="AdminContent">
		<!-- tmpl_var content -->
   </div><!-- ends id="AdminContent" -->
  </div><!-- ends id="AdminContentWrapper" -->
   

 <div id="Menu">     
  <!-- tmpl_var admin_menu -->
 </div><!-- ends id="Menu" -->



 
	<div id="Footer">
		<div id="FooterPadding">
			<p><!-- tmpl_var footer_props --></p>
		</div>
	</div> 


 </body>
</html>