<!-- begin admin_menu_widget.tmpl -->

<div id="navcontainer" data-s_program_url="<!-- tmpl_var S_PROGRAM_URL -->">    
	
    
	<!-- tmpl_if for_mobile -->
    <ul class="off-canvas-list">
		<li class="text-center">
     		<a href="<!-- tmpl_var PROGRAM_URL -->/list/<!-- tmpl_var list_settings.list -->/" target="_blank">
				<!-- tmpl_var list_settings.list_name -->
			</a>
		</li>
	
		<!-- tmpl_var login_switch_popup_menu_widget -->

	</ul>


	<!-- /tmpl_if -->
	
    <!-- tmpl_if for_mobile --> 
       <ul class="off-canvas-list">
    <!-- tmpl_else --> 
        <ul class="side-nav">
    <!-- /tmpl_if --> 
    
		<!-- tmpl_loop NAV -->
			<!-- tmpl_if Activated -->
		    	<!-- tmpl_if for_mobile --> 
					<li>
						<label>
				<!-- tmpl_else -->
                    <li class="heading">
 				<!-- /tmpl_if -->
         
		    <!-- tmpl_var Title -->
	    	
			<!-- tmpl_if for_mobile --> 
					</label>
				</li>
			<!-- tmpl_else -->
                 </li>
			<!-- /tmpl_if -->

            <!-- tmpl_loop SUBNAV -->
                <!-- tmpl_unless Activated --> 
                    <!-- tmpl_if hide_nav --> 
                        <li class="admin_menu_<!-- tmpl_var Function escape="HTML" --> menu_hidden">
                    <!-- tmpl_else --> 
                        <li class="admin_menu_<!-- tmpl_var Function escape="HTML" -->">
                    <!--/tmpl_if --> 
                <!-- tmpl_else --> 
                    <li class="admin_menu_<!-- tmpl_var Function escape="HTML" -->">
                <!-- /tmpl_unless -->
                    <!-- tmpl_if Title_URL -->
                        <!-- tmpl_if Activated -->
                            <a href="<!-- tmpl_var name="Title_URL" -->">
                                <!-- tmpl_var Title -->
                            </a>
                        <!--tmpl_else--> 
                            <a href="<!-- tmpl_var name="Title_URL" -->" class="menu_disabled">
                                <!-- tmpl_var Title -->
                            </a>
                    <!--/tmpl_if-->
                <!--tmpl_else-->
                    <!-- tmpl_var Title -->
                <!--/tmpl_if-->
                </li>
            <!--/tmpl_loop-->
			
			<!-- /tmpl_if -->
        <!--/tmpl_loop-->
    </ul>
</div> 

<!-- end admin_menu_widget.tmpl -->
