<!-- begin admin_screen.tmpl -->


<!-- tmpl_set name="title" value="Administration" --> 
<!-- tmpl_set name="show_profile_widget" value="0" --> 

<p>&nbsp;</p>

<!-- tmpl_if logged_out -->
		<div class="row">
			<div class="small-10 medium-5 large-4 small-centered medium-centered large-centered columns">	 
				<div data-alert class="alert-box success radius">
					You have logged out.
				</div>
			</div>
		</div>
<!-- /tmpl_if --> 

	
<!-- tmpl_if errors -->

		<div class="row">
			<div class="small-10 medium-5 large-4 small-centered medium-centered large-centered columns">	 
				<!-- tmpl_loop errors -->
					<!-- tmpl_if expr="(error eq 'mismatching_ip_address')" -->
						<div class="alert-box alert radius">
						   Your IP Address has changed
						</div>
					<!-- /tmpl_if -->
						
					<!-- tmpl_if expr="(error eq 'need_to_login')" -->
						<div class="alert-box alert radius">
							Please log in: 
						</div>
					<!-- /tmpl_if -->
					
					<!-- tmpl_if expr="(error eq 'invalid_root_password')" -->
						<div class="alert-box alert radius">
							Invalid <!-- tmpl_var PROGRAM_NAME --> Root Password
						</div>
					<!-- /tmpl_if --> 
					
					<!-- tmpl_if expr="(error eq 'invalid_password')" -->
						<div class="alert-box alert radius">
							Invalid Password. Please try logging in again, 
							or reset the List Password below:
						</div>
						<form 
							action="<!-- tmpl_var S_PROGRAM_URL -->" 
							method="post" 
							accept-charset="<!-- tmpl_var HTML_CHARSET -->"
						> 
						<input 
							type="hidden" 
							name="flavor" 
							value="email_password"
						>
						<input 
							type="hidden" 
							name="list" 
							value="<!-- tmpl_var selected_list -->"
						>
				
						<div clas="row">
							<div class="small-12 columns">							 	
							    <!-- tmpl_if invalid_captcha --> 
						            <div class="alert-box info radius"> 
						    			CAPTCHA failed, please try again:
						    		</div> 
						        <!-- /tmpl_if -->
							</div>
						</div> 
				
						<!-- tmpl_if can_use_Google_reCAPTCHA_v2 --> 
							<div class="form-group">
								<div 
									class="g-recaptcha" 
									id="send_archive_form_gr"
								></div>
							</div>
						<!-- /tmpl_if --> 
				
						<!-- tmpl_if can_use_Google_reCAPTCHA_v3 -->			
							<input 
								type="text"
								id="g-recaptcha-response_reset_pass"
								class="g-recaptcha-response"
								name="g-recaptcha-response"
							>
						<!-- /tmpl_if -->
						
							<div clas="row">
								<div class="small-12 columns">
									<input 
										type="submit" 
										class="warning button expand"
										value="Reset List Password"
									>
								</div>
							</div> 			
						</form>	
					<!-- /tmpl_if -->
					
					<!-- tmpl_if expr="(error eq 'invalid_login')" -->
						<div class="alert-box alert radius">
							Login is invalid/session expired, please login in, below:
						</div>
					<!-- /tmpl_if -->
			<!-- /tmpl_loop -->
		</div>
	</div>
<!-- /tmpl_if -->



<div class="row">
	<div class="small-10 medium-5 large-4 small-centered medium-centered large-centered columns">

		<ul class="tabs" data-tab>
			<li 
				<!-- tmpl_unless expr="(error_with eq 'new_list')" -->
					class="tab-title active"
				<!-- tmpl_else -->
					class="tab-title"
				<!-- /tmpl_unless -->
			>
				<a href="#logintab" target="_self">
					Login
				</a>
			</li>
            <li
				<!-- tmpl_if expr="(error_with eq 'new_list')" -->
					class="tab-title active"
				<!-- tmpl_else -->
					class="tab-title"
				<!-- /tmpl_if -->			
			>
				<a href="#createtab" target="_self">
					Create
				</a>
			</li>
        </ul>
		
		<div class="tabs-content">
			<div  
				<!-- tmpl_unless expr="(error_with eq 'new_list')" -->
					class="content tab-title active"
				<!-- tmpl_else -->
					class="content tab-title"
				<!-- /tmpl_unless -->
			 	id="logintab"
			>
				<!-- tmpl_include control_panel_login_form.tmpl -->
			</div>
						
			<div
				<!-- tmpl_if expr="(error_with eq 'new_list')" -->
					class="content tab-title active"
				<!-- tmpl_else -->
					class="content tab-title"
				<!-- /tmpl_if -->
			 	id="createtab"
			 >
				<!-- tmpl_include create_new_mailing_list_form.tmpl -->
			</div>
		</div>
	</div> 
</div> 

<!-- tmpl_if comment -->
	<!-- tmpl_if expr="list_max_reached == 1" -->
		<!-- tmpl_include upgrade_to_pro_dada.tmpl -->
	<!-- /tmpl_if -->
<!-- /tmpl_if -->



<!-- end admin_screen.tmpl -->
