<!-- begin adv_archive_options_screen.tmpl -->

<!-- tmpl_set name="title" value="Message Archives &#187; Advanced Options" -->

<div id="screen_meta" data-menu_highlight="adv_archive_options"></div>



<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div> 
	<!-- tmpl_include help_link_widget.tmpl -->
</div>



<!-- tmpl_if done -->  
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form" accept-charset="<!-- tmpl_var HTML_CHARSET -->">



<fieldset>

<legend>
 Message Formatting
</legend>

<table>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="stop_message_at_sig" id="stop_message_at_sig" value="1" <!-- tmpl_if list_settings.stop_message_at_sig -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <p>
    <label for="stop_message_at_sig">
     Show Archived Messages without the Mailing List Template Applied
    </label>
    <br />
    Plain text messages will be displayed after a double underscore plus 
    a space (&quot;__ &quot;) is reached on a line by itself, and until 
    a double dash plus a space (&quot;-- &quot;) is reached on a line by 
    itself.
   </p>
   <p>
    Similarly, HTML messages will be displayed <strong>unless</strong> 
    the content of the messages falls between the opening comment 
    tags: 
   </p>
   <p>
    <ul>
     <li><em>&lt;!--opening--&gt;</em></li>
     <li><em>&lt;!--/opening--&gt;</em></li>
    </ul>
   </p>
   <p>
    or the signature comment tags:
   </p>
   <p>
    <ul>
     <li><em>&lt;!--signature--&gt;</em></li>
     <li><em>&lt;!--/signature--&gt;</em></li>
    </ul>
   </p>
  </td>
 </tr>
</table>

<table>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="style_quoted_archive_text" id="style_quoted_archive_text" value="1" <!-- tmpl_if list_settings.style_quoted_archive_text -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <p>
    <label for="style_quoted_archive_text">
     Style Quoted Message Text
    </label>
    <br />
    Lines that start with a &quot;&gt;&quot; will be styled like this:</p>
    <blockquote>
     <p>
      <span class="quoted_reply">
       &gt; This is quoted text!
      </span>
     </p>
    </blockquote>
  </td>
 </tr>
</table>

<table <!-- tmpl_unless can_use_html_scrubber -->class="disabled"<!--/tmpl_unless-->>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="disable_archive_js" id="disable_archive_js" value="1" <!-- tmpl_if list_settings.disable_archive_js -->checked="checked"<!--/tmpl_if-->  />
   </p>
  </td>
  <td>
   <p>
    <label for="disable_archive_js">
     Disable Embedded JavaScript in Archived Messages
    </label>
    <br />
    
<!-- tmpl_if can_use_html_scrubber --> 
	    
	    <strong>
	     Strongly recommended
	    </strong>
	    for security reasons.
	    
<!--tmpl_else--> 
	    
	    <span class="error">
	     Disabled. The HTML::Scrubber module needs to be installed.
	    </span>
	    
<!--/tmpl_if-->
    
   </p>
  </td>
 </tr>
</table>

<table <!-- tmpl_unless can_display_attachments -->class="disabled"<!--/tmpl_unless-->>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="display_attachments" id="display_attachments" value="1" <!-- tmpl_if list_settings.display_attachments -->checked="checked"<!--/tmpl_if-->  />
   </p>
  </td>
  <td>
   <p>
    <label for="display_attachments">
     Display Message Attachments
    </label>
    <br />
    Messages with attachments will show these attachments available for download.
   </p>
   
<!-- tmpl_unless can_display_attachments -->
	   
	   <p class="error">
	    Disabled. The current Archive backend does not support attachments. 
	   </p>
	   
<!--/tmpl_unless-->
   
  </td>
 </tr>
</table>

<table>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="html_archives_in_iframe" id="html_archives_in_iframe" value="1" <!-- tmpl_if list_settings.html_archives_in_iframe -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <p>
    <label for="html_archives_in_iframe">
     Show HTML Messages in an iFrame
    </label>
    <br />
    Some HTML messages may display better inside an iFrame than inline.
   </p>
  </td>
 </tr>
</table>

</fieldset>


<fieldset>
<legend>
Email Address Protection
</legend>

<table>
 
 <tr>
  <td>
   <p>
    <input type="radio" name="archive_protect_email" id="archive_protect_email_none" value="none" <!-- tmpl_if archive_protect_email_none -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <label for="archive_protect_email_none">
    No protection.
   </label>
  </td>
 </tr>
 
 <tr>
  <td>
   <p>
    <input type="radio" name="archive_protect_email" id="archive_protect_email_spam_me_not" value="spam_me_not" <!-- tmpl_if archive_protect_email_spam_me_not -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <label for="archive_protect_email_spam_me_not">
    Spam-Me-Not
   </label>
   <a href="http://paula.edmiston.org/nb/spamx/help.html" target="_blank">
    (More Info)
   </a>
  </td>
 </tr>

 <tr>
  <td>
   <p>
    <input type="radio" name="archive_protect_email" id="archive_protect_email_recaptcha_mailhide" value="recaptcha_mailhide" <!-- tmpl_if archive_protect_email_recaptcha_mailhide -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <label for="archive_protect_email_recaptcha_mailhide"  <!-- tmpl_unless can_use_recaptcha_mailhide -->class="disabled"<!-- /tmpl_unless -->>
    reCAPTCHA MailHide
   </label>
   <a href="http://www.google.com/recaptcha/mailhide/" target="_blank">
    (More Info)
   </a> 

 <!-- tmpl_unless can_use_recaptcha_mailhide -->
    
	<div class="badweatherbox">
    <p>
      <strong>reCAPTCHA MailHide Disabled.</strong> reCAPTCHA MailHide needs to be successfully configured. 

    </p>
</div> 

    <!--/tmpl_unless-->

  </td>
 </tr>
 
</table>




</fieldset>


<fieldset>
<legend>
 Archive Organization
</legend>

 
<p>
 <label>
  Sort Your Archives In:
 </label>
 <br />
 <input type="radio" name="sort_archives_in_reverse" id="sort_archives_in_reverse_1" value="1" <!--tmpl_if list_settings.sort_archives_in_reverse -->checked="checked"<!--/tmpl_if--> />
 <label for="sort_archives_in_reverse_1">
  Reverse Chronological Order
 </label>
 <br />
 <input type="radio" name="sort_archives_in_reverse" id="sort_archives_in_reverse_0" value="0" <!--tmpl_unless list_settings.sort_archives_in_reverse -->checked="checked"<!--/tmpl_unless--> />
 <label for="sort_archives_in_reverse_0">
  Chronological Order
 </label>
</p>

<p>
 <label>
  Show Archive Dates with the:
 </label>
 <br />
 <input type="checkbox" name="archive_show_month" id="archive_show_month" value="1"  <!-- tmpl_if list_settings.archive_show_month -->checked="checked"<!--/tmpl_if--> />
 <label for="archive_show_month">
  Month (April)
 </label>
 <br />
 <input type="checkbox" name="archive_show_day" id="archive_show_day" value="1" <!-- tmpl_if list_settings.archive_show_day -->checked="checked"<!--/tmpl_if--> />
 <label for="archive_show_day">
  Day (19th)
 </label>
 <br />
 <input type="checkbox" name="archive_show_year" id="archive_show_year" value="1" <!-- tmpl_if list_settings.archive_show_year -->checked="checked"<!--/tmpl_if--> />
 <label for="archive_show_year">
  Year (2012)
 </label>
 <br />
 <input type="checkbox" name="archive_show_hour_and_minute" id="archive_show_hour_and_minute" value="1" <!-- tmpl_if list_settings.archive_show_hour_and_minute -->checked="checked"<!--/tmpl_if--> />
 <label for="archive_show_hour_and_minute">
  Hour and Minute (9:30)
 </label>
 <br />
 <input type="checkbox" name="archive_show_second" id="archive_show_second" value="1" <!-- tmpl_if list_settings.archive_show_second -->checked="checked"<!--/tmpl_if--> />
 <label for="archive_show_second">
  Second (:59)
 </label>
</p>

<p>
 <label for="archive_index_count">
  Show 
 </label>
 <!-- tmpl_var archive_index_count_menu --> 
 <label>
  link(s) at a time 
 </label>
 in the archive message index.
</p>


</fieldset>



<fieldset>
<legend>
  Syndication/Sharing
</legend>



<table>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="publish_archives_rss" id="publish_archives_rss" value="1" <!-- tmpl_if list_settings.publish_archives_rss -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <p>
    <label for="publish_archives_rss">
     Publish Your Archives Index in RSS/Atom
    </label>
    <br />
    <ul> 
     
   <li>
    <a href="<!-- tmpl_var PROGRAM_URL -->/archive_rss/<!-- tmpl_var list -->/" target="_blank">
     RSS Feed</a>
   </li>
   <li>
   
    <a href="<!-- tmpl_var PROGRAM_URL -->/archive_atom/<!-- tmpl_var list -->/" target="_blank">
     Atom Feed</a>
   
   </li> 
   
   </ul> 
   </p>
   
   <table>
    <tr>
     <td>
      <p>
       <input type="checkbox" name="ping_archives_rss" id="ping_archives_rss" value="1" <!-- tmpl_if list_settings.ping_archives_rss -->checked="checked"<!--/tmpl_if--> />
      </p>
     </td>
     <td>
      <p>
       <label for="ping_archives_rss" <!-- tmpl_unless can_use_xml_rpc -->class="disabled"<!--/tmpl_unless-->>
        Ping/Notify Site Update Services
       </label>
      </p>
      
<!-- tmpl_if can_use_xml_rpc -->
	      
	      <p>
	       Currently, the following sites will be notified:
	      </p>
	      <p>
	       <ul>
	        
	<!-- tmpl_loop ping_sites -->
		        
		        <li>
		         <em>
		          <!-- tmpl_var ping_url -->
		         </em>
		        </li>
		        
	<!--/tmpl_loop-->
	        
	       </ul>
	      </p>
	      
<!-- tmpl_else --> 
	      <div class="badweatherbox">
	      <p>
	       <strong>
	        Disabled. 
	       </strong>The XMLRPC::Lite module needs to be installed.
	      </p>
		</div> 
	      
<!--/tmpl_if-->
      
     </td>
    </tr>
    
    
    
   
   </table>
  </td>
 </tr>
 
  <tr>
     <td>
      <p>
       <input type="checkbox" name="add_subscribe_form_to_feeds" id="add_subscribe_form_to_feeds" value="1" <!-- tmpl_if list_settings.add_subscribe_form_to_feeds -->checked="checked"<!--/tmpl_if--> />
      </p>
     </td>
     <td>
      <p>
       <label for="add_subscribe_form_to_feeds">
        Add a list subscription form to your RSS/Atom Feeds
       </label>
      </p>
     </td>
    </tr>
    
    
     <tr>
     <td>
      <p>
       <input type="checkbox" name="add_social_bookmarking_badges" id="add_social_bookmarking_badges" value="1" <!-- tmpl_if list_settings.add_social_bookmarking_badges -->checked="checked"<!--/tmpl_if--> />
      </p>
     </td>
     <td>
      <p>
       <label for="add_social_bookmarking_badges">
        Add social bookmark buttons to your archived messages. <em>(Experimental)</em>
       </label> 
       <br /> 
       
       This will allow people to easily share archived message URLs.
       
       <br /> 
	<!-- this has to be updated... --> 
       <ul class="archive_badges_ul">
        <li class="archive_badges_li">
        <img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/badge_delicious.png" style="border:0px;padding:5px" title="Add to: del.icio.us" />
        </li>
        
        <li class="archive_badges_li">
        <img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/badge_digg.png" style="border:0px;padding:5px" title="Add to: digg" />
        </li>
        
        <li class="archive_badges_li">
        <img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/badge_newsvine.png" style="border:0px;padding:5px" title="Add to: newsvine" />
        </li>
        
        <li class="archive_badges_li">
        <img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/badge_reddit.png" style="border:0px;padding:5px" title="Add to: reddit" />
        </li>
        
        <li class="archive_badges_li">
        <img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/badge_yahoo.png" style="border:0px;padding:5px" title="Add to: Y!" />
        </li>
        
        <li class="archive_badges_li">
        <img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/badge_magnolia.png" style="border:0px;padding:5px" title="Add to: magnolia" />
        </li>
       </ul> 
       
      </p>
     </td>
    </tr>
    
    
    
</table>


</fieldset>

<fieldset>
<legend>
Gravatars
</legend>

<!-- tmpl_unless can_use_gravatar_url --> 
	<div class="badweatherbox">
	<p>
	  <strong>Disabled.</strong> You will need to install the <a href="http://search.cpan.org/~mschwern/Gravatar-URL/" target="_blank" >Gravatar::URL CPAN module</a>
	</p>
</div> 

<!-- /tmpl_unless -->

<table>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="enable_gravatars" id="enable_gravatars" value="1" <!-- tmpl_if list_settings.enable_gravatars -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <p>
    <label for="enable_gravatars" <!-- tmpl_unless can_use_gravatar_url -->class="disabled"<!-- /tmpl_unless -->>
     Enable Gravatar Icons
    </label>
    </p>

<!-- tmpl_if can_use_gravatar_url --> 

<div style="height:90px">
	
<p>

<img src="<!-- tmpl_var gravatar_img_url -->" width="80" height="80" style="float:left;padding:5px;" />
</p>

 <p>
  A Gravatar Icon (
   <a href="http://gravatar.com/" target="_blank">http://gravatar.com/</a>
     ) will be placed next to archived messages when authored by the email address associated with your gravatar account. 
  </p>

</div>

<p>
 <label for="default_gravatar_url">
  Default Gravatar URL:
 </label>
 <br /> 
 <input type="text" name="default_gravatar_url" id="default_gravatar_url" value="<!-- tmpl_var list_settings.default_gravatar_url -->" class="full" /> 
 <br /> 
 This image is used, if no Gravatar is found for the email address.

</p>

<!-- /tmpl_if -->  

  </td>
 </tr>
</table> 



</fieldset> 





<input type="hidden" name="process" value="1" />
<input type="hidden" name="f"       value="adv_archive_options" />
<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear Changes" />
 <input type="submit" class="processing" value="Change Archive Options" />
</div>
<div class="floatclear"></div>

</form> 

 

<!-- end adv_archive_options_screen.tmpl -->
