<div id="advanced_list_search">
    <p>&nbsp;</p>
    <div style="max-height: 900px; overflow: auto;">
        <form id="advanced_list_search_form" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
            <fieldset> 
                <legend>Advanced Search</legend>
                <!-- <a href="#" class="close_advanced_search_list">[x]</a> --> 
            <table align="center">
                <tr>
                    <td>
                        <!-- tmpl_include field_comparisons_widget.tmpl -->
                        <div class="buttonfloat"> 
                        <input type="button" class="advanced_search_list processing" value="Search"> 
                       <!--  <input type="reset"  value="Clear"  class="clear_advanced_search_list"> -->
                        <input type="reset"  value="Cancel" class="close_advanced_search_list cautionary">

                        </div>  
                        <div class="floatclear"></div> 
                    </td>
                    </tr>
                </table> 
        </fieldset>
        </form> 
    </div> 
</div> 

