<div id="advanced_list_search">
	<form id="advanced_list_search_form" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
		<fieldset> 
			<legend>
				Advanced Search
			</legend>
			
			<!-- tmpl_include field_comparisons_widget.tmpl -->
			
			<ul class="button-group right">
			    <li>
					<input type="button" class="button advanced_search_list processing" value="Search"> 
				</li>
				<li>
					<input type="reset"  value="Cancel" class="button close_advanced_search_list cautionary">
				</li>
			</ul>
		</fieldset>
	</form> 
</div> 

