<!-- class="inline-list" -->
<ul style="list-style-type: none;">
	 <!-- tmpl_loop lists -->
	 	<!-- tmpl_if expr="(current_list ne list)" -->
		 	<li>
				<label 
					for="also_save_<!-- tmpl_var list -->"> 
					<input 
						type="checkbox" 
						name="also_save" 
						id="also_save_<!-- tmpl_var list -->"
						value="<!-- tmpl_var list -->"
						checked="checked"
					>
					<!-- tmpl_var list_name --> (<!-- tmpl_var list -->)
				</label>
			</li>
		<!-- tmpl_else -->
		 	<li>
					<input 
						type="checkbox" 
						value="<!-- tmpl_var list -->"
						checked="checked"
						disabled="disabled"
					>
					<span class="success label">
						<!-- tmpl_var list_name --> (<!-- tmpl_var list -->)
					</span>
			</li>
		<!-- /tmpl_if -->
	 <!-- /tmpl_loop -->
</ul>

<form>
	<input 
		type="hidden" 
		name="form_id" 
		id="form_id" 
		value="<!-- tmpl_var form_id -->"
	>
<div class="clearfix">
	<ul class="button-group right">   
		<li>
			<input 
				type="button"
				class="button warning" 
				value="Cancel"
				onclick="javascript:$.colorbox.close()"
			>
		</li>
		<li>
			<input 
				type="button success" 
				class="button success set_also_save_for_lists" 
				value="Save For Selected Mailing Lists"
			>
		</li>
	</ul>
</div>
