<!-- begin amazon_ses_get_stats_widget.tmpl --> 

<!-- tmpl_if has_ses_options --> 

		<!-- tmpl_if expr="(status == 200)" -->

			<ul>

			<li>
			Total daily limit:
			<strong>
			<!-- tmpl_var Max24HourSend --> messages
			</strong> 
			</li>

			<li>
			Percentage of daily limit allowed for <!-- tmpl_var PROGRAM_NAME -->:
			<strong><!-- tmpl_var allowed_sending_quota_percentage -->%</strong>
			</li>				 

			<li>
			Sending speed limit:
			<strong>
			<!-- tmpl_var MaxSendRate --> messages/second
			</strong>
			</li>

			<li>

			Number of messsages reported as having been sent in the last 24 hours:
			<strong>
			<!-- tmpl_var SentLast24Hours --> messages
			</strong>

			</li>
			</ul>
			<!-- tmpl_else --> 
			<p>
			<strong>Warning!</strong> There's a problem with the AWS Credentials. 
			</p>	
			<!-- /tmpl_if -->
			<!-- tmpl_else --> 
			<p>
			<strong>
			AWS Credentials have not been set.
			</strong>
			Amazon SES sending may not work correctly.</p>
		<!-- /tmpl_if -->
	<!-- /tmpl_if -->	

<!-- end amazon_ses_get_stats_widget.tmpl --> 
