<!-- begin archive_list_widget.tmpl -->

<!-- tmpl_if allowed_to_view_archives --> 

	<!-- tmpl_loop entries -->

		<!-- Archive Id: <!-- tmpl_var id --> --> 
		<h2>
			<a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var uri_escaped_list -->/<!-- tmpl_var id -->/">
				<!-- tmpl_var subject -->
			</a>
		</h2>
	
		<p>
			<em>
				<!-- tmpl_var date -->
			</em>
		</p>


		<div class="row">
			<!-- tmpl_if show_gravatar --> 	
				<div class="medium-2 columns">
					<img src="<!-- tmpl_var gravatar_img_url -->"> 
				</div>
			<!-- /tmpl_if -->
	
			<!-- tmpl_if show_gravatar --> 	
				<div class="medium-10 columns">
			<!-- tmpl_else -->
				<div class="small-12 columns">		
			<!-- /tmpl_if -->	
				<!-- tmpl_if message_blurb -->
					<blockquote>
						<!-- tmpl_var message_blurb --> 
						<a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var uri_escaped_list -->/<!-- tmpl_var id -->/">
							...Continue Reading
						</a>
					</blockquote>
				<!--/tmpl_if-->
			</div> 
		</div>
	<!-- /tmpl_loop-->

	<!-- tmpl_var index_nav --> 

	<!-- tmpl_var search_form --> 

	<!-- end archive_list_widget.tmpl -->

<!-- tmpl_else --> 
	
	<div class="alert-box info radius">
		Only Subscribers of this mailing list may view archived messages.
	</div> 

<!-- /tmpl_if -->
<!-- end archive_list_widget.tmpl -->