<h1>Archive Message Placeholder</h1>

<p>When your mass mailing message is sent out, the <strong>read it online </strong> link will go to 
	the archived message screen. Since the message has not been archived yet, that link goes to this placeholder.</p>