<!-- begin archive_footer_widget.tmpl -->

	<!-- tmpl_include newsfeed_widget.tmpl --> 

	<!-- tmpl_var archive_send_form -->

	<div id="modal_subscribe_form">
		<!-- tmpl_var archive_subscribe_form -->
	</div>
<!-- end archive_footer_widget.tmpl -->
