<!-- begin archive_nav_table_widget.tmpl --> 


<table cellpadding="5" style="margin-left: auto; margin-right: auto;"> 
 <tr>
  <td valign="top" align="left" width="33%">
   <p>
    <strong>
	<!-- tmpl_if prev_subject --> 
		&lt;&lt; Previous: 
		<a href="<!-- tmpl_var PROGRAM_URL -->?flavor=<!-- tmpl_var flavor_label -->&list=<!-- tmpl_var list_settings.list -->&id=<!-- tmpl_var prev -->">
		 <!-- tmpl_var prev_subject -->
		</a>
	<!-- tmpl_else --> 
			 &nbsp;
	<!-- /tmpl_if --> 
    </strong>
   </p>
  </td> 
  <td valign="top" align="center" width="33%">
   <p>| <strong>
   	<a href="<!-- tmpl_var PROGRAM_URL -->?flavor=<!-- tmpl_var flavor_label -->&list=<!-- tmpl_var list_settings.list -->">
		Archive Index
	</a>

   </strong> |</p>
  </td> 
  <td valign="top" align="right" width="33%"> 
   <p>
    <strong>
	<!-- tmpl_if next_subject --> 
		Next: 
		<a href="<!-- tmpl_var PROGRAM_URL -->?flavor=<!-- tmpl_var flavor_label -->&list=<!-- tmpl_var list_settings.list -->&id=<!-- tmpl_var next -->">
		 <!-- tmpl_var next_subject -->
		</a>
		&gt;&gt;
	<!-- tmpl_else --> 
			 &nbsp;
	<!-- /tmpl_if --> 
    </strong>
   </p>
  </td>
 </tr>
</table>

<!-- end archive_nav_table_widget.tmpl --> 
