<!-- begin archive_screen.tmpl -->

<!-- tmpl_set name="title" value="<!-- tmpl_var header_subject escape=HTML -->" -->

<!-- tmpl_include name="list_breadcrumbs_widget.tmpl" -->

<!-- tmpl_if send_archive_success -->
	
	<div class="clearskiesbox">
	<p>
	 The message has been forwarded to your friend!
	</p>
	</div>

	
<!-- /tmpl_if -->

<!-- tmpl_if send_archive_errors -->
	
	<div class="badweatherbox">
		<p>
	 	There was an error in the Send Archive form you filled out.
		</p>
	</div>
	
<!-- /tmpl_if -->

<div id="archived_message_wrapper">
 <!-- Archive Id: <!-- tmpl_var id --> --> 

	 <div id="archived_message_head">
	  <p>
	  
	<!-- tmpl_if list_settings.enable_gravatars --> 
	
		<!-- tmpl_if can_use_gravatar_url --> 
	
	    	<!-- tmpl_if gravatar_img_url --> 
	    
	        	<img src="<!-- tmpl_var gravatar_img_url -->" style="float:left; padding:5px;" /> 
	    
	    	<!-- /tmpl_if --> 
	    
		<!-- /tmpl_if --> 
	
	<!-- /tmpl_if -->
		
	<!-- tmpl_if header_from -->
		   
		   <strong>
		    From:
		   </strong>
		   <!-- tmpl_var header_from -->
		   
	<!-- /tmpl_if -->
	
	<!-- tmpl_if header_date -->
		   
		   <br />
		   <strong>
		    Date:
		   </strong>
		   <!-- tmpl_var header_date escape="HTML" -->
		   
	<!--/tmpl_if -->
	
	<!-- tmpl_if header_subject -->
		   
		   <br />
		   <strong>
		    Subject:
		   </strong>
		   <!-- tmpl_var header_subject  escape="HTML"  -->
		   
	<!--/tmpl_if -->
	
	<!-- tmpl_if in_reply_to_id -->
		
		<!-- tmpl_if in_reply_to_subject  -->
			   
			   <br />
			   <strong>
			    In-Reply-To:
			   </strong>
			   <a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var list -->/<!-- tmpl_var in_reply_to_id -->/">
			    <!-- tmpl_var in_reply_to_subject  escape="HTML"  -->
			   </a>
			   
		<!-- /tmpl_if -->
		
	<!-- /tmpl_if --> 
	   
	<br />


	   <strong>
	    Date:
	   </strong>
	    <!-- tmpl_var date -->
	  </p>
	 </div><!-- ends id="archived_message_head" -->

	<div class="floatclear"></div>
 

<!-- tmpl_if show_iframe -->
	 
	 <iframe src="<!-- tmpl_var PROGRAM_URL -->?f=archive_bare;l=<!-- tmpl_var list -->;id=<!-- tmpl_var id -->" id="archived_message_body_container">
	  <!-- redundancy for browsers & devices that aren't frames-compatible: -->
	  <div id="archived_message_body">
	   <!-- tmpl_var massaged_msg_for_display -->
	  </div><!-- ends id="archived_message_body" -->
	  <!-- ends redundancy for browsers & devices that aren't frames-compatible -->
	 </iframe>
	 
<!-- tmpl_else -->
	 
	 <div id="archived_message_body">
	  <!-- tmpl_var massaged_msg_for_display -->
	 </div><!-- ends id="archived_message_body" -->
	 
<!-- /tmpl_if -->

</div><!-- ends id="archived_message_wrapper" -->

<!-- tmpl_if attachments --> 
	
	<div id="archived_attachments_wrapper">
	 <h2>
	  Attachments:
	 </h2> 
	 <ul> 
	  
	<!-- tmpl_loop attachments -->
		  
		  <li>
		   <a href="<!-- tmpl_var PROGRAM_URL -->?f=file_attachment&id=<!-- tmpl_var id -->&filename=<!-- tmpl_var name -->&list=<!-- tmpl_var list -->">
		   <!-- tmpl_var name -->
		   </a>
		  </li> 
		  
	<!-- /tmpl_loop -->
	  
	 </ul>
	</div><!-- ends id="archived_attachments_wrapper" -->
	
<!-- /tmpl_if --> 




<!-- tmpl_if add_social_bookmarking_badges --> 

    <!-- tmpl_include social_bookmarking_badges_widget.tmpl --> 

<!--/tmpl_if-->





<!-- tmpl_if show_share_this_message_nav --> 
 <!-- put stuff in this... --> 
<!--/tmpl_if--> 




<!-- tmpl_var nav_table --> 

<!-- tmpl_include name="archive_footer_widget.tmpl" -->

<!-- end archive_screen.tmpl -->
