<!-- begin archive_options_screen.tmpl -->

<!-- tmpl_set name="title" value="Message Archives &#187; Archive Options" -->
<div id="screen_meta" data-menu_highlight="archive_options"></div>




<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div> 
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->


<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form" accept-charset="<!-- tmpl_var HTML_CHARSET -->">

<fieldset> 
	<legend>Basic Options</legend> 
	
<table cellpadding="5">
 <tr>
  <td>
   <input type="checkbox" name="archive_messages" id="archive_messages" value="1" <!-- tmpl_if list_settings.archive_messages -->checked="checked"<!--/tmpl_if--> />
  </td>
  <td>
   <p>
    <label for="archive_messages">
     Archive Your Messages
    </label>
    <br />
    Any messages already archived will still be available to your visitors.
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <input type="checkbox" name="show_archives" id="show_archives" value="1" <!-- tmpl_if list_settings.show_archives -->checked="checked"<!--/tmpl_if--> />
  </td>
  <td>
   <p>
    <label for="show_archives">
     Publicly Display Your Archives
    </label>
    <br />
    Visitors to your site will be able to view your archived list messages 
    <a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var list -->" target="_blank">
     here</a>.
    Archived messages are always viewable in the list control panel.
   </p>




 <table cellspacing="5" <!-- tmpl_unless PROFILE_ENABLED -->class="disabled"<!--/tmpl_unless--> >
     <tr>
      <td>
       <input type="checkbox" name="archives_available_only_to_subscribers" id="archives_available_only_to_subscribers" value="1" <!-- tmpl_if list_settings.archives_available_only_to_subscribers -->checked="checked"<!--/tmpl_if--> />
      </td>
      <td>
       <p>
        <label for="archives_available_only_to_subscribers" <!-- tmpl_unless PROFILE_ENABLED -->class="disabled"<!-- /tmpl_unless -->>
         Only Allow Subscribers to View Archived Messages
        </label><br /> 
		Only subscribers logged in will be able to view the publicly available archives. 
       </p>

       <!-- tmpl_unless PROFILE_ENABLED -->

		<div class="badweatherbox">
	    <p>
	     <strong>
	      Disabled.</strong> <!-- tmpl_var PROGRAM_NAME --> Profiles are not enabled.
	    </p>
		</div> 
        <!--/tmpl_unless-->



      </td>
     </tr>
    </table>






  </td>
 </tr>
 <tr>
  <td>
   <input type="checkbox" name="archive_subscribe_form" id="archive_subscribe_form" value="1" <!-- tmpl_if list_settings.archive_subscribe_form -->checked="checked"<!--/tmpl_if--> />
  </td>
  <td>
   <p>
    <label for="archive_subscribe_form">
     Add a Subscription Form to the Archive Screens
    </label>
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <input type="checkbox" name="archive_search_form" id="archive_search_form" value="1" <!-- tmpl_if list_settings.archive_search_form -->checked="checked"<!--/tmpl_if--> />
  </td>
  <td>
   <p>
    <label for="archive_search_form">
     Add a Search Form to the Archive Pages
    </label>
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <input type="checkbox" name="archive_send_form" id="archive_send_form" value="1" <!-- tmpl_if list_settings.archive_send_form -->checked="checked"<!--/tmpl_if--> />
  </td>
  <td>
   <p>
    <label for="archive_send_form">
     Enable &quot;Forward to a Friend&quot;
    </label>
    <br />
    Visitors will be able to forward archived messages they find interesting to friends.
   </p>
   
    <table cellspacing="5" >
     <tr>
      <td>
       <input type="checkbox" name="captcha_archive_send_form" id="captcha_archive_send_form" value="1" <!-- tmpl_if list_settings.captcha_archive_send_form -->checked="checked"<!--/tmpl_if--> />
      </td>
      <td>
       <p>
        <label for="captcha_archive_send_form">
         Enable CAPTCHA on the &quot;Forward to a Friend&quot; Form
        </label>
       </p>
       
       <!-- tmpl_unless can_use_captcha -->
	    
		<div class="badweatherbox">
	    <p>
	      <strong>Disabled.</strong> The CAPTCHA system (<strong><!-- tmpl_var CAPTCHA_TYPE --></strong>) needs to be successfully configured. 
	   
	    </p>
    </div> 

        <!--/tmpl_unless-->



      </td>
     </tr>
    </table>


  </td>
 </tr>
</table>

</fieldset> 


<input type="hidden" name="process" value="1" />
<input type="hidden" name="f"       value="archive_options" />
<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear Changes">
 <input type="submit" class="processing" value="Change Archive Options">
</div>
<div class="floatclear"></div>

</form> 

 

<!-- end archive_options_screen.tmpl -->
