<!-- begin changes_saved_dialog_box_widget.tmpl --> 

<div class="clearskiesbox" id="alertbox">

	<p>
		Your changes have been saved!
	</p>

	<div style="text-align: center;">
	<input type="button" class="small_button fade_me" value="Ok!" />
	</div>
	
</div> 
<!-- end changes_saved_dialog_box_widget.tmpl --> 