<!-- begin change_password_screen.tmpl -->

<!-- tmpl_set name="title" value="You Mailing List &#187; List Password" -->

<!-- tmpl_set name="load_jquery_validate" value="1" -->


<div id="screen_meta" data-menu_highlight="change_password"></div>
<div id="change_password"></div>

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Your Mailing List
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				List Password
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>



<div class="alert-box info radius">
    <!-- tmpl_if root_login --> 
    
        <p>
            The <strong>List Password</strong> is used to log into the mailing list, with restricted permissions 
            on what features are available in the list control panel. Log into a mailing list with the 
            <strong><!-- tmpl_var PROGRAM_NAME --> Root Password</strong> for unrestricted access to all the 
            features of the list control panel.
        </p>
        
    <!-- /tmpl_if -->
    
    <p>
     Once you've changed the <strong>List Password</strong>, you will 
     be required to log back into the Mailing List control panel, using the newly changed <strong>List Password</strong>.
    </p>
</div>

<fieldset> 
    
    <form name="change_password_form" id="change_password_form" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
        <input type="hidden" name="flavor"       value="change_password" >
        <input type="hidden" name="process" value="1" >

        <!-- tmpl_unless root_login -->

            <div class="row">
               <div class="small-12 columns">
                    <label for="old_password">
                        List Password
                        <input type="password" id="old_password" name="old_password" maxlength="24" >
                    </label> 
                </div> 
            </div>

        <!--/tmpl_unless-->

	      <div class="row">
	        <div class="large-3 medium-3 columns">
               <label 
			   		for="new_password"
					class="medium-text-right"
				>
                   New List Password
                </label>
			</div>
	        <div class="large-9 medium-9 columns">
				   <input type="password" name="new_password" id="new_password"  maxlength="24" >
            </div> 
        </div>

	      <div class="row">
	        <div class="large-3 medium-3 columns">
               <label 
			   	for="again_new_password"
				class="medium-text-right"
				>
                   Re-enter New List Password
				</label> 
			</div>
	        <div class="large-9 medium-9 columns">
                   <input type="password" name="again_new_password" id="again_new_password" maxlength="24" >
            </div> 
        </div>

        <ul class="button-group right">    
         <li><input type="reset"  class="button warning" ></li>
         <li><input type="submit" class="button success" value="Change Password" ></li>
        </ul>
    </form> 
</fieldset> 


 


<!-- end change_password_screen.tmpl -->
