<!-- begin changes_saved_dialog_box_widget.tmpl --> 

<div data-alert class="alert-box success radius">
	Your changes have been saved!
	<a href="#" class="close">&times;</a>
</div> 
<!-- end changes_saved_dialog_box_widget.tmpl --> 