<!-- begin change_password_screen.tmpl -->

<!-- tmpl_set name="title" value="You Mailing List &#187; List Password" -->

<!-- tmpl_set name="load_jquery_validate" value="1" -->


<div id="screen_meta" data-menu_highlight="change_password"></div>
<div id="change_password"></div>

<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div> 




<div class="clearskiesbox">
    
    <!-- tmpl_if root_Login --> 
    
        <p>
            The <strong>List Password</strong> is used to log into the mailing list, with restricted permissions 
            on what features are available in the list control panel. Log into a mailing list with the 
            <strong><!-- tmpl_var PROGRAM_NAME --> Root Password</strong> for unrestricted access to all the 
            features of the list control panel.
        </p>
        
    <!-- /tmpl_if -->
        
        
<p>
 Once you've changed the <strong>List Password</strong>, you will 
 be required to log back into the Mailing List control panel, using the newly changed <strong>List Password</strong>.
</p>
</div>

<form name="change_password_form" id="change_password_form" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 


<fieldset> 

	
<input type="hidden" name="f"       value="change_password" />
<input type="hidden" name="process" value="1" />

<!-- tmpl_unless root_login -->
	
	<p>
	 Enter the current <label for="old_password">List Password</label>:
	 <br />
	 <input type="password" id="old_password" name="old_password" maxlength="24" />
	</p>
	
<!--/tmpl_unless-->

<p>
 <label for="new_password">
  Enter the new List Password</label>:
 <br />
 <input type="password" name="new_password" id="new_password" size="16" maxlength="24" />
</p>

<p>
 <label for="again_new_password">
  Re-enter the new List Password</label>:
 <br />
 <input type="password" name="again_new_password" id="again_new_password" size="16" maxlength="24" />
</p>



</fieldset> 
	
<div class="buttonfloat">
 <input type="reset"  class="cautionary" />
 <input type="submit" class="processing" value="Change Password" />
</div>
<div class="floatclear"></div>

</form> 


 


<!-- end change_password_screen.tmpl -->
