<!-- begin change_info_screen.tmpl -->


<!-- tmpl_set name="title" value="Mailing List &#187; List Information" -->
<div id="screen_meta" data-menu_highlight="change_info"></div>


<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Mailing List
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				List Information
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>


<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<!-- tmpl_if errors -->

    <div class="alert-box alert radius">
	 The <!-- tmpl_var errors --> field<!-- tmpl_var errors_ending --> on this form
	 <!-- tmpl_var err_word --> filled out incorrectly and
	 must be fixed for all new information to be saved.
	</div>

<!--/tmpl_if-->

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form" accept-charset="<!-- tmpl_var HTML_CHARSET -->">


<input type="hidden" name="flavor"       value="change_info" >
<input type="hidden" name="process" value="1" >

<div class="alert-box info radius">
	 Your list's
	 <strong>
	  Short Name
	 </strong>
	 is:
	 <strong>
	  <!-- tmpl_var list -->
	 </strong>
 </div>

<!-- tmpl_if flags_list_name -->

	<p class="error">
	 <em>
	  You did not fill in a list name.
	 </em>
	</p>

<!--/tmpl_if-->


<!-- tmpl_if name="flags_list_name_bad_characters" -->

	 <p class="error">
	  <em>
	   Your list name contains &lt;'s, &gt;'s or, &quot;'s.
	  </em>
	 </p>

<!-- /tmpl_if -->


	<div class="row">
		<div class="large-3 medium-3 columns">
		    <label 
				class="medium-text-right"
				for="list_name"
			>
            	List Name
        	</label>
			</div>
			<div class="large-9 medium-9 columns">
		    	<input type="text" name="list_name" id="list_name" value="<!-- tmpl_var list_name escape="HTML" -->"  >
		    </div>
		</div>

<!-- tmpl_if flags_invalid_list_owner_email -->
    <div class="alert-box alert radius">
        You need to give a valid email address for the list owner.
    </div>
<!--/tmpl_if-->

<!-- tmpl_if expr="(using_ses eq '1') && (list_owner_ses_verified ne '1')" -->
    <div class="alert-box warning radius">
	    <p>
	        Your current <strong>List Owner</strong>, <!-- tmpl_var list_owner_email escape="HTML" --> has not been verified through <strong>Amazon SES</strong>.
	    </p>
	</div>
<!-- /tmpl_if -->


	<div class="row">
		<div class="large-3 medium-3 columns">
		    <label 
				class="medium-text-right"
				for="list_owner_email"
			>
				List Owner Address
			</label>
		</div>
		<div class="large-9 medium-9 columns">
		  <input type="text" name="list_owner_email" id="list_owner_email" value="<!-- tmpl_var list_owner_email escape="HTML" -->" >
		</div>
	</div>

   <!-- tmpl_if expr="(using_ses eq '1') && (list_admin_ses_verified ne '1')" -->
       <div class="alert-box warning radius">
   	    <p>
   	        Your current <strong>List Administrator</strong>, <!-- tmpl_var admin_email escape="HTML" -->has not been verified through <strong>Amazon SES</strong>.
   	    </p>
   	</div>
   <!-- /tmpl_if -->

	<div class="row">
		<div class="large-3 medium-3 columns">
		    <label 
				class="medium-text-right"
				for="admin_email"
			>
            	List Administrator Address
			</label>
		</div>
		<div class="large-9 medium-9 columns">
        	<input type="text" name="admin_email" id="admin_email" value="<!-- tmpl_var admin_email escape="HTML" -->"  >
       </div>
    </div>

<!-- tmpl_if flags_list_info -->
    <div class="alert-box alert radius">
        You need to give your list a description.
    </div>
<!--/tmpl_if-->

	<div class="row">
		<div class="large-3 medium-3 columns">
		    <label 
				class="medium-text-right"
				for="info"
			>
            	List Description
            </label>
		</div>
		<div class="large-9 medium-9 columns">
			<textarea name="info" id="info"  rows="5"><!-- tmpl_var info --></textarea>        
	   </div>
	</div>

<!-- tmpl_if flags_privacy_policy -->
    <div class="alert-box alert radius">
	  You need to give your list a privacy policy.
    </div>


<!--/tmpl_if-->

<div class="row">
	<div class="large-3 medium-3 columns">
	    <label 
			class="medium-text-right"
			for="privacy_policy"
		>
        	Privacy Policy
    	</label>
	</div> 
	<div class="large-9 medium-9 columns">
        <textarea name="privacy_policy" id="privacy_policy"  rows="5"><!-- tmpl_var privacy_policy --></textarea>
   </div>
</div>


<!-- tmpl_if flags_physical_address -->
    <div class="alert-box alert radius">
	    You need to give your list a physical address.
    </div>
<!--/tmpl_if-->

<div class="row">
	<div class="large-3 medium-3 columns">
	    <label 
			class="medium-text-right"
			for="physical_address"
		>
    		Physical Address
 		</label>
	</div>
	<div class="large-9 medium-9 columns">
   		 <textarea name="physical_address" id="physical_address" rows="5"><!-- tmpl_var physical_address --></textarea>
    </div>
 </div>


 <div class="row">
 	<div class="large-3 medium-3 columns">
 	    <label 
 			class="medium-text-right"
 			for="list_phone_number"
 		>
			Phone Number
 		</label>
 	</div>
 	<div class="large-9 medium-9 columns">
      	<input 
			type="tel" 
			name="list_phone_number" 
			id="list_phone_number" 
			value="<!-- tmpl_var list_settings.list_phone_number escape="HTML" -->" 
			>
     </div>
  </div>

 <div class="row">
 	<div class="large-3 medium-3 columns">
 	    <label 
 			class="medium-text-right"
 			for="logo_image_url"
 		>
			Logo Image URL <br>(200px by 50px)
 		</label>
 	</div>
 	<div class="large-9 medium-9 columns">
      	<input 
			type="text" 
			name="logo_image_url" 
			id="logo_image_url" 
			value="<!-- tmpl_var list_settings.logo_image_url escape="HTML" -->" 
			placeholder="https://"
			>
     </div>
  </div>
  

<div class="row">
	<div class="large-3 medium-3 columns">
	    <label 
			class="medium-text-right"
			for="website_url"
		>
         	Website URL
		</label>
	</div>
	<div class="large-9 medium-9 columns">
     	<input 
			type="text" 
			name="website_url" 
			id="website_url" 
			value="<!-- tmpl_var list_settings.website_url escape="HTML" -->"
			placeholder="https://"
		>
    </div>
 </div>  



<div class="row">
	<div class="large-3 medium-3 columns">
	    <label 
			class="medium-text-right"
			for="facebook_page_url"
		>
         	Facebook Page URL
		</label>
	</div>
	<div class="large-9 medium-9 columns">
     	<input 
			type="text" 
			name="facebook_page_url" 
			id="facebook_page_url" 
			value="<!-- tmpl_var list_settings.facebook_page_url escape="HTML" -->"
			placeholder="https://"
		>
    </div>
 </div>
 
 
 <div class="row">
 	<div class="large-3 medium-3 columns">
 	    <label 
 			class="medium-text-right"
 			for="facebook_page_url"
 		>
          	Youtube Channel URL
 		</label>
 	</div>
 	<div class="large-9 medium-9 columns">
      	<input 
 			type="text" 
 			name="youtube_url" 
 			id="youtube_url" 
 			value="<!-- tmpl_var list_settings.youtube_url escape="HTML" -->"
 			placeholder="https://"
 		>
     </div>
  </div>

<div class="row">
	<div class="large-3 medium-3 columns">
	    <label 
			class="medium-text-right"
			for="twitter_url"
		>
         	Twitter URL
		</label>
	</div>
	<div class="large-9 medium-9 columns">
     	<input 
			type="text" 
			name="twitter_url" 
			id="twitter_url" 
			value="<!-- tmpl_var list_settings.twitter_url escape="HTML" -->"
			placeholder="https://"
		>
    </div>
 </div>
 
 <div class="row">
 	<div class="large-3 medium-3 columns">
 	    <label 
 			class="medium-text-right"
 			for="google_plus_page_url"
 		>
          	Google+ Page URL
 		</label>
 	</div>
 	<div class="large-9 medium-9 columns">
      	<input 
			type="text" 
			name="google_plus_page_url" 
			id="google_plus_page_url" 
			value="<!-- tmpl_var list_settings.google_plus_page_url escape="HTML" -->" 
			placeholder="https://"
			>
     </div>
  </div>

 

<div class="clearfix">
	<ul class="button-group right">
	    <li><input type="reset"  class="warning button" value="Clear Changes" ></li>
	    <li><input type="submit" class="success button" value="Save Changes" ></li>
	</ul>
</div>



</form>



<!-- end change_info_screen.tmpl -->
