<!-- begin common_save_list_settings_buttons_widget.tmpl -->

<div class="clearfix">
	<ul class="button-group right">    
	     <li><input type="reset"  class="button warning" value="Clear" ></li>
	     <li><input type="submit" class="button success" value="Save" ></li>
	     <li>
			 <!-- tmpl_include save_for_multiple_mailing_lists_button_widget.tmpl -->
		  </li>
	</ul>
</div> 

<!-- end common_save_list_settings_buttons_widget.tmpl -->
