<!-- begin confirm_captcha_step_screen.tmpl --> 

<!-- tmpl_set name="title" value="Subscription Almost Complete" -->
<!-- tmpl_set name="load_captcha_js" value="1" -->

<!-- tmpl_unless captcha_auth --> 
	<div class="alert-box error radius">
	 	CAPTCHA Failed. Please try again:
	</div>
<!-- /tmpl_unless --> 

<!-- tmpl_if list_settings.captcha_sub -->
	<!-- tmpl_if can_use_Google_reCAPTCHA_v2 -->
		<p> 
			 Please solve the CAPTCHA below to complete your subscription: 
		</p>
	<!-- /tmpl_if -->
	
	<!-- tmpl_if can_use_Google_reCAPTCHA_v3 -->
		<p> 
			Please click the, <strong>Subscribe Me!</strong> button below to complete your subscription: 
		</p>
	<!-- /tmpl_if -->	
<!-- /tmpl_if -->
		
<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
 <input type="hidden" name="flavor" value="<!-- tmpl_var flavor -->" > 
 <input type="hidden" name="list" value="<!-- tmpl_var list -->" > 
 <input type="hidden" name="email" value="<!-- tmpl_var email -->" > 
 <input type="hidden" name="token" value="<!-- tmpl_var token -->" > 

<!-- tmpl_if simple_test --> 
 <input type="hidden" name="simple_test" value="pass" > 
<!-- /tmpl_if -->

			<!-- tmpl_if list_settings.captcha_sub -->
				 <!-- tmpl_if can_use_Google_reCAPTCHA_v2 -->
					<div class="row">
						<div class="large-4 medium-4 columns">
							&nbsp;
						</div> 
			
						<div class="large-8 medium-8 columns">

							<div class="form-group">
								<div 
									class="g-recaptcha"
									id="subscription_form_gr"
									data-recaptcha_id="default_value"
								></div>
								<input 
									 type="hidden"
									 class="captcha_check required" 
									 name="captcha_check" 
									 id="captcha_check"
									>
							</div>
						</div>
					</div>
					<!-- tmpl_if add_recaptcha_js -->
						    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
						    <script type="text/javascript">
						         var onloadCallback = function() {
						           grecaptcha.render('subscription_form_gr', {
						             'sitekey' : '<!-- tmpl_var captcha_params_v2_public_key -->'
						           });
						         };
						       </script>
					<!-- /tmpl_if --> 
			<!-- /tmpl_if -->
		
			<!-- tmpl_if can_use_Google_reCAPTCHA_v3 -->
				<!-- tmpl_if add_recaptcha_js -->
					<script src="https://www.google.com/recaptcha/api.js?render=<!-- tmpl_var captcha_params_v3_public_key -->"></script>
					<script>
						grecaptcha.ready(function() {
						        grecaptcha.execute('<!-- tmpl_var captcha_params_v3_public_key -->', {action:'ddm'})
						                  .then(function(token) {
									document.getElementById('g-recaptcha-response_sf').value = token;
						        });
						    });
					</script>
				<!-- /tmpl_if -->
					
				<input 
					type="hidden"
					id="g-recaptcha-response_sf"
					class="g-recaptcha-response"
					name="g-recaptcha-response"
				>
			<!-- /tmpl_if -->
		<!-- /tmpl_if -->
		

 <p>
  <input type="submit" value="Subscribe Me!" class="success button" > 
 </p>

</form> 



<!-- end confirm_captcha_step_screen.tmpl --> 
