<!-- begin control_panel_login_form.tmpl -->

<form 
	action="<!-- tmpl_var name="S_PROGRAM_URL" -->" 
	method="post" 
	accept-charset="<!-- tmpl_var HTML_CHARSET -->"
>
	
	<!-- tmpl_if DISABLE_OUTSIDE_LOGINS --> 
		<input 
			type="hidden" 
			name="auth_state" 
			value="<!-- tmpl_var auth_state -->"
		> 
	<!--/tmpl_if--> 
	
	<input 
		type="hidden" 
		name="flavor"  
		value="login"
	>
	<input 
		type="hidden"
		name="process"
		value="true"
	>

	<!-- tmpl_if referer --> 
		<input 
			type="hidden"
			name="referer"
			value="<!-- tmpl_var referer -->"
		> 
	<!-- tmpl_else --> 
		<!-- tmpl_if url --> 
			<input 
				type="hidden" 
				name="referer" 
				value="<!-- tmpl_var url --><!-- tmpl_if query_string -->?<!-- tmpl_var query_string --><!-- /tmpl_if --><!-- tmpl_if path_info -->/<!-- tmpl_var path_info --><!-- /tmpl_if -->"
			> 
		<!-- /tmpl_if --> 
	<!-- /tmpl_if --> 

	<div class="row">
		<div class="small-12 columns">
			
			<!-- tmpl_if expr="login_widget eq 'text_box'" -->
	
				    <label for="admin_list">
				     List Short Name
				    </label>
	
				    <input 
						type="text"
						name="admin_list"
						id="admin_list"
						value="<!-- tmpl_var selected_list -->"
					>
	
			<!-- tmpl_else -->
			
				<!-- tmpl_if expr="login_widget eq 'hidden_field'" -->
					<input 
						type="hidden"
						name="admin_list"
						value="<!-- tmpl_var selected_list escape=HTML -->"
					>	
				<!-- tmpl_else --> 
					
					<label for="admin_list">
						Mailing List
					</label>

					<!-- tmpl_if show_other_link -->
						<div class="row collapse">
							<div class="small-10 columns"> 					
								<!-- tmpl_var list_popup_menu -->
							</div>
							<div class="small-2 columns">
								<a 
									href="<!-- tmpl_var name="PROGRAM_URL" -->?flavor=<!-- tmpl_var ADMIN_FLAVOR_NAME -->&login_widget=text_box"
									class="postfix tiny button secondary"
								>
									other...
								</a>
							</div> 
						</div>
					<!-- tmpl_else -->
						<!-- tmpl_var list_popup_menu -->
					<!-- /tmpl_if -->
					
				<!-- /tmpl_if -->
			<!-- /tmpl_if -->
			
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<label for="admin_password">
				List Password/<!-- tmpl_var PROGRAM_NAME --> Root Password
			</label>
			<input 
				type="password" 
				name="admin_password" 
				id="admin_password"
				maxlength="24"
				required="required"
			>
		</div>
	</div>
	
 <div class="row">
	<div class="small-12 columns">
		<!-- tmpl_if can_use_Google_reCAPTCHA_v2 --> 
			<div class="form-group">
				<div 
					class="g-recaptcha" 
					id="cp_login_gr"
				></div>
			</div>
		<!-- /tmpl_if --> 

		<!-- tmpl_if can_use_Google_reCAPTCHA_v3 -->			
			<input 
				type="hidden"
				id="g-recaptcha-response_cp_login"
				class="g-recaptcha-response"
				name="g-recaptcha-response"
			>
		<!-- /tmpl_if -->
	</div> 
</div>

	
	
	
	 <div class="row">
 		<div class="small-12 columns">
			<input 
				type="submit" 
				class="plain expand button" 
				value="Login"
			>
		</div>
	</div>
</form> 
