<!-- begin default_screen.tmpl -->

<!-- tmpl_set name="title" value="Available Mailing Lists" -->
<!-- tmpl_set name="load_colorbox" value="1" -->

<!-- tmpl_if error_invalid_list --> 
	<div class="alert-box warning radius">
			The mailing list you are trying to subscribe to/unsubscribe from is not 
			available. <strong>Webmaster</strong>: please make sure your outside 
			subscription forms are correct and up-to-date.
	</div>
<!--/tmpl_if-->

<!-- tmpl_if visible_lists --> 


	<!-- tmpl_loop list_information -->

		<h2>
			<a href="<!-- tmpl_var PROGRAM_URL -->/list/<!-- tmpl_var list_settings.list escape="HTML" -->/">
				<!-- tmpl_var list_settings.list_name -->
			</a>
		</h2>
		<!-- tmpl_var list_settings.info -->

		<!-- tmpl_if list_settings.show_archives -->
			<!-- tmpl_unless list_settings.archives_available_only_to_subscribers -->
				<!-- tmpl_if latest_archive_blurb -->
					<h3>
						<a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var list_settings.list escape="HTML" -->/<!-- tmpl_var latest_archive_id -->/">
							<!-- tmpl_var latest_archive_subject -->
						</a>
					</h3>
					<p>
						<em>
							<!-- tmpl_var latest_archive_date -->
						</em>
					</p>
					<blockquote>
						<!-- tmpl_var latest_archive_blurb --> 
							<a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var list_settings.list -->/<!--tmpl_var latest_archive_id -->/">
								...Continue Reading
							</a>
					</blockquote>
				<!-- /tmpl_if --> 
			<!-- /tmpl_unless-->
		<!--/tmpl_if-->
	<!--/tmpl_loop-->
	
<!-- tmpl_else --> 

	<div class="alert-box info radius">
     	<p>No Mailing Lists are currently available from this screen.</p>
	</div>
	
<!-- /tmpl_if --> 

<!-- tmpl_if SHOW_ADMIN_LINK -->
	<p class="text-center">
	  <a href="<!-- tmpl_var S_PROGRAM_URL -->/<!-- tmpl_var ADMIN_FLAVOR_NAME -->/">
	   Administration
	  </a>
	</p>	
<!--/tmpl_if-->

<!-- end default_screen.tmpl -->