<!-- begin default_screen.tmpl -->

<!-- tmpl_set name="title" value="Subscribe to a Mailing List" -->
<!-- tmpl_set name="load_colorbox" value="1" -->


<!-- tmpl_if error_invalid_list --> 
	<div class="badweatherbox">
	<p>
	 <strong>Warning!</strong>

	<p> The list you are trying to subscribe to/unsubscribe from is not available. Webmaster: please make sure your outside subscription/unsubscription forms are correct and up-to-date.
	</p> 
	</div>

<!--/tmpl_if-->

<!-- tmpl_if visible_lists --> 
<div id="modal_subscribe_form">
    <!-- tmpl_var subscription_form --> 
</div> 

    <h1>
     Available Mailing Lists:
    </h1>
    
    <!-- tmpl_loop list_information -->
        
        <h2>
         <a href="<!-- tmpl_var PROGRAM_URL -->/list/<!-- tmpl_var list_settings.list escape="HTML" -->/">
          <!-- tmpl_var list_settings.list_name -->
         </a>
        </h2>
        <!-- <p> -->
         <!-- tmpl_var list_settings.info -->
        <!-- </p> -->
        
		
        <!-- tmpl_if list_settings.show_archives -->

            <!-- tmpl_unless list_settings.archives_available_only_to_subscribers -->

            	<!-- tmpl_if newest_archive_blurb -->
                
               	 <!-- TODO: replace this here blockquote with CSS -->
	                <blockquote>
	                 <p>
	                  <strong>
	                   <a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var list_settings.list escape="HTML" -->/newest/">
	                    Last Message: <!-- tmpl_var newest_archive_subject -->
	                   </a>
	                  </strong>
	                 </p>
	                 <p>
	                  <em>
	                   <!-- tmpl_var newest_archive_blurb -->...
	                  </em>
	                 </p>
	                 <p style="text-align:right">
	                  <a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var list_settings.list -->/newest/">
	                   More...
	                  </a>
	                 </p>
	                </blockquote>
	
				<!-- /tmpl_if --> 
                
            <!-- /tmpl_unless-->
        
        <!--/tmpl_if-->
    
    <!--/tmpl_loop-->

<!-- tmpl_else --> 

	<div class="clearskiesbox">
     	<p>No Mailing Lists are currently available from this screen.</p>
	</div>

<!-- /tmpl_if --> 

<!-- tmpl_if SHOW_ADMIN_LINK -->
	
	<p style="text-align:center">
	 <strong>
	  <a href="<!-- tmpl_var S_PROGRAM_URL -->/<!-- tmpl_var ADMIN_FLAVOR_NAME -->/">
	   Administration
	  </a>
	 </strong>
	</p>
	
<!--/tmpl_if-->

<!-- end default_screen.tmpl -->
