<!-- begin delete_list_screen.tmpl -->

<!-- tmpl_set name="title" value="Your Mailing List &#187; Delete This Mailing List" -->
<div id="screen_meta" data-menu_highlight="delete_list"></div>
<div id="delete_list_screen"></div> 


<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div> 
	<!-- tmpl_include help_link_widget.tmpl -->
</div>



    <div class="alert-box alert radius">
        <p>
    	 Are you sure you want to completely delete your Mailing List?
    	</p>

    	<p>Mailing List Deletion cannot be undone.</p> 

	</div> 


<fieldset> 
	
<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" id="delete_list_form" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 


<input type="hidden" name="flavor"  value="delete_list" />
<input type="hidden" name="process" value="true" />

<div class="buttonfloat">
 <input type="submit" class="alertive" value="Delete Your Mailing List (<!-- tmpl_var name="list_settings.list_name" ESCAPE="HTML" -->)" />
</div>
<div class="floatclear"></div>

</form> 


</fieldset>
	



<!-- end delete_list_screen.tmpl -->
