<!-- begin delete_list_screen.tmpl -->

<!-- tmpl_set name="title" value="Your Mailing List &#187; Delete This Mailing List" -->
<div id="screen_meta" data-menu_highlight="delete_list"></div>
<div id="delete_list_screen"></div> 


<div class="row">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Your Mailing List
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Delete This Mailing List
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>



<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" id="delete_list_form" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
    <input type="hidden" name="flavor"  value="delete_list" >
    <input type="hidden" name="process" value="true" >

    <fieldset> 
        <div class="alert-box alert radius">
            <p>
                Are you sure you want to completely delete your Mailing List?
            </p>
            <p>
                Mailing List Deletion cannot be undone.
            </p> 
        </div>
    
        <ul class="button-group right">    
            <li>
                <input type="submit" class="button alertive" value="Delete Your Mailing List (<!-- tmpl_var name="list_settings.list_name" ESCAPE="HTML" -->)" >
            </li>
        </ul>
    </fieldset>
</form> 
    



<!-- end delete_list_screen.tmpl -->
