<!-- begin delete_list_screen.tmpl -->

<!-- tmpl_set name="title" value="Your Mailing List &#187; Delete This Mailing List" -->
<div id="screen_meta" data-menu_highlight="delete_list"></div>


<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div> 
	<!-- tmpl_include help_link_widget.tmpl -->
</div>



	<div class="badweatherbox">
	<p>
	 Are you sure you want to completely delete your Mailing List?
	</p>

	<p>Mailing List Deletion cannot be undone.</p> 

	</div> 


<fieldset> 
	
<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 


<input type="hidden" name="f"       value="delete_list" />
<input type="hidden" name="process" value="true" />

<p>
 <input type="checkbox" name="delete_backups" value="1" checked="checked" />
 <strong>
  Delete List Backups
 </strong>
</p>

<div class="buttonfloat">
 <input type="submit" class="alertive" value="Delete Your Mailing List (<!-- tmpl_var name="list_settings.list_name" ESCAPE="HTML" -->)" />
</div>
<div class="floatclear"></div>

</form> 


</fieldset>
	



<!-- end delete_list_screen.tmpl -->
