<!-- begin delete_email_screen.tmpl -->

<!-- tmpl_set name="title" value="Membership &#187; Remove" -->
<div id="screen_meta" data-menu_highlight="delete_email"></div>

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
			<a href="#">
				Membership (<!-- tmpl_var type_title -->)
			</a>
			<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=delete_email" class="current">
				Remove
			</a>
			<a href="#" class="unavailable">
				Verify
			</a>
			<a href="#" class="unavailable">
				Unsubscribe
		   </a>
	 </nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<!-- tmpl_include view_list_type_switch_widget.tmpl -->

<!-- tmpl_if GLOBAL_UNSUBSCRIBE -->
	
	<!-- tmpl_if can_use_global_unsubscribe --> 
		<div class="alert-box info radius">
			 Global Unsubscribe has been enabled.
		 </div>
	<!--/tmpl_if-->
	
<!--/tmpl_if-->


	
	
<fieldset>
	<legend>
		Paste Your Addresses:
	</legend>
	<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
    <input type="hidden" name="process" value="1" >
    <input type="hidden" name="flavor"       value="delete_email" >
    <input type="hidden" name="type"    value="<!-- tmpl_var type -->" >
	
			<div class="row">
				<div class="small-12 columns">
					<label for="delete_list">
						Enter addresses (one subscriber per line):
					</label> 
					<textarea name="delete_list" id="delete_list"></textarea>
				</div>
				<ul class="button-group right">
				  <li>
					  <input type="reset"  class="button warning" value="Clear Changes" >
				  </li>
					<li>
						<input type="submit" class="button success" value="Submit Email List" >
					</li>
				</ul>
			</div>
		</div>
	</form>
</fieldset>

<fieldset>
	<legend>Upload Your Addresses</legend>
<form enctype="multipart/form-data" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
	 <input type="hidden" name="process" value="1" >
	 <input type="hidden" name="flavor"  value="delete_email" >
	 <input type="hidden" name="type"    value="<!-- tmpl_var type -->" >
	 <div class="row">
		<div class="small-12 columns">
			<label for="delete_email_file">
				Alternatively, upload  a text file that contains the addresses you'd like to unsubscribe:
			</label> 
			<input type="file" name="delete_email_file" >
			  <ul class="button-group right">
			    <li><input type="reset"  class="button warning" value="Clear Changes"></li>
			    <li><input type="submit" class="button success" value="Submit Email List"></li>
			 </ul>
			</div>
		</div>
	</form>
</fieldset>

<!-- end delete_email_screen.tmpl -->
