<!-- begin discussion_list_support_notice_widget.tmpl -->


<!-- tmpl_if expr="((list_settings.group_list == 1) && (list_settings.disable_discussion_sending != 1))" --> 
    <div class="clearskiesbox">
		<p>
			Discussion List Support is enabled and Discussion List preferences will be honored.
		</p>
	</div> 
<!--/tmpl_if--> 

<!-- end discussion_list_support_notice_widget.tmpl -->