<!-- begin draft_notification_widget.tmpl -->

<h1>Saved Draft</h1> 

<p>There's a saved draft of a mass mailing message. <strong>Restore?</strong></p> 
<div class="buttonfloat">
<input type="button" id="restore_from_draft" value="Restore from Draft"   class="cautionary" /> 
<input type="button" id="create_a_new_mass_mailing" value="Create a New Mass Mailing" class="processing" /> 
</div> 
<div class="floatclear"></div>

<!-- end draft_notification_widget.tmpl --> 
