<!-- begin drafts.tmpl -->

<!-- tmpl_set name="title" value="Mass Mailing &#187; Drafts/Stationery/Schedules" -->

<div id="screentitle"> 
	<div id="screentitlepadding">
	 	<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<div id="drafts_screen"></div> 
<div id="screen_meta" data-menu_highlight="drafts"></div>


<!-- tmpl_if delete_draft --> 
	<div data-alert class="alert-box success radius"> id="alertbox">
		<p>
			Message Deleted. 
		</p>
		<div style="text-align: center;">
		<input type="button" class="small_button fade_me" value="Thanks!" />
		</div>
	</div> 
<!-- /tmpl_if --> 


<div id="tabs"> 
    
    <ul> 
		<li>
			<a href="#drafts">
				Drafts (<!-- tmpl_var num_drafts default="0" -->)
			</a>
		</li>
		<li>
			<a href="#stationery">
				Stationery (<!-- tmpl_var num_stationery default="0" -->)
			</a>
		</li>
		<li>
			<a href="#schedules">
				Schedules (<!-- tmpl_var num_schedules default="0" -->)
			</a>
		</li>


	</ul> 
	<div id="drafts">
	    <p class="alert">
            <strong>
            Drafts
            </strong> 
            are unfinished messages, that haven't been sent out. 
            Once a drafted message is sent out as a mass mailing, the draft message will also
            be removed.
        </p>

        <!-- tmpl_if draft_index --> 

        <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
            <input type="hidden" name="flavor" value="delete_drafts" /> 
        
        	<table class="stripedtable">

        		<tr>
        			<!-- 
        				<th>
        					<p>ID</p>
        				</th>
        			--> 
        			<th>
        				<p>&nbsp;</p>
        			</th>

        			<th>
        				<p>
        					<strong>
        						Subject
        					</strong>
        				</p> 
        			</th>
        			<th>
        				<p>
        					<strong>
        						Last Modified
        					</strong>
        				</p> 
        			</th>
        			<th>
        				<p>
        					<strong>
        						Screen
        					</strong>
        				</p> 
        			</th>
        			<th>
        				&nbsp;
        			</th>
        			
        			
        		</tr> 


         	<!-- tmpl_loop draft_index --> 
        		<tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>

        			<!-- 
        				<td>
        					<p><!-- tmpl_var id --></p>
        				</td>
        			--> 
        			<td>
            		    <input type="checkbox" class="draft_ids" name="draft_ids" value="<!-- tmpl_var id escape="HTML" -->" />
        			</td>


        			<td>
        				<p>
    						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->">
    							<!-- tmpl_var Subject escape="HTML" -->
    						</a>
        				</p> 
        			</td>
        			<td>
        				<p>
        					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->">
        						<!-- tmpl_var last_modified_timestamp --> 
        					</a>
        				</p> 
        				<td>
        					<p>
        						<!-- tmpl_if expr="(screen eq 'send_email')" --> 
        							Send a Message
        						<!-- /tmpl_if --> 
        						<!-- tmpl_if expr="(screen eq 'send_url_email')" --> 
        							Send a Webpage
        						<!-- /tmpl_if --> 

        					</p> 

        			</td>
        			
        			<td>
						<input type="button" name="" value="Edit..." class="processing" onClick="window.location='<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->'" />  
				    </td>
					
					

        		</tr> 
        	<!-- /tmpl_loop -->
        	</table>  
        	
        	<table class="stripedtable">
              <tr>
               	<td width="25">
            		<input class="toggleCheckboxes" type="checkbox" data-target_class="draft_ids" />
               	</td>
            	<td>
            	 <input type="submit" class="small_button" value="Delete Checked" />
            	 </td>
            	</tr>
            </table>
            </form>
            
        <!-- tmpl_else -->
        	<div data-alert class="alert-box success radius">>
        		<p>
        			There are currently no saved message drafts. 
        		</p>
        	</div> 
        <!-- /tmpl_if --> 
        
	</div> 
	
	<div id="stationery">
	    <p class="alert">
            <strong>
            Stationery
            </strong> 
            are messages that you can use to begin writing new mailing list messages with. They'll 
            stay around, so that you'll be able to continue to use them as many times as you would like.
        </p>

        <p class="alert">
             Once you create a new message from the stationery, it will itself be saved as a draft, 
            that you may continue to edit, separate from the original stationery.
        </p>

        <!-- tmpl_if stationery_index --> 

        <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
            <input type="hidden" name="flavor" value="delete_drafts" /> 
        
        	<table class="stripedtable">

        		<tr>
        			<th>
        				<p>&nbsp;</p>
        			</th>

					<th>
        				<p>&nbsp;</p>
        			</th>

        			<!-- 
        				<th>
        					<p>ID</p>
        				</th>
        			--> 

        			<th>
        				<p>
        					<strong>
        						Subject
        					</strong>
        				</h> 
        			</td>
        			<th>
        				<p>
        					<strong>
        						Last Modified
        					</strong>
        				</p> 
        			</th>
        			<th>
        				<p>
        					<strong>
        						Screen
        					</strong>
        				</p> 
        			</th>
        			<th>
        				<p>&nbsp;</p>
        				</p> 
        			</th>

        		</tr> 


         	<!-- tmpl_loop stationery_index --> 
        		<tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>


        			<!-- 
        				<td>
        					<p><!-- tmpl_var id --></p>
        				</td>
        			-->
        			
                    <td>
            		    <input type="checkbox" class="stationery_ids" name="draft_ids"  value="<!-- tmpl_var id escape="HTML" -->" />
        			</td>
        			<td>			    
                        <input 
                            type="button" 
                            name=""
                            value="New Draft From Stationery" 
                            class="processing" 
                            onClick="window.location='<!-- tmpl_var S_PROGRAM_URL -->?flavor=create_from_stationery&screen=<!-- tmpl_var screen escape="HTML" -->&draft_id=<!-- tmpl_var id -->'"
                         />  
                    </td>
        			<td>
        				<p>
    						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_role=stationery&draft_id=<!-- tmpl_var id -->" >
    							<!-- tmpl_var Subject escape="HTML" -->
    						</a>
        				</p> 
        			</td>
        			<td>
        				<p>
        					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_role=stationery&draft_id=<!-- tmpl_var id -->">
        						<!-- tmpl_var last_modified_timestamp --> 
        					</a>
        				</p> 
        				<td>
        					<p>
        						<!-- tmpl_if expr="(screen eq 'send_email')" --> 
        							Send a Message
        						<!-- /tmpl_if --> 
        						<!-- tmpl_if expr="(screen eq 'send_url_email')" --> 
        							Send a Webpage
        						<!-- /tmpl_if --> 

        					</p> 

        			</td>
                    <td>
                    		<input type="button" name="" value="Edit..." class="processing" onClick="window.location='<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_role=stationery&draft_id=<!-- tmpl_var id -->'" />  
                    	</p> 
                    </td>


        		</tr> 
        	<!-- /tmpl_loop -->
        	</table>  
        	
        	<table class="stripedtable">
              <tr>
               	<td width="25">
            		<input class="toggleCheckboxes" type="checkbox" data-target_class="stationery_ids" />
               	</td>
            	<td>
            	 <input type="submit" class="small_button" value="Delete Checked" />
            	 </td>
            	</tr>
            </table>
        	
        	</form>
        
        <!-- tmpl_else -->
        	<div data-alert class="alert-box success radius">>
        		<p>
        			There are currently no saved stationery. 
        		</p>
        	</div> 
        <!-- /tmpl_if --> 
	</div>
	
	
	<div id="schedules">

        <!-- tmpl_if expr="(num_schedules > 0)" --> 
	
        	<!-- tmpl_if active_schedule_index -->

                <h2>Active Schedules</h2> 
            
            <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
                <input type="hidden" name="flavor" value="delete_drafts" /> 
            
            
            	<table class="stripedtable">
            		<tr>
            			<th>
            				<p>&nbsp;</p>
            			</th>
            			<!-- 
            				<th>
            					<p>ID</p>
            				</th>
            			--> 
                        <th> 
                            <p>
                                <strong>
                                    Sending On/Between
                                </strong>
                            </p>
                        </td>
            			<th>
            				<p>
            					<strong>
            						Subject
            					</strong>
            				</p> 
            			</td>
            			<th>
            				<p>
            					<strong>
            						Last Modified
            					</strong>
            				</p> 
            			</th>
            			<th>
            				<p>
            					<strong>
            						Screen
            					</strong>
            				</p> 
            			</th>
            			<th>
            				<p>&nbsp;</p>
            				</p> 
            			</th>
            		</tr> 
             	<!-- tmpl_loop active_schedule_index --> 
         	    
            		    <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
                			<td>
                    		    <input type="checkbox" class="asched_ids" name="draft_ids" value="<!-- tmpl_var id escape="HTML" -->" />
                			</td>
                			<!-- 
                				<td>
                					<p><!-- tmpl_var id --></p>
                				</td>
                			--> 
                			<td>
                                <!-- tmpl_if expr="(schedule_type eq 'single')" --> 
        						    <!-- tmpl_var schedule_single_displaydatetime -->
        						<!-- tmpl_else --> 
        						    <!-- tmpl_var schedule_recurring_displaydatetime_start --> - <!-- tmpl_var schedule_recurring_displaydatetime_end -->
        						<!-- /tmpl_if -->
                			</td>
                			<td>
                				<p>
            						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
            							<!-- tmpl_var Subject escape="HTML" -->
            						</a>
                				</p> 
                			</td>
                			<td>
                				<p>
                					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
                						<!-- tmpl_var last_modified_timestamp --> 
                					</a>
                				</p> 
                			</td>
                			<td>
                					<p>
                						<!-- tmpl_if expr="(screen eq 'send_email')" --> 
                							Send a Message
                						<!-- /tmpl_if --> 
                						<!-- tmpl_if expr="(screen eq 'send_url_email')" --> 
                							Send a Webpage
                						<!-- /tmpl_if --> 
                					</p> 
                			</td>
                            <td>
                					 <input 
                					    type="button" 
                					    name="" 
                					    value="Edit..." 
                					    class="processing" 
                					    onClick="window.location='<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->&draft_role=schedule'" 
                					  />  
                				</p> 
                			</td>

                		</tr> 
            	<!-- /tmpl_loop -->
            	</table> 
            	<table class="stripedtable">
                  <tr>
                   	<td width="25">
                		<input class="toggleCheckboxes" type="checkbox" data-target_class="asched_ids" />
                   	</td>
                	<td>
                	 <input type="submit" class="small_button" value="Delete Checked" />
                	 </td>
                	</tr>
                </table>
            </form>
            
            	
            <!-- /tmpl_if --> 
            
        	<!-- tmpl_if inactive_schedule_index -->
                    <h2>Inactive Schedules</h2> 

                <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
                    <input type="hidden" name="flavor" value="delete_drafts" /> 


                	<table class="stripedtable">
                		<tr>
                			<th>
                				<p>&nbsp;</p>
                			</th>
                			<!-- 
                				<th>
                					<p>ID</p>
                				</th>
                			--> 
                            <th> 
                                <p>
                                    <strong>
                                        Sending On/Between
                                    </strong>
                                </p>
                            </td>
                			<th>
                				<p>
                					<strong>
                						Subject
                					</strong>
                				</p> 
                			</td>
                			<th>
                				<p>
                					<strong>
                						Last Modified
                					</strong>
                				</p> 
                			</th>
                			<th>
                				<p>
                					<strong>
                						Screen
                					</strong>
                				</p> 
                			</th>
                			<th>
                				<p>&nbsp;</p>
                				</p> 
                			</th>
                		</tr> 
                 	<!-- tmpl_loop inactive_schedule_index --> 

                		    <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
                    			<td>
                        		    <input type="checkbox" class="iasched_ids" name="draft_ids" value="<!-- tmpl_var id escape="HTML" -->" />
                    			</td>
                    			<!-- 
                    				<td>
                    					<p><!-- tmpl_var id --></p>
                    				</td>
                    			--> 
                    			<td>

                                        <!-- tmpl_if expr="(schedule_type eq 'single')" --> 
                						    <!-- tmpl_var schedule_single_displaydatetime -->
                						<!-- tmpl_else --> 
                						    <!-- tmpl_var schedule_recurring_displaydatetime_start --> - <!-- tmpl_var schedule_recurring_displaydatetime_end -->
                						<!-- /tmpl_if -->

                    			</td>
                    			<td>
                    				<p>
                						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
                							<!-- tmpl_var Subject escape="HTML" -->
                						</a>
                    				</p> 
                    			</td>
                    			<td>
                    				<p>
                    					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
                    						<!-- tmpl_var last_modified_timestamp --> 
                    					</a>
                    				</p> 
                    			</td>
                    			<td>
                    					<p>
                    						<!-- tmpl_if expr="(screen eq 'send_email')" --> 
                    							Send a Message
                    						<!-- /tmpl_if --> 
                    						<!-- tmpl_if expr="(screen eq 'send_url_email')" --> 
                    							Send a Webpage
                    						<!-- /tmpl_if --> 
                    					</p> 
                    			</td>
                                <td>
                    					 <input 
                    					    type="button" 
                    					    name="" 
                    					    value="Edit..." 
                    					    class="processing" 
                    					    onClick="window.location='<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var screen escape="HTML" -->&restore_from_draft=true&draft_id=<!-- tmpl_var id -->&draft_role=schedule'" 
                    					  />  


                    				</p> 
                    			</td>

                    		</tr> 
                	<!-- /tmpl_loop -->
                	</table> 
                	<table class="stripedtable">
                      <tr>
                       	<td width="25">
                    		<input class="toggleCheckboxes" type="checkbox" data-target_class="iasched_ids" />
                       	</td>
                    	<td>
                    	 <input type="submit" class="small_button" value="Delete Checked" />
                    	 </td>
                    	</tr>
                    </table>
                </form>
                
            <!-- /tmpl_if --> 

        <!-- tmpl_else -->
        	<div data-alert class="alert-box success radius">>
        		<p>
        			There are currently no saved message Schedules. 
        		</p>
        	</div> 
        <!-- /tmpl_if --> 

    </div> 
</div> 

<!-- end drafts.tmpl -->
