<!-- begin drafts.tmpl -->

<!-- tmpl_set name="title" value="Mass Mailing &#187; Drafts/Stationery/Schedules" -->

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				 Mass Mailing 
			 </a>
	 	    <a href="#" class="current">
				All Drafts/Stationery/Schedules
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<div id="drafts_screen"></div> 
<div id="screen_meta" data-menu_highlight="drafts"></div>

<form>
	<input type="hidden" name="s_program_url" id="s_program_url" value="<!-- tmpl_var s_program_url -->">
<!-- tmpl_if delete_draft --> 
	<div data-alert class="alert-box success radius">
			Message Deleted. 
			<a href="#" class="close">&times;</a>
	</div> 
<!-- /tmpl_if --> 



    
<ul class="tabs" data-tab role="tablist">
	
	<li class="tab-title active">
		<a href="#drafts">
			Drafts (<!-- tmpl_var num_drafts default="0" -->)
		</a>
	</li>
	<li class="tab-title">
		<a href="#stationery">
			Stationery (<!-- tmpl_var num_stationery default="0" -->)
		</a>
	</li class="tab-title">
	<li class="tab-title">
		<a href="#schedules">
			Schedules (<!-- tmpl_var num_schedules default="0" -->)
		</a>
	</li>
</ul> 
	
	<div class="tabs-content">	
		<div class="content tab-title active" id="drafts">		
	    <div class="alert-box info radius">
            <strong>
            Drafts
            </strong> 
            are unfinished messages that haven't been sent out. 
            Once a drafted message is sent out as a mass mailing, the draft message will also
            be removed.
		</div>

        <!-- tmpl_if draft_index --> 

		<div class="clearfix">
			<div class="clearfix">
				<ul class="button-group right">
				    <li>
						<a 
							href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=draft"
							class="small button"
						>
							<i class="fi-plus"></i> New Draft
						</a>
					</li>
				</ul>
			</div>
		</div>
		
        <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
            <input type="hidden" name="flavor" value="delete_drafts" > 
        
        	<table style="width:100%" class="responsive tablesorter" id="sortable_table_drafts">
        			<thead> 
					<th>
        				<p>&nbsp;</p>
        			</th>
        			
        			<th>
        				<p>
        					<strong>
        						Subject
        					</strong>
        				</p> 
        			</th>
					
        			<th>
        				<p>
        					<strong>
        						Created
        					</strong>
        				</p> 
        			</th>
					
        			<th>
        				<p>
        					<strong>
        						Last Modified
        					</strong>
        				</p> 
        			</th>
					
        			<th>
        				&nbsp;
        			</th>
					
        			<th>
        				&nbsp;
        			</th>
				</thead> 
				<tbody> 
        		</tr> 
         	<!-- tmpl_loop draft_index --> 
        		<tr>
        			
        			<td>
            		    <input type="checkbox" class="draft_ids" name="draft_ids" value="<!-- tmpl_var id escape="HTML" -->" >
        			</td>

        			<td>
        				<p>
    						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=draft&draft_id=<!-- tmpl_var id -->">
    							<!-- tmpl_if Subject -->
									<!-- tmpl_var Subject escape="HTML" -->
    							<!-- tmpl_else -->
									(no Subject)
								<!-- /tmpl_if -->
							</a>
        				</p> 
        			</td>
					
					<td>
						<p>
							<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=draft&draft_id=<!-- tmpl_var id -->">
								<!-- tmpl_var created_timestamp --> 
							</a>
						</p> 
					</td>
					
        			<td>
        				<p>
        					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=draft&draft_id=<!-- tmpl_var id -->">
        						<!-- tmpl_var last_modified_timestamp --> 
        					</a>
        				</p> 
					</td>
					
					<td>
						<input type="button" class="small button show_preview" data-draft_id="<!-- tmpl_var id -->" data-draft_role="draft" value="Preview">
			
					</td>
					
        			<td>
						<a 
							href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=draft&draft_id=<!-- tmpl_var id -->" class="small button success"
							class="small button success"
						> 
							<i class="fi-page-edit"></i> Edit
						</a> 
				    </td>
        		</tr> 
        	<!-- /tmpl_loop -->
        	</table>  
        	
        	<table  style="width:100%" class="responsive">
              <tr>
               	<td width="25">
            		<input class="toggleCheckboxes" type="checkbox" data-target_class="draft_ids" >
               	</td>
            	<td>
            	 <button 
				 	type="submit" 
					class="button small alert"
				 >
						<i class="fi-x"></i> Delete Checked
				  </button>
            	 </td>
            	</tr>
			</tbody> 
            </table>
            </form>
            
        <!-- tmpl_else -->
        	<div class="alert-box info radius">
				
				<em>No Saved Drafts.</em>
				<br>
				<br>	
					<a 
						href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=draft"
						class="large button expand"
					>
						<i class="fi-plus"></i> New Draft
					</a>

        	</div> 
        <!-- /tmpl_if --> 
        
		<div class="clearfix">
			<div class="clearfix">
				<ul class="button-group right">
				    <li>
						<a 
							href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=draft"
							class="small button"
						>
							<i class="fi-plus"></i> New Draft
						</a>
					</li>
				</ul>
			</div>
		</div>
			
		
	</div> 
	
	<div class="content tab-title" id="stationery">
	    <div class="alert-box info radius">
            <p> 
				<strong>
          		  Stationery
			    </strong> 
	            are messages that you may use to begin writing new mailing list messages with. They'll 
	            stay around, so that you'll be able to continue to use them as many times as you would like.
			</p>

	        <p>
	             Once you create a new message from the stationery, it will itself be saved as a draft, 
	            that you may continue to edit, separate from the original stationery.
	        </p>
		</div> 
		
        <!-- tmpl_if stationery_index --> 

        <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
            <input type="hidden" name="flavor" value="delete_drafts" > 
        
        	<table  style="width:100%" class="responsive">

        		<tr>
        			<th>
        				<p>&nbsp;</p>
        			</th>

					<th>
        				<p>&nbsp;</p>
        			</th>
        			<th>
        				<p>
        					<strong>
        						Subject
        					</strong>
        				</th> 
        			</td>

        			<th>
        				<p>
        					<strong>
        						Created
        					</strong>
        				</p> 
        			</th>

        			<th>
        				<p>
        					<strong>
        						Last Modified
        					</strong>
        				</p> 
        			</th>

        			<th>
        				<p>&nbsp;</p>
        				</p> 
        			</th>

        			<th>
        				<p>&nbsp;</p>
        				</p> 
        			</th>

        		</tr> 


         	<!-- tmpl_loop stationery_index --> 
        		<tr>
                    <td>
            		    <input type="checkbox" class="stationery_ids" name="draft_ids"  value="<!-- tmpl_var id escape="HTML" -->" >
        			</td>
        			<td>			    
                        <input 
                            type="button" 
                            name=""
                            value="New Draft From Stationery" 
                            class="success button" 
                            onClick="window.location='<!-- tmpl_var S_PROGRAM_URL -->?flavor=create_from_stationery&screen=send_email&draft_id=<!-- tmpl_var id -->'"
                         >  
                    </td>
        			<td>
        				<p>
    						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=stationery&draft_id=<!-- tmpl_var id -->" >
    							<!-- tmpl_if Subject -->
									<!-- tmpl_var Subject escape="HTML" -->
    							<!-- tmpl_else -->
									(no Subject)
								<!-- /tmpl_if -->
    						</a>
        				</p> 
        			</td>
					
					<td>
						<p>
							<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=stationery&draft_id=<!-- tmpl_var id -->">
								<!-- tmpl_var created_timestamp --> 
							</a>
						</p> 
					</td>
					
					
        			<td>
        				<p>
        					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=stationery&draft_id=<!-- tmpl_var id -->">
        						<!-- tmpl_var last_modified_timestamp --> 
        					</a>
        				</p> 
        			</td>
					
					<td>
						<input type="button" class="small button show_preview" data-draft_id="<!-- tmpl_var id -->" data-draft_role="stationery" value="Preview">
			
					</td>
					
					
                    <td>
                    	<a 
							href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=stationery&draft_id=<!-- tmpl_var id -->"
							class="small button success"
						>
							<i class="fi-page-edit"></i> Edit
						</a>	
						
                    </td>


        		</tr> 
        	<!-- /tmpl_loop -->
        	</table>  
        	
        	<table  style="width:100%" class="responsive">
              <tr>
               	<td width="25">
            		<input class="toggleCheckboxes" type="checkbox" data-target_class="stationery_ids" >
               	</td>
            	<td>
            	 <button
				 	type="submit" 
					class="button small alert" 
					>
						<i class="fi-x"></i> Delete Checked
				 </button>
            	 </td>
            	</tr>
            </table>
        	
        	</form>
        
        <!-- tmpl_else -->
        	<div class="alert-box info radius">
        			There are currently no saved stationery. 
        	</div> 
        <!-- /tmpl_if --> 
	</div>
	
	<div class="content tab-title" id="schedules">

        <!-- tmpl_if expr="(num_schedules > 0)" --> 
	
        	<!-- tmpl_if active_schedule_index -->

                <h3>Active Schedules</h3> 
            
            <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
                <input type="hidden" name="flavor" value="delete_drafts" > 
            
            
            	<table  style="width:100%" class="responsive">
            		<tr>
            			<th>
            				<p>&nbsp;</p>
            			</th>
						
            			<th>
            				<p>
            					<strong>
            						Subject
            					</strong>
            				</p> 
            			</th>
						
                        <th> 
                            <p>
                                <strong>
                                    Sending On/Between
                                </strong>
                            </p>
                        </th>
            			
            			<th>
            				<p>
            					<strong>
            						Created
            					</strong>
            				</p> 
            			</th>
						
						
						<th>
            				<p>
            					<strong>
            						Last Modified
            					</strong>
            				</p> 
            			</th>
						
            			<th>
            				<p>&nbsp;</p>
            			</th>
						
						
            			<th>
            				<p>&nbsp;</p>
            				</p> 
            			</th>
            		</tr> 
             	<!-- tmpl_loop active_schedule_index --> 
         	    
            		    <tr>
                			<td>
                    		    <input type="checkbox" class="asched_ids" name="draft_ids" value="<!-- tmpl_var id escape="HTML" -->" >
                			</td>


                			<td>
                				<p>
            						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
		    							<!-- tmpl_if Subject -->
											<!-- tmpl_var Subject escape="HTML" -->
		    							<!-- tmpl_else -->
											(no Subject)
										<!-- /tmpl_if -->
            						</a>
                				</p> 
                			</td>
							
                			<td>
								<p>
            						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule">									
		                                <!-- tmpl_if expr="(schedule_type eq 'single')" --> 
		        						    <!-- tmpl_var schedule_single_displaydatetime -->
		        						<!-- tmpl_else --> 
		        						    <!-- tmpl_var schedule_recurring_displaydatetime_start --> - <!-- tmpl_var schedule_recurring_displaydatetime_end -->
		        						<!-- /tmpl_if -->
									</a>
								</p>
                			</td>
                			
							
							<td>
								<p>
									<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_role=schedule&draft_id=<!-- tmpl_var id -->">
										<!-- tmpl_var created_timestamp --> 
									</a>
								</p> 
							</td>
							
							
							
                			<td>
                				<p>
                					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
                						<!-- tmpl_var last_modified_timestamp --> 
                					</a>
                				</p> 
                			</td>
							
							<td>
								<input 
									type="button" 
									class="small button show_preview" 
									data-draft_id="<!-- tmpl_var id -->" 
									data-draft_role="schedule" 
									value="Preview"
								>
			
							</td>
							
							
						
                            <td>
								<a 
								href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule" 
								class="small button success" 
								>
									<i class="fi-page-edit"></i> Edit
								</a>
                			</td>

                		</tr> 
            	<!-- /tmpl_loop -->
            	</table> 
            	<table  style="width:100%" class="responsive">
                  <tr>
                   	<td width="25">
                		<input class="toggleCheckboxes" type="checkbox" data-target_class="asched_ids" >
                   	</td>
                	<td>
                	 <button type="submit" class="button small alert">
						 <i class="fi-x"></i> Delete Checked
					</button>
                	 </td>
                	</tr>
                </table>
            </form>
            
            	
            <!-- /tmpl_if --> 
            
        	<!-- tmpl_if inactive_schedule_index -->
                    <h3>Inactive Schedules</h3> 

                <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
                    <input type="hidden" name="flavor" value="delete_drafts" > 


                	<table  style="width:100%" class="responsive">
                		<tr>
                			<th>
                				<p>&nbsp;</p>
                			</th>
							
                			<th>
                				<p>
                					<strong>
                						Subject
                					</strong>
                				</p> 
                			</th>
							
                			
                            <th> 
                                <p>
                                    <strong>
                                        Sending On/Between
                                    </strong>
                                </p>
                            </th>

                			<th>
                				<p>
                					<strong>
                						Created
                					</strong>
                				</p> 
                			</th>
							
                			<th>
                				<p>
                					<strong>
                						Last Modified
                					</strong>
                				</p> 
                			</th>

                			<th>
                				<p>&nbsp;</p>
                				</p> 
                			</th>
							
                			<th>
                				<p>&nbsp;</p>
                				</p> 
                			</th>
                		</tr> 
                 	<!-- tmpl_loop inactive_schedule_index --> 

                		    <tr>
                    			<td>
                        		    <input type="checkbox" class="iasched_ids" name="draft_ids" value="<!-- tmpl_var id escape="HTML" -->" >
                    			</td>
                    			
                    			<td>
                    				<p>
                						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
			    							<!-- tmpl_if Subject -->
												<!-- tmpl_var Subject escape="HTML" -->
			    							<!-- tmpl_else -->
												(no Subject)
											<!-- /tmpl_if -->
                						</a>
                    				</p> 
                    			</td>
								
                    			<td>
            						<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule">									
                                        <!-- tmpl_if expr="(schedule_type eq 'single')" --> 
                						    <!-- tmpl_var schedule_single_displaydatetime -->
                						<!-- tmpl_else --> 
                						    <!-- tmpl_var schedule_recurring_displaydatetime_start --> - <!-- tmpl_var schedule_recurring_displaydatetime_end -->
                						<!-- /tmpl_if -->
									</a>

                    			</td>
								
                    			<td>
                    				<p>
                    					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
                    						<!-- tmpl_var created_timestamp --> 
                    					</a>
                    				</p> 
                    			</td>
								
    
                    			<td>
                    				<p>
                    					<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule">
                    						<!-- tmpl_var last_modified_timestamp --> 
                    					</a>
                    				</p> 
                    			</td>
								
					
								<td>
									<input 
										type="button" 
										class="small button show_preview" 
										data-draft_id="<!-- tmpl_var id -->" 
										data-draft_role="schedule" 
										value="Preview"
									>
			
								</td>
								
								
                                <td>
									<a
										href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=send_email&draft_id=<!-- tmpl_var id -->&draft_role=schedule"
										class="small button success"
									>
										<i class="fi-page-edit"></i> Edit
									</a>
                    			</td>

                    		</tr> 
                	<!-- /tmpl_loop -->
                	</table> 
                	<table  style="width:100%" class="responsive">
                      <tr>
                       	<td width="25">
                    		<input class="toggleCheckboxes" type="checkbox" data-target_class="iasched_ids" >
                       	</td>
                    	<td>
                    	 <button 
						 	type="submit" 
							class="button small alert"
						>
							 <i class="fi-x"></i> Delete Checked
						</button>
                    	 </td>
                    	</tr>
                    </table>
                </form>
                
            <!-- /tmpl_if --> 

        <!-- tmpl_else -->
        	<div class="alert-box info radius">
        		<p>
        			There are currently no saved message Schedules. 
        		</p>
        	</div> 
        <!-- /tmpl_if --> 
	</div> 
</div> 

<!-- end drafts.tmpl -->