<!-- begin edit_html_type_screen.tmpl -->

<!-- tmpl_set name="title" value="Appearance and Templates &#187; HTML Screen Templates" -->
<div id="screen_meta" data-menu_highlight="edit_html_type"></div>

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Appearance and Templates
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				HTML Screen Templates
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<div class="alert-box info radius">
	<p>
	 You may customize many of the HTML screens 
	 <!-- tmpl_var PROGRAM_NAME --> produces specifically for your Mailing List.
	</p>

	<p> <!-- tmpl_var PROGRAM_NAME --> uses 
	 template tags to represent data that may change regularly. 
	 A list of relevant tags is shown at the end of this screen.
	</p>
</div>

<form 
	action="<!-- tmpl_var S_PROGRAM_URL -->" 
	method="post" 
	name="default_form" 
	accept-charset="<!-- tmpl_var HTML_CHARSET -->"
>
	<input type="hidden" name="process" value="1">
	<input type="hidden" name="flavor"  value="edit_html_type">
	
	<fieldset> 
		<legend>
			Subscription Confirmation
		 </legend>
		<div class="alert-box info radius">
			<!-- tmpl_if list_settings.enable_closed_loop_opt_in --> 
				Closed-Loop Opt-In is enabled.
			<!-- tmpl_else --> 
				Closed-Loop Opt-In  is disabled.
			<!-- /tmpl_if --> 
		</div>
		<textarea 
			name="html_confirmation_message" 
			id="html_confirmation_message" 
			rows="10" 
			cols="50"
		><!-- tmpl_var list_settings.html_confirmation_message --></textarea> 
	</fieldset> 

	<fieldset> 
		<legend>
			Subscription Successful
		</legend>
		<textarea 
			name="html_subscribed_message"
			id="html_subscribed_message"
			rows="10"
			cols="50"
		><!-- tmpl_var list_settings.html_subscribed_message --></textarea>
	</fieldset> 
	
	<fieldset>
		<legend>
			Subscription Requests
		</legend>
		<div class="alert-box info radius">
			<!-- tmpl_if list_settings.enable_subscription_approval_step --> 
				Subscription Requests Approving/Denying is enabled.
			<!-- tmpl_else --> 
				Subscription Requests Approving/Denying is disabled.
			<!-- /tmpl_if --> 
		</div>
		<textarea 
			name="html_subscription_request_message"
			id="html_subscription_request_message"
			rows="10"
			cols="50"
		><!-- tmpl_var list_settings.html_subscription_request_message --></textarea>
	</fieldset> 

	
	<fieldset>
		<legend>
			Unsubscription Successful
		</legend>
		<textarea 
			name="html_unsubscribed_message" 
			id="html_unsubscribed_message" 
			rows="10" 
			cols="50"
		><!-- tmpl_var list_settings.html_unsubscribed_message --></textarea>
	</fieldset> 

	<div class="clearfix">
		<ul class="button-group right">
		    <li>
				<input type="reset" class="cautionary button" value="Clear All Changes">
			</li>
			<li>
				<input type="submit" class="processing button" value="Save All Changes">
			</li>
		</ul>
	</div>
</form>

<fieldset>
	<legend>
	Available Template Tags
   </legend>    
   
<table class="responsive" width="100%">
 <tr class="text-center">
  <th>
    This Tag
  </th>
  <th>
    Value
  </th>
 </tr>

 <tr>
  <td>
   <code>&lt;!-- tmpl_var chrome --&gt;</code>
  </td>
  <td>
	This variable is set to, B<1>, if the message is shown in <!-- tmpl_var PROGRAM_NAME -->'s own layout, 
	and set to, B<0> if the message is instead shown alone in a modal window. 
  </td>
 </tr>

 <tr>
  <td>
   <code>&lt;!-- tmpl_var  subscriber.email --&gt;</code>
  </td>
  <td>
   The email address of the subscriber.
  </td>
 </tr>
 <tr>
  <td>
   <code>&lt;!-- tmpl_var  list_settings.list_name --&gt;</code>
  </td>
  <td>
   The name of your list.
  </td>
 </tr>
 <tr>
  <td>
   <code>&lt;!-- tmpl_var  list_settings.info --&gt;</code>
  </td>
  <td>
   The description of your list.
  </td>
 </tr>
 <tr>
  <td>
   <code>&lt;!-- tmpl_var  list_settings.privacy_policy --&gt;</code>
  </td>
  <td>
   The privacy policy of your list.
  </td>
 </tr>
 <tr>
  <td>
   <code>&lt;!-- tmpl_var  list_settings.list_owner_email --&gt;</code>
  </td>
  <td>
   The list owner's email address.
  </td>
 </tr>
 <tr>
  <td>
   <code>&lt;!-- tmpl_var  list_settings.admin_email --&gt;</code>
  </td>
  <td>
   The list administrator's email address.
  </td>
 </tr>
 <tr>
  <td>
   <code>&lt;!-- tmpl_var  PROGRAM_URL --&gt;</code>
  </td>
  <td>
   The URL of the program 
   (<a href="<!-- tmpl_var PROGRAM_URL -->" target="_blank"><!-- tmpl_var PROGRAM_URL --></a>).
  </td>
 </tr>
</table>

</fieldset> 


 

<!-- end edit_html_type_screen.tmpl -->
 
