<!-- begin email_themes_screen.tmpl -->

<!-- tmpl_set name="title" value="Appearance &#187; Email Themes" -->
<div id="screen_meta" data-menu_highlight="email_themes"></div>
<div id="email_themes_screen"></div> 


<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Appearance
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Email Themes
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->


<!-- tmpl_if GIVE_PROPS_IN_ADMIN -->
		<p class="text-center">
			<a href="http://dadamailproject.com/purchase/pro.html" target="_blank" class="button success">
				<em>
					Upgrade to <strong>Pro Dada</strong> for over a dozen+ more included email themes!
					</em>
				</a>
		</p>
<!-- /tmpl_if -->

<form> 
	<input type="hidden" id="s_program_url" name="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL_base64_encoded -->" > 
</form> 

<form 
	action="<!-- tmpl_var S_PROGRAM_URL -->" 
	method="post" 
	name="default_form" 
	id="default_form" 
	accept-charset="<!-- tmpl_var HTML_CHARSET -->"
>
	<input type="hidden" name="process" value="1">
	<input type="hidden" name="flavor"  value="email_themes">
	
	<div class="row collapse">
		
		<div class="large-6 small-12 columns">
			<label for="email_theme_name">
				<!-- tmpl_var email_theme_name_widget -->
			</label>
		</div>
		<div class="large-6 small-12 columns">
			<!-- tmpl_include common_save_list_settings_buttons_widget.tmpl -->
		</div>	
	</div>
	
	<div style=" min-height:100vh">
		<iframe style="width: 100%;height: 100vh;position: relative;" id="preview_window" frameborder="0" allowfullscreen style="border:1px solid black"></iframe>
	</div>
	

</form>

<!-- end email_themes_screen.tmpl -->
