<!-- begin error_black_listed_screen.tmpl --> 

<!-- tmpl_set name="title" value="You Are Unable to Subscribe" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<!-- tmpl_unless chrome --> 
	<h1><!-- tmpl_var title --></h1>
<!-- /tmpl_unless --> 

<p>It seems that your email address, 

	<blockquote>
		<p>
			<strong>
			 <!-- tmpl_var email -->
			</strong>
		</p>
	</blockquote> 
	
May not be allowed to subscribe to:</p>

<blockquote>
	<p>
		<strong>
		 <!-- tmpl_var list_settings.list_name -->
		</strong>
	</p>
</blockquote> 

<p>For one reason or another. This list may be closed to particular participants.</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_black_listed_screen.tmpl --> 
