<!-- begin error_token_problem_screen -->
<p>Your confirmation link doesn't seem to be working.</p> 

<p>This may be because:</p> 

<ul> 
	<li>
		<p>
			It's been visiting already - have you already been confirmed?
		</p>
	</li>
	<li>
		<p>
			Was the entire confirmation link followed? 
		</p>
	</li>

</ul>
<!-- end error_token_problem_screen -->