<!-- begin error_invite_only_screen.tmpl --> 

<!-- tmpl_set name="title" value="Sorry: Invitation Only" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<!-- tmpl_unless chrome --> 
	<h1><!-- tmpl_var title --></h1>
<!-- /tmpl_unless --> 


<p>
	This mailing List can only be subscribed to by invitation. 
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_invite_only_screen.tmpl --> 
