<!-- begin error_over_subscription_quota_screen.tmpl --> 

<!-- tmpl_set name="title" value="Unable to Subscribe" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 This Mailing List currently cannot have any more subscribers.
</p>

<!--- tmpl_var list_settings.list_name --><

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_over_subscription_quota_screen.tmpl --> 
