<!-- begin error_invalid_root_password_screen.tmpl --> 

<!-- tmpl_set name="title" value="Your Root Password is Incorrect" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
The root password you gave me didn't match up to the one one I have for 
your <!-- tmpl_var PROGRAM_NAME --> script.
</p>

<!-- tmpl_unless DISABLE_OUTSIDE_LOGINS -->

	<p>
	 Please try again:
	</p> 

	<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
	<p><strong>Root Password</strong><br /> 
	 <input type="hidden" name="flavor" value="new_list" />
	 <input type="password" name="root_password" maxlength="24" /> 
	 <input type="submit" class="plain" value="log in as <!-- tmpl_var PROGRAM_NAME --> root" /> 
	</p>
	</form>

<!-- /tmpl_unless -->


<!-- end error_invalid_root_password_screen.tmpl --> 
