<!-- begin error_invalid_password_screen.tmpl --> 

<!-- tmpl_set name="title" value="Your Mailing List Login Was Not Valid" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

	<p>
	The Mailing List Password you've entered to Log Into: 
	</p> 

	<ul>
		<li><p><!-- tmpl_var list_settings.list_name --></p></li>
	</ul> 
	
	<p>was not validated correctly. Make sure:</p>

	<ul>
		<li>
			<p>
				You've entered the Mailing List Password correctly. 
			</p>
		</li>
		<li>
			<p>
			Browser, Cookies, Firewall settings permit you to log in successfully
			</p>
		</li>
	
	</ul>

<!-- tmpl_unless DISABLE_OUTSIDE_LOGINS --> 

    <fieldset>
	 <legend>
		 Log Into <!-- tmpl_var list_settings.list_name -->
	 </legend>
 	
    <p style="text-align:center">
		     Enter Your
		     <label for="admin_password">
		      Mailing List Password:
		     </label>
		    </p>
		
	<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
     <input type="hidden" name="flavor" value="login" />
     <input type="hidden" name="admin_list" value="<!-- tmpl_var list_settings.list -->" />
	 <input type="hidden" name="referer" value="<!-- tmpl_var ENV_SCRIPT_URI -->" /><!-- DEV: perhaps even switch this out with js? --> 


    <p style="text-align:center">

      <input type="password" name="admin_password" id="admin_password" maxlength="24" /> 
      <input type="submit" class="plain" value="Login" />
     </p>
    </form> 
   </fieldset> 


<!-- /tmpl_unless --> 

<fieldset>
 <legend>
	 Reset Your Mailing List Password
 </legend>

<p>
 Resetting the Mailing List Password for this Mailing List will require email confirmation by the List Owner. 
</p>

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
 <input type="hidden" name="flavor" value="email_password" />
 <input type="hidden" name="list" value="<!-- tmpl_var list_settings.list -->" />
    
 	<!-- tmpl_if can_use_captcha --> 
	    <!-- tmpl_if invalid_captcha --> 
            <div class="badweatherbox"> 
    			<p>
    				<strong>
    					CAPTCHA Failed. 
    				</strong>
    			</p>
    			<p>Please try again, to solve the CAPTCHA below:</p>
    		</div> 
    		
        <!-- /tmpl_if -->
	
		<p> 
		 Please type in the string of letters that you see in the below image into the text box:
		</p>

		<!-- tmpl_var CAPTCHA_string --> 
	<!-- tmpl_else --> 
		<!-- 
			<p>
			Can't use CAPTCHA.
		</p>
		-->  
	<!-- /tmpl_if --> 


 <p align="center">
  <input type="submit" class="cautionary" value="Reset Your Mailing List Password" />
 </p>
</form> 

</fieldset>

<!-- end error_invalid_password_screen.tmpl --> 
