<!-- begin error_closed_list_screen.tmpl --> 

<!-- tmpl_set name="title" value="Unable to Subscribe" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 This list you are trying to subscribe to is closed. Only the list administrator can 
subscribe people to the list.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_closed_list_screen.tmpl --> 
