<!-- begin error_invalid_email_screen.tmpl --> 

<!-- tmpl_set name="title" value="Invalid Email Address" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 The address you gave, 
 <strong>
  <!-- tmpl_var subscriber.email -->
 </strong>, 
doesn't seem to pass verification. It's possible that you just typed it in
incorrectly. You may 
<a href="#" onclick="history.back(); return false">
	go back
</a> 
and resubmit your address, or use the form below:</p> 

<!-- tmpl_var subscription_form --> 

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_invalid_email_screen.tmpl --> 
