<!-- begin error_not_on_sub_confirm_list_screen.tmpl -->

<!-- tmpl_set name="title" value="Problems with Subscribing" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 The subscription confirmation did not complete correctly. This may be because:
</p>

<ul> 
 <li>
	You've attempted to subscribe to a list (even when using a valid pin), without first asking for a confirmation.
 </li>	
</ul> 

<!-- tmpl_var subscription_form --> 

<!-- tmpl_include error_footer_widget.tmpl -->


<!-- end error_not_on_sub_confirm_list_screen.tmpl -->
