<!-- begin error_logged_into_different_list_screen -->

<!-- tmpl_set name="title" value="You're logged into a different Mailing List!" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 Please log out of your current list, before logging into a new list. 
</p>

<ul>

<li>
 <a href="<!-- tmpl_var DEFAULT_ADMIN_SCREEN -->">Click Here to Return to the control panel of Your Current List.</a>
</li>

 <li>
  <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=logout">Click Here To Logout of Your Current List.</a>
</li>

</ul> 



<!-- end error_logged_into_different_list_screen -->
