<!-- begin error_mx_lookup_failed.screen.tmpl --> 

<!-- tmpl_set name="title" value="Invalid Email Address" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<!-- tmpl_unless chrome --> 
	<h1><!-- tmpl_var title --></h1>
<!-- /tmpl_unless --> 


<p>The email address you gave,</p>

<blockquote>
 <p>
  <strong>
	 <!-- tmpl_var subscriber.email -->
 	
</strong> 
</p>
</blockquote> 
 
<p>doesn't seem to pass our verification because we couldn't find the hostname.
It's possible that you just typed it in
incorrectly.

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_mx_lookup_failed.screen.tmpl --> 
