<!-- begin error_stop_forum_spam_check_failed_screen.tmpl -->

<!-- tmpl_set name="title" value="You're Already Subscribed!" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<!-- tmpl_unless chrome --> 
	<h3>Blocked.</h3>
<!-- /tmpl_unless --> 

<p>
	Your email address or location has been blocked from using this app.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_stop_forum_spam_check_failed_screen.tmpl -->