<!-- begin error_subscribed_screen.tmpl --> 

<!-- tmpl_set name="title" value="You're Already Subscribed!" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<!-- tmpl_unless chrome --> 
	<h1><!-- tmpl_var title --></h1>
<!-- /tmpl_unless --> 


<p>
 Your email address, 
 <strong>
  <!-- tmpl_var subscriber.email --> 
 </strong>
 , has already been subscribed to: 
 <br />
 <br /> 
  <strong>
	<!-- tmpl_var list_settings.list_name --> 
  </strong>

</p>


<!-- tmpl_include error_footer_widget.tmpl -->


<!-- end error_subscribed_screen.tmpl --> 
