<!-- begin error_not_subscribed_screen.tmpl --> 

<!-- tmpl_set name="title" value="You're not subscribed!" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<p>
 Your email address,
</p>

<ul>
 <li>
  <strong>
   <!-- tmpl_var subscriber.email -->
  </strong>
</li>
</ul>

<p>
 is not subscribed to:
</p>
<ul>
 <li>
 <strong>
  <!-- tmpl_var list_settings.list_name -->
 </strong>
</li>
</ul>

<p>
 This may be because:
</p>

<ul>
 <li>You've successfully unsubscribed to this list in the past.</li>
 <li>You clicked the unsubscription confirmation link that was mailed to you, twice.</li>
 <li>The list owner has already unsubscribed your email address.</li>
</ul>

<p>If you would like to unsubscribe from a different mailing list, please visit the <!-- tmpl_var PROGRAM_NAME --> 
	<a href="<!-- tmpl_var PROGRAM_URL -->?email=<!-- tmpl_var email escape="HTML" -->">
	 main screen
	</a>
	, 
    which will have a list of all available lists.
</p>

<p>If you want to subscribe to this list instead, please visit 
<a href="<!-- tmpl_var PROGRAM_URL -->?f=list&amp;l=<!-- tmpl_var list_settings.list escape="HTML"-->&amp;email=<!-- tmpl_var subscriber.email -->">
	this list's main screen
</a>.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->


<!-- end error_not_subscribed_screen.tmpl --> 
