<!-- begin error_mismatch_ip_on_confirm_screen.tmpl --> 

<h1>Almost Done!</h1> 

<p>Please click the button below to complete your confirmation:</p>

<form action="<!-- tmpl_var PROGRAM_URL -->" method="post"> 
<input type="hidden" name="flavor"          value="token" /> 
<input type="hidden" name="token"           value="<!-- tmpl_var t -->" /> 
<input type="hidden" name="simple_test" value="pass" /> 
<p style="text-align:center">	
	<input type="submit"                    value="       &#187; Confirm! &#171;       " class="processing bigger_button" /> 
</p>

</form> 

<!-- end error_mismatch_ip_on_confirm_screen.tmpl --> 