<!-- begin error_token_problem_screen -->
<!-- tmpl_set name="title" value="Yikes! Problems with Confirmation Token" --> 

<p>This may be because:</p> 

<ul> 
	
	<li>
		<p>
			Was the entire confirmation link followed? 
		</p>
	</li>
	
	<li>
		<p>
			Has it been visiting already? Have you already been confirmed?
		</p>
	</li>
	
	<li>
		<p>
			Did you resend a confirmation email? Have you followed the link in the most recent confirmation email? 
		</p>
	</li>
	
	
</ul>
<!-- end error_token_problem_screen -->