<!-- begin error_no_list_password_screen.tmpl --> 

<!-- tmpl_set name="title" value="Problem Logging In" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 Please refer to the error logs for more information.
</p>

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
 <input type="hidden" name="flavor" value="email_password" />
 <input type="hidden" name="list" value="<!-- tmpl_var list_settings.list -->" />
 <p style="text-align:center">
	     Enter in your
	     <label for="admin_password">
	      Mailing List Password:
	     </label>
	    </p>
	
	 <p style="text-align:center">
  <input type="submit" class="cautionary" value="Email <!-- tmpl_var name="list_settings.list_name" ESCAPE="HTML" -->'s List Owner a New Mailing List Password" />
 </p>
</form>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_no_list_password_screen.tmpl --> 
