<!-- begin fancy_print_out_list_widget.tmpl --> 

<!-- tmpl_include view_list_table_widget.tmpl --> 

<p style="text-align:right">
	Total Subscribers: 
	 <strong>
		<!-- tmpl_var count -->
	</strong>
</p>

<!-- end fancy_print_out_list_widget.tmpl --> 

