<!-- begin file_attachments_widget.tmpl --> 

<div id="attachment_widgets"> 

	<p>
		<input readonly="readonly" name="attachment1" id="attachment1" type="text" class="kcfinder_open" value="Select..." style="cursor:pointer" />
		<input type="button" value="x"  class="remove_attachment"  data-attachment="attachment1" />
	</p>

	<p>
		<input readonly="readonly" name="attachment2" id="attachment1" type="text" class="kcfinder_open" value="Select..." style="cursor:pointer" />
		<input type="button" value="x"  class="remove_attachment"  data-attachment="attachment2" />
	</p>
	
	<p>
		<input readonly="readonly" name="attachment3" id="attachment1" type="text" class="kcfinder_open" value="Select..." style="cursor:pointer" />
		<input type="button" value="x"  class="remove_attachment"  data-attachment="attachment3" />
	</p>

</div> 

<!-- end file_attachments_widget.tmpl --> 
