<!-- tmpl_if GIVE_PROPS_IN_HTML -->
	<div class="right">
			<p>
				<a href="http://dadamailproject.com?you_are_beautiful_user" target="_blank">
					<img 
						src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/powered_by_dada_mail.gif" 
						width="278"
						height="75"
						style="border:1px solid black"
					>
				</a>
			</p>   
	</div>
<!-- /tmpl_if -->
