<!-- begin help_link_widget.tmpl --> 

<!-- tmpl_if SHOW_HELP_LINKS --> 
			<a href="<!-- tmpl_var HELP_LINKS_URL -->/<!-- tmpl_var screen -->.html" class="tiny button">
				Help
			</a>
<!-- /tmpl_if --> 

<!-- end help_link_widget.tmpl --> 
