<!-- begin html_code_screen.tmpl -->

<!-- tmpl_set name="title" value="Appearance and Templates &#187; Subscription Form HTML" -->

<div id="screen_meta" data-menu_highlight="html_code"></div>
<div id="html_code"></div>


<div class="row">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Appearance and Templates
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Subscription Form HTML
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>


<ul class="tabs" data-tab>
	<li class="tab-title active">
		<a href="#modal_menu">
			Modal Menu Subscription Form
		</a>
	</li>
	<li class="tab-title">
		<a href="#full">
			Full Subscription Form
		</a>
	</li>
	<li class="tab-title">
		<a href="#minimal">
			Minimal Subscription Form
		</a>
	</li>
</ul>
	
	
	<div class="tabs-content">
		
		<div class="content tab-title active" id="modal_menu"> 
     	   <p>
			   Place the following in the head of your page:
		  </p>       
     	 <textarea cols="50" rows="12"><!-- tmpl_var jquery_head_code escape="HTML" --></textarea>

		<p>Place the following in the body of your page:</p> 
		<textarea cols="50" rows="12"><!-- tmpl_var jquery_body_code escape="HTML" --></textarea>

		<div class="row">
  		  <div class="small-3 small-centered columns">
				 <a 
				 	href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=preview_jquery_plugin_subscription_form"
					class="button processing preview_jquery_plugin_subscription_form"
					target="_blank"
				>
					 	View Working Preview...
 				</a>
  		  </div>
	  </div>
	  
	</div>
	
	<div class="content" id="full"> 
		<p>
			Copy the code in the text box and add it to any page on your site.
		</p>
		<textarea name="code" cols="50" rows="12"><!-- tmpl_var subscription_form escape="HTML" --> </textarea>

	    <fieldset>
	    <legend>
	    Working Preview</legend>
	    <!-- tmpl_var subscription_form  -->
	</div> 

	<div class="content" id="minimal"> 
		<p>
			Copy the code in the text box and add it to any page on your site.
		</p>
	 	<textarea name="min_code" cols="50" rows="12"><!-- tmpl_var minimal_subscription_form --></textarea>
	
		<fieldset>
			<legend>
				Working Preview
		</legend>
		<!-- tmpl_include minimal_subscription_form.tmpl -->
		</fieldset>
	</div> 
	
</div> 
<!-- end html_code_screen.tmpl -->