<!-- begin html_code_screen.tmpl -->

<!-- tmpl_set name="title" value="Appearance and Templates &#187; Subscription Form HTML" -->
<div id="screentitle"> 
	<div id="screentitlepadding">
		Appearance and Templates &#187; Subscription Form HTML
	</div> 
	<!-- tmpl_include help_link_widget.tmpl -->
</div>




<h1>Full Subscription Form</h1>
	
<fieldset>
<legend>
HTML</legend>


 <p>
  Copy the code in the text box and add it to any page on your site.
 </p>

 <textarea name="code" cols="50" rows="12">
    <!-- tmpl_var subscription_form escape="HTML" --> 
 </textarea>
</fieldset>


<fieldset>
<legend>
JavaScript</legend>


<p>
 The embedded JavaScript code will automatically update if you choose to add/remove any Subscriber Profile Fields or change your mailing list preferences.
</p>


<input type="text" class="full" value="&lt;script type=&quot;text/javascript&quot; src=&quot;<!-- tmpl_var PROGRAM_URL -->/subscription_form_js/<!-- tmpl_var list -->/&quot;&gt;&lt;/script&gt;" />

</fieldset>

<fieldset>
<legend>
Working Preview</legend>
<!-- tmpl_var subscription_form  -->

</fieldset> 

<hr /> 

<h1>Minimal Subscription Form</h1> 

	
	<fieldset>
	<legend>
	HTML</legend>

	 <p>
	  Copy the code in the text box and add it to any page on your site.
	 </p>
	 <textarea name="min_code" cols="50" rows="12"><!-- tmpl_var minimal_subscription_form --></textarea>
	</fieldset>
	
	<fieldset>
	<legend>
	Working Preview</legend>
<!-- tmpl_include minimal_subscription_form.tmpl -->
	</fieldset>
	
	






<!-- end html_code_screen.tmpl -->
