<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
 
 <head>
  <title>
   <!-- tmpl_var PROGRAM_NAME --> Archived Message - <!-- tmpl_var header_subject -->
  </title>
  <base target="_parent">
  <style type="text/css" media="all">
   <!--
    /* in lieu of a message's own internal stylesheet, 
       use the program's default CSS: 
    */
    @import "<!-- tmpl_var PROGRAM_URL -->/css";
   -->
  </style>
 </head>
 
 <body>
  
  <div id="archived_message_body">
   <!-- tmpl_var body -->
  </div><!-- ends id="archived_message_body" -->
  
 </body>
 
</html>
