<!-- begin invalid_list_captcha_widget.tmpl -->

<input type="hidden" name="recaptcha_challenge_field" value="<!-- tmpl_var img_str -->" /> 
<div class="row">
	<div class="small-12 columns text-centered"> 
		<img 
			src="<!-- tmpl_var PROGRAM_URL -->/captcha_img/<!-- tmpl_var img_str -->/" 
			width="<!-- tmpl_var img_width -->" 
			height="<!-- tmpl_var img_height -->"
		>
	</div> 
</div>
<div class="row">
	<div class="small-12 columns"> 
		<input 
			type="text" 
			name="recaptcha_response_field"
			id="recaptcha_response_field"
			value=""
			placeholder="CAPTCHA string (case-sensitive)"
		>
	</div> 
</div>  

<!-- end invalid_list_captcha_widget.tmpl -->
