
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery-1.11.3.min.js"></script>

<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/colorbox/colorbox.css">
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/colorbox/jquery.colorbox-min.js"></script>

<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.dadamail.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    
                var targetDiv = '#dada_mail_modal_subscription_form_container';    
                /* Initialize: */
                if($(targetDiv).length) { 
                    $(targetDiv).DadaMail(
                            {
                                targetForm: 'dada_mail_modal_subscription_form'
                            }
                    )
        
                    /* Create the form: */
                    $(targetDiv).DadaMail('Modal');
                }
        });
</script>