
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery-2.2.4.min.js"></script>

<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/colorbox/colorbox.css">
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/colorbox/jquery.colorbox-min.js"></script>

<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.dadamail.js"></script>

<!-- tmpl_if list_settings.enable_captcha_on_initial_subscribe_form -->
	<!-- tmpL_if can_use_Google_reCAPTCHA_v2 -->
	    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
	    <script type="text/javascript">
	         var onloadCallback = function() {
	           grecaptcha.render('subscription_form_gr', {
	             'sitekey' : '<!-- tmpl_var captcha_params_v2_public_key -->'
	           });
	         };
	       </script>
	<!-- /tmpl_if --> 
	<!-- tmpL_if can_use_Google_reCAPTCHA_v3 -->
		<script src="https://www.google.com/recaptcha/api.js?render=<!-- tmpl_var captcha_params_v3_public_key -->"></script>
		<script>
			grecaptcha.ready(function() {
			        grecaptcha.execute('<!-- tmpl_var captcha_params_v3_public_key -->', {action:'ddm'})
			                  .then(function(token) {
						document.getElementById('g-recaptcha-response_sf').value = token;
			        });
			    });
		</script>
	<!-- /tmpl_if --> 	
<!-- /tmpl_if -->
	
<script type="text/javascript">
$(document).ready(function() {
    
                var targetDiv = '#dada_mail_modal_subscription_form_container';    
                /* Initialize: */
                if($(targetDiv).length) { 
                    $(targetDiv).DadaMail(
                            {
                                targetForm: 'dada_mail_modal_subscription_form'
                            }
                    )
        
                    /* Create the form: */
                    $(targetDiv).DadaMail('Modal');
                }
        });
</script>