<!-- begin list_login_form.tmpl -->

<!-- tmpl_set name="title" value="Log into <!-- tmpl_var list_settings.list_name -->" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<form action="<!-- tmpl_var name="S_PROGRAM_URL" -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
 <input type="hidden" name="f"       value="login" />
 <input type="hidden" name="process" value="true" />

 <h1>
  Enter Your List Control Panel
 </h1>
 <p>
	You may use either your <strong>List Password</strong> or <!-- tmpl_var PROGRAM_NAME --> Root Password to to log into the List Control Panel. 
	Your <!-- tmpl_var PROGRAM_NAME --> Root Password will work for all Mailing Lists. 
 </p>

 <table align="center" cellpadding="5">
  <tr>
   <td valign="top">
    <p>
     Enter in your
     <label for="admin_password">
      Password:
     </label>
    </p>
   </td>
  </tr>
  <tr>
   <td valign="top" align="right">
    <input type="hidden"   name="admin_list" value="<!-- tmpl_var list_settings.list -->" style="vertical-align:top;" /><!-- HACK: vertical-align is for IE -->
    <input type="password" name="admin_password" id="admin_password" size="16" maxlength="24" />
    <input type="submit" class="plain" value="Login" />
   </td>
  </tr>
 </table>
 
	 <!-- tmpl_if DISABLE_OUTSIDE_LOGINS --> 
	     <input type="hidden" name="auth_state" value="<!-- tmpl_var auth_state -->" /> 
	 <!--/tmpl_if--> 


 
</form>

<!-- end list_login_form.tmpl -->
