<!-- begin list_subscription_request.tmpl -->

<!-- tmpl_set name="title" value="Your Request For Subscription is Complete" -->

<p>The List Owner for:</p>

<blockquote>
 <p>
  <strong>
   <!-- tmpl_var list_settings.list_name -->
  </strong>
 </p>
</blockquote>

<p>has been notified that you have requested a subscription for:</p>

<blockquote>  
 <p>
  <strong>
  <!-- tmpl_var subscriber.email -->
  </strong>
 </p>
</blockquote> 

<p>An email message will be sent to your address when you have been approved or denied a subscription</p>

<!-- end list_subscription_request.tmpl --> 
