<!-- begin <!-- tmpl_var PROGRAM_NAME --> list_template_header_code_block.tmpl --> 

<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/foundation/app.css?v=<!-- tmpl_var VER escape=URL -->">

<!-- tmpl_if add_app_css -->
    <!-- tmpl_if comment -->
		<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/dada_mail.css?v=<!-- tmpl_var VER escape=URL -->" type="text/css" media="screen" >
	<!-- /tmpl_if -->
<!-- /tmpl_if -->


<!-- tmpl_if include_jquery_lib --> 
	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery-2.1.4.min.js"></script>
<!-- /tmpl_if --> 

<!-- tmpl_if include_app_user_js -->
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/jquery.validate.js?v=<!-- tmpl_var VER escape=URL -->"></script>
    <!-- tmpl_if load_colorbox --> 
    	<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/colorbox/colorbox.css?v=<!-- tmpl_var VER escape=URL -->">
    	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/colorbox/jquery.colorbox-min.js?v=<!-- tmpl_var VER escape=URL -->"></script>
    <!-- /tmpl_if -->
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/dada_mail.user.js?v=<!-- tmpl_var VER escape=URL -->"></script>
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.dadamail.js?v=<!-- tmpl_var VER escape=URL -->"></script>
<!-- /tmpl_if -->

    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/modernizr.js?v=<!-- tmpl_var VER escape=URL -->"></script>


<!-- tmpl_if include_jquery_lib-->
	<script type="text/javascript">
	   var $dm = $.noConflict(true);
	</script>
<!-- /tmpl_if -->
<!-- tmpL_if captcha_on_subscribe_form -->
	   <script src='https://www.google.com/recaptcha/api.js'></script>
<!-- /tmpl_if -->


<!-- tmpl_if list_settings.show_archives --> 
	<!-- tmpl_if list_settings.publish_archives_rss --> 
 		<link rel="alternate" type="application/rss+xml"  title="RSS"  href="<!-- tmpl_var PROGRAM_URL -->/archive_rss/<!-- tmpl_var list_settings.list -->/" >
 		<link rel="alternate" type="application/atom+xml" title="Atom" href="<!-- tmpl_var PROGRAM_URL -->/archive_atom/<!-- tmpl_var list_settings.list -->/" >
	<!-- /tmpl_if --> 
<!-- /tmpl_if -->

<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/dada_mail.css?v=<!-- tmpl_var VER escape=URL -->" type="text/css" media="screen" />

<!-- end <!-- tmpl_var PROGRAM_NAME --> list_template_header_code_block.tmpl --> 
