<!-- begin list_archive_index_screen.tmpl -->

<!-- tmpl_set name="title" value="<!-- tmpl_var list_settings.list_name --> Archives" --> 
<!-- tmpl_set name="load_colorbox" value="1" -->

<!-- tmpl_include list_breadcrumbs_widget.tmpl -->

<!-- tmpl_if allowed_to_view_archives -->
	<!-- tmpl_if list_settings.archive_search_form -->
		<!-- tmpl_include list_archive_search_form_widget.tmpl -->
	<!-- /tmpl_if -->
<!-- /tmpl_if -->

<!-- tmpl_if entries --> 
    <!-- tmpl_include archive_list_widget.tmpl -->
<!-- tmpl_else --> 
	<div class="alert-box info radius">
		There are currently no archived messages.
    </div>
<!-- /tmpl_if -->

<!-- tmpl_include list_page_info_widget.tmpl -->
	
<!-- end list_archive_index_screen.tmpl -->