		<!-- tmpl_if show_profile_widget --> 
			<div class="clearfix">
				<div class="panel right">
					<!-- tmpl_var profile_widget --> 
				</div> 
			</div>
		<!-- /tmpl_if --> 

<div class="row" >
   <div class="small-12 columns" id="list_content_area">
	   
		   <h2>
			   <!-- tmpl_var title -->
		   </h2>
		
		<!-- tmpl_if list_settings.list --> 
			<!-- tmpl_if subscribed_to_list --> 
				<div class="alert-box info radius">
					You are currently subscribed to, 
					<!-- tmpl_var list_settings.list_name -->!
				</div> 
			<!-- /tmpl_if -->
		<!-- /tmpl_if -->

		<!-- tmpl_var content --> 

		<!-- tmpl_if list_settings.website_name --> 
			<!-- tmpl_if list_settings.website_url --> 
				Go back to 
			    <a href="<!-- tmpl_var list_settings.website_url -->">
				  	<!-- tmpl_var list_settings.website_name -->
				</a>
			<!-- /tmpl_if --> 
		<!-- /tmpl_if -->
	</div>
</div> 


<div class="row">
   <div class="small-12 columns" id="footer">
		<p><!-- tmpl_var footer_props default="Dada Mail Copyright 1999-2015 Simoni Creative" --></p>   
	</div>
</div>





<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/foundation.min.js"></script>
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/foundation/foundation.topbar.js"></script>
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/foundation/foundation.equalizer.js"></script>
  
<script>
	$(document).foundation();
</script>
	