<!-- begin list_privacy_policy.tmpl -->

<h1>Privacy Policy for, <!-- tmpl_var list_settings.list_name --></h1>
<p style="text-align:right">
	<em>
		Last Saved: <!-- tmpl_var privacy_policy_date -->
	</em>	
</p>
<div class="panel">
<p>
	<!-- tmpl_var saved_privacy_policy -->
</p>
</div>
<!-- end list_privacy_policy.tmpl -->