<!-- begin <!-- tmpl_var PROGRAM_NAME --> list_template_header_code_block.tmpl --> 

<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/foundation/foundation.css" >
<!-- tmpl_if add_app_css -->
    <!-- tmpl_if comment -->
		<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/dada_mail.css" type="text/css" media="screen" >
	<!-- /tmpl_if -->
<!-- /tmpl_if -->


<!-- tmpl_if include_jquery_lib --> 
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery-1.11.3.min.js"></script>
<!-- /tmpl_if --> 

<!-- tmpl_if include_jqueryui_lib --> 
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/jquery-ui-1.9.1.custom.min.js"></script>
<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/jquery/jquery-ui-1.9.1.custom.min.css">
<!-- /tmpl_if --> 


<!-- tmpl_if include_app_user_js -->
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/jquery.validate.js"></script>
    <!-- tmpl_if load_colorbox --> 
    	<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/colorbox/colorbox.css">
    	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/colorbox/jquery.colorbox-min.js"></script>
    <!-- /tmpl_if -->
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/dada_mail.user.js"></script>
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/jquery.dadamail.js"></script>
<!-- /tmpl_if -->

<!-- tmpl_if include_jquery_lib-->
	<script type="text/javascript">
	   var $dm = $.noConflict(true);
	</script>
<!-- /tmpl_if -->



<!-- tmpl_if list_settings.show_archives --> 
	<!-- tmpl_if list_settings.publish_archives_rss --> 
 		<link rel="alternate" type="application/rss+xml"  title="RSS"  href="<!-- tmpl_var PROGRAM_URL -->/archive_rss/<!-- tmpl_var list_settings.list -->/" >
 		<link rel="alternate" type="application/atom+xml" title="Atom" href="<!-- tmpl_var PROGRAM_URL -->/archive_atom/<!-- tmpl_var list_settings.list -->/" >
	<!-- /tmpl_if --> 
<!-- /tmpl_if -->

<link rel="stylesheet" href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/dada_mail.css" type="text/css" media="screen" />

<!-- end <!-- tmpl_var PROGRAM_NAME --> list_template_header_code_block.tmpl --> 
