<!-- begin list_password_confirmation_screen.tmpl --> 


<!-- tmpl_set name="title" value="Password Confirmation Sent" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<h1>Mailing List Password Reset Confirmation Sent</h1> 

<p>
	A confirmation email has been sent to the list owner of:
</p> 

<ul>
 <li>
  <p>
	<!-- tmpl_var list_settings.list_name -->
  </p>
 </li>
</ul> 


<p>To confirm this Mailing List Password change.
</p>

<p>
	<strong>
		Logged Information:
	</strong>
</p>

<ul>
	<!-- tmpl_if REMOTE_HOST --> 
	<li>
		<p>
			Logged Remote Host:<!-- tmpl_var REMOTE_HOST -->
		</p>
	</li>
	<!-- /tmpl_if --> 
	<!-- tmpl_if REMOTE_ADDR --> 
	<li>
		<p>
			Logged Remote IP: <!-- tmpl_var REMOTE_ADDR -->
		</p>
	</li>
	<!-- /tmpl_if --> 
	
</ul>

<!-- end list_password_confirmation_screen.tmpl --> 