<!doctype html>
<html class="no-js" lang="en">
	<head>
	<!-- <!-- tmpl_var PROGRAM_NAME --> <!-- tmpl_var VER --> -->

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><!-- tmpl_var title --></title>
	
	<!-- tmpl_include list_template_header_code_block.tmpl -->
 </head>

 <body>
	 
	 <!-- tmpl_if comment -->
		 <p class="panel">
		   <strong class="show-for-small-only">This text is shown only on a small screen.</strong>
		   <strong class="show-for-medium-up">This text is shown on medium screens and up.</strong>
		   <strong class="show-for-medium-only">This text is shown only on a medium screen.</strong>
		   <strong class="show-for-large-up">This text is shown on large screens and up.</strong>
		   <strong class="show-for-large-only">This text is shown only on a large screen.</strong>
		   <strong class="show-for-xlarge-up">This text is shown on xlarge screens and up.</strong>
		   <strong class="show-for-xlarge-only">This text is shown only on an xlarge screen.</strong>
		   <strong class="show-for-xxlarge-up">This text is shown on xxlarge screens and up.</strong>
		 </p>
<!-- /tmpl_if -->
	 
	 
   <nav class="top-bar" data-topbar role="navigation" id="admin_header">
        <ul class="title-area">
           <li class="name">
				<a href="<!-- tmpl_var PROGRAM_URL -->">
					<img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/dada_mail_logo.png" title="<!-- tmpl_var PROGRAM_NAME -->" alt="<!-- tmpl_var PROGRAM_NAME -->" >
				</a>
           </li>
	     <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		 </ul>
		 
		<!-- tmpl_if show_profile_widget --> 
			<section class="top-bar-section">
				<!-- tmpl_var profile_widget --> 
			</section> 
		<!-- /tmpl_if --> 
	</nav>

<div class="row" >
   <div class="small-12 columns" id="list_content_area">
	   
		   <h2>
			   <!-- tmpl_var title -->
		   </h2>
		
		<!-- tmpl_if list_settings.list --> 
			<!-- tmpl_if subscribed_to_list --> 
				<div class="alert-box info radius">
					You are currently subscribed to, 
					<!-- tmpl_var list_settings.list_name -->!
				</div> 
			<!-- /tmpl_if -->
		<!-- /tmpl_if -->

		<!-- tmpl_var content --> 

		<!-- tmpl_if list_settings.website_name --> 
			<!-- tmpl_if list_settings.website_url --> 
				Go back to 
			    <a href="<!-- tmpl_var list_settings.website_url -->">
				  	<!-- tmpl_var list_settings.website_name -->
				</a>
			<!-- /tmpl_if --> 
		<!-- /tmpl_if -->
		
		<div class="panel">   
			   <!-- tmpl_var footer_props -->
		</div> 
		
		
	</div>
</div> 



<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/foundation.min.js"></script>
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/foundation/foundation.topbar.js"></script>
<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/foundation/foundation.equalizer.js"></script>
  
<script>
	$(document).foundation();
</script>
	
	
 </body>
</html>