<!-- begin list_privacy_policy.tmpl -->

<h1>Privacy Policy for, <!-- tmpl_var list_settings.list_name --></h1>
<p>
	<em>
		Last Updated: <!-- tmpl_var privacy_policy_date -->
	</em>	
	<!-- tmpl_var saved_privacy_policy -->
</p>
<!-- end list_privacy_policy.tmpl -->