<!-- begin list_unsubscribe.tmpl --> 

<!-- tmpl_if list_settings.private_list --> 
	<h1>Request Unsubscription From <!-- tmpl_var list_settings.list_name --></h1>
<!-- tmpl_else --> 
	<h1>Unsubscribe From <!-- tmpl_var list_settings.list_name --></h1>
<!-- /tmpl_if --> 

<!-- tmpl_if list_exists --> 

	<!-- tmpl_if expr="((process == 1) && (is_valid == 0))" --> 
	<div class="badweatherbox"> 
	<!-- tmpl_if list_settings.private_list --> 
    <p><strong>Problems with Unsubscription Request</strong>	
	<!-- tmpl_else --> 
	    <p><strong>Problems with Unsubscription</strong>
	<!-- /tmpl_if --> 
	
		<p>
			Please make sure you're entering the correct email address that is subscribed, below. 
		</p>
	
		<p>To be manually removed from this mailing list, please email the List Owner at:</p> 
		<p style="text-align:center">
			<strong>
				<a href="mailto:<!-- tmpl_var list_settings.list_owner_email -->?Subject=Unsubscription%20Request%20from%20<!-- tmpl_var list_settings.list_name escape=URL -->">
					<!-- tmpl_var list_settings.list_owner_email -->
				</a>
			</strong>
		</p>	
	</div>  

	<!-- /tmpl_if -->


	<fieldset> 
		
	<!-- tmpl_if list_settings.unsub_show_email_hint --> 
	    <div style="text-align:center">
		    <h1>Address Hint: <!-- tmpl_var email_hint --></h1> 
	    </div> 
	<!-- /tmpl_if -->
	
	<p>
		Please enter your 
			<label for="email">
				email address
			</label>
		that is currently Subscribed, below:
	</p> 

	<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" id="unsubscription_form" /> 
		<input type="hidden" id="flavor" name="flavor" value="u" />
		<input type="hidden" id="token" name="token" value="<!-- tmpl_var token  escape="HTML" -->" /> 
		<input type="hidden" id="process" name="process" value="1" /> 
		<input type="text"   id="email" name="email" value="<!-- tmpl_var email escape="HTML" -->" style="font-size:1.5em" />
		<!-- tmpl_if list_settings.private_list --> 
			<input type="submit" value="Request Unsubscription" class="processing" style="font-size:1.5em" /> 
		<!-- tmpl_else --> 
			<input type="submit" value="Unsubscribe" class="processing"  style="font-size:1.5em" />
		<!-- /tmpl_if -->
	</form> 

	</fieldset> 
	
	
    <div class="buttonfloat" style="margin-top:50px"> 
        <form action="<!-- tmpl_var PROGRAM_URL -->" method="post" id="report_abuse_form" /> 
    		<input type="hidden" name="flavor" value="report_abuse" />
    		<input type="hidden" id="report_abuse_token" name="report_abuse_token" value="<!-- tmpl_var report_abuse_token  escape="HTML" -->" /> 
		or, <input type="submit" class="quiet" value="Report Abuse..."/>
	    </form> 
	</div>
	<div class="floatclear"></div> 
	
<!-- tmpl_else --> 
	
	<h1>Problems with Unsubscription Link!</h1>
	
	<p>
		Make sure you that the entire Unsubscription Link has been followed, either by clicking it, or by copying and pasting it, in its entirely.
	</p>
	<p>
		The Unsubscription Link could be <em>very</em> long, so make sure to follow the <em>entire</em> link.
	</p>
	
<!-- /tmpl_if --> 

<!-- end list_unsubscribe.tmpl --> 
