
		<!-- tmpl_if show_profile_widget --> 
			<!-- tmpl_var profile_widget --> 
		<!-- /tmpl_if --> 
		
	<h1><!-- tmpl_var title --></h1>
	<!-- tmpl_if list_settings.list --> 
		<!-- tmpl_if subscribed_to_list --> 
			<div class="clearskiesbox">
				<p>
					You are currently subscribed to, <!-- tmpl_var list_settings.list_name -->!
				</p> 
			</div> 
		<!-- tmpl_else --> 
		<!-- /tmpl_if -->
	<!-- /tmpl_if -->
	
	
    <!-- tmpl_var content --> 
	
	
	<!-- tmpl_if list_settings.website_name --> 
		<!-- tmpl_if list_settings.website_url --> 
			<p>
		     Go back to 
		       <a href="<!-- tmpl_var list_settings.website_url -->">
			  		<!-- tmpl_var list_settings.website_name -->
			   </a>
		    </p>
		<!-- /tmpl_if --> 
	<!-- /tmpl_if -->
	

	<div id="FooterPadding">
	    <div id="Footer">
		    <p><!-- tmpl_var footer_props --></p>
        </div> 
	</div>
  