<!-- begin list_page_info_widget.tmpl -->

<div class="row" data-equalizer>
	<div class="large-6 large-push-6 columns panel" data-equalizer-watch>
		<!-- tmpl_if error_no_email --> 
			<div class="alert-box info radius">
		 	   	Please fill in your email address in the form below:
			</div>
		<!-- /tmpl_if --> 

		<!-- tmpl_if can_use_JSON -->
			<div id="modal_subscribe_form">
		<!-- tmpl_else -->
			<div id="modal_subscribe_form_disabled">
		<!-- /tmpl_if -->
		
			<!-- tmpl_var subscription_form --> 
		</div>
	</div>
	<div class="large-6 large-pull-6 columns panel"  data-equalizer-watch>
	
			<div class="alert-box info radius">
				<ul> 
				<!-- tmpl_if list_settings.private_list --> 
			        <li>
							This mailing list is a private mailing list. There may be additional steps in order to join, 
							and the List Owner controls who may leave the mailing list. 
					</li>
				<!-- tmpl_else --> 
			        <li>
			    			This mailing list is a public mailing list - anyone may join or leave, at any time.
			    	</li>		
			    <!-- /tmpl_if -->

				<!-- tmpl_if list_settings.enable_subscription_approval_step --> 
						<p>
							This mailing list requires approval from the List Owner, before subscriptions are finalized.
					</li>
				<!-- /tmpl_if --> 

			    <!-- tmpl_if list_settings.group_list --> 
			        <li>
						This mailing list is a group discussion list
     
			            <!-- tmpl_if list_settings.enable_moderation --> 
			                (moderated)
			            <!-- tmpl_else -->
			                (unmoderated)
			            <!-- /tmpl_if --> 
			        </li>
					<li>
						<!-- this is strange, as the bare link will be wrapped with a HTML link --> 
						<p>Start a new thread, email: <!-- tmpl_var list_settings.discussion_pop_email --></p>
					</li>
		
			    <!-- tmpl_else --> 
    
			        <li>
			         <p>
						This mailing list is announce-only.
			         </p>
					</li>


			     <!-- /tmpl_if --> 
			</ul>
		</div>
		
		<!-- tmpl_var list_settings.info -->

		<h4>
			Privacy Policy:
		</h4>
		<p>
			<!-- tmpl_var list_settings.privacy_policy -->
		</p>		
	</div>
</div> 

<!-- end list_page_info_widget.tmpl -->