<!-- begin list_activity_screen.tmpl --> 

<!-- tmpl_set name="title" value="Membership &#187; Recent Activity" -->
<!-- tmpl_set name="load_google_viz" value="1" -->


<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Membership
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Recent Activity
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>


<div id="screen_meta" data-menu_highlight="list_activity"></div>
<div id="list_activity"></div> 
<form> 
	<input type="hidden" id="s_program_url" name="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL_base64_encoded -->" > 
</form> 

<h3>Subscription Trends</h3> 

<form> 
    <div class="row">
       <div class="large-12 columns">
           <label for="display_the_last">
               Display the last:
               <select id="amount" id="display_the_last"> 
                    <option value="7">7 days</option>
                    <option value="14">2 weeks</option>
                    <option value="30" selected="selected">1 month</option> 
                    <option value="60">2 months</option>
                    <option value="90">3 months</option>
                    <option  value="183">6 months</option>
                    <option value="365">1 year</option> 
                    <option value="730">2 years</option> 
                    <option value="1095">3 years</option> 
                </select>
            </label> 
        </div> 
    </div>
</form>

<div id="sub_unsub_trends_loading"></div>  
<div id="sub_unsub_trends"></div> 

<h3>Recent Subscription Activity</h3> 
<!-- tmpl_include filtered_list_activity_widget.tmpl -->

<!-- end list_activity_screen.tmpl --> 
