<!-- begin list_login_form.tmpl -->

<!-- tmpl_set name="title" value="Log into <!-- tmpl_var list_settings.list_name -->" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<div class="row">
	<div class="small-10 medium-5 large-4 small-centered medium-centered large-centered columns">

		<ul class="tabs" data-tab>
			<li class="tab-title active">
				<a href="#logintab" target="_self">
					Login
				</a>
			</li>
        </ul>
		
		<div class="tabs-content">
			<div  class="content tab-title active"id="logintab">
				<!-- tmpl_include control_panel_login_form.tmpl -->
			</div>
		</div>
	</div> 
</div> 

<!-- end list_login_form.tmpl -->
