<!-- begin mail_sending_advanced_options_screen.tmpl -->

<!-- tmpl_set name="title" value="Mail Sending &#187; Advanced Options" -->

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				 Mail Sending
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Advanced Options
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<div id="mail_sending_advanced_options"></div>
<div id="screen_meta" data-menu_highlight="mail_sending_advanced_options"></div>

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->
<form 
	action="<!-- tmpl_var S_PROGRAM_URL -->" 
	method="post" 
	accept-charset="<!-- tmpl_var HTML_CHARSET -->"
>
	<input type="hidden" name="process" value="1" >
	<input type="hidden" name="flavor"  value="mail_sending_advanced_options" >
	
	<fieldset> 
		<legend> 
			Advanced
		</legend> 

		<div class="row">
			<div class="small-12 columns">
				<label for="charset"> 
					Default Character Set
					<!-- tmpl_var charset_popup_menu -->
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
			<label for="plaintext_encoding"> 
				Default Plain Text Message Encoding
				<!-- tmpl_var plaintext_encoding_popup_menu -->
			</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="html_encoding"> 
					Default HTML Message Encoding
					<!-- tmpl_var html_encoding_popup_menu -->
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="mime_encode_words_in_headers">
					<input 
						type="checkbox" 
						name="mime_encode_words_in_headers" 
						id="mime_encode_words_in_headers" 
						value="1" 
						<!-- tmpl_if list_settings.mime_encode_words_in_headers -->checked="checked"<!--/tmpl_if-->
					>		
					Encode message headers
				</label>
				<div class="alert-box info radius"> 
					Non-ASCII characters will be specially encoded in the To, From, Cc and Subject headers. 
				</div>
				<!-- tmpl_unless can_mime_encode --> 
					<div class="alert-box alert radius"> 
						Warning! The MIME::EncWords CPAN module needs to be installed, for this option to work correctly!
					</div>
				<!-- /tmpl_unless --> 
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="verp_return_path">
					<input 
						type="checkbox" 
						name="verp_return_path" 
						id="verp_return_path" 
						value="1" 
						<!-- tmpl_if list_settings.verp_return_path -->checked="checked"<!--/tmpl_if-->
					>
					Use VERP
				</label>
				<div class="alert-box info radius"> 
					VERP, or Variable Envelope Return Paths, can help identify 
					bounced email messages. (<a href="http://cr.yp.to/proto/verp.txt" target="_blank">More&nbsp;Information</a>.)
					<br>
					<br>
					<strong>
					Note: 
					</strong>
					VERP will only work if you are using SMTP sending, or if you 
					successfully set the Return-Path header when sending via the 
					sendmail command. This is done by setting the '-f' flag 
					(best bet) or 'Return-Path' header.
				</div> 
			</div>
		</div>
	</fieldset> 

	<fieldset> 
		<legend> 
			Miscellaneous Options
		</legend>
		<div class="row">
			<div class="small-12 columns">
				<label for="priority">
					Default Priority
					<!-- tmpl_var priority_popup_menu -->
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="strip_message_headers">
					<input
						type="checkbox" 
						name="strip_message_headers" 
						id="strip_message_headers" 
						value="1" 
						<!-- tmpl_if list_settings.strip_message_headers -->checked="checked"<!--/tmpl_if-->
					>

					Send all emails with only the address contained in the 
					'To' and 'From' message headers
				</label>

				<div class="alert-box info radius">
					Some SMTP servers get confused when 'To:' and 'From:' mail 
					headers contain both the name and address 
					( &quot;John Smith&quot; &lt;john@smith.com&gt;). With this 
					option, all messages sent will contain only the address 
					( john@smith.com ).
					<em>
					Most likely, you will not need this option.
					</em>
				</div>
			</div>
		</div>
	</fieldset> 
	<div class="clearfix">
		<ul class="button-group right">
		    <li>
				<input type="reset"  class="button warning" value="Clear Changes">
			</li>
			<li>
				<input type="submit" class="button success" value="Save Changes">
			</li>
		</ul>
	</div>
</form> 

<!-- end mail_sending_advanced_options_screen.tmpl -->