<!-- begin mail_sending_options_test_widget.tmpl --> 
<h2>		
		<!-- tmpl_if expr="list_settings.sending_method eq 'smtp'" --> 
			SMTP Sending Test Results:
		<!--/tmpl_if --> 
		<!-- tmpl_if expr="list_settings.sending_method eq 'sendmail'" --> 
			Sending via sendmail Test Results: 
		<!--/tmpl_if --> 
		<!-- tmpl_if expr="list_settings.sending_method eq 'amazon_ses'" --> 
			Sending via Amazon SES Test Results: 
		<!--/tmpl_if -->
	
	<!-- tmpl_if report --> 
			</h2>
				<ul>
					<!-- tmpl_loop report -->
						<li>
							<strong>
								<!-- tmpl_var SMTP_command -->
							</strong>
							<br>
						<!-- tmpl_var message -->
					</li>
				<!-- /tmpl_loop -->
			</ul>
			<!-- /tmpl_if --> 
			
			<!-- tmpl_if raw_log --> 
				<h2>
					Raw Log:
				</h2>
				<pre><!-- tmpl_var raw_log --></pre>
		<!-- /tmpl_if --> 


<p>
	Check your email inbox for, <!-- tmpl_var list_settings.list_owner_email --> to see if you've received a message from <!-- tmpl_var PROGRAM_NAME -->.
</p>
<p>
	If a message has been received, email sending for your list is working properly!
</p>

<!-- end mail_sending_options_test_widget.tmpl --> 

