<!-- begin manage_list_consent.tmpl -->


<!-- tmpl_set name="title" value="Mailing List &#187; Manage List Consent" -->
<div id="screen_meta" data-menu_highlight="manage_list_consent"></div>


<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Mailing List
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Manage List Consent
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<div id="manage_list_consent"></div> 
<form>
	<input type="hidden" id="s_program_url" name="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->">
</form>

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->
	
    <div class="alert-box info radius">
	  <p>
		  <strong>
			  How should I ask for consent on my mailing list? 
		  </strong>
		</p>
		<p>
			See the OCI's page, 
			<a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/consent/" target="_blank">
				Guide to the General Data Protection Regulation (GDPR) Lawful basis for processing: Consent
			</a>
			for ideas and guidelines. 
		</p>	
    </div>
	
	<!-- tmpl_if expr="list_settings.tracker_track_email == 1" -->
		<div class="alert-box warning radius">
			<p>
				This mailing list currently tracks mass mailing clickthrough and mass mailing message open tracking data, 
				then saves this data with the email address of the subscribers associated with this data. 
			</p>
		</div>
	<!-- /tmpl_if -->
	

		<fieldset> 
			<legend>List Consents</legend>
			
		
			<!-- tmpl_if consents --> 
				<table style="width:100%" class="responsive">
					<tr> 
						<th> 
				        	Consent
				        </th>
						<th>
							&nbsp;
						</th>

				      </tr> 

						<!-- tmpl_loop consents --> 
						<tr>  
				         <td> 
				           <!-- tmpl_var consent --> 
				         </td>
						 <td>
				        
						   	<ul class="button-group">
						   		<li>
						            <form 
										action="<!-- tmpl_var S_PROGRAM_URL -->" 
										method="post" 
										accept-charset="<!-- tmpl_var HTML_CHARSET -->"
									>
						             <input type="hidden" name="flavor" value="manage_list_consent"> 
						             <input type="hidden" name="process" value="remove"> 
						            <button type="button" class="button small alert remove_list_consent" data-id="<!-- tmpl_var id -->">
											<i class="fi-x"></i>
										</button>
						           </form> 
								</li>
							</ul>
						</td>
						</tr>
				        <!-- /tmpl_loop --> 
				        </table> 
				
				
			
<!-- tmpl_else --> 
	<div class="alert-box info radius">
		There are current no consents set up. 
	</div>
<!-- /tmpl_if -->
	
	
	
	



	

	</fieldset>
	

<fieldset> 
	<legend>Setup New Consent</legend>
<form action="<!-- tmpl_var PROGRAM_URL -->" method="POST" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 

     <input type="hidden" name="flavor" value="manage_list_consent"> 
     <input type="hidden" name="process" value="add_consent" > 
	
<textarea cols="60" rows="2" name="new_consent"></textarea>

<div class="clearfix">
	<ul class="button-group right">
	    <li><input type="reset"  class="warning button" value="Clear Changes" ></li>
	    <li><input type="submit" class="success button" value="Save New Consent" ></li>
	</ul>
</div>
<form> 
</fieldset> 	
<!-- begin manage_list_consent.tmpl -->

