<!-- tmpl_var pre_html -->

<!-- tmpl_loop entries -->
	<h2>
		<a href="<!-- tmpl_var link -->">
			<!-- tmpl_var title -->
		</a>
	</h2>
	
	<!-- tmpl_if expr="(content_type eq 'summary')" -->
	<p>
		<!-- tmpl_var description -->
		<a href="<!-- tmpl_var link -->">
			Read More
		</a>
	</p>
	<!-- tmpl_else --> 
		<!-- tmpl_var content -->
	<!-- /tmpl_if -->
	
<!-- /tmpl_loop>
	
<!-- tmpl_var post_html -->