<!-- begin mass_mailing_options_screen.tmpl -->

<!-- tmpl_set name="title" value="Mass Mailing &#187; Options" -->
<div id="screen_meta" data-menu_highlight="mass_mailing_options"></div>

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				 Mass Mailing 
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Options
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

	<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form" id="default_form" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
	    <input type="hidden" name="s_program_url" id="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->" >
	    <input type="hidden" name="process" value="1" >
        <input type="hidden" name="flavor"  value="mass_mailing_options" >
    
<fieldset>
    <div class="row">
        <div class="small-12 columns">
			<label for="mass_mailing_convert_plaintext_to_html">  
	            <input type="checkbox" 
	                name="mass_mailing_convert_plaintext_to_html" 
	                id="mass_mailing_convert_plaintext_to_html" 
	                value="1" 
	                <!-- tmpl_if list_settings.mass_mailing_convert_plaintext_to_html -->checked="checked"<!-- /tmpl_if --> 
	             >
                Convert PlainText-only mass email messages to HTML
            </label>
        </div>
    </div> 
    <div class="row">
        <div class="small-12 columns">
            <label for="mass_mailing_block_css_to_inline_css">
				<input 
					type="checkbox" 
					name="mass_mailing_block_css_to_inline_css" 
					id="mass_mailing_block_css_to_inline_css" 
					value="1" 
					<!-- tmpl_if list_settings.mass_mailing_block_css_to_inline_css -->
						checked="checked"
					<!-- /tmpl_if -->
				>
                Convert CSS &lt;style&gt; blocks to inline styles in HTML messages
            </label>
            <!-- tmpl_unless can_use_css_inliner --> 
                <div class="alert-box info radius">
                    <p>
                        <strong>Disabled:</strong>
                        The Perl CPAN module, <strong>CSS::Inliner</strong> will need to be installed.
                    </p>
                </div> 
            <!-- /tmpl_unless -->
        </div> 
    </div> 
	
	
    <div class="row">
        <div class="small-12 columns">
			<label for="email_embed_images_as_attachments">  
	            <input type="checkbox" 
	                name="email_embed_images_as_attachments" 
	                id="email_embed_images_as_attachments" 
	                value="1" 
	                <!-- tmpl_if list_settings.email_embed_images_as_attachments -->checked="checked"<!-- /tmpl_if --> 
	             >
                Embed images in HTML Messages as attachments
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
			<label for="resize_drag_and_drop_images">  
	            <input type="checkbox" 
	                name="resize_drag_and_drop_images" 
	                id="resize_drag_and_drop_images" 
	                value="1" 
	                <!-- tmpl_if list_settings.resize_drag_and_drop_images -->
						checked="checked"
					<!-- /tmpl_if --> 
	             >
               Resize drag-and-drop images
            </label>
        </div>
    </div>

<div class="row">
	<div class="small-1 columns">
	</div>
	<div class="small-11 columns">
			 <div class="alert-box info radius">
				 Images wider than 640px will be resized
				 
  			   <!-- tmpl_unless can_use_Image_Resize -->
  			   		<br>
  					<br> 
  					The, <code>Image::Resize</code> Perl CPAN module will need to be installed for this 
  					option to work. 
  			   <!-- /tmpl_unless -->
				 
				 
			</div>
		</div>
	</div>
			

	    
	
	
    <h4>
		Default Mass Mailing Layout
  	</h4>
  
    <div class="row">
		<div class="small-1 columns">
		</div>	
		<div class="small-11 columns">
			<label for="mass_mailing_default_layout_default">
				<input 
					type="radio"
					name="mass_mailing_default_layout"
					id="mass_mailing_default_layout_default"
					value="default"
					<!-- tmpl_if expr="(currently_selected_layout eq 'default')" -->
						checked="checked"
					<!-- /tmpl_if -->
					>
					Full Layout
			</label>
		
		
			<label for="mass_mailing_default_layout_minimal">
					<input 
						type="radio"
						name="mass_mailing_default_layout"
						id="mass_mailing_default_layout_minimal"
						value="minimal"
						<!-- tmpl_if expr="(currently_selected_layout eq 'minimal')" -->
							checked="checked"
						<!-- /tmpl_if -->
						>
						Minimal Layout
					</label>
		
		
		
			<label for="mass_mailing_default_layout_discussion">
					<input 
						type="radio"
						name="mass_mailing_default_layout"
						id="mass_mailing_default_layout_discussion"
						value="discussion"
						<!-- tmpl_if expr="(currently_selected_layout eq 'discussion')" -->
							checked="checked"
						<!-- /tmpl_if -->
						>
						For Discussion List Messages
					</label>
		
				<label for="mass_mailing_default_layout_old_school">
				<input 
					type="radio"
					name="mass_mailing_default_layout"
					id="mass_mailing_default_layout_old_school"
					value="old_school"
					<!-- tmpl_if expr="(currently_selected_layout eq 'old_school')" -->
						checked="checked"
					<!-- /tmpl_if -->
					>
					Old School
				</label>
		
				<label for="mass_mailing_default_layout_custom">
				<input 
					type="radio"
					name="mass_mailing_default_layout"
					id="mass_mailing_default_layout_custom"
					value="custom"
					<!-- tmpl_if expr="(currently_selected_layout eq 'custom')" -->
						checked="checked"
					<!-- /tmpl_if -->
					>
					Custom
				</label>
		
				<label for="mass_mailing_default_layout_none">
					<input 
						type="radio"
						name="mass_mailing_default_layout"
						id="mass_mailing_default_layout_none"
						value="none"
						<!-- tmpl_if expr="(currently_selected_layout eq 'none')" -->
							checked="checked"
						<!-- /tmpl_if -->
						>
						Don't use a Layout
			</label>
        </div>
    </div>
	
	<!-- tmpl_include common_save_list_settings_buttons_widget.tmpl -->

</fieldset> 

</form> 



<!-- end mass_mailing_options_screen.tmpl -->