<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
 <input type="hidden" name="flavor" id="ddm_flavor" value="subscribe"> 
 <input type="hidden" name="list"   id="ddm_list"   value="<!-- tmpl_var list_settings.list -->"> 
 <label for="email" >
	 Email
	 <input 
	 	type="text" 
		name="email" 
		id="email" 
		value="" 
		placeholder="user@example.com (required)"
	>
 </label>
 <br>
<!-- tmpl_if show_fields --> 
<!-- tmpl_if subscriber_fields --> 
<!-- tmpl_loop subscriber_fields -->
<label for="ddm_<!-- tmpl_var name escape=HTML -->" >
<!-- tmpl_if pretty_name --> 
<!-- tmpl_var pretty_name escape=HTML --> 
<!-- tmpl_else --> 
<!-- tmpl_var name escape=HTML --> 
<!-- /tmpl_if --> 
<input 
	type="text" 
	name="<!-- tmpl_var name escape=HTML -->"
	id="ddm_<!-- tmpl_var name escape=HTML -->"
	value="<!-- tmpl_var given_value escape=HTML -->"
>
</label>
<br>
<!-- /tmpl_loop -->
<!-- /tmpl_if -->
<!-- /tmpl_if --> 

<!-- tmpl_if list_consents -->
<!-- tmpl_loop list_consents -->
<label for="consent_<!-- tmpl_var id -->"> 
	<input 
		type="checkbox" 
		class="list_consents"
		name="consent_<!-- tmpl_var id -->" 
		value="<!-- tmpl_var id -->"
		id="consent_<!-- tmpl_var id -->"
		required="required"
	>
   <!-- tmpl_var consent escape="HTML" --> 
</label>
<br>
<!-- /tmpl_loop -->
<!-- /tmpl_if -->

<!-- tmpl_if recaptcha_html --> 
<!-- tmpl_var recaptcha_html -->
<!-- tmpl_if add_recaptcha_js -->
<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- /tmpl_if -->
<!-- /tmpl_if -->
<input type="submit" class="button" value="Subscribe">

<!-- tmpl_unless list_settings.private_list -->
<br>
Unsubscribe at Anytime
| 
<a 
href="<!-- tmpl_var S_PROGRAM_URL -->/privacy_policy/<!-- tmpl_var list_settings.list -->/" 
target="_blank"
> 
Privacy Policy
</a>
<!-- /tmpl_unless -->
</form>