<!-- begin new_list_created_screen.tmpl -->

<!-- tmpl_set name="title" value="Your New Mailing List Has Been Created" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<table  style="width:100%" class="responsive">
 <tr>
  <td>
    <strong>
     List Name
    </strong>
  </td>
  <td>
    <!-- tmpl_var list_name escape="HTML" -->
  </td>
 </tr>
 <tr>
  <td>
   
    <strong>
     List Short Name
    </strong>
   
  </td>
  <td>
   
    <!-- tmpl_var list  escape="HTML" -->
   
  </td>
 </tr>
 <tr>
  <td>
    <strong>
      Password
    </strong>
  </td>
  <td>
   
    <em>
     (not shown)
    </em>
   
  </td>
 </tr>
 <tr>
  <td>
    <strong>
     List Owner Email Address
    </strong>
  </td>
  <td>
   
    <!-- tmpl_var list_owner_email  escape="HTML" -->
   
  </td>
 </tr>
 <tr>
  <td>
   
    <strong>
     List Information:
    </strong>
   
  </td>
  <td>
   
    <!-- tmpl_var info  escape="HTML" -->
   
  </td>
 </tr>
 <tr>
  <td>
   
    <strong>
     Privacy Policy:
    </strong>
   
  </td>
  <td>
   
    <!-- tmpl_var privacy_policy  escape="HTML" -->
   
  </td>
 </tr>
 <tr>
  <td>
   
    <strong>
     Physical Address:
    </strong>
   
  </td>
  <td>
   
    <!-- tmpl_var physical_address  escape="HTML" -->
   
  </td>
 </tr>
</table>


<fieldset>
	<legend>
		Log into Your New Mailing List
	</legend>

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
    <input type="hidden"   name="flavor"          value="login" >
    <input type="hidden"   name="admin_list" value="<!-- tmpl_var list -->" >
	<input type="hidden" name="auth_state" value="<!-- tmpl_var auth_state -->" > 

	<div class="row">
		<div class="small-12 columns">
		   <label for="admin_password">
		   	 List/<!-- tmpl_var PROGRAM_NAME --> Root Password:
		   </label>
		    <input type="password" name="admin_password" id="admin_password" maxlength="24" >
		</div>
	</div>
   
   <input type="submit" class="success button expand" value="Log Into Your New Mailing List" >   

   </form>


</fieldset> 

<!-- end new_list_created_screen.tmpl -->
