<!-- begin newsfeed_widget.tmpl --> 


<!-- tmpl_if list_settings.publish_archives_rss --> 

    <p style="text-align:right">
    
    
     (archive
      <a href="<!-- tmpl_var PROGRAM_URL -->/archive_rss/<!-- tmpl_var list_settings.list -->/">
       rss
      </a>, 
      <a href="<!-- tmpl_var PROGRAM_URL -->/archive_atom/<!-- tmpl_var list_settings.list -->/">
       atom
      </a>
      
      <img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/badge_feed.png" alt="rss/atom" title="rss/atom"/>     
     )
    </p>
        
<!-- /tmpl_if --> 


<!-- end newsfeed_widget.tmpl --> 
