<!-- begin outdated_sub_links_screen.tmpl --> 

<h1>Outdated Link!</h1> 
<p>
<!-- tmpl_if expr="orig_flavor eq 's'" --> 
	The Subscription
<!-- tmpl_else --> 
The Unsubscription
<!-- /tmpl_if --> 
link you followed is outdated. Sorry about that! Please re-fill out the form, below: 

</p>


<!-- tmpl_var subscription_form --> 


<!-- end outdated_sub_links_screen.tmpl --> 
