<!-- begin partial_sending_options_widget.tmpl --> 




<!-- tmpl_if can_have_subscriber_fields --> 


    <p>
     Send your Mailing List Message  to your Subscribers where their:
    </p> 
    
	<div id="field_comparisons"> 
    <table> 
	
    <!-- tmpl_loop undotted_fields --> 
        <tr> 
         <td align="right"> 
          <p>
           <label for="<!-- tmpl_var name -->.operator">
            <!-- tmpl_var label -->:
           </label> 
          </p>
         </td> 
         <td>
          <p>
           <select name="<!-- tmpl_var name -->.operator" id="<!-- tmpl_var name -->.operator">
            <!-- broken now in Beatitude? -->
			<option value="LIKE">Is Like</option>
            <option value="=">Is Equal To</option> 
			<option value="NOT LIKE">Is Not Like</option>
            <option value="!=">Is Not Equal To</option> 

           </select> 
          </p>
         </td>
         <td>
          <p>
           <!-- Broken now, in Beatitude?! --> 
           <!--  value="<!-- tmpl_var field_value -->" -->
           
           <input type="text" name="<!-- tmpl_var name -->.value" id="<!-- tmpl_var name -->.value" />
          </p>
         </td>
        </tr> 
    <!-- /tmpl_loop --> 
    
    <tr> 
     <td align="right"> 
      <p>
       <label for="subscriber.timestamp.operator">
        Subscription Date:
       </label> 
      </p>
     </td> 
     <td>
      <p>
       <select name="subscriber.timestamp.operator" id="subscriber.timestamp.operator">
		<option value=">">Within</option>
		<option value="<">After</option>
       </select> the last:
      </p>
     </td>
     <td>
         <!-- tmpl_if comment --> 
         my $q = CGI::Pretty->new; 
         print $q->popup_menu(-name => 'foo', values => [1...10]);
         <!-- /tmpl_if --> 
         
      <p> 
          <select name="subscriber.timestamp.value" id="subscriber.timestamp.value">
              <option value="">---</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
`          </select> 
           Day(s) 
      </p>
     </td>
    </tr> 
    
    
    
    </table> 
    </div> 
	
    <div class="buttonfloat">
     <input type="button" value="Preview Who's Getting This Message..." class="cautionary preview_message_receivers" />  
    </div>
    
    <div class="floatclear">
    </div>
	<div id="preview_message_receivers_loading"></div> 
    <div id="preview_message_receivers_results"></div> 

	
	
    
    
<!-- tmpl_else --> 

    <!-- Multiple Subscriber Fields isn't support with this backend (Apparently) --> 

<!-- /tmpl_if --> 

    
<!-- end partial_sending_options_widget.tmpl --> 
