<html> 
<head> 
</head> 

<body> 
    <!-- tmpl_var minimal_subscription_form -->
</body> 

<hr> 

<h3>Minimal Subscription Form</h3> 
<fieldset>
    
<p>Place the following in the body of your page:</p> 
<textarea cols="50" rows="12">
    <!-- tmpl_var minimal_subscription_form escape="HTML" -->
</textarea>

</fieldset> 


</html>

