<html> 
<head> 
    <!-- tmpl_var jquery_subscription_form_head -->
</head> 

<body> 
    <!-- tmpl_var jquery_subscription_form_body -->
</body> 


<hr> 

<h1>Modal Menu Subscription Form</h1> 
<fieldset>
    
<p>Place the following in the head of your page,</p>       
<textarea cols="50" rows="12">
    <!-- tmpl_var jquery_subscription_form_head escape="HTML" -->
</textarea>

<p>Place the following in the body of your page:</p> 
<textarea cols="50" rows="12">
    <!-- tmpl_var jquery_subscription_form_body escape="HTML" -->
</textarea>

</fieldset> 


</html>


