<!-- begin profile_home.tmpl --> 

<!-- tmpl_set name="title" value="Profile" --> 

<div id="profile_home"></div>




<script type="text/javascript">
	function confirm_profile_removal(form_name) {
        
    
	    var confirm_msg =  "Are you sure you want to ";
	        confirm_msg += " remove this profile?";
	        confirm_msg += " This profile removal cannot be undone.";
	    if(!confirm(confirm_msg)){
	        alert('Profile not removed.');
	        return false;
	    }    
	}
</script> 




<!-- tmpl_if welcome --> 
    <div class="alert-box info radius">
	     Welcome to your Profile. From here, you may subscribe/unsubscribe 
	     to the available mailing lists, as well as update your subscription 
	    information.
	</div> 
<!-- /tmpl_if --> 
<!-- tmpl_if edit --> 
    <div class="alert-box info radius">
       Changes have been saved.
    </div>
<!-- /tmpl_if --> 


<!-- tmpl_if errors --> 
    <div class="alert-box warning radius">
    <p> 
        <strong>There was an error with your last request:</strong>
    </p> 

    <!-- tmpl_if errors_change_password --> 
        <p>Your Password:</p>
        <ul> 
            <li>
                Make sure that you re-typed your password correctly. 
        </li> 
        </ul> 

    <!-- /tmpl_if -->

    <!-- tmpl_if errors_update_email --> 
        <p>
            Update Your Profile Email: 
        </p>
        <ul> 
        <!-- tmpl_if error_invalid_email --> 
            <li>
                The email address you submitted was not valid.
            </li> 
        <!-- /tmpl_if --> 
    
        <!-- tmpl_if error_profile_exists --> 
            <li>
                     A Profile already exists for the email address, <!-- tmpl_var updated_email -->.
            </li> 
        <!-- /tmpl_if --> 
        </ul> 
    <!-- /tmpl_if --> 
</div>

<!-- /tmpl_if --> 






<div class="row">
	<div class="small-12 columns">
		<ul class="tabs show-for-medium-up" data-tab="">
			
			<!-- tmpl_if expr="profile_feature_mailing_list_subscriptions == 1" -->
				<li class="tab-title active">
					<a href="#mailing_list_subscriptions">
						Subscriptions
					</a>
				</li>
			<!-- /tmpl_if --> 
			
			<!-- tmpl_if expr="profile_feature_profile_fields == 1" -->
				<!-- tmpl_if subscriber_fields -->
					<li class="tab-title">
						<a href="#profile_fields">
							Profile Fields
						</a>
					</li>
				<!-- /tmpl_if --> 
			<!-- /tmpl_if --> 
			
			<!-- tmpl_if protected_directories --> 
				<!-- tmpl_if expr="profile_feature_protected_directories == 1" -->
					<li class="tab-title">
						<a href="#protected_directories">
							Protected Directories
						</a>
					</li>
				<!-- /tmpl_if --> 
			<!-- /tmpl_if --> 

		    <!-- tmpl_if expr="profile_feature_update_email_address == 1" -->			
				<li class="tab-title">
					<a href="#update_email_address">
						Update Address
					</a>
				</li>
			<!-- /tmpl_if --> 


			<!-- tmpl_if expr="profile_feature_change_password == 1" -->
				<li class="tab-title">
					<a href="#change_password">
						Password
					</a>
				</li>
			<!-- /tmpl_if --> 


		    <!-- tmpl_if expr="profile_feature_delete_profile == 1" -->			
				<li class="tab-title">
					<a href="#delete_profile">
						Delete
					</a>
				</li>
		    <!-- /tmpl_if -->
		</ul>
		
		<dl class="accordion" data-accordion="">
			<dd class="accordion-navigation">

			 	<!-- tmpl_if expr="profile_feature_mailing_list_subscriptions == 1" -->
				
					<a href="#mailing_list_subscriptions" class="show-for-small-only">
						Subscriptions
					</a>
					
					<div id="mailing_list_subscriptions" class="content active">
						<div class="content-box section-box">
			                
							<!-- tmpl_if has_subscriptions --> 
			                    <!-- ... -->
			                <!-- tmpl_else --> 
			                    <div class="alert-box info radius">
			                        You are not currently subscribed to any mailing list.
								</div>
			                <!-- /tmpl_if --> 

			                <!-- tmpl_loop subscriptions --> 
			                    <!-- tmpl_if subscribed --> 
			                        <h2>
			                            <a href="<!-- tmpl_var PROGRAM_URL -->/list/<!-- tmpl_var list_settings.list -->">
			                                <!-- tmpl_var list_settings.list_name --> 
			                            </a>
			                        </h2>
									
									
									
										<div class="alert-box info radius">
											<ul> 
											<!-- tmpl_if list_settings.private_list --> 
										        <li>
														This mailing list is a private mailing list. There may be additional steps in order to join, 
														and the List Owner controls who may leave the mailing list. 
												</li>
											<!-- tmpl_else --> 
										        <li>
										    			This mailing list is a public mailing list - anyone may join or leave, at any time.
										    	</li>		
										    <!-- /tmpl_if -->

											<!-- tmpl_if list_settings.enable_subscription_approval_step --> 
													<p>
														This mailing list requires approval from the List Owner, before subscriptions are finalized.
												</li>
											<!-- /tmpl_if --> 

										    <!-- tmpl_if list_settings.group_list --> 
										        <li>
													This mailing list is a group discussion list
     
										            <!-- tmpl_if list_settings.enable_moderation --> 
										                (moderated)
										            <!-- tmpl_else -->
										                (unmoderated)
										            <!-- /tmpl_if --> 
										        </li>
												<li>
													<!-- this is strange, as the bare link will be wrapped with a HTML link --> 
													<p>Start a new thread, email: <!-- tmpl_var list_settings.discussion_pop_email --></p>
												</li>
		
										    <!-- tmpl_else --> 
    
										        <li>
										         <p>
													This mailing list is announce-only.
										         </p>
												</li>


										     <!-- /tmpl_if --> 
										</ul>
									</div>
									
									
									
                                                        
			                        <div class="panel"> 
			                            <p>
			                                <!-- tmpl_var list_settings.info -->
			                            </p>
									</div> 
			                      

			                        <ul>
				                        <li>
				                            <p>
				                                <a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var list_settings.list -->">
				                                    View Archives
				                                </a>
				                            </p>
				                        </li>
				                        </ul>
				                            <p>
				                                <a href="<!-- tmpl_var list_unsubscribe_link -->" class="button">
				                                    <!-- tmpl_if list_settings.private_list -->
				                                          Request to be removed from <!-- tmpl_var list_settings.list_name -->                  
				                                    <!-- tmpl_else --> 
				                                        Unsubscribe from <!-- tmpl_var list_settings.list_name -->
				                                    <!-- /tmpl_if -->
				                                </a>
				                            </p>
				                  
				                    
    
    
<!-- tmpl_if list_settings.digest_enable -->
    <fieldset>
        <legend>Delivery Preferences:</legend>
        <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post"> 

            <input type="hidden" name="flavor"        value="profile" > 
            <input type="hidden" name="process"  value="profile_delivery_preferences" > 
            <input type="hidden" name="list"     value="<!-- tmpl_var list_settings.list -->" > 

			<div class="row">
				<div class="small-10 medium-5 large-4 columns">	 
					
					<div class="row">
						<div class="small-12 columns">
		                    <label for="delivery_prefs_individual">
			                    <input 
									type="radio" 
									name="delivery_prefs" 
									value="individual" 
									id="delivery_prefs_individual" 
									<!-- tmpl_if expr="delivery_prefs eq 'individual'" -->checked="checked"<!-- /tmpl_if -->
									>
		                            Receive Individual Messages
	                        </label>
						</div>
					</div>
					
					<div class="row">
						<div class="small-12 columns">
		                    <label for="delivery_prefs_digest">					
			                    <input 
									type="radio" 
									name="delivery_prefs" 
									value="digest" 
									id="delivery_prefs_digest" 
									<!-- tmpl_if expr="delivery_prefs eq 'digest'" -->checked="checked"<!-- /tmpl_if -->
								>
		                        Receive Messages in a Digest (<!-- tmpl_var digest_timeframe -->)
		                    </label> 
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">
		                    <label for="delivery_prefs_hold">
		                    	<input 
									type="radio" 
									name="delivery_prefs" 
									value="hold" 
									id="delivery_prefs_hold" 
									<!-- tmpl_if expr="delivery_prefs eq 'hold'" -->checked="checked"<!-- /tmpl_if -->
								>
		                            Hold Mailings (vacation, etc)     
		                    </label> 
						</div>
					</div>
						
					<div class="row">
						<div class="small-12 columns">
							<input type="submit" value="Save Delivery Preferences" class="success button expand">
						</div>
					</div> 
				</div>
			</div> 
        </form>
    </fieldset>
<!-- /tmpl_if --> 
    
    
				                    <!-- tmpl_if comment --> 
				                        <!-- tmpl_if list_owner --> 
				                            <div class="alert-box info radius"> 
				                                You are the List Owner. 
				                                <a href="<!-- tmpl_var S_PROGRAM_URL -->/sign_in/<!-- tmpl_var list_settings.list -->/"> 
				                                    Login...
				                                </a>  
											</div>
				                        <!-- /tmpl_if -->
				                     <!-- /tmpl_if -->
				                <!-- /tmpl_if --> 
				            <!-- /tmpl_loop -->
						</div>
					</div>
					
				<!-- /tmpl_if --><!-- profile_feature_mailing_list_subscriptions -->
			    
				
				<!-- tmpl_if expr="profile_feature_profile_fields == 1" -->
			        <!-- tmpl_if subscriber_fields -->
				
						<a href="#profile_fields" class="show-for-small-only">
							Profile Fields
						</a>
						<div id="profile_fields" class="content">
							<div class="content-box section-box">

				                <form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->" id="membership_profile_fields"> 
				                    <input type="hidden" name="flavor"        value="profile" > 
				                    <input type="hidden" name="process"  value="edit_subscriber_fields" > 
				                    <!-- tmpl_loop subscriber_fields --> 

										<div class="row">
											<div class="large-3 medium-3 columns">
												<label 
													for="<!-- tmpl_var name escape=HTML -->" 
													class="medium-text-right"
												>
							                        <!-- tmpl_if label --> 
							                            <!-- tmpl_var label escape=HTML -->: 
							                        <!-- tmpl_else --> 
							                            <!-- tmpl_var name escape=HTML -->: 
							                        <!-- /tmpl_if -->
						                        </label>
											</div>
											<div class="large-9 medium-9 columns">
						                        <input 
													type="text" 
													name="<!-- tmpl_var name escape=HTML -->" 
													id="<!-- tmpl_var name escape=HTML -->" 
													value="<!-- tmpl_var value escape=HTML -->" 
													<!-- tmpl_if required -->required<!-- /tmpl_if -->
													<!-- tmpl_if required -->placeholder="(required)"<!-- /tmpl_if -->
												>
											</div>
										</div>
				                    <!-- /tmpl_loop -->
									<div class="row">
										<div class="small-12 columns">
											<input type="submit" value="Update Information" class="success button expand"> 
										</div>
									</div>
				                </form>
							</div>
						</div>
			        <!-- /tmpl_if -->
			    <!-- /tmpl_if--><!-- profile_feature_profile_fields -->
				
			    <!-- tmpl_if protected_directories --> 
			        <!-- tmpl_if expr="profile_feature_protected_directories == 1" -->    				
						<a href="#protected_directories" class="show-for-small-only">
							Protected Directories
						</a>
						<div id="protected_directories" class="content">
							<div class="content-box section-box">
			                    <p>Access these directories with your Profile Username/Password.
			                    <ul>        
			                        <!-- tmpl_loop protected_directories --> 
			                            <p>
			                                <li>
			                                    <strong>
			                                        <a href="<!-- tmpl_var url -->" target="_blank"><!-- tmpl_var name --></a>
			                                    </strong> 
			                                </li>
			                            </p>
			                        <!-- /tmpl_loop --> 
			                    </ul>
							</div>
						</div>
			        <!-- /tmpl_if --> 
			    <!-- /tmpl_if -->
				
			    <!-- tmpl_if expr="profile_feature_update_email_address == 1" -->
				
					<a href="#update_email_address" class="show-for-small-only">
						Update Address
					</a>
					<div id="update_email_address" class="content">
						<div class="content-box section-box">
							
				            <div class="alert-box warning radius">
				                The Profile Email Address and Subscriptions using your current email address (<!-- tmpl_var profile.email -->) 
				                will be replaced with this new email address, where it's allowed: 
							</div>
				            <form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
				                <input type="hidden" name="flavor"        value="profile" > 
				                <input type="hidden" name="process"  value="update_email" >
			                    <!-- tmpl_if errors_update_email --> 
			                        <!-- tmpl_if error_invalid_email --> 
			                            <p class="error"> 
			                                * The email address you submitted is not valid.
			                            </p> 
			                        <!-- /tmpl_if --> 

			                        <!-- tmpl_if error_profile_exists --> 
			                            <p class="error"> 
			                                * A Profile already exists for the email address, <!-- tmpl_var updated_email -->.
			                            </p> 
			                        <!-- /tmpl_if --> 
			                    <!-- tmpl_else --> 
			                    <!-- /tmpl_if -->

								<div class="row">
									<div class="small-12 columns">					
										<label for="updated_email" class="label_profile_fields">
											Your New Profile Email Address: 
										</label>
										<input type="text" name="updated_email" id="updated_email" value="" >
									</div>
								</div>
								<div class="row">
									<div class="small-12 columns">					
										<input type="submit"  class="success button" value="Confirm and Update Your New Profile Email Address" > 
									</div>
								</div>	
							</form>
						</div>
					</div>
				<!-- /tmpl_if --><!-- profile_feature_update_email_address -->
					
					
			    <!-- tmpl_if expr="profile_feature_change_password == 1" -->				
					
					<a href="#change_password" class="show-for-small-only">
						Password
					</a>
					
					<div id="change_password" class="content">
						<div class="content-box section-box">
							
							<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
				                <input type="hidden" name="flavor"        value="profile" > 
				                <input type="hidden" name="process"  value="change_password" >

				                <!-- tmpl_if errors_change_password --> 
				                        <p class="error">
				                            Make sure that you re-typed your password correctly. 
				                        </p>
				                <!-- /tmpl_if -->
								<div class="row">
									<div class="small-12 columns">
										<label for="password" class="label_profile_fields">
					                 	   New Password 
					                    </label>
										<input type="password" name="password" id="password" value=""  >
									</div>
								</div>
								<div class="row">
									<div class="small-12 columns">
										<label for="again_password" class="label_profile_fields">
					                    New Password Again: 
					                    </label>
					                    <input type="password" name="again_password" id="again_password" value=""  >
									</div>
								</div>
								<div class="row">
									<div class="small-12 columns">	
				                		<input type="submit"   class="success button"  value="Change Password" > 
									</div>
								</div>
				            </form>						
						</div>
					</div>
			    <!-- /tmpl_if --><!-- profile_feature_change_password -->
				
				
			    <!-- tmpl_if expr="profile_feature_delete_profile == 1" -->			
					<a href="#delete_profile" class="show-for-small-only">
						Delete
					</a>
					<div id="delete_profile" class="content">
						<div class="content-box section-box">
				            <form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
				                <input type="hidden" name="flavor"        value="profile" > 
				                <input type="hidden" name="process"  value="delete_profile" >
        
								<div class="alert-box info radius">
							        Deleting your profile will remove all your profile information, but 
				                    all your subscriptions to subscribed mailing lists will remain.
								</div> 
																									  
				                <input type="submit" value="Delete Your Profile" class="alert button" onclick="return confirm_profile_removal(this.form);" > 
        
							</form>
						</div>
					</div>
			    <!-- /tmpl_if -->
				
			</dd>
		</dl>
	</div>
</div>





<!-- end profile_home.tmpl --> 