<!-- begin profile_help.tmpl --> 

<!-- tmpl_set name="title" value="What are <!-- tmpl_var PROGRAM_NAME --> Profiles?" --> 
<h1>
	What are <!-- tmpl_var PROGRAM_NAME --> Profiles?
</h1> 

<p>
<!-- tmpl_var PROGRAM_NAME --> Profiles allow you to view and work with all your
<!-- tmpl_var PROGRAM_NAME --> subscriptions from one place as well as allow you to 
update your own information. 
</p> 

<p>
	Having a profile and being logged in also allows you to view subscriber-only archives
and have subscription/unsubscription forms pre-filled out throughout <!-- tmpl_var PROGRAM_NAME -->. 

</p> 

<p>
	<a href="<!-- tmpl_var PROGRAM_URL -->/profile_login/">
		&lt;-- Back to Profile Login
	</a> 
</p>

<!-- end profile_help.tmpl --> 