<!-- begin profile_reset_password.tmpl --> 

<!-- tmpl_set name="title" value="Reset Your Profile Password" --> 
	<h1>Authorization Successful!</h1> 
	
	<fieldset>
		<legend>Pick a New Password:</legend> 
	
	<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
		<input type="hidden" name="f"     value="profile_reset_password"  /> 
		<input type="hidden" name="email" value="<!-- tmpl_var email -->" /> 
		<input type="hidden" name="auth_code" value="<!-- tmpl_var auth_code -->" />
		<p>
			<label for="password">
				Your New Password:
			</label>
			 <input type="password" name="password" id="password" value="" />
		</p> 
	
		<div class="buttonfloat">
			<input type="submit" value="Reset Your Password and Login..." /> 
		</div>
		<div class="floatclear"></div>
	
	
	
	
	</form> 
	
	</fieldset>
<!-- end profile_reset_password.tmpl --> 
