<!-- begin profile_reset_password_confirm.tmpl --> 

<!-- tmpl_set name="title" value="Profile Reset Password Confirm" -->
<h1>
	Profile Reset Confirmation Email Sent!
</h1>

<p>
	Please check your email inbox for, <!-- tmpl_var profile.email --> for the profile password confirmation message. 
</p>

<p>
	Follow the authorization link in the message, to reset your profile password!

</p> 


<!-- end profile_reset_password_confirm.tmpl --> 
