<!-- begin profile_fields_screen.tmpl --> 

<!-- tmpl_set name="title" value="Profiles &#187; Profile Fields" -->
<!-- tmpl_set name="load_jquery_validate" value="1" -->

<div id="screen_meta" data-menu_highlight="profile_fields"></div>

<div id="screentitle"> 
	<div id="screentitlepadding">
		Profiles
		 &#187;
		<!-- tmpl_if edit_field --> 
			<a href="<!-- tmpl_var S_PROGRAM_URL -->?f=profile_fields"> 
			Profile Fields
			</a>
			 &#187; 
		 <!-- tmpl_var field -->
		<!-- tmpl_else --> 
			Profile Fields
		<!-- /tmpl_if -->
	</div> 
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<div id="profile_fields"></div>

<!-- tmpl_if field_changes --> 

	<div class="clearskiesbox" id="changes_saved_dialog_box">
	
    	<!-- tmpl_if deletion --> 
    		<p>
    			The Profile Field, &quot;<!-- tmpl_var working_field -->&quot;  has been deleted.
    		</p>
    	<!-- /tmpl_if --> 

    	<!-- tmpl_if addition --> 
    		<p>
    			The Profile Field, &quot;<!-- tmpl_var working_field -->&quot;  has been added.
    		</p>
    	<!-- /tmpl_if --> 

    	<!-- tmpl_if edited --> 
    		<p>
    			The Profile Field, &quot;<!-- tmpl_var working_field -->&quot;  has been edited.
    		</p>
    	<!-- /tmpl_if --> 
    	<div style="text-align:center;">
    	    <input type="button" class="small_button fade_me" value="Ok!" />
    	</div>

	</div> 
<!-- /tmpl_if --> 

<!-- tmpl_if can_have_subscriber_fields --> 
    
	
    
    <!-- tmpl_unless field_status --> 
    
		<div class="badweatherbox"> 
		
		<!-- tmpl_unless edit_field --> 
		
	        <p> 
	         There were problems when adding your new Profile Field:
	        </p>

		<!-- tmpl_else --> 

			<p> 
	         There were problems when editing your field, <!-- tmpl_var field -->
	        </p>

		<!-- /tmpl_unless --> 
        
        <ul>
         <!-- tmpl_if field_error_field_blank -->
             <li>
              <p> 
                The field name you submitted was blank.
              </p>
              </li>
         <!-- /tmpl_if --> 
         
          <!-- tmpl_if field_error_field_name_too_long -->
             <li>
              <p> 
                The field name is too long - make sure it's less than 64 characters.
              </p>
              </li>
         <!-- /tmpl_if --> 

          <!-- tmpl_if field_error_upper_case -->
             <li>
              <p> 
                The field name has upper case characters.
              </p>
              </li>
         <!-- /tmpl_if --> 
         
        <!-- tmpl_if field_error_slashes_in_field_name -->
             <li>
              <p> 
                The field name has slashes in its name. 
              </p>
              </li>
         <!-- /tmpl_if --> 
         
         
         <!-- tmpl_if field_error_weird_characters -->
             <li>
              <p> 
                The field name has some weird characters. 
              </p>
              </li>
         <!-- /tmpl_if --> 
         
         <!-- tmpl_if field_error_quotes -->
             <li>
              <p> 
                The field name has quotes in it. 
              </p>
              </li>
         <!-- /tmpl_if -->  
        
        
         <!-- tmpl_if field_error_field_exists -->
             <li>
              <p> 
                The field name already exists! 
              </p>
              </li>
         <!-- /tmpl_if -->  
         
         
          <!-- tmpl_if field_error_spaces -->
             <li>
              <p> 
                The field name has spaces (hint: use an underscore instead of a space). 
              </p>
              </li>
         <!-- /tmpl_if -->
         
         
         <!-- tmpl_if field_error_field_is_special_field -->
             <li>
              <p> 
                The field name you're trying to add/edit is a special, reserved field (email_id, email, list, list_type, list_status )
              </p>
              </li>
         <!-- /tmpl_if -->   
        </ul> 
    
	</div> 
	
    <!-- /tmpl_unless --> 
    
	<div class="clearskiesbox">
	<p>
	 Profile Fields are <strong>Global</strong> and will affect all Mailing Lists. 
	 You may only change the Profile Fields if you are logged in with the <!-- tmpl_var PROGRAM_NAME --> 
	  Root Password.
	</p>
	</div> 


		    
  <!-- tmpl_unless edit_field -->   

	<fieldset> 
		<legend>Profile Fields</legend>
		
    <!-- tmpl_if fields --> 


	
  
	<div style="max-height: 200px; overflow: auto; border:1px solid black">

	 <table class="stripedtable">
         <tr> 
                   <!-- tmpl_if root_login --> 
			 <td> 
	                <p>
	                &nbsp;
	               </p>
	               </td>
	         <!-- /tmpl_if --> 
	

		 <td> 
           <p>
            <strong>
             Name
            </strong> 
           </p> 
          </td> 
          
    
		 <td> 
           <p>
            <strong>
             Label
            </strong> 
           </p> 
          </td>

      
            <td> 
           <p>
            <strong>
             Fallback Value 
            </strong> 
           </p> 
          </td> 

            <td> 
           <p>
            <strong>
                Required 
            </strong> 
           </p> 
          </td> 

          
           <!-- tmpl_if root_login --> 
           
          <td> 
          </td> 
         
            <!--/tmpl_if-->
            
         </tr> 
         
        <!-- tmpl_loop fields --> 
  

      
        <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->> 

	       <!-- tmpl_if root_login --> 
				

	             <td style="width:12em"> 

	            <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" style="margin: 0pt; display: inline;" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
	             <input type="hidden" name="f" value="profile_fields" /> 
	             <input type="hidden" name="edit_field" value="1" /> 
	             <input type="hidden" name="field"  value="<!-- tmpl_var field -->" /> 
	            <input type="submit" value="[edit]" class="cautionary" style="margin:0px" /> 
	            </form> 
	
	
				<!-- tmpl_if can_move_columns --> 
					<form style="margin: 0pt; display: inline;" accept-charset="<!-- tmpl_var HTML_CHARSET -->">			
						<input type="hidden" name="f" value="profile_fields" /> 
		             	<input type="hidden" name="process" value="edit_field_order" /> 
		             	<input type="hidden" name="field"  value="<!-- tmpl_var field -->" />
						<input type="hidden" name="direction" value="up" /> 
						<input type="submit" value="^" class="cautionary" style="margin: 0pt;" title="move this field up" <!-- tmpl_if __first__ -->disabled="disabled"<!-- /tmpl_if --> />
				
					</form>
					<form style="margin: 0pt; display: inline;" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
					
						<input type="hidden" name="f" value="profile_fields" /> 
		             	<input type="hidden" name="process" value="edit_field_order" /> 
		             	<input type="hidden" name="field"  value="<!-- tmpl_var field -->" />
						<input type="hidden" name="direction" value="down" />
					
						<input type="submit" value="v" class="cautionary" style="margin: 0pt;" title="move this field down"  <!-- tmpl_if __last__ -->disabled="disabled"<!-- /tmpl_if --> />
					</form>
				<!-- /tmpl_if --> 
				
	             </td> 
	
	        <!--/tmpl_if-->
	
	
         <td> 
          <p>
           <strong>
           <!-- tmpl_var field --> 
           </strong>
          </p> 
         </td> 
         

	    
         <td> 
          <p>
           <!-- tmpl_var label --> 
          </p>
         </td>


         <td> 
          <p>
           <!-- tmpl_var fallback_value --> 
          </p>
         </td> 

         <td> 
          <p>
           <!-- tmpl_var required --> 
          </p>
         </td> 
         
         
         <!-- tmpl_if root_login --> 
             
             <td style="width:5em"> 
            
            <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
             <input type="hidden" name="f" value="profile_fields" /> 
             <input type="hidden" name="process" value="delete_field" /> 
             <input type="hidden" name="field"  value="<!-- tmpl_var field -->" /> 
            <input type="submit" value="&#8855;" class="alertive"  onclick="return removeSubscriberField(this.form);" /> 
            </form> 
             </td> 
        
        <!--/tmpl_if-->
        
        </tr> 
        
        
        
        <!-- /tmpl_loop --> 
        </table> 
   </div> 
 
    <!-- tmpl_else --> 
    
    <p class="error"> 
     Currently, there are no Profile Fields.
    </p>
    
    
    <!-- /tmpl_if --> 
   



 <!-- /tmpl_unless --> 
</fieldset> 
   
    <fieldset> 
<!-- tmpl_unless edit_field --> 

    <legend>
     Add a New Field
    </legend> 

<!-- tmpl_else --> 

<legend>
	Edit Field: <!-- tmpl_var field --> 
</legend>

<!-- /tmpl_unless --> 

    
    <!-- tmpl_if root_login --> 
         <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->" id="add_edit_field">
             <input type="hidden" name="f" value="profile_fields" /> 

			<!-- tmpl_unless edit_field --> 
			
             	<input type="hidden" name="process" value="add_field" /> 
            <!-- tmpl_else --> 

				<input type="hidden" name="process"    value="edit_field" /> 
 				<input type="hidden" name="orig_field" value="<!-- tmpl_var field -->" /> 
        	
    		<!-- /tmpl_unless -->

            <table cellpadding="5" cellspacing="0" width="100%"> 
             <tr> 
				<td align="right"> 
                <p>
                <label for="field">Field Name:</label> 
               </p>
               </td> 
               <td> 
                 <p>
                  <input type="text" name="field"  id="field" value="<!-- tmpl_var field escape="HTML"  -->" class="full" <!-- tmpl_if using_SQLite --><!-- tmpl_if edit_field -->disabled="disabled"<!-- /tmpl_if --><!-- /tmpl_if --> /><br /> 
                  <em>
					(Use underscores, instead of spaces - no funny characters, and use lower case characters instead of uppercase.)
                  </em><br /> <br /> 
                  
                  <!-- tmpl_if using_SQLite -->
                    <!-- tmpl_if edit_field -->
                        </p>
                        	<p class="error">Disabled. SQLite backend currently doesn't support renaming fields.</p>
                        <p>
                    <!-- /tmpl_if -->
                  <!-- /tmpl_if -->

                  <em>Field Names prefixed with, &quot;<!-- tmpl_var HIDDEN_SUBSCRIBER_FIELDS_PREFIX escape="HTML" -->&quot; will not be displayed on public subscription forms.</em>
                  
                </p>
            </td> 
            </tr> 

            <tr> 
             <td  align="right"> 
                <p>
                  <label for="field_label">Label:</label> 
                </p>
               </td> 
               <td> 
                <p>
                 <input type="text" name="field_label" id="field_label"  value="<!-- tmpl_var field_label escape="HTML" -->" class="full" /><br />
                  <em>This label will be used on public subscription forms</em>
                </p>
            </td>
            </tr>

            <tr> 
             <td  align="right"> 
                <p>
                 <label for="fallback_field_value">Fallback Value:</label> 
                </p>
               </td> 
               <td> 
                <p>
                    <input type="text" name="fallback_field_value" id="fallback_field_value"  value="<!-- tmpl_var fallback_field_value escape="HTML" -->" class="full" />
                    <br />
                    <em>This value is used in things like mail merging, when there's no information saved for the subscriber. </em>
                </p>
             </td>
            </tr>
            
            <tr> 
             <td  align="right"> 
                <p>
                  <label for="field_required">Required:</label> 
                </p>
               </td> 
               <td> 
                <p>
                 <input type="checkbox" name="field_required" id="field_required"  value="1" <!-- tmpl_if field_required -->checked="checked"<!-- /tmpl_if --> />
                </p>
            </td>
            </tr>
            
            
            
           </table> 
            
            <div class="buttonfloat">
                
				<!-- tmpl_unless edit_field --> 
                	<input type="submit" value="Add Field" class="processing" /> 
				<!-- tmpl_else --> 
					<input type="submit" value="Edit Field, &quot;<!-- tmpl_var field -->&quot;" class="processing" /> 
				<!-- /tmpl_unless --> 
				</div>
            <div class="floatclear"></div>
            
            
                </form> 
        
        <!-- tmpl_else --> 
        
            <p class="error">Disabled. You must be logged in using the <!-- tmpl_var PROGRAM_NAME --> Root Password.</p>
        
        <!--/tmpl_if-->
       
       </fieldset> 

    <!-- tmpl_else --> 
    
    
        <p class="error"> 
         Your current subscription backend does not support Profile Fields. You will need to use the MySQL, PostgreSQL or SQLite backend.  
        </p> 

<!-- /tmpl_if --> 





<!-- end profile_fields_screen.tmpl --> 

