<!-- begin profile_update_email_confirm.tmpl --> 

<!-- tmpl_set name="title" value="Update Profile Email Results:" -->
<!-- tmpl_set name="show_profile_widget" value="0" --> 

<h2>Update Your Profile and Your Mailing List Subscriptions, Changing,</h2>

 	<ul> 
	 <li>
	  <h2>
		<!-- tmpl_var profile.email -->
	 </h2>
	</li> 
	</ul> 
	
	<h2>To:</h2> 
	
	<ul> 
		<li>
			<h2>
				 <!-- tmpl_var profile.update_email -->
			</h2>
		</li> 
	</ul> 

	
	<!-- tmpl_if comment --> 
	<br /> 
	[ ] Clone my profile, using <!-- tmpl_var profile.update_email --> as the new Profile Email Address. 
	<!-- /tmpl_if --> 
	
	
<p>Here's a summary of your mailing list subscription updates:</p> 

<!-- tmpl_if subscriptions --> 

	<!-- tmpl_loop subscriptions --> 

		<h3>List: <!-- tmpl_var list_settings.list_name --></h3> 
	
		<!-- tmpl_if status --> 
			<ul> 
				<li>
					<p class="positive">Subscription Email Update Should  Be Successful!</p> 
				</li> 
			</ul> 
		
		<!-- tmpl_else --> 
			<p class="error">
				Looks like there's some problems:
			</p> 
			<ul> 
			
			<!-- tmpl_if invalid_email --> 
				<li>
					<p class="error">
					The new email address is invalid.
				</p>
			</li> 
		
			<!-- /tmpl_if --> 
		
			<!-- tmpl_if subscribed --> 
		
				<li>	<p class="error">
					The new email address is already subscribed.
				</p>
				</li>
			<!-- /tmpl_if --> 
		
		
		    <!-- tmpl_if closed_list --> 
					<li><p class="error">
					This mailing list is closed to new subscribers.  
				</p>
				</li>
			<!-- /tmpl_if --> 
			
			<!-- tmpl_if invite_only_list --> 
					<li><p class="error">
					This mailing list is by invitation-only.  
				</p>
				</li>
			<!-- /tmpl_if -->
			
	
		    <!-- tmpl_if  mx_lookup_failed --> 
					<li><p class="error">
					MX lookup failed. 
				</p>
				</li>
			<!-- /tmpl_if --> 
		
			<!-- tmpl_if black_listed --> 
					<li><p>Your new address is black listed from subscribing to this mailing list. </p> 
					</li>
			<!-- /tmpl_if --> 
	
		     <!-- tmpl_if not_white_listed -->
			<li> 
				<p class="error">
					The new email address is not on the  mailing list's white list. .
				</p>	
			</li>
			<!-- /tmpl_if --> 
			
			
		
		</ul> 
		
			
		   <!-- tmpl_if comment --> 
			These errors can also be passed, but probably wouldn't be. 
		 	* over_subscription_quota
		    * already_sent_sub_confirmation
		    * settings_possibly_corrupted
		    * no_list
			<!-- /tmpl_if --> 
	
			<p>	
				<a href="<!-- tmpl_var PROGRAM_URL -->?f=u&list=<!-- tmpl_var list_settings.list -->&email=<!-- tmpl_var profile.email -->" target="_blank">
					Begin unsubscription process for <!-- tmpl_var profile.update_email --> from, <!-- tmpl_var list_settings.list_name -->
				</a>.
			</p>
		
		<!-- /tmpl_if --> 

	<!-- /tmpl_loop --> 
<!-- tmpl_else --> 

	<p class="alert">
		You are not currently subscribed to any mailing list.
	</p> 
	
<!-- /tmpl_if --> 

<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
	<input type="hidden" name="confirmed" value="1" /> 
	<input type="hidden" name="auth_code" value="<!-- tmpl_var auth_code -->" /> 
	<input type="hidden" name="email" value="<!-- tmpl_var profile.email -->" /> 
	<input type="hidden" name="f" value="profile_update_email" /> 
	
	<div class="buttonfloat">
<input type="submit" value="Update my Profile Email and Mailing List Subscriptions!" class="processing" />	</div>
	<div class="floatclear"></div>
	
</form> 


<!-- end profile_update_email_confirm.tmpl --> 
