
<ul>     
<!-- tmpl_loop recurring_day --> 
    <li>
        <!-- tmpl_var name -->
    </li>
<!-- /tmpl_loop --> 
</ul>



<p>recurring_datetime_time: <!-- tmpl_var recurring_datetime_time -->
    
<p>recurring_datetime_start: <!-- tmpl_var recurring_datetime_start -->
<p>locatetime_start <!-- tmpl_var locatetime_start -->    
    
    
<p>recurring_datetime_end: <!-- tmpl_var recurring_datetime_end -->

