<!-- begin remove_from_multiple_lists_widget.tmpl -->

<div class="clearskiesbox"> 
	
	<p><strong>Removing <!-- tmpl_var email --></strong></p>
	<p>
		Check the mailing lists you would like to remove 
		<strong>
		<!-- tmpl_var email -->
		</strong>
		
		 from
		
		<strong>
			<!-- tmpl_var list_type_label -->
		</strong>
	</p>
</div> 


<form action="<!-- tmpl_var name="S_PROGRAM_URL" -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
 <input type="hidden" name="f" value="remove_from_multiple_lists" />
 <input type="hidden" name="process" value="1" />
 <input type="hidden" name="email" value="<!-- tmpl_var email -->" />
 <input type="hidden" name="type"  value="<!-- tmpl_var list_type -->" />

 <input type="hidden" name="return_to" value="membership" />

<!-- tmpl_loop subscribed_lists --> 
<p>
	<input type="checkbox" name="remove_from_list" id="<!-- tmpl_var list_settings.list -->" value="<!-- tmpl_var list_settings.list -->" checked="checked" />
	<label for="<!-- tmpl_var list_settings.list -->"><!-- tmpl_var list_settings.list_name --></label>
</p>
<!-- /tmpl_loop -->

	 <div class="buttonfloat">	 
		<input type="submit" value="Remove <!-- tmpl_var email --> f<!-- tmpl_var list_type_label -->" class="cautionary" id="remove_email" />
	</div> 
	<div class="floatclear"></div>
</form> 
<!-- end remove_from_multiple_lists_widget.tmpl --> 