<!-- begin report_mass_mailing_errors_screen.tmpl -->

<!-- tmpl_set name="title" value="Problems Found in Email Message" -->

<h1>Problems With Mass Mailing</h1> 

<p>Your message has <em>not</em> been sent:</p>


<div class="alert-box warning radius">
	<!-- tmpl_var errors -->
</div>

<!-- tmpl_if wrap -->
	<p>
		<a href="<!-- tmpl_var s_program_url -->?flavor=send_email&draft_id=<!-- tmpl_var draft_id -->&draft_role=<!-- tmpl_var draft_role -->" class="button">
			&lt;&lt; Return to Editing Draft
		</a>
	</p>
<!-- /tmpl_if -->
	
<!-- end report_mass_mailing_errors_screen.tmpl -->