<!-- begin rest_subscribe_demo -->

<!-- tmpl_set name="title" value="RESTful/Ajax Demo" --> 

<!-- tmpl_set name="load_colorbox" value="1" --> 
	
<!-- tmpl_var subscription_form -->

<!-- end rest_subscribe_demo -->
