<!-- begin restore_lists_screen.tmpl --> 

<!-- tmpl_set name="title" value="Restore List Information" --> 

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
	
<p>
 Please enter the correct <!-- tmpl_var PROGRAM_NAME --> Root Password to begin restoring list settings:<br /> 
 
<input type="hidden" name="flavor" value="restore_lists" />

<input type="password" name="root_password" /> 
 
<input type="submit" value="Continue..." class="alertive" />

<p><strong>No</strong> Changes will be made to your list files by clicking, &quot;Continue&quot;.</p>
</form> 


<!-- end restore_lists_screen.tmpl --> 

