<!-- begin scheduled_jobs.tmpl -->
<!-- tmpl_set name="title" value="Scheduled Jobs" -->


<div id="scheduled_jobs"></div> 
<div id="screen_meta" data-menu_highlight="scheduled_jobs"></div>


<form>
    
<fieldset> 
    <legend> 
        Scheduled Jobs URL:
    </legend>
    
    <div data-alert class="alert-box success radius"> style="width:90%"> 
        <h1>
            <!-- tmpl_var S_PROGRAM_URL -->/<!-- tmpl_var scheduled_jobs_flavor escape="HTML" -->/_all/_all/_silent/
        </h1> 
    </div> 
    <p> 
        Set this URL to be fetched by a scheduled task (cronjob) on a recurring schedule (~5 minutes)
    </p>
    
    <p>
        <label for="cronjob_url">Here's an example of a cronjob, using the curl command:</label> <br /> 
        <input type="text"  id="cronjob_url" value="<!-- tmpl_var name="curl_location" default="/cannot/find/curl" --> --user-agent &quot;Mozilla/5.0 (compatible;)&quot; --silent --get --url <!-- tmpl_var S_PROGRAM_URL -->/<!-- tmpl_var scheduled_jobs_flavor escape="HTML" -->/_all/_all/_silent/" />
    </p>
    
</fieldset> 

    <div style="text-align:center">
        <input type="hidden" name="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->" id="s_program_url" /> 
        <input type="hidden" name="sched_flavor" id="sched_flavor" value="<!-- tmpl_var scheduled_jobs_flavor escape="HTML" -->" /> 
	    <input type="button" value="Manually Run Scheduled Jobs" class="processing bigger_button manually_run_scheduled_jobs" />
    </div>
</form>


<!-- end scheduled_jobs.tmpl -->
