<!-- begin sending_tuning_options.tmpl --> 

<!-- tmpl_set name="title" value="Domain-Specific Sending Tuning" -->
<p>
  Mail Sending
	&#187;
   <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=sending_preferences">
	Sending Options 
  </a>
 &#187;

  <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=adv_sending_preferences">
 Advanced
</a>
 &#187;

 Domain-Specific Sending Tunings

</p>






<!-- tmpl_if use_domain_sending_tunings --> 

    <p class="positive"> 
     * Domain Sending Tunings is enabled.
    </p>
    
<!-- tmpl_else --> 

    <p class="error"> 
     * Domain Sending Tunings is disabled.
    </p>

<!--/tmpl_if--> 





<!-- tmpl_if done --> 

    <!-- tmpl_include changes_saved_dialog_box_widget.tmpl  --> 

<!--/tmpl_if--> 





<!-- tmpl_if edit --> 

    <p class="positive">Your edits have been made!</p>

<!--/tmpl_if --> 





<!-- tmpl_if remove --> 

    <p class="positive">Your removal have been made!</p>

<!--/tmpl_if --> 





<!-- tmpl_if tunings --> 

    <h1>
     Saved Domain Tunings
    </h1> 


    <!-- tmpl_loop tunings --> 


        <div style="<!-- tmpl_if __odd__ -->background-color:#ccf;border:1px solid black;margin:5px;padding:5px;<!-- tmpl_else-->border:1px solid black;margin:5px;padding:5px;<!--/tmpl_if-->">
         
         <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
         <input type="hidden" name="domain" value="<!-- tmpl_var domain -->" /> 
         
         <table border="0"> 
         <tr> 
          <td colspan="2">
           <h2> 
            Domain:  <!-- tmpl_var domain -->
           </h2> 
          </td> 
         </tr> 
        
        
        
        
        
         <tr> 
          <td> 
           <input type="checkbox" name="sending_method" id="<!-- tmpl_var domain -->_sending_method_smtp" value="1" <!-- tmpl_if expr="sending_method eq 'smtp'" -->checked="checked"<!--/tmpl_if--> /> 
          </td> 
          <td> 
           <p>
            <label for="<!-- tmpl_var domain -->_sending_method_smtp">
             Send Email Using SMTP
            </label> 
           </p>
          </td> 
         </tr> 
         
         
         
         
         
         <tr> 
          <td> 
           <input type="checkbox" name="add_sendmail_f_flag" id="<!-- tmpl_var domain -->_add_sendmail_f_flag" value="1" <!-- tmpl_if add_sendmail_f_flag -->checked="checked"<!--/tmpl_if-->/> 
          </td> 
          <td> 
           <p>
            <label for="<!-- tmpl_var domain -->_add_sendmail_f_flag">
             Add the Sendmail '-f' flag when sending messages
            </label> 
           </p>
          </td> 
         </tr> 
         
         
         
         
         
         <tr> 
          <td> 
           <input type="checkbox" name="print_return_path_header" id="<!-- tmpl_var domain -->_print_return_path_header" value="1" <!-- tmpl_if print_return_path_header -->checked="checked"<!--/tmpl_if--> /> 
          </td> 
          <td> 
           <p>
            <label for="<!-- tmpl_var domain -->_print_return_path_header">
             Print the 'Return-Path' header
            </label> 
           </p>
          </td> 
         </tr> 
        
        
        
        
        
         <tr> 
          <td> 
           <input type="checkbox" name="verp_return_path" id="<!-- tmpl_var domain -->_verp_return_path" value="1" <!-- tmpl_if verp_return_path -->checked="checked"<!--/tmpl_if--> /> 
          </td> 
          <td> 
           <p>
            <label for="<!-- tmpl_var domain -->_verp_return_path">
             Use VERP 
            </label> 
           </p>
          </td> 
         </tr> 
         
         
         
         
         
        </table> 
        
        <input type="hidden" name="f"       value="sending_tuning_options" />
        
        <div class="buttonfloat">
         
         <input type="reset"  class="cautionary" value="Clear" />
         <input type="submit" class="processing" name="process_edit" value="Edit Tuning" />
         <input type="submit" class="alertive"   name="process_edit" value="Remove Tuning" />
         
         </div>
         <div class="floatclear"></div>
        
         </form> 
        </div> 
        
        
            
    <!--/tmpl_loop--> 

    <hr /> 

<!--/tmpl_if-->





<h1>Create a new domain tuning:</h1> 


<div style="background-color:#ffc;border:1px solid black;margin:5px;padding:5px">

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">

<p> 
 <label for="new_tuning_domain"> 
  Domain:
 </label> 
 <input type="text" name="new_tuning_domain" id="new_tuning_domain" /> 
</p>

<table border="0"> 
 
 
 <tr> 
  <td> 
   <input type="checkbox" name="new_tuning_sending_method" id="new_tuning_sending_method" value="smtp" <!-- tmpl_if list_sending_method -->checked="checked"<!--/tmpl_if--> /> 
  </td> 
  <td> 
   <p>
    <label for="new_tuning_send_via_smtp">
     Send Email Using SMTP
    </label> 
   </p>
  </td> 
 </tr> 
 
 <tr> 
  <td> 
   <input type="checkbox" name="new_tuning_add_sendmail_f_flag" id="new_tuning_add_sendmail_f_flag" value="1" <!-- tmpl_if list_add_sendmail_f_flag -->checked="checked"<!--/tmpl_if--> /> 
  </td> 
  <td> 
   <p>
    <label for="new_tuning_add_sendmail_f_flag">
     Add the Sendmail '-f' flag when sending messages
    </label> 
   </p>
  </td> 
 </tr> 
 
 
 
 
 
 <tr> 
  <td> 
   <input type="checkbox" name="new_tuning_print_return_path_header" id="new_tuning_print_return_path_header" value="1" <!-- tmpl_if list_print_return_path_header -->checked="checked"<!--/tmpl_if--> /> 
  </td> 
  <td> 
   <p>
    <label for="new_tuning_print_return_path_header">
     Print the 'Return-Path' header
    </label> 
   </p>
  </td> 
 </tr> 
 
 
 
 
 
 <tr> 
  <td> 
   <input type="checkbox" name="new_tuning_verp_return_path" id="new_tuning_verp_return_path" value="1" <!-- tmpl_if list_verp_return_path -->checked="checked"<!--/tmpl_if--> /> 
  </td> 
  <td> 
   <p>
    <label for="new_tuning_verp_return_path">
     Use VERP 
    </label> 
   </p>
  </td> 
 </tr> 


<input type="hidden" name="new_tuning" value="1" /> 
  
</table> 
    
<input type="hidden" name="process" value="1" />
<input type="hidden" name="f"       value="sending_tuning_options" />
<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear" />
 <input type="submit" class="processing" value="Create New Tuning" />
</div>
<div class="floatclear"></div>

</form> 

</div> 





<!-- tmpl_if tunings -->


    <hr /> 
    
    
    <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post"> 
    
    
    <input type="hidden" name="process" value="remove_all" /> 
    <input type="hidden" name="f"       value="sending_tuning_options" />
    <!-- <div class="buttonfloat"> --> 
    
    <div style="text-align:center"> 
     <input type="submit" class="alertive"   name="process_edit" value="    Remove ALL Tunings    " />
    </div> 
    
    <!--  
    </div>
    <div class="floatclear"></div>
    --> 
    
    
    </form> 

    <hr /> 
    
<!--/tmpl_if--> 
 

<p>
 <a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=adv_sending_preferences">
  &lt;-- Back to Advanced Options...
 </a>
</p>


<!-- end sending_tuning_options.tmpl --> 

