<!-- begin send_email_test_recipient_widget.tmpl --> 

<div id="send_test_messages_to"> 
 <label for="test_recipient">Send Test Messages To:</label>
 <input type="text" id="test_recipient" class="midi" name="test_recipient" value="<!-- tmpl_var list_settings.list_owner_email -->" />
</div>

<!-- end send_email_test_recipient_widget.tmpl --> 