<!-- begin send_email_options-widgets.tmpl -->
<fieldset> 
	<legend>
		Options
	</legend>
	<ul class="tabs" data-tab>
		<li class="tab-title active">
			<a href="#send_email_archive_options">
				Archiving
			</a>
		</li>
		<!-- tmpl_if MULTIPLE_LIST_SENDING --> 
			<li class="tab-title">
				<a href="#multiple_list_sending">
	 				Multiple List Sending
				</a>
			</li>
		<!-- /tmpl_if --> 
		<!-- tmpl_if can_have_subscriber_fields --> 
			<li class="tab-title">
				<a href="#partial_sending_options">
	 				 Partial Mailing List Sending 
				</a>
			</li>
		<!-- /tmpl_if --> 
		<li class="tab-title">
			<a href="#send_email_test_recipient">
				 Testing
			</a>
		</li>
	</ul>

	<div class="tabs-content">
		<div class="content tab-title active" id="send_email_archive_options">		
			<!-- tmpl_include send_email_archive_options_widget.tmpl -->
		</div> 
		<!-- tmpl_if MULTIPLE_LIST_SENDING --> 
			<div class="content tab-title" id="multiple_list_sending">		
				<!-- tmpl_include multiple_list_sending_widget.tmpl --> 
			</div> 
		<!-- /tmpl_if --> 
		<!-- tmpl_if can_have_subscriber_fields --> 
			<div  class="content tab-title" id="partial_sending_options">		
				<!-- tmpl_include partial_sending_options_widget.tmpl --> 
			</div> 
		<!-- /tmpl_if --> 
		<!-- tmpl_if can_have_subscriber_fields --> 
			<div class="content tab-title"  id="update_profile_fields">		
			    <!-- tmpl_include update_profile_fields.tmpl --> 
			</div> 
		<!-- /tmpl_if --> 
		<div class="content tab-title"  id="send_email_test_recipient">		
			<!-- tmpl_include send_email_test_recipient_widget.tmpl --> 
		</div> 
	</div> 
</fieldset> 
<!-- end send_email_options-widgets.tmpl -->