<!-- begin send_email_plaintext_message_form_field_widget.tmpl -->




<div class="row">
	<div class="small-12 columns">
		<input 
			type="radio" 
			name="plaintext_content_from" 
			id="plaintext_content_from_text" 
			value="text"
			class="toggle_send_url_options"
			<!-- tmpl_if expr="(list_settings.mass_mailing_show_by_default_type ne 'html')" -->
				checked="checked"
			<!-- /tmpl_if -->
		>
		<label for="plaintext_content_from_text">
			Write/Paste Text
		</label>
	</div>
</div>
<div id="PlainText_content_from_text_widget">
	<div class="row panel">
		<div class="small-12 columns">
			<!-- tmpl_include plaintext_message_form_field_widget.tmpl -->
		</div>
	</div>
</div>









<div class="row">
	<div class="small-12 columns">
		<input 
			type="radio" 
			name="plaintext_content_from" 
			id="plaintext_content_from_url" 
			value="url"
			class="toggle_send_url_options"
		>
		<label for="plaintext_content_from_url">
			Grab content from a URL
		</label>
	</div>
</div>
<div id="PlainText_content_from_url_widget">
	<div class="row panel">
		<div class="small-12 columns">
			<input type="text" name="plaintext_url" id="plaintext_url"  placeholder="http://" >
		</div>
	</div>
</div>




<div class="row">
	<div class="small-12 columns">
		<input 
			type="radio" 
			name="plaintext_content_from" 
			id="plaintext_content_from_auto" 
			value="auto" 
			class="toggle_send_url_options"
			<!-- tmpl_if expr="(list_settings.mass_mailing_show_by_default_type eq 'html')" -->
				checked="checked"
			<!-- /tmpl_if -->
		>
		<label for="plaintext_content_from_auto">
			Create a PlainText version automatically
		</label>
	</div>
</div>


	

<!-- end send_email_plaintext_message_form_field_widget.tmpl -->