<!-- begin sending_monitor_container_screen.tmpl --> 


<!-- tmpl_set name="title" value="Mass Mailing &#187; Monitor Your Mailings" -->
<!-- tmpl_set name="load_google_viz" value="1" -->
<div id="screen_meta" data-menu_highlight="sending_monitor"></div>


<div id="sending_monitor_container"></div>

<form>
	<input type="hidden" id="s_program_url" name="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->" /> 
	<input type="hidden" name="message_id"           id="message_id"           value="<!-- tmpl_var message_id -->" /> 
	<input type="hidden" name="message_type"         id="message_type"         value="<!-- tmpl_var message_type -->" /> 
	<input type="hidden" name="target_id"            id="target_id"            value="sending_monitor_interface" />
	<input type="hidden" name="show_tracker"         id="show_tracker"         value="<!-- tmpl_var list_settings.tracker_show_message_reports_in_mailing_monitor -->" />  	
	<input type="hidden" name="refresh_after"        id="refresh_after"        value="<!-- tmpl_var refresh_after -->" /> 
	<input type="hidden" name="show_tracker_reports" id="show_tracker_reports" value="<!-- tmpl_var list_settings.tracker_show_message_reports_in_mailing_monitor -->" />
	<input type="hidden" name="tracker_url"          id="tracker_url"          value="<!-- tmpl_var tracker_url -->" />
</form>


<div id="sending_monitor_interface"></div> 

<!-- tmpl_if list_type_isa_list --> 
	<!-- tmpl_if list_settings.tracker_show_message_reports_in_mailing_monitor --> 
	<div id="tracker_reports"> 
		<fieldset> 
		<legend>Tracker Reports</legend>
			<div id="tracker_reports_container"></div> 
		</fieldset>

	<!-- /tmpl_if --> 
<!-- /tmpl_if --> 
</div>



<!-- end sending_monitor_container_screen.tmpl --> 
