<!-- begin send_email_options_widget.tmpl -->
<div class="panel">
<div class="row">
  <div class="small-12 columns">
    <ul class="tabs show-for-medium-up" data-tab>
      <li class="tab-title active">
	  	<a href="#send_email_archive_options">
			Archiving
		</a>
	</li>
      <li class="tab-title"><a href="#partial_sending_options">
	  	Partial Mailing List Sending
		</a></li>
      <li class="tab-title"><a href="#send_email_test_recipient">
	  	Testing
		</a></li>
    </ul>

	<dl class="accordion" data-accordion>
	
		<dd class="accordion-navigation">
			<a href="#send_email_archive_options" class="show-for-small-only">Archiving</a>
			<div id="send_email_archive_options" class="content active">
				<div class="content-box section-box">
    			<!-- tmpl_include send_email_archive_options_widget.tmpl -->
    			</div>
			</div>
			<a href="#partial_sending_options" class="show-for-small-only">Partial Mailing List Sending </a>
			<div id="partial_sending_options" class="content">
				<div class="content-box section-box">
    				<!-- tmpl_include partial_sending_options_widget.tmpl --> 
    			</div>
			</div>
			<a href="#send_email_test_recipient" class="show-for-small-only">Testing</a>
			<div id="send_email_test_recipient" class="content">
				<div class="content-box section-box">
				<!-- tmpl_include send_email_test_recipient_widget.tmpl --> 
        </div>
			</div>

		</dd>
	</dl>

  </div>
</div>
</div> 
<!-- end send_email_options_widget.tmpl -->