<!-- begin send_email_screen.tmpl -->

<!-- tmpl_set name="title" value="Mass Mailing &#187; Send a Message" -->
<!-- tmpl_set name="load_wysiwyg_editor" value="1" -->
<!-- tmpl_set name="load_datetimepicker" value="1" -->

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				 Mass Mailing 
			 </a>
	 	    <a href="#" class="unavailable">
				Send a Message
			</a>
	 	    <!-- tmpl_if draft_id --> 
				<a href="#" class="current">
		 	        <!-- tmpl_if expr="(draft_role eq 'draft')" --> 
		 	             Draft
		 	        <!-- /tmpl_if -->
		 	        <!-- tmpl_if expr="(draft_role eq 'stationery')" --> 
		 	            Stationery
		 	        <!-- /tmpl_if -->
		 	        <!-- tmpl_if expr="(draft_role eq 'schedule')" --> 
		 	            Schedule
		 	        <!-- /tmpl_if -->
				</a>
	 	    <!-- tmpl_else --> 
	 	     	<a href="#" class="current">
					Draft
				</a>
	 	    <!-- /tmpl_if -->
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>


<div id="send_email_screen"></div> 
<div id="screen_meta" data-menu_highlight="send_email"></div>

<form name="mass_mailing" id="mass_mailing" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post"  accept-charset="<!-- tmpl_var HTML_CHARSET -->">
	<input type="hidden" name="s_program_url"     id="s_program_url"     value="<!-- tmpl_var S_PROGRAM_URL -->" >
	<input type="hidden" name="support_files_url" id="support_files_url" value="<!-- tmpl_var SUPPORT_FILES_URL -->" >
	<input type="hidden" id="list"               name="list"             value="<!-- tmpl_var list_settings.list -->" >
	<input type="hidden" id="sched_flavor"       name="sched_flavor"     value="<!-- tmpl_var sched_flavor -->" >
	<input type="hidden" id="flavor"             name="flavor"                value="send_email" >
	<input type="hidden" id="draft_alert"        name="draft_alert"           value="<!-- tmpl_var draft_alert default="0" -->" >
	<input type="hidden" id="draft_id"           name="draft_id"              value="<!-- tmpl_var draft_id -->"                > 
	<input type="hidden" id="save_draft_role"    name="save_draft_role"       value=""                                          >
	<input type="hidden" id="draft_role"         name="draft_role"            value="<!-- tmpl_var draft_role -->"              >
	<input type="hidden" id="restore_from_draft" name="restore_from_draft"    value="<!-- tmpl_var restore_from_draft -->"      >


	 <div class="contain-to-grid sticky hide-for-small-only" style="text-align:center">
	   <nav data-topbar role="navigation" data-options="sticky_on: large">
			<div id="buttons" style="background-color:#fff;">
				<div class="button_toolbar">
					<input type="button" value="Loading..." class="button small" >
				</div>
			</div>
		</nav>
	 </div>
 
	<div id="entire_form">
		<div id="form_widgets">
			<!-- tmpl_if draft_id --> 
				<!-- tmpl_if expr="(draft_role eq 'draft')" --> 
					<!-- 
						<div class="alert-box info radius">
							Draft message restored below:
						</div>
					-->  
				<!-- /tmpl_if -->
				<!-- tmpl_if expr="(draft_role eq 'stationery')" --> 
					<!-- tmpl_if done --> 
						<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
					<!-- /tmpl_if -->
				<!-- /tmpl_if -->     
				<!-- tmpl_if expr="(draft_role eq 'schedule')" --> 
					<!-- tmpl_if done --> 
						<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
				<!-- /tmpl_if -->
			<!-- /tmpl_if -->     

			<!-- /tmpl_If --> 

			<!-- tmpl_include test_sent_notice_widget.tmpl --> 
			<!-- tmpl_include ses_email_verification_widget.tmpl -->
			<!-- tmpl_include mass_mailing_limit_notice_widget.tmpl --> 
			<!-- tmpl_include discussion_list_support_notice_widget.tmpl --> 

			<!-- tmpl_unless list_settings.smtp_server -->	
				<!-- tmpl_if expr="list_settings.sending_method eq 'smtp'"  -->
					<div class="alert-box info radius">
						Warning! No SMTP Server has been set!
					</div> 
				<!-- /tmpl_if -->
			<!-- /tmpl_unless -->


			<!-- tmpl_include send_email_schedule_options_widget.tmpl -->

			<!-- tmpl_include send_email_headers_widget.tmpl --> 
				
				    <ul class="tabs show-for-medium-up" data-tab>
				      <li 
					  	<!-- tmpl_if expr="((list_settings.use_wysiwyg_editor eq 'none') || (using_no_wysiwyg_editor == 1))" -->
							class="tab-title"
						<!-- tmpl_else -->
							class="tab-title active"
						<!-- /tmpl_if -->
						>
						  	<a href="#html_message">
								HTML Version
							</a>
					  </li>
				      <li
					  	<!-- tmpl_if expr="((list_settings.use_wysiwyg_editor eq 'none') || (using_no_wysiwyg_editor == 1))" -->
							class="tab-title active"
						<!-- tmpl_else -->
							class="tab-title"
						<!-- /tmpl_if -->
						>
					 		<a href="#plaintext_message">
						  	  PlainText Version
						  	</a>
					  </li>
				      <li class="tab-title">
						  <a href="#file_attachments">
							 File Attachments
						  </a>
					 	</li>
				      <li class="tab-title">
						  <a href="#options">
							Options
						  </a>
					 	</li>
				    </ul>

					<dl class="accordion" data-accordion>
						<dd class="accordion-navigation">
							<a href="#html_message" class="show-for-small-only">
								HTML Version
							</a>
							<div id="html_message" 
						  	<!-- tmpl_if expr="((list_settings.use_wysiwyg_editor eq 'none') || (using_no_wysiwyg_editor == 1))" -->
								class="content"
							<!-- tmpl_else -->
								class="content active"
							<!-- /tmpl_if -->
							>
								<div class="content-box section-box">
									<!-- tmpl_include html_message_form_field_widget.tmpl --> 
				    			</div>
							</div>
							<a href="#plaintext_message" class="show-for-small-only">
								PlainText Version
							</a>
							<div id="plaintext_message" 
							  	<!-- tmpl_if expr="((list_settings.use_wysiwyg_editor eq 'none') || (using_no_wysiwyg_editor == 1))" -->
									class="content active"
								<!-- tmpl_else -->
									class="content"
								<!-- /tmpl_if -->
							>
								<div class="content-box section-box">
				    				<!-- tmpl_include plaintext_message_form_field_widget.tmpl -->
				    			</div>
							</div>
							<a href="#file_attachments" class="show-for-small-only">
								Attachments
							</a>
							<div id="file_attachments" class="content">
								<div class="content-box section-box">
				    				<!-- tmpl_include send_email_file_attachments_widget.tmpl -->
				       		   </div>
							</div>
							<a href="#options" class="show-for-small-only">
								Options
							</a>
							<div id="options" class="content">
								<div class="content-box section-box">
									<!-- tmpl_include send_email_options_widget.tmpl -->
				    				
				       		   </div>
							</div>
						</dd>
					</dl>
					
				<!-- tmpl_include send_email_draft_notice_widget.tmpl --> 
		</div>
	</div><!-- entire_form -->
	
	<div class="show-for-small-only">
		<div class="button_toolbar">
			<input type="button" value="Loading..." class="button small" >
		</div>
	</div>
	
	
</form>

<!-- tmpl_include send_email_message_body_help_widget.tmpl -->

<!-- end send_email_screen.tmpl -->
