<!-- begin send_email_draft_notice_widget.tmpl --> 

	<p class="text-right">
		<small>
			<span id="draft_notice">
				Changes Unsaved
			</span>
		</small>
	</p>

<!-- end send_email_draft_notice_widget.tmpl --> 
