<!-- being sending_preferences_screen.tmpl --> 



<!-- tmpl_set name="title" value="Mail Sending &#187; Options" -->

<div id="screen_meta" data-menu_highlight="sending_preferences"></div>



<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div> 
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<div id="sending_preferences"></div> 
<form> 
	<input type="hidden" id="s_program_url" name="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->" />
</form> 

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<fieldset>
	
	<legend>Send Messages Using:</legend>
	
<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form">





	<table width="100%">
	 <tr>
	  <td width="20">
	   <input type="radio" class="sending_prefs_radio" name="sending_method" id="sending_method_sendmail" value="sendmail" <!-- tmpl_if expr="(list_settings.sending_method eq 'sendmail')" -->checked="checked"<!--/tmpl_if --> />
	  </td>
	  <td>
	   <p>
	    <label for="sending_method_sendmail">
	     sendmail Command
	    </label>
	</p>
	
	<!-- tmpl_if comment --> 
	    <br />
		<p>
			Individual Messages will be sent out using following command: 
		</p>
			
		<p><code><!-- tmpl_var MAIL_SETTINGS  --></code></p> 
		
		<p>Mass Mailings will be sent out using the following command:</p>
		
		<p><code><!-- tmpl_var MASS_MAIL_SETTINGS  --></code></p>		
	   <!-- /tmpl_if --> 
	
	
			<div id="sendmail_options" > 
			<fieldset> 
			<table width="100%">
			 <tr>
			  <td width="20">
			   <p>
			    <input type="checkbox" name="add_sendmail_f_flag" id="add_sendmail_f_flag" value="1" <!-- tmpl_if list_settings.add_sendmail_f_flag -->checked="checked"<!--/tmpl_if--> />
			   </p>
			  </td>
			  <td>
			   <p>
			    <label for="add_sendmail_f_flag">
			     Add the Sendmail '-f' flag when sending messages using 
			     <!-- tmpl_var MAILPROG -->
			    </label>
			    <br />
	This will ultimately set the 'Return-Path' email header to the List Administration email address (<!-- tmpl_var list_settings.admin_email --> ), and bounced messages will return to that address. Otherwise, they will go to the List Owner. 			<br /> 
			   <!-- tmpl_if comment -->
			 	<!-- tmpl_var f_flag_settings -->
			   <!-- /tmpl_if --> 
				</p>

			<!-- tmpl_if wrong_uid -->

				   <p>
				    <strong>
				     Warning!
				    </strong>
				    Your effective uid is not the same as your real uid; 
				    using this option may break mail sending.
				   </p>

			<!--/tmpl_if-->

			  </td>
			 </tr>
			</table> 
			</fieldset> 
		</div>
		
		
	  </td>
	 </tr>
	</table>
	
	

	

	





<table width="100%">
 <tr>
<td width="20">
<input type="radio" class="sending_prefs_radio" name="sending_method" id="sending_method_smtp" value="smtp" <!-- tmpl_if expr="(list_settings.sending_method eq 'smtp')" -->checked="checked"<!--/tmpl_if --> />
  </td>
  <td>
   <p>
    <label for="sending_method_smtp">
     SMTP
    </label>
   </p>

<div id="smtp_preferences"> 
	
<fieldset> 

<table cellpadding="5">
 <tr>
  <td>
   <p>
    <label for="smtp_server">
     SMTP Server:
    </label>
   </p>
  </td>
  <td>
   <p>
    <input type="text" name="smtp_server" id="smtp_server" value="<!-- tmpl_var list_settings.smtp_server -->" size="30" />
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    <label for="smtp_port">
     Port:
    </label>
   </p>
  </td>
  <td>
  <p>
   <input type="text" name="smtp_port" id="smtp_port" value="<!-- tmpl_var list_settings.smtp_port -->" size="5" />
  </p>
  </td>
 </tr>
</table>







    <table <!-- tmpl_unless can_use_smtp_ssl -->class="disabled"<!--/tmpl_unless-->> 
     <tr>
      <td width="20"> 
       <p>
        <input type="checkbox" name="use_smtp_ssl" id="use_smtp_ssl" value="1" <!-- tmpl_if list_settings.use_smtp_ssl -->checked="checked"<!-- /tmpl_if --> /> 
       </p>
      </td>
      <td>
       <p>
        <label for="use_smtp_ssl">
         Use Secure Sockets Layer (SSL)
        </label>
        <!-- tmpl_unless can_use_smtp_ssl -->
            <br />
            <span class="error">
             Disabled. The Net::SMTP::SSL module needs to be installed.
            </span>
        <!--/tmpl_unless--> 

       </p>
      </td>
     </tr>
    </table> 






	<div id="smtp_authentication"> 

	<table>
	 <tr>
	  <td width="20">
	   <p>
	    <input type="checkbox" name="use_sasl_smtp_auth" id="use_sasl_smtp_auth" value="1" <!-- tmpl_if use_sasl_smtp_auth -->checked="checked"<!-- /tmpl_if -->/>
	   </p>
	  </td>
	  <td>
	   <p>
	    <label for="use_sasl_smtp_auth">
	     Use SMTP Authentication (SASL)
	    </label>
	   </p>

	<div id="SASL_options"> 
		
	<fieldset> 


	   <table>

	  


	    <tr>
	     <td>
	      <p>
	       <label for="sasl_smtp_username">
	        Username:
	       </label>
	      </p>
	     </td>
	     <td>
	      <p>
	       <input type="text" name="sasl_smtp_username" id="sasl_smtp_username" value="<!-- tmpl_var sasl_smtp_username -->" size="30" />
	      </p>
	     </td>
	    </tr>
	    <tr>
	     <td>
	      <p>
	       <label for="sasl_smtp_password">
	        Password:
	       </label>
	      </p>
	     </td>
	     <td>
	      <p>
	       <input type="password" name="sasl_smtp_password" id="sasl_smtp_password" value="<!-- tmpl_var sasl_smtp_password -->" size="30" />
	      </p>
	     </td>
	    </tr>
	
		 <tr>
		     <td>
		      <p>
		       <label for="sasl_auth_mechanism">
		        Type:
		       </label>
		      </p>
		     </td>
		     <td>
		      <p>
		       <!-- tmpl_var mechanism_popup --> 
		     </p>
		     </td>
		    </tr>
		
		
	   </table>
	
	</div> 
</fieldset> 

	
	  </td>
	 </tr>
	</table>


	<table>
	 <tr>
	  <td width="20">
	   <input type="checkbox" name="use_pop_before_smtp" id="use_pop_before_smtp" value="1" <!-- tmpl_if list_settings.use_pop_before_smtp -->checked="checked"<!-- /tmpl_if --> />
	  </td>
	  <td>
	   <p>
	    <label for="use_pop_before_smtp">
	     Use POP-Before-SMTP Authentication
	    </label></p>
				
			<div id="pop_before_smtp_options">
			<fieldset> 

			<div class="clearskiesbox">
		    A connection to your POP Server will be created before any mail will be sent. 
		    This can authenticate your outgoing mail requests, if your SMTP server 
		    uses POP-before-SMTP or your SMTP server does not use SASL.
		   </p>
		   <p>
		    POP-before-SMTP Authentication will require your username and password for your 
		    <strong>
		     POP3 
		    </strong>
		    Account:
		   </p>
			</div> 

		   <table border="0">
		    <tr>
		     <td>
		      <p>
		       <label for="pop3_server">
		        POP3 Server:
		       </label>
		      </p>
		     </td>
		     <td>
		      <p>
		       <input type="text" name="pop3_server" id="pop3_server" value="<!-- tmpl_var list_settings.pop3_server -->" size="30" />
		      </p>
		     </td>
		    </tr>
		    <tr>
		     <td>
		      <p>
		       <label for="pop3_username">
		        POP3 Username:
		       </label>
		      </p>
		     </td>
		     <td>
		      <input type="text" name="pop3_username" id="pop3_username" value="<!-- tmpl_var list_settings.pop3_username -->" size="30" />
		     </td>
		    </tr>
		    <tr>
		     <td>
		      <p>
		       <label for="pop3_password">
		        POP3 Password:
		       </label>
		      </p>
		     </td>
		     <td>
		      <p>
		       <input type="password" name="pop3_password" id="pop3_password" value ="<!-- tmpl_var decrypted_pop3_pass -->" size="30" />
		      </p>
		     </td>
		    </tr>

		 <tr>
		     <td>
		      <p>
		       <label for="pop3_auth_mode">
		        Type:
		       </label>
		      </p>
		     </td>
		     <td>
		      <p>
		       <!-- tmpl_var pop3_auth_mode_popup --> 
		     </p>
		     </td>
		    </tr>


		   </table>

		    <table  width="100%" <!-- tmpl_unless can_use_ssl -->class="disabled"<!--/tmpl_unless-->> 
		     <tr>
		      <td width="20">
		       <p>
		        <input type="checkbox" name="pop3_use_ssl" id="pop3_use_ssl" value="1" <!-- tmpl_if list_settings.pop3_use_ssl -->checked="checked"<!-- /tmpl_if --> />
		       </p>
		      </td>
		      <td>
		       <p>
		        <label for="pop3_use_ssl">
		         Use Secure Sockets Layer (SSL)
		        </label>
		        <!-- tmpl_unless can_use_ssl -->
		            <br />
		            <span class="error">
		             Disabled. The IO::Socket::SSL module needs to be installed.
		            </span>
		        <!--/tmpl_unless--> 

		       </p>
		      </td>
		     </tr>
		    </table> 

		</fieldset> 
		</div> 




	 </td>
	 </tr>


	</table>
	</div> 




	<table width="100%">
	 <tr>
	  <td width="20">
	   <p>
	    <input type="checkbox" name="set_smtp_sender" id="set_smtp_sender" value="1" <!-- tmpl_if list_settings.set_smtp_sender -->checked="checked"<!-- /tmpl_if -->  />
	   </p>
	  </td>
	  <td>
	   <p>
	    <label for="set_smtp_sender">
	     Set the Sender of SMTP Mailings to the List Administration Address
	    </label>
	    <br />
	    This will ultimately set the 'Return-Path' email header to 
	    the List Administration email address (<!-- tmpl_var list_settings.admin_email -->), 
	    and bounced messages will return to that address. Otherwise, 
	    they will go to the List Owner.
	   </p>
	  </td>
	 </tr>

	</table>
	

</fieldset>
</div> 



  </td>
 </tr>
</table> 



	
		<table>
		 <tr>
		  <td width="20">
		   <input type="radio" class="sending_prefs_radio" name="sending_method" id="sending_method_amazon_ses" value="amazon_ses" <!-- tmpl_if expr="(list_settings.sending_method eq 'amazon_ses')" -->checked="checked"<!--/tmpl_if --> />
		  </td>
		  <td>
		   <p>
			 <label for="sending_method_amazon_ses">
		Amazon Simple Email Service
			    </label>
		   </p>
			<div id="amazon_ses_preferences">
			<fieldset>

			<!-- tmpl_var amazon_ses_requirements_widget -->
			<!-- tmpl_if expr="(list_settings.sending_method eq 'amazon_ses')" -->
			    <!-- tmpl_include ses_email_verification_widget.tmpl -->


				<div class="clearskiesbox">
					<div id="amazon_ses_get_stats"></div> 
				</div> 
			<!-- /tmpl_if --> 

			<fieldset>
			<legend>
			 Amazon SES Tools
			</legend>
			<p>
			<input type="text" name="amazon_ses_verify_email" id="amazon_ses_verify_email" value="<!-- tmpl_var list_settings.list_owner_email -->" /> 
			<input type="button" class="amazon_verify_email" value="Verify Address for Sending" /> 
			</p>
			
			<p class="alert">Both the List Owner and List Administration email addresses will need to be verified, before you can
			send messages through Amazon SES. 
			</p> 
		</fieldset> 

		</fieldset>
		</div>
		

		  </td>
		 </tr>
		</table>
		
		
	
	

	
	



<input type="hidden" name="process" id="process" value="1" /> 
<input type="hidden" name="f" id="flavor" value="sending_preferences" />

<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear Changes" />
 <input type="submit" class="processing" value="Save Changes" />
<input type="button"  value="Save, Then Test" class="processing test_sending_preferences" /> 
</div>
</form> 
<div class="floatclear"></div>

</fieldset> 




<!-- end sending_preferences_screen.tmpl --> 
