<div class="row">
	<div class="row">
		<div class="small-12 columns">
				<label for="layout_default">
					<input 
						type="radio"
						name="layout"
						id="layout_default"
						value="default"
						checked="checked"
						>
						Default
					</label>
					
					
					<label for="layout_minimal">
						<input 
							type="radio"
							name="layout"
							id="layout_minimal"
							value="minimal"
							>
							Minimal
						</label>
					
					
					
					<label for="layout_discussion">
						<input 
							type="radio"
							name="layout"
							id="layout_discussion"
							value="discussion"
							>
							Discussion
						</label>
					
					
					<label for="layout_none">
						<input 
							type="radio"
							name="layout"
							id="layout_none"
							value="none"
							>
							None
						</label>
		</div>
	</div>
</div>