<!-- begin send_email_schedule_options_widget.tmpl -->


<!-- tmpl_if expr="(draft_role ne 'schedule')" -->
    <div style="display:none">
<!-- /tmpl_if -->
    

        <fieldset>
            <legend>Scheduling Options</legend>    
    
            <p class="alert"> 
                Current Server Time: <!-- tmpl_var date -->
            </p>
    
            <div class="clearskiesbox"> 
                <div id="mass_mail_schedules_preview_results">
                    
                </div> 
            </div> 
        
            
            
            <p>
                <input type="checkbox" name="schedule_activated" id="schedule_activated" value="1" class="schedule_field" />
                <label for="schedule_activated">
                    Activate
                </label></p>

            <p>
            <input type="radio" name="schedule_type" id="schedule_type_single" value="single" checked="checked" class="scheduled_type schedule_field">
            <label for="schedule_type_single">Single</label>

            <div id="schedule_type_single_options"> 
                    <p>
                        <label for="schedule_single_displaytime">
                            Schedule For:
                        </label>
                    <input type="text" name="schedule_single_displaytime" id="schedule_single_displaytime" class="schedule_field" />
                </p>
            </div> 
            
            <p>
            <input type="radio" name="schedule_type" id="schedule_type_recurring" value="recurring"  class="scheduled_type schedule_field" <!-- tmpl_unless can_use_datetime -->disabled="disabled" class="disabled"<!-- /tmpl_unless --> />
            <label for="schedule_type_recurring">Recurring</label> <!-- tmpl_unless can_use_datetime -->(Disabled.)<!-- /tmpl_unless -->
            <p>

            <div id="schedule_type_recurring_options"> 
            
                <label for="schedule_recurring_displaydatetime_start">
                    Starting on: 
                </label>
                <input type="text" name="schedule_recurring_displaydatetime_start" id="schedule_recurring_displaydatetime_start" class="schedule_field" />
                </p>

                <p>
                <label for="schedule_recurring_displaydatetime_end">
                    Ending on: 
                </label>
                <input type="text" name="schedule_recurring_displaydatetime_end" id="schedule_recurring_displaydatetime_end" class="schedule_field" />
                </p> 

                <p> Every
                <label for="mon">Mon:</label><input type="checkbox" name="schedule_recurring_days" id="mon" value="1" class="schedule_field" /> |
                <label for="tue">Tue:</label><input type="checkbox" name="schedule_recurring_days" id="tue" value="2" class="schedule_field"  /> | 
                <label for="wed">Wed:</label><input type="checkbox" name="schedule_recurring_days" id="wed" value="3" class="schedule_field"  /> | 
                <label for="thu">Thu:</label><input type="checkbox" name="schedule_recurring_days" id="thu" value="4" class="schedule_field"  /> | 
                <label for="fri">Fri:</label><input type="checkbox" name="schedule_recurring_days" id="fri" value="5" class="schedule_field"  /> | 
                <label for="sat">Sat:</label><input type="checkbox" name="schedule_recurring_days" id="sat" value="6" class="schedule_field"  /> | 
                <label for="sun">Sun:</label><input type="checkbox" name="schedule_recurring_days" id="sun" value="7" class="schedule_field"  /> 
                </p>

                <p>
                <label for="schedule_recurring_display_hms">
                    At: 
                </label>
                <input type="text" name="schedule_recurring_display_hms" id="schedule_recurring_display_hms" class="schedule_field"  />
                </p> 
            </div>

</fieldset> 

<!-- tmpl_if expr="(draft_role ne 'schedule')" -->
    </div>
<!-- /tmpl_if -->



<!-- end send_email_schedule_options_widget.tmpl -->