<!-- begin send_url_email_html_message_form_field_widget.tmpl --> 

<div class="row">
	<div class="small-12 columns">
		<input 
			type="radio"
			name="content_from"
			id="content_from_url"
			value="url" 
			checked="checked"
			class="toggle_send_url_options"
		>
		<label for="content_from_url">
			Grab content from a URL
		</label>
	</div>
</div>
<div id="HTML_content_from_url_widget">
	<div class="row panel">
		<div class="small-12 columns">
			<input type="url" name="url" id="url"  placeholder="http://" >
		</div>
	</div>
</div>



<div class="row">
	<div class="small-12 columns">
		<input 
			type="radio"
			name="content_from"
			id="content_from_feed_url"
			value="feed_url" 
			class="toggle_send_url_options"
		>
		<label for="content_from_feed_url">
			Grab content from an RSS/Atom feed
		</label>
	</div>
</div>
<div id="HTML_content_from_feed_url_widget">
	<div class="row panel">
		
		<!-- tmpl_unless can_use_XML_FeedPP -->
			<div class="alert-box alert radius">
				Disabled. The following CPAN Perl module will need to be installed: XML::FeedPP. 
			</div>
		<!-- /tmpl_unless -->
		
		<div class="small-12 columns">
			<div class="row">
				<div class="small-12 columns">
					<input type="url" name="feed_url" id="feed_url"  placeholder="http://" >
				</div>
				
				<div class="row">
					<div class="small-1 columns">
					</div>
					<div class="small-11 columns">

						<div class="row">
							<div class="small-12 columns">
								<label for="feed_url_content_type_summary">
									<input 
										type="radio" 
										name="feed_url_content_type" 
										id="feed_url_content_type_summary" 
										value="summary" 
										checked="checked"
									> 
									Use Just the Summary
								</label>
							</div>
						</div>
				
						<div class="row">
							<div class="small-12 columns">
								<label for="feed_url_content_type_content">
									<input 
										type="radio" 
										name="feed_url_content_type" 
										id="feed_url_content_type_content" 
										value="content" 
										> 
									Use Full Content
								</label>
							</div>
						</div> 

						<div class="row">
							<div class="small-6 columns">
								<label for="feed_url_max_entries">
									Maximum number of entries to include:
								</label>
							</div>
							<div class="small-6 columns">
							</div>
						</div>
						<div class="row">
							<div class="small-6 columns">
								<!-- tmpl_var feed_url_max_entries_widget -->
							</div>
							<div class="small-6 columns">
							</div>
						</div>
						<!-- tmpl_if comment -->
				
						<div class="row">
							<div class="small-12 columns">
								<input 
									type="checkbox"							
									checked="checked"
								>
								<label>
									Only send the next scheduled mass mailing, 
									if all feed entries are unqiue from the previous mass mailing
								</label>
							</div>
						</div>
						<!-- /tmpl_if -->
						
						
						<div class="row">
							<div class="small-12 columns">
						
							<label for="feed_url_pre_html">
								HTML to include <em>before</em> feed (optional)
							</label> 
							<textarea 
								data-gramm="false"
								name="feed_url_pre_html" 
								rows="10" 
								id="feed_url_pre_html"><!-- tmpl_var feed_url_pre_html escape="HTML" --></textarea>
						
							</div>
						</div>
						
						<div class="row">
							<div class="small-12 columns">
						
							<label for="feed_url_post_html">
								HTML to include <em>after</em> feed  (optional)
							</label>
							<textarea 
								data-gramm="false"
								name="feed_url_post_html" 
								rows="10" 
								id="feed_url_post_html"><!-- tmpl_var feed_url_post_html escape="HTML" --></textarea>
						
							</div>
						</div>
						
						
						
				</div>
			</div>
				
			
			</div>
		</div>
	</div>
</div>




<div class="row">
	<div class="small-12 columns">
		<input 
			type="radio" 
			name="content_from" 
			id="content_from_textarea" 
			value="content_from_textarea"
			class="toggle_send_url_options"
		>
		<label for="content_from_textarea">
			Write/Paste HTML
		</label>
	</div>
</div>
<div id="HTML_content_from_textarea_widget">
	<div class="row panel">
		<div class="small-12 columns">
			<!-- tmpl_include html_message_form_field_widget.tmpl --> 
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<input 
			type="radio"
			name="content_from"
			id="content_from_none"
			value="none"
			class="toggle_send_url_options"
		>
		<label for="content_from_none">
			Do not Send an HTML version (only PlainText version)
		</label>
	</div>
</div>

<div id="HTML_content_advanced_options" class="panel">
	<fieldset>
	<legend>
		Advanced Options
	</legend>

	<div class="row">
		<div class="small-12 columns">
			<!-- tmpl_unless can_use_HTML_Tree --> 
				<div class="alert-box alert radius">
					Disabled. The following CPAN Perl module will need to be installed: HTML::Tree. 
				</div>
			<!-- /tmpl_unless --> 
			<input 
				type="checkbox" 
				name="crop_html_content" 
				id="crop_html_content" value="1"
			>
			<label for="crop_html_content">
				Crop webpage, sending only content found in the tag with: 
			</label>
		</div>
	</div>
	<div class="row collapse">
		<div class="small-1 large-1 columns">&nbsp;
		</div>
		<div class="small-4 large-2 columns">
			<select 
				name="crop_html_content_selector_type" 
				id="crop_html_content_selector_type"
			> 
				<option value="id">id:</option>
				<option value="class">class:</option>
			</select> 
		</div>
		<div class="small-6 large-4 columns">
			<input 
				type="text" 
				name="crop_html_content_selector_label" 
				id="crop_html_content_selector_label"
			>
		</div> 
		<div class="small-1 large-1 columns">
		</div>
	</div>


	</fieldset>
</div>



<!-- end send_url_email_html_message_form_field_widget.tmpl --> 
