<!-- begin send_email_headers_widget.tmpl --> 


<div id="additional_email_headers">
	

	
	<div class="row">
		<div class="large-1 columns">
			<label for="Reply-To"  class="large-text-right">
				Reply-To
			</label>
		</div> 
		<div class="large-11 columns">
			<input type="text" name="Reply-To" id="Reply-To" value="">
		</div>
	</div> 

	<!-- tmpl_if priority_popup_menu --> 
		<div class="row">
			<div class="large-1 columns">
				<label  class="large-text-right">
					Priority
				</label>
			</div>
			<div class="large-11 columns">
				<!-- tmpl_var name="priority_popup_menu" -->
			</div>
		</div> 
	<!-- /tmpl_if --> 
	
</div>

	<div class="row">
		<div class="large-1 columns">
			<label for="Subject" class="large-text-right">
				Subject
			</label>
		</div>				  				
		<div class="large-11 columns">	
			<input type="text" name="Subject" id="Subject" value="<!-- tmpl_var default_subject escape="HTML"  -->"  >
		</div>
	</div>

	<div class="row">
		<div class="large-1 columns">
			<label for="X-Preheader"  class="large-text-right">
				Preheader
			</label>
		</div> 
		<div class="large-11 columns">
			<input type="text" name="X-Preheader" id="X-Preheader" value="">
		</div>
	</div>
	
	

	
	<div class="row">
		<div class="small-1 columns">
			&nbsp;
		</div>
		<div class="small-11 columns">
			<a href="#" class="toggleDivs" data-target="additional_email_headers">
				+/- Additional Headers
			</a>
		</div>
	</div>


<!-- end send_email_headers_widget.tmpl --> 