<!-- begin send_email_message_body_help_widget.tmpl --> 

<div  style="display:none"> 
	
<div id="message_body_help">

<h2>
 <!-- tmpl_var PROGRAM_NAME --> supports sending messages formatted in HTML, Plaintext, or both!
</h2> 

<ul>
<li><p>
	You only need to create one version of your message: HTML <em>or</em> PlainText. 
</p>
</li>

<li><p>
	You <strong>may</strong> create two versions of your message. 
	Both copies will be embedded in the same email you send. 
	Your PlainText version will be shown to users whose mail reader cannot view your HTML version. 
</p>
</li>

<li><p>
	If you create an HTML version of your message, but not a PlainText version, 
	a PlainText version will be created automatically for you by <!-- tmpl_var PROGRAM_NAME -->, 
	so that everyone will be able to view your message. 
</p>
</li>

<li><p>
	If you create a PlainText version of your message, but not an HTML version, 
	no HTML version will be created. 
</p>
</li>

</ul>

	</div>
</div>
	
<!-- end send_email_message_body_help_widget --> 