<!-- begin sending_monitor_screen.tmpl -->

<div id="screen_meta" data-menu_highlight="sending_monitor"></div>

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				 Mass Mailing 
			 </a>
	 	    <a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=sending_monitor">
				Mass Mailing Monitor
			</a>
			<!-- tmpl_if header_subject_label --> 
				 <a href="#" class="current">
					 <!-- tmpl_var name="header_subject_label" escape="HTML" --> 
				</a>
			<!-- /tmpl_if -->
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<!-- tmpl_if integrity_check --> 
    <!-- tmpl_if is_paused -->
 		<div class="alert-box warning radius">
        	Mail Sending is currently paused. Click, &quot;|&gt; Resume Mailing&quot; to resume.
    	</div>
	<!--/tmpl_if --> 
<!--/tmpl_if --> 

<!-- tmpl_if integrity_check --> 
	<!-- tmpl_if queue --> 
		<!-- tmpl_if queued_mailout --> 
				<div class="alert-box warning radius">
					<ul>
						<!-- tmpl_if is_paused --> 
							<li>
					         Your message is currently queued but has lost its place in the queue,  since it is also paused. <br >Resuming this mailing will 
					 		 put it back into the queue line, at its original place. 
						</li>
						<!-- tmpl_else --> 
							<li>
				         	   Your message is currently queued and will be sent after other mailouts have completed. 
			        		</li>
							<li>
				    			This mailout is currently #<!-- tmpl_var queue_place --> of a total of <!-- tmpl_var queue_total --> mailouts.
				        	</li>
				        	<li>
								This mailout will start when it is in the # <!-- tmpl_var MAILOUT_AT_ONCE_LIMIT --> place in the queue.
							</li>
			    		<!-- /tmpl_if --> 
					</ul>
				</div>
		    <!-- /tmpl_if --> 
    <!-- /tmpl_if --> 
<!-- /tmpl_if --> 


<!-- tmpl_if mailout_exists -->

	<!-- tmpl_if sending_done --> 
		<div class="alert-box info radius">
	    <p> 
	     Your mailing looks finished! You may navigate away from this window!
	    </p>
		</div>
	<!-- tmpl_else --> 
	    <!-- tmpl_if its_killed -->
			<div class="alert-box info radius">
	        <p> 
	         Message Sending seems to have stopped. 
	        </p>
			</div>
	    <!--/tmpl_if-->
	    <!-- tmpl_if status_mailout_stale --> 
	    	<div class="alert-box info radius">
	        <p> 
	         The time since the last message sent has elapsed past a certain period and is considered, 
				&quot;Stale&quot; You may continue the mailing by clicking, &quot;Pickup Mailing&quot;
	        </p>
			</div>
	    <!-- /tmpl_if -->
	<!--/tmpl_if-->


	<!-- tmpl_unless integrity_check --> 

		<div class="alert-box info radius">
		  <p>
			<strong>
		   Warning! Mass Mailing seems broken!
		  </strong> 
		</p>
		<p>
		 Metadata about Mass Mailing is missing/corrupted or an internal process goofed up.
		 <br >  
		 Mass Mailing will be paused and cannot be resumed.</p> 
	 		
		 </div> 
	
	<!-- /tmpl_unless --> 

	<div class="row">
	  <div class="small-9 small-centered columns">	
		<ul class="button-group radius even-4">
			<li>
				<a 
					<!-- tmpl_unless its_killed -->
						href="#" 
						disabled="disabled" 
						class="button small disabled" 
					<!-- tmpl_else -->
						href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=sending_monitor&id=<!-- tmpl_var message_id escape="HTML"-->&type=<!-- tmpl_var message_type escape="HTML"-->&process=restart"
						class="button small success"
					<!--/tmpl_unless-->
				>
					[+] 
					<span class="hide-for-small-only">
						Pickup Mailing
					</span>
				</a>
	    	</li>
	    	<li>
				<a
					<!-- tmpl_unless is_paused -->
						href="#"
						disabled="disabled" 
						class="button small disabled"
					<!-- tmpl_else -->
						href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=sending_monitor&id=<!-- tmpl_var message_id escape="HTML"-->&type=<!-- tmpl_var message_type escape="HTML"-->&process=resume"
						class="button small warning"
					<!--/tmpl_unless -->
				>
					|&gt; 
						<span class="hide-for-small-only">
							Resume Mailing
						</span>
				</a>

	    	</li>
	    	<li>    
				<a
					<!-- tmpl_if is_paused -->
						href="#"
						disabled="disabled" 
						class="button small disabled"
					<!-- tmpl_else -->
						href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=sending_monitor&id=<!-- tmpl_var message_id escape="HTML"-->&type=<!-- tmpl_var message_type escape="HTML"-->&process=pause"
						class="button small warning pauseMonitoredSending"
					<!--/tmpl_if -->
				>
					|| 
						<span class="hide-for-small-only">
							Pause Mailing
						</span>
				</a>
	    	</li>
	    	<li>
			
				<a
					<!-- tmpl_unless is_paused -->
						<!-- tmpl_if sending_done -->
							disabled="disabled" class="button small disabled"
						<!-- tmpl_else -->
							class="button small alert killMonitoredSending stop_mass_mailing"
							href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=sending_monitor&id=<!-- tmpl_var message_id escape="HTML"-->&type=<!-- tmpl_var message_type escape="HTML"-->&process=kill"
						<!--/tmpl_if -->
					<!-- tmpl_else -->
						class="button small alert killMonitoredSending stop_mass_mailing" 						
						href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=sending_monitor&id=<!-- tmpl_var message_id escape="HTML"-->&type=<!-- tmpl_var message_type escape="HTML"-->&process=kill"
					<!--/tmpl_unless -->
				>
					&#8855; 
					<span class="hide-for-small-only">
						STOP Mailing
					</span>
				</a>
	    	</li>
		</ul>
	 </div>
	</div>


	<div class="row">
	  <div class="small-9 small-centered columns">	
			<div class="row">
			    <div class="small-10 columns">
					<div class="progress success round">
					  <span class="meter" style="width:<!-- tmpl_var percent_done -->%"></span>
					</div>
				</div> 
			    <div class="small-2 columns">
					<!-- tmpl_var percent_done -->%
				</div>
			</div>
	 	</div>
	</div>
		
	<div class="row">
	  <div class="small-9 small-centered columns">	
	
		<div class="alert-box info radius">
		
			<!-- tmpl_if total_sent_out --> 
				<!-- tmpl_if total_sending_out_num --> 
		      		<!-- tmpl_var total_sent_out --> of <!-- tmpl_var total_sending_out_num --> messages sent
	   			<!-- /tmpl_if --> 
	   		<!-- /tmpl_if --> 

		    <!-- tmpl_if  total_sent_out --> 
				<!-- tmpl_if mailing_time --> 
					in: <!-- tmpl_var mailing_time_formatted --> 
				<!-- /tmpl_if -->
			
				<!-- hourly rate estimations are way off, with a small sample size... -->
				<!-- tmpl_if expr="total_sent_out > 9" --> 
						<!-- tmpl_if hourly_rate --> 
					 		(<!-- tmpl_var hourly_rate --> msg/hr)
						<!-- /tmpl_if -->
				<!-- /tmpl_if -->  
	
				<br>
				<br>
			
			     Last message sent: <!-- tmpl_var time_since_last_sendout --> ago. 

			    <!-- /tmpl_if --> 
    
				<br>
				<br>
    
			    <!-- tmpl_unless is_paused -->     
			        <!-- tmpl_if will_restart_in --> 
			             Mass mailing automatically reloading in: <!-- tmpl_var will_restart_in -->
			        <!-- /tmpl_if --> 
			    <!-- /tmpl_unless --> 
			</div>
	</div>



<fieldset> 	
	<legend>
		<a 
			href="#" 
			class="toggleDivs" 
			data-target="verbose_sending_information"
		>
		 +/-
	 </a> Verbose Sending Information
	</legend>

	<div id="verbose_sending_information" style="display:none">
		<table class="responsive" width="100%"> 
			<!-- tmpl_loop sending_status --> 
				<tr>  
					<td> 
						<!-- tmpl_var key -->
					</td>
					<td> 
						<!-- tmpl_var value --> 
					</td>
				</tr>
			<!-- /tmpl_loop --> 
		</table> 
	</div> 
</fieldset> 

<ul class="button-group right">
	<li> 
		<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" target="_blank">
	  <input type="hidden" name="flavor"    value="print_mass_mailing_log"                              > 
	  <input type="hidden" name="id"   value="<!-- tmpl_var message_id escape="HTML" -->"          > 
	  <input type="hidden" name="type" value="<!-- tmpl_var message_type -->"                      > 
	  <input type="submit"             value="Open Mass Mailing Log in a New Window" class="button small plain" > 
	 </form> 
	</li>
</ul>

<!--tmpl_else--> 
    <!-- tmpl_if killed_it -->
        <div data-alert class="alert-box success radius">
            Your Mass Mailing was successfully stopped.
            <a href="#" class="close">&times;</a>
        </div>    
    <!-- tmpl_else --> 
		<div class="alert-box info radius">
	        <p> 
	         This Mass Mailing has completed.
	        </p>
		</div>	
    <!-- /tmpl_if --> 
<!--/tmpl_if --> 

<!-- end sending_monitor_screen.tmpl --> 