
	<div class="row">
		<div class="small-12 columns">
				<label for="layout_default">
					<input 
						type="radio"
						name="layout"
						id="layout_default"
						value="default"
						<!-- tmpl_if expr="(default_layout eq 'default')" -->							
							checked="checked"
						<!-- /tmpl_if -->
						>
						Full Layout
					</label>
					
					
					<label for="layout_minimal">
						<input 
							type="radio"
							name="layout"
							id="layout_minimal"
							value="minimal"
							<!-- tmpl_if expr="(default_layout eq 'minimal')" -->							
								checked="checked"
							<!-- /tmpl_if -->
							>
							Minimal Layout
						</label>
					
					
					
					<label for="layout_discussion">
						<input 
							type="radio"
							name="layout"
							id="layout_discussion"
							value="discussion"
							<!-- tmpl_if expr="(default_layout eq 'discussion')" -->							
								checked="checked"
							<!-- /tmpl_if -->
							>
							For Discussion List Messages
						</label>
					
					
					<label for="layout_old_school">
							<input 
								type="radio"
								name="layout"
								id="layout_old_school"
								value="old_school"
								<!-- tmpl_if expr="(default_layout eq 'old_school')" -->
									checked="checked"
								<!-- /tmpl_if -->
								>
								Old School
							</label>
							
							
					
					<label for="layout_none">
						<input 
							type="radio"
							name="layout"
							id="layout_none"
							value="none"
							<!-- tmpl_if expr="(default_layout eq 'none')" -->							
								checked="checked"
							<!-- /tmpl_if -->
							
							>
							Don't use a Layout
						</label>
		</div>
	</div>
