<!-- begin send_email_button_widget.tmpl -->

<!-- tmpl_if comment --> 
	draft_role: <!-- tmpl_var draft_role --> 
	archive_no_send: <!-- tmpl_var archive_no_send -->
<!-- /tmpl_if --> 

<ul class="button-group">  
	<!-- tmpl_if expr="(mass_mailing_type eq 'invite')" -->
		<li>
			<button 
				type="submit" 
				class="button small warning sendmassmailing" 
				name="process" 
				id="submit_mass_mailing"
			>
				Send: Invitations
			</button>
		</li>
	<!-- tmpl_else --> 
		<li>
			<button 
				type="button" 
				class="button small cancel_message alert" 
				id="cancel_message_link"
			>
				<i class="fi-x"></i>
			</button>
		</li>

		<!-- tmpl_if archive_no_send --> 
			<li>
				<button 
					type="submit" 
					class="button small success sendmassmailing" 
					name="process" 
					id="submit_mass_mailing"
				>
					Save as: Archive
				</button>
			</li>
		<!-- /tmpl_if --> 

		<!-- tmpl_if expr="(draft_role eq 'draft')" -->
			<li>
				<button 
					type="submit" 
					class="button small success sendmassmailing justatest" 
					name="process" 
					id="submit_test_mailing"
				>
					Send Test
				</button>
			</li>
			<!-- tmpl_unless archive_no_send -->   
				<li>
					<button
						type="submit"
						class="button small warning sendmassmailing" 
						name="process" 
						id="submit_mass_mailing"
					>
						Send Mass Mailing
					</button>
				</li>
				<li>
					<button 
						type="button" 
						class="button small success save_msg"
						name="process" 
						data-save_draft_role="draft"
					>
						Save Draft
					</button>
				</li>
				<li>
					<button
						type="button" 
						class="button small success save_msg" 
						name="process"
						data-save_draft_role="stationery"
					>
						Save as: Stationery
					</button>
				</li>
				<li>
					<button
						type="submit" 
						class="button small success save_msg" 
						name="process"
						data-save_draft_role="schedule"
					>
						Save as: Schedule
					</button>
				</li>
			<!-- /tmpl_unless --> 
		<!-- /tmpl_if -->

		<!-- tmpl_if expr="(draft_role eq 'stationery')" -->
			<li>
				<button
					type="submit" 
					class="button small success sendmassmailing justatest" 
					name="process" 
					id="submit_test_mailing"
				>
					Send Test
				</button>
			</li>

			<li>
				<button
					type="button" 
					class="button small success save_msg"
					name="process"
					data-save_draft_role="draft"
				>
					New Draft From Stationery
				</button>
			</li>
			<li>
				<button
					type="button" 
					class="button small success save_msg"
					name="process"
					data-save_draft_role="stationery"
				>
					Save Stationery
				</button>
			</li>
			<li>
				<button
					type="submit" 
					class="button small success save_msg"
					name="process"
					data-save_draft_role="schedule"
				>
					New Schedule From Stationery
				</button>
			</li>
		<!-- /tmpl_if -->

		<!-- tmpl_if expr="(draft_role eq 'schedule')" -->

			<li>
				<button
					type="submit"
					class="button small success sendmassmailing justatest"
					name="process"
					id="submit_test_mailing"
				>
					Send Test
				</button>
			</li>
			<li>
				<button
					type="submit"
					class="button small success save_msg"
					name="process"
					data-save_draft_role="schedule"
				>
					Save Schedule
				</button>
			</li>
		<!-- /tmpl_if -->
	<!-- /tmpl_if --> 
</ul> 

<!-- end send_email_button_widget.tmpl -->


