<!-- begin send_email_schedule_options_widget.tmpl -->

<!-- tmpl_if expr="(draft_role ne 'schedule')" -->
    <div class="display:none:">
<!-- /tmpl_if -->
    

        <fieldset>
            <legend>Scheduling Options</legend>    
    
            <p class="alert"> 
                Current Server Time: <!-- tmpl_var date -->
            </p>
            
            
            <p>
                <input type="checkbox" name="schedule_activated" id="schedule_activated" value="1" class="" />
                <label for="schedule_activated">
                    Activate
                </label></p>

            <p>
            <input type="radio" name="schedule_type" id="schedule_type_single" value="single" checked="checked" class="scheduled_type">
            <label for="schedule_type_single">Single</label>

            <div id="schedule_type_single_options"> 
                    <p>
                        <label for="schedule_datetime">
                            Schedule For:
                        </label>
                    <input type="text" name="schedule_datetime" id="schedule_datetime" />
                </p>
            </div> 
            
            <p>
            <input type="radio" name="schedule_type" id="schedule_type_recurring" value="recurring"  class="scheduled_type">
            <label for="schedule_type_recurring">Recurring</label>
            <p>

            <div id="schedule_type_recurring_options"> 
            
                <label for="schedule_recurring_date_start">
                    Starting on: 
                </label>
                <input type="text" name="schedule_recurring_date_start" id="schedule_recurring_date_start" />
                </p>

                <p>
                <label for="schedule_recurring_date_end">
                    Ending on: 
                </label>
                <input type="text" name="schedule_recurring_date_end" id="schedule_recurring_date_end" />
                </p> 

                <p> Every
                <label for="mon">Mon:</label><input type="checkbox" name="schedule_recurring_days" id="mon" value="1" /> |
                <label for="tue">Tue:</label><input type="checkbox" name="schedule_recurring_days" id="tue" value="2" /> | 
                <label for="wed">Wed:</label><input type="checkbox" name="schedule_recurring_days" id="wed" value="3" /> | 
                <label for="thu">Thu:</label><input type="checkbox" name="schedule_recurring_days" id="thu" value="4" /> | 
                <label for="fri">Fri:</label><input type="checkbox" name="schedule_recurring_days" id="fri" value="5" /> | 
                <label for="sat">Sat:</label><input type="checkbox" name="schedule_recurring_days" id="sat" value="6" /> | 
                <label for="sun">Sun:</label><input type="checkbox" name="schedule_recurring_days" id="sun" value="7" /> 
                </p>

                <p>
                <label for="schedule_recurring_time">
                    At: 
                </label>
                <input type="text" name="schedule_recurring_time" id="schedule_recurring_time" />
                </p> 
            </div>
            <div class="buttonfloat">
               <input type="button" id="cancel_create_schedule" class="cautionary" value="Cancel" /> 
               <input type="button" id="create_schedule"        class="processing" value="Create Schedule" /> 
           </div> 
           <div class="floatclear"></div>

</fieldset> 

<!-- tmpl_if expr="(draft_role ne 'schedule')" -->
    </div>
<!-- /tmpl_if -->



<!-- end send_email_schedule_options_widget.tmpl -->