<!-- begin subscription_form_widget.tmpl --> 


	<form 
		action="<!-- tmpl_var script_url -->" 
		method="post" 
		accept-charset="<!-- tmpl_var HTML_CHARSET -->" 
		id="<!-- tmpl_var subscription_form_id default="subscription_form" -->"
	>

	<input type="hidden" name="flavor" id="ddm_flavor" value="subscribe" >

	    <div class="row">
	        <div class="small-12 columns">

		<!-- tmpl_if single_list --> 
		    <input 
				type="hidden" 
				name="list" 
				id="ddm_list" 
				value="<!-- tmpl_var list escape=HTML -->" 
			>
		    <!-- tmpl_if list_settings.closed_list -->
				<div class="alert-box alert radius">
			     	This mailing list is currently closed to future subscribers.
				</div>
			<!-- tmpl_else --> 
				<!-- tmpl_if list_settings.invite_only_list --> 
					<div class="alert-box alert radius">
						This mailing list is currently invitation-only.
					</div>
				<!-- /tmpl_if -->
		    <!-- /tmpl_if -->
		<!-- tmpl_else --> 
    
		    <!-- tmpl_if multiple_lists --> 
    			<div class="row">
					<div class="small-12 columns">
						Choose from the following mailing lists
       				</div>
				</div>
		       <!-- tmpl_var list_checkbox_menu --> 
    
		    <!-- tmpl_else --> 
		      <div class="row">
		        <div class="large-4 medium-4 columns">    		
			        <label 
						class="medium-text-right"
						for="ddm_list" 
					>
			       		Mailing List 
			        </label>
		        </div>
		        <div class="large-8 medium-8 columns">
					<!-- tmpl_var list_popup_menu -->
				</div>
			</div>
		    <!-- /tmpl_if --> 
		<!-- /tmpl_if -->


		  
			      <div class="row">
			        <div class="large-4 medium-4 columns">
						<label 
							class="medium-text-right"
					  		for="ddm_email" 
					  	>
							Email Address
						</label>
			        </div>
			        <div class="large-8 medium-8 columns">
						<!-- tmpl_if profile_logged_in --> 
							<input 
								type="text"
								name="email"
								readonly="readonly" 
								id="ddm_email" 
								value="<!-- tmpl_var email escape=HTML -->" 
							>
						<!-- tmpl_else --> 
							<input 
								type="email" 
								name="email" 
								id="ddm_email" 
								value="<!-- tmpl_var email escape=HTML -->"
								required="required" 
								placeholder="user@example.com (required)"
								>
						<!-- /tmpl_if --> 
			        </div>
			      </div>

	  
		<!-- tmpl_if show_fields --> 
			<div id="ddm_subscriber_fields"> 
			<!-- tmpl_if subscriber_fields --> 
			    <!-- tmpl_loop subscriber_fields -->
					<div class="row">
						<div class="large-4 medium-4 columns">
					        <label 
								class="medium-text-right"
								for="ddm_<!-- tmpl_var name escape=HTML -->" 
							>
						        <!-- tmpl_if pretty_name --> 
									<!-- tmpl_var pretty_name escape=HTML --> 
						        <!-- tmpl_else --> 
									<!-- tmpl_var name escape=HTML --> 
								<!-- /tmpl_if --> 
							</label>
						</div> 
						<div class="large-8 medium-8 columns">
					        <input 
								type="text" 
								name="<!-- tmpl_var name escape=HTML -->" 
								id="ddm_<!-- tmpl_var name escape=HTML -->" 
								value="<!-- tmpl_var given_value escape=HTML -->"
								placeholder="<!-- tmpl_if comment --> (required)<!-- /tmpl_if -->"  
							>
						</div>
					</div>
			    <!-- /tmpl_loop --> 
			<!-- /tmpl_if --> 
			</div> 
		<!-- /tmpl_if -->
		
		<!-- tmpl_if list_consents -->
		    <!-- tmpl_loop list_consents -->
				<div class="row">
					<div class="large-4 medium-4 columns medium-text-right large-text-right">
			            <input 
							type="checkbox" 
							class="list_consents"
							name="consent_<!-- tmpl_var id -->" 
							value="<!-- tmpl_var id -->"
							id="consent_<!-- tmpl_var id -->"
							required="required"
						>
					</div> 
					<div class="large-8 medium-8 columns">
				       <label for="consent_<!-- tmpl_var id -->"> 
				            
						   <!-- tmpl_var consent --> 
						</label>
					</div>
				</div>
		    <!-- /tmpl_loop -->
		<!-- /tmpl_if -->

		<!-- tmpl_if captcha_params_on_subscribe_form -->
			<!-- tmpl_if can_use_Google_reCAPTCHA_v2 -->
					<div class="row">
						<div class="large-4 medium-4 columns">
							&nbsp;
						</div> 
			
						<div class="large-8 medium-8 columns">

							<div class="form-group">
								<div 
									class="g-recaptcha"
									id="subscription_form_gr"
									data-recaptcha_id="default_value"
								></div>
								<input 
									 type="hidden"
									 class="captcha_check required" 
									 name="captcha_check" 
									 id="captcha_check"
									>
							</div>
						</div>
					</div>
					<!-- tmpl_if add_recaptcha_js -->
						    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
						    <script type="text/javascript">
						         var onloadCallback = function() {
						           grecaptcha.render('subscription_form_gr', {
						             'sitekey' : '<!-- tmpl_var captcha_params_v2_public_key -->'
						           });
						         };
						       </script>
					<!-- /tmpl_if --> 
			<!-- /tmpl_if -->
		
			<!-- tmpl_if can_use_Google_reCAPTCHA_v3 -->
		
				<!-- tmpl_if add_recaptcha_js -->
					<script src="https://www.google.com/recaptcha/api.js?render=<!-- tmpl_var captcha_params_v3_public_key -->"></script>
					<script>
						grecaptcha.ready(function() {
						        grecaptcha.execute('<!-- tmpl_var captcha_params_v3_public_key -->', {action:'ddm'})
						                  .then(function(token) {
									document.getElementById('g-recaptcha-response_sf').value = token;
						        });
						    });
					</script>
				<!-- /tmpl_if -->
					
				<input 
					type="hidden"
					id="g-recaptcha-response_sf"
					class="g-recaptcha-response"
					name="g-recaptcha-response"
				>
			<!-- /tmpl_if -->
		<!-- /tmpl_if -->
		
		<div class="row">
			<div class="large-4 medium-4 columns">
				&nbsp;
			</div> 
			<div class="large-8 medium-8 columns">
						<input 
							type="submit" 
							name="submit_button"
							value="Subscribe" 
							class="button success expand" 
							id="ddm_subscribe_button"
						>
			</div>
		</div>
		
		<div class="row">
			<div class="large-12 medium-12 columns large-centered medium-centered">
				<!-- tmpl_unless list_settings.private_list -->
					<p class="text-center"> 
						Unsubscribe at Anytime
						| 
						<a 
							href="<!-- tmpl_var S_PROGRAM_URL -->/privacy_policy/<!-- tmpl_var list_settings.list -->/" 
							target="_blank"
						> 
							Privacy Policy
						</a>
					</p>
				<!-- /tmpl_unless -->
			</div>
		</div>
	</div>
	</div>
</form> 

<!-- end subscription_form_widget.tmpl --> 
