<!-- begin subscription_form.tmpl -->
<!-- tmpl_set name="title" value="Subscribe to, <!-- tmpl_var list_settings.list_name -->" -->

<div class="row">
	<div class="large-8 medium-8 large-centered medium-centered columns">
		<div class="panel">
			<!-- tmpl_var subscription_form -->
		</div>
	</div>
</div> 

<!-- end subscription_form.tmpl -->