<!-- begin mass_mailing_limit_notice_widget.tmpl --> 
	<!-- tmpl_if test_sent --> 
		<div class="clearskiesbox" id="alertbox">
			<p>
				Test message sent to, <strong><!-- tmpl_var test_recipient --></strong> 
			</p>
			<div style="text-align: center;">
			<input type="button" class="small_button fade_me" value="Thanks!" />
			</div>
		</div>
	<!-- /tmpl_if --> 
<!-- end mass_mailing_limit_notice_widget.tmpl --> 
