<!-- begin mass_mailing_limit_notice_widget.tmpl --> 
	<!-- tmpl_if test_sent --> 
        <div data-alert class="alert-box success radius">
        
		    Test message sent to:
				<ul>
					<!-- tmpl_loop test_recipient_list --> 
						<li><!-- tmpl_var test_email escape="HTML" --></li>
					<!-- /tmpl_loop -->
				</ul>
			
            <a href="#" class="close">&times;</a>
        </div>
	<!-- /tmpl_if --> 
<!-- end mass_mailing_limit_notice_widget.tmpl --> 
