<!-- begin upgrade_to_pro_success.tmpl -->
	<h1>Christmas has come early!</h1>
	
	<p>
		This install is now Pro Dada! 
	</p>
	<p>
		Happy Pro Dada Mailing!
	</p>
<!-- end upgrade_to_pro_success.tmpl -->
