<!-- begin upgrade_to_pro.tmpl -->

<div id="upgrade_to_pro"></div>

<h1>Pro Dada makes Dada Mail Awesome</h1>

	<p>
		Pro Dada entitles you to prioritized, direct support for this installation of our
		super cool software. We'll also be giving you access to the Pro Dada Manual, which covers 
		how to use our software effectively. 
	</p>
	
	<p>
		We'll also be removing the quotas for the number of mailing lists this installation 
		supports, as well as the number of subscribers you may have per mailing lists. 
		And those nagging links/buttons back to your site? Those go as well. 
		Pro Dada is something you subscribe to (monthly, yearly), but if you decide
		not to renew your subscription, you current copy of Pro Dada will still work as Pro Dada. Hurray!
	</p> 
	
	<p>
		<a 
			href="http://dadamailproject.com/purchase/pro.html"
		>
			Click the button below
		</a>
		to purchase Pro Dada, or to just learn more about what makes Pro Dada so awesome for your business. 
		
</p>

<a 
	href="http://dadamailproject.com/purchase/pro.html"
	class="large button expand"
	target="_blank"
>
	Purchase Pro Dada
</a>

<h1>
	Already Purchased Pro Dada?
</h1>
<p> Enter your Pro Dada username and password, 
	and we'll start the upgrade process:
</p>
<form>
	
	<div class="row">
		<div class="large-3 columns">		
		     <label for="pro_dada_username"  class="large-text-right">
				 Pro Dada Username:
			 </label>
		</div>
		<div class="large-9 columns">	
			<input 
				type="text" 
				name="pro_dada_username" 
				id="pro_dada_username" 
				value=""
			>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns">		
		     <label for="pro_dada_password"  class="large-text-right">
				 Pro Dada Password:
			 </label>
		</div>
		<div class="large-9 columns">	
			<input 
				type="text" 
				name="pro_dada_password" 
				id="pro_dada_password" 
				value=""
			>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns">		
			&nbsp;
		</div>
		<div class="large-9 columns">
			<form>
				<input type="hidden" id="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->">
			<button type="button" class="success expand verify_pro_dada">
				Verify...
			</button>
			</form>
		</div>
	</div>
	
</form>


<!-- end upgrade_to_pro.tmpl -->
