<!-- begin upgrade_to_pro_verify.tmpl -->

<h3>Verification Was Successful!</h3>
<p>
	Click the button below to upgrade to Pro Dada:
</p>

<form actionm="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
	<input type="hidden" name="flavor" id="flavor" value="upgrade_to_pro">
	<input type="hidden" name="process" id="process" value="upgrade">
	<input type="hidden" name="pro_dada_user"     id="pro_dada_user"     value="<!-- tmpl_var pro_dada_user -->">
	<input type="hidden" name="pro_dada_password" id="pro_dada_password" value="<!-- tmpl_var pro_dada_password -->">

	<button type="submit" class="button alert expand">
		Upgrade to Pro Dada...
	</button>
</form>

<!-- end upgrade_to_pro_verify.tmpl -->
