<!-- begin validate_remove_email_widget.tmpl -->

<div class="clearskiesbox"> 
	
	<p>
		<strong>
			Confirm Removing <!-- tmpl_var email -->
		</strong>
	</p>
	
	<p>
		Check the Sublist you would like to remove 
		<strong>
		<!-- tmpl_var email -->
		</strong>		
		<!-- tmpl_if for_multiple_lists --> 
			for each mailing list.
		<!-- tmpl_else --> 
		 	from.
		<!-- /tmpl_if --> 
	</p>
</div> 

<form action="<!-- tmpl_var name="S_PROGRAM_URL" -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
 <input type="hidden" name="f" value="validate_remove_email" />
 <input type="hidden" name="process" value="1" />
 <input type="hidden" name="email" value="<!-- tmpl_var email -->" />

 <input type="hidden" name="return_to" value="membership" />



<!-- tmpl_loop subscribed_lists --> 
<ul> 
	<li>
		<p>
			<strong> 
				<!-- tmpl_var list_settings.list_name -->
			</strong>
		</p>
	</li> 
	<!-- tmpl_loop sublists --> 
		<p>
			<input type="checkbox" name="remove_from_list" id="<!-- tmpl_var list_settings.list -->:<!-- tmpl_var type -->" value="<!-- tmpl_var list_settings.list -->:<!-- tmpl_var type -->" checked="checked" />
			<label for="<!-- tmpl_var list_settings.list -->:<!-- tmpl_var type -->">
				<!-- tmpl_var type_label -->
			</label>
		</p>
	</li>
	<!-- /tmpl_loop --> 
</ul>
<!-- /tmpl_loop -->

	 <div class="buttonfloat">	 
		<input type="submit" value="Remove <!-- tmpl_var email -->" class="cautionary" id="remove_email" />
	</div> 
	<div class="floatclear"></div>
</form> 

<!-- tmpl_if comment --> 

	<pre>
	<!-- tmpl_var subscribed_lists_dump --> 
	</pre> 

<!-- /tmpl_if --> 

<!-- end validate_remove_email_widget.tmpl --> 