<!-- begin view_archive_index_screen.tmpl --> 

<!-- tmpl_set name="title" value="Message Archives &#187; View Archive" -->
<div id="screen_meta" data-menu_highlight="view_archive"></div>
<div id="view_archive"></div> 


<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div> 
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<form name="email_form" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
 <input type="hidden" name="f" value="delete_archive" /> 

 <table class="stripedtable">
  <tr>
   <td width="25">
    <p>&nbsp;</p>
   </td>
     <td>
    <p>
     <strong>
      From
     </strong>
    </p>
   </td>
   <td>
    <p>
     <strong>
      Subject
     </strong>
    </p>
   </td>
   
   <td>
    <p>
     <strong>
      Sent
     </strong>
    </p>
   </td>
  <!-- tmpl_if ARCHIVE_EDITOR_URL --> 
  <td>
  &nbsp;
  </td>
  
  <!--/tmpl_if-->
  
  
  </tr>
  
  

  <!-- tmpl_loop index_list --> 
  
	   <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if--> title="<!-- tmpl_var message_blurb -->">
	    <td width="25">
	     <input type="checkbox" name="address" class="address" value="<!-- tmpl_var id -->" />
	    </td>
	    
	    <td> 
			<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=view_archive;id=<!-- tmpl_var id -->">
			<!-- tmpl_var name="from" ESCAPE="HTML" -->
		</a>
		</td>
	    
	    
	    
	    <td> 
	     <a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=view_archive;id=<!-- tmpl_var id -->">
			<!-- tmpl_var name="subject" ESCAPE="HTML" -->
			</a>
		</td>
		<td>
		  <a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=view_archive;id=<!-- tmpl_var id -->">
		 <!-- tmpl_var date -->
		</a>
		</td> 
		<td>
	      <input type="button" class="cautionary" onClick="window.location='<!-- tmpl_var S_PROGRAM_URL -->?f=edit_archived_msg&id=<!-- tmpl_var id -->'" value="[edit]"/>
		 </td>
		</tr>

<!-- /tmpl_loop -->

</table> 

<table class="stripedtable">
  <tr>
   	<td width="25">
		<!-- no offense, but why is the checkbox named, "address?" --> 
		<input class="toggleCheckboxes" type="checkbox" data-target_class="address" />

   	</td>
	<td>
	 <input type="submit" class="small_button" value="Delete Checked" />
	</form>

		<form action="<!-- tmpl_var S_PROGRAM_URL -->" style="display:inline;margin:0">  
		   <input type="hidden" name="f" value="purge_all_archives" />  
		   <input type="submit" class="small_button purge_archives" value="Purge All Archive Messages" />
	   </form> 

	 </td>
	</tr>
</table>
	
 
<!-- tmpl_var index_nav --> 

<!-- end view_archive_index_screen.tmpl --> 
