<!-- begin view_list_table_widget.tmpl --> 


<div> 
    <div style="height: 300px; overflow: auto;">

 <table class="stripedtable">

<thead> 			
		
  <tr>
	 <!-- tmpl_unless no_checkboxes --> 
   		<th width="25">
    		<p>&nbsp;</p>
   		</th>
	<!-- /tmpl_unless --> 

    <!-- tmpl_if show_timestamp_column --> 
    	<th>
    	    <p>
	     	<!-- tmpl_if expr="(order_by ne 'timestamp')" -->
    			<a href="#" class="change_order" data-by="timestamp" data-dir="asc">
    		<!-- /tmpl_if --> 

    		<!-- tmpl_if expr="(order_by eq 'timestamp') && (order_dir eq 'asc')" -->
    			<a href="#" class="change_order" data-by="timestamp" data-dir="desc">
    		<!-- /tmpl_if --> 

    		<!-- tmpl_if expr="(order_by eq 'timestamp') && (order_dir eq 'desc')" -->
    			<a href="#" class="change_order" data-by="timestamp" data-dir="asc">
    		<!-- /tmpl_if -->
        	
        	 <!-- tmpl_if expr="(type eq 'list')" -->
                 Subscription Date
            <!-- tmpl_else --> 
                 Addition Date:
            <!-- /tmpl_if --> 
            
            
            
        	<!-- tmpl_if expr="(order_by eq 'timestamp') && (order_dir eq 'asc')" -->
    			<sub>&#x25B2;</sub>
    		<!-- /tmpl_if -->

    		<!-- tmpl_if expr="(order_by eq 'timestamp') && (order_dir eq 'desc')" -->
    			<sub>&#x25BC;</sub>
    		<!-- /tmpl_if -->     
	        </a> 
    	    </p>
    	</th>
	<!-- /tmpl_if --> 
	<!-- tmpl_if show_list_column --> 
    	<th>
    	    <p>
    	     <strong>
    	      List
    	     </strong>
    	    </p>
    	</th>
	<!-- /tmpl_if --> 
	
   <th>
    <p>

		<!-- tmpl_if expr="(order_by ne 'email')" -->
			<a href="#" class="change_order" data-by="email" data-dir="asc">
		<!-- /tmpl_if --> 
		
		<!-- tmpl_if expr="(order_by eq 'email') && (order_dir eq 'asc')" -->
			<a href="#" class="change_order" data-by="email" data-dir="desc">
		<!-- /tmpl_if --> 
				
		<!-- tmpl_if expr="(order_by eq 'email') && (order_dir eq 'desc')" -->
			<a href="#" class="change_order" data-by="email" data-dir="asc">
		<!-- /tmpl_if -->
     <strong>
		Email
		</strong>
		
		<!-- tmpl_if expr="(order_by eq 'email') && (order_dir eq 'asc')" -->
			<sub>&#x25B2;</sub>
		<!-- /tmpl_if -->
		
		<!-- tmpl_if expr="(order_by eq 'email') && (order_dir eq 'desc')" -->
			<sub>&#x25BC;</sub>
		<!-- /tmpl_if -->     
	</a>
    </p>
   </th>
  <!-- tmpl_loop field_names --> 
   <th>
    <p>
	   	<!-- tmpl_if expr="(order_by ne name)" -->
			<a href="#" class="change_order" data-by="<!-- tmpl_var name escape="HTML" -->" data-dir="asc">
		<!-- /tmpl_if --> 
		<!-- tmpl_if expr="(order_by eq name) && (order_dir eq 'asc')" -->
    		<a href="#" class="change_order" data-by="<!-- tmpl_var name escape="HTML" -->" data-dir="desc">
		<!-- /tmpl_if -->
		<!-- tmpl_if expr="(order_by eq name) && (order_dir eq 'desc')" -->
			<a href="#" class="change_order" data-by="<!-- tmpl_var name escape="HTML" -->" data-dir="asc">
		<!-- /tmpl_if -->
     <strong>
	  <!-- tmpl_if label --> 
			<!-- tmpl_var label --> 
	  <!-- tmpl_else --> 
      		<!-- tmpl_var name --> 
      <!-- /tmpl_if --> 
	</strong>

		<!-- tmpl_if expr="(order_by eq name) && (order_dir eq 'asc')" -->
			<sub>&#x25B2;</sub>
		<!-- /tmpl_if -->
		
		<!-- tmpl_if expr="(order_by eq name) && (order_dir eq 'desc')" -->
			<sub>&#x25BC;</sub>
		<!-- /tmpl_if -->
	</a>
    </p>
   </th>
  <!--/tmpl_loop --> 
  </tr>
</thead>

<tbody> 
<!-- tmpl_loop subscribers -->
	   
	   <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>

		   <!-- tmpl_unless no_checkboxes --> 
		
	    <td width="25">
	  
			<input type="checkbox" name="address" class="address" value="<!-- tmpl_var email escape="HTML" -->" />

		</td>
		<!-- /tmpl_unless --> 
	    
	    

        <!-- tmpl_if show_timestamp_column --> 
    		<td>
    		    <p>
    		      <!-- tmpl_var timestamp --> 
    		    </p>
    		</td>
	    <!-- /tmpl_if --> 

		<!-- tmpl_if show_list_column --> 
			<td>
			    <p>
			     <strong>
			      <!-- tmpl_var list --> 
			     </strong>
			    </p>
			   </td>
		<!-- /tmpl_if --> 
				
	<td>
	     <p>
		
		<!-- tmpl_if expr="(no_email_links != 1)" -->
			<a href="<!-- tmpl_var S_PROGRAM_URL -->?f=membership&email=<!-- tmpl_var email ESCAPE=URL -->&type=<!-- tmpl_var type ESCAPE=URL -->&page=<!-- tmpl_var page ESCAPE=URL -->&order_by=<!-- tmpl_var order_by ESCAPE=URL -->&order_dir=<!-- tmpl_var order_dir ESCAPE=URL -->&query=<!-- tmpl_var query ESCAPE=URL -->" >
				<!-- tmpl_var email --> 
			</a>
		<!-- /tmpl_if -->
		<!-- tmpl_if expr="(no_email_links == 1)" -->		
				<!-- tmpl_var email --> 
		<!-- /tmpl_if -->
 	 	</p>
	    </td>
	    
	    <!-- tmpl_loop fields --> 
	    
	    <td>
	     <p>
			<!-- tmpl_var value -->
	 	</p>
	    </td>
	    <!-- /tmpl_loop --> 
	   </tr>
<!-- /tmpl_loop -->
</tbody> 
  </table>

</div> 
</div> 


<!-- end  begin view_list_table_widget.tmpl --> 
