<!-- begin web_services.tmpl --> 

<!-- tmpl_set name="title" value="Your Mailing List &#187; Web Services" -->

<div class="row">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Your Mailing List
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Web Services API
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>
<div id="screen_meta" data-menu_highlight="web_services"></div>



<div class="alert-box info radius">
    <p><strong>Confused?</strong> See the 
        <a href="http://dadamailproject.com/d/features-restful_web_services.pod.html" target="_blank">
        docs on Web Services
       </a>
        to learn how to utilize the RESTful Web Services API.</p> 
</div>


<!-- tmpl_if keys_reset --> 
    	<div data-alert class="alert-box success radius">
        <p>
         Public and Private Keys have been reset.
        </p>
		<div style="text-align: center;">
		<input type="button" class="button small fade_me" value="Thanks!" >
		</div>
	</div>
<!-- /tmpl_if -->


<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post"> 
    <input type="hidden" name="flavor"  value="web_services" >
    <input type="hidden" name="process" value="reset_keys" >

    <fieldset> 
        <div class="row">
            <div class="small-12 columns">
                <label for="public_api_key">
                    Public API Key
                    <input type="text" value="<!-- tmpl_var list_settings.public_api_key escape="HTML" -->" id="public_api_key" >
                </label>
           </div> 
        </div>
            
        <div class="row">
            <div class="small-12 columns">
                <label for="private_api_key">
                    Private API Key
                    <input type="text"  value="<!-- tmpl_var list_settings.private_api_key escape="HTML" -->" id="private_api_key">
                </label>
           </div> 
        </div>
        
        <ul class="button-group right">    
             <li><input type="submit" class="button processing" value="Reset Keys" ></li>
        </ul>
    </fieldset> 
</form> 

<!-- end web_services.tmpl --> 
