
<!-- tmpl_set name="title" value="Plugins/Extensions &#187; Bounce Handler" -->	
<div id="screen_meta" data-menu_highlight="bounce_handler"></div>

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Plugins/Extensions
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				<!-- tmpl_var Plugin_Name -->
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<div id="plugins_bounce_handler_default"></div> 
<form> 
	<input type="hidden" name="s_program_url"          id="s_program_url"    value="<!-- tmpl_var S_PROGRAM_URL -->" > 
	<input type="hidden" name="bounce_handler_page" id="bounce_handler_page" value="1" > 
</form> 


<!-- tmpl_unless plugin_configured --> 
	<div class="alert-box warning radius">
		<!-- tmpl_var Plugin_Name --> not configured - 
		You must set up the Bounce Handler Email Address in the plugin-specific configuration. 
	</div>
<!-- /tmpl_unless --> 

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<h3>
	Bounce Email Scorecard
</h3>
<div class="alert-box info radius">
	The Bounce Scorecard keeps track of subscribed address on your mailing list 
	that bounce back message reports. Click on any address to see
	these message report summaries.
</div>

<div id="bounce_scorecard_loading"><p>&nbsp;</p></div>
<div id="bounce_scorecard" style="height:375px"></div> 

<div class="clearfix"></div>
<fieldset> 
	<legend>
		Manually Run <!-- tmpl_var Plugin_Name -->
	</legend> 

	<form action="<!-- tmpl_var S_PROGRAM_URL -->" id="parse_bounces_form">		
		<input type="hidden" name="prm" id="prm" value="cgi_parse_bounce" > 
		<input type="hidden" name="flavor" value="plugins" > 
		<input type="hidden" name="plugin" value="bounce_handler" > 
		<div class="row">
			<div class="small-12 columns">
				<label for="test">
				<input type="checkbox" name="test" id="test" value="bounces" >
					Only test any awaiting messages
				</label>
			</div>
		</div> 
		<div class="row">
			<div class="small-12 columns">
				<label for="parse_amount">
					# messages to review:
				</label> 
				<!-- tmpl_var parse_amount_widget -->
			</div>
		</div>
		<ul class="button-group right">
		    <li>
				<input type="submit" class="warning button" id="parse_bounces_button" value="Parse Received Bounces..." >
			</li>
		</ul>
	</form>
</fieldset> 


<fieldset> 
	<legend>
		Scorecard Preferences
	</legend> 

	<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" id="bounce_handler_prefs">

		<input type="hidden" name="flavor" value="plugins" > 
		<input type="hidden" name="plugin" value="bounce_handler" > 
		<input type="hidden" name="prm" value="edit_prefs" > 
<div class="alert-box info radius">
	Addresses that bounce back reports because of <strong>temporary</strong> 
	problems, like the mailbox being full or a network problem are given the
	<strong>Soft Bounce Score</strong>
</div>

<label>
	Soft Bounce Score
</label>
<!-- tmpl_var bounce_handler_softbounce_score_popup_menu -->

<div class="alert-box info radius">
	Address that bounce back reports because of <strong>permanent</strong>
	problems, like the address not existing anymore, or messages being blocked
	from being received are given the <strong>Hard Bounce Score</strong>
</div>


<label>
	Hard Bounce Score
</label>
<!-- tmpl_var bounce_handler_hardbounce_score_popup_menu -->


<div class="alert-box info radius">
	All addresses that currently have a score on the Bounce Scorecard will be 
	lessened by the <strong>Decay Rate</strong>, each time a mass mailing is sent to 
	the mailing list. This helps make sure <strong>temporary problems</strong> do 
	not inadvertantly remove addresses from your list <strong>permanently</strong>.
</div>


<label>
	Decay Rate
</label>
<!-- tmpl_var bounce_handler_decay_score_popup_menu -->

<div class="alert-box info radius">
	Addresses that reach the <strong>Score Threshold</strong> will be unsubscribed
	from your mailing list. 
</div>

<div class="row">
	<div class="small-12 columns">
		<label>
			Bounce Score Threshold
		</label>
		<!-- tmpl_var bounce_handler_threshold_score_popup_menu -->
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<label for="bounce_handler_forward_msgs_to_list_owner">
			<input type="checkbox" 
				name="bounce_handler_forward_msgs_to_list_owner" 
				id="bounce_handler_forward_msgs_to_list_owner" 
				value="1"
				<!-- tmpl_if list_settings.bounce_handler_forward_msgs_to_list_owner -->checked="checked"<!-- /tmpl_if -->
			>
			Forward bounces to the List Owner after success
		</label>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<label for="bounce_handler_forward_abuse_report_msgs_to_list_owner">
			<input type="checkbox" 
				name="bounce_handler_forward_abuse_report_msgs_to_list_owner" 
				id="bounce_handler_forward_abuse_report_msgs_to_list_owner" 
				value="1"
				<!-- tmpl_if list_settings.bounce_handler_forward_abuse_report_msgs_to_list_owner -->checked="checked"<!-- /tmpl_if -->
			>
			Forward abuse reports to the List Owner (Amazon SES only)
		</label>
	</div>
</div>






<div class="row">
	<div class="small-12 columns">
		<label for="bounce_handler_send_unsub_notification">
			<input type="checkbox" 
				name="bounce_handler_send_unsub_notification" 
				id="bounce_handler_send_unsub_notification" 
				value="1"
				<!-- tmpl_if list_settings.bounce_handler_send_unsub_notification -->checked="checked"<!-- /tmpl_if -->
			>
			Send Unsubscription Notification to Bouncing Email Address
		</label>
	</div>
</div>




<div class="row">
	<div class="small-12 columns">
		<h4>
			Addresses that reach the Bounce Score Threshold should:
		</h4>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<label for="bounce_handler_when_threshold_reached_unsub_subscriber">
			<input 
				type="radio" 
				name="bounce_handler_when_threshold_reached" 
				id="bounce_handler_when_threshold_reached_unsub_subscriber" 
				value="unsub_subscriber" 
				<!-- tmpl_if expr="(list_settings.bounce_handler_when_threshold_reached eq 'unsub_subscriber')" -->checked="checked"<!-- /tmpl_if -->
			>
				Be unsubscribed right away
		</label>
	</div> 
</div> 
<div class="row">
	<div class="small-12 columns">
		<label for="bounce_handler_when_threshold_reached_move_to_bounced_sublist">
		<input 
			type="radio" 
			name="bounce_handler_when_threshold_reached" 
			id="bounce_handler_when_threshold_reached_move_to_bounced_sublist"  
			value="move_to_bounced_sublist" 
			<!-- tmpl_if expr="(list_settings.bounce_handler_when_threshold_reached eq 'move_to_bounced_sublist')" -->checked="checked"<!-- /tmpl_if -->
		>
			Be moved to the, Bounced Addresses sublist
		</label>
	</div> 
</div> 

<!-- tmpl_include common_save_list_settings_buttons_widget.tmpl -->

</form> 
</fieldset>


<fieldset>
	<legend> 
		<!-- tmpl_var Plugin_Name --> Configuration</h3>
	</legend> 

	<table width="100%" class="responsive">
		<tr> 
			<th>
				Setting Name
			</th>
			<th>
				Setting Value
			</th>
		</tr>
		<tr> 
			<td>
	 		   Bounce Handler POP3 Username
		   </td> 
		   <td> 
			   <!-- tmpl_if Username --> 
			   		<!-- tmpl_var Username -->
				<!-- tmpl_else --> 
					<span class="error">
						Not Set!
					</span>
				<!-- /tmpl_if --> 
			</td> 
		</tr> 
		<tr> 
			<td>
				POP3 Mail Server
			</td>
			<td>
				<!-- tmpl_if Server --> 
					<!-- tmpl_var Server -->
				<!-- tmpl_else --> 
					<span class="error">
						Not Set!
					</span>
				<!-- /tmpl_if -->	
			</td> 
		</tr> 
	</table> 

	<form action="<!-- tmpl_var Plugin_URL -->"> 
		<input type="hidden" name="flavor" value="plugins" > 
		<input type="hidden" name="plugin" value="bounce_handler" > 
		<input type="hidden" name="prm" value="cgi_show_plugin_config" > 
				<input 
					type="submit" 
					value="View All Plugin Configurations..." 
					class="warning button expand"
				>
	</form> 
</fieldset> 

<fieldset> 

<legend>Mailing List Configuration</legend>

	<div class="alert-box info radius">
		
		<!-- tmpl_if expr="(list_settings.sending_method eq 'sendmail')" --> 
			<p>Messages for this list are  being sent via <strong>the sendmail command <!-- tmpl_if list_settings.add_sendmail_f_flag -->with the '-f' flag<!--/tmpl_if--></strong>:</p>

			<code>
				<!-- tmpl_var MAIL_SETTINGS --><!-- tmpl_if list_settings.add_sendmail_f_flag --> <strong>-f<!--tmpl_var list_settings.admin_email --><!--/tmpl_if-->
			</code>
	
		<!-- /tmpl_if --> 

		<!-- tmpl_if expr="(list_settings.sending_method eq 'smtp')" --> 

			<p>Messages for this mailing list are being sent via: <strong>SMTP</strong>. 

			<!-- tmpl_if list_settings.set_smtp_sender --> 

				<p>The SMTP Sender is being set to: <strong><!-- tmpl_var list_settings.admin_email --></strong>. This should
				be the same address as the above <strong>Bounce Handler POP3 Username</strong></p> 

			<!-- tmpl_else --> 

				<p>The SMTP Sender has not be explicitly set.  Bounces may go to the list owner (<!-- tmpl_var list_settings.list_owner_email -->) or to 
				a server default address.</p> 

			<!--/tmpl_if-->

		<!--/tmpl_if-->

		<!-- tmpl_if expr="(list_settings.sending_method eq 'amazon_ses')" --> 
			<p>Messages are currently being sent via Amazon SES.</p>

			<p>Outgoing messages will have the Return-Path header set to the List Administrator Email (<strong><!-- tmpl_var list_settings.admin_email --></strong>)
		<!-- /tmpl_if -->
	</div>

</legend> 
