		
<!-- tmpl_set name="title" value="Plugins &#187; Bounce Handler" -->	
<div id="screen_meta" data-menu_highlight="bounce_handler"></div>

	
<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title -->
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<div id="plugins_bounce_handler_default"></div> 
<form> 
	<input type="hidden" name="plugin_url"          id="plugin_url"          value="<!-- tmpl_var Plugin_Url -->" /> 
	<input type="hidden" name="bounce_handler_page" id="bounce_handler_page" value="1" /> 
</form> 


<!-- tmpl_unless plugin_configured --> 

	<div class="badweatherbox">
	  <p><strong>
	   Warning! <!-- tmpl_var Plugin_Name --> Not Configured!
	  </strong></p> 

	<p>
	 You must set up the Bounce Handler Email Address in the plugin-specific configuration. 
	</p> 
		
	 </div>

<!-- /tmpl_unless --> 

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->
		
<h1>Bounce Email Scorecard</h1>
	<p class="alert">The Bounce Scorecard keeps track of subscribed address on your mailing list that bounce back message reports. Click on any address to see
these message report summaries.</p>
<div id="bounce_scorecard_loading"><p>&nbsp;</p></div>
<div id="bounce_scorecard" style="height:375px"></div> 





<fieldset> 
 <legend>
	Manually Run <!-- tmpl_var Plugin_Name -->
</legend> 

<form action="<!-- tmpl_var Plugin_URL -->" id="parse_bounces_form">
<input type="checkbox" name="test" id="test" value="bounces" />
<label for="test">
	Test With Awaiting Messages
</label>
<p>
	<label for="parse_amount">
		Review
	</label> 
		up to <!-- tmpl_var parse_amount_widget --> Messages.
</p>

<input type="hidden" name="flavor" id="flavor" value="cgi_parse_bounce" /> 
<div class="buttonfloat"> 
	<input type="submit" class="cautionary" id="parse_bounces_button" value="Parse Received Bounces..." />
</div> 
<div class="floatclear"></div> 
</form>

<p>
 <label for="cronjob_url">Manual Run URL:</label><br /> 
<input type="text" class="full" id="cronjob_url" value="<!-- tmpl_var Plugin_URL -->?run=1&verbose=1&passcode=<!-- tmpl_var Manual_Run_Passcode -->" />
</p>
<!-- tmpl_unless Allow_Manual_Run --> 
    <span class="error">(Currently disabled)</a>
<!-- /tmpl_unless -->


<p> <label for="cronjob_command">curl command example (for a cronjob):</label><br /> 
<input type="text" class="full" id="cronjob_command" value="<!-- tmpl_var name="curl_location" default="/cannot/find/curl" -->  -s --get --data run=1\;passcode=<!-- tmpl_var Manual_Run_Passcode -->\;verbose=0  --url <!-- tmpl_var Plugin_URL -->" />
<!-- tmpl_unless curl_location --> 
	<span class="error">Can't find the location to curl!</span><br />
<!-- /tmpl_unless --> 

<!-- tmpl_unless Allow_Manual_Run --> 
    <span class="error">(Currently disabled)</a>
<!-- /tmpl_unless --> 

</p>
</li>
</ul> 
</fieldset> 




<fieldset> 
<legend>
Scorecard Preferences
</legend> 

<form action="<!-- tmpl_var Plugin_URL -->" method="post">

<input type="hidden" name="flavor" value="edit_prefs" /> 
<p>
	Addresses that bounce back reports because of <strong>temporary</strong> 
	problems, like the mailbox being full or a network problem are given the
	<strong>Soft Bounce Score</strong>
</p>
<table border="0"> 
 <tr> 
  <td> 
   <p>
   	<label style="width: 12em;float: left;text-align: right;margin-right: 0.5em;display: block">"Soft" Bounce Score</label>
	</p>
  </td> 
  <td> 
	<!-- tmpl_var bounce_handler_softbounce_score_popup_menu -->
  </td>
  </tr>
</table> 

<p>
	Address that bounce back reports because of <strong>permanent</strong>
	problems, like the address not existing anymore, or messages being blocked
	from being received are given the <strong>Hard Bounce Score</strong>
</p>

<table border="0"> 

 <tr> 
  <td> 
	
   <label style="width: 12em;float: left;text-align: right;margin-right: 0.5em;display: block">"Hard" Bounce Score</label>
  </td> 
  <td> 
	<!-- tmpl_var bounce_handler_hardbounce_score_popup_menu -->
  </td>
  </tr>
</table> 


   <p>
	All addresses that currently have a score on the Bounce Scorecard will be 
	lessened by the <strong>Decay Rate</strong>, each time a mass mailing is sent to 
	the mailing list. This helps make sure <strong>temporary problems</strong> do 
	not inadvertantly remove addresses from your list <strong>permanently</strong>.
	</p>


<table border="0"> 
<tr>
<td>

   	<label style="width: 12em;float: left;text-align: right;margin-right: 0.5em;display: block">Decay Rate</label>
  </td> 
  <td> 
	<!-- tmpl_var bounce_handler_decay_score_popup_menu -->
  </td>
  </tr>
</table> 

<p>
	Addresses that reach the <strong>Score Threshold</strong> will be unsubscribed
	from your mailing list. 
</p>
<table border="0"> 
<tr>
<td>

   	 <label style="width: 12em;float: left;text-align: right;margin-right: 0.5em;display: block">Bounce Score Threshold</label>
  </td> 
  <td> 
	<!-- tmpl_var bounce_handler_threshold_score_popup_menu -->
  </td>
  </tr>
</table> 


<table cellpadding="5"> 
<tr>
<td>
<input type="checkbox" name="bounce_handler_forward_msgs_to_list_owner" id="bounce_handler_forward_msgs_to_list_owner" value="1" <!-- tmpl_if list_settings.bounce_handler_forward_msgs_to_list_owner -->checked="checked"<!-- /tmpl_if --> />
</td>
<td>
<label for="bounce_handler_forward_msgs_to_list_owner">Forward bounces to the List Owner After Processing</label>
<br />Bounce Messages will be delivered to the List Owner (after being parsed and scored) for manual inspection. 
</td>
</tr> 
</table>

</td>
</tr>
</table> 

<table cellpadding="5"> 
<tr> 
<td> 
	<p>Addresses the reach the <strong>Bounce Score Threshold</strong> Should:</p>
</td>
</tr>
<tr>
<td>
	 <p><input type="radio" name="bounce_handler_when_threshold_reached" id="bounce_handler_when_threshold_reached_unsub_subscriber" value="unsub_subscriber" <!-- tmpl_if expr="(list_settings.bounce_handler_when_threshold_reached eq 'unsub_subscriber')" -->checked="checked"<!-- /tmpl_if --> /><label for="bounce_handler_when_threshold_reached_unsub_subscriber">Be Unsubscribed Right Away</label><br />
	     
	     
	 <input type="radio" name="bounce_handler_when_threshold_reached" id="bounce_handler_when_threshold_reached_move_to_bounced_sublist"  value="move_to_bounced_sublist" <!-- tmpl_if expr="(list_settings.bounce_handler_when_threshold_reached eq 'move_to_bounced_sublist')" -->checked="checked"<!-- /tmpl_if --> /><label for="bounce_handler_when_threshold_reached_move_to_bounced_sublist">Be Moved to the, "Bounced Addresses" Sublist</label>
</p> 

</td>

</tr>
</table> 

<div class="buttonfloat">   
 <input type="submit" class="processing" value="Save Preferences" /> 
 </div>
<div class="floatclear"></div>
</form> 
</fieldset>


<fieldset>
 <legend> 
  <!-- tmpl_var Plugin_Name --> Configuration</h1>
 </legend> 
 
 
 

<table cellpadding="5">
 <tr> 
  <td>
   <p><strong>Your Bounce Handler POP3 Username:</strong>
   </td> 
   <td> 
    <p>

<!-- tmpl_if Username --> 
	<!-- tmpl_var Username -->
<!-- tmpl_else --> 
	<span class="error">Not Set!</span>
<!-- /tmpl_if --> 

</p>
   </td> 
   </tr> 
   <tr> 
   <td>
    <p><strong>On:</strong>
    </p>
    </td>
    <td>
     <p>

	<!-- tmpl_if Server --> 
      <!-- tmpl_var Server --></p>
	<!-- tmpl_else --> 
		<span class="error">Not Set!</span>
	<!-- /tmpl_if -->	

   </td> 
   </tr> 
   
  </table> 
  
 <div class="buttonfloat"> 
 <form action="<!-- tmpl_var Plugin_URL -->"> 
  <input type="hidden" name="flavor" value="cgi_show_plugin_config" /> 
  <input type="submit" value="View All Plugin Configurations..." class="cautionary" /> 
 </form> 
 </div> 

<div class="floatclear"></div> 
  
</fieldset> 














<fieldset> 

<legend>Mailing List Configuration</legend>

<!-- tmpl_if expr="(list_settings.sending_method eq 'sendmail')" --> 
	<p>Messages for this list are  being sent via <strong>the sendmail command <!-- tmpl_if list_settings.add_sendmail_f_flag -->with the '-f' flag<!--/tmpl_if--></strong>:</p>

	<blockquote>
	<p>
	 <em>
	  <!-- tmpl_var MAIL_SETTINGS --><!-- tmpl_if list_settings.add_sendmail_f_flag --> <strong>-f<!--tmpl_var list_settings.admin_email --><!--/tmpl_if--></strong></em></p>
	</blockquote>
<!-- /tmpl_if --> 

<!-- tmpl_if expr="(list_settings.sending_method eq 'smtp')" --> 

	<p>Messages for this mailing list are being sent via: <strong>SMTP</strong>. 

	<!-- tmpl_if list_settings.set_smtp_sender --> 

		<p>The SMTP Sender is being set to: <strong><!-- tmpl_var list_settings.admin_email --></strong>. This should
		be the same address as the above <strong>Bounce Handler POP3 Username</strong></p> 
	
	<!-- tmpl_else --> 

		<p>The SMTP Sender has not be explicitly set.  Bounces may go to the list owner (<!-- tmpl_var list_settings.list_owner_email -->) or to 
		a server default address.</p> 

	<!--/tmpl_if-->

<!--/tmpl_if-->

<!-- tmpl_if expr="(list_settings.sending_method eq 'amazon_ses')" --> 
	<p>Messages are currently being sent via Amazon SES.</p>
	
	<p>Outgoing messages will have the Return-Path header set to the List Administrator Email (<strong><!-- tmpl_var list_settings.admin_email --></strong>)

<!-- /tmpl_if -->

</legend> 
