<!-- tmpl_set name="title" value="Plugins &#187; Bounce Handler &#187; Parsing Bounces..." --> 
<div id="screentitle"> 
	<div id="screentitlepadding">
		Plugins &#187; Bounce Handler &#187; Parsing Bounces...
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>
<div id="screen_meta" data-menu_highlight="bounce_handler"></div>
<div id="plugins_bounce_handler_parse_bounce"></div> 


<form name="some_form" id="some_form"> 
	<input type="hidden" id="plugin_url"    name="plugin_url"        value="<!-- tmpl_var Plugin_Url -->" /> 
	<input type="hidden" id="parse_amount"  name="parse_amount"  value="<!-- tmpl_if parse_amount --><!-- tmpl_var parse_amount --><!-- tmpl_else --><!-- tmpl_var MessagesAtOnce --><!-- /tmpl_if -->" /> 
	<input type="hidden" id="test"   name="test"   value="<!-- tmpl_if test --><!-- tmpl_var test --><!-- tmpl_else --><!-- /tmpl_if -->" />
	<input type="button" value="Parse Bounces" id="parse_bounces_button" class="processing" /> 
</form>

<div id="parse_bounce_results_loading"></div> 
<div id="parse_bounce_results"></div>