
<!-- tmpl_set name="title" value="Plugins &#187; Bounce Handler &#187; Configuration" --> 
<div id="screen_meta" data-menu_highlight="bounce_handler"></div>

<p id="breadcrumbs">
<a href="<!-- tmpl_var Plugin_URL -->"> 
<!-- tmpl_var Plugin_Name --> 
</a> 

&#187;

    Plugin Configuration
</a> 


</p> 

    <table> 
    
    <!-- tmpl_loop configs --> 
    
    <tr> 
      <td> 
       <p> 
         <strong> 
          <!-- tmpl_var name --> 
          </strong>
        </p>
       </td> 
       <td> 
        <p>
        <!-- tmpl_var value --> 
        </p>
        </td> 
        </tr> 
        
    <!-- /tmpl_loop --> 

    </table>