<!-- begin install_debug_info_widget.tmpl --> 

<!-- tmpl_if Trace --> 
	<h1>DEBUG INFO MATION</h1> 
	<pre> 
		<!-- tmpl_var Big_Pile_Of_Errors --> 	
	</pre> 
<!-- /tmpl_if --> 

<!-- end install_debug_info_widget.tmpl --> 
