
<!-- begin installer_extra_javascript_widget.tmpl --> 

<script type="text/javascript" src="<!-- tmpl_var Self_URL -->?flavor=screen&screen=/static/javascripts/dada_mail.js<!-- tmpl_var D_CACHE -->"></script>
<script type="text/javascript" src="<!-- tmpl_var Self_URL -->?flavor=screen&screen=/static/javascripts/dada_mail.installer.js<!-- tmpl_var D_CACHE -->"></script>
<script type="text/javascript" src="<!-- tmpl_var Self_URL -->?flavor=screen&screen=/static/javascripts/vendor/jquery/jquery.cookie.js<!-- tmpl_var D_CACHE -->"></script>

<!-- end installer_extra_javascript_widget.tmpl -->