<!-- begin add_email_screen.tmpl -->

<!-- tmpl_set name="title" value="Membership &#187; Verify Invitations/Additions" -->

<div id="screentitle"> 
	<div id="screentitlepadding">

Membership (<!-- tmpl_var type_title -->) 
&#187; 
<!-- tmpl_if expr="(type eq 'list')" --> 
	Invite
	<!-- tmpl_if list_settings.enable_mass_subscribe -->
		/ Subscribe
	<!-- /tmpl_if -->
<!-- tmpl_else --> 
	Add
<!-- /tmpl_if -->
&#187; 
 <strong>Verify</strong>
&#187;
<!-- tmpl_if expr="(type eq 'list')" --> 
	Send Invitation
	<!-- tmpl_if list_settings.enable_mass_subscribe -->
		/ Subscribe
	<!-- /tmpl_if -->
<!-- tmpl_else --> 
	Add
<!-- /tmpl_if -->

</div>

</div> 


<!-- tmpl_if expr="(type eq 'list')" --> 
	<!-- tmpl_if ENFORCE_CLOSED_LOOP_OPT_IN -->
		<!-- ... -->
	<!-- tmpl_else --> 
		<!-- tmpl_if list_settings.send_subscribed_by_list_owner_message --> 
			<div class="clearskiesbox">
				<ul> 
					<li>
					 <p>
						Addresses <strong>Subscribed</strong> will be sent a, &quot;Welcome&quot; message. 
					</p> 
					</li>
				</ul> 
			</div>
			<!-- /tmpl_if --> 
			<!-- tmpl_if list_settings.send_last_archived_msg_mass_mailing --> 
			<div class="clearskiesbox">
			<ul> 
				<li>
				 <p>
						Addresses <strong>Subscribed</strong> will be sent the latest archived message.				
				</p> 
			</li>
			</ul>	
			</div>
			<!-- /tmpl_if --> 	
		
	<!-- /tmpl_if --> 
<!-- /tmpl_if -->





<!-- tmpl_if expr="(type eq 'list')" --> 
	<!-- tmpl_if going_over_quota -->
		 <div class="clearskiesbox">
			<p>
			 Warning! You cannot subscribe all the addresses that you have submitted,
			 since you will go over your subscription limit of <!-- tmpl_var list_settings.subscription_quota -->
			 subscribers. Please re-submit a smaller number of addresses to subscribe.
			</p>
		</div>
	<!--/tmpl_if-->
<!-- /tmpl_if --> 


<!-- tmpl_if expr="(type eq 'list')" --> 
	<!-- tmpl_if list_settings.closed_list -->
		<!-- tmpl_unless list_settings.enable_mass_subscribe -->
		 <div class="clearskiesbox">
		 <p><strong>Warning!</strong></p> 
		 <p>
		 	You currently have a <strong>Closed List</strong> and subscribing members via the list 
			control panel is <strong>Disabled</strong>. Subscribers will not be able to 
			confirm any list invitations that you send. 
			</p> 
		</div> 
		<!-- /tmpl_unless --> 
	<!-- /tmpl_if -->
<!-- /tmpl_if -->



<form name="email_form" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
 <input type="hidden" name="f"              value="add_email" />
 <input type="hidden" name="type"           value="<!-- tmpl_var type -->" />
 <input type="hidden" name="return_to"      value="<!-- tmpl_var return_to -->" />
 <input type="hidden" name="return_address" value="<!-- tmpl_var return_address -->" />
 

<!-- tmpl_if not_subscribed -->

<fieldset> 
 <legend>
  Verified Addresses
 </legend>


 <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">

 <table class="stripedtable">
  <tr>
   <td width="25">
    <p>&nbsp;</p>
   </td>
   <td>
   <p>
    <strong>
     Email
   </strong>
  </p>
 </td>

<!-- tmpl_loop name="field_names" --> 
    
    <td>
     <p>
      <strong>
       <!-- tmpl_var name --> 
      </strong>
     </p>
    </td> 
<!--/tmpl_loop --> 

  </tr>
  
  <!-- tmpl_loop name="not_subscribed" -->

	<tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>     
		<td width="25">
      <input type="checkbox" name="address" value="<!-- tmpl_var csv_info escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" checked="checked" />
     </td>
     <td>
      <p>
<label for="<!-- tmpl_var email  escape="HTML" -->">
       <!-- tmpl_var email  escape="HTML" -->
</label>
      </p>
     </td>

     <!-- tmpl_loop name="fields" --> 
        
        <td>
         <p>
          <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
         </p>
        </td>
    <!-- /tmpl_loop --> 
  </tr>
  
  <!-- tmpl_if __last__ --> 
  
  </table>
  <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
  
  <!-- /tmpl_if --> 
  
<!-- /tmpl_loop -->


<p>&nbsp;</p>
<p>&nbsp;</p>
</div>


</fieldset> 

	 
	 
<!--/tmpl_if-->
 

<!-- tmpl_if list_settings.black_list -->
	 
	<!-- tmpl_if black_listed -->


<fieldset> 
 <legend>
  Black Listed Addresses
 </legend>
 
 
		 <p>
		  These addresses are 
		  <strong>
		   black listed.
		  </strong>
		
		<!-- tmpl_if list_settings.allow_admin_to_subscribe_blacklisted --> 
		  	They will not be added/invited unless they are manually checked:
		
		<!-- tmpl_else --> 
		
		They will not be added/invited. 
	  	
		
		<!-- /tmpl_if --> 
		
		 </p>
	
		  
		  
<div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">

 <table class="stripedtable">
  <tr>
   <td width="25">
    <p>&nbsp;</p>
   </td>
   <td>
   <p>
    <strong>
     Email
   </strong>
  </p>
 </td>

<!-- tmpl_loop name="field_names" --> 
    
    <td>
     <p>
      <strong>
       <!-- tmpl_var name --> 
      </strong>
     </p>
    </td> 
<!--/tmpl_loop --> 

  </tr>
  
  <!-- tmpl_loop name="black_listed" -->

    <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
     <td width="25">
      <!-- tmpl_if list_settings.allow_admin_to_subscribe_blacklisted --> 
		<input type="checkbox" name="address" value="<!-- tmpl_var csv_info escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" />
		<!-- tmpl_else --> 
		&nbsp;
		<!-- /tmpl_if --> 
     </td>
     <td>
      <p>
<label for="<!-- tmpl_var email escape="HTML" -->">
       <!-- tmpl_var email escape="HTML" -->
</label>
      </p>
     </td>

     <!-- tmpl_loop name="fields" --> 
        
        <td>
         <p>
          <!-- tmpl_var value default="&nbsp;" escape="HTML" -->
         </p>
        </td>
    <!-- /tmpl_loop --> 
  </tr>
 
 
   <!-- tmpl_if __last__ --> 
  
  </table>
  <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
  
  <!-- /tmpl_if --> 
  
  
<!-- /tmpl_loop -->


<p>&nbsp;</p>
<p>&nbsp;</p>
</div>

</fieldset> 

<!--/tmpl_if-->
	
<!--/tmpl_if-->



<!-- tmpl_if list_settings.enable_white_list --> 

<!-- 
	<p> White list is enabled.</p> 
--> 

    <!-- tmpl_if not_white_listed --> 

<!-- 
	<p>There's un-white listed subscribers to show </p> 
--> 

<fieldset> 
 <legend>
 Not White Listed Addresses
 </legend>
 
 
    <p>These addresses are not included on your 
		  <strong>
		   white list.
		  </strong>
		  They will not be added/invited unless they are manually checked:
		 </p>    


<div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">

 <table class="stripedtable">
  <tr>
   <td width="25">
    <p>&nbsp;</p>
   </td>
   <td>
   <p>
    <strong>
     Email
   </strong>
  </p>
 </td>

<!-- tmpl_loop name="field_names" --> 
    
    <td>
     <p>
      <strong>
       <!-- tmpl_var name --> 
      </strong>
     </p>
    </td> 
<!--/tmpl_loop --> 

  </tr>
  
  <!-- tmpl_loop name="not_white_listed" -->

    <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
     <td width="25">
      <input type="checkbox" name="address" value="<!-- tmpl_var csv_info escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" />
     </td>
     <td>
      <p>
<label for="<!-- tmpl_var email escape="HTML" -->">
       <!-- tmpl_var email escape="HTML" -->
</label>
      </p>
     </td>

     <!-- tmpl_loop name="fields" --> 
        
        <td>
         <p>
          <!-- tmpl_var value escape="HTML" default="&nbsp;"  -->
         </p>
        </td>
    <!-- /tmpl_loop --> 
  </tr>

  <!-- tmpl_if __last__ --> 
  
  </table>
  <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
  




  <!-- /tmpl_if --> 
  
<!-- /tmpl_loop -->


<p>&nbsp;</p>
<p>&nbsp;</p>
</div>


</fieldset> 

<!-- tmpl_else --> 

	<!--
		<p>There's NO un-white listed subscribers to show </p> 
	--> 

<!--/tmpl_if--> 


<!-- tmpl_else --> 

	<!-- 
		<p> White list is NOT enabled.</p>
	--> 

<!--/tmpl_if-->





<!-- tmpl_if subscribed -->
	
	
	<fieldset> 
	 <legend>
		Subscribed Already
	</legend> 
	 
	<p>
	 These addresses are already subscribed to your list. They will not be added/invited again:
	</p>
	


<div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">

 <table class="stripedtable">
  <tr>
   <td width="25">
    <p>&nbsp;</p>
   </td>
   <td>
   <p>
    <strong>
     Email
   </strong>
  </p>
 </td>

<!-- tmpl_loop name="field_names" --> 
    
    <td>
     <p>
      <strong>
       <!-- tmpl_var name --> 
      </strong>
     </p>
    </td> 
<!--/tmpl_loop --> 

  </tr>
  
  <!-- tmpl_loop name="subscribed" -->

    <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
     <td width="25">
      &nbsp;
     </td>
     <td>
      <p>
<label for="<!-- tmpl_var email escape="HTML" -->">
       <!-- tmpl_var email escape="HTML" -->
</label>
      </p>
     </td>

     <!-- tmpl_loop name="fields" --> 
        
        <td>
         <p>
          <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
         </p>
        </td>
    <!-- /tmpl_loop --> 
  </tr>

  <!-- tmpl_if __last__ --> 
  
  </table>
  <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
  
  <!-- /tmpl_if --> 
  
<!-- /tmpl_loop -->


<p>&nbsp;</p>
<p>&nbsp;</p>
</div>

</fieldset> 
	
<!--/tmpl_if-->


<!-- tmpl_if invalid -->


<fieldset> 
 <legend>
Invalid Email Addresses
 </legend>
 
 
	<p>
	 These addresses did not go through validation successfully. They will not be added/invited. 
	 </p>
	
	<div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">

 <table class="stripedtable">
  <tr>
   <td width="25">
    <p>&nbsp;</p>
   </td>
   <td>
   <p>
    <strong>
     Email
   </strong>
  </p>
 </td>

<!-- tmpl_loop name="field_names" --> 
    
    <td>
     <p>
      <strong>
       <!-- tmpl_var name --> 
      </strong>
     </p>
    </td> 
<!--/tmpl_loop --> 

  </tr>
  
  <!-- tmpl_loop name="invalid" -->

    <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>
     <td width="25">
&nbsp;     </td>
     <td>
      <p>
<label for="<!-- tmpl_var email escape="HTML" -->">
       <!-- tmpl_var email escape="HTML" -->
</label>
      </p>
     </td>

     <!-- tmpl_loop name="fields" --> 
        
        <td>
         <p>
          <!-- tmpl_var value default="&nbsp;" escape="HTML"  -->
         </p>
        </td>
    <!-- /tmpl_loop --> 
  </tr>

  <!-- tmpl_if __last__ --> 
  
  </table>
  <p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
  
  <!-- /tmpl_if --> 
  
<!-- /tmpl_loop -->


<p>&nbsp;</p>
<p>&nbsp;</p>
</div>

</fieldset> 

<!-- /tmpl_if --> 

<!-- tmpl_if not_subscribed --> 
	<!-- ... -->
<!-- tmpl_else --> 
	<div class="badweatherbox">
	<p> 
		No addresses have passed verification. 
	</p> 
</div>
<!-- /tmpl_if -->


	 <div class="buttonfloat">
	  <input type="button" class="cautionary" value="<< Re-Enter Addresses" onclick="history.back();return false;" />

	<!-- tmpl_if expr="(type eq 'list')" --> 
	  <input type="submit"  name="process" value="Send Invitation... >>" <!-- tmpl_if list_settings.closed_list -->disabled="disabled" class="disabled"<!-- tmpl_else -->class="processing"<!-- /tmpl_if --> />
	<!-- /tmpl_if -->

	<!-- tmpl_if expr="(type eq 'list')" --> 
		<!-- tmpl_if ENFORCE_CLOSED_LOOP_OPT_IN --> 
			<!-- ... --> 
		<!-- tmpl_else --> 
			<input type="submit" <!-- tmpl_unless list_settings.enable_mass_subscribe -->disabled="disabled" class="disabled"<!-- tmpl_else -->class="processing"<!-- /tmpl_unless -->  name="process"  value="Subscribe Checked Addresses >>" onclick="return warnAboutMassSubscription(this.form);" />	
		<!-- /tmpl_if --> 
	<!-- tmpl_else --> 
		<input type="submit" class="processing" name="process"  value="Add Checked Addresses to <!-- tmpl_var type_title --> >>" />
	<!-- /tmpl_if -->
	 </div>
	 <div class="floatclear"></div>

	



 </form>
 
<!-- end add_email_screen.tmpl -->
