<!-- begin add_screen.tmpl -->

<!-- tmpl_set name="title" value="Membership &#187; Invite/Add" -->

<script type="text/javascript">
    //<![CDATA[
        var check = 0; 
        function enable_check() { 

                check = 1;
                do_check_status();
        }
        function do_check_status(){ 
            if(check == 1){
                update_status_bar();
            }
        }

		 function update_status_bar(){ 
			new Ajax.Updater(
				'statusbar', '<!-- tmpl_var S_PROGRAM_URL -->', 
				{ 
				    method: 'post', 
					parameters: {
						rand_string:               $F('rand_string'),
						new_email_file:            $F('new_email_file'), 
						f:                         'check_status',

						},
				onCreate: 	 function() {
				
				},
				onComplete: 	 function() {
					$('statusbar').show(); 
				}
				});
		}
        setInterval("do_check_status();",'1000');

    //]]>
</script>

<div id="screentitle"> 
	<div id="screentitlepadding">
		 Membership (<!-- tmpl_var type_title -->)
		&#187;
		 <strong>
			<!-- tmpl_if EXPR="(type eq 'list')" -->
				Invite
				<!-- tmpl_if list_settings.enable_mass_subscribe -->
					/ Subscribe
				<!-- /tmpl_if -->
			<!-- tmpl_else --> 
				Add
			<!-- /tmpl_if --> 
			</strong>
		&#187;
		 Verify
		&#187;
		<!-- tmpl_if EXPR="(type eq 'list')" -->
			Send Invitation
			<!-- tmpl_if list_settings.enable_mass_subscribe -->
				/ Subscribe
			<!-- /tmpl_if -->
		<!-- tmpl_else --> 
			Add
		<!-- /tmpl_if -->
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>


<!-- tmpl_if EXPR="(type eq 'list')" -->
	
	<!-- tmpl_if list_settings.use_subscription_quota -->
		
		<!-- tmpl_if subscription_quota_reached -->
			<div class="badweatherbox">
			<p>
			 <strong>Warning!</strong>
			<p> You are at or above the number of 
			 Subscribers allowed (<!-- tmpl_var list_settings.subscription_quota -->)! 
			 You may not Subscribe any more.
			</p>
			</div>
			
		<!--tmpl_else-->
			<div class="badweatherbox">			
			<p>
				<strong>Warning!</strong>
			</p> 
			
			<p>You have a limit of <!-- tmpl_var list_settings.subscription_quota -->
			 subscriber(s) maximum allowed onto this Mailing List. You currently have 
			 <!-- tmpl_var num_subscribers --> Subscriber(s).
			</p>
		</div>
			
		<!--/tmpl_if-->
		
	<!--/tmpl_if-->
	
<!--/tmpl_if-->

<!-- tmpl_if list_is_closed -->
		<div class="badweatherbox"> 
		<p>
		 	<strong>Disabled</strong>.
	 	</p>
		<p>
			You currently have a <strong>Closed List</strong>.
			 </p> 
		</div>
<!-- /tmpl_if --> 



	<!-- tmpl_include list_type_switch_widget.tmpl -->
	
<!-- tmpl_if list_is_closed -->

<!-- tmpl_else --> 

	<fieldset> 
	
		<legend>
			 <a href="#" onclick="toggleDisplay('add_one');return false;">
			+/- 
		</a>
		<!-- tmpl_if EXPR="(type eq 'list')" -->
			Invite
			<!-- tmpl_if list_settings.enable_mass_subscribe -->
				/ Subscribe
			<!-- /tmpl_if -->
		<!-- tmpl_else --> 
			Add
		<!-- /tmpl_if -->
	
		 Just One Address
		</legend>
	<div id ="add_one" style="display:none"> 
	
		<form name="via_add_one"  action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
	
		 <input type="hidden" name="f"    id="f" value="add" />
		 <input type="hidden" name="type" value="<!-- tmpl_var type -->" />
		 <input type="hidden" name="process" value="1" />
		 <input type="hidden" name="rand_string" id="rand_string" value="<!-- tmpl_var rand_string -->" />

		<input type="hidden" name="method" value="via_add_one" /> 

		 <p>
		     <label for="email" class="label_profile_fields">
		      Email Address:
		     </label>
		    <input type="text" name="email" id="email" value=""  />
		    </p>
	
		
		<!-- tmpl_loop fields --> 
		    <p>
		     <label for="<!-- tmpl_var name escape=HTML -->" class="label_profile_fields">
		      <!-- tmpl_var label escape="HTML" --> (<!-- tmpl_var name escape="HTML" -->): 
		     </label>
		    <input type="text" name="<!-- tmpl_var name escape=HTML -->" id="<!-- tmpl_var name escape=HTML -->" value="<!-- tmpl_var value escape=HTML -->"  />
		    </p>
		<!--/tmpl_loop-->


		 <div class="buttonfloat">
		  <input type="reset"  class="cautionary" value="Clear Changes" />
		  <input type="submit" class="processing" value="Verify Address..." />
		 </div>
		 <div class="floatclear"></div>

	</form> 
	
		
	</div> 

	</fieldset> 

	<fieldset style="background:#e6e6e6">
		<legend>
		
			<!-- tmpl_if EXPR="(type eq 'list')" -->
				Invite
				<!-- tmpl_if list_settings.enable_mass_subscribe -->
					/ Subscribe
				<!-- /tmpl_if -->
			<!-- tmpl_else --> 
				Add
			<!-- /tmpl_if -->
		
			 a Bunch of Addresses</legend>

	    <p>
	      <label for="new_emails">
	            Enter
	     </label> 
	     new subscribers (one subscriber per line) in the following <strong>CSV format</strong>: </p> 
     
	     <p><code>Email Address<!-- tmpl_loop fields -->, <!-- tmpl_var name --><!-- /tmpl_loop --></code></p>



	<fieldset> 
		<legend>Paste Addresses Below:</legend>

	<form name="paste_addresses"  action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
	 <input type="hidden" name="f"    id="f" value="add" />
	 <input type="hidden" name="type" value="<!-- tmpl_var type -->" />
	 <input type="hidden" name="process" value="1" />
	 <input type="hidden" name="rand_string" id="rand_string" value="<!-- tmpl_var rand_string -->" />

	<input type="hidden" name="method" value="via_textarea" /> 



	 <p>
	  <textarea name="new_emails" id="new_emails" rows="5" cols="40"></textarea>
	 </p>


	 <div class="buttonfloat">
	  <input type="reset"  class="cautionary" value="Clear Changes" />
	  <input type="submit" class="processing" value="Verify Addresses..." />
	 </div>
	 <div class="floatclear"></div>
	</form>




	</fieldset> 


	<fieldset> 
		<legend>Upload From File</legend>



	 <p>
	  Alternatively,  
	  <label for="new_email_file">
	   upload
	  </label>
	  a text file in the same <strong>CSV format</strong> mentioned above.
	 </p>

	<form name="default_form" enctype="multipart/form-data" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" onSubmit="enable_check();" accept-charset="<!-- tmpl_var HTML_CHARSET -->">

		<div id="statusbar" style="width:1px solid black"></div>
		<div class="floatclear"></div>

	<input type="hidden" name="f"    id="f" value="add" />
	<input type="hidden" name="type" value="<!-- tmpl_var type -->" />
	<input type="file"   name="new_email_file" id="new_email_file" />
	<input type="hidden" name="process" value="1" />
	<input type="hidden" name="rand_string" id="rand_string" value="<!-- tmpl_var rand_string -->" />
	<input type="hidden" name="method" value="via_file_upload" /> 
	
	 <div class="buttonfloat">
	  <input type="reset"  class="cautionary" value="Clear Changes" />
	  <input type="submit" class="processing" value="Verify Addresses..." />
	 </div>
	 <div class="floatclear"></div>
	</form>


	</fieldset> 

    


	 </fieldset>

<!-- /tmpl_if -->

<!-- end add_screen.tmpl -->
