<!DOCTYPE html>
<html>
 <head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Pragma"  content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="Content-Type" content="text/html; charset=<!-- tmpl_var HTML_CHARSET -->">

  <title><!-- tmpl_var title --> - <!-- tmpl_var list_settings.list_name --> - <!-- tmpl_var PROGRAM_NAME --></title>
 
  <link rel="stylesheet" href="<!-- tmpl_var S_PROGRAM_URL -->/css/default.css" type="text/css" media="screen" />
<!-- tmpl_if load_modalbox --> 
  <link rel="stylesheet" href="<!-- tmpl_var S_PROGRAM_URL -->/css/modalbox.css" type="text/css"  media="screen" />
<!-- /tmpl_if -->

  <script src="<!-- tmpl_var S_PROGRAM_URL -->/js/dada_mail_admin_js.js"         type="text/javascript"></script>
  <script src="<!-- tmpl_var S_PROGRAM_URL -->/js/prototype_scriptaculous_package.js" type="text/javascript"></script>

		<!-- tmpl_if comment --> 
			<!-- These will not be loaded, rather, "prototype_scriptaculous_package.js" will be used. -->
			<script src="<!-- tmpl_var S_PROGRAM_URL -->/js/prototype.js" type="text/javascript"></script>
			<script src="<!-- tmpl_var S_PROGRAM_URL -->/js/scriptaculous.js?load=effects" type="text/javascript"></script>
		<!-- /tmpl_if --> 


<!-- tmpl_if load_modalbox --> 
  <script src="<!-- tmpl_var S_PROGRAM_URL -->/js/modalbox.js" type="text/javascript"></script>
<!-- /tmpl_if --> 

<!-- tmpl_if load_wysiwyg_editor --> 
	<!-- tmpl_if using_fckeditor --> 
		<script src="<!-- tmpl_var FCKEDITOR_URL -->/fckeditor.js"       type="text/javascript"></script>
	<!-- /tmpl_if -->
	<!-- tmpl_if using_ckeditor --> 
		<script src="<!-- tmpl_var CKEDITOR_URL -->/ckeditor.js"         type="text/javascript" ></script>
		<script src="<!-- tmpl_var CKEDITOR_URL -->/dada_mail_config.js" type="text/javascript" ></script>
	<!-- /tmpl_if --> 
	<!-- tmpl_if using_tiny_mce --> 
		<script src="<!-- tmpl_var TINY_MCE_URL -->/tiny_mce.js"         type="text/javascript"></script>
		<script src="<!-- tmpl_var TINY_MCE_URL -->/dada_mail_config.js" type="text/javascript"></script>
	<!-- /tmpl_if -->
<!-- /tmpl_if --> 

</head>
 
 <body id="DadaAdmin">
   <div id="Header">
	<a href="<!-- tmpl_var PROGRAM_URL -->">
		<img src="<!-- tmpl_var S_PROGRAM_URL -->/img/dada_mail_logo.png/" alt="<!-- tmpl_var PROGRAM_NAME -->" />
    </a>
	<span id="Title">
		Logged in as
		<!-- tmpl_if root_login --> 
		 <strong><!-- tmpl_var PROGRAM_NAME --> Root</strong>
		<!-- tmpl_else --> 
			List Owner
		<!-- /tmpl_if -->
		of 
		<a href="<!-- tmpl_var PROGRAM_URL -->/list/<!-- tmpl_var list_settings.list -->/" target="_blank"><!-- tmpl_var list_settings.list_name --> (<!-- tmpl_var list_settings.list -->)</a>   
	 	
		<!-- tmpl_if login_switch_widget --> 
			<!-- tmpl_if root_login --> 
			| 
				<!-- tmpl_var login_switch_widget -->
			<!-- /tmpl_if -->
		<!-- /tmpl_if -->
		| <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=logout">Log Out</a>
		
    </span>
    <div class="floatclear"></div>
  </div><!-- ends id="Header" -->
 


 <div id="AdminContentWrapper">
   <div id="AdminContent">
		<!-- tmpl_var content -->
   </div><!-- ends id="AdminContent" -->
  </div><!-- ends id="AdminContentWrapper" -->
   

 <div id="Menu">     
  <!-- tmpl_var admin_menu -->
 </div><!-- ends id="Menu" -->



 
	<div id="Footer">
		<div id="FooterPadding">
			<p><!-- tmpl_var footer_props --></p>
		</div>
	</div> 


 </body>
</html>