<!-- begin archive_footer_widget.tmpl -->



<!-- tmpl_include newsfeed_widget.tmpl --> 

<!-- tmpl_var archive_send_form -->

<!-- tmpl_var archive_search_form -->

<hr />

<!-- tmpl_var archive_subscribe_form -->

<!-- end archive_footer_widget.tmpl -->
