<!-- begin back_link_screen.tmpl -->

<!-- tmpl_set name="title" value="Create a Back Link" -->

<!-- tmpl_include help_link_widget.tmpl -->

<!-- tmpl_if done -->
	<!-- tmpl_var GOOD_JOB_MESSAGE -->
<!--/tmpl_if -->

<p>
 Enter your website's name and its URL to create a back link 
 in pages presented to your visitors. Both the site name and 
 site URL are needed to make the link. Leave both text fields 
 blank to remove the link.
</p>

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form">


<input type="hidden" name="process" value="1" />
<input type="hidden" name="f"       value="back_link" />

<p>
 <label for="website_name">
  Site Name:
 </label>
 <br />
 <input type="text" name="website_name" id="website_name" value="<!-- tmpl_var list_settings.website_name escape="HTML"-->" class="full" />
</p>

<p>
 <label for="website_url"> 
  Site URL: (http://)
 </label>
 <br />
 <input type="text" name="website_url" id="website_url" value="<!-- tmpl_var list_settings.website_url escape="HTML" -->" class="full" />
</p>

<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear Changes" />
 <input type="submit" class="processing" value="Change Back Link" />
</div>
<div class="floatclear"></div>

</form> 

 


<!-- end back_link_screen.tmpl -->
