<!-- begin bounced_list_table_widget.tmpl --> 

<div style="max-height: 200px; overflow: auto; border:1px solid black">
 
 <table cellpadding="2" cellspacing="0" border="0" width="100%" style="background-color:#fff">
  <tr>

   		<td width="25">
    		<p>&nbsp;</p>
   		</td>

	<td>
	    <p>
	     <strong>
	      List
	     </strong>
	    </p>
	   </td>
   <td>
    <p>
     <strong>
      Email
     </strong>
    </p>
   </td>
  <!-- tmpl_loop field_names --> 
   <td>
    <p>
     <strong>
	  <!-- tmpl_if label --> 
			<!-- tmpl_var label --> 
	  <!-- tmpl_else --> 
      		<!-- tmpl_var name --> 
      <!-- /tmpl_if --> 
	</strong>
    </p>
   </td>
  <!--/tmpl_loop --> 
  </tr>

<!-- tmpl_loop subscribers -->
	   
	   <tr <!-- tmpl_if __odd__ -->style="background-color:#ccf;"<!--/tmpl_if-->>

		
	    <td width="25">
	  
			<input type="checkbox" name="address" value="<!-- tmpl_var email -->" />

		</td>
	    
	
			<td>
			    <p>
			     <strong>
			      <!-- tmpl_var list --> 
			     </strong>
			    </p>
			   </td>
				
	<td>
	     <p>
		
	 	<a href="#something new" >
	       <!-- tmpl_var email -->  
	      </a>
	 	</p>
	    </td>
	    
	    <!-- tmpl_loop name="fields" --> 
	    
	    <td>
	     <p>
	       <!-- tmpl_var value -->
	     </p>
	    </td>
	    <!-- /tmpl_loop --> 
	   </tr>
<!-- /tmpl_loop -->
   
  </table>
 </div>
<!-- end  begin bounced_list_table_widget.tmpl --> 
