<!-- begin changes_saved_dialog_box_widget.tmpl --> 

<div class="clearskiesbox" id="changed_saved_dialog_box">

	<p>
		Your changes have been saved!
	</p>

	<div style="text-align: center;">
	<input type="button" class="small_button" value="Ok!" onClick="Effect.Fade('changed_saved_dialog_box');" />
	</div>
	
</div> 
<!-- end changes_saved_dialog_box_widget.tmpl --> 