<!-- begin changes_saved_dialog_box_widget.tmpl --> 

<br />
<div class="psuedomodalbox" id="changed_saved_dialog_box">

	<p class="alert">
		Changes have been saved.
	</p>

	<div style="text-align: center;">
	
	<input type="button" class="small_button" value="Ok!" onClick="Effect.Fade('changed_saved_dialog_box');" />
	</div>
	
</div> 
<br />
<!-- end changes_saved_dialog_box_widget.tmpl --> 