
/* ----- GENERAL ----- */

body { 
	background-color:#fff;
	/*font-family:Georgia,Times,'Times New Roman',serif;*/
	font-family:helvetic,arial,san-serif;

	line-height:1.50em;
	
	font-size:.825em;
	background: #ededed; 
}

/* for list/archive pages only: */
body#Dada {
	margin:50px 0;
	padding:0;
	text-align:center;                /* page centering hack for IE */
	
		
	
}

/* for admin pages only: */
body#DadaAdmin {
	margin:0;
	padding:0;


}




/* ----- IDS: General Page Layout ----- */

#PageWrapper {
}

#Header {
	width:550px;
	height:35px;
	margin:0 auto;                    /* page centering for all but IE */
	padding:20px;
	border:1px solid #000;
	/*background-color:#c00;*/
	  background-color:#69C;
	background-image: url('<!-- tmpl_var S_PROGRAM_URL -->/img/dada_mail_logo.png/');
	background-repeat: no-repeat;
	
	text-align:left;                  /* overrides page centering hack for IE (in the body) */
	font-family: 'Avant Garde', 'Century Gothic', AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	font-size: 1.65em;
	font-style:italic;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
}

/* box model hack for IE: \*/
* html #Header {
	width:592px;
}
/* ends the box model hack. see: http://tinyurl.com/9yld6 */

/* override for admin pages only: */
body#DadaAdmin #Header {
	width:auto;
}

/* override for admin pages only: */
/* box model hack for IE: \*/
* html body#DadaAdmin #Header {
	width:100%;
}
/* ends the box model hack. see: http://tinyurl.com/9yld6 */

#Logo {
	float:left;
	text-align:left;
}

#Title {
	float:right;
	text-align:right;
	padding-top:15px; 
}

/* alas, IE doesn't understand the next three CSS2 rules, 
   which add the dots before and after the header copy: */
#Logo:before {
	/*content: ".: "; */
}

#Title:before {
	/* content: ":: "; */
}

#Title:after {
	/* content: " ::"; */
}

#Content {
	width:550px;
	margin:0 auto;                    /* page centering for all but IE */
	padding:20px;
	border:1px solid #000;
	border-top:0;
	background-color:#fff;
	text-align:left;                  /* overrides page centering hack for IE (in the body) */
}

/* box model hack for IE: \*/
* html #Content {
	width:592px;
}
/* ends the box model hack. see: http://tinyurl.com/9yld6 */

#AdminPageWrapper {
	
	background: #fff; 
	
	
}

#AdminContentWrapper {
	margin:0 0 50px 200px;
	padding:10px 50px;
}

#AdminContent {
	width:100%;
	padding-top:8px;
	
}

#MenuWrapper {
	
}

#Menu {
	position:absolute;
	top:110px;
	left:20px;
	width:160px;
	padding:1px 10px 0 10px;
	border:1px solid #000;
	background-color:#fff;
	text-align:left;
	line-height:150%;
}

/* box model hack for IE: \*/
* html #Menu {
	width:182px;
} 
/* ends the box model hack. see: http://tinyurl.com/9yld6 */

/* ----- IDS: Navigation ----- */

#Menu li {
	line-height:125%;
}

#Menu p, 
#Menu ul
{
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
	font-family: 'Avant Garde', 'Century Gothic', AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	/*font-size: 12px;*/
	font-size: .95em; 
	font-weight: bold;
}

#Menu ul ul {
	padding-left:12px;
	font-weight:normal;
    list-style-type: square;
    color: #ccc;
}

#list_type_switcher div { 
	
	font-family: 'Avant Garde', 'Century Gothic', AvantGarde, Helvetica,Verdana,Arial,sans-serif;	
	float:left;
	margin-right:2px;
	width:150px;
	border:1px solid #000;
	background-color:#ededed;
	text-align:center;
}

#list_type_switcher div a, 
#list_type_switcher div span {
	padding:8px 0;
	                                  /* these next two make the entire "button" clickable: */
	display:block; /* Moz, etc. */
	width:150px;   /* IE */
}

#list_type_switcher div span {
	background-color:#fff;
	font-weight:bold;
}

#list_type_switcher div a:hover {
	background-color: #e6e6e6;	
}

/* ----- IDS: Widgets/Other ----- */

#breadcrumbs {
}

#help_link {
	float:right;
	margin-top:.8em;
	font-weight:bold;
	clear:both;
}

#root_login_message {
	/* float:right; */
	margin-right:0.5em;
	color:#fff;
}

/* ----- CLASSES ----- */

.disabled {
	background-color:#ccc;
	border:1px solid #fff;
}




.error {
	font-family:Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em; 
	
	font-style:italic;
	color:#600;
}

.alert { 
	font-family:Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em; 
	
	/*font-style:italic;*/
	color:#09c;
}



.hidden {
	display:none;
}


a.menu_disabled {
    color: #999;
    font-style:italic;
}

a.menu_disabled:link {
    color: #999;
    font-style:italic;
}

a.menu_disabled:visited {
    color: #999;
    font-style:italic;
}

a.menu_disabled:hover {
    color: #999;
    font-style:italic;
}

a.menu_disabled:active {
	color: #999;
    font-style:italic;
}







.highlighted { 
    font-style: normal;
    background-color:#6F3;

}

p.link_to_screen {
	text-align:right;
	font-weight:bold;
}

.positive {
	font-family:Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em; 

	
	color:#063;
}

.positive_greeting { 
	padding:2px; 
	border: 1px solid #363;
	background-color: #CFC;
}

.simplebox {
	padding:7px;
	border:1px solid #000;
	background-color:#fff;
}

.login_message { 
    float: right; 
    padding:5px;
    /* width:150px; */
    background-color:#ff9;
    border:1px dotted #333;
}

.login_message p { 
    line-height: 100%;
}

.login_message ul { 

    list-style-type: square;
    color: #ccc;
    
}


/* all but IE/Win & NN4: */
.simplebox>p {
	margin:0;
}

/* ----- HEADINGS ----- */


h1, h2, h3 { 
	font-family:'Avant Garde', 'Century Gothic', AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	font-weight:bold;
}

h1 {
    
	/*font-size:18px;*/

	
	font-size: 1.4em;
}

h2 {
	/*font-size:16px;*/
	font-size: 1.2em;
}

h3 {
	/*font-size:14px;*/
	font-size: 1em
}

/* ----- PARAGRAPHS ----- */

p {
}

p.small {
	font-family:Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em; 
}

/* ----- CODE ----- */

code, pre {
	margin:3px;
	padding:3px;
	border:1px dotted #000;
	background-color:#ccf;
	font:.8em/1.6em Monaco,Mono,'Courier New',Courier,monospace;
}

/* ----- LINKS ----- */

a {
	text-decoration:none;
}

a:link {
	color:#339;
}

a:visited {
	color:#03c;
}

a:hover {
	color:#33c;
}

a:active {
}

#Logo a:link, 
#Logo a:visited {
	color:#000;
}

#Logo a:hover {
	color:#000;
}

#Logo a:active {
}

/* ----- FORMS ----- */

label {
	
	font-family:Helvetica,Verdana,Arial,sans-serif;
	
	/*font-size:12px;*/
	/*font-size: .95em; */
	font-weight:bold;
	color:#000;
}

fieldset { 

    margin-left:    5px;
    margin-right:  5px;
    
    margin-top:    10px;
    margin-bottom: 10px;
    border: 1px solid black;
    background:#ededed;
    
    
}

fieldset fieldset { 
	background:#e6e6e6;
}


legend {
	
	font-family: 'Avant Garde', 'Century Gothic', AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	font-weight:bold;
    /*font-size:16px;*/
    font-size: 1.15em;

}




input {
	margin:5px;
	padding:5px;
	border-width:1px;
	border-style:solid; 
	border-color:#666 #999 #ccc #999;
	font-family:Helvetica,Verdana,Arial,sans-serif;
	font-size: 1em;
}

/* removes checkbox/radio-button borders in IE 5.0+: */
/* (commented out for validation, uncomment to apply)
input {
    border: expression(this.type=="checkbox"? 'none':
                       this.type=="radio"?    'none':
                       '1px solid #000');
}
*/

input.full {
	width:95%;
}

select {
	margin:3px;
	font-family:Helvetica,Verdana,Arial,sans-serif;
	font-size: 1em;
	color:#333;
}

textarea {
	padding:10px;
	width:95%;
	border-width:1px;
	border-style:solid;
	border-color:#666 #999 #ccc #999;
	font-family:Helvetica,Verdana,Arial,sans-serif;
	
	font-size: 1em;
	
	color:#333;
}

/* affects buttons only: */
input.plain,
input.processing,
input.cautionary,
input.alertive,
input.help {
	font-weight:bold;
	color:#000;
	border-color:#ccc #999 #666 #999;		
}

input.plain {
	background-color:#9cf;
	/*color:#000;*/
	border-color:#ccc #999 #666 #999;		
	color:#333;
	
}

input.processing {
	/*background-color:#9c9;*/
	background-color:#9f9; 
	color:#333;
	
}

input.cautionary {
	/* background-color:#ffc; */
	background-color:#ff9;
	color:#333;
	
}

input.alertive {
	/* background-color:#f66; */
	background-color:#f33;
	color:#fcc;
	
}

input.help {
	/*background-color:#9c9;*/
	background-color:#fcf; 
	color:#333;	
	
}

input.disabled {
    color: #999; 
	background-color:#ccc;
	border:1px solid black;
}

/* IE doesn't understand this: */
input:focus, 
textarea:focus {}

div.buttonfloat {
	float:right;
}

/* ----- TABLES ----- */

table {
	font-size:100%;                   /* fixes IE inheritance bug, redundant for others */
}

td {
	vertical-align:top;
}

/* all but IE/Win & NN4: */
td>p {
	margin:0;
}

table.tagchart {
	border-collapse:collapse;
	border:2px solid #000;
	background-color:#fff;
	width:100%;
}

table.tagchart td {
	border:1px solid #000;
	padding:5px;
}

/* ----- BREAKS ----- */

hr {
	width:66%;
	text-align:center;
	height:1px;
	border:0;
	color:#000;                       /* IE */
	background-color:#000;            /* Moz & Opera */
	clear:both;
}

div.floatclear {
	clear:both;
	height:1px;
	overflow:hidden;
}

/* ----- ARCHIVES ----- */

#archived_message_wrapper {
}

#archived_message_head {
}

iframe#archived_message_body_container {
	height:500px;
	width:100%;
	border:1px solid #000;
	/* text-styling rules will have NO effect in here. see below instead. */
}

#archived_message_body {
/* inline-displayed HTML messages keep their inline styles, but can otherwise be styled here.
   iframe-displayed HTML messages *always* retain their own style. this does nothing for 'em.
   plain text messages, whether inline or iframed, will be styled here also. */
}

.quoted_reply { 
	color:#666;
	font-style:italic;
}

#archived_attachments_wrapper {
}


 ul.archive_badges_ul{ 
 
/* font-size:  11px; */
font-size: .9em; 


line-height: 13px; }

li.archive_badges_li {
display: inline;
padding-left: 3px;
padding-right: 7px;
/* border-right: 1px dotted #066; */
}



