<!-- begin delete_list_success_screen.tmpl -->

<p>
 You have deleted the list.
</p>
<p>
 <a href="<!--tmpl_var PROGRAM_URL -->">
  Return to the <!-- tmpl_var PROGRAM_NAME --> main page.
 </a>
</p>

<!-- end delete_list_success_screen.tmpl -->
