<!-- begin error_bad_setup_screen.tmpl --> 


<h1>
 Welcome to <!-- tmpl_var PROGRAM_NAME -->
</h1> 

<p>
 <!-- tmpl_var PROGRAM_NAME --> is running correctly, but is not configured properly - if you haven't 
configured the program, please do so now. 
</p>
<p>
 <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=setup_info">
  Click here
 </a> 
 for more information.
</p>

<!-- tmpl_var bad_setup_information --> 


<!-- end error_bad_setup_screen.tmpl --> 
