<!-- begin error_list_already_exists.tmpl --> 

<h1>
 The List Name <!--- tmpl_var list_settings.list_name --><!-- I doubt that's gonna work --> Already Exists
</h1> 

<p>
 So as not to overwrite the list that's already set up, please pick a new name.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_list_already_exists.tmpl --> 

