<!-- begin error_over_list_quota_screen.tmpl --> 

<h1>
 Unable to Create a New List
</h1> 

<p>
 The limit to the amount of lists that can be created has been reached.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_over_list_quota_screen.tmpl --> 
