<!-- begin error_invite_only_screen.tmpl --> 

<!-- tmpl_set name="title" value="This mailing list is invitation only" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
	This Mailing List can only be subscribed to by invitation. 
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_invite_only_screen.tmpl --> 
