<!-- begin error_over_subscription_quota_screen.tmpl --> 
<h1>
 Unable to Subscribe
</h1> 
<p>
 This list currently cannot have any more subscribers.
</p>

<!--- tmpl_var list_settings.list_name --><

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_over_subscription_quota_screen.tmpl --> 
