<!-- begin error_list_pass_no_match.tmpl --> 

<!-- tmpl_set name="title" value="Your New Password Doesn't Match" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<p>
 The new password you typed isn't the same as the second time you typed it, 
or you didn't enter a new password at all.
</p> 

<p>
	Press the 
	<a href="#" onclick="history.back(); return false">
	 back button
    </a> 
to fix the problem.
</p>

<!-- end error_list_pass_no_match.tmpl --> 
