<h2>SQL Connect Error</h2>

<p>
 There's been a problem with connecting to the SQL server. Make sure your login information is correct.
</p>


<p>Complete error message:</p>

<pre>
	<!-- tmpl_var error_message --> 
</pre> 
