<!-- tmpl_var error_no_show_archives_screen.tmpl --> 

<h1>
 No Archived Messages
</h1> 

<p>
 There are no messages archived for this list that are available to be viewed.
</p>

<!--- tmpl_var list_settings.list_name -->

<!-- tmpl_var error_no_show_archives_screen.tmpl --> 
