<!-- begin error_closed_list_screen.tmpl --> 

<h1>
 Unable to Subscribe
</h1> 

<p>
 This list you are trying to subscribe to is closed. Only the list administrator can 
subscribe people to the list.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_closed_list_screen.tmpl --> 
