<!-- begin error_not_allowed_to_view_archives_screen.tmpl --> 

<h1>Sorry,</h1> 

<p>You may not be allowed to view archives for this list, before first becoming a 
	subscriber to the list itself, as well as logging into <!-- tmpl_var PROGRAM_NAME -->
</p> 

<!-- end error_not_allowed_to_view_archives --> 

