<!-- begin error_no_admin_permissions_screen.tmpl --> 

<!-- tmpl_set name="title" value="Screen Disabled." -->

<p>
	This screen has been disabled, when Signing in with the List Password.
</p>
<p>
	To access this screen, log in using the, <strong><!-- tmpl_var PROGRAM_NAME --> Root Password</strong>
</p>



<!-- end error_no_admin_permissions_screen.tmpl --> 
