<!-- begin error_no_list_password_screen.tmpl --> 

<h1>
 Problem Logging In
</h1>

<p>
 Please refer to the error logs for more information.
</p>

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post"> 
 <input type="hidden" name="flavor" value="email_password" />
 <input type="hidden" name="list" value="<!-- tmpl_var list_settings.list -->" />
 <p align="center">
  <input type="submit" class="plain" value="Mail <!-- tmpl_var list_settings.list_owner_email --> a new password" />
 </p>
</form>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_no_list_password_screen.tmpl --> 
