<!-- begin error_unreadable_db_files_screen.tmpl --> 

<!-- tmpl_set name="title" value="There Seems to be a Problem" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<h2>List Settings/Archives are unreadable!</h2>

<p>Complete error message:</p>

<pre>
	<!-- tmpl_var error_message --> 
</pre> 

<p><a href="<!-- tmpl_var S_PROGRAM_URL -->?f=restore_lists">Attempt to Restore Your Lists</a></p>

<!-- end error_unreadable_db_files_screen.tmpl --> 

