<!-- begin error_list_already_exists.tmpl --> 

<!-- tmpl_set name="title" value="Mailing List Already Exists" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->



<p>
 So as not to overwrite the list that's already set up, please pick a new name.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_list_already_exists.tmpl --> 

