<!-- begin error_not_allowed_to_view_archives_screen.tmpl --> 

<!-- tmpl_set name="title" value="Sorry," -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<p>You may not be allowed to view archives for this Mailing List, before first becoming a 
	Subscriber to the Mailing List itself, as well as logging into <!-- tmpl_var PROGRAM_NAME -->
</p> 

<!-- end error_not_allowed_to_view_archives --> 

