<!-- begin error_no_root_password_screen.tmpl --> 

<h1>No Root Password Set</h1> 

<p>The <!-- tmpl_var PROGRAM_NAME --> Root Password has 
	<strong>
	 not
	</strong> been set to a valid value. List creation is not 
allowed with the <!-- tmpl_var PROGRAM_NAME --> Root Password left blank.</p> 

<!-- end error_no_root_password_screen.tmpl --> 
