<!-- begin error_mx_lookup_failed.screen.tmpl --> 

<h1>
 Invalid Email Address
</h1> 

<p>The address you gave, 
	<a href="mailto:<!-- tmpl_var subscriber.email-->">
	 <!-- tmpl_var subscriber.email-->
    </a>,
doesn't seem to pass our verification because we couldn't find the hostname.
It's possible that you just typed it in
incorrectly. You may 

<a href="#" onclick="history.back(); return false">
 go back
</a> 

and resubmit your address, or use the form below:</p> 

<!-- tmpl_var subscription_form --> 


<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_mx_lookup_failed.screen.tmpl --> 
