<!-- begin error_bad_setup_screen.tmpl --> 

<!-- tmpl_set name="title" value="There Seems to be a Problem" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<h1>
 Welcome to <!-- tmpl_var PROGRAM_NAME -->!
</h1> 

<p>
 <!-- tmpl_var PROGRAM_NAME --> is running on your account, but it's not configured properly.</p>

<p>If you haven't configured <!-- tmpl_var PROGRAM_NAME -->, try using the included installer:</p> 

<p>	
	<ul> 
		<li>
			<p>Rename the, <em>dada/<strong>installer-disabled</strong></em> directory to, <em>dada/<strong>installer</strong></em></p> 
		</li>
		<li>
			<p>
				Change the permissions of the <em>dada/installer/<strong>install.cgi</strong></em> script to, <strong>755</strong>
			</p>
		</li> 
		<li>
			<p>
				Visit the, <em>dada/installer/<strong>install.cgi</strong></em> script in your web browser (try clicking <a href="./installer/install.cgi">HERE</a>) and follow the instructions. 
			</p>
		</li> 
		
		
	</ul> 
	
<p>
	If you have already configured <!-- tmpl_var PROGRAM_NAME -->, your hosting environment may have changed 
	and <!-- tmpl_var PROGRAM_NAME --> may need to be reconfigured.
</p> 


<div style="text-align:center">
	<form accept-charset="<!-- tmpl_var HTML_CHARSET -->">
		<input type="hidden" name="f" value="setup_info" /> 
		<input type="submit" value="Click Here For More Information..." class="cautionary" /> 
	</form>
</div>

<!-- tmpl_if unknown_dirs --> 
	
	<h2>Missing Directories</h2> 
	<p>These directories are configured in Dada Mail, but cannot be found:</p> 
	<ul> 
	<!-- tmpl_loop unknown_dirs --> 
		<li><p><!-- tmpl_var dir --></p></li>
	<!-- /tmpl_loop --> 
	</ul>
<!-- /tmpl_if --> 

<!-- end error_bad_setup_screen.tmpl --> 