<!-- begin error_no_dbm_package_installed_screen.tmpl --> 

<h2>No DBM Package Found!</h2> 

<p>If this is a new installation of <!-- tmpl_var PROGRAM_NAME -->, you may need to install <!-- tmpl_var PROGRAM_NAME --> using the SQL backend, as no 
DBM Package support can be found.</p>

<p>Complete error message:</p>

<pre>
	<!-- tmpl_var error_message --> 
</pre> 

<!-- end error_no_dbm_package_installed_screen.tmpl --> 

