<!-- begin error_no_display_attachments_screen.tmpl --> 

<!-- tmpl_set name="title" value="There Seems to be a Problem" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<h1>
 Sorry,
</h1> 

<p>
 Attachments for messages of this list are not displayed.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_no_display_attachments_screen.tmpl --> 
