<!-- begin error_black_listed_screen.tmpl --> 

<h1>You Are Unable to Subscribe</h1> 

<p>It seems that your not allowed to subscribe to [list_name] for some reason or another.
This list may be closed to particular participants.</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_black_listed_screen.tmpl --> 
