<!-- begin FCKeditor_default_js_options.tmpl --> 

    oFCKeditor.BasePath = "<!-- tmpl_var FCKEDITOR_URL -->/"
    oFCKeditor.Config['FullPage'] = true;
    oFCKeditor.Height = 800;
    oFCKeditor.Value	= '<!-- tmpl_include FCKeditor_default_value_widget.tmpl -->';

<!-- end FCKeditor_default_js_options.tmpl --> 
