<!-- begin file_attachments_widget.tmpl --> 

<fieldset> 

<legend>
       <a href="#" id="partial_sending_options_widget_label" onclick="toggleDisplay('file_attachments');return false;">
      +/- 
     </a>File Attachments
</legend>



<div id="file_attachments" style="display:none"> 

         <p>
         <input type="file" name="attachment_1"  size="36" /><br /> 
         <input type="file" name="attachment_2"  size="36" /><br /> 
         <input type="file" name="attachment_3"  size="36" /><br />  

         <!-- tmpl_if comment --> 

			You can continue to add to this list, like so: 

	         <input type="file" name="attachment_4"  size="36" /><br />          
	         <input type="file" name="attachment_5"  size="36" /><br />          

			Just reflect the number of attachments you have in the, "attachment" 
			hidden form field, below: 
		
		<!-- /tmpl_if --> 

         </p>
         
	    <input type="hidden" name="attachment" value="3" />

</div> 



</fieldset>

<!-- end file_attachments_widget.tmpl --> 
