<!-- begin help_link_widget.tmpl --> 

<!-- tmpl_if SHOW_HELP_LINKS --> 


	<p style="text-align:right;">
	 <strong>	
	 <a href="<!-- tmpl_var HELP_LINKS_URL -->/<!-- tmpl_var screen -->.html" target="_blank" style="border:1px solid #ccc;padding:5px;background:#ccf" title="Open the Dada Mail Manual in a New Window">
	  [?]
	   <!-- tmpl_var title escape="HTML" -->
	 </a>
	 </strong>
	</p>

<!-- /tmpl_if --> 

<!-- end help_link_widget.tmpl --> 
