<!-- begin help_link_widget.tmpl --> 

<!-- tmpl_if SHOW_HELP_LINKS --> 


	<div class="buttonfloat">
		<form action="<!-- tmpl_var HELP_LINKS_URL -->/<!-- tmpl_var screen -->.html" target="_blank" accept-charset="<!-- tmpl_var HTML_CHARSET -->" style="display: inline; margin: 0;"> 
			<input class="small_button" type="submit" value="Help" /> 
		</form>
	</div>
	<div class="floatclear"></div>
	

<!-- /tmpl_if --> 

<!-- end help_link_widget.tmpl --> 
