<!-- begin html_message_form_field_widget.tmpl --> 

	<!-- tmpl_if FCKEDITOR_URL -->
			<!-- tmpl_if list_settings.enable_fckeditor --> 
			    <script type="text/javascript">   
			    	<!--
			        var oFCKeditor = new FCKeditor('html_message_body') ;
			        <!-- tmpl_include FCKeditor_default_js_options.tmpl --> 
					<!-- tmpl_if html_message_body_content_js_escaped --> 
						oFCKeditor.Value = "<!-- tmpl_var html_message_body_content_js_escaped -->";
					<!-- /tmpl_if --> 
			        oFCKeditor.Create() ;
			        //-->
			        </script> 
			<!-- tmpl_else --> 
				<textarea name="html_message_body" cols="80" rows="30" id="html_message_body"><!-- tmpl_var html_message_body_content --></textarea>
			<!-- /tmpl_if --> 
	 <!-- tmpl_else--> 
			<!-- tmpl_if CKEDITOR_URL -->
				<!-- tmpl_if list_settings.enable_fckeditor --> 
			    	<textarea name="html_message_body" cols="80" rows="30" id="html_message_body"><!-- tmpl_var html_message_body_content --></textarea>
					<script type="text/javascript">
						CKEDITOR.replace( 'html_message_body' );
					</script>
				<!-- tmpl_else -->
			      	<textarea name="html_message_body" cols="80" rows="30" id="html_message_body"><!-- tmpl_var html_message_body_content --></textarea>
				<!-- /tmpl_if --> 
	 	<!-- tmpl_else -->
	   		<textarea name="html_message_body" cols="80" rows="30" id="html_message_body"><!-- tmpl_var html_message_body_content --></textarea>
		<!--/tmpl_if--> 
	<!--/tmpl_if-->

<!-- end html_message_form_field_widget.tmpl --> 
