<!-- begin list_cp_options.tmpl --> 

<!-- tmpl_set name="title" value="Your List Control Panel &#187; Options" -->

<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if -->

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">

<fieldset> 
<legend>Message Body Authoring</legend> 

<p>
	These preferences will be honored in the, <strong>Send a Message</strong> screen and in the <strong>Beatitude Plugin</strong>
</p>

<table cellpadding="5" border="0"> 
	<tr> 
		<td>
			<p><strong>By default, reveal:</strong></p> 
			
<table cellpadding="5" border="0"> 
	<tr> 
		<td>
			<p>
				<input type="checkbox" name="show_message_body_plaintext_ver" id="show_message_body_plaintext_ver" <!-- tmpl_if list_settings.show_message_body_plaintext_ver -->checked="checked"<!-- /tmpl_if --> value="1" /> 	
			</p>
		</td>
		<td>
			<p>
				<label for="show_message_body_plaintext_ver">
					PlainText Version
				</label>
			</p>
		</td>
	</tr>
	<tr> 
		<td>
			<p>
				<input type="checkbox" name="show_message_body_html_ver" id="show_message_body_html_ver" <!-- tmpl_if list_settings.show_message_body_html_ver -->checked="checked"<!-- /tmpl_if --> value="1" /> 	
			</p>
		</td>
		<td>
			<p>
				<label for="show_message_body_html_ver">
					HTML Version
				</label>
			</p>
		</td>
	</tr>
</table>
</td>
</tr>
</table> 


</fieldset> 


<fieldset> 

<legend>FCKeditor/CKeditor Options</legend> 


<div class="clearskiesbox">
<ul>
	
<!-- tmpl_if FCKEDITOR_URL --> 
<li>
 <p>FCKeditor is currently configured in <!-- tmpl_var PROGRAM_NAME --> at: 
	
		<a href="<!-- tmpl_var FCKEDITOR_URL ESCAPE="HTML" -->" target="_blank">
		<!-- tmpl_var FCKEDITOR_URL ESCAPE="HTML" -->
	</a>
</p></li>
<!-- tmpl_else -->  
   <li>
	<p>
			FCKeditor does <em>not</em> seem to be configured in <!-- tmpl_var PROGRAM_NAME -->
	</p></li>
<!-- /tmpl_if -->



<!-- tmpl_if CKEDITOR_URL --> 
<li> <p>CKeditor is currently configured in <!-- tmpl_var PROGRAM_NAME --> at: 
	<a href="<!-- tmpl_var CKEDITOR_URL ESCAPE="HTML" -->" target="_blank">
		<!-- tmpl_var CKEDITOR_URL ESCAPE="HTML" -->
	</a>
</p></li>
<!-- tmpl_else --> 
	<li>
	<p>
		CKeditor does <em>not</em> seem to be configured in <!-- tmpl_var PROGRAM_NAME -->
	</p></li>
<!-- /tmpl_if -->
</ul> 
</div> 

<table cellpadding="5" border="0"> 
	<tr> 
		<td>
			<p>
				<input type="checkbox" name="enable_fckeditor" id="enable_fckeditor" <!-- tmpl_if list_settings.enable_fckeditor -->checked="checked"<!-- /tmpl_if --> value="1" /> 	
			</p>
		</td>
		<td>
			<p>
				<label for="enable_fckeditor">
					Enable FCKeditor/CKeditor
				</label>
			</p>
		</td>
	</tr>
</table>
				
</fieldset> 



<!-- tmpl_if comment --> 



<fieldset> 

<legend>
List Message Sending Screens
</legend> 


. 
	
<table cellpadding="5" border="0"> 
	<tr> 
		<td>
			<p>
				<input type="checkbox" name="pre_fill_email_templates_in_cp" id="pre_fill_email_templates_in_cp" <!-- tmpl_if list_settings.pre_fill_email_templates_in_cp -->checked="checked"<!-- /tmpl_if --> value="1" /> 	
			</p>
		</td>
		<td>
			<p>
				<label for="pre_fill_email_templates_in_cp">
					 Pre fill out message bodies with the Mailing List Message email templates
				</label>
				<br /> 
				
				This will take affect in the following screens: 
				<ul> 
					<li>
						Send a Message
					</li>
					<li>
						Send a Webpage
					</li>
					<!--
						<li>
							Send a List Invitation
						</li>
					-->
				</ul> 
				
			</p>
		</td>
	</tr>
</table>
</fieldset> 



<!-- /tmpl_if --> 

<input type="hidden" name="process" value="1" />
<input type="hidden" name="f"       value="list_cp_options" />
<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear Changes" />
 <input type="submit" class="processing" value="Save Changes" />
</div>
<div class="floatclear"></div>

</form> 



 


<!-- end list_cp_options.tmpl --> 