<!-- begin list_activity --> 

<!-- tmpl_set name="title" value="Membership &#187; Recent Activity" -->

<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title -->
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>
	
	<!-- tmpl_include filtered_list_activity_widget.tmpl -->

<!-- end list_activity --> 
