<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
 <head>
  <!-- <!-- tmpl_var PROGRAM_NAME --> <!-- tmpl_var VER --> -->
  <title><!-- tmpl_var title --></title>
  <link rel="stylesheet" href="<!-- tmpl_var S_PROGRAM_URL -->/css/default.css" type="text/css" media="screen" />

<!-- tmpl_if list_settings.show_archives --> 
	<!-- tmpl_if list_settings.publish_archives_rss --> 
 		<link rel="alternate" type="application/rss+xml"  title="RSS"  href="<!-- tmpl_var PROGRAM_URL -->/archive_rss/<!-- tmpl_var list_settings.list -->/" />
 		<link rel="alternate" type="application/atom+xml" title="Atom" href="<!-- tmpl_var PROGRAM_URL -->/archive_atom/<!-- tmpl_var list_settings.list -->/" />
	<!-- /tmpl_if --> 
<!-- /tmpl_if --> 

 </head>
 
 <body id="Dada">
  <div id="PageWrapper">
 	<div id="Header">
		<a href="<!-- tmpl_var PROGRAM_URL -->">
			<img src="<!-- tmpl_var S_PROGRAM_URL -->/img/dada_mail_logo_sm.png/" title="<!-- tmpl_var PROGRAM_NAME -->" alt="<!-- tmpl_var PROGRAM_NAME -->" />
	    </a>
			<!-- tmpl_if show_profile_widget --> 
				<!-- tmpl_var profile_widget --> 
			<!-- /tmpl_if --> 
	    <div class="floatclear"></div>
	  </div><!-- ends id="Header" -->
	
	<div id="ContentWrapper">
		
   <div id="Content">	

	<h1><!-- tmpl_var title --></h1>

		<!-- tmpl_if list_settings.list --> 
			<!-- tmpl_if subscribed_to_list --> 

				<div class="clearskiesbox">
					<p>
						You are currently subscribed to, <!-- tmpl_var list_settings.list_name -->!
					</p> 
				</div> 
			<!-- tmpl_else --> 
			<!-- /tmpl_if -->
						<!-- /tmpl_if -->

	
    <!-- tmpl_var content --> 



	<!-- tmpl_if list_settings.website_name --> 
		<!-- tmpl_if list_settings.website_url --> 
			<p>
		     Go back to 
		       <a href="<!-- tmpl_var list_settings.website_url -->">
			  		<!-- tmpl_var list_settings.website_name -->
			   </a>
		    </p>
	
		<!-- /tmpl_if --> 
	<!-- /tmpl_if -->
   </div><!-- ends id="Content" -->
</div> 

	<div id="Footer">
		<div id="FooterPadding">
			<p><!-- tmpl_var footer_props --></p>
		</div>
	</div>
	
  </div><!-- ends id="PageWrapper" -->
 </body>
</html>