<!-- begin membership.tmpl -->


<script type="text/javascript">
//<![CDATA[

	
	
Event.observe(window, 'load', function() {
	mailing_list_history();	
});

function mailing_list_history(){ 
	new Ajax.Updater(
		'mailing_list_history', '<!-- tmpl_var S_PROGRAM_URL -->', 
		{ 
		    method: 'post', 
			parameters: {
				f:       'mailing_list_history',
				email:   '<!-- tmpl_var email -->',
			},
		onCreate: 	 function() {
			$('mailing_list_history_loading').update('<p class="alert">Loading...</p>');
		},
		onComplete: 	 function() {
			$('mailing_list_history_loading').update('<p class="alert">&nbsp;</p>');
			Effect.BlindDown('mailing_list_history');
		}	
	});
}




function updateEmail(){ 
	
	var is_for_all_lists = 0; 
	if(Form.Element.getValue('for_all_mailing_lists') == 1 && $('for_all_mailing_lists').checked == true){ 
		is_for_all_lists = 1;
	}
	new Ajax.Updater(
		'update_email_results', '<!-- tmpl_var S_PROGRAM_URL -->', 
		{ 
		    method: 'post', 
			parameters: {
				f:             'update_email_results',
				updated_email: $F('updated_email'),
				email:         '<!-- tmpl_var email -->',
				for_all_lists: is_for_all_lists
			},
		onCreate: 	 function() {
			$('update_email_results_loading').update('<p class="alert">Loading...</p>');
		},
		onComplete: 	 function() {
			$('update_email_results_loading').update('<p class="alert">&nbsp;</p>');
			Effect.BlindDown('update_email_results');
		}	
		});
}




function show_change_profile_password_form(){ 
	Effect.BlindUp('change_profile_password_button');
	Effect.BlindDown('change_profile_password_form');	
}


//]]>
</script> 


<!-- tmpl_set name="title" value="Membership" -->

<div id="screentitle"> 
	<div id="screentitlepadding">
		Membership &#187; <!-- tmpl_var email -->
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>


<!-- tmpl_unless is_valid_email --> 
<div class="badweatherbox">
	<p>
		<strong>
			<!-- tmpl_var email escape="HTML" -->
		</strong> 
		is not a valid email address.
</div> 

<!-- tmpl_else --> 

	<!-- tmpl_if done -->
		<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
	<!--/tmpl_if-->


	<!-- tmpl_include view_list_modalmenu_widget.tmpl -->

	<!-- tmpl_if list_settings.enable_subscription_approval_step -->
		<!-- tmpl_if subscribed_to_sub_request_list --> 
	
			<fieldset>
			<legend>Subscription Requests</legend>
			<p><!-- tmpl_var email --> has requested to be Subscribed to your Mailing List.</p>
			<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
				<input type="hidden" name="f"       value="subscription_requests" />
				<input type="hidden" name="type" value="sub_request_list" />
				<input type="hidden" name="address" value="<!-- tmpl_var email -->" />
				<input type="hidden" name="return_to" value="membership" />
				<input type="hidden" name="return_address" value="<!-- tmpl_var email -->" />
				<input type="submit" name="process"  class="plain" value="Approve Subscription Request" />
				<input type="submit" name="process"  class="plain" value="Deny Subscription Request" />
			</form>
			</fieldset>
		<!-- /tmpl_if -->
	<!-- /tmpl_if -->

	<fieldset> 
	<legend><!-- tmpl_var email --> Membership</legend>


	<!-- tmpl_unless member_of_num --> 
		<h2><!-- tmpl_var email --> isn't a part of your Mailing List</h2>
	<!-- tmpl_else --> 

		<h2>Member of:</h2>

		<ul style="list-style: none;">
			<!-- tmpl_loop member_of --> 
				<li>
					<strong><!-- tmpl_var type_title --></strong>
				</li>
			<!-- /tmpl_loop -->
		</ul>
	<!-- /tmpl_unless --> 






	<!-- tmpl_if add_to_num --> 

		<form  action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
			<input type="hidden" name="email" value="<!-- tmpl_var email -->" />
			<input type="hidden" name="f"    id="f" value="add" />
			<input type="hidden" name="process" value="1" />
			<input type="hidden" name="rand_string" id="rand_string" value="<!-- tmpl_var rand_string -->" />
			<input type="hidden" name="method" value="via_add_one" />
			<input type="hidden" name="return_to" value="membership" />
			<input type="hidden" name="return_address" value="<!-- tmpl_var email -->" />

		
		<p><label for="type_add">&#8594; Add</label> address to: <!-- tmpl_var add_to_popup_menu --><input type="submit" value="Add"  class="plain"  /></p>
		</form>
	<!-- /tmpl_if --> 

	<!-- tmpl_if remove_from_num --> 

		<form  action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
		<input type="hidden" name="process" value="delete" />
	
		<input type="hidden" name="address" value="<!-- tmpl_var email -->" />
		<input type="hidden" name="f"       value="remove_subscribers" />	
		<input type="hidden" name="return_to" value="membership" />
		<input type="hidden" name="return_address" value="<!-- tmpl_var email -->" />
	
		<p><label for="type_remove">&#8592;  Remove</label> address from: <!-- tmpl_var remove_from_popup_menu --><input type="submit" value="Remove"  class="plain"  /></p>
		</form>
	
		<!-- tmpl_if subscribed_to_list -->
			<!-- tmpl_if list_settings.black_list -->
				<!-- tmpl_if list_settings.add_unsubs_to_black_list -->
					<p class="alert">
						Subscribers that are unsubscribed will be added to the Black List.
					</p>
				<!-- /tmpl_if -->
			<!-- /tmpl_if -->
		<!-- /tmpl_if -->


	<!-- /tmpl_if --> 

	<!-- tmpl_if member_of_num --> 
		<fieldset> 
		<legend>Update Address</legend>

		<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->" onSubmit="updateEmail();return false">

			<p>	
			<label for="updated_email">New Address:</label> <input type="text" id="updated_email" name="updated_email" value="<!-- tmpl_var email -->" class="midi" />
			</p>
			<!-- tmpl_if can_have_subscriber_fields --> 
	
				<p>
					<input type="checkbox" name="for_all_mailing_lists" id="for_all_mailing_lists" value="1" <!-- tmpl_unless root_login -->disabled="disabled"<!-- /tmpl_unless --> />
					<label for="for_all_mailing_lists">Update for All Mailing Lists <!-- tmpl_unless root_login --></label> <span class="error">(Requires <!-- tmpl_var PROGRAM_NAME --> Root Login)<!--/tmpl_unless --></span>
				</p>
	
			<!-- tmpl_else --> 
				<input type="hidden" name="for_all_mailing_lists" id="for_all_mailing_lists" value="0"  />
		
			<!-- /tmpl_if --> 
	
			 <div class="buttonfloat">	 
			<input type="button" value="Validate..." class="cautionary" onclick="updateEmail();return false;" />
		</div> 
			<div class="floatclear"></div>
	
		</form> 

		<div id="update_email_results_loading"><p class="alert">&nbsp;</p></div>
		<div id="update_email_results"  style="display:none"></div> 

		</fieldset> 
	<!-- /tmpl_if -->



	</fieldset> 


	<fieldset> 
	<legend>Mailing List History</legend> 

	<div id="mailing_list_history_loading"></div>
	<div style=" max-height: 300px; overflow: auto;">
	<div id="mailing_list_history" style="display:none;"></div>
	</div> 

	</fieldset> 

	<!-- tmpl_if can_have_subscriber_fields --> 


	<fieldset>
		<legend>Member Profile</legend>
	
		<!-- tmpl_if fields --> 
		<fieldset> 
		<legend>Profile Fields</legend>


		<!-- tmpl_unless root_login --> 
			<div class="clearskiesbox">
				<p>
					You must be logged in with the <!-- tmpl_var PROGRAM_NAME --> Root Password to be able to edit a Subscriber's Profile Fields. 
				</p>
			</div>
	
		<!-- /tmpl_unless -->

		<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">

		<!-- tmpl_if root_login --> 
			 <input type="hidden" name="email"   value="<!-- tmpl_var email escape="HTML" -->" />
			 <input type="hidden" name="f"       value="membership" />
			 <input type="hidden" name="process" value="1" />
			 <input type="hidden" name="type"    value="<!-- tmpl_var type -->" />
		<!-- /tmpl_if --> 

		<!-- tmpl_unless root_login --> 

			<!-- tmpl_loop fields --> 
			    <p>
			     <label for="<!-- tmpl_var name escape=HTML -->" class="label_profile_fields">
			      <!-- tmpl_var label escape=HTML --> (<!-- tmpl_var name escape=HTML -->): 
			     </label>
			    <input type="text" name="<!-- tmpl_var name escape=HTML -->" id="<!-- tmpl_var name escape=HTML -->" value="<!-- tmpl_var value escape=HTML -->" disabled="disabled" />
			    </p>
			<!--/tmpl_loop--> 

		<!-- tmpl_else --> 

			<p class="alert">
				Subscriber Profile Fields information will be changed for all Mailing Lists.
			</p>
			<!-- tmpl_loop fields --> 
			    <p>
			     <label for="<!-- tmpl_var name escape=HTML -->" class="label_profile_fields">
			      <!-- tmpl_var label escape=HTML --> (<!-- tmpl_var name escape=HTML -->): 
			     </label>
			    <input type="text" name="<!-- tmpl_var name escape=HTML -->" id="<!-- tmpl_var name escape=HTML -->" value="<!-- tmpl_var value escape=HTML -->" />
			    </p>
			<!--/tmpl_loop-->

		<!-- /tmpl_unless --> 
	
		<!-- tmpl_if root_login --> 
			 <div class="buttonfloat">
			  <input type="submit" value="Edit Information" class="cautionary" />
			 </div>
		<!-- /tmpl_if --> 

			</form>
	
		</fieldset>
		<!-- /tmpl_if -->
	

	
			<fieldset> 
			<legend>Profile Password</legend>
	
			<!-- tmpl_if root_login --> 
	
				<div id="change_profile_password_button">
					<input type="button" value="Click to Change Profile Password..." class="cautionary" onclick="show_change_profile_password_form();" />
				</div> 
				<div id="change_profile_password_form" style="display:none">
					<form name="change_profile_password" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
						<input type="hidden" name="f" value="admin_change_profile_password" /> 
						<input type="hidden" name="email" value="<!-- tmpl_var email -->" />
						<input type="hidden" name="type" value="<!-- tmpl_var type -->" />
				
						<p>
							<input type="password" name="profile_password" value="" />
							<input type="submit" value="Change Profile Password" />
					</form> 
				</div>	
			</fieldset> 
			<div class="floatclear"></div>
	
			<!-- tmpl_else -->
			<div class="clearskiesbox">
				<p>
					You must be logged in with the <!-- tmpl_var PROGRAM_NAME --> Root Password to be able to change an address's Profile Password. 
				</p>
			</div>
			<!-- /tmpl_if --> 
		</fieldset>

	<!-- /tmpl_if --> 


<!-- /tmpl_unless --> 


	<p>
	 <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=view_list;type=<!-- tmpl_var type -->;page=<!-- tmpl_var page -->;query=<!-- tmpl_var query -->;order_by=<!-- tmpl_var order_by -->;order_dir=<!-- tmpl_var order_dir -->">&lt;&lt; Back</a>
	</p>

<!-- end membership.tmpl -->
