<!-- begin multiple_list_sending_widget.tmpl --> 





    <fieldset>
     <legend>
       <a href="#" id="multiple_list_sending" onclick="toggleDisplay('multiple_list_sending_widget');return false;">
      +/- 
     </a>Multiple Mailing List Sending
     </legend>    
     
     <div id="multiple_list_sending_widget" style="display:none;width:90%">

			 <p class="alert">
			  * Multiple Mailing List Sending has been enabled
			 </p>
			 <p>
			  <em>Also</em> send a copy of this message to subscribers of the following mailing lists:
			</p>

			 <div class="simplebox" style="max-height:150px;overflow:auto;"
			  <p>
			   <a href="#" onclick="SetListChecked(1);return false;">
			    check all 
			   </a>
			   :: 
			   <a href="#" onclick="SetListChecked(0);return false;">
			    uncheck all
			   </a>
			  </p>
			  
		
		<!-- tmpl_var global_list_sending_checkbox_widget --> 
	
	  <p>
	   <a href="#" onclick="SetListChecked(1);return false;">
	    check all 
	   </a>
	   :: 
	   <a href="#" onclick="SetListChecked(0);return false;">
	    uncheck all
	   </a>
	  </p>
	
		<p>&nbsp;</p> 
		<p>
		 <input type="checkbox" name="multi_list_send_no_dupes" id="multi_list_send_no_dupes" value="1" checked="checked" />
		
		<label for="multi_list_send_no_dupes">
		  Send Only One Message/Subscriber
		 </label>
		<br /> 
		Subscribers who have email addresses subscribed to more than one mailing list will receive only one copy of this message.
	  </p>
	
	 </div>
	
	</div> 
	
    </fieldset>

	
	
<!-- end multiple_list_sending_widget.tmpl --> 
