<!-- begin new_list_created_screen.tmpl -->

<!-- tmpl_set name="title" value="Your New Mailing List Has Been Created" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<table class="stripedtable">
 <tr>
  <td>
   <p>
    <strong>
     List Name:
    </strong>
   </p>
  </td>
  <td>
   <p>
    <!-- tmpl_var list_name escape="HTML" -->
   </p>
  </td>
 </tr>
 <tr class="alt">
  <td>
   <p>
    <strong>
     List Short Name:
    </strong>
   </p>
  </td>
  <td>
   <p>
    <!-- tmpl_var list  escape="HTML" -->
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    <strong>
      Password:
    </strong>
   </p>
  </td>
  <td>
   <p>
    <em>
     (not shown)
    </em>
   </p>
  </td>
 </tr>
 <tr class="alt">
  <td>
   <p>
    <strong>
     List Owner Email Address:
    </strong>
   </p>
  </td>
  <td>
   <p>
    <!-- tmpl_var list_owner_email  escape="HTML" -->
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    <strong>
     List Information:
    </strong>
   </p>
  </td>
  <td>
   <p>
    <!-- tmpl_var info  escape="HTML" -->
   </p>
  </td>
 </tr>
 <tr class="alt">
  <td>
   <p>
    <strong>
     Privacy Policy:
    </strong>
   </p>
  </td>
  <td>
   <p>
    <!-- tmpl_var privacy_policy  escape="HTML" -->
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    <strong>
     Physical Address:
    </strong>
   </p>
  </td>
  <td>
   <p>
    <!-- tmpl_var physical_address  escape="HTML" -->
   </p>
  </td>
 </tr>
</table>


<fieldset>
<legend>Log into Your New Mailing List</legend>
<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 

  <p>
   <label for="admin_password">
    List/<!-- tmpl_var PROGRAM_NAME --> Root Password:
   </label><br />
    <input type="hidden"   name="f"          value="login" />
    <input type="hidden"   name="admin_list" value="<!-- tmpl_var list -->" />
    <input type="password" name="admin_password" id="admin_password" maxlength="24" />
   <input type="hidden" name="auth_state" value="<!-- tmpl_var auth_state -->" /> 
   <input type="submit" class="plain" value="Log Into Your New Mailing List" />   
</p>

   </form>


</fieldset> 

<!-- end new_list_created_screen.tmpl -->
