<!-- begin partial_sending_options_widget.tmpl --> 




<!-- tmpl_if can_have_subscriber_fields --> 


    <fieldset>
     <legend>
       <a href="#" id="partial_sending_options_widget_label" onclick="toggleDisplay('partial_sending_options_widget', 'partial_sending_options_widget_label');return false;">
      +/- 
     </a>Partial Mailing List Sending
     </legend>    
     
     <div id="partial_sending_options_widget" style="display:none;width:90%">

    <p>
     Send your Mailing List Message  to your Subscribers where their:
    </p> 
    
    <table> 
	
    <!-- tmpl_loop undotted_fields --> 
        <tr> 
         <td> 
          <p>
           <strong>
            <!-- tmpl_var label -->:
           </strong> 
          </p>
         </td> 
         <td>
          <p>
           <select name="field_comparison_type_<!-- tmpl_var name -->" id="field_comparison_type_<!-- tmpl_var name -->"> <!--  onChange="get_partial_list()" -->  
            
			<!-- tmpl_if field_comparison_type --> 
				<option value="<!-- tmpl_var field_comparison_type -->" selected="selected"><!-- tmpl_var field_comparison_type --></option>	
			<!-- /tmpl_if --> 
			
			<option value="like">Is Like</option>
            <option value="equal_to">Is Equal To</option> 
           </select> 
          </p>
         </td>
         <td>
          <p>
           <input type="text" name="field_value_<!-- tmpl_var name -->" id="field_value_<!-- tmpl_var name -->" value="<!-- tmpl_var field_value -->"/> <!-- onKeyUp="get_partial_list()" -->  
          </p>
         </td>
        </tr> 
    <!-- /tmpl_loop --> 
    
    </table> 
    
	
    <div class="buttonfloat">
     <input type="button" value="Preview Who's Getting This Message..." class="cautionary" onClick="get_partial_list()" />  
    </div>
    
    <div class="floatclear">
    </div>
	<div id="previewMessageReceivers_loading" style="display:none">
		<p class="alert">Loading...</p>
	</div> 
       <div id="previewMessageReceivers"> 
      </div> 
     </div> 
    </fieldset>


	<script type="text/javascript">
	    //<![CDATA[

		 function get_partial_list(){ 
			
			var al         = new Array();; 
			var alternative_lists = ''; 
			var multi_list_send_no_dupes = 0; 
				
				/* Is there a prototype.js way of doing this? */
			
				if (document.getElementById('alternative_list') != null) {
					/* This basically says that if we have one, but it has no length, 
					   only one element. Which is ridiculous. */ 
						
					if(document.send_email.alternative_list.length){ 
						for (var i=0; i < document.send_email.alternative_list.length; i++)
						{
				   			if (document.send_email.alternative_list[i].checked)
				      		{
				      			al.push(document.send_email.alternative_list[i].value);
					 		}
				   		}
					}
					else { 
						if(document.send_email.alternative_list.checked) 
						{  
							al.push(document.getElementById('alternative_list').value);
						}
					}
				alternative_lists = al.join(','); 
			}
				
			if (document.getElementById('multi_list_send_no_dupes') != null) {
				multi_list_send_no_dupes = $F('multi_list_send_no_dupes'); 
			}
			new Ajax.Updater(
		
				'previewMessageReceivers', '<!-- tmpl_var S_PROGRAM_URL -->', 
				{ 
				    method: 'post', 
					parameters: {
						alternative_lists:         alternative_lists,
						multi_list_send_no_dupes: multi_list_send_no_dupes,
						
						 <!-- tmpl_loop undotted_fields -->
							field_comparison_type_<!-- tmpl_var name -->: $F('field_comparison_type_<!-- tmpl_var name -->'), 
							field_value_<!-- tmpl_var name -->: $F('field_value_<!-- tmpl_var name -->'), 
						<!-- /tmpl_loop -->
						f:                        'previewMessageReceivers'
						
						},

				onCreate: 	 function() {
					$('previewMessageReceivers_loading').show(); 
					$('previewMessageReceivers').hide(); 
					
				},
				onComplete: 	 function() {
					$('previewMessageReceivers_loading').hide(); 
					Effect.BlindDown('previewMessageReceivers');

				}


				});
		}
	    //]]>
	</script>
	
	
    
    
<!-- tmpl_else --> 

    <!-- Multiple Subscriber Fields isn't support with this backend (Apparently) --> 

<!-- /tmpl_if --> 

    
<!-- end partial_sending_options_widget.tmpl --> 
