<!-- begin profile_reset_password.tmpl --> 

	<h1>Authorization Successful! Pick a New Password:</h1> 
	
	<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" /> 
		<input type="hidden" name="f"     value="profile_reset_password"  /> 
		<input type="hidden" name="email" value="<!-- tmpl_var email -->" /> 
		<input type="hidden" name="auth_code" value="<!-- tmpl_var auth_code -->" />
		<p>
			Your New Password: <input type="password" name="password" value="" />
		</p> 
		<input type="submit" value="Reset Your Password and Login..." /> 
	</form> 
	
<!-- end profile_reset_password.tmpl --> 
