<!-- begin profile_register.tmpl --> 

<p>
 Profile registration is all set - just await the email with the activation link and we'll get this show on the road, 
</p> 

<!-- end profile_register.tmpl --> 

