<!-- begin profile_register.tmpl --> 

<h1>
	Profile Registering is Successful!
</h1> 

<p>
	We've just sent an email to you, with the your Profile Authorization Code.
</p> 

<p>
	Once you've followed the Profile Authorization Link, your <!-- tmpl_var PROGRAM_NAME --> Profile will be activated!
</p> 

<!-- end profile_register.tmpl --> 

