<!-- begin profile_reset_password.tmpl --> 

	<h1>Reset Your Profile Password:</h1> 
	
	<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" /> 
		<input type="hidden" name="f" value='profile_reset_password' /> 
		<p>Email Address: <input type="text" name="email" value="" /></p> 
		<input type="submit" value="Send Authorization Code..." /> 
	</form> 
	
<!-- end profile_reset_password.tmpl --> 
