<!-- being profile_login.tmpl --> 


	<!-- tmpl_if errors --> 
		<h1>YOU HAVE ERRORS!!!</h1> 
		<ul>
		<!-- tmpl_loop errors --> 
			<li><p><!-- tmpl_var error --></p></li>
		<!-- /tmpl_loop --> 
		</ul>
	<!-- /tmpl_if --> 
	
	<h1>error_profile_login: <!-- tmpl_var error_profile_login --> </h1> 
	<h1>error_profile_register: <!-- tmpl_var error_profile_register --></h1>
<hr /> 
<hr /> 
<hr /> 

	<!-- tmpl_if errors --> 
		<h1>Errors!</h1>
		<p>Why don't cha look below for some details, k?!</p> 
		<ul> 
		
		
		</ul>		
	<!-- /tmpl_if --> 

<hr /> 

<h1>Log On To Your Profile Control Panel:</h1> 

	<!-- tmpl_if error_profile_login --> 
		<ul> 
			<!-- tmpl_if error_unknown_user --> 
			<li>
				<p class="error">
					User Unknown - have you registered?
				</p>
			</li>
			<!-- /tmpl_if --> 
			<!-- tmpl_if error_incorrect_pass --> 
			<li>
				<p class="error">
					Incorrect Password - double check?
				</p>
			</li>
			<!-- /tmpl_if --> 
			
		</ul> 
	<!-- /tmpl_if --> 

<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" > 
	
	<input type="hidden" name="f" value="profile_login" /> 
	<input type="hidden" name="process" value="1" /> 

	<p>
		<label for="email">Email Address:</label><input type="text" name="email" value="<!-- tmpl_var email -->" /> 
	</p>
	<p>
		<label for="password">Password:</label><input type="password" name="password" value="" /> 
	</p>
	<input type="submit" value="Login..." /> 
	</p>
</form> 

<hr /> 


<h1>Haven't Registered?!:</h1> 

<p>Register by subscribing to a list, or by filling in the below stuffy-doo:</p> 

<!-- tmpl_if error_profile_register --> 
	<ul> 
		<!-- tmpl_if error_invalid_email -->
		<li>
			<p class="error">
				The email address you've entered is not valid.
			</p> 
		</li>		
		<!-- /tmpl_if --> 
		<!-- tmpl_if error_password_blank --> 
			<li>
				<p class="error">
					You forgot to enter a password.
				</p> 
			</li>
		<!-- /tmpl_if --> 
		<!-- tmpl_if error_email_no_match --> 
		<li>
			<p class="error">
				The email addresses you've entered do not match.
			</p> 
		</li>		
		<!-- /tmpl_if --> 
	</ul> 
<!-- /tmpl_if --> 

<form action="<!-- tmpl_var PROGRAM_URL -->" methd="post"> 
	<input type="hidden" name="f" value="profile_register" /> 
	<p>
		<label for="email">Email Address:</label><input type="text" name="email" value="<!-- tmpl_var email -->" /> 
	</p>
	<p>
		<label for="email_again">Email Address (again):</label><input type="text" name="email_again" value="<!-- tmpl_var email_again -->" /> 
	</p>
	<p>
		<label for="password">Password:</label><input type="password" name="password" value="" /> 
	</p>
	</p>
	<input type="submit" value="Register..." /> 
	</p>
		
</form> 


<hr /> 

<h1>Forgot Your Profile Password?</h1> 


<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" /> 
	<input type="hidden" name="f" value='profile_reset_password' /> 
	<p>Email Address: <input type="text" name="email" value="<!-- tmpl_var email -->" /></p> 
	<input type="submit" value="Send Authorization Code..." /> 
</form>

<hr /> 


<!-- end profile_login.tmpl --> 
