<!-- begin profile_update_email_error.tmpl --> 

<!-- tmpl_set name="title" value="Update Profile Email Results:" --> 
<p>
	Something went wrong with the confirmation of your Profile Email Update.
</p> 

<!-- end profile_update_email_error.tmpl --> 
