<!-- begin profile_register.tmpl --> 

<!-- tmpl_set name="title" value="Profile Register Confirm" -->

<h1>
	Profile Registration is Successful!
</h1> 

<p>
	We've just sent an email to you,</p>
	
	<ul>
		<li>
			 <!-- tmpl_var profile.email -->
		</li>
	</ul>
	
<p>
	 with your Profile Authorization Code.
</p> 

<p>
	Once you've followed the Profile Authorization Link, your <!-- tmpl_var PROGRAM_NAME --> Profile will be activated!
</p> 

<!-- end profile_register.tmpl --> 

