<!-- begin report_mass_mailing_errors_screen.tmpl -->

<!-- tmpl_set name="title" value="Problems Found in Email Message" -->

<h1>Problems With Mass Mailing:</h1> 
<p>
 Your message has <em>not</em> been sent.
</p>

<p>
 Additional information is below:
</p>

<pre> 
<!-- tmpl_var errors escape="HTML" -->
</pre>

<!-- end report_mass_mailing_errors_screen.tmpl -->

