<!-- begin sending_monitor_index_screen.tmpl --> 

<p>

<a href="<!-- tmpl_var S_PROGRAM_URL -->?f=send_email"> 
 Send a List Message 
</a> 

  &#187;

    Monitor Your Mailings
</p>



 <p class="alert"> 
  Screen will refresh every 60 seconds.
 </p>
<script type="text/javascript">
  refreshpage(60, "<!-- tmpl_var S_PROGRAM_URL -->?f=sending_monitor"); 
 </script> 


 <!-- tmpl_if killed_it -->
    
        <p class="error">
         Your mailing was successfully stopped.
        </p>
<!-- /tmpl_if --> 

        
    
<fieldset> 

<legend>
Current Mass Mailings:
</legend> 


<!-- tmpl_if mailout_status --> 

 <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
    <table cellpadding="2" cellspacing="0" border="0" width="100%">
     <tr> 
	
	
	      <td> 
	      <p>
	       <strong> 
	        List:
	       </strong> 
	      </p>
	     </td>
	
      <td> 
      <p>
       <strong> 
        Subject:
       </strong> 
      </p>
     </td> 
	<td>
	 <p>
	  <strong>
	   Created
	  </strong>
	 </p>
	</td> 
     
     
     <td> 
      <p> 
       <strong>
        Paused? 
       </strong>
      </p> 
     </td> 
     
     <td> 
      <p> 
       <strong>
        Queued? 
       </strong>
      </p> 
     </td> 
 

     <td> 
      <p> 
       <strong>
        Stale? 
       </strong>
      </p> 
     </td>

     <td> 
      <p> 
       <strong>
        Broken? 
       </strong>
      </p> 
     </td>
     <td> 
      <p> 
       <strong>
        % Done
       </strong>
      </p> 
     </td>
    
    <td> 
    &nbsp;
    </td>     
    </tr> 
    
    <!-- tmpl_loop mailout_status --> 

    
    	<tr style="<!-- tmpl_if integrity_check --> <!-- tmpl_if __odd__ -->background-color:#ccf;<!--/tmpl_if--><!-- tmpl_else -->style=background-color:#cc3<!-- /tmpl_if -->">

		      <td> 
		      <p>
		       <strong> 
		        <!-- tmpl_var list --> 
		       </strong> 
		      </p>
		     </td>
		
         <td>  
          <p>
            <!-- tmpl_if Subject --> 
            
           <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=sending_monitor&id=<!-- tmpl_var id -->&type=<!-- tmpl_var type -->" title="Click to see details about this specific mass mailing  (<!-- tmpl_var Subject escape="HTML" -->)" ><!-- tmpl_var Subject --></a>
           
           <!--tmpl_else --> 
           
            <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=sending_monitor&id=<!-- tmpl_var id -->&type=<!-- tmpl_var type -->"><!-- tmpl_var id --></a>

           <!--/tmpl_if --> 
          </p>
        </td>
        
        
        
        <td>
	     <p>
		 <!-- tmpl_var mailing_started --> 
		</p> 
	</td> 
	
 	
         <td <!-- tmpl_if paused --> style="background:#ff0"<!-- /tmpl_if -->> 
          <p style="text-align:center"> 
             <!-- tmpl_if paused --> 
                x
             <!-- /tmpl_if --> 
             
           
          </p> 
         </td> 
         
       
   
 	 
         <td <!-- tmpl_if queued_mailout --> style="background:#ff0"<!-- /tmpl_if -->> 
	
	
      <p style="text-align:center">  
       
        <!-- tmpl_if queued_mailout --> 
            x
        <!-- /tmpl_if --> 
       
      </p> 
     </td>


	 	 
	<td <!-- tmpl_if mailout_stale --> style="background:#ff0"<!-- /tmpl_if -->> 
	  <p style="text-align:center">     
        <!-- tmpl_if mailout_stale --> 
            !!!
        <!-- /tmpl_if --> 
      </p> 
     </td>

  
	<td <!-- tmpl_unless integrity_check --> style="background:#ff0"<!-- /tmpl_unless -->> 
	  <p style="text-align:center">     
        <!-- tmpl_unless integrity_check --> 
            !!!
        <!-- /tmpl_unless --> 
      </p> 
     </td>



<td>  
       		<!-- tmpl_if percent_done -->
		         <p>
		          <table cellpadding="0" cellspacing="0" border="0" style="width:102px"> 
		           <tr> 
		            <td> 
		              <div style="width:102px"> 
		             <div style="width:<!-- tmpl_var status_bar_width -->px;height:10px;background-color:#3f0;float:left;border:1px solid black;border-right:0px;"></div>
		             <div style="width:<!-- tmpl_var negative_status_bar_width -->px;height:10px;background-color:#cff;float:left;border:1px solid black;border-left:0px;"></div>
		            </div> 
		            </td> 
		            <td> 
            	&nbsp;<!-- tmpl_var percent_done -->%  
          </td> 
         </tr> 
        </table> 
        
         </p>
 
		 <!-- tmpl_else --> 
            <!-- ... --> 
         <!--/tmpl_if-->

       </td>      
     
     
     <td> 
     
    <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="get" style="display:inline"> 
    <input type="hidden" name="f" value="sending_monitor" /> 
    <input type="hidden" name="id" value="<!-- tmpl_var message_id -->" /> 
    <input type="hidden" name="type" value="<!-- tmpl_var message_type -->" /> 
    <input type="hidden" name="process" value="kill" /> 
    <input type="submit" value="[x]" onclick="return killMonitoredSending(this.form);" <!-- tmpl_unless is_paused --><!-- tmpl_if sending_done -->disabled="disabled" class="disabled"<!-- tmpl_else --> class="alertive" <!--/tmpl_if --><!-- tmpl_else --> class="alertive" <!--/tmpl_unless --> title="Click to permanently STOP this mass mailing"  />
    </form> 

</td> 
       </tr> 
       
        <!--/if--> 

    <!-- /tmpl_loop --> 


    </table> 

</div> 



<!-- tmpl_else --> 


    <p class="positive"> 
     Currently, there are no active Mass Mailings for this list.
    </p>

<!--/tmpl_if--> 

</fieldset> 

<!-- tmpl_if auto_pickup_dropped_mailings --> 

<p class="alert">
  Auto Pickup of Dropped Mailings is enabled!
</p> 

<!-- tmpl_else --> 

<p class="error">
 * Auto Pickup of Dropped Mailings is disabled.
</p> 

<!--/tmpl_if --> 

<p style="font-weight:bold;">
 <a href="#" onclick="toggleDisplay('verbose_sending_information');return false;">
 +/- 
 </a>Verbose Sending Information...
</p>

<div id="verbose_sending_information" style="display:none">
<pre> 

    <!-- tmpl_var monitor_mailout_report --> 

</pre> 

</div> 


<!-- tmpl_include help_link_widget.tmpl --> 


<!-- end sending_monitor_index_screen.tmpl -->
