<!-- begin send_email_screen.tmpl -->

<!-- tmpl_set name="title" value="Mass Mailing &#187; Send a Message" -->
<!-- tmpl_set name="load_wysiwyg_editor" value="1" -->
<!-- tmpl_set name="load_modalbox" value="1" -->

<div id="screentitle"> 
	<div id="screentitlepadding">
	 	<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>



<!-- tmpl_if list_settings.group_list --> 
    <div class="clearskiesbox">
		<p>Discussion List Support is enabled and Discussion List preferences will be honored.
	</div> 
	
<!--/tmpl_if--> 

<!-- tmpl_unless list_settings.smtp_server -->	
	<!-- tmpl_if expr="list_settings.sending_method eq 'smtp'"  -->
		<div class="badweatherbox">
		<p>
		 Warning! No SMTP Server has been set!
		</p>
	</div> 
	
	<!-- /tmpl_if -->
<!-- /tmpl_unless -->

<!-- tmpl_include mass_mailing_limit_notice_widget.tmpl --> 

<!-- tmpl_include send_email_message_body_help_widget.tmpl -->


<form name="send_email" enctype="multipart/form-data" action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
 <input type="hidden" name="f" value="send_email" />
 <input type="hidden" name="advanced" value="yes" />
	  
<!-- tmpl_include message_headers_fieldset_widget.tmpl --> 
<fieldset> 
<legend>Message Body [<a href="#" onclick="Modalbox.show($('message_body_help'), {title: 'Message Body Help', width: 640, height:325}); return false;">?</a>]</legend>

<!-- tmpl_include message_format_type_toggler_widget.tmpl --> 

<div id="html_message" style="<!-- tmpl_if expr="((list_settings.use_wysiwyg_editor eq 'none') || (using_no_wysiwyg_editor == 1))" -->display:none;<!-- /tmpl_if -->background-color:#fff;border:1px solid black;border-top:0;padding:0;margin:0;"> 
<!-- tmpl_include html_message_form_field_widget.tmpl --> 
</div>

<div id="text_message" style="<!-- tmpl_unless expr="((list_settings.use_wysiwyg_editor eq 'none') || (using_no_wysiwyg_editor == 1))" -->display:none;<!-- /tmpl_unless -->background-color:#fff;border:1px solid black;border-top:0;padding:0;margin:0;"> 
<!-- tmpl_include plaintext_message_form_field_widget.tmpl -->
</div> 

</fieldset>
 

<!-- tmpl_include send_email_archive_options_widget.tmpl -->

<!-- tmpl_include multiple_list_sending_widget.tmpl --> 

<!-- tmpl_include partial_sending_options_widget.tmpl --> 

<!-- tmpl_include file_attachments_widget.tmpl -->

<!-- tmpl_include subscriber_field_tags_listing_widget.tmpl --> 
 
<!-- tmpl_include send_a_list_message_button_widget.tmpl -->
 
</form>


 

<!-- end send_email_screen.tmpl -->
