<!-- begin sending_monitor_button_widget.tmpl --> 

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="get"> 
 <input type="hidden" name="f"    value="sending_monitor" /> 
 <input type="hidden" name="type" value="<!-- tmpl_var type -->" /> 
 <input type="hidden" name="id"   value="<!-- tmpl_var message_id -->" /> 
 <input type="submit" class="processing" value="Monitor Your Mailing!" /> 
</form> 

<!-- end sending_monitor_button_widget.tmpl --> 
