<!-- begin send_archive_form_widget.tmpl --> 


<a name="forward_to_a_friend"></a>
<fieldset>
	
<legend>Forward to a Friend</legend>



<!-- tmpl_if send_archive_form_error --> 

    <p class="error">
     This form was filled out incorrectly.
    </p>
    
<!-- /tmpl_if --> 



<form action="<!-- tmpl_var PROGRAM_URL -->" method="post">
 <input type="hidden" name="list"    value="<!-- tmpl_var list -->" />
 <input type="hidden" name="entry"   value="<!-- tmpl_var id -->" /> 
 <input type="hidden" name="flavor"  value="send_archive" /> 
 <input type="hidden" name="process" value="true" /> 
 
 <p>
  <label for="from_email">
  Your email address:
  </label>
  <br /> 
  <input type="text" name="from_email" id="from_email" maxlength="1024" />
 </p>
 <p>
  <label for="to_email">
  Your friend's email address:
  </label>
  <br />
  <input type="text" name="to_email" id="to_email" maxlength="1024" />
 </p>
 <p>
  <label for="note">
  Note:
  </label>
  <br />
  <textarea rows="5" cols="40" name="note" id="note"></textarea>
 </p>
 
 


<!-- tmpl_if captcha_fail --> 
     <p class="error"> 
      The letters you've submitted didn't seem to correspond to the letters in the image. Please try again:
    </p>
<!-- /tmpl_if --> 

<!-- tmpl_if can_use_captcha --> 
	<!-- tmpl_if CAPTCHA_string --> 
	
		<p>
		 As the final step, please type in the string of letters that you see in the below image into the text box:
		</p>
	

	<!-- tmpl_var CAPTCHA_string --> 
	
	<!-- /tmpl_if --> 
	
<!-- /tmpl_if --> 



<div class="buttonfloat">
<input type="submit" class="processing" value="Forward to a Friend" />
<div class="floatclear"></div>
</div> 


</form>

</fieldset> 




<!-- end send_archive_form_widget.tmpl  --> 

