<!-- begin send_url_screen.tmpl -->

<!-- tmpl_set name="title" value="Mass Mailing &#187; Send a Webpage" -->
<!-- tmpl_set name="load_wysiwyg_editor" value="1" -->
<!-- tmpl_set name="load_modalbox" value="1" -->

<div id="screentitle"> 
	<div id="screentitlepadding">
	 	<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<!-- tmpl_include mass_mailing_limit_notice_widget.tmpl --> 


<form name="send_email" action="<!-- tmpl_var name="S_PROGRAM_URL" -->" method="post">
 
<!-- tmpl_unless can_use_mime_lite_html -->
	 
	 <div class="disabled">
	  <p class="error">
	   Disabled. The 'MIME::Lite::HTML' Perl Library needs to be installed, or is missing required components. More information below:
	   
	  </p>
	  
	  <pre> 
<!-- tmpl_var mime_lite_html_error -->
	  </pre> 
	  
	  
	 </div>
	 
<!-- tmpl_else-->
	 
	 <!-- tmpl_unless can_use_lwp_simple -->


		  <div class="disabled">
		  <p class="error">
		   Disabled. The 'LWP' Perl Library needs to be installed. More information below: 
		  </p>
		  
		  <pre> 
<!-- tmpl_var lwp_simple_error --> 
		  </pre> 
		  
		  
		 </div>
		 
			<!-- tmpl_else-->

        <!-- tmpl_if list_settings.group_list --> 
            <div class="clearskiesbox">
			<p>
				Discussion List Support is enabled and Discussion List preferences will be honored.
        	</p>
		</div>
		<!--/tmpl_if--> 

<!-- tmpl_include send_url_email_message_body_help_widget.tmpl -->		
<!-- tmpl_include message_headers_fieldset_widget.tmpl --> 


   	
	
	<fieldset> 
		<legend>Message Body [<a href="#" onclick="Modalbox.show($('message_body_help'), {title: 'Webpage Message Body Help', width: 640, height:325}); return false;">?</a>]</legend>
		<!-- tmpl_include message_format_type_toggler_widget.tmpl --> 
  	    <div id="html_message" style="background-color:#fff;border:1px solid black;border-top:0;padding:0;margin:0;">
		<br />  
		<p>
		<input type="radio" name="content_from" id="content_from_url" value="url" checked="checked" />
			  <label for="content_from_url">
		   Grab content from this webpage address (URL):
		  </label>
		  <br />
		  <input type="text" name="url" id="url" class="full" value="http://" />
		</p>
		<p>
		  <input type="radio" name="content_from" id="content_from_textarea" value="content_from_textarea" />
			  <label for="content_from_textarea">
			   Use the following HTML as content:
			  </label>
		  </p>
		  

		<!-- tmpl_include html_message_form_field_widget.tmpl --> 
	
<h2>Advanced Options</h2>
		<table>
		  <tr>
		   <td>
			<p>
			 <strong>
			  Images in this webpage should:
			 </strong>
			</p>
		  
			<p>
			 <input type="radio" name="url_options" id="extern" value="extern" checked="checked" />
			  <label for="extern">
			   have their URLs changed to absolute
			 </label> 
			 
			 
			 <!-- DEV as far as I can tell, this option doesn't work!
			 -js
			 
			 <br />
			 <input type="radio" name="url_options" value="location" />
			 be embedded in the message itself, using the 'Content-Location' header
			 
			 --> 
			 
			 
			 <br />
			 <input type="radio" name="url_options" value="cid" id="cid" />
			  <label for="cid">
			   be embedded in the message itself 
			 </label>
			 
		<!-- tmpl_unless can_display_attachments --> 
				 
				 <br />
				 <p class="error"> 
				  Warning: your current Archive backend does not support archiving messages with embedded images.
				  When viewed, these archived messages may be missing images or formatted incorrectly.
				 </p>
				 
		<!--/tmpl_unless--> 
			 
			</p>
		   </td>
		  </tr>
		  <tr> 
			<td>
			<p>	<input type="checkbox" name="remove_javascript" id="remove_javascript" checked="checked" value="1" />
			 
			  <label for="remove_javascript">
				Remove Javascript
			   </label> <em>(highly recommended)</em>
			 </p>
			</td>
	
		  </tr> 
		  <tr>
		   <td>
			<table class="simplebox">
			 <tr>
			  <td>
			   <p>
				<strong>
				 Restricted URL Information
				</strong>
				   </p>
				  </td>
				  <td>
			   <p>
				(
				<em>
				 optional
				</em>
				)
			   </p>
			  </td>
			 </tr>
			 <tr>
			  <td>
			   <p align="right">
				<strong>
				 username:
				</strong>
			   </p>
			  </td>
			  <td>
			   <p>
				<input type="text" name="url_username" />
			   </p>
			  </td>
			 </tr>
			 <tr>
			  <td>
			   <p align="right">
				<strong>
				 password:
				</strong>
			   </p>
			  </td>
			  <td>
			   <p>
				<input type="password" name="url_password" />
			   </p>
			  </td>
			 </tr>
			 <tr>
			  <td>
			   <p align="right">
				<strong>
				 proxy:
				</strong>
			   </p>
			  </td>
			  <td>
			   <p>
				<input type="password" name="proxy" />
			   </p>
			  </td>
			 </tr>
			</table>
		   </td>
		  </tr>
		 </table>



</div> 


 
<div id="text_message" style="display:none;background-color:#fff;border:1px solid black;border-top:0;padding:0;margin:0;"> 
		<br /> 
		<p>
		  <input type="radio" name="auto_create_plaintext" id="auto_create_plaintext" value="1" checked="checked" />
		  <label for="auto_create_plaintext">
		   Create a PlainText version automatically
		  </label>
		  <br />
		  <em>
		   Will NOT work if you use a username/password or proxy.
		  </em>
		 </p>
		 <p>
		  <input type="radio" name="auto_create_plaintext" id="no_auto_create_plaintext" value="0" />
		  <label for="no_auto_create_plaintext">
		   Use the text below as the PlainText version:
		  </label>
		 </p>
		 <p>
			 <!-- tmpl_include plaintext_message_form_field_widget.tmpl -->
		 </p>



		 <input type="hidden" name="f" value="send_url_email" />
	</div> 
</fieldset>

		 <!-- tmpl_include send_email_archive_options_widget.tmpl -->			 
		 
		 <!-- tmpl_include multiple_list_sending_widget.tmpl --> 
		
		 <!-- tmpl_include partial_sending_options_widget.tmpl --> 

         <!-- tmpl_include subscriber_field_tags_listing_widget.tmpl --> 

		 <!-- tmpl_include send_a_list_message_button_widget.tmpl -->
		 
	<!-- /tmpl_unless -->
 
<!-- /tmpl_unless -->

</form> 

 

<!-- end send_url_screen.tmpl -->
