<!-- begin sending_monitor_container_screen.tmpl --> 


<!-- tmpl_set name="title" value="Mass Mailing &#187; Monitor Your Mailings" -->






<script type="text/javascript">
    //<![CDATA[
	Event.observe(window, 'load', function() {
	  update_sending_monitor();	
		<!-- tmpl_if list_type_isa_list --> 
			<!-- tmpl_if list_settings.tracker_show_message_reports_in_mailing_monitor --> 
				refresh_tracker();
			<!-- /tmpl_if --> 
		<!-- /tmpl_if --> 
	});
	
	 function update_sending_monitor() { 
		new Ajax.PeriodicalUpdater(
			'sending_monitor_ajax', '<!-- tmpl_var S_PROGRAM_URL -->', 
			{ 
			    method: 'post', 
				frequency: '<!-- tmpl_var refresh_after -->',
				evalScripts: true, 
				parameters: {
					f:            'sending_monitor',
					process:      'ajax',
					id: 		  '<!-- tmpl_var message_id -->', 
					type: 		  '<!-- tmpl_var message_type -->'
				},
		}
		);
	}
	

    function refresh_tracker()
    {
        document.getElementById('tracker_plugin').contentWindow.location.reload();
	    setTimeout("refresh_tracker()",5000 * 60);
    }	
	
    //]]>
</script>



<div id="sending_monitor_ajax"></div> 

<!-- tmpl_if list_type_isa_list --> 
	<!-- tmpl_if list_settings.tracker_show_message_reports_in_mailing_monitor --> 

		<fieldset> 
		<legend>Tracker Reports</legend>
			<div style="padding:10px; margin: 10px; border:0px">
			<iframe id="tracker_plugin" src="<!-- tmpl_var tracker_url -->?chrome=0;f=m;mid=<!-- tmpl_var message_id -->"  width="100%" height="640"></iframe> 
		</div> 

		</fieldset>

	<!-- /tmpl_if --> 
<!-- /tmpl_if --> 



<!-- end sending_monitor_container_screen.tmpl --> 
