<!-- begin sending_monitor_container_screen.tmpl --> 

<!-- tmpl_set name="title" value="Monitor Your Mailing" -->



<script type="text/javascript">
    //<![CDATA[
	Event.observe(window, 'load', function() {
	  update_sending_monitor();				
	});
	
	 function update_sending_monitor() { 
		new Ajax.PeriodicalUpdater(
			'sending_monitor_ajax', '<!-- tmpl_var S_PROGRAM_URL -->', 
			{ 
			    method: 'post', 
				frequency: '<!-- tmpl_var refresh_after -->',
				evalScripts: true, 
				parameters: {
					f:            'sending_monitor',
					process:      'ajax',
					id: 		  '<!-- tmpl_var message_id -->', 
					type: 		  '<!-- tmpl_var message_type -->'
				},
		}
		);
	}
    //]]>
</script>







<!-- tmpl_include help_link_widget.tmpl -->


<div id="sending_monitor_ajax"> 
</div> 








<!-- end sending_monitor_container_screen.tmpl --> 
