<!-- begin send_email_testsuite_screen.tmpl -->

<form name="the_form" enctype="multipart/form-data" action="<!-- tmpl_var name="S_PROGRAM_URL" -->" method="post">
 <input type="hidden" name="f" value="send_email" />
 <p>
  This is a mailing formatting test.
 </p>
 <p>
  This message should come to you as a multipart/alternative message, 
  with the HTML version showing and the text verison hidden. It may 
  be shown as the text version showing and the HTML version hidden, 
  depending on your mail reader settings. Regardless, SOMETHING should be showing!
 </p>
 <p>
  There should be three attachments: one gif, one jpeg and one rich text document. 
  The two images should be shown inline, and the rtf document should be seen only 
  as an attachment.
 </p>
 <p>Here are examples:</p>
 <ol>
  <li><a href="http://dadamailproject.com/images/testing/testsuite_apple_mail.gif" target="_blank">Apple Mail</a></li>
  <li><a href="http://dadamailproject.com/images/testing/testsuite_yahoo.gif" target="_blank">Yahoo! Mail</a></li>
  <li><a href="http://dadamailproject.com/images/testing/testsuite_hotmail.gif" target="_blank">Hotmail</a></li>
  <li><a href="http://dadamailproject.com/images/testing/testsuite_gmail.gif" target="_blank">Gmail</a></li>
 </ol>
 <p>
  All these examples show the message as it should be shown. A round of applause.
 </p>
 <p>
  To test things yourself, click <strong>Send Test Message</strong> below. 
  Only the list owner will receive this message.
 </p>
 <p>
  If you do not see what is described above, please 
  <a href="http://dadamailproject.com/contact/" target="_blank">
   let us know</a>!
 </p>
 <hr />
 <p>
  <label for="message_subject">
  Subject:
  </label>
  <br/>
  <input type="text" name="message_subject" id="message_subject" value="Test Suite Subject" />
 </p>
 <p>
  <label for="text_message_body">
  Plain Text Version:
  </label>
  <br />
  <textarea name="text_message_body" id="text_message_body" rows="5">This is the plain text version of the message!</textarea>
 </p>
 <p>
  <label for="html_message_body">
  HTML Version:
  </label>
  <br />
  <textarea name="html_message_body" id="html_message_body" rows="5"><h1>This is the HTML text version of the message!</h1></textarea>
 </p>
 <p>
  <strong>
   Attachments:
  </strong>
 </p>
 <ol>
  <li>dada_web_banner.gif</li>
  <li>purplehairdisheveled.jpg</li>
  <li>odd_banter.rtf</li>
 </ol>
 <input type="hidden" name="Start-Email" />
 <input type="hidden" name="Start-Num"   />
 <input type="hidden" name="advanced" value="yes" />
 <input type="hidden" name="attachment" value="true" />
 <input type="hidden" name="filepath_attachment_1" value="<!-- tmpl_var templates_dir -->/dada_web_banner.gif" />
 <input type="hidden" name="filepath_attachment_2" value="<!-- tmpl_var templates_dir -->/purplehairdisheveled.jpg" />
 <input type="hidden" name="filepath_attachment_3" value="<!-- tmpl_var templates_dir -->/odd_banter.rtf" />
 <input type="hidden" name="at_num" value="3" />

 <div class="buttonfloat">
  <input type="submit" class="cautionary" onclick="return sendMailingListMessage('test');" name="process" value="Send Test Message">
 </div>
 <div class="floatclear"></div>
 <div class="buttonfloat">
  <input type="checkbox" name="im_sure" value="1" />
  I'm sure.
  <br />
  <input type="checkbox" name="new_win" value="1" checked="checked" />
  Open in a new window.
  <br />
 </div>
 <div class="floatclear"></div>
</form> 

<!-- end send_email_testsuite_screen.tmpl -->
