<!-- begin setup_info_screen.tmpl -->

<h1>Advanced Installation with Outside Configuration File</h1> 


<h2>$PROGRAM_CONFIG_FILE_DIR</h2> 

<!-- tmpl_if PROGRAM_CONFIG_FILE_DIR --> 




<p>
 Your 	<strong>
	                     $PROGRAM_CONFIG_FILE_DIR
	                    </strong> variable
	 has been set to, </p>
	
	<p><code><!-- tmpl_var PROGRAM_CONFIG_FILE_DIR --></code></p>

<p>Your outside configuration file is being looked for at:</p>

<p>
 <code>
	<!-- tmpl_var CONFIG_FILE -->
 </code>
</p>

<!-- tmpl_if config_file_exists --> 

	<p>This file exists! The contents of which are below:</p>
	
	 <div style="width:95%;height:300px;overflow:auto;border:1px solid black;padding:5px;margin:5px">
		
	<pre><!-- tmpl_var config_file_contents --> </pre> 

</div> 

<!-- tmpl_else --> 


<p>This file does not seem to exist.</p>

<!-- /tmpl_if --> 


<!-- tmpl_else --> 

<p>You have not set the 
	<strong>
	                     $PROGRAM_CONFIG_FILE_DIR
	                    </strong>
	 variable. (You don't have to)</p>


<!-- /tmpl_if --> 

<!-- tmpl_unless config_file_exists --> 

<hr /> 

	
<!--/tmpl_unless-->

<hr /> 
<h1>Other Configuration Settings</h1>
<h2>
 $MAILPROG Variable
</h2>
<p>
 The 
 <strong>
  $MAILPROG 
 </strong>
 variable has been set to:
</p>
<ul>
 <li>
  <!-- tmpl_var MAILPROG -->
 </li>
</ul>
<p>
 Paths to Sendmail have been found in these locations:
</p>
<ul>
 
<!-- tmpl_loop sendmails -->
	
	 <li>
	  <!-- tmpl_var location -->
	 </li>
	 
<!--/tmpl_loop-->
 
</ul>
<p>
 Not all these paths are locations to Sendmail, 
 but should be included within them.
</p>


<!-- end setup_info_screen.tmpl -->