<!-- begin smtp_options_screen.tmpl -->


<p id="breadcrumbs">
 Manage List  
&#187;
<a href="<!-- tmpl_var S_PROGRAM_URL -->?f=sending_options">
 Sending Options
</a>
&#187;
SMTP Options
</p>


<!-- tmpl_if name="done" -->
	<!-- tmpl_var name="GOOD_JOB_MESSAGE" -->
<!-- /tmpl_if -->

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form">

<fieldset>

<legend>
 General
</legend>

 

<table cellpadding="5">
 <tr>
  <td>
   <p>
    <label for="smtp_server">
     SMTP Server:
    </label>
   </p>
  </td>
  <td>
   <p>
    <input type="text" name="smtp_server" id="smtp_server" value="<!-- tmpl_var smtp_server -->" size="30" />
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    <label for="smtp_port">
     Port:
    </label>
   </p>
  </td>
  <td>
  <p>
   <input type="text" name="smtp_port" id="smtp_port" value="<!-- tmpl_var smtp_port -->" size="5" />
  </p>
  </td>
 </tr>
</table>

 

    <table <!-- tmpl_unless can_use_smtp_ssl -->class="disabled"<!--/tmpl_unless-->> 
     <tr>
      <td>
       <p>
        <input type="checkbox" name="use_smtp_ssl" id="use_smtp_ssl" value="1" <!-- tmpl_if use_smtp_ssl -->checked="checked"<!-- /tmpl_if --> <!-- tmpl_unless can_use_smtp_ssl -->disabled="disabled"<!--/tmpl_unless-->/>
       </p>
      </td>
      <td>
       <p>
        <label for="use_smtp_ssl">
         Use Secure Sockets Layer (SSL)
        </label>
        <!-- tmpl_unless can_use_smtp_ssl -->
            <br />
            <span class="error">
             Disabled. The Net::SMTP::SSL module needs to be installed.
            </span>
        <!--/tmpl_unless--> 
        
       </p>
      </td>
     </tr>
    </table> 
    
    
    

</fieldset>

<fieldset>
<legend>
 Authentication    
</legend>

<table>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="use_sasl_smtp_auth" id="use_sasl_smtp_auth" value="1" <!-- tmpl_if use_sasl_smtp_auth -->checked="checked"<!-- /tmpl_if -->/>
   </p>
  </td>
  <td>
   <p>
    <label for="use_sasl_smtp_auth">
     Use SMTP Authentication (SASL)
    </label>
   </p>
   <table>
   
   <tr>
     <td>
      <p>
       <label for="sasl_auth_mechanism">
        Type:
       </label>
      </p>
     </td>
     <td>
      <p>
       <!-- tmpl_var mechanism_popup --> 
     </p>
     </td>
    </tr>
    
    
    <tr>
     <td>
      <p>
       <label for="sasl_smtp_username">
        Username:
       </label>
      </p>
     </td>
     <td>
      <p>
       <input type="text" name="sasl_smtp_username" id="sasl_smtp_username" value="<!-- tmpl_var sasl_smtp_username -->" size="30" />
      </p>
     </td>
    </tr>
    <tr>
     <td>
      <p>
       <label for="sasl_smtp_password">
        Password:
       </label>
      </p>
     </td>
     <td>
      <p>
       <input type="password" name="sasl_smtp_password" id="sasl_smtp_password" value="<!-- tmpl_var sasl_smtp_password -->" size="30" />
      </p>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>




<table>
 <tr>
  <td>
   <input type="checkbox" name="use_pop_before_smtp" id="use_pop_before_smtp" value="1" <!-- tmpl_if use_pop_before_smtp -->checked="checked"<!-- /tmpl_if --> />
  </td>
  <td>
   <p>
    <label for="use_pop_before_smtp">
     Use POP-Before-SMTP Authentication
    </label>
    <br />
    A connection to your POP Server will be created before any mail will be sent. 
    This can authenticate your outgoing mail requests, if your SMTP server 
    uses POP-before-SMTP or your SMTP server does not use SASL.
   </p>
   <p>
    POP-before-SMTP Authentication will require your username and password for your 
    <strong>
     POP3 
    </strong>
    Account:
   </p>
   <table border="0">
    <tr>
     <td>
      <p>
       <label for="pop3_server">
        POP3 Server:
       </label>
      </p>
     </td>
     <td>
      <p>
       <input type="text" name="pop3_server" id="pop3_server" value="<!-- tmpl_var pop3_server -->" size="30" />
      </p>
     </td>
    </tr>
    <tr>
     <td>
      <p>
       <label for="pop3_username">
        POP3 Username:
       </label>
      </p>
     </td>
     <td>
      <input type="text" name="pop3_username" id="pop3_username" value="<!-- tmpl_var pop3_username -->" size="30" />
     </td>
    </tr>
    <tr>
     <td>
      <p>
       <label for="pop3_password">
        POP3 Password:
       </label>
      </p>
     </td>
     <td>
      <p>
       <input type="password" name="pop3_password" id="pop3_password" value ="<!-- tmpl_var decrypted_pop3_pass -->" size="30" />
      </p>
     </td>
    </tr>
    
 <tr>
     <td>
      <p>
       <label for="pop3_auth_mode">
        Type:
       </label>
      </p>
     </td>
     <td>
      <p>
       <!-- tmpl_var pop3_auth_mode_popup --> 
     </p>
     </td>
    </tr>
    
    
   </table>
   
    <table <!-- tmpl_unless can_use_ssl -->class="disabled"<!--/tmpl_unless-->> 
     <tr>
      <td>
       <p>
        <input type="checkbox" name="pop3_use_ssl" id="pop3_use_ssl" value="1" <!-- tmpl_if pop3_use_ssl -->checked="checked"<!-- /tmpl_if --> <!-- tmpl_unless can_use_ssl -->disabled="disabled"<!--/tmpl_unless-->/>
       </p>
      </td>
      <td>
       <p>
        <label for="pop3_use_ssl">
         Use Secure Sockets Layer (SSL)
        </label>
        <!-- tmpl_unless can_use_ssl -->
            <br />
            <span class="error">
             Disabled. The IO::Socket::SSL module needs to be installed.
            </span>
        <!--/tmpl_unless--> 
        
       </p>
      </td>
     </tr>
    </table> 
    
    
   <div class="buttonfloat">
    <input type="button" value="Test POP-Before-SMTP Settings" class="cautionary" onClick="testPOPBeforeSMTP();" />
   </div>
  </td>
 </tr>
 
 
</table>


    
</fieldset>

<fieldset>

<legend> 
 Advanced
</legend> 



<table>
 <tr>
  <td>
   <p>
    <input type="checkbox" name="set_smtp_sender" id="set_smtp_sender" value="1" <!-- tmpl_if set_smtp_sender -->checked="checked"<!-- /tmpl_if --> />
   </p>
  </td>
  <td>
   <p>
    <label for="set_smtp_sender">
     Set the Sender of SMTP Mailings to the List Administration Address
    </label>
    <br />
    This will ultimately set the 'Return-Path' email header to 
    the list administration email address (<!-- tmpl_var admin_email -->), 
    and bounced messages will return to that address. Otherwise, 
    they will go to the list owner.
   </p>
  </td>
 </tr>
 

 <tr>
  <td>
   <p>
    <input type="checkbox" name="smtp_connection_per_batch" id="smtp_connection_per_batch" value="1" <!-- tmpl_if smtp_connection_per_batch -->checked="checked"<!-- /tmpl_if --> />
   </p>
  </td>
  <td>
   <p>
    <label for="smtp_connection_per_batch"> 
     Only use one SMTP connection per batch <em> Experimental</em> 
    </label>
    <br />
    
<p>
Instead of connecting to the SMTP server for each message sent, one connection is made for each batch. 
</p>

<p>
Checking this option may dramatically increase sending speed, since the actual connection may take a few seconds. 
</p>

<p>Your SMTP Server may not allow for more than one message to be sent per connection, so if sending appears not to be working, 
	do not use this option.
</p>


  </td>
 </tr>


 
</table>

</fieldset>

 
 <script type=text/javascript>

    pjx.prototype.pjxInitialized = function(el){
    el = 'smtp_test_results'; 
      document.getElementById(el).innerHTML = '<h2>One Second Please...</h2>';
      document.getElementById(el).style.backgroundColor = '#ccc';
    }

pjx.prototype.pjxCompleted = function(el){
    el = 'smtp_test_results'; 
    document.getElementById(el).style.backgroundColor = '#fff';

}

</script>


<p>
 <input type="button" name="foo" id="foo" value="Save and Test SMTP Settings..." class="processing" onClick="ajax_save_smtp_options(['flavor', 'process', 'use_pop_before_smtp', 'set_smtp_sender', 'smtp_server', 'pop3_server', 'pop3_username', 'pop3_password', 'use_smtp_ssl', 'use_sasl_smtp_auth', 'sasl_auth_mechanism', 'sasl_smtp_username', 'sasl_smtp_password', 'smtp_port', 'no_redirect__1'], []); smtp_test_results(['flavor'], ['smtp_test_results'])" /> 
</p>


<input type="hidden" name="process" id="process" value="1" /> 

<div id="smtp_test_results"></div> 
    
    
    
<input type="hidden" name="f" id="flavor" value="smtp_options" />
<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear Changes" />
 <input type="submit" class="processing" value="Save Changes" />
</div>
<div class="floatclear"></div>

</form> 


<!-- tmpl_include help_link_widget.tmpl --> 



<!-- end smtp_options_screen.tmpl -->
