<!-- begin subscription_options_screen.tmpl -->

<!-- tmpl_include help_link_widget.tmpl -->

<!-- tmpl_if done -->
	<!-- tmpl_var GOOD_JOB_MESSAGE -->
<!--/tmpl_if-->

<!-- tmpl_if SUBSCRIPTION_QUOTA --> 

    <p class="alert">
     Currently, there is a global limit of, <!-- tmpl_var SUBSCRIPTION_QUOTA --> subscribers per Mailing List.
    </p>
<!-- tmpl_else --> 

    <p class="positive"> 
     There are no global subscription quotas!
    </p>

<!--/tmpl_if--> 

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form">
	
<fieldset>
	<legend>Subscription Options</legend>
	
<table cellpadding="5">
 <tr>
  <td>
   <p>
    <input type="checkbox" name="use_subscription_quota" id="use_subscription_quota" value="1" <!-- tmpl_if list_settings.use_subscription_quota -->checked="checked"<!--/tmpl_if--> />
   </p>
  </td>
  <td>
   <p>
    <label for="use_subscription_quota">
     Limit the Number of Subscribers
    </label>
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>&nbsp;</p>
  </td>
  <td>
   <p>
    Limit to: <!-- tmpl_var subscription_quota_menu --> subscribers
   </p>
  </td>
 </tr>
</table>
<p>&nbsp;</p>


</fieldset>
	
<input type="hidden" name="process" value="1" />
<input type="hidden" name="f"       value="subscription_options" />
<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear Changes" />
 <input type="submit" class="processing" value="Save Subscription Options" />
</div>
<div class="floatclear"></div>
</form> 

 


<!-- end subscription_options_screen.tmpl -->
