<!-- begin subscriber_fields.tmpl --> 




<p>
Manage Subscribers
 &#187;


<!-- tmpl_if edit_field --> 

<a href="<!-- tmpl_var S_PROGRAM_URL -->?f=subscriber_fields"> 
 Subscriber Fields 
</a>
 &#187; 
Edit Field
&#187;

 <strong><!-- tmpl_var field --></strong>

<!-- tmpl_else --> 
 Subscriber Fields 
<!-- /tmpl_if -->
</p>


<!-- tmpl_if deletion --> 
	<p class="positive">
		The subscriber field, "<!-- tmpl_var working_field -->"  has been deleted.
	</p>
<!-- /tmpl_if --> 

<!-- tmpl_if addition --> 
	<p class="positive">
		The subscriber field, "<!-- tmpl_var working_field -->"  has been added.
	</p>
<!-- /tmpl_if --> 

<!-- tmpl_if edited --> 
	<p class="positive">
		The subscriber field, "<!-- tmpl_var working_field -->"  has been edited.
	</p>
<!-- /tmpl_if --> 









<!-- tmpl_if can_have_subscriber_fields --> 
    
    <p class="alert">
     Subscriber Fields are global and changing them will affect all lists. You may only change the Subscriber Fields if you are logged in to an existing list using the <!-- tmpl_var PROGRAM_NAME --> Root Password.
</p>
    
    
    <!-- tmpl_if field_errors --> 
    
		<!-- tmpl_unless edit_field --> 
		
	        <p class="error"> 
	         There were problems when adding your new field!
	        </p>

		<!-- tmpl_else --> 

			<p class="error"> 
	         There were problems when editing your field, <!-- tmpl_var field -->
	        </p>

		<!-- /tmpl_unless --> 
        
        <ul>
         <!-- tmpl_if field_error_field_blank -->
             <li>
              <p class="error"> 
                The field name you submitted was blank.
              </p>
              </li>
         <!-- /tmpl_if --> 
         
          <!-- tmpl_if field_error_field_name_too_long -->
             <li>
              <p class="error"> 
                The field name is too long - make sure it's less than 64 characters.
              </p>
              </li>
         <!-- /tmpl_if --> 
         
        <!-- tmpl_if field_error_slashes_in_field_name -->
             <li>
              <p class="error"> 
                The field name has slashes in its name. 
              </p>
              </li>
         <!-- /tmpl_if --> 
         
         
         <!-- tmpl_if field_error_weird_characters -->
             <li>
              <p class="error"> 
                The field name has some weird characters. 
              </p>
              </li>
         <!-- /tmpl_if --> 
         
         <!-- tmpl_if field_error_quotes -->
             <li>
              <p class="error"> 
                The field name has quotes in it. 
              </p>
              </li>
         <!-- /tmpl_if -->  
        
        
         <!-- tmpl_if field_error_field_exists -->
             <li>
              <p class="error"> 
                The field name already exists! 
              </p>
              </li>
         <!-- /tmpl_if -->  
         
         
          <!-- tmpl_if field_error_spaces -->
             <li>
              <p class="error"> 
                The field name has spaces (hint: use an underscore instead of a space). 
              </p>
              </li>
         <!-- /tmpl_if -->
         
         
         <!-- tmpl_if field_error_field_is_special_field -->
             <li>
              <p class="error"> 
                The field name you're trying to add/edit is a special, reserved field (email_id, email, list, list_type, list_status )
              </p>
              </li>
         <!-- /tmpl_if -->   
        </ul> 
    
    
    <!-- /tmpl_if --> 
    

		    
  <!-- tmpl_unless edit_field -->   

	<fieldset> 
		<legend>Subscriber Fields</legend>
		
    <!-- tmpl_if fields --> 


	
  
	<div style="max-height: 200px; overflow: auto; border:1px solid black">

	 <table cellpadding="2" cellspacing="0" border="0" width="100%" style="background:#fff">
		  
         <tr> 
                   <!-- tmpl_if root_login --> 
			 <td> 
	                <p>
	                &nbsp;
	               </p>
	               </td>
	         <!-- /tmpl_if --> 
	

		 <td> 
           <p>
            <strong>
             Name
            </strong> 
           </p> 
          </td> 
          
          
            <td> 
           <p>
            <strong>
             Fallback Value 
            </strong> 
           </p> 
          </td> 
          
           <!-- tmpl_if root_login --> 
           
          <td> 
          </td> 
         
            <!--/tmpl_if-->
            
         </tr> 
         
        <!-- tmpl_loop fields --> 
  

      
        <tr <!-- tmpl_if name="__odd__" --> style="background-color:#ccf;"<!--/tmpl_if-->> 

	       <!-- tmpl_if root_login --> 

	             <td style="width:5em"> 

	            <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
	             <input type="hidden" name="f" value="subscriber_fields" /> 
	             <input type="hidden" name="edit_field" value="1" /> 
	             <input type="hidden" name="field"  value="<!-- tmpl_var name -->" /> 
	            <input type="submit" value="[edit]" class="cautionary" /> 
	            </form> 
	             </td> 
	
	        <!--/tmpl_if-->
	
	
         <td> 
          <p>
           <strong>
           <!-- tmpl_var name --> 
           </strong>
          </p> 
         </td> 
         
         <td> 
          <p>
           <!-- tmpl_var fallback_value --> 
          </p>
         </td> 
         
         
         <!-- tmpl_if root_login --> 
             
             <td style="width:5em"> 
            
            <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
             <input type="hidden" name="f" value="subscriber_fields" /> 
             <input type="hidden" name="process" value="delete_field" /> 
             <input type="hidden" name="field"  value="<!-- tmpl_var name -->" /> 
            <input type="submit" value="[X]" class="alertive"  onclick="return removeSubscriberField(this.form);" /> 
            </form> 
             </td> 
        
        <!--/tmpl_if-->
        
        </tr> 
        
        
        
        <!-- /tmpl_loop --> 
        </table> 
   </div> 
 
    <!-- tmpl_else --> 
    
    <p class="error"> 
     Currently, there are no Subscriber Fields.
    </p>
    
    
    <!-- /tmpl_if --> 
   



 <!-- /tmpl_unless --> 
</fieldset> 
   
    <fieldset> 
<!-- tmpl_unless edit_field --> 

    <legend>
     Add a New Field
    </legend> 

<!-- tmpl_else --> 

<legend>
	Edit Field: <!-- tmpl_var field --> 
</legend>

<!-- /tmpl_unless --> 

    
    <!-- tmpl_if root_login --> 
         <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
             <input type="hidden" name="f"       value="subscriber_fields" /> 

			<!-- tmpl_unless edit_field --> 
			
             	<input type="hidden" name="process" value="add_field" /> 
            <!-- tmpl_else --> 

				<input type="hidden" name="process"    value="edit_field" /> 
 				<input type="hidden" name="orig_field" value="<!-- tmpl_var field -->" /> 
        	
    		<!-- /tmpl_unless -->

            <table cellpadding="5"> 
             <tr> 
				<td> 
                <p>
                <label for="field">Field Name</label> 
               </p>
               </td> 
               <td> 
                 <p>
                  <input type="text" name="field"  id="field" value="<!-- tmpl_var field escape="HTML"  -->" class="full" <!-- tmpl_if using_SQLite --><!-- tmpl_if edit_field -->disabled="disabled"<!-- /tmpl_if --><!-- /tmpl_if --> /><br /> 
                  <em>
					Use underscores, instead of spaces - no funny characters, and use lower case characters instead of uppercase.
                  </em><br /> <br /> 
                  

<!-- tmpl_if using_SQLite -->
	<!-- tmpl_if edit_field -->
	
</p>
	<p class="error">Disabled. SQLite backend currently doesn't support renaming fields.</p>
	<p>
		
	<!-- /tmpl_if -->
<!-- /tmpl_if -->


                  <em>Field Names prefixed with, &quot;<!-- tmpl_var HIDDEN_SUBSCRIBER_FIELDS_PREFIX escape="HTML" -->&quot; will not be displayed on public subscription forms.</em>
                  
                </p>
            </td> 
            </tr> 
            <tr> 
             <td> 
             
                <p>
                 <label for="fallback_field_value">Fallback Value</label> 
                </p>
               </td> 
               <td> 
                <p>
                    <input type="text" name="fallback_field_value" id="fallback_field_value"  value="<!-- tmpl_var fallback_field_value escape="HTML" -->" class="full" /><br />
                    <em>This value is used in things like mail merging, when there's no information saved for the subscriber. </em>
                </p>
            
            </td>
              </tr> 
              </table> 
                
                
            
            
            
            <div class="buttonfloat">
                
				<!-- tmpl_unless edit_field --> 

                	<input type="submit" value="Add Field" class="processing" /> 
            
				<!-- tmpl_else --> 
            	
					<input type="submit" value="Edit Field, &quot;<!-- tmpl_var field -->&quot;" class="processing" /> 
				
				<!-- /tmpl_unless --> 
				</div>
            <div class="floatclear"></div>
            
            
                </form> 
        
        <!-- tmpl_else --> 
        
            <p class="error">Disabled. You must be logged in using the <!-- tmpl_var PROGRAM_NAME --> Root Password.</p>
        
        <!--/tmpl_if-->
       
       </fieldset> 

    <!-- tmpl_else --> 
    
    
        <p class="error"> 
         Your current subscription backend does not support subscriber fields. 
        </p> 

<!-- /tmpl_if --> 


<!-- tmpl_include help_link_widget.tmpl --> 



<!-- end subscriber_fields.tmpl --> 

