<!-- begin view_list_prev_next_table.tmpl -->

<table width="100%">
 <tr>
  
<!-- tmpl_if use_previous_screen -->
	  
	  <td>
	   <p>
	    <a href="<!-- tmpl_var name="S_PROGRAM_URL" -->?f=<!-- tmpl_var flavor default="view_list" -->&amp;start=<!-- tmpl_var name="previous_screen" -->&amp;length=<!-- tmpl_var name="view_list_subscriber_number" -->&amp;type=<!-- tmpl_var type -->&amp;keyword=<!-- tmpl_var keyword escape="HTML"-->">
	     &lt;- previous <!-- tmpl_var name="view_list_subscriber_number" -->
	    </a>
	   </p>
	  </td>
	  
<!--/tmpl_if-->

<!-- tmpl_if show_next_screen_link -->
	  
	  <td  align="right">
	   <p>
	    <a href="<!-- tmpl_var name="S_PROGRAM_URL" -->?f=<!-- tmpl_var flavor default="view_list" -->&amp;start=<!-- tmpl_var name="next_screen" -->&amp;length=<!-- tmpl_var name="view_list_subscriber_number" -->&amp;type=<!-- tmpl_var type -->&amp;keyword=<!-- tmpl_var keyword escape="HTML"-->">
	     next <!-- tmpl_var name="view_list_subscriber_number" --> -&gt;
	    </a>
	   </p>
	  </td>
	  
<!-- /tmpl_if -->
  
 </tr>
</table>

<!-- end view_list_prev_next_table.tmpl -->
