<!-- begin view_list_table_widget.tmpl --> 


 <table class="stripedtable">
  <tr>
	 <!-- tmpl_unless no_checkboxes --> 
   		<td width="25">
    		<p>&nbsp;</p>
   		</td>
	<!-- /tmpl_unless --> 
	
	<!-- tmpl_if show_list_column --> 
	<td>
	    <p>
	     <strong>
	      List
	     </strong>
	    </p>
	   </td>
	<!-- /tmpl_if --> 
	
   <td>
    <p>

		<!-- tmpl_if expr="(order_by ne 'email')" -->
			<a href="javascript:change_order('email', 'asc');">
		<!-- /tmpl_if --> 
		
		<!-- tmpl_if expr="(order_by eq 'email') && (order_dir eq 'asc')" -->
			<a href="javascript:change_order('email', 'desc');">
		<!-- /tmpl_if --> 
		
		
		<!-- tmpl_if expr="(order_by eq 'email') && (order_dir eq 'desc')" -->
			<a href="javascript:change_order('email', 'asc');">
		<!-- /tmpl_if -->
     <strong>
		Email
		</strong>
		
		<!-- tmpl_if expr="(order_by eq 'email') && (order_dir eq 'asc')" -->
			<sub>&#x25B2;</sub>
		<!-- /tmpl_if -->
		
		<!-- tmpl_if expr="(order_by eq 'email') && (order_dir eq 'desc')" -->
			<sub>&#x25BC;</sub>
		<!-- /tmpl_if -->     
	</a>
    </p>
   </td>
  <!-- tmpl_loop field_names --> 
   <td>
    <p>
	   	<!-- tmpl_if expr="(order_by ne name)" -->
			<a href="javascript:change_order('<!-- tmpl_var name escape="HTML" -->', 'asc');">
		<!-- /tmpl_if --> 
		<!-- tmpl_if expr="(order_by eq name) && (order_dir eq 'asc')" -->
    		<a href="javascript:change_order('<!-- tmpl_var name escape="HTML" -->', 'desc');">
		<!-- /tmpl_if -->
		<!-- tmpl_if expr="(order_by eq name) && (order_dir eq 'desc')" -->
			<a href="javascript:change_order('<!-- tmpl_var name escape="HTML" -->', 'asc');">
		<!-- /tmpl_if -->
     <strong>
	  <!-- tmpl_if label --> 
			<!-- tmpl_var label --> 
	  <!-- tmpl_else --> 
      		<!-- tmpl_var name --> 
      <!-- /tmpl_if --> 
	</strong>

		<!-- tmpl_if expr="(order_by eq name) && (order_dir eq 'asc')" -->
			<sub>&#x25B2;</sub>
		<!-- /tmpl_if -->
		
		<!-- tmpl_if expr="(order_by eq name) && (order_dir eq 'desc')" -->
			<sub>&#x25BC;</sub>
		<!-- /tmpl_if -->
	</a>
    </p>
   </td>
  <!--/tmpl_loop --> 
  </tr>

<!-- tmpl_loop subscribers -->
	   
	   <tr <!-- tmpl_if __odd__ -->class="alt"<!--/tmpl_if-->>

		   <!-- tmpl_unless no_checkboxes --> 
		
	    <td width="25">
	  
			<input type="checkbox" name="address" value="<!-- tmpl_var email escape="HTML" -->" />

		</td>
			    <!-- /tmpl_unless --> 
	    
			<!-- tmpl_if show_list_column --> 
	
				<td>
				    <p>
				     <strong>
				      <!-- tmpl_var list --> 
				     </strong>
				    </p>
				   </td>
			
			<!-- /tmpl_if --> 
				
	<td>
	     <p>
		
	 	
		<!-- tmpl_if expr="(type eq 'bounced_list')" -->
			<a href="<!-- tmpl_var S_PROGRAM_URL -->?f=view_bounce_history;email=<!-- tmpl_var email ESCAPE=URL -->" title="Bounce Log for <!-- tmpl_var email escape=HTML -->" onclick="Modalbox.show(this.href, {title: this.title, width: 640, height:480}); return false;">
			 <!-- tmpl_var email -->
		    </a>
		<!-- /tmpl_if --> 
		<!-- tmpl_if expr="((no_email_links) != 1 && (type ne 'bounced_list'))" -->
			<a href="<!-- tmpl_var S_PROGRAM_URL -->?f=membership;email=<!-- tmpl_var email ESCAPE=URL -->;type=<!-- tmpl_var type ESCAPE=URL -->;page=<!-- tmpl_var page ESCAPE=URL -->;order_by=<!-- tmpl_var order_by ESCAPE=URL -->;order_dir=<!-- tmpl_var order_dir ESCAPE=URL -->;query=<!-- tmpl_var query ESCAPE=URL -->" >
				<!-- tmpl_var email --> 
			</a>
		<!-- /tmpl_if -->
		<!-- tmpl_if expr="((no_email_links) == 1 && (type ne 'bounced_list'))" -->		
				<!-- tmpl_var email --> 
		<!-- /tmpl_if -->
 	 	</p>
	    </td>
	    
	    <!-- tmpl_loop fields --> 
	    
	    <td>
	     <p>
			<!-- tmpl_var value -->
	 	</p>
	    </td>
	    <!-- /tmpl_loop --> 
	   </tr>
<!-- /tmpl_loop -->
   
  </table>



<!-- end  begin view_list_table_widget.tmpl --> 
