<!-- begin view_list_modalmenu_widget.tmpl --> 

<!-- tmpl_if expr="((add_email_count > 0) || (delete_email_count  > 0) || (black_list_add > 0) || (approved_count  > 0) || (denied_count  > 0) || (bounced_list_moved_to_list_count  > 0) || (bounced_list_removed_from_list > 0) )" --> 

<div class="clearskiesbox" id="alertbox">
	
	
<!-- tmpl_if add_email_count -->	
	<p>
	<!-- tmpl_if email --> 
		<!-- tmpl_var email --> has been
	<!-- tmpl_else --> 
		<!-- tmpl_var name="add_email_count" --> address(es) have been 
	<!-- /tmpl_if --> 
	added to your <!-- tmpl_var type_title -->.
	</p>
<!-- /tmpl_if -->


<!-- tmpl_if skipped_email_count -->
	<p>
		<!-- tmpl_if email --> 
			<!-- tmpl_var email --> 
		<!-- tmpl_else --> 
			<!-- tmpl_var name="skipped_email_count" --> address(es) 
		<!-- /tmpl_if --> 	
			could not be added to your <!-- tmpl_var type_title -->.
	</p>	
<!-- /tmpl_if -->

<!-- tmpl_if delete_email_count -->
	<p>
		<!-- tmpl_if email --> 
			<!-- tmpl_var email --> has been 
		<!-- tmpl_else --> 
			<!-- tmpl_var delete_email_count --> address(es) have been 
		<!-- /tmpl_if --> 	
			removed from, <!-- tmpl_var type_title -->.
	</p>
<!-- /tmpl_if -->



<!-- tmpl_if approved_count --> 
	<p>
		<!-- tmpl_if email --> 
			<!-- tmpl_var email --> has been 
		<!-- tmpl_else --> 
			<!-- tmpl_var name="approved_count" --> address(es) have been 
		<!-- /tmpl_if --> 	
			approved for subscription.
	</p>
<!-- /tmpl_if --> 

<!-- tmpl_if denied_count --> 
	<p>
		<!-- tmpl_if email --> 
			<!-- tmpl_var email --> has been 
		<!-- tmpl_else --> 
			<!-- tmpl_var name="denied_count" --> address(es) have been 
		<!-- /tmpl_if --> 
		denied a subscription.
	</p>
<!-- /tmpl_if -->

<!-- tmpl_if bounced_list_moved_to_list_count --> 
	<p>
		<!-- tmpl_if email --> 
			<!-- tmpl_var email --> has been 
		<!-- tmpl_else --> 
			<!-- tmpl_var name="bounced_list_moved_to_list_count" --> address(es) have been 
		<!-- /tmpl_if -- >
			moved back to your <a href="javascript:change_type('list');">Subscription List</a>.
	</p>
<!-- /tmpl_if -->

<!-- tmpl_if bounced_list_removed_from_list --> 
	<p>
	
	<!-- tmpl_if email --> 
		<!-- tmpl_var email --> has been 
	<!-- tmpl_else --> 
		<!-- tmpl_var name="bounced_list_removed_from_list" --> bouncing address(es) have been 
	<!-- /tmpl_if -->
	permanently removed from you <a href="javascript:change_type('list');">Subscribers</a>.
	</p>
<!-- /tmpl_if -->

<!-- tmpl_if black_list_add --> 
	<p>
		<!-- tmpl_if email --> 
			<!-- tmpl_var email --> has been 
		<!-- tmpl_else --> 
			<!-- tmpl_var black_list_add --> address(es) have been
		<!-- /tmpl_if -->
		
		 added to your <a href="javascript:change_type('black_list');">Black List</a>. 
	</p>
<!-- /tmpl_if -->

		
	<div style="text-align: center;">
	
	<input type="button" class="small_button" value="Thanks!" onClick="Effect.Fade('alertbox');" />
	</div>

</div> 

<!-- /tmpl_if -->



<!-- end view_list_modalmenu_widget.tmpl --> 
