<!-- begin what_is_dada_mail.tmpl -->


<h1>Dada Mail - Write Once: Distribute Everywhere </h1>


<p>

 

   <a href="http://dadamailproject.com/download" title="Click to download Dada Mail! (a free download!)">
    <img src="<!-- tmpl_var PROGRAM_URL -->/img/dada_mail_screenshot.jpg" style="border: 1px solid black; margin: 7px; float: right;" border="0" height="297" width="300" alt="Dada Mail" />
  </a>
  
  <a href="http://dadamailproject.com/">Dada Mail</a> is an intuitive, web-based e-mail list management system, which
    runs on any hosting account that can execute custom CGI scripts. <a href="http://dadamailproject.com/">Dada Mail</a>
    is also a conceptual art project. [<a href="http://dadamailproject.com/project">More Information</a>]</p>
 
 <p><a href="http://dadamailproject.com/">Dada Mail</a> handles Closed-Loop Opt-in/Opt-out subscriptions, sending complex announce-only
    and/or discussion mailing list messages, archiving, viewing, searching, resending, syndicating,
    (rss, atom) sent messages and doing all this and more  with <em>style</em>.    </p>
  
  <p>
  <a href="http://dadamailproject.com/">
   Dada Mail
  </a>
  
  produces XHTML valid web content and sticks to best practices
    when creating email messages. Write <strong>Once</strong>: Distribute <strong>Everywhere</strong>.
      <a href="http://dadamailproject.com/">Dada Mail</a> is free software that you're able to use, modify and enhance
    under the terms of the GNU General Public License. </p>
    

<!-- end what_is_dada_mail.tmpl -->
