<!-- begin captcha_recaptcha_mailhide_test_widget.tmpl --> 
	<!-- tmpl_if errors --> 
		<div class="alert-box info radius"> 
			<p>
				<strong>
					reCAPTCHA Mailhide Configuration Failed:
				</strong>
			</p>
			<p><code><!-- tmpl_var errors escape="HTML" --></code></p>
		</div> 
		
	<!-- tmpl_else --> 
	
<!-- tmpl_if comment --> 
<!-- tmpl_var captcha escape="HTML" --></pre> 
<!-- /tmpl_if --> 
		
		<div class="alert-box info radius"> 
			<p>
				If you see the reCAPTCHA widget below, <strong>reCAPTCHA</strong> Configuration Worked!.
			</p>
			
			<!-- tmpl_if captcha --> 
				<h1 style="text-align:center">
					<!-- tmpl_var captcha -->
				</h1> 
			<!-- /tmpl_if --> 
		</div>
	
	<!-- /tmpl_if --> 
	
<!-- end captcha_recaptcha_test_widget.tmpl -->