
DADA MAIL INSTALL/CONFIGURATION SCRIPT! 

This script has a separate web and command line interface - this help covers
the command line interface. This interface is currently very volatile and we
would really appreciate your help in making it better. The web-based installer
is very easy to use, the command line installer is as easy as most command line 
utilities are (not exactly optimized for a casual user). 

Please file any problems at: 

	https://github.com/justingit/dada-mail/issues

INSTALLATION: REQUIRED PARAMETERS:

The following parameters are required, if you're INSTALLING Dada Mail. If you 
are UPGRADING Dada Mail, you may have other options. 
 
--program_url

	The URL of your Dada Mail, "mail.cgi" script

--dada_root_pass

	The Dada Mail Root Password you'd like to use 

--support_files_dir_path
--support_files_dir_url

	These parameters need to be passed with the value publicly accessible directory 
	(something in your public_html directory), in both the absolute server path
	(--support_files_dir_path) and URL (--support_files_dir_url). 
	
	This directory will have an additional directory created inside it, called, 
	"dada_mail_support_files", where the installer will place the necessary 
	static files/resouces required for Dada Mail. 

--dada_files_loc

	The directory that the installer should create the, ".dada_files" directory 
	under

--deployment_running_under

    Optional, defaults to, "CGI". Pass one of the following: 

    * FastCGI to run under FastCGI

    * PSGI to run under FastCGI/Plack

    As long as your web server is set up to run CGI scripts (Apache, mod_cgi),
    setting this parameter to, "CGI" will be all you need. 

    If you're running Dada Mail under Apache and mod_fastcgi/fcgi, you again should 
    be pretty much all set. 

    Running Dada Mail under (say) nginx and either FastCGI or PSGI/Plack, you will 
    most definitely have to set up the server configuration and manually start up
    Dada Mail as a FastCGI or PSGI process. 

--backend

	The backend you'd like to use. Can be set to use any of the following: 
		
	mysql 
		Uses a MySQL database
	
	Pg
		Uses a PostgreSQL database
		
If you set, --backend to either, "mysql", or, "Pg" you will also have to pass
the following parameters: 

	--sql_server
		SQL server

	--sql_port
		SQL port - can be set to, "auto" to choose the default port for mysql and Pg

	--sql_database
		The name of your database
	
	--sql_username
		Your mysql username

	--sql_password
		Your mysql password

OPTIONAL PARAMETERS

	--install_plugins

Takes a comma separated (no space between the comma) list of plugin/extension names. 

The following plugins/extensions are supported: 

	mailing_monitor
	change_root_password
	screen_cache
	log_viewer
	tracker
	bridge
	bounce_handler
	change_list_shortname
	password_protect_directories
	multiple_subscribe
	blog_index
	
Example: 

		--install_plugins mailing_monitor,change_root_password,screen_cache

This also works: 

	--install_plugins mailing_monitor --install_plugins change_root_password --install_plugins screen_cache

WYSIWYG Editors

	--install_wysiwyg_editors

If passed, will enable you to install the WYSIWYG editors +  File Browser. 
You will *also* have to pass one or more of the following: 

	--wysiwyg_editor_install_ckeditor

		Installs CKeditor

	--wysiwyg_editor_install_tiny_mce

		Installs Tiny MCE
	
	--file_browser_install
	
	    pass either, "kcfinder" to install the KCFinder File Browser,
	    or pass, "core5_filemanager" to install the Core5 Filemanager

A complete example of invoking the installer with the above parameters: 

	./install.cgi --program_url http://example.com/cgi-bin/dada/mail.cgi \
	--dada_root_pass secret \
	--dada_files_loc /home/example \
	--support_files_dir_path /home/example/public_html \
	--support_files_dir_url http://example.com \
	--backend mysql \
	--sql_server localhost \
	--sql_port 3306 \
	--sql_database dada_mail \
	--sql_username username \
	--sql_password password \
	--install_plugins mailing_monitor \
	--install_plugins change_root_password \
	--install_plugins screen_cache \
	--install_plugins log_viewer \
	--install_plugins tracker \
	--install_plugins multiple_subscribe \
	--install_plugins blog_index \
	--install_plugins default_mass_mailing_message \
	--install_plugins change_list_shortname \
	--install_wysiwyg_editors \
	--wysiwyg_editor_install_ckeditor \
	--wysiwyg_editor_install_tiny_mce \
	--file_browser kcfinder

UPGRADING

If you are using the installer to upgrade FROM AN INSTALL OF DADA MAIL YOU INSTALLED, 
USING THE INSTALLER, you may simply pass the, 

	--dada_files_loc
		
flag, as well as the, 

	--upgrading
	
parameter, and the installer will install Dada Mail, based on the previous values in your
global configuration.

You may then pass *additional* parameters, to augment the previous configuration. 

For example: 

	./install.cgi --dada_files_loc /home/account --upgrading
	
Will upgrade Dada Mail, pulling the previous global config values, 

	./install.cgi --dada_files_loc /home/account --upgrading \
	--install_wysiwyg_editors \
	--wysiwyg_editor_install_ckeditor
	--install_plugins mailing_monitor,change_root_password,screen_cache
	
Will upgrade Dada Mail, pulling the previous global config values, AS WELL AS
making sure the CKEditor and the three plugins are also installed. 

You CANNOT use the, "--dada_files_dir_setup" parameter with the, "--upgrading" 
parameter. You must explicitly set the, "--dada_files_loc". 

Not ALL global configuration values can be moved over, when upgrading. Rather, 
ONLY VARIABLES YOU CAN SET USING THE INSTALLER are supported. 

INSTALLING WITH EXISTING INFORMATION

If performing an partial upgrade or doing some of your installation manually, 
you can tell Dada Mail to skip some of the tests it would usually preform, before 
configuring Dada Mail: 

--dada_files_dir_setup 

	If you pass this parameter with a value of, "auto", you do not need to 
	pass the,  "--dada_files_loc" parameter PROVIDED THAT you're certain that 
	the directory it automatically discovers to create the, ".dada_files" 
	directory structure will be correct. The installer usually guesses the home 
	directory.
	
--skip_configure_SQL

	By default, the installer will make sure the database you pass in, 
	"--sql_database" doesn't already have the tables required for a Dada Mail
	install. If you've already set up these tables (for example, in a previous
	version of Dada Mail) pass this parameter with a value of, "1" to simply 
	use the sql_* parameters you're passing, without attempting to set up 
	the database, itself. 

--if_dada_files_already_exists

	If you pass this parameter, 
	
		keep_dir_create_new_config

	The installer will install Dada Mail, even if a already-existing, 
	".dada_files" directory is found. 
	
	If you pass this parameter 
	
		skip_configure_dada_files
		
	NO other parameter is really required, except, "--dada_files_loc" PROVIDED
	THAT the directory you pass in that parameter has an already-set up 
	.dada_files directory,  including a valid .dada_config file. When passing this 
	parameter, this  script will simply change the, "dada/DADA/Config.pm" file to point to 
	the already-created ".dada_files" directory.
			
OTHER PARAMETERS

--help
	Displays this help doc. Use: 
	
		./install.cgi | less 
		
	(or something similar) so that the script doesn't zoom to the end.
		