
You'll need to pass some required arguments. See, 

	./install.cgi --help | less

for documentation.

REQUIRED

--program_url
--dada_root_pass
--dada_files_loc
--backend

OPTIONAL 

--sql_server
--sql_port
--sql_database
--sql_username
--sql_password

--dada_files_dir_setup 
--skip_configure_SQL
--skip_configure_dada_files

