#---------------------------------------------------------------------#
# Dada Mail Outside Config File! (.dada_config)
#
#         Dada Mail Global Variables Configuration Guide: 
#
#         http://dadamailproject.com/d/global_variables.pod.html
#
#---------------------------------------------------------------------#
# The location of your .dada_config directory: 
#
$DIR = '<!-- tmpl_var dada_files_dir -->';

#---------------------------------------------------------------------#
# The URL to access Dada Mail:
#
$PROGRAM_URL   = '<!-- tmpl_var PROGRAM_URL -->';
$S_PROGRAM_URL = '<!-- tmpl_var PROGRAM_URL -->';

$RUNNING_UNDER = '<!-- tmpl_var deployment_RUNNING_UNDER default="CGI" -->';

<!-- tmpl_if configure_perl_env -->
$ADDITIONAL_PERLLIBS = [	
<!-- tmpL_loop additional_perllibs -->
'<!-- tmpl_var name -->',
<!-- /tmpl_loop>
]; 
<!-- /tmpl_if -->

#---------------------------------------------------------------------#
# The location (server path + URL) of static, support files
#
$SUPPORT_FILES = { 
	dir => '<!-- tmpl_var support_files_dir_path -->', 
	url => '<!-- tmpl_var support_files_dir_url -->', 
};

#---------------------------------------------------------------------#
# The Dada Mail Root Pass: 
#
# Start Root Password

$PROGRAM_ROOT_PASSWORD    = '<!-- tmpl_var ROOT_PASSWORD -->';
$ROOT_PASS_IS_ENCRYPTED   = '<!-- tmpl_var ROOT_PASS_IS_ENCRYPTED -->';

# End Root Password
#---------------------------------------------------------------------#

<!-- tmpl_if configure_SQL --> 
#---------------------------------------------------------------------#
# Backend Database Configuration: 

$BACKEND_DB_TYPE = 'SQL';

%SQL_PARAMS = ( 

	# May just be, "localhost" 
	dbserver         => '<!-- tmpl_var sql_server default="localhost" -->',
		
	database         => '<!-- tmpl_var sql_database -->',
	
	# MySQL:      3306
	# PostgreSQL: 5432      
	port             => '<!-- tmpl_var sql_port default="3306" -->',
	
	# MySQL:      mysql 
	# PostgreSQL: Pg
	# SQLite:     SQLite
	dbtype           => '<!-- tmpl_var backend default="mysql" -->',  
	
	user             => '<!-- tmpl_var sql_username -->',          
	pass             => '<!-- tmpl_var sql_password -->',

);
<!-- /tmpl_if --> 





#---------------------------------------------------------------------#
# WYSIWYG Editor/File Browser Options

# start cut for WYSIWYG Editor Options
=cut

$WYSIWYG_EDITOR_OPTIONS = { 
	ckeditor    => { 
		enabled => 0, 
		url     => '', 
	}, 
	tiny_mce => { 
		enabled => 0, 
		url     => '', 
	},
};

$FILE_BROWSER_OPTIONS = { 
	kcfinder  => { 
		enabled      => 0, 
		url          => '', 
		upload_dir   => '', 
		upload_url   => '',
		session_name => 'PHPSESSID', 
		session_dir  => '/tmp',
	},
	core5_filemanager  => { 
		enabled      => 0, 
	},
	rich_filemanager { 
		enabled => 0,
	}
};

=cut
# end cut for WYSIWYG Editor Options

<!-- tmpl_if configure_scheduled_jobs -->
$SCHEDULED_JOBS_OPTIONS = { 
   scheduled_jobs_flavor => '<!-- tmpl_var scheduled_jobs_flavor default="_schedules" -->', 
   log                   => <!-- tmpl_var scheduled_jobs_log    default="0" -->, 
   run_at_teardown       => <!-- tmpl_var scheduled_jobs_run_at_teardown default="0" -->,
};
<!-- /tmpl_if -->

<!-- tmpl_if configure_profiles --> 

#---------------------------------------------------------------------#
# Profile Options 

$PROFILE_OPTIONS = { 
		
	enabled                         => <!-- tmpl_var profiles_enabled default="0" -->, 
	profile_email                   => '<!-- tmpl_var profiles_profile_email default="" -->', 
	profile_host_list               => '<!-- tmpl_var profiles_profile_host_list default="" -->', 
	enable_captcha                  => <!-- tmpl_var profiles_enable_captcha  default="0" -->, 
	
	update_email_options            => 
	{ 
		send_notification_to_profile_email => 0, 
		subscription_check_skip            => 'auto', 
		
	},
		
	gravatar_options => 
	{
		enable_gravators     => 1, 
		default_gravatar_url => undef,
	},
	
	features => 
	{ 
		register                    => <!-- tmpl_var profiles_register default="0"  -->, 
		password_reset              => <!-- tmpl_var profiles_password_reset  default="0" -->, 
		profile_fields              => <!-- tmpl_var profiles_profile_fields  default="0" -->, 
		mailing_list_subscriptions  => <!-- tmpl_var profiles_mailing_list_subscriptions  default="0" -->, 
		protected_directories       => <!-- tmpl_var profiles_protected_directories  default="0" -->, 
		update_email_address        => <!-- tmpl_var profiles_update_email_address  default="0" -->, 
		change_password             => <!-- tmpl_var profiles_change_password  default="0" -->, 
		delete_profile              => <!-- tmpl_var profiles_delete_profile  default="0" -->, 
	},
	cookie_params =>
	{ 
		-name    => 'dada_profile',  
	    -path    => '/',
	    -expires => '+1y',		
	},

};

<!-- /tmpl_if --> 

<!-- tmpl_if configure_cache --> 
#---------------------------------------------------------------------#
# Cache Options 

$SCREEN_CACHE = <!-- tmpl_var cache_options_SCREEN_CACHE  default="1" -->; 
$DATA_CACHE   = <!-- tmpl_var cache_options_DATA_CACHE  default="1" -->; 
<!-- /tmpl_if --> 


<!-- tmpl_if configure_debugging --> 
#---------------------------------------------------------------------#
# Debugging Options 

$DEBUG_TRACE = {
    DADA_App_BounceHandler          => <!-- tmpl_var debugging_options_DADA_App_BounceHandler          default="0" -->,
    DADA_App_DBIHandle              => <!-- tmpl_var debugging_options_DADA_App_DBIHandle              default="0" -->,
    DADA_App_FormatMessages         => <!-- tmpl_var debugging_options_DADA_App_FormatMessages         default="0" -->,
    DADA_App_Subscriptions          => <!-- tmpl_var debugging_options_DADA_App_Subscriptions          default="0" -->,
    DADA_App_WebServices            => <!-- tmpl_var debugging_options_DADA_App_WebServices            default="0" -->,
    DADA_Logging_Clickthrough       => <!-- tmpl_var debugging_options_DADA_Logging_Clickthrough       default="0" -->,
    DADA_Mail_MailOut               => <!-- tmpl_var debugging_options_DADA_Mail_MailOut               default="0" -->,
    DADA_Mail_Send                  => <!-- tmpl_var debugging_options_DADA_Mail_Send                  default="0" -->,
    DADA_MailingList                => <!-- tmpl_var debugging_options_DADA_MailingList                default="0" -->,
    DADA_MailingList_MessageDrafts  => <!-- tmpl_var debugging_options_DADA_MailingList_MessageDrafts  default="0" -->,
    DADA_Profile                    => <!-- tmpl_var debugging_options_DADA_Profile                    default="0" -->,
    DADA_Profile_Fields             => <!-- tmpl_var debugging_options_DADA_Profile_Fields             default="0" -->,
    DADA_Profile_Session            => <!-- tmpl_var debugging_options_DADA_Profile_Session            default="0" -->,
};

%CPAN_DEBUG_SETTINGS = (
    DBI             =>  <!-- tmpl_var debugging_options_DBI              default="0" -->,
    HTML_TEMPLATE   =>  <!-- tmpl_var debugging_options_HTML_TEMPLATE    default="0" -->,
    MIME_LITE_HTML  =>  <!-- tmpl_var debugging_options_MIME_LITE_HTML   default="0" -->,
    NET_POP3        =>  <!-- tmpl_var debugging_options_NET_POP3         default="0" -->,
    NET_SMTP        =>  <!-- tmpl_var debugging_options_NET_SMTP         default="0" -->,
);

<!-- /tmpl_if -->




<!-- tmpl_if configure_templates --> 
#---------------------------------------------------------------------#
# Template Options 
$TEMPLATE_OPTIONS = {
    user => { 
            enabled        => <!-- tmpl_var template_options_enabled default="0" -->,
            mode           => '<!-- tmpl_var template_options_mode default="manual" -->',
            manual_options => { 
                template_url => '<!-- tmpl_var template_options_manual_template_url -->',
            },
            magic_options  => { 
                template_url         => '<!-- tmpl_var template_options_magic_template_url         -->', 
                add_base_href        =>  <!-- tmpl_var template_options_add_base_href default="0"  -->, 
                base_href_url        => '<!-- tmpl_var template_options_base_href_url              -->', 
                replace_content_from => '<!-- tmpl_var template_options_replace_content_from       -->',
                replace_id           => '<!-- tmpl_var template_options_replace_id                 -->', 
                replace_class        => '<!-- tmpl_var template_options_replace_class              -->', 
                add_app_css          =>  <!-- tmpl_var template_options_add_app_css default="0"    -->, 
                add_custom_css       =>  <!-- tmpl_var template_options_add_custom_css default="0" -->, 
                custom_css_url       => '<!-- tmpl_var template_options_custom_css_url             -->', 
                
                include_jquery_lib    => <!-- tmpl_var template_options_include_jquery_lib   default="0" -->, 
                include_app_user_js   => <!-- tmpl_var template_options_include_app_user_js  default="0" -->, 
                head_content_added_by => '<!-- tmpl_var template_options_head_content_added_by  default="push" -->', 
            }
    }, 
};
<!-- /tmpl_if --> 




<!-- tmpl_if configure_security --> 
#---------------------------------------------------------------------#
# Security Options 

$SHOW_ADMIN_LINK        = <!-- tmpl_var security_SHOW_ADMIN_LINK  default="1" -->; 
$DISABLE_OUTSIDE_LOGINS = <!-- tmpl_var security_DISABLE_OUTSIDE_LOGINS  default="0" -->;
$ADMIN_FLAVOR_NAME      = '<!-- tmpl_var security_ADMIN_FLAVOR_NAME  default="admin" -->'; 
$SIGN_IN_FLAVOR_NAME    = '<!-- tmpl_var security_SIGN_IN_FLAVOR_NAME  default="sign_in" -->'; 

$CP_SESSION_PARAMS = { 
	check_matching_ip_addresses => <!-- tmpl_var security_session_params_check_matching_ip_addresses default="0" -->, 
};

$RATE_LIMITING = { 
	enabled   => <!-- tmpl_var security_rate_limiting_enabled default="0" -->,
	max_hits  => <!-- tmpl_var security_rate_limiting_max_hits -->, 
	timeframe => <!-- tmpl_var security_rate_limiting_timeframe -->,
};

$FILE_CHMOD = <!-- tmpl_var security_default_file_permissions default="0644" -->;
$DIR_CHMOD  = <!-- tmpl_var security_default_directory_permissions default="0755" -->;

<!-- /tmpl_if -->


<!-- tmpl_if configure_captcha --> 
#---------------------------------------------------------------------#
# CAPTCHA Options 

$CAPTCHA_TYPE = 'Google_reCAPTCHA';
$RECAPTCHA_PARAMS = {
	on_subscribe_form =>  '<!-- tmpl_var captcha_on_subscribe_form default="0" -->',
    public_key        =>  '<!-- tmpl_var captcha_reCAPTCHA_public_key -->',
    private_key       =>  '<!-- tmpl_var captcha_reCAPTCHA_private_key -->',
};

$RECAPTHCA_MAILHIDE_PARAMS = {
    public_key   => '<!-- tmpl_var captcha_reCAPTCHA_Mailhide_public_key -->',
    private_key  => '<!-- tmpl_var captcha_reCAPTCHA_Mailhide_private_key -->',
};
<!-- /tmpl_if -->

<!-- tmpl_if configure_mime_tools -->
#---------------------------------------------------------------------#
# MIME_TOOLS Options 

$MIME_TOOLS_PARAMS = { 
	tmp_to_core    => '<!-- tmpl_var mime_tools_options_tmp_to_core default="0" -->', 
	tmp_dir        => '<!-- tmpl_var mime_tools_options_tmp_dir -->'
};
<!-- tmpl_else -->

<!-- /tmpl_if -->

<!-- tmpl_if configure_global_mailing_list_options --> 
#---------------------------------------------------------------------#
# Global Mailing List Options 

$GLOBAL_UNSUBSCRIBE = <!-- tmpl_var global_mailing_list_options_GLOBAL_UNSUBSCRIBE default="0" -->;
$GLOBAL_BLACK_LIST  = <!-- tmpl_var global_mailing_list_options_GLOBAL_BLACK_LIST  default="0" -->;
<!-- /tmpl_if -->


<!-- tmpl_if configure_mass_mailing --> 
#---------------------------------------------------------------------#
# Mass Mailing Options 

$MAILOUT_AT_ONCE_LIMIT = <!-- tmpl_var mass_mailing_MAILOUT_AT_ONCE_LIMIT default="1" -->; 
$MAILOUT_STALE_AFTER   = <!-- tmpl_var mass_mailing_MAILOUT_STALE_AFTER   default="86400" -->; 
<!-- /tmpl_if -->





<!-- tmpl_if configure_confirmation_token --> 
#---------------------------------------------------------------------#
# Confirmation Token Options

$CONFIRMATION_TOKEN_OPTIONS = { 
	expires => <!-- tmpl_var confirmation_token_expires default="60" -->,
};
<!-- /tmpl_if -->





<!-- tmpl_if configure_amazon_ses --> 
#---------------------------------------------------------------------#
# Amazon SES Options

$AMAZON_SES_OPTIONS = { 
    AWS_endpoint                     => '<!-- tmpl_var AWS_endpoint default="https://email.us-east-1.amazonaws.com/" -->', 
	AWSAccessKeyId                   => '<!-- tmpl_var AWSAccessKeyId -->', 
	AWSSecretKey                     => '<!-- tmpl_var AWSSecretKey -->', 
	Allowed_Sending_Quota_Percentage => '<!-- tmpl_var Allowed_Sending_Quota_Percentage default="90" -->',
};
<!-- /tmpl_if -->

<!-- tmpl_if cut_list_settings_default -->
# start cut for list settings defaults
=cut
<!-- /tmpl_if -->
%LIST_SETUP_INCLUDE = (
	set_smtp_sender              => 1, # For SMTP
	add_sendmail_f_flag          => 1, # For Sendmail Command
	admin_email                  => '<!-- tmpl_var bounce_handler_Address default="" -->',
);
<!-- tmpl_if cut_list_settings_default -->
=cut
# end cut for list settings defaults
<!-- /tmpl_if -->



<!-- tmpl_if cut_plugin_configs -->
# start cut for plugin configs
=cut
<!-- /tmpl_if -->

$PLUGINS_ENABLED = {
    boilerplate_plugin            => <!-- tmpl_var install_boilerplate_plugin            default="0" -->,
    tracker                       => <!-- tmpl_var install_tracker                       default="1" -->,
    bounce_handler                => <!-- tmpl_var install_bounce_handler                default="0" -->,
    bridge                        => <!-- tmpl_var install_bridge                        default="0" -->,
    change_root_password          => <!-- tmpl_var install_change_root_password          default="0" -->,
    change_list_shortname         => <!-- tmpl_var install_change_list_shortname         default="0" -->,
    password_protect_directories  => <!-- tmpl_var install_password_protect_directories  default="0" -->,
    log_viewer                    => <!-- tmpl_var install_log_viewer                    default="1" -->,
    screen_cache                  => <!-- tmpl_var install_screen_cache                  default="1" -->,
    global_config                 => <!-- tmpl_var install_global_config                 default="0" -->,
    view_list_settings            => <!-- tmpl_var install_view_list_settings            default="0" -->,
    usage_log_to_consent_activity => <!-- tmpl_var install_usage_log_to_consent_activity default="0" -->,
	
};

$PLUGIN_CONFIGS = { 

	Bounce_Handler => {
		Server                      => <!-- tmpl_var bounce_handler_Server default="''"-->,
		Username                    => <!-- tmpl_var bounce_handler_Username default="''"-->,
		Password                    => <!-- tmpl_var bounce_handler_Password default="''"-->,
		Port                        => <!-- tmpl_var bounce_handler_Port default="AUTO"-->,
		USESSL                      => <!-- tmpl_var bounce_handler_USESSL default="0"-->,
		starttls                    => <!-- tmpl_var bounce_handler_starttls default="0"-->,
		SSL_verify_mode             => <!-- tmpl_var bounce_handler_SSL_verify_mode default="0"-->,
		AUTH_MODE                   => <!-- tmpl_var bounce_handler_AUTH_MODE default="'BEST'"-->,
		Plugin_Name                 => <!-- tmpl_var bounce_handler_Plugin_Name default="'Bounce Handler'"-->,
        Enable_POP3_File_Locking    => <!-- tmpl_var bounce_handler_Enable_POP3_File_Locking default="undef"-->,
		Log                         => undef,
		MessagesAtOnce              => <!-- tmpl_var bounce_handler_MessagesAtOnce default="100"-->,
		Max_Size_Of_Any_Message     => undef,
		Rules                       => undef,
	},

	Bridge => {
        Plugin_Name                         => <!-- tmpl_var bridge_Plugin_Name default="'Bridge'"-->,
        MessagesAtOnce                      => <!-- tmpl_var bridge_MessagesAtOnce default="100"-->,
        Allow_Open_Discussion_List          => 0,
        Room_For_One_More_Check             => <!-- tmpl_var bridge_Room_For_One_More_Check default="undef"-->,
        Enable_POP3_File_Locking            => <!-- tmpl_var bridge_Enable_POP3_File_Locking default="undef"-->,
        Check_List_Owner_Return_Path_Header => <!-- tmpl_var bridge_Check_List_Owner_Return_Path_Header default="undef"-->,
        Check_Multiple_Return_Path_Headers  => <!-- tmpl_var bridge_Check_Multiple_Return_Path_Headers default="undef"-->,
    },

	Tracker => {
		Plugin_Name                         => undef,
		Geo_IP_Db                           => undef,
	},
    log_viewer => {
		Plugin_URL                          => undef,
		tail_command                        => undef,
	},

	password_protect_directories => {
		Plugin_Name                         => undef,
		Plugin_URL                          => undef,
		Allow_Manual_Run                    => undef,
		Manual_Run_Passcode                 => undef,
		Base_Absolute_Path                  => undef, 
		Base_URL                            => undef, 
	},

    blog_index => {
		Default_List                        => undef,
		Entries                             => undef,
		Style                               => undef,
		Allow_QS_Overrides                  => undef,
	}, 

	multiple_subscribe => {	
		Plugin_Name                         => undef,
		Plugin_URL                          => undef,
	},
};

<!-- tmpl_if cut_plugin_configs -->
=cut
# end cut for plugin configs
<!-- /tmpl_if -->


<!-- tmpl_if configure_program_name -->
#---------------------------------------------------------------------#
# Program Name Options
$PROGRAM_NAME = '<!-- tmpl_var program_name_PROGRAM_NAME default="Dada Mail" -->'; 
<!-- /tmpl_if -->


# start cut for list control panel menu
=cut

$S_PROGRAM_URL            ||= $PROGRAM_URL;
my $EXT_URL              = $S_PROGRAM_URL;
   $EXT_URL              =~ s/\/(\w+)\.(cgi|pl)(\??)$/\//;
   $EXT_URL             .= 'extensions';

$ADMIN_MENU = [

	{-Title      => 'Mass Mailing',
	 -Activated  => 1,
	 -Submenu    => [
					{
					-Title     => 'All Drafts/Stationery/Schedules',
					-Title_URL => "$S_PROGRAM_URL?flavor=drafts&draft_role=draft",
					-Function  => 'drafts',
					-Activated => 1,
					},
				
					{ 
					-Title      => '+ New Draft Message',
					-Title_URL  => "$S_PROGRAM_URL?flavor=send_email",
					-Function   => 'send_email',
					-Activated  => 1,
					},

					{
					-Title      => 'Monitor',
					-Title_URL  => "$S_PROGRAM_URL?flavor=sending_monitor",
					-Function   => 'sending_monitor',
					-Activated  => 1,
					},

					{
					-Title     => 'Options',
					-Title_URL => "$S_PROGRAM_URL?flavor=mass_mailing_options",
					-Function  => 'mass_mailing_options',
					-Activated => 1,
					},
			]
	},
	
	{-Title      => 'Mailing List',
	 -Activated  => 1,
	 -Submenu    => [
					{
					-Title      => 'List Information',
					-Title_URL  => "$S_PROGRAM_URL?flavor=change_info",
					-Function   => 'change_info',
					-Activated  => 1,
					},
					
					{
					-Title      => 'List Password',
					-Title_URL  => "$S_PROGRAM_URL?flavor=change_password",
					-Function   => 'change_password',
					-Activated  => 1,
					},

					{
					-Title      => 'Privacy Policy',
					-Title_URL  => "$S_PROGRAM_URL?flavor=manage_privacy_policy",
					-Function   => 'manage_list_consent',
					-Activated  => 0,
					},
				
					{
					-Title      => 'List Consents',
					-Title_URL  => "$S_PROGRAM_URL?flavor=manage_list_consent",
					-Function   => 'manage_list_consent',
					-Activated  => 0,
					},

					{
					-Title      => 'Options',
					-Title_URL  => "$S_PROGRAM_URL?flavor=list_options",
					-Function   => 'list_options',
					-Activated  => 1,
					},
				
				    {
                       -Title     => 'Web Services API',
                       -Title_URL => "$S_PROGRAM_URL?flavor=web_services",
                       -Function  => 'web_services',
                       -Activated => 1,
	                   },
            
					{
					-Title      => 'Delete This Mailing List',
					-Title_URL  => "$S_PROGRAM_URL?flavor=delete_list",
					-Function   => 'delete_list',
					-Activated  => 0,
					},
			]
	},

	{-Title      => 'Membership',
	 -Activated  => 1,
	 -Submenu    => [
					{
					-Title      => 'View',
					-Title_URL  => "$S_PROGRAM_URL?flavor=view_list",
					-Function   => 'view_list',
					-Activated  => 1,
					},
					
					{
					-Title      => 'Recent Activity',
					-Title_URL  => "$S_PROGRAM_URL?flavor=list_activity",
					-Function   => 'list_activity',
					-Activated  => 1,
					},

					{
					-Title      => 'Invite<!-- tmpl_var LT_CHAR -->!-- tmpl_if list_settings.enable_mass_subscribe --<!-- tmpl_var GT_CHAR -->/Subscribe<!-- tmpl_var LT_CHAR -->!-- /tmpl_if --<!-- tmpl_var GT_CHAR -->/Add',
					-Title_URL  => "$S_PROGRAM_URL?flavor=add",
					-Function   => 'add',
					-Activated  => 1,
					},

					{
					-Title      => 'Remove',
					-Title_URL  => "$S_PROGRAM_URL?flavor=delete_email",
					-Function   => 'delete_email',
					-Activated  => 1,
					},

					{
					-Title      => 'Options', 
					-Title_URL  =>  "$S_PROGRAM_URL?flavor=subscription_options",
					-Function   => 'subscription_options',
					-Activated  => 0,
					},
			]
	},

	{
	-Title      => 'Sending',
	-Activated  => 1,
	-Submenu    => [
				
					{
					-Title      => 'Options',
					-Title_URL  => "$S_PROGRAM_URL?flavor=mail_sending_options",
					-Function   => 'mail_sending_options',
					-Activated  => 1,
					},

					{
					-Title      => 'Advanced Options',
					-Title_URL  => "$S_PROGRAM_URL?flavor=mail_sending_advanced_options",
					-Function   => 'mail_sending_advanced_options',
					-Activated  => 1,
					},
					{
					-Title      => 'Mass Mailing Options',
					-Title_URL  => "$S_PROGRAM_URL?flavor=mailing_sending_mass_mailing_options",
					-Function   => 'mailing_sending_mass_mailing_options',
					-Activated  => 1,
					},
			]
	},

	{-Title     => 'Archives',
	 -Activated => 1,
	 -Submenu   => [
					{
					-Title      => 'View',
					-Title_URL  => "$S_PROGRAM_URL?flavor=view_archive",
					-Function   => 'view_archive',
					-Activated  => 1,
					},

					{
					-Title      => 'Options',
					-Title_URL  => "$S_PROGRAM_URL?flavor=archive_options",
					-Function   => 'archive_options',
					-Activated  => 1,
					},
					
					{
					-Title      => 'Advanced Options',
					-Title_URL  => "$S_PROGRAM_URL?flavor=adv_archive_options",
					-Function   => 'adv_archive_options',
					-Activated  => 1,
					},
			]
	},


	{-Title      => 'Appearance',
	 -Activated  => 1,
	 -Submenu    => [
					{
					-Title      => 'Your Mailing List Template',
					-Title_URL  => "$S_PROGRAM_URL?flavor=edit_template",
					-Function   => 'edit_template',
					-Activated  => 1,
					},

					{
					-Title      => 'Email Themes',
					-Title_URL  => "$S_PROGRAM_URL?flavor=email_themes",
					-Function   => 'email_themes',
					-Activated  => 1,
					},
					
					{
					-Title      => 'Custom Mass Mailing Layout',
					-Title_URL  => "$S_PROGRAM_URL?flavor=edit_type",
					-Function   => 'edit_type',
					-Activated  => 1,
					},

					{
					-Title      => 'HTML Screen Templates',
					-Title_URL  => "$S_PROGRAM_URL?flavor=edit_html_type",
					-Function   => 'edit_html_type',
					-Activated  => 1,
					},

					{
					-Title      => 'Subscription Form HTML',
					-Title_URL  => "$S_PROGRAM_URL?flavor=html_code",
					-Function   => 'html_code',
					-Activated  => 1,
					},

					{
					-Title      => 'Create a Back Link',
					-Title_URL  => "$S_PROGRAM_URL?flavor=back_link",
					-Function   => 'back_link',
					-Activated  => 1,
					},



			]
	},


	{
	-Title     => 'Profiles',
	-Activated => 1,
	-Submenu   => [
				     {
				     -Title      => 'Profile Fields',
				     -Title_URL  => "$S_PROGRAM_URL?flavor=profile_fields",
				     -Function   => 'profile_fields',
				     -Activated  => 1,
				     },
			]
	},

	{
	-Title      => 'Plugins/Extensions ',
	-Activated  => 1,
	-Submenu    => [

#					# These are plugins. Make sure you install them 
#					# if you want to use them! 

#					{
#					-Title      => 'Tracker',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/tracker",
#					-Function   => 'tracker',
#					-Activated  => 1,
#					},

#					{
#					-Title      => 'Bounce Handler',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/bounce_handler",
#					-Function   => 'bounce_handler',
#					-Activated  => 1,
#					},

#					{
#					-Title      => 'Bridge',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/bridge",
#					-Function   => 'bridge',
#					-Activated  => 1,
#					},

#					{
#					-Title      => 'Change the Program Root Password',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/change_root_password",
#					-Function   => 'change_root_password',
#					-Activated  => 0,
#					},

#					{
#					-Title      => 'Change Your List Short Name',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/change_list_shortname",
#					-Function   => 'change_list_shortname',
#					-Activated  => 0,
#					},

#					{
#					-Title      => 'Password Protect Directories',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/password_protect_directories",
#					-Function   => 'password_protect_directories',
#					-Activated  => 1,
#					},

#					{
#					-Title      => 'View Logs',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/log_viewer",
#					-Function   => 'log_viewer',
#					-Activated  => 1,
#					},

#					{
#					-Title      => 'Screen Cache',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/screen_cache",
#					-Function   => 'screen_cache',
#					-Activated  => 0,
#					},

#					{
#					-Title      => 'Global Configuration',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/global_config",
#					-Function   => 'global_config',
#					-Activated  => 0,
#					},

#					{
#					-Title      => 'Boilerplate Example',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/boilerplate_plugin",
#					-Function   => 'boilerplate',
#					-Activated  => 1,
#					},

#					{
#					-Title      => 'View List Settings',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/view_list_settings",
#					-Function   => 'view_list_settings',
#					-Activated  => 1,
#					},

#					{
#					-Title      => 'usage_log_to_consent_activity',
#					-Title_URL  => $S_PROGRAM_URL."/plugins/usage_log_to_consent_activity",
#					-Function   => 'usage_log_to_consent_activity',
#					-Activated  => 0,
#					},

#					{
#					-Title      => 'Multiple Subscribe',
#					-Title_URL  => $EXT_URL."/multiple_subscribe.cgi",
#					-Function   => 'multiple_subscribe',
#					-Activated  => 1,
#					},

#					{
#					-Title      => 'Archive Blog Index',
#					-Title_URL  => $EXT_URL."/blog_index.cgi?mode=html&list=<!-- tmpl_var LT_CHAR -->!-- tmpl_var list_settings.list --<!-- tmpl_var GT_CHAR -->",
#					-Function   => 'blog_index',
#					-Activated  => 1,
#					},

				],
			},



		{
		-Title      => '<i class="fi-widget"></i> Control Panel Settings',
		-Activated  => 0,
		-Submenu    => [
					{
					-Title      => 'Enable/Disable Features',
					-Title_URL  => "$S_PROGRAM_URL?flavor=feature_set",
					-Function   => 'feature_set',
					-Activated  => 0,
					},

					{
					-Title      => 'Options',
					-Title_URL  => "$S_PROGRAM_URL?flavor=list_cp_options",
					-Function   => 'list_cp_options',
					-Activated  => 0,
					},
					
					{
					-Title      => 'Scheduled Jobs',
					-Title_URL  => "$S_PROGRAM_URL?flavor=scheduled_jobs",
					-Function   => 'scheduled_jobs',
					-Activated  => 1,
					},
					
					{
					-Title      => 'App Configuration',
					-Title_URL  => "$S_PROGRAM_URL?flavor=setup_info",
					-Function   => 'setup_info',
					-Activated  => 1,
					},
					
					
					{
					-Title      => 'About Dada Mail',
					-Title_URL  => "$S_PROGRAM_URL?flavor=manage_script",
					-Function   => 'manage_script',
					-Activated  => 1,
					},
					
				], 
		},
				
];


=cut
# end cut for list control panel menu
