<!-- begin fast_cgi_test_widget.tmpl -->

<!-- tmpl_if errors -->

    <div class="alert-box warning radius"> 
        <p>Something else may be needed, for FastCGI support:</p> 
        <p><code><!-- tmpl_var errors escape="HTML" --></code></p>
    </div>
<!-- tmpl_else --> 
    <div class="alert-box info radius"> 
        <p>FastCGI is Supported!</p>
    </div> 
<!-- /tmpl_if --> 

<!-- end fast_cgi_test_widget.tmpl -->
