<!-- begin installer_configure_dada_mail_scrn.tmpl --> 

<!-- tmpl_set name="title" value="Install <!-- tmpl_var PROGRAM_NAME -->" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->
<div id="installer_configure_dada_mail"></div> 

	
<!-- tmpl_if errors --> 
	<h1>
		Problems When Attempting to Install!
	</h1>
	<div class="badweatherbox"> 
	 <p><strong>Yikes!</strong>
		<p>Some problems were encountered, when attempting to install and configure 
		<!-- tmpl_var PROGRAM_NAME -->. Details are marked below.</p>
	</div>  
<!-- /tmpl_if --> 





<!-- tmpl_if error_cant_read_config_dot_pm --> 

	<div class="badweatherbox">


	<h3>Warning!</h3>

	<p> 
	    <!-- tmpl_var PROGRAM_NAME --> can't read your, <em>dada/DADA/Config.pm</em> file.
	</p>
	<p> 
		You may still perform this installation, but you may have to edit parts of the <em>dada/DADA/Config.pm</em>
		file yourself. (We'll let you know where.)
	</p>
	</div> 

<!-- /tmpl_if --> 
<!-- tmpl_if error_cant_write_config_dot_pm --> 


<div class="badweatherbox">


<h3>Warning!</h3> 
<p> 
	<!-- tmpl_var PROGRAM_NAME --> won't be able to write to edit your <em>dada/DADA/Config.pm</em> file itself.
	</p> 
	<p> 
	You may still perform this installation, but you may have to edit parts of the <em>dada/DADA/Config.pm</em>
	file yourself. (We'll let you know, where.)
</p>
</div> 
<!-- /tmpl_if --> 

 <!-- tmpl_if comment --> 

	<!-- tmpl_loop errors --> 
		<p>Error <!-- tmpl_var error --> 
	<!-- /tmpl_loop --> 

<!-- /tmpl_if --> 

	<!-- tmpl_if test_complete_dada_files_dir_structure_exists --> 

		<div <!-- tmpl_if expr="(install_type eq 'install')" -->class="badweatherbox"<!-- tmpl_else -->class="clearskiesbox"<!-- /tmpl_if -->>
		<p>
			A current <!-- tmpl_var PROGRAM_NAME --> configuration was discovered at:</p> 

			<ul>
				<li>
				 <p>
				 <strong><!-- tmpl_var configured_dada_config_file --></strong>
				</p>
			</li>
	

			<form target="_blank" action="<!-- tmpl_var Self_URL -->"> 
				<input type="hidden" name="f" value="show_current_dada_config" /> 
				<input type="hidden" name="config_file" value = "<!-- tmpl_var configured_dada_config_file escape="HTML" -->" /> 
				<div style="text-align:center">
				<input type="submit" value="View this .dada_config Configuration..." class="plain" />
				</div >
			</form>

			<!-- tmpl_if expr="(install_type eq 'install')" -->
				<strong>Choose a different location</strong> for your <!-- tmpl_var Dada_Files_Dir_Name --> directory below, 
				or <strong><a href="<!-- tmpl_var Self_URL -->">start over and Upgrade</a></strong>.
			<!-- /tmpl_if --> 
			
			<!-- tmpl_if expr="(install_type eq 'upgrade')" -->
			
			
				<li>
					<p>
						If you're upgrading from a big difference in version (5.x to 6.x, 6.x to 6.y), we suggest <strong>creating a new .dada_config file</strong>
					</p> 
				</li>
				<li> 
					<p>
						Values from your previous configuration have be pre-filled below. Any additional 
						configuration changes you may have made to your .dada_config file 
						will need to be recreated manually, after this upgrade. 
					</p> 
				</li>
				
				<!-- /tmpl_if --> 
				 
			</ul> 
					
			
		</div> 

	<!-- /tmpl_if --> 

	<form action="<!-- tmpl_var Self_URL -->" method="post" id="installform"> 
		<input type="hidden" name="install_type"                       value="<!-- tmpl_var install_type -->" />
		<input type="hidden" name="current_dada_files_parent_location" value="<!-- tmpl_var current_dada_files_parent_location -->" />
		
	<!-- tmpl_if expr="(install_type eq 'upgrade')" -->
	
		<fieldset style="background:#cbecff">
			<legend>Upgrade Options</legend>	

				<p>
			<input type="radio" name="if_dada_files_already_exists"	id="keep_dir_create_new_config" value="keep_dir_create_new_config" checked="checked" class="radiochangeDisplayState" data-target="configuration" data-state="show"  /> 
			<label for="keep_dir_create_new_config">
				Create a new .dada_config  file
			</label><br />
			Use the existing directory structure, but create a new configuration 
			file, using the information below. 
			 (Your previous .dada_config  file will be backed up and saved.)
			</p>

	
			<p><input type="radio" name="if_dada_files_already_exists"	id="skip_configure_dada_files" value="skip_configure_dada_files" class="radiochangeDisplayState" data-target="configuration" data-state="hide" /> 
			<label for="skip_configure_dada_files">
				Use the current .dada_config  file
					</label>
					<br />
					No new .dada_config file will be created.
				</p>
					</fieldset>
	<!-- /tmpl_if -->

			
			<!-- tmpl_if expr="(install_type eq 'install')" -->	
			<!-- tmpl_if error_create_dada_files_dir  --> 

				<div class="badweatherbox">
				<ul> 
				<li>
				 Can not create, <em><!-- tmpl_var install_dada_files_dir_at -->/<strong><!-- tmpl_var Dada_Files_Dir_Name --></strong></em>
				</p>
				</li>
				</ul>
				</div>


			<!-- /tmpl_if --> 
			<!-- tmpl_if error_dada_files_dir_exists  --> 

					<div class="badweatherbox">
						<ul> 
						<li>
							<p>
								The directory, <em><!-- tmpl_var dada_files_loc -->/<strong><!-- tmpl_var Dada_Files_Dir_Name --></strong></em> already exists.
							</p>
						</li>
					</ul>

				</div>
				<!-- /tmpl_if -->
			<!-- /tmpl_if -->  


	<!-- tmpl_if expr="(install_type eq 'upgrade')" -->
		<input type="hidden" name="dada_files_dir_setup" value="manual" />
		<input type="hidden" name="dada_files_loc"       value="<!-- tmpl_var current_dada_files_parent_location escape=HTML -->" />
	<!-- tmpl_else --> 
		<fieldset> 
		<legend>
			&quot;<!-- tmpl_var Dada_Files_Dir_Name -->&quot; Directory Location [
			 <a href="#" class="toggleDivs" data-target="dada_files_help">
				?</a>]
		</legend>
	
		<div id="dada_files_help" class="clearskiesbox"> 
		<p>	
			<!-- tmpl_var PROGRAM_NAME --> will need to write various files and will need a directory for which to do this in. You'll 
			have to tell <!-- tmpl_var PROGRAM_NAME --> where you'd like this directory to live. The directory will be called, <em><!-- tmpl_var Dada_Files_Dir_Name --></em>. 
			</p>
			<p>
			Usually, this directory will live under your home directory and <!-- tmpl_var PROGRAM_NAME --> can usually guess where that is, but if it guesses wrong
			or it cannot create the, <em><!-- tmpl_var Dada_Files_Dir_Name --></em> directory in your home directory, you may need to set an alternative location. 
		</p> 
		</div> 

		<p>
		 <input type="radio" checked="checked" id="dada_files_dir_setup_auto"  name="dada_files_dir_setup" value="auto" class="radiochangeDisplayState" data-target="manual_dada_files_dir_setup" data-state="hide" />
			<label for="dada_files_dir_setup_auto">AUTO 
			Use <!-- tmpl_var PROGRAM_NAME -->'s best guess.  </label>(<em> <!-- tmpl_var home_dir_guess --></em>). 
		</p> 

		 <p>
		  <input type="radio"  id="dada_files_dir_setup_manual" name="dada_files_dir_setup" value="manual" class="radiochangeDisplayState" data-target="manual_dada_files_dir_setup" data-state="show" />
		<label for="dada_files_dir_setup_manual"> 
		 MANUAL.
		</label>  Explicitly set the Absolute Path to where the <em><strong><!-- tmpl_var Dada_Files_Dir_Name --></strong></em> directory should be installed:</p>

		<div id="manual_dada_files_dir_setup">
		<fieldset> 
		<legend> 
			Manual Configuration of the, <em><!-- tmpl_var Dada_Files_Dir_Name --></em> directory
		</legend> 
		<p> 
		 <input type="text" name="dada_files_loc" value="<!-- tmpl_var home_dir_guess -->" class="midi" style="text-align:right" /><span class="fake_input">/<!-- tmpl_var Dada_Files_Dir_Name --></span>
		</p> 

		</fieldset>

		</div> 

		</fieldset>
<!-- /tmpl_if --> 



<div id="configuration"> 
	

<h1>Configuration</h1> 	

<fieldset> 

<legend>

<!-- tmpl_var PROGRAM_NAME --> URL [

<a href="#" class="toggleDivs" data-target="program_url_help">
?</a>]

</legend> 


<!-- tmpl_if error_program_url_is_blank  --> 
	<div class="badweatherbox">
	
	<ul>
	<li>
		<p>	Your <!-- tmpl_var PROGRAM_NAME --> URL is blank.</em>
	</p></li>
	</ul> 
</div>
<!-- /tmpl_if -->



<p><label for="program_url"><!-- tmpl_var PROGRAM_NAME --> Program URL:</label>
</p>
<div id="program_url_help" class="clearskiesbox"> 
	 <p>
	 	The <!-- tmpl_var PROGRAM_NAME --> Program URL should be set to where you access the, <em>mail.cgi</em> script, currently. 
	 </p> 
</div> 


<p>
<input type="text" id="program_url" name="program_url" class="midi" value="<!-- tmpl_var program_url_guess -->" />
</p> 

</fieldset> 


<fieldset> 
	<legend>Support Files Directory
		[<a href="#" class="toggleDivs" data-target="support_files_help">
		?</a>]
		
		</legend>
	

	
	<div class="clearskiesbox" id="support_files_help">
		<p>
			The Installer will use the Absolute Path and Corresponding URL you set below to 
			copy over the static files used in Dada Mail: images, stylesheets, and javascript files. 
		</p>
		<p>
			This directory can also be used to install any supported WYSIWYG editor(s) and file browsers
			 (see below)
			</p> 
			<p>
				You will want this directory to be publicly accessible - for example: this directory cannot be in your cgi-bin.
			</p> 
	</div> 
	
	<!-- tmpl_if error_create_dada_mail_support_files_dir  --> 
		<div class="badweatherbox">
			<ul> 
			<li>
			 Can not create or write into, the below Support Files Directory. 
			</p>
			</li>
			</ul>
		</div> 
	<!-- /tmpl_if -->
	
	
	<p>
		<label for="support_files_dir_path">Server Absolute Path to the <!-- tmpl_var PROGRAM_NAME --> Support Files Directory:</label><br />
		<input type="text" name="support_files_dir_path"  id="support_files_dir_path" class="midi" style="text-align:right" value="<!-- tmpl_var support_files_dir_path -->" /><span class="fake_input">/<!-- tmpl_var Support_Files_Dir_Name --></span>
		<br />
		<label for="support_files_dir_url">Corresponding URL to the Support Files Directory</label>
		<br />
		<input type="text" name="support_files_dir_url" id="support_files_dir_url" class="midi" style="text-align:right" value="<!-- tmpl_var support_files_dir_url -->" /><span class="fake_input">/<!-- tmpl_var Support_Files_Dir_Name --></span>
	</p>
	
	
</fieldset> 


<fieldset> 

<legend>
	<!-- tmpl_var PROGRAM_NAME --> Root Password [
	<a href="#" class="toggleDivs" data-target="root_pass_help">
		
		?</a>]
</legend> 


<!-- tmpl_if error_root_pass_is_blank  --> 
	<div class="badweatherbox">
	
	<ul>
	<li>
	<p> 
	Your <!-- tmpl_var PROGRAM_NAME --> Root Password is Blank.</em>
	</p></li></ul> 
</div>

<!-- /tmpl_if -->
<!-- tmpl_if error_pass_no_match  --> 
	<div class="badweatherbox">
	
	<ul>
	<li>
	<p> 
	Your <!-- tmpl_var PROGRAM_NAME --> Root Passwords Do Not Match.</em>
	</p></li>
	</ul> 
</div>
<!-- /tmpl_if -->

<div id="root_pass_help" class="clearskiesbox"> 
	<p>This is the main password to <!-- tmpl_var PROGRAM_NAME -->, used to create new mailing lists and to 
	access <em>any</em> mailing list.</p> 
</div> 

	<!-- tmpl_if original_dada_root_pass --> 
		<p>
			<input type="checkbox" name="dada_pass_use_orig" id="dada_pass_use_orig" value="1" checked="check" class="radio_toggleDivs" data-target="dada_root_pass_fields"/>
			<label for="dada_pass_use_orig">
				Use Previous Dada Root Password
			</label>
		</p> 
		<input type="hidden" name="original_dada_root_pass" value="" /> 
		<input type="hidden" name="original_dada_root_pass_is_encrypted" value="" /> 
	<!-- /tmpl_if --> 
	
<div id="dada_root_pass_fields"> 	
	<p><label for="dada_root_pass"><!-- tmpl_var PROGRAM_NAME --> Root Password:</label>
	<br /> 
	<input type="password" id="dada_root_pass" name="dada_root_pass" />
	</p> 
	<p><label for="dada_root_pass_again">Re-type Your <!-- tmpl_var PROGRAM_NAME --> Root Password:</label><br /> 
	<input type="password" id="dada_root_pass_again" name="dada_root_pass_again" /><span class="dada_pass_no_match"></span></p> 
</div> 




</fieldset> 



<fieldset> 

<legend><!-- tmpl_var PROGRAM_NAME --> Backend [
	<a href="#" class="toggleDivs" data-target="backend_help">
	?</a>]</legend> 

<!-- tmpl_if error_sql_connection  --> 
	<div class="badweatherbox">
	
	<ul>
	<li>
	<p> 
		Could not connect to your SQL Server
	</p>
	</li>
	</ul> 
	</div>
	
<!-- /tmpl_if -->



<div id="backend_help" class="clearskiesbox"> 
 
<p>	
	<!-- tmpl_var PROGRAM_NAME --> supports a few different types of backends to save its mailing list settings, lists, archive, etc into. 
</p> 
<p>	
	The <strong>Default</strong> backend should be available for almost any server setup, but doesn't allow you to use some of the more 
	advanced features of <!-- tmpl_var PROGRAM_NAME -->. </p> 
	<p>The <strong>MySQL</strong>, <strong>PostgreSQL</strong> and <strong>SQLite</strong> 
		backends allow you to use these advanced features and just require you to fill in the database details.
If using either the SQL backends, make sure to create a new database before configuring 
<!-- tmpl_var PROGRAM_NAME --> and type in the SQL information below. <!-- tmpl_var PROGRAM_NAME -->
 will create the necessary tables. 
</p> 

<p><strong>SQLite</strong> is only suggested for testing purposes and never for production.</p>
	
</div>
<p>
	<select name="backend" id="backend"> 
		<option value="default">Default Backend</option>
		<!-- tmpl_if can_use_DBI --> 
			<option value="mysql" <!-- tmpl_unless can_use_MySQL -->disabled="disabled"<!-- tmpl_else -->selected="selected"<!-- /tmpl_unless -->><!-- tmpl_if can_use_MySQL -->MySQL (recommended)<!-- tmpl_else -->MySQL (not available)<!-- /tmpl_if --></option> 
			<option value="Pg" <!-- tmpl_unless can_use_Pg -->disabled="disabled"<!-- /tmpl_unless -->>PostgreSQL <!-- tmpl_unless can_use_Pg -->(not available)<!-- /tmpl_unless --></option> 	
			<option value="SQLite" <!-- tmpl_unless can_use_SQLite -->disabled="disabled"<!-- /tmpl_unless -->>SQLite<!-- tmpl_unless can_use_SQLite -->(not available)<!-- /tmpl_unless --></option> 
		<!-- /tmpl_if --> 
	</select>
</p>

<!-- tmpl_if can_use_DBI --> 
<div id="sql_info"> 
<fieldset>
	<legend>SQL Information</legend> 
	
	<!-- tmpl_if error_sql_table_populated -->
	<div class="badweatherbox">
	
	<ul>
		<li>
			<p>
				The SQL information below is correct, but there are tables in this database that correspond to the tables that <!-- tmpl_var PROGRAM_NAME --> requires.
			</p>
			
				
			<p>
				<input type="checkbox" name="skip_configure_SQL" id="skip_configure_SQL" value="1">
				 <label for="skip_configure_SQL">
				  I know these tables already exist.
				 </label>
				<br />
				Use these existing tables, instead of making new ones.
			</p>
			
		
		</li>
	</ul>
</div>

	<!-- /tmpl_if -->
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_server">Server:</label> <input type="text" name="sql_server" id="sql_server" value="localhost" value="" />
	</p>
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_database">Database:</label> <input type="text" name="sql_database" id="sql_database" value="" />
	</p>
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_port">Port:</label> <input type="text" name="sql_port" id="sql_port" value="auto" />
	</p>
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_username">Username:</label> <input type="text" name="sql_username" id="sql_username" value="" />
	</p>
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_password">Password:</label> 
		
		<input type="text" name="sql_password" id="sql_password" value="" /> 

	</p>
	<div class="buttonfloat"> 
		<input type="button" class="processing test_sql_connection" value="Test Your SQL Connection"/>
	</div>
	<div class="floatclear"></div> 
	 
	<div id="test_sql_connection_results" class="clearskiesbox"></div> 
</fieldset>


</div> 



<!-- tmpl_else --> 
	<div class="badweatherbox">
	<p>Your current server setup does not support the SQL backend. 
	</p>
</div>
	
<!-- /tmpl_if --> 
</fieldset> 


<fieldset> 
<legend>Plugins/Extensions (Optional) [
	<a href="#" class="toggleDivs" data-target="plugins_extensions_help">
	?</a>]</legend>

<div id="plugins_extensions_help" class="clearskiesbox">

<p>
	<!-- tmpl_var PROGRAM_NAME --> comes with several plugins/extensions that add additional functionality to your <!-- tmpl_var PROGRAM_NAME --> install. 
</p>

<p>
<em>Some</em> of the plugins/extensions require additional configuration, usually a cronjob has to be manually set, 
for it to work correctly. For help on setting the cronjob, see the 
<a href="<!-- tmpl_var DOC_URL -->" target="_blank">online documentation</a> for the plugin/extension. 
</p>

	
</div> 

<p><input type="checkbox" name="install_mailing_monitor" id="install_mailing_monitor" value="1" /><label for="install_mailing_monitor">Mailing Monitor Plugin</label>
	 <span class="alert">Requires Additional Configuration (cronjob)</span></p
	
<p><input type="checkbox" name="install_change_root_password" id="install_change_root_password" value="1" /><label for="install_change_root_password">Change the Program Root Password</label></p> 

<p><input type="checkbox" name="install_screen_cache" id="install_screen_cache" value="1" /><label for="install_screen_cache">Screen Cache</label></p> 

<p><input type="checkbox" name="install_log_viewer" id="install_log_viewer" value="1" /><label for="install_log_viewer">View Logs</label></p> 

<p><input type="checkbox" name="install_tracker" id="install_tracker" value="1" /><label for="install_tracker">Tracker</label></p> 

<p>
	<input type="checkbox" name="install_bridge" id="install_bridge" value="1" class="radio_toggleDivs" data-target="bridge_configuration" />
	<label for="install_bridge">
		Bridge
	</label>
	<span class="alert">Requires Additional Configuration (cronjob)</span>	
</p> 
<div id="bridge_configuration">
	<fieldset> 
		<legend>Bridge Configuration</legend>

		<p>
			<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_MessagesAtOnce">
				# Messages to Check at Once:
			</label>
			<select name="bridge_MessagesAtOnce" id="bridge_MessagesAtOnce">
				<option value="1">1</option> 
				<option value="2">2</option> 
				<option value="3">3</option> 
				<option value="4">4</option> 
				<option value="5">5</option> 
				<option value="10">10</option> 
				<option value="15">15</option> 
				<option value="20">20</option> 
			</select>
		</p>
		<p>
			<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Soft_Max_Size_Of_Any_Message">
				Soft Max Size for Messages:
			</label>
			<select name="bridge_Soft_Max_Size_Of_Any_Message" id="bridge_Soft_Max_Size_Of_Any_Message">
				<option value="1048576" selected="selected">1 Megabyte</option> 
				<option value="2097152">2 Megabytes</option> 
				<option value="2621440">2.5 Megabytes</option>
				<option value="3145728">3 Megabytes</option> 
				<option value="4194304">4 Megabytes</option> 
				<option value="5242880">5 Megabytes</option> 
				<option value="6291456">6 Megabytes</option> 
				<option value="7340032">7 Megabytes</option> 
				<option value="8388608">8 Megabytes</option> 
				<option value="9437184">9 Megabytes</option> 
				<option value="10485760">10 Megabytes</option>
			</select>
		</p>

		<p>
			<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Max_Size_Of_Any_Message">
				Hard Max Size for Messages:
			</label>
			<select name="bridge_Max_Size_Of_Any_Message" id="bridge_Max_Size_Of_Any_Message">
				<option value="1048576">1 Megabyte</option> 
				<option value="2097152">2 Megabytes</option> 
				<option value="2621440" selected="selected">2.5 Megabytes</option>
				<option value="3145728">3 Megabytes</option> 
				<option value="4194304">4 Megabytes</option> 
				<option value="5242880">5 Megabytes</option> 
				<option value="6291456">6 Megabytes</option> 
				<option value="7340032">7 Megabytes</option> 
				<option value="8388608">8 Megabytes</option> 
				<option value="9437184">9 Megabytes</option> 
				<option value="10485760">10 Megabytes</option> 
			</select>
		</p>
		
		
		
		<fieldset>
			<legend>
				<a href="#" class="toggleDivs" data-target="additional_bridge_configuration">
				+/-
				</a> Additional Configuration Options
			</legend>

    		<div id="additional_bridge_configuration"> 
		
		
        
        
        		<p>
        		    <label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Plugin_URL">Plugin URL:</label> 
        		    <input type="text" name="bridge_Plugin_URL" id="bridge_Plugin_URL" value="" />
        		</p>

		
		
		
        		<p>
        			<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Allow_Manual_Run">
        			    Allow Manual Run
        			</label>
        			<input type="checkbox" name="bridge_Allow_Manual_Run" id="bridge_Allow_Manual_Run" value="1" />
        		</p>
        		
        		<p>
        		    <label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Manual_Run_Passcode">
        		        Manual Run Passcode:
        		    </label> 
        		    <input type="text" name="bridge_Manual_Run_Passcode" id="bridge_Manual_Run_Passcode" value="" />
        		</p>
        		
        		
        		<p>
        			<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Enable_POP3_File_Locking">
        			    Enable POP3 File Locking:
        			</label>
        			<input type="checkbox" name="bridge_Enable_POP3_File_Locking" id="bridge_Enable_POP3_File_Locking" value="1" />
        		</p>
        		
		
        		<p>
        			<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Room_For_One_More_Check">
        			    Room For One More Check:
        			</label>
        			<input type="checkbox" name="bridge_Room_For_One_More_Check" id="bridge_Room_For_One_More_Check" value="1" />
        		</p>


        		<p>
        			<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Check_List_Owner_Return_Path_Header">
        			    Check List Owner <br />Return-Path Header:
        			</label>
        			<input type="checkbox" name="bridge_Check_List_Owner_Return_Path_Header" id="bridge_Check_List_Owner_Return_Path_Header" value="1" />
        		</p>

        		<p><br />
        			<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bridge_Check_Multiple_Return_Path_Headers">
        			    Check for Multiple <br />Return-Path Headers:
        			</label>
        			<input type="checkbox" name="bridge_Check_Multiple_Return_Path_Headers" id="bridge_Check_Multiple_Return_Path_Headers" value="1" />
        		</p>
            </div> 
        </fieldset> 
    
	</fieldset>
</div> 

<p>
	<input type="checkbox" name="install_bounce_handler" id="install_bounce_handler" value="1" class="radio_toggleDivs" data-target="bounce_handler_configuration" />
	<label for="install_bounce_handler">Bounce Handler</label> <span class="alert">Requires Additional Configuration (cronjob)</span></p>

<div id="bounce_handler_configuration">
	<fieldset> 
		<legend>Bounce Handler Configuration [
			<a href="#" class="toggleDivs" data-target="bounce_handler_configuration_help">
		?</a>]</legend>
	
		<div id="bounce_handler_configuration_help" class="clearskiesbox">
			<p>
				The Bounce Handler requires a new POP3 email account to be created, in order to work correctly. Make sure the email address isn't used for 
				any other purpose, except for the bounce handler. See the <a href="<!-- tmpl_var DOC_URL -->/bounce_handler.cgi.html"  target="_blank">documentation for this plugin</a> for additional information. 
				</p> 
		</div> 
	
		<p><label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Address">Bounce Handler Email Address:</label> <input type="text" name="bounce_handler_Address" id="bounce_handler_Address" value="" /></p>
		<p><label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Server">Mail Server:</label> <input type="text" name="bounce_handler_Server" id="bounce_handler_Server" value="" /></p>
		<p><label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Username">Username:</label> <input type="text" name="bounce_handler_Username" id="bounce_handler_Username" value="" /></p>
		<p><label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Password">Password:</label> <input type="text" name="bounce_handler_Password" id="bounce_handler_Password" value="" /></p>
	 	
		<fieldset>
			<legend>
				<a href="#" class="toggleDivs" data-target="additional_bounce_handler_configuration">
				+/-
				</a> Additional Configuration Options
			</legend>

		<div id="additional_bounce_handler_configuration"> 
			<p>
				<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_USESSL">
					Use Secure Sockets Layer (SSL)  
				</label>
				<input type="checkbox" name="bounce_handler_USESSL" id="bounce_handler_USESSL" value="1" />
			</p>

			<p>
				<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_AUTH_MODE">
					Auth. Type  
				</label>
				<select name="bounce_handler_AUTH_MODE" id="bounce_handler_AUTH_MODE">
					<option value="BEST">BEST</option> 
					<option value="PASS">PASS</option> 
					<option value="APOP">APOP</option> 
					<option value="CRAM-MD5">CRAM-MD5</option> 
				</select> 
			</p>
			
			<p>
    		    <label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Port">Port:</label> 
    		    <input type="text" name="bounce_handler_Port" id="bounce_handler_Port" value="" />
    		</p>
			
			<p>
				<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_MessagesAtOnce">
					# Messages to Check at Once
				</label>
				<select name="bounce_handler_MessagesAtOnce" id="bounce_handler_MessagesAtOnce">
					<option value="1">1</option> 
					<option value="5">5</option> 
					<option value="10">10</option> 
					<option value="25">25</option> 
					<option value="50">50</option> 
					<option value="100" selected="selected">100</option> 
					<option value="150">150</option> 
					<option value="200">200</option> 
				</select> 
			</p>
			
			
			
			<p>
    		    <label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Plugin_URL">Plugin URL:</label> 
    		    <input type="text" name="bounce_handler_Plugin_URL" id="bounce_handler_Plugin_URL" value="" />
    		</p>
    		
    		
    		
			<p>
            	<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Allow_Manual_Run">
            	    Allow Manual Run
            	</label>
            	<input type="checkbox" name="bounce_handler_Allow_Manual_Run" id="bounce_handler_Allow_Manual_Run" value="1" />
            </p>

            <p>
                <label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Manual_Run_Passcode">
                    Manual Run Passcode:
                </label> 
                <input type="text" name="bounce_handler_Manual_Run_Passcode" id="bounce_handler_Manual_Run_Passcode" value="" />
            </p>


            <p>
            	<label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="bounce_handler_Enable_POP3_File_Locking">
            	    Enable POP3 File Locking:
            	</label>
            	<input type="checkbox" name="bounce_handler_Enable_POP3_File_Locking" id="bounce_handler_Enable_POP3_File_Locking" value="1" />
            </p>
            
		
		</div> 
		</fieldset> 
	
		<div class="buttonfloat"> 
			<input type="button" class="processing test_bounce_handler_pop3_connection" value="Test Your POP3 Connection"/>
		</div>
		<div class="floatclear"></div> 
	
	
		<div id="test_bounce_handler_pop3_connection_results" class="clearskiesbox"></div> 
		
		
	</fieldset> 
</div> 


<p><input type="checkbox" name="install_scheduled_mailings" id="install_scheduled_mailings" value="1" /><label for="install_scheduled_mailings">Scheduled Mailings</label>	
 <span class="alert">Requires Additional Configuration (cronjob)</span></p> 

<p><input type="checkbox" name="install_multiple_subscribe" id="install_multiple_subscribe" value="1" /><label for="install_multiple_subscribe">Multiple Subscribe</label></p> 

<p><input type="checkbox" name="install_blog_index" id="install_blog_index" value="1"  /><label for="install_blog_index">Archive Blog Index</label></p> 

<p><input type="checkbox" name="install_default_mass_mailing_messages" id="install_default_mass_mailing_messages" value="1"  /><label for="install_default_mass_mailing_messages">Default Mass Mailing Messages</label></p> 

<p><input type="checkbox" name="install_change_list_shortname" id="install_change_list_shortname" value="1"  /><label for="install_change_list_shortname">Change Your List Short Name</label></p> 

<p><input type="checkbox" name="install_password_protect_directories" id="install_password_protect_directories" value="1"  /><label for="install_password_protect_directories">Password Protect Directories</label> <span class="alert">Optionally Requires Additional Configuration (cronjob)</span>	</p> 

<p><input type="checkbox" name="install_global_config" id="install_global_config" value="1"  /><label for="install_global_config">Global Configuration</label></p> 

</fieldset> 

<fieldset> 
	
<legend>WYSIWYG Editors (Optional) [
	<a href="#" class="toggleDivs" data-target="wysiwyg_editor_help">
?</a>]</legend>
<div id="wysiwyg_editor_help" class="clearskiesbox"> 
<p>Dada Mail supports the use of third party WYSIWYG HTML editors to allow you to 
compose and edit HTML mailing list messages. This allows you to send rich text messages, 
right in Dada Mail's list control panel, without needing to know any HTML.</p>

<p>The HTML produced by these WYSIWYG editors is actually pretty good for the use of HTML 
emails, as most of the text formatting is done with inline css styles and these 
editors also have the ability to make simple HTML tables for basic layouts. 
</p>


</div> 

	<p>
		<input type="checkbox" name="install_wysiwyg_editors" id="install_wysiwyg_editors" value="1" checked="checked" />			
	<label for="install_wysiwyg_editors">Install and Configure WYSIWYG Editors</label>
	</p>
	


	
<div id="install_wysiwyg_editors_options">
<fieldset> 
	<p>
		<input type="checkbox" name="wysiwyg_editor_install_ckeditor" id="wysiwyg_editor_install_ckeditor" value="1" checked="checked" />			
	<label for="wysiwyg_editor_install_ckeditor">Install CKeditor</label>
	</p>

	<p>
		<input type="checkbox" name="wysiwyg_editor_install_tiny_mce" id="wysiwyg_editor_install_tiny_mce" value="1" checked="checked" />			
	<label for="wysiwyg_editor_install_tiny_mce">Install Tiny MCE</label>
	</p>
		
	<h2>File Browsers/Uploaders</h2>

	<p>
		<input type="radio" name="file_browser_install" id="file_browser_install_kcfinder" value="kcfinder" checked="checked"/>
		<label for="file_browser_install_kcfinder">Install KCFinder</label>
	</p>
	<p>
		<input type="radio" name="file_browser_install" id="file_browser_install_core5_filemanager" value="core5_filemanager"/>
		<label for="file_browser_install_core5_filemanager">Install Core Five FileManager</label>
	</p>
	<input type="hidden" name="core5_filemanager_connector" value="pl" /> 
<!-- 
	<p><label style="width: 8em;float: left;text-align: right;margin-right: 0.5em;display: block" for="not_core5_filemanager_connector">Connector:</label>
		<select name="not_core5_filemanager_connector" id="not_core5_filemanager_connector">
			<option value="pl">Perl</option>
			<option value="php">php</option>			
		</select>
	</p>
-->

		</fieldset> 
</div> 

</fieldset> 

</div> 

<fieldset> 
	<legend>Advanced Configuration (Optional)</legend>

	<!-- tmpl_if show_annoying_whiny_pro_dada_notice --> 
		<!-- tmpl_include upgrade_to_pro_dada.tmpl --> 
	<!-- /tmpl_if -->

	<!-- tmpl_if show_profiles --> 
		<p>
			<input type="checkbox" name="configure_profiles" id="configure_profiles" value="1" />			
		<label for="configure_profiles">
			Configure Profiles
		</label>
		</p>
	
		<div id="profiles_options">
		<fieldset> 
			<p>
				<input type="checkbox" name="profiles_enabled" id="profiles_enabled" value="1" checked="checked" />			
			<label for="profiles_enabled">Enable Profiles</label>
			</p>
		
			<p>
			<label for="profiles_profile_email">Profile Administration Email:</label>
			<input type="text" name="profiles_profile_email" id="profiles_profile_email" value="" class="midi"/>			
			</p>

	
		
			<h2>
				Enabled Features:
			</h2>
		

		
		
			<p>
				<input type="checkbox" name="profiles_enable_captcha" id="profiles_enable_captcha" value="1" checked="checked" />			
			<label for="profiles_enable_captcha">CAPTCHA</label>
			</p>
		
			<p>
			<input type="checkbox" name="profiles_enable_magic_subscription_forms" id="profiles_enable_magic_subscription_forms" value="1" checked="checked" />				
			<label for="profiles_enable_magic_subscription_forms">Magic Subscription Forms</label>
			</p>
		
			<p>
				<input type="checkbox" name="profiles_help" id="profiles_help" value="1" checked="checked" />			
			<label for="profiles_help">Help Screen</label>
			</p>

			<p>
				<input type="checkbox" name="profiles_login" id="profiles_login" value="1" checked="checked" />			
			<label for="profiles_login">Profile Login</label>
			</p>

			<p>
				<input type="checkbox" name="profiles_register" id="profiles_register" value="1" checked="checked" />			
			<label for="profiles_register">Profile Registration</label>
			</p>

			<p>
				<input type="checkbox" name="profiles_password_reset" id="profiles_password_reset" value="1" checked="checked" />			
			<label for="profiles_password_reset">Password Reset</label>
			</p>

			<p>
				<input type="checkbox" name="profiles_profile_fields" id="profiles_profile_fields" value="1" checked="checked" />			
			<label for="profiles_profile_fields">Profile Fields</label>
			</p>

			<p>
				<input type="checkbox" name="profiles_mailing_list_subscriptions" id="profiles_mailing_list_subscriptions" value="1" checked="checked" />			
			<label for="profiles_mailing_list_subscriptions">Mailing List Subscriptions</label>
			</p>

			<p>
				<input type="checkbox" name="profiles_protected_directories" id="profiles_protected_directories" value="1" checked="checked" />			
			<label for="profiles_protected_directories">Password Protected Directory Information</label>
			</p>

			<p>
				<input type="checkbox" name="profiles_update_email_address" id="profiles_update_email_address" value="1" checked="checked" />			
			<label for="profiles_update_email_address">Update Email Address</label>
			</p>
		
		
			<p>
				<input type="checkbox" name="profiles_change_password" id="profiles_change_password" value="1" checked="checked" />			
			<label for="profiles_change_password">Change Password</label>
			</p>
		
		
		


			<p>
				<input type="checkbox" name="profiles_delete_profile" id="profiles_delete_profile" value="1" checked="checked" />			
			<label for="profiles_delete_profile">Profile Deletion</label>
			</p>
		
		</fieldset>
	</div> 
<!-- /tmpl_if --> 

<!-- tmpl_if show_cache_options --> 
<p>
	<input type="checkbox" name="configure_cache" id="configure_cache" value="1" />			
<label for="configure_cache">Configure Caching</label>
</p>


<div id="cache_options">
<fieldset> 
	<p>
		<input type="checkbox" name="cache_options_SCREEN_CACHE" id="cache_options_SCREEN_CACHE" value="1"  />			
		<label for="cache_options_SCREEN_CACHE">
			Enable Screen Cache
		</label>
	</p>

	<p>
		<input type="checkbox" name="cache_options_DATA_CACHE" id="cache_options_DATA_CACHE" value="1" />			
		<label for="cache_options_DATA_CACHE">
			Enable Data Cache
		</label>
	</p>

	</div>

<!-- /tmpl_if --> 

<!-- tmpl_if show_debugging_options --> 
<p>
	<input type="checkbox" name="configure_debugging" id="configure_debugging" value="1" />			
<label for="configure_debugging">Configure Debugging</label>
</p>


<div id="debugging_options">
<fieldset> 
	
	<p>
		<input type="checkbox" name="debugging_options_DADA_App_DBIHandle" id="debugging_options_DADA_App_DBIHandle" value="1"  />			
		<label for="debugging_options_DADA_App_DBIHandle">
			DADA::App::DBIHandle
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_App_Subscriptions" id="debugging_options_DADA_App_Subscriptions" value="1"  />			
		<label for="debugging_options_DADA_App_Subscriptions">
			DADA::App::Subscriptions
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_Logging_Clickthrough" id="debugging_options_DADA_Logging_Clickthrough" value="1"  />			
		<label for="debugging_options_DADA_Logging_Clickthrough">
			DADA::Logging::Clickthrough
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_Profile" id="debugging_options_DADA_Profile" value="1"  />			
		<label for="debugging_options_DADA_Profile">
			DADA::Profile
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_Profile_Fields" id="debugging_options_DADA_Profile_Fields" value="1"  />			
		<label for="debugging_options_DADA_Profile_Fields">
			DADA::Profile::Fields
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_Profile_Session" id="debugging_options_DADA_Profile_Session" value="1"  />			
		<label for="debugging_options_DADA_Profile_Session">
			DADA::Profile::Session
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_Mail_MailOut" id="debugging_options_DADA_Mail_MailOut" value="1"  />			
		<label for="debugging_options_DADA_Mail_MailOut">
			DADA::Mail::MailOut
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_Mail_Send" id="debugging_options_DADA_Mail_Send" value="1"  />			
		<label for="debugging_options_DADA_Mail_Send">
			DADA::Mail::Send
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_App_BounceHandler_ScoreKeeper" id="debugging_options_DADA_App_BounceHandler_ScoreKeeper" value="1"  />			
		<label for="debugging_options_DADA_App_BounceHandler_ScoreKeeper">
			DADA::App::BounceHandler::ScoreKeeper
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_MailingList_baseSQL" id="debugging_options_DADA_MailingList_baseSQL" value="1"  />			
		<label for="debugging_options_DADA_MailingList_baseSQL">
			DADA::MailingList::baseSQL
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DADA_MailingList_MessageDrafts" id="debugging_options_DADA_MailingList_MessageDrafts" value="1"  />			
		<label for="debugging_options_DADA_MailingList_MessageDrafts">
			DADA::MailingList::MessageDrafts
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_DBI" id="debugging_options_DBI" value="1"  />			
		<label for="debugging_options_DBI">
			DBI
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_HTML_Template" id="debugging_options_HTML_Template" value="1"  />			
		<label for="debugging_options_HTML_Template">
			HTML::Template
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_MIME_LITE_HTML" id="debugging_options_MIME_LITE_HTML" value="1"  />			
		<label for="debugging_options_MIME_LITE_HTML">
			MIME::LITE::HTML
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_MAIL_POP3CLIENT" id="debugging_options_MAIL_POP3CLIENT" value="1"  />			
		<label for="debugging_options_MAIL_POP3CLIENT">
			Mail::POP3Client
		</label>
	</p>

	<p>
		<input type="checkbox" name="debugging_options_NET_SMTP" id="debugging_options_NET_SMTP" value="1"  />			
		<label for="debugging_options_NET_SMTP">
			Net::SMTP
		</label>
	</p>

</div>

<!-- /tmpl_if --> 




<!-- tmpl_if show_global_template_options --> 

	<p>
		<input type="checkbox" name="configure_templates" id="configure_templates" value="1" />			
	<label for="configure_templates">Configure Global Template Options</label>
	</p>


	<div id="template_options">
	<fieldset> 
		<p>
			<input type="checkbox" name="configure_user_template" id="configure_user_template" value="1" />			
			<label for="configure_user_template">
				Set a Global, User-Facing Template
			</label>
		</p>
	
		<p>
			<label for="template_options_USER_TEMPLATE">
				Server Absolute Path or URL to your User Template:
			</label>
			<br />
			<input type="text" name="template_options_USER_TEMPLATE" id="template_options_USER_TEMPLATE" value="" class="full" />
		</p>
		<div class="buttonfloat"> 
		<p>
			<input type="button" class="processing test_user_template" value="Test Your User Template"/>
		</p>
	
		</div>
		<div class="floatclear"></div> 
		<div id="test_user_template_results" class="clearskiesbox"></div> 
	
	
	</fieldset> 	
	</div> 
	<!-- /tmpl_if --> 
	


	<!-- tmpl_if show_security_options --> 

	<p>
		<input type="checkbox" name="configure_security" id="configure_security" value="1" />			
	<label for="configure_security">Configure Security Options</label>
	</p>
	<div id="security_options">
	<fieldset> 
		<p>
			<input type="checkbox" name="security_no_show_admin_link" id="security_no_show_admin_link" value="1" />			
			<label for="security_no_show_admin_link">Hide Administration Link</label>
		</p>
		<p>
			<input type="checkbox" name="security_DISABLE_OUTSIDE_LOGINS" id="security_DISABLE_OUTSIDE_LOGINS" value="1" />			
			<label for="security_DISABLE_OUTSIDE_LOGINS">Disable Outside Logins</label>
		</p>
	
		<p>
		<label for="security_ADMIN_FLAVOR_NAME">Admin Flavor Name:</label>
		<input type="text" name="security_ADMIN_FLAVOR_NAME" id="security_ADMIN_FLAVOR_NAME" value="" />			
		</p>

		<p>
		<label for="security_SIGN_IN_FLAVOR_NAME">Sign In Flavor Name:</label>
		<input type="text" name="security_SIGN_IN_FLAVOR_NAME" id="security_SIGN_IN_FLAVOR_NAME" value="" />			
		</p>
	
	</fieldset> 	
	</div> 
<!-- /tmpl_if --> 

<!-- tmpl_if show_captcha_options --> 

	<p>
		<input type="checkbox" name="configure_captcha" id="configure_captcha" value="1" />			
	<label for="configure_captcha">Configure CAPTCHA Options</label>
	</p>
	<div id="captcha_options">
	<fieldset> 
		
		
		<div class="clearskiesbox"> 
		
		<!-- tmpl_if can_use_GD --> 
				<ul>
					
				<li>
					<p>
						<strong>Default</strong> CAPTCHA is Supported.
					</p>
				</li>
		<!-- tmpl_else --> 
			<li>
				<p>
					The <strong>GD</strong> CPAN module needs to be installed, for reCAPTCHA support. 
				</p>
			</li> 
		<!-- /tmpl_if --> 
		<!-- tmpl_if can_use_CAPTCHA_reCAPTCHA --> 
			<li>
				<p>
					<strong>reCAPTCHA</strong> is Supported.
				</p>
			</li>
		<!-- tmpl_else --> 
			<li>
				<p>
					The <strong>CAPTCHA::reCAPTCHA</strong> CPAN module needs to be installed, for reCAPTCHA support. 
				</p>
			</li> 
		<!-- /tmpl_if --> 
		
		<!-- tmpl_if can_use_CAPTCHA_reCAPTCHA_Mailhide --> 
			<li> 
				<p>
					<strong>reCAPTCHA Mailhide</strong> is Supported.
				</p>
			</li>
		<!-- tmpl_else --> 
			<li>
				<p>
					The <strong>CAPTCHA::reCAPTCHA::Mailhide</strong> CPAN module needs to be installed, for reCAPTCHA Mailhide support. 
				</p>
			</li> 
		<!-- /tmpl_if --> 
		</div> 
	
		<h2>CAPTCHA Type:</h2>
	
		<p>
			<input type="radio" name="captcha_type" id="captcha_type_default" value="Default" checked="checked" class="radiochangeDisplayState" data-target="recaptcha_settings" data-state="hide" />
			<label for="captcha_type_default">Default CAPTCHA Type</label>
		<br />
			<input type="radio" name="captcha_type" id="captcha_type_recaptcha" value="reCAPTCHA" class="radiochangeDisplayState" data-target="recaptcha_settings" data-state="show" />
			<label for="captcha_type_recaptcha">reCAPTCHA (Recommended)</label>
		</p>
		
		<div id="recaptcha_settings"> 
			<p>
				<strong>
					More Information: 
				</strong>
				<a href="http://www.google.com/recaptcha" target="_blank">
					http://www.google.com/recaptcha
				</a>
			</p>
			<p>
				<label style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="captcha_reCAPTCHA_remote_addr">
					Remote Address:
				</label> 
				<input type="text" name="captcha_reCAPTCHA_remote_addr" id="captcha_reCAPTCHA_remote_addr" value="" class="midi" />
			</p>
	
			<p>
				<label style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="captcha_reCAPTCHA_public_key">
					reCPATCHA Public Key:
				</label> 
				<input type="text" name="captcha_reCAPTCHA_public_key" id="captcha_reCAPTCHA_public_key" value="" class="midi" />
			</p>

			<p>
				<label style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="captcha_reCAPTCHA_private_key">
					reCPATCHA Private Key:
				</label> 
				<input type="text" name="captcha_reCAPTCHA_private_key" id="captcha_reCAPTCHA_private_key" value="" class="midi" />
			</p>
		</div> 
		
		<div class="buttonfloat"> 
			<p>
				<input type="button" class="processing test_CAPTCHA_configuration" value="Test CAPTCHA Configuration"/>
			</p>
		</div>
		<div class="floatclear"></div> 
		<div id="test_CAPTCHA_configuration_results"></div> 
		
		
		<h2>reCAPTCHA Mailhide Settings:</h2>
		
		<p>
			<strong>
				More Information: 
			</strong>
			<a href="http://www.google.com/recaptcha/mailhide/" target="_blank">
				http://www.google.com/recaptcha/mailhide/
			</a>
		</p>
		
		<p>
			<label style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="captcha_reCAPTCHA_Mailhide_public_key">
				reCAPTCHA Mailhide Public Key:
			</label> 
			<input type="text" name="captcha_reCAPTCHA_Mailhide_public_key" id="captcha_reCAPTCHA_Mailhide_public_key" value="" class="midi" />
		</p>

		<p>
			<label style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="captcha_reCAPTCHA_Mailhide_private_key">
				reCAPTCHA Mailhide Private Key:
			</label> 
			<input type="text" name="captcha_reCAPTCHA_Mailhide_private_key" id="captcha_reCAPTCHA_Mailhide_private_key" value="" class="midi" />
		</p>
		
		<div class="buttonfloat"> 
			<p>
				<input type="button" class="processing test_captcha_reCAPTCHA_Mailhide_configuration" value="Test reCAPTCHA Mailhide Configuration"/>
			</p>
		</div>
		<div class="floatclear"></div> 
		<div id="captcha_reCAPTCHA_Mailhide_configuration_results"></div> 
		
		
		 
	</fieldset> 	
	</div> 
<!-- /tmpl_if --> 






<!-- tmpl_if show_global_mailing_list_options --> 

	<p>
		<input type="checkbox" name="configure_global_mailing_list_options" id="configure_global_mailing_list_options" value="1" />			
	<label for="configure_global_mailing_list_options">Configure Global Mailing List Options</label>
	</p>
	<div id="global_mailing_list_options">
	<fieldset> 
	    <p>
		<input type="checkbox" name="global_mailing_list_options_GLOBAL_UNSUBSCRIBE" id="global_mailing_list_options_GLOBAL_UNSUBSCRIBE" value="1"  />
		<label for="global_mailing_list_options_GLOBAL_UNSUBSCRIBE">Enable Global Unsubscribe</label>
		</p>

	    <p>
		<input type="checkbox" name="global_mailing_list_options_GLOBAL_BLACK_LIST" id="global_mailing_list_options_GLOBAL_BLACK_LIST" value="1" />
		<label for="global_mailing_list_options_GLOBAL_BLACK_LIST">Enable Global Black List</label>
		</p>

	</fieldset> 	
	</div> 
<!-- /tmpl_if --> 















<!-- tmpl_if show_global_mass_mailing_options --> 

	<p>
		<input type="checkbox" name="configure_mass_mailing" id="configure_mass_mailing" value="1" />			
	<label for="configure_mass_mailing">Configure Global Mass Mailing Options</label>
	</p>
	<div id="mass_mailing_options">
	<fieldset> 
	
		<p>
			<label for="mass_mailing_MAILOUT_AT_ONCE_LIMIT">
				Mass Mailings at Once Limit: 
			</label>
			<select name="mass_mailing_MAILOUT_AT_ONCE_LIMIT" id="mass_mailing_MAILOUT_AT_ONCE_LIMIT">
				<option value="1">1</option> 
				<option value="2">2</option> 
				<option value="3">3</option> 
				<option value="4">4</option> 
				<option value="5">5</option> 
				<option value="6">6</option> 
				<option value="7">7</option> 
				<option value="8">8</option> 
				<option value="9">9</option> 
				<option value="10">10</option> 
				<option value="15">15</option> 
				<option value="20">20</option> 
				<option value="25">25</option> 
				<option value="30">30</option> 
			</select>
		</p>

		<p>
			<input type="checkbox" name="mass_mailing_MULTIPLE_LIST_SENDING" id="mass_mailing_MULTIPLE_LIST_SENDING" value="1" />
			<label for="mass_mailing_MULTIPLE_LIST_SENDING">Multiple Mailing List Sending</label>
		</p>
	
		<p>
			<label for="mass_mailing_MAILOUT_STALE_AFTER">
				Mass Mailings Stale After: 
			</label>
			<select name="mass_mailing_MAILOUT_STALE_AFTER" id="mass_mailing_MAILOUT_STALE_AFTER">
				<option value="21600">6 hours</option>
				<option value="43200">12 hours</option>
				<option value="86400" selected="selected">1 Day</option> 
				<option value="172800">2 Days</option> 
				<option value="259200">3 Days</option>
			</select>
		</p>
	</fieldset> 	
	</div> 
<!-- /tmpl_if --> 





<!-- tmpl_if show_confirmation_token_options --> 

	<p>
		<input type="checkbox" name="configure_confirmation_token" id="configure_confirmation_token" value="1" />			
	<label for="configure_confirmation_token">Configure Confirmation Token Options</label>
	</p>
	<div id="confirmation_token_options">
	<fieldset> 	
		<p>
			<label for="confirmation_token_expires">
				Keep Confirmation Tokens For: 
			</label>
			<select name="confirmation_token_expires" id="confirmation_token_expires">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="30">30</option> 
				<option value="60" selected="selected">60</option> 
				<option value="90">90</option>
				<option value="180">180</option>
				<option value="360">360</option>
			</select>
			Days
		</p>
	</fieldset> 	
	</div> 
<!-- /tmpl_if --> 









<!-- tmpl_if show_amazon_ses_options --> 

	<p>
		<input type="checkbox" name="configure_amazon_ses" id="configure_amazon_ses" value="1" />			
	<label for="configure_amazon_ses">Configure Amazon SES</label>
	</p>
	<div id="amazon_ses_options">
	<fieldset> 
	
		<!-- tmpl_var amazon_ses_requirements_widget -->


        <p><label  style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="amazon_ses_AWS_endpoint">AWS Region/Endpoint:</label> 
        	<select name="amazon_ses_AWS_endpoint" id="amazon_ses_AWS_endpoint"> 
        		<option value="https://email.us-east-1.amazonaws.com/">US East (N. Virginia) Region (us-east-1)</option>
    			<option value="https://email.us-west-2.amazonaws.com/">US West (Oregon) Region (us-west-2)</option> 
    			<option value="https://email.eu-west-1.amazonaws.com/">EU (Ireland) Region (eu-west-1)</option>
        	</select>
        </p>
        
		<p>
			<label style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="amazon_ses_AWSAccessKeyId">
				AWS Access Key ID:
			</label> 
			<input type="text" name="amazon_ses_AWSAccessKeyId" id="amazon_ses_AWSAccessKeyId" value="" class="midi" />
		</p>

		<p>
			<label style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="amazon_ses_AWSSecretKey">
				AWS Secret Access Key:
			</label> 
			<input type="text" name="amazon_ses_AWSSecretKey" id="amazon_ses_AWSSecretKey" value=""  class="midi" />
		</p>
		
		<p><label  style="width: 18em;float: left;text-align: right;margin-right: 0.5em;display: block" for="amazon_ses_Allowed_Sending_Quota_Percentage">
		    Allow <!-- tmpl_var PROGRAM_NAME --> to Utilize:
		</label> 
            <!-- tmpl_var amazon_ses_Allowed_Sending_Quota_Percentage_popup_menu -->% of the Total Amazon SES Sending Quota. 
        </p>
        
		<div class="buttonfloat"> 
		<p>
			<input type="button" class="processing test_amazon_ses_configuration" value="Test Your AWS Credentials"/>
		</p>
	
		</div>
		<div class="floatclear"></div> 
	
	
		<div id="test_amazon_ses_configuration_results" class="clearskiesbox"></div> 
	
	
	</fieldset> 	
	</div> 
<!-- /tmpl_if --> 

</fieldset> 



<input type="hidden" name="f" value="check" /> 

<p style="text-align:center">
 <input type="submit" value="       &#187; Configure  <!-- tmpl_var PROGRAM_NAME -->! &#171;       " class="processing bigger_button" /> 
</p>


</form> 

<!-- tmpl_include install_debug_info_widget.tmpl --> 

<!-- end installer_configure_dada_mail_scrn.tmpl --> 