<!-- begin installer_extra_javascript_widget.tmpl --> 

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
<script>
	var $jq = jQuery.noConflict();
</script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
<script src="<!-- tmpl_var Self_URL -->?f=screen&screen=installer-dada_mail_admin_js.js" type="text/javascript"></script>

<!-- tmpl_if comment --> 

<script type="text/javascript"> 
		


				 function move_installer_dir(){ 

					new Ajax.Updater(
						'move_results', '<!-- tmpl_var Self_URL -->', 
						{ 
						    method: 'post', 
							parameters: {
								f:                         'move_installer_dir_ajax'

								},
						onCreate: 	 function() {
							$('move_results').hide(); 
							/*$('sending_preferences_test_loading').show();*/

						},
						onComplete: 	 function() {

						/*	$('sending_preferences_test_loading').hide();*/
							Effect.BlindDown('move_results');

						}	


						});
				}

			
		
		function setStuffUp() { 
			ToggleSQLOptions(); 
			Toggle_dada_files_dirOptions();
			ToggleConfigurationOptions(); 
		
		}
		
	
	
	//]]>
    
	</script>
<!-- /tmpl_if --> 
	
<!-- end installer_extra_javascript_widget.tmpl -->