<!-- begin installer_install_dada_mail_scrn.tmpl --> 

<!-- tmpl_set name="title" value="Installing/Configuring <!-- tmpl_var PROGRAM_NAME -->" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<div id="installer_install_dada_mail"></div> 


	<div class="row">
		<div class="small-12 medium-8 large-8 medium-centered large-centered columns">


<fieldset> 
<legend>
	Installation Log:
</legend>
<div id="install_log"> 
	<!-- tmpl_var install_log -->
</div> 
 </fieldset> 

<form> 
	<input type="hidden" name="self_url" id="self_url" value="<!-- tmpl_var Self_URL -->" />
</form> 

 <h1>Almost Done!</h1> 

<!-- tmpl_if error_cant_edit_config_dot_pm --> 

	<form> 
	<p>
		You'll have to manually edit your, <strong><em>dada/DADA/Config.pm</em></strong> file. For security reasons, 
		this installer cannot edit it, itself. 
	</p> 

<fieldset> 
		
	<p>Find this line in the source code of the <strong><em>dada/DADA/Config.pm</em></strong> file: </p> 
	
	<input type="text"  value="$PROGRAM_CONFIG_FILE_DIR = 'auto';" />
	
	<p>
		Change it to:  
	</p> 
	
	<input type="text"  value="$PROGRAM_CONFIG_FILE_DIR = '<!-- tmpl_var install_dada_files_loc -->/<!-- tmpl_var Dada_Files_Dir_Name -->/.configs';" /> 


	</fieldset>
			
	<p>
		And save the copy of the <strong><em>dada/DADA/Config.pm</em></strong> file on your hosting account. 
	</p> 


<!-- /tmpl_if --> 
<fieldset> 
    
 <legend>Set the <!-- tmpl_var PROGRAM_NAME --> Cronjob:</legend> 
 
 <p>
     This cronjob makes sure that things like the Mailing Monitor, Scheduled Mass Mailing, Bounce Handler, and Bridge function properly: 
 </p>
 
 <div data-alert class="alert-box success radius">

         <!-- tmpl_var S_PROGRAM_URL -->/<!-- tmpl_var scheduled_jobs_flavor escape="HTML" -->/_all/_all/_silent/

 </div> 
 <p> 
     Set this URL to be fetched by a scheduled task (cronjob) on a recurring schedule (~5 minutes)
 </p>
 
 <p>
     <label for="cronjob_url">Using the curl command:</label> <br /> 
     <input type="text"  id="cronjob_url" value="<!-- tmpl_var name="curl_location" default="/cannot/find/curl" --> --user-agent &quot;Mozilla/5.0 (compatible;)&quot; --silent --get --url <!-- tmpl_var S_PROGRAM_URL -->/<!-- tmpl_var scheduled_jobs_flavor escape="HTML" -->/_all/_all/_silent/" />
 </p>
 </fieldset> 
 
 
 <fieldset> 
     
 <legend>Rename/Remove the, "installer" Directory!</legend> 

<p>
	Rename/Remove the, <em>dada/<strong>installer</strong></em> directory! <!-- tmpl_var PROGRAM_NAME --> will not be enabled 
	without this directory being removed or renamed. 
</p> 

<form> 
<div class="text-center"> 
<input type="button" value="Move the, 'dada/installer' Directory, Disable the, 'install.cgi' script" class="cautionary button expand" id="move_installer_dir" />	
</div> 
</form> 
<div id="move_results"></div> 


 </fieldset> 

<fieldset> 
     
<legend>Additional Configuration?</legend> 

<p>If you want to perform any additional configuration, your outside config file is located at, </p> 

<p><code>
<!-- tmpl_var install_dada_files_loc -->/<!-- tmpl_var Dada_Files_Dir_Name -->/.configs/.dada_config
</code></p> 

</form> 
	
</fieldset> 



<!-- tmpl_if status --> 


<h1>Ready To Use <!-- tmpl_var PROGRAM_NAME -->?</h1> 


<form action="<!-- tmpl_var submitted_PROGRAM_URL -->"> 
		<input type="submit" class="success large button expand" value="&#187; Start Working With  <!-- tmpl_var PROGRAM_NAME -->! &#171;" />
</form>


<!-- tmpl_else --> 
	<h1>Problems Have Occurred:</h1> 
	
	<p>Problems with the installation - look in the Installation Log for clues.</p> 
	<p>
		Please report errors this install has encountered to the 
		<a href="http://dadamailproject.com/support/boards/"> 
			Dada Mail Support Boards
		</a>
	</p> 
	
<!-- /tmpl_if -->

</div> 
</div> 

<!-- tmpl_include install_debug_info_widget.tmpl --> 

<!-- end installer_install_dada_mail_scrn.tmpl --> 
