<!-- begin installer_configure_dada_mail_scrn.tmpl --> 

<!-- tmpl_set name="title" value="Install <!-- tmpl_var PROGRAM_NAME -->" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<!-- <h1>Install <!-- tmpl_var PROGRAM_NAME --></h1>  -->
	
<!-- tmpl_if errors --> 
	<h2>
		Problems When Attempting to Install!
	</h2>
	<div class="badweatherbox"> 
	 <p><strong>Yikes!</strong>
		<p>Some problems were encountered, when attempting to install and configure 
		<!-- tmpl_var PROGRAM_NAME -->. Details are marked below.</p>
	</div>  
<!-- /tmpl_if --> 





<!-- tmpl_if error_cant_read_config_dot_pm --> 

	<div class="badweatherbox">


	<h3>Warning!</h3>

	<p> 
	    <!-- tmpl_var PROGRAM_NAME --> can't read your, <em>dada/DADA/Config.pm</em> file.
	</p>
	<p> 
		You may still perform this installation, but you may have to edit parts of the <em>dada/DADA/Config.pm</em>
		file yourself. (We'll let you know where.)
	</p>
	</div> 

<!-- /tmpl_if --> 
<!-- tmpl_if error_cant_write_config_dot_pm --> 


<div class="badweatherbox">


<h3>Warning!</h3> 
<p> 
	<!-- tmpl_var PROGRAM_NAME --> won't be able to write to edit your <em>dada/DADA/Config.pm</em> file itself.
	</p> 
	<p> 
	You may still perform this installation, but you may have to edit parts of the <em>dada/DADA/Config.pm</em>
	file yourself. (We'll let you know, where.)
</p>
</div> 
<!-- /tmpl_if --> 

<!-- tmpl_if comment --> 
	<!-- tmpl_loop errors --> 
		<p>Error <!-- tmpl_var error --> 
	<!-- /tmpl_loop --> 
<!-- /tmpl_if -->


	<!-- tmpl_if test_complete_dada_files_dir_structure_exists --> 

		<div <!-- tmpl_if expr="(install_type eq 'install')" -->class="badweatherbox"<!-- tmpl_else -->class="clearskiesbox"<!-- /tmpl_if -->>
		<p>
			A current <!-- tmpl_var PROGRAM_NAME --> configuration was discovered at:</p> 

			<ul>
				<li>
				 <p>
				 <strong><!-- tmpl_var configured_dada_config_file --></strong>
				</p>
			</li>
			</ul>

			<form target="_blank" action="<!-- tmpl_var Self_URL -->"> 
				<input type="hidden" name="f" value="show_current_dada_config" /> 
				<input type="hidden" name="config_file" value = "<!-- tmpl_var configured_dada_config_file escape="HTML" -->" /> 
				<div style="text-align:center">
				<input type="submit" value="View this .dada_config Configuration..." class="plain" />
				</div >
			</form>

			<!-- tmpl_if expr="(install_type eq 'install')" -->
				<strong>Choose a different location</strong> for your <!-- tmpl_var Dada_Files_Dir_Name --> directory below, 
				or <strong><a href="<!-- tmpl_var Self_URL -->">start over and Upgrade</a></strong>.
				
			<!-- /tmpl_if --> 
			
			<!-- tmpl_if comment --> 
			<p>Use:</p>
			<ul><li><p><strong><!-- tmpl_var configured_dada_files_loc --></strong></p></li></ul>
			<p>for the <strong>&quot;<!-- tmpl_var Dada_Files_Dir_Name -->&quot; Directory Location</strong> below, to 
				<strong>upgrade</strong> this <!-- tmpl_var PROGRAM_NAME --> installation.</p>

			<p>Use a <em>different</em> <!-- tmpl_var Dada_Files_Dir_Name --> location for a <strong>new installation</strong> of <!-- tmpl_var PROGRAM_NAME --></p>
			<!-- /tmpl_if -->
		</div> 

	<!-- /tmpl_if --> 

	<form action="<!-- tmpl_var Self_URL -->" method="post" id="installform"> 
		<input type="hidden" name="install_type"                       value="<!-- tmpl_var install_type -->" />
		<input type="hidden" name="current_dada_files_parent_location" value="<!-- tmpl_var current_dada_files_parent_location -->" />
		
	<!-- tmpl_if expr="(install_type eq 'upgrade')" -->
	
		<fieldset style="background:#cbecff">
			<legend>Upgrade Options</legend>	

				<p>
			<input type="radio" name="if_dada_files_already_exists"	id="keep_dir_create_new_config" value="keep_dir_create_new_config" checked="checked" onClick="ToggleConfigurationOptions('show');"  /> 
			<label for="keep_dir_create_new_config">
				Create a new .dada_config  file
			</label><br />
			Use the existing directory structure, but create a new configuration 
			file, using the information below. 
			 (Your previous .dada_config  file will be backed up and saved.)
			</p>

	
			<p><input type="radio" name="if_dada_files_already_exists"	id="skip_configure_dada_files" value="skip_configure_dada_files" onClick="ToggleConfigurationOptions('hide');" /> 
			<label for="skip_configure_dada_files">
				Use the current .dada_config  file
					</label>
					<br />
					No new .dada_config file will be created.
				</p>
					</fieldset>
	<!-- /tmpl_if -->

			
			<!-- tmpl_if expr="(install_type eq 'install')" -->	
			<!-- tmpl_if error_create_dada_files_dir  --> 

				<div class="badweatherbox">
				<ul> 
				<li>
				 Can not create, <em><!-- tmpl_var install_dada_files_dir_at -->/<strong><!-- tmpl_var Dada_Files_Dir_Name --></strong></em>
				</p>
				</li>
				</ul>
				</div>


			<!-- /tmpl_if --> 
			<!-- tmpl_if error_dada_files_dir_exists  --> 

					<div class="badweatherbox">
						<ul> 
						<li>
							<p>
								The directory, <em><!-- tmpl_var dada_files_loc -->/<strong><!-- tmpl_var Dada_Files_Dir_Name --></strong></em> already exists.
							</p>
						</li>
					</ul>

				</div>
				<!-- /tmpl_if -->
			<!-- /tmpl_if -->  


	<!-- tmpl_if expr="(install_type eq 'upgrade')" -->
		<input type="hidden" name="dada_files_dir_setup" value="manual" />
		<input type="hidden" name="dada_files_loc"       value="<!-- tmpl_var current_dada_files_parent_location escape=HTML -->" />
	<!-- tmpl_else --> 
		<fieldset> 
		<legend>
			&quot;<!-- tmpl_var Dada_Files_Dir_Name -->&quot; Directory Location [<a href="#" onclick="toggleDisplay('dada_files_help');return false;">?</a>]
		</legend>
	
		<div id="dada_files_help" class="clearskiesbox" style="display:none"> 
		<p>	
			<!-- tmpl_var PROGRAM_NAME --> will need to write various files and will need a directory for which to do this in. You'll 
			have to tell <!-- tmpl_var PROGRAM_NAME --> where you'd like this directory to live. The directory will be called, <em><!-- tmpl_var Dada_Files_Dir_Name --></em>. 
			</p>
			<p>
			Usually, this directory will live under your home directory and <!-- tmpl_var PROGRAM_NAME --> can usually guess where that is, but if it guesses wrong
			or it cannot create the, <em><!-- tmpl_var Dada_Files_Dir_Name --></em> directory in your home directory, you may need to set an alternative location. 
		</p> 
		</div> 

		<p>
		 <input type="radio" checked="checked" id="dada_files_dir_setup_auto"  name="dada_files_dir_setup" value="auto" onChange="Toggle_dada_files_dirOptions(); return false;">
			<label for="dada_files_dir_setup_auto">AUTO 
			Use <!-- tmpl_var PROGRAM_NAME -->'s best guess.  </label>(<em> <!-- tmpl_var home_dir_guess --></em>). 
		</p> 

		 <p>
		  <input type="radio"  id="dada_files_dir_setup_manual" name="dada_files_dir_setup" value="manual" onChange="Toggle_dada_files_dirOptions(); return false;">
		<label for="dada_files_dir_setup_manual"> 
		 MANUAL.
		</label>  Explicitly set the Absolute Path to where the <em><strong><!-- tmpl_var Dada_Files_Dir_Name --></strong></em> directory should be installed:</p>

		<div id="manual_dada_files_dir_setup">
		<fieldset> 
		<legend> 
			Manual Configuration of the, <em><!-- tmpl_var Dada_Files_Dir_Name --></em> directory
		</legend> 
		<p> 
		 <input type="text" name="dada_files_loc" value="<!-- tmpl_var home_dir_guess -->" class="midi" style="text-align:right" /><span class="fake_input">/<!-- tmpl_var Dada_Files_Dir_Name --></span>
		</p> 

		</fieldset>

		</div> 

		</fieldset>
<!-- /tmpl_if --> 



<div id="configuration"> 
	

<h1>Configuration</h1> 	
<fieldset> 

<legend>

<!-- tmpl_var PROGRAM_NAME --> URL [<a href="#" onclick="toggleDisplay('program_url_help');return false;">?</a>]

</legend> 


<!-- tmpl_if error_program_url_is_blank  --> 
	<div class="badweatherbox">
	
	<ul>
	<li>
		<p>	Your <!-- tmpl_var PROGRAM_NAME --> URL is blank.</em>
	</p></li>
	</ul> 
</div>
<!-- /tmpl_if -->



<p><label for="program_url"><!-- tmpl_var PROGRAM_NAME --> Program URL:</label>
</p>
<div id="program_url_help" style="display:none" class="clearskiesbox"> 
	 <p>
	 	The <!-- tmpl_var PROGRAM_NAME --> Program URL should be set to where you access the, <em>mail.cgi</em> script, currently. 
	 </p> 
</div> 


<p>
<input type="text" id="program_url" name="program_url" class="midi" value="<!-- tmpl_var program_url_guess -->" />
</p> 

</fieldset> 



<fieldset> 

<legend>
	<!-- tmpl_var PROGRAM_NAME --> Root Password [<a href="#" onclick="toggleDisplay('root_pass_help');return false;">?</a>]
</legend> 


<!-- tmpl_if error_root_pass_is_blank  --> 
	<div class="badweatherbox">
	
	<ul>
	<li>
	<p> 
	Your <!-- tmpl_var PROGRAM_NAME --> Root Password is Blank.</em>
	</p></li></ul> 
</div>

<!-- /tmpl_if -->
<!-- tmpl_if error_pass_no_match  --> 
	<div class="badweatherbox">
	
	<ul>
	<li>
	<p> 
	Your <!-- tmpl_var PROGRAM_NAME --> Root Passwords Do Not Match.</em>
	</p></li>
	</ul> 
</div>
<!-- /tmpl_if -->

<div id="root_pass_help" style="display:none" class="clearskiesbox"> 

<p>This is the main password to <!-- tmpl_var PROGRAM_NAME -->, used to create new mailing lists and to 
access <em>any</em> mailing list.</p> 
</div> 

<p><label for="dada_root_pass"><!-- tmpl_var PROGRAM_NAME --> Root Password:</label>
<br /> 
<input type="text" id="dada_root_pass" name="dada_root_pass" />
</p> 
<p><label for="dada_root_pass_again">Re-type Your <!-- tmpl_var PROGRAM_NAME --> Root Password:</label><br /> 
<input type="text" id="dada_root_pass_again" name="dada_root_pass_again" /></p> 
<hr /> 
</fieldset> 



<fieldset> 

<legend><!-- tmpl_var PROGRAM_NAME --> Backend [<a href="#" onclick="toggleDisplay('backend_help');return false;">?</a>]</legend> 

<!-- tmpl_if error_sql_connection  --> 
	<div class="badweatherbox">
	
	<ul>
	<li>
	<p> 
		Could not connect to your SQL Server
	</p>
	</li>
	</ul> 
	</div>
	
<!-- /tmpl_if -->



<div id="backend_help" style="display:none" class="clearskiesbox"> 
 
<p>	
	<!-- tmpl_var PROGRAM_NAME --> supports a few different types of backends to save its mailing list settings, lists, archive, etc into. 
</p> 
<p>	
	The <strong>Default</strong> backend should be available for almost any server setup, but doesn't allow you to use some of the more 
	advanced features of <!-- tmpl_var PROGRAM_NAME -->. </p> 
	<p>The <strong>MySQL</strong>, <strong>PostgreSQL</strong> and <strong>SQLite</strong> 
		backends allow you to use these advanced features and just require you to fill in the database details.
If using either the SQL backends, make sure to create a new database before configuring 
<!-- tmpl_var PROGRAM_NAME --> and type in the SQL information below. <!-- tmpl_var PROGRAM_NAME -->
 will create the necessary tables. 
</p> 

<p><strong>SQLite</strong> is only suggested for testing purposes and never for production.</p>
	
</div>
<p>
	<select name="backend" id="backend" onChange="ToggleSQLOptions(); return false;"> 
		<option value="default">Default Backend</option>
		<!-- tmpl_if can_use_DBI --> 
			<option value="mysql" <!-- tmpl_unless can_use_MySQL -->disabled="disabled"<!-- tmpl_else -->selected="selected"<!-- /tmpl_unless -->><!-- tmpl_if can_use_MySQL -->MySQL (recommended)<!-- tmpl_else -->MySQL (not available)<!-- /tmpl_if --></option> 
			<option value="Pg" <!-- tmpl_unless can_use_Pg -->disabled="disabled"<!-- /tmpl_unless -->>PostgreSQL <!-- tmpl_unless can_use_Pg -->(not available)<!-- /tmpl_unless --></option> 	
			<option value="SQLite" <!-- tmpl_unless can_use_SQLite -->disabled="disabled"<!-- /tmpl_unless -->>SQLite<!-- tmpl_unless can_use_SQLite -->(not available)<!-- /tmpl_unless --></option> 
		<!-- /tmpl_if --> 
	</select>
</p>

<!-- tmpl_if can_use_DBI --> 
<div id="sql_info" style="display:none;"> 
<fieldset>
	<legend>SQL Information</legend> 
	
	<!-- tmpl_if error_sql_table_populated -->
	<div class="badweatherbox">
	
	<ul>
		<li>
			<p>
				The SQL information below is correct, but there are tables in this database that correspond to the tables that <!-- tmpl_var PROGRAM_NAME --> requires.
			</p>
			
				
			<p>
				<input type="checkbox" name="skip_configure_SQL" id="skip_configure_SQL" value="1">
				 <label for="skip_configure_SQL">
				  I know these tables already exist.
				 </label>
				<br />
				Use these existing tables, instead of making new ones.
			</p>
			
		
		</li>
	</ul>
</div>

	<!-- /tmpl_if -->
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_server">Server:</label> <input type="text" name="sql_server" id="sql_server" value="localhost" />
	</p>
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_database">Database:</label> <input type="text" name="sql_database" id="sql_database" />
	</p>
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_port">Port:</label> <input type="text" name="sql_port" id="sql_port" value="auto" />
	</p>
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_username">Username:</label> <input type="text" name="sql_username" id="sql_username"/>
	</p>
	<p>
		<label style="width: 7em;float: left;text-align: right;margin-right: 0.5em;display: block" for="sql_password">Password:</label> <input type="text" name="sql_password" id="sql_password"/> 
	</p>
</fieldset>

</div> 



<!-- tmpl_else --> 
	<div class="badweatherbox">
	<p>Your current server setup does not support the SQL backend. 
	</p>
</div>
	
<!-- /tmpl_if --> 
</fieldset> 


<fieldset> 
<legend>Plugins/Extensions (Optional) [<a href="#" onclick="toggleDisplay('plugins_extensions_help');return false;">?</a>]</legend>

<div id="plugins_extensions_help" class="clearskiesbox" style="display:none"> 

<p>
	<!-- tmpl_var PROGRAM_NAME --> comes with several plugins/extensions that add additional functionality to your <!-- tmpl_var PROGRAM_NAME --> install. 
</p>

<p>
<em>Some</em> of the plugins/extensions require additional configuration, usually a cronjob has to be manually set, 
for it to work correctly. For help on setting the cronjob, see the 
<a href="<!-- tmpl_var DOC_URL -->" target="_blank">online documentation</a> for the plugin/extension. 
</p>

	
</div> 

<p><input type="checkbox" name="install_mailing_monitor" id="install_mailing_monitor" value="1" /><label for="install_mailing_monitor">Mailing Monitor Plugin</label>
	 <span class="alert">Requires Additional Configuration (cronjob)</span></p
	
<p><input type="checkbox" name="install_change_root_password" id="install_change_root_password" value="1" /><label for="install_change_root_password">Change the Program Root Password</label></p> 

<p><input type="checkbox" name="install_screen_cache" id="install_screen_cache" value="1" /><label for="install_screen_cache">Screen Cache</label></p> 

<p><input type="checkbox" name="install_log_viewer" id="install_log_viewer" value="1" /><label for="install_log_viewer">View Logs</label></p> 

<p><input type="checkbox" name="install_tracker" id="install_tracker" value="1" /><label for="install_tracker">Tracker</label></p> 

<p><input type="checkbox" name="install_dada_bridge" id="install_dada_bridge" value="1" /><label for="install_dada_bridge">Discussion Lists</label> <span class="alert">Requires Additional Configuration (cronjob)</span>	
</p> 

<p><input type="checkbox" name="install_dada_bounce_handler" id="install_dada_bounce_handler" value="1" /><label for="install_dada_bounce_handler">Bounce Handler</label> <span class="alert">Requires Additional Configuration (cronjob)</span></p> 
<fieldset> 
	<legend>Additional Bounce Handler Configuration [<a href="#" onclick="toggleDisplay('bounce_handler_configuration_help');return false;">?</a>]</legend>
	
	<div id="bounce_handler_configuration_help" style="display:none" class="clearskiesbox">
		<p>
			The Bounce Handler requires a new POP3 email account to be created, in order to work correctly. Make sure the email address isn't used for 
			any other purpose, except for the bounce handler. See the <a href="<!-- tmpl_var DOC_URL -->/dada_bounce_handler.pl.html"  target="_blank">documentation for this plugin</a> for additional information. 
			</p> 
	</div> 
	
	<p><label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="dada_bounce_handler_address">Bounce Handler Email Address:</label> <input type="text" name="dada_bounce_handler_address" id="dada_bounce_handler_address" value="" /></p>

	<p><label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="dada_bounce_handler_server">Mail Server:</label> <input type="text" name="dada_bounce_handler_server" id="dada_bounce_handler_server" value="" /></p>

	<p><label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="dada_bounce_handler_username">Username:</label> <input type="text" name="dada_bounce_handler_username" id="dada_bounce_handler_username" value="" /></p>

	<p><label style="width: 16em;float: left;text-align: right;margin-right: 0.5em;display: block" for="dada_bounce_handler_password">Password:</label> <input type="text" name="dada_bounce_handler_password" id="dada_bounce_handler_password" value="" /></p>
	 


</fieldset> 

<p><input type="checkbox" name="install_scheduled_mailings" id="install_scheduled_mailings" value="1" /><label for="install_scheduled_mailings">Scheduled Mailings</label>	
 <span class="alert">Requires Additional Configuration (cronjob)</span></p> 

<p><input type="checkbox" name="install_multiple_subscribe" id="install_multiple_subscribe" value="1" /><label for="install_multiple_subscribe">Multiple Subscribe</label></p> 

<p><input type="checkbox" name="install_ajax_include_subscribe" id="install_ajax_include_subscribe" value="1" /><label for="install_ajax_include_subscribe">Ajax'd Subscription Form</label></p> 

<p><input type="checkbox" name="install_blog_index" id="install_blog_index" value="1"  /><label for="install_blog_index">Archive Blog Index</label></p> 

<p><input type="checkbox" name="install_default_mass_mailing_messages" id="install_default_mass_mailing_messages" value="1"  /><label for="install_default_mass_mailing_messages">Default Mass Mailing Messages</label></p> 

<p><input type="checkbox" name="install_change_list_shortname" id="install_change_list_shortname" value="1"  /><label for="install_change_list_shortname">Change Your List Short Name</label></p> 


<p><input type="checkbox" name="install_password_protect_directories" id="install_password_protect_directories" value="1"  /><label for="install_password_protect_directories">Password Protect Directories</label> <span class="alert">Optionally Requires Additional Configuration (cronjob)</span>	</p> 
</fieldset> 

<fieldset> 
	
<legend>WYSIWYG Editors (Optional) [<a href="#" onclick="toggleDisplay('wysiwyg_editor_help');return false;">?</a>]</legend>
<div id="wysiwyg_editor_help" style="display:none" class="clearskiesbox"> 
<p>Dada Mail supports the use of third party WYSIWYG HTML editors to allow you to 
compose and edit HTML mailing list messages. This allows you to send rich text messages, 
right in Dada Mail's list control panel, without needing to know any HTML. The 
HTML produced by these WYSIWYG editors is actually pretty good for the use of HTML 
emails, as most of the text formatting is done with inline css styles and these 
editors also have the ability to make simple HTML tables for basic layouts. 
</p>
<p>
	The Installer will use the Absolute Path and Corresponding URL you set below to 
	install/configure the WYSIWYG editor(s) and file browser. 
	Unlike the <strong><!-- tmpl_var Dada_Files_Dir_Name --></strong> 
	directory location, you will want this directory to be publicly accessible.
</p> 



</div> 

<p>
	<p>
		<input type="checkbox" name="install_wysiwyg_editors" id="install_wysiwyg_editors" value="1" checked="checked" onClick="ToggleWYSIWYGOptions();"/>			
	<label for="install_wysiwyg_editors">Install and Configure WYSIWYG Editors</label>
	</p>
	
</p>

<div id="install_wysiwyg_editors_options">


	<p>
		<label for="support_files_dir_path">Server Absolute Path to the <!-- tmpl_var PROGRAM_NAME --> Support Files Directory:</label><br />
		<input type="text" name="support_files_dir_path"  id="support_files_dir_path" class="midi" style="text-align:right" value="<!-- tmpl_var support_files_dir_path -->" /><span class="fake_input">/<!-- tmpl_var Support_Files_Dir_Name --></span>
		<br />
		<label for="support_files_dir_url">Corresponding URL to the Support Files Directory</label>
		<br />
		<input type="text" name="support_files_dir_url" id="support_files_dir_url" class="midi" style="text-align:right" value="<!-- tmpl_var support_files_dir_url -->" /><span class="fake_input">/<!-- tmpl_var Support_Files_Dir_Name --></span>
	</p>


	<p>
		<input type="checkbox" name="wysiwyg_editor_install_ckeditor" id="wysiwyg_editor_install_ckeditor" value="1" checked="checked" />			
	<label for="wysiwyg_editor_install_ckeditor">Install CKeditor</label>
	</p>

	<p>
		<input type="checkbox" name="wysiwyg_editor_install_tiny_mce" id="wysiwyg_editor_install_tiny_mce" value="1" checked="checked" />			
	<label for="wysiwyg_editor_install_tiny_mce">Install Tiny MCE</label>
	</p>

	<p>
		<input type="checkbox" name="wysiwyg_editor_install_fckeditor" id="wysiwyg_editor_install_fckeditor" value="1"/>			
	<label for="wysiwyg_editor_install_fckeditor">Install FCKeditor (Not Recommended)</label>
	</p>
		
	<h2>File Browsers/Uploaders</h2>

	<input type="checkbox" name="file_browser_install_kcfinder" id="file_browser_install_kcfinder" value="1" checked="checked"/>			
	<label for="file_browser_install_kcfinder">Install KCFinder</label>

</div> 

</fieldset> 

</div> 

<input type="hidden" name="f" value="check" /> 

<p style="text-align:center">
 <input type="submit" value="       &#187; Configure  <!-- tmpl_var PROGRAM_NAME -->! &#171;       " class="processing bigger_button" /> 
</p>


</form> 

<!-- tmpl_include install_debug_info_widget.tmpl --> 

<!-- end installer_configure_dada_mail_scrn.tmpl --> 