<p class="text-center">
	<a href="https://dadamailproject.com/purchase/pro.html" target="_blank">
		<img src="<!-- tmpl_var Self_URL -->?flavor=screen&screen=upgrade_to_pro_dada.jpg" style="border:0px" />
	</a>
</p>