$WYSIWYG_EDITOR_OPTIONS = { 
	fckeditor => { 
		enabled => <!-- tmpl_var i_fckeditor_enabled default="0" -->, 
		url     => '<!-- tmpl_var i_fckeditor_url -->', 
	}, 
	ckeditor    => { 
		enabled => <!-- tmpl_var i_ckeditor_enabled default="0" -->, 
		url     => '<!-- tmpl_var i_ckeditor_url -->', 
	}, 
	tiny_mce => { 
		enabled => <!-- tmpl_var i_tiny_mce_enabled default="0" -->, 
		url     => '<!-- tmpl_var i_tiny_mce_url -->', 
	},
};

$FILE_BROWSER_OPTIONS = { 
	kcfinder  => { 
		enabled      => <!-- tmpl_var i_kcfinder_enabled default="0" -->, 
		url          => '<!-- tmpl_var i_kcfinder_url -->', 
		upload_dir   => '<!-- tmpl_var i_kcfinder_upload_dir -->', 
		upload_url   => '<!-- tmpl_var i_kcfinder_upload_url -->',
		session_name => 'PHPSESSID', 
		session_dir  => '<!-- tmpl_var i_session_dir -->',
	},
};