<!-- tmpl_set name="title" value="Global Config Helper" -->
<div id="screen_meta" data-menu_highlight="global_config"></div>


<div class="row">
	<div class="medium-10 large-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Plugins/Extensions
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Global Config Helper
			</a>
		</nav>
	</div>
	<div class="medium-2 large-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

   <div class="alert-box info radius">
	   
		<p>
		This plugin will reconfigure the bundled <!-- tmpl_var PROGRAM_NAME --> Installer, 
		re-enabling it, and allowing you to use it to reconfigure your <!-- tmpl_var PROGRAM_NAME -->.
		</p> 
	</div>

	  <div class="alert-box warning radius">
		   
		<p>
			<strong>Warning!</strong> 
				
				Once you've enabled the <!-- tmpl_var PROGRAM_NAME --> Installer, your <!-- tmpl_var PROGRAM_NAME --> will
			NOT be functional until you've correctly reconfigured your installation. Changing global variables using the 
			<!-- tmpl_var PROGRAM_NAME --> Installer may cause your installation of <!-- tmpl_var PROGRAM_NAME --> to 
			stop functioning correctly! Only proceed, if you are sure of your abilities to reconfigure the application. 
		</p>
	</div>

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">

	<input type="hidden" name="flavor" value="plugins" > 
	<input type="hidden" name="plugin" value="global_config" > 
	<input type="hidden" name="prm" value="reconfigure" > 
	<div class="text-center">
		<input type="submit" value="Reconfigure <!-- tmpl_var PROGRAM_NAME -->..." class="alert large button expand" >
	</div>

</form> 

