<!-- tmpl_set name="title" value="Request Successful, Check Your Email!" --> 

<!-- tmpl_unless chrome --> 
	<h1><!-- tmpl_var title --></h1>
<!-- /tmpl_unless --> 

<p>Your request to subscribe to 
<strong><!-- tmpl_var list_settings.list_name --></strong> was successful! 
</p>

<p>
	<strong>
		Next Step:
	</strong>
	
make sure to <strong>confirm</strong> your subscription by 
following the confirmation link we've just sent you via email.</p>

<p>
Your confirmation email will be coming from: <a href="mailto:<!-- tmpl_var list_settings.list_owner_email -->"><!-- tmpl_var list_settings.list_owner_email --></a></p>

<!-- tmpl_if chrome --> 

	<p>This confirmation process, known as Closed-Loop Opt-In Confirmation, has 
	been put into place to protect the privacy of the owner of this email 
	address.</p>

	<p>If you do not receive this confirmation, make sure that this email 
	address: </p>

	 <blockquote>
	 <p>
	  <strong>
	   <a href="mailto:<!-- tmpl_var list_settings.list_owner_email -->">
	    <!-- tmpl_var list_settings.list_owner_email -->
	   </a>
	  </strong>
	 </p>
	</blockquote>


	<p>is in your 
	 <strong> 
	  address book
	 </strong> 
	 or 
	 <strong> 
	  whitelist
	 </strong>
	 .
	</p>

	<p>
	 <strong> 
	  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list_settings.list -->/">
	   How to add <!-- tmpl_var list_settings.list_owner_email --> to your address book/white list
	  </a>
	 </strong> 
	</p>

	<p>If you still do not receive a confirmation for subscription in 
	the next twenty-four hours or you have any other questions regarding 
	this mailing list, please contact the List Owner at: </p>

	<p style="text-align:center">
	 <a href="mailto:<!-- tmpl_var list_settings.list_owner_email -->">
	  <!-- tmpl_var list_settings.list_owner_email -->
	 </a>
	</p>

<!-- /tmpl_if --> 
