<!-- tmpl_set name="title" value="Success! Request For Subscription is Complete" -->

<!-- tmpl_unless chrome --> 
	<h1><!-- tmpl_var title --></h1>
<!-- /tmpl_unless -->

<p>The List Owner for 
  <strong>
   <!-- tmpl_var list_settings.list_name -->
  </strong> has received your request to subscribe.</p>

<p>You'll be notified via email when your request has been answered.</p>
