<!-- tmpl_if data_ot_img_url --> 
	<p> 
	 <img src="<!-- tmpl_var data_ot_img_url -->" width="720" height="250" style="border:1px solid black" />
	</p>
<!-- tmpl_else --> 
	<p class="alert">Nothing to Report.</p> 
<!-- /tmpl_if --> 
