<div id="plugins_tracker_message_report"></div> 



<!-- tmpl_if chrome --> 
	
		<!-- tmpl_set name="title" value="Plugins &#187; Tracker &#187; Message Report" --> 
		<div id="screentitle"> 
			<div id="screentitlepadding">
				<!-- tmpl_var title --> 
			</div>
			<!-- tmpl_include help_link_widget.tmpl -->
		</div>
	<!-- /tmpl_if --> 
		
	<!-- tmpl_if chrome --> 
		
		<h1>Tracking Info For: 
		 <!-- tmpl_var subject escape="HTML" --> 
		</h1> 
	
	<!-- /tmpl_if --> 

	<form id="tracker_message_info">
		<input type="hidden" id="plugin_url" name="plugin_url" value="<!-- tmpl_var Plugin_URL -->" /> 
		<input type="hidden" id="tracker_message_id" name="tracker_message_id" value="<!-- tmpl_var mid -->" />
		<input type="hidden" id="can_use_country_geoip_data" name="can_use_country_geoip_data" value="<!-- tmpl_var can_use_country_geoip_data -->" />
	</form> 
	
	<fieldset> 
	<legend>The Basics</legend> 

	<div style=" border: 1px solid black;">
 	<table class="stripedtable">
	<tr> 
	<td>
	<p>
	 <strong> 
	  Subscribers 
     </strong> 
    </p>
	</td> 
	<td align="right"> 
	 </p> 
	<!-- tmpl_if num_subscribers --> 
		<!-- tmpl_var num_subscribers -->
	<!-- tmpl_else --> 
		???
	<!-- /tmpl_if -->
	</p> 
	</td>
	</tr> 



	<tr class="alt">
	<td> 
	 <p>
	  <strong>
	    Clickthroughs
	  </strong> 
	 </p> 
	 </td> 
	 <td align="right"> 
	 <p>
	  <!-- tmpl_var clickthroughs -->
	 </p>
	</td> 
	</tr>
		
	
	<tr>
	<td> 
	 <p>
	  <strong>
	   	 Opens
	  </strong> 
	 </p> 
	 </td> 
	 <td align="right"> 
	 <p>
	  <!-- tmpl_var opens --> 
	 </p>
	</td> 
	</tr>
	
	
	<tr class="alt">
	<td> 
	 <p>
	  <strong>
	   Archive Views
	  </strong> 
	 </p> 
	 </td> 
	 <td align="right"> 
	 <p>
	  <!-- tmpl_var view_archive --> 
	 </p>
	</td> 
	</tr>
	
	
	
	<tr>
	<td> 
	 <p>
	  <strong>
	   Forwards
	  </strong> 
	 </p> 
	 </td> 
	 <td align="right"> 
	 <p>
	  <!-- tmpl_var forward_to_a_friend --> 
	 </p>
	</td> 
	</tr>
	
	
	<tr class="alt">
	<td> 
	 <p>
	  <strong>
	   Bounces (soft/hard)
	  </strong> 
	 </p> 
	 </td> 
	 <td align="right"> 
	 <p>
	  <!-- tmpl_var soft_bounce default="0" -->/<!-- tmpl_var hard_bounce -->
	 </p>
	</td> 
	</tr>	
	
	</table> 
	


	</fieldset>
		
	<fieldset> 
	<legend> 
		Clickthroughs by URL
	</legend> 
	
	<!-- tmpl_if url_report --> 
	
	
	<div style="max-height: 200px; overflow: auto; border: 1px solid black;">
 	<table class="stripedtable">
	
		<tr style="background:#fff"> 
		<td> 
			<p><strong>URL</strong></p> 
		</td> 
		<td> 
			<p><strong># Clickthroughs</strong></p>
		</td> 
		</tr> 
		
		
		
			<!-- tmpl_loop url_report --> 
			<tr <!-- tmpl_if __odd__ -->class="alt"<!-- /tmpl_if -->> 
			 <td> 
			 <p> 
	

	<!-- tmpl_if comment --> 
			    <a href="<!-- tmpl_var Plugin_URL -->?f=url&mid=<!-- tmpl_var mid -->&url=<!-- tmpl_var url escape="HTML" -->"> 
	<!-- /tmpl_if --> 

					<a href="<!-- tmpl_var url -->" target="_blank"> 
					<!-- tmpl_var url escape="HTML" -->
					</a> 
					<!-- tmpl_if comment --> 
					</a> 
					<!-- /tmpl_if --> 
						
			</p> 
			</td> 
			<td align="right"> 
			 <p>
				<!-- tmpl_var count --> 
			 </p> 
			</td> 
			</tr> 
		
	    <!-- /tmpl_loop --> 

	
	</table> 
	</div> 
	<!-- tmpl_else --> 
	
		<p class="alert">Nothing to report.</p> 
		
	<!-- /tmpl_if --> 
	
	
</fieldset> 


<fieldset> 
<legend> 
	Clickthroughs by Country
</legend>

<!-- tmpl_if can_use_country_geoip_data --> 
<table class="stripedtable">
<tr> 
<td> 
	
<div id="country_geoip_clickthroughs_table_loading"></div> 
<div id="country_geoip_clickthroughs_table"></div>
	</td> 
	<td>
<div id="country_geoip_clickthroughs_map_loading"></div> 
<div id="country_geoip_clickthroughs_map"></div> 
	</td> 
</tr>

	</table>
<!-- tmpl_else --> 
	<p class="alert">Nothing to report.</p> 
<!-- /tmpl_if --> 

</fieldset> 






<fieldset> 
<legend>Clickthroughs Over Time</Legend> 
	
<div id="over_time_clickthroughs_graph_loading"></div> 
<div id="over_time_clickthroughs_graph"></div> 


</fieldset>



<fieldset> 
<legend> 
	Message Opens by Country
</legend>
<!-- tmpl_if can_use_country_geoip_data --> 
	<table class="stripedtable">
	 <tr> 
	  <td> 
	   <div id="country_geoip_opens_table_loading"></div> 
	   <div id="country_geoip_opens_table"></div>
	  </td> 
	  <td> 
	   <div id="country_geoip_opens_map_loading"></div> 
	   <div id="country_geoip_opens_map"></div>
	  </td> 
	 </tr>
	</table>
	<!-- tmpl_else --> 
		<p class="alert">Nothing to report.</p> 
	<!-- /tmpl_if -->
</fieldset>


<fieldset> 
<legend>Message Opens Over Time</Legend> 

<div id="over_time_opens_graph_loading"></div> 
<div id="over_time_opens_graph"></div> 



</fieldset>


<fieldset> 
<legend> 
	Archive Views by Country
</legend>
<!-- tmpl_if can_use_country_geoip_data --> 
	<table class="stripedtable">
	 <tr> 
	  <td> 
	   <div id="country_geoip_view_archive_table_loading"></div> 
	   <div id="country_geoip_view_archive_table"></div>
	  </td> 
	  <td> 
	   <div id="country_geoip_view_archive_map_loading"></div> 
	   <div id="country_geoip_view_archive_map"></div>
	  </td> 
	 </tr>
	</table>
	<!-- tmpl_else --> 
		<p class="alert">Nothing to report.</p> 
	<!-- /tmpl_if -->
</fieldset>





<fieldset> 
<legend>Archive Views Over Time</Legend> 
<div id="over_time_view_archive_graph_loading"></div> 
<div id="over_time_view_archive_graph"></div>


</fieldset>




<fieldset> 
<legend> 
	&quot;Forward to a Friend&quot; by Country
</legend>
<!-- tmpl_if can_use_country_geoip_data --> 
	<table class="stripedtable">
	 <tr> 
	  <td> 
	   <div id="country_geoip_forwards_table_loading"></div> 
	   <div id="country_geoip_forwards_table"></div>
	  </td> 
	  <td> 
	   <div id="country_geoip_forwards_map_loading"></div> 
	   <div id="country_geoip_forwards_map"></div>
	  </td> 
	 </tr>
	</table>
	<!-- tmpl_else --> 
		<p class="alert">Nothing to report.</p> 
	<!-- /tmpl_if -->
</fieldset>

<fieldset> 
<legend>	&quot;Forward to a Friend&quot; Over Time</Legend>
	
<div id="over_time_forwards_graph_loading"></div> 
<div id="over_time_forwards_graph"></div>

</fieldset>



<fieldset> 
<legend>Bounces</legend> 
<!-- tmpl_if soft_bounce_report --> 
<fieldset> 
<legend>Soft Bounces</legend> 

 
<div> 
	<div style="max-height: 300px; overflow: auto; border:1px solid black;width:640px">
	
	<table class="stripedtable" style="width:600px">
	 <tr> 
	  <td> 
	   <strong>Date</strong>
	  </td> 
	  <td> 
	   <strong>Email Address</strong>
	  </td> 
	 </tr> 
	
	
	<!-- tmpl_if chrome --> 
		<!-- tmpl_loop soft_bounce_report --> 
			<tr <!-- tmpl_if __odd__ -->class="alt"<!-- /tmpl_if -->> 
			  <td> 
			   <!-- tmpl_var timestamp --> 
			  </td> 
			  <td> 
				<a href="./dada_bounce_handler.pl?flavor=cgi_bounce_score_search&query=<!-- tmpl_var email escape="URL" -->&chrome=0" title="Bounce Log for <!-- tmpl_var email escape="HTML" -->" onclick="Modalbox.show(this.href, {title: this.title, width: 640, height:480}); return false;">
				 <!-- tmpl_var email -->
			    </a>
			  </td> 
			 </tr> 
		<!-- /tmpl_loop -->	
	<!-- tmpl_else --> 
		<!-- tmpl_loop hard_bounce_report --> 
			<tr <!-- tmpl_if __odd__ -->class="alt"<!-- /tmpl_if -->> 
			  <td> 
			   <!-- tmpl_var timestamp --> 
			  </td> 
			  <td> 
				<a href="./dada_bounce_handler.pl?flavor=cgi_bounce_score_search&query=<!-- tmpl_var email escape="HTML" -->">
					<!-- tmpl_var email escape="HTML" -->
				</a>
			  </td> 
			 </tr> 
		<!-- /tmpl_loop --> 
	<!-- /tmpl_if -->
	
	</table> 
		<p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var soft_bounce -->&nbsp;</p> 
	</div> 

	</div> 
	<p>
	<img src="<!-- tmpl_var soft_bounce_image -->" style="border:1px solid black" /> 
	<p>
	
	</fieldset> 
<!-- tmpl_else --> 
<p class="alert">No soft bounces to report.</p> 
<!-- /tmpl_if --> 

<!-- tmpl_if hard_bounce_report --> 
<fieldset> 
<legend>Hard Bounces</legend>
<div> 
	<div style="max-height: 300px; overflow: auto; border:1px solid black; width:640px">
		<table class="stripedtable" style="width:600px">
	 <tr> 
	  <td> 
	   <strong>Date</strong>
	  </td> 
	  <td> 
	   <strong>Email Address</strong>
	  </td> 
	 </tr> 
	
	<!-- tmpl_if chrome --> 
		<!-- tmpl_loop hard_bounce_report --> 
			<tr <!-- tmpl_if __odd__ -->class="alt"<!-- /tmpl_if -->> 
			  <td> 
			   <!-- tmpl_var timestamp --> 
			  </td> 
			  <td> 
				<a href="./dada_bounce_handler.pl?flavor=cgi_bounce_score_search&query=<!-- tmpl_var email escape="URL" -->&chrome=0" title="Bounce Log for <!-- tmpl_var email escape="HTML" -->" onclick="Modalbox.show(this.href, {title: this.title, width: 640, height:480}); return false;	">
				 <!-- tmpl_var email -->
			    </a>
			  </td> 
			 </tr> 
		<!-- /tmpl_loop -->	
	<!-- tmpl_else --> 
		<!-- tmpl_loop hard_bounce_report --> 
			<tr <!-- tmpl_if __odd__ -->class="alt"<!-- /tmpl_if -->> 
			  <td> 
			   <!-- tmpl_var timestamp --> 
			  </td> 
			  <td> 
				<a href="./dada_bounce_handler.pl?flavor=cgi_bounce_score_search&query=<!-- tmpl_var email escape="HTML" -->">
					<!-- tmpl_var email escape="HTML" -->
				</a>
			  </td> 
			 </tr> 
		<!-- /tmpl_loop --> 
	<!-- /tmpl_if --> 
	
	
	
	
	
	</table> 
	<p style="text-align:right"><strong>Total:</strong> <!-- tmpl_var hard_bounce -->&nbsp;</p> 
	
	
	</div> 
	</div> 
	
	<p>
	<img src="<!-- tmpl_var hard_bounce_image -->" style="border:1px solid black" /> 
	<p>
	
	</fieldset> 
	<!-- tmpl_else --> 
	<p class="alert">No hard bounces to report.</p>	
<!-- /tmpl_if -->
</legend> 
</fieldset> 




<!-- tmpl_if chrome -->

	<fieldset> 
	<legend>Export Message Logs</legend> 

	<div class="buttonfloat">
	<form action="<!-- tmpl_var PluginURL -->" method="post"> 
	<input type="hidden" name="f" value="download_activity_logs" /> 
	<input type="hidden" name="mid" value="<!-- tmpl_var mid -->" />
	 <input type="submit" class="processing" name="process" value="Download Raw Activity Logs (.csv)" />
	</form> 
	</div>


	<div class="buttonfloat">
	<form action="<!-- tmpl_var PluginURL -->" method="post"> 
	<input type="hidden" name="f" value="download_clickthrough_logs" /> 
	<input type="hidden" name="mid" value="<!-- tmpl_var mid -->" />
	 <input type="submit" class="processing" name="process" value="Download Raw Clickthrough Logs (.csv)" />
	</form> 
	</div>
	<div class="floatclear"></div>
	</fieldset> 

<!-- /tmpl_if -->