<!-- tmpl_if has_entries --> 
	<p>
	 <img src="<!-- tmpl_var num_subscribers_chart_url -->" width="720" height="400" style="border:1px solid black" /> 
	</p>
<!-- tmpl_else --> 
	<!-- ... --> 
<!-- /tmpl_if --> 
