	<p>
	 <strong> 
	  Clickthrough Message Summary for: <!-- tmpl_var subject -->
	  for URL: <!-- tmpl_var url --> 
	 </strong> 
    </p> 

  <p>
   <strong> 
    Clickthrough Time:
   </strong> 
 </p> 
<hr /> 

<table class="stripedtable"> 
 <!-- tmpl_loop url_report --> 
	<tr <!-- tmpl_if __odd__ -->class="alt"<!-- /tmpl_if -->> 
	 <td> 
	  <p> 
	   <!-- tmpl_var url --> 
	  </p>
	 </td> 
	</tr> 
 <!-- /tmpl_loop --> 
</table>