/* ----- GENERAL ----- */
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Helvetica,Verdana,Arial,sans-serif;
	line-height: 1.50em;
	font-size: .8em;
	background: #fff;
}


/* ----- IDS: General Page Layout ----- */

/* non-admin */
#PageWrapper {
}

html, body {
	height: 100%;
}
#PageWrapper {
	min-height: 100%;
}
#ContentWrapper {
	overflow: auto;
	padding-bottom: 50px;
}






/* BOTH */
#Header {
	min-width: 800px;
	min-height: 50px;
	margin: 0 auto; /* page centering for all but IE */
	padding:0px;
	background-color: #669999;
	background-image: url('../images/header_bg.gif');
	background-repeat: repeat-y;
	text-align: left;
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	text-shadow: 1px 1px 2px #330033;
}

#Header img { 
 border:0px; 	
}
#Logo {
	float: left;
	text-align: left;
}

#Title {
	float: right;
	padding-right: 10px;
	padding-top: 20px;
	color: #fff;
}
#Title img {
	vertical-align: bottom;
	padding-top: -20px;
	border: 1px solid #666;
	margin-right: 5px;
	margin-left: 5px;
}
#Title a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#Title a:hover {
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

/* non-admin */
#Content {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* admin */
#Menu {
	position:relative;
	margin-left: -100%;
	float: left;
	width: 199px;
	padding: 0;
	border-right: 1px solid #666; /* so, 200px total */
	background-color: #fff;
	text-align: left;
	line-height: 150%;

}

/* BOTH */
#AdminContentWrapper,
#ContentWrapper {
	border-top: 1px solid #666;
	float: left;
	width: 100%
}

/* admin */
#AdminContent {
	margin-left: 200px;
	padding-bottom: 10px;
}

/* BOTH */
#Footer {
	border-top: 1px solid #666;
	background-color: #669999;
	height: 50px;
	color: #fff;
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	text-shadow: 1px 1px 2px #330033;
	clear: both;
	
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
	
	
}
#Footer a {
	color: #fff;
	text-decoration: none;
}
#Footer a:hover {
	color: #fff;
	text-decoration: underline;
}
#FooterPadding {
	padding: 5px;
}

#breadcrumbs {
}

/* ----- CLASSES ----- */

.disabled {
	background-color: #ccc;
	border: 1px solid #fff;
}
.error {
	font-size: .9em;
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-style: italic;
	color: #600;
}

.alert {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	font-size: .9em;
	color: #09c;
}



.hidden {
	display: none;
}


.highlighted {
	font-style: normal;
	background-color: #6F3;
}

.positive {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em;
	color: #063;
}

.simplebox {
	padding: 7px;
	border: 1px solid #000;
	background-color: #fff;
}

/* all but IE/Win & NN4: */
.simplebox>p {
	margin: 0;
}

.clearskiesbox,
.badweatherbox,
.login_message {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	border: 1px solid #333;
	background-color: #efefef;
	color: #333;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
	-webkit-box-shadow: 0 4px 8px 0 rgba(51,0,0,0.5);
	-moz-box-shadow: 0 4px 8px 0 rgba(51,0,0,0.5);
	box-shadow: 0 4px 8px 0 rgba(51,0,0,0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.clearskiesbox {
	background: #cbecff;
	width: 500px;
}

.badweatherbox {
	width: 500px;
	background: #fcc;
}

.login_message {
	width: auto;
	float: right;
	background-color: #ffc;
}

.login_message p {
	line-height: 100%;
}

.login_message ul {
	list-style-type: square;
	color: #ccc;
}

/* ----- HEADINGS ----- */

h1, h2, h3 {
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	font-weight:bold;
	line-height: 1.50em;
	
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em
}

/* ----- PARAGRAPHS ----- */

p {
/* 

	margin-top: 0.75em;
	margin-bottom: 0.75em;

*/
}

#AdminContent h1,
#AdminContent h2,
#AdminContent h3,
#AdminContent h4,
#AdminContent h5,
#AdminContent p {
	padding-left: 5px;
	padding-right: 5px;
}


p.small {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em;
}

/* ----- CODE ----- */

code, pre, p.fake_code {
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #dcffd2;
	font: .8em/1.6em Monaco,Mono,'Courier New',Courier,monospace;
}

/* ----- LINKS ----- */

a {
	text-decoration: none;
}

a:link {
	color: #339; 
}

a:visited {
	color: #03c;
}

a:hover {
	color: #33c;
}

a:active {
}
.ui-widget-content a {
	color: #339; 
}

/* ----- FORMS ----- */

label {
	font-family: Helvetica,Verdana,Arial,sans-serif;

/*font-size:12px;*/
/*font-size: .95em; */
font-weight:bold;
color: #000;
}

label.disabled { 
	color: #999;
	background-color: transparent;
	border: 0;
}

.label_by_5 {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}
.label_profile_fields {
	width: 18em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}


fieldset {
	padding-top: 4px;
	padding-bottom: 9px;
	padding-left: 7px;
	padding-right: 7px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	background: #ededed;
}
#AdminContent fieldset {
	border-left: 0px;
	border-right: 0px;
}
#Content fieldset {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#AdminContent fieldset fieldset {
	background: #e6e6e6;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

legend {
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	font-weight: bold;
	font-size: 1.25em;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea,
.fake_input {
	margin: 3px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #666;
	font-size: 1em;
	font-family: Helvetica,Verdana,Arial,sans-serif;
	-moz-box-shadow:  0px 1px 3px 0 rgba(51,0,0,0.3) inset;
	-webkit-box-shadow:  0px 1px 0 3px rgba(51,0,0,0.3) inset;
	box-shadow:  0px 1px 3px 0 rgba(51,0,0,0.3) inset;
}
.fake_input { 
	margin-left:0; 
	background-color:#ededed; 
	font-style: italic;
	
}
.spinner_bg { 
    min-width:50px; 
    min-height:50px;
    background: transparent url('../images/spinner.gif') 50% 0 no-repeat;
}
#Header select { 
	font-size: .8em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	width: 150px;
	background-color: #efefef;
	margin: 0px;
	padding: 1px;
}

#Header .select2-container
 {
		font-size: .8em;
		font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
		width: 150px;
		margin: 0px;
		padding: 1px;
		text-shadow: none;
		bottom:-6px;
		color:#000;
}
#Header .select2-choice { 
    height: 22px; 
	line-height: 22px; 
		color:#000;	
}
#Header .select2-container a:hover { 
	color:#000;
}

#Header .select2-choice a:hover { 
	color:#000;
}


/* affects buttons only: */
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
input.plain,
input.processing,
input.cautionary,
input.alertive,
input.quiet,
input.help,
input.small_button {
	margin: 3px;
	padding: 3px;
	border-width: 1px;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	color: #333;
	border-color: #ccc #999 #666 #999;
	background-color: #ededed;
}

input.small_button {
	margin: 1px;
	padding: 2px;
	font-size: .9em;
}

input.bigger_button { 
	font-size: 1.25em; 
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	padding:.3em; 
	color:#999;
	
}

#Header input.small_button {
	padding-top: 1px;
	padding-bottom: 1px;
}

input.small_button:hover,
input.plain:hover,
input.processing:hover,
input.cautionary:hover,
input.quiet:hover,
input.alertive:hover,
input.help:hover {
	color: #333;
	background-color: #ffe1af;
	color: #333;
}




input.small_input {
	margin: 1px;
	padding: 3px;
	font-size: .9em;
}

input.full {
	margin-top: -5px;
	width: 95%;
}
input.midi {
	width: 50%;
	margin-top: -5px;
}

textarea {
	padding: 10px;
	width: 90%;
	color: #333;
}


input.processing {
	background-color: #cfc;
	color: #333;
}
input.cautionary {
	background-color: #ffc;
	color: #333;
}

input.quiet {
	background-color: #fff;
	color: #666;
	border:1px solid #333; 
}


input.alertive {
	background-color: #f66;
	color: #fcc;
}

input.help {
	background-color: #fcf;
	color: #333;
}

input.disabled {
	color: #999;
	background-color: #ccc;
	border: 1px solid black;
}

div.buttonfloat {
	float: right;
}

/* ----- TABLES ----- */

table {
	font-size: 100%; /* fixes IE inheritance bug, redundant for others */
}

td {
	vertical-align: top;
}

/* all but IE/Win & NN4: */
td>p {
	margin: 0;
}

table.tagchart {
	border-collapse: collapse;
	border: 2px solid #000;
	background-color: #fff;
	width: 100%;
}

table.tagchart td {
	border: 1px solid #000;
	padding: 5px;
}

table.options_tb { 
    width:   100%; 
    margin:  0px;   
    border:  0px;   
}
table.options_tb td { 
    padding-right: 0px; 
    padding-left: 0px; 
/*    padding-top:5px; */ 
	padding-bottom:5px; 
    
}
td.checkbox_container { 
 width:20px;
}


table.options_tb input[type="checkbox"], 
table.options_tb input[type="radio"], 
 { 
    vertical-align: middle; 
    margin: 0px;
}

/* ----- BREAKS ----- */

hr {
	width: 66%;
	text-align: center;
	height: 1px;
	border: 0;
	color: #000; /* IE */
	background-color:#000; /* Moz & Opera */
	clear:both;
}

div.floatclear {
	clear: both;
	height: 1px;
	overflow: hidden;
}

/* ----- ARCHIVES ----- */

#archived_message_wrapper {
}

#archived_message_head {
}

iframe#archived_message_body_container {
	height: 500px;
	width: 100%;
	border: 1px solid #000;
	/* text-styling rules will have NO effect in here. see below instead. */
}

#archived_message_body {
/* inline-displayed HTML messages keep their inline styles, but can otherwise be styled here.
iframe-displayed HTML messages *always* retain their own style. this does nothing for 'em.
plain text messages, whether inline or iframed, will be styled here also. */
}

.quoted_reply {
	color: #666;
	font-style: italic;
}

#archived_attachments_wrapper {
}


ul.archive_badges_ul {

/* font-size: 11px; */
font-size: .9em;
line-height: 13px;
}

li.archive_badges_li {
	display: inline;
	padding-left: 3px;
	padding-right: 7px;
	/* border-right: 1px dotted #066; */
}




/* http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */

#centeredmenu {
	clear: left;
	float: left;
	padding: 0;
	background: #fff url('../images/centeredmenu.gif') bottom repeat-x;
	width: 100%;
	overflow: hidden;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	/* text-shadow: 1px 1px 2px #330033;*/
}
#centeredmenu ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	left: 50%;
	text-align: center;
}
#centeredmenu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	position: relative;
	right: 50%;
}
#centeredmenu ul li a {
	display: block;
	float: left;
	margin: 0 1px;
	padding: 5px 10px;
	background: #ededed;
	text-decoration: none;
	color: #000;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	position: relative;
	bottom: 1px;
}
#centeredmenu ul li a:hover {
	background: #ffe1af;
	color: #000;
}
#centeredmenu ul li.active {
	margin-top: 10px;
}
#centeredmenu ul li.active a,
#centeredmenu ul li.active a:hover {
	position: relative;
	bottom: 0;
	padding: 10px;
	background: #fff;
	color: #000;
	font-weight: bold;
}

#list_activity ul {
	list-style: none;
}
#list_activity li {
	line-height: 200%;
}

#screentitle {
	width: 100%;
	height: 25px;
	background-color: #cc9999;
	border-bottom: 1px solid #666;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	text-shadow: 1px 1px 2px #330033;
	
	-webkit-box-shadow: inset 0px -4px 4px 0px rgba(51, 0, 0, .4);
	-moz-box-shadow: inset 0px -4px 4px 0px rgba(51, 0, 0, .4);
	box-shadow: inset 0px -4px 4px 0px rgba(51, 0, 0, .4);
	
	
}
#screentitle a,
#screentitle hover,
#screentitle link,
#screentitle visited {
	color: #fff;
}

#screentitlepadding {
	float: left;
	padding: 3px;
}


#navcontainer {
	margin: 0px;
	border-bottom: 1px solid #666;
}

#navcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, Helvetica, sans-serif;
}

/* this is the horizontal separator */
#navcontainer li {
	margin: 0 0 1px 0;
}

#navcontainer a {
	display: block;
	padding: 2px 5px;
	width: 189px;
	color: #666;
	background-color: #ededed;
	text-decoration: none;
}

#navcontainer a:hover {
	color: #666;
	background-color: #ffe1af;
	text-decoration: none;
}

#navcontainer span.title {
	display: block;
	/* h, w */
	padding: 2px 5px;
	width: 189px;
	color: #fff;
	background-color: #99bccc;
	font-weight: bold;
	border-top: 1px solid #333;
	height: 22px;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	text-shadow: 1px 1px 2px #330033;
	
	-webkit-box-shadow: inset 0 -4px 8px rgba(51,0,0,0.4);
	-moz-box-shadow: inset  0 -4px 8px rgba(51,0,0,0.4);
	box-shadow: inset 0 -4px 8px rgba(51,0,0,0.4);
	
	
}

/* this is the horizontal separator */
#navcontainer ul ul li {
	margin: 0 0 1px 0;
}

#navcontainer ul ul a {
	display: block;
	padding: 2px 2px 2px 20px;
	width: 177px; /* 20 + 2 */
	background-color: #ededed;
	text-decoration: none;
	font-size: .9em;
}
#navcontainer ul ul span.title {
	color: #fff;
}

#navcontainer ul ul a:hover {
	color: #666;
	background-color: #ffe1af;
	text-decoration: none;
}
#navcontainer ul ul a:active,
#navcontainer ul ul a:focus {
	color: #000;
	background-color: #f4ffaf;
}

#navcontainer ul ul a.menu_disabled,
#navcontainer ul ul a.menu_disabled:link,
#navcontainer ul ul a.menu_disabled:visited,
#navcontainer ul ul a.menu_disabled:hover,
#navcontainer ul ul a.menu_disabled:active {
	color: #ccc;
	font-style: italic;
}

#navcontainer ul ul a.menu_selected,
#navcontainer ul ul a.menu_selected:link,
#navcontainer ul ul a.menu_selected:visited,
#navcontainer ul ul a.menu_selected:hover,
#navcontainer ul ul a.menu_selected:active {
	color: #000;
	background-color: #f4ffaf;
}


.stripedtable {
	/*border: 1px solid red;*/ /* for testing. */
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	border: 0px;
	
}
.stripedtable td, 
.stripedtable th 
 {
	vertical-align: top;
	text-align:left; 
	padding: 2px;
	margin: 0px;
}
.stripedtable tr td,
.stripedtable tr th 
 {
	background-color: #fff;
}

div.alt,
.stripedtable tr.alt td {
	background-color: #ededed;
}

.stripedtable a {
	color: #666;
	/* border-bottom:1px dotted #ffe1af; */
	text-decoration:none;
}

.stripedtable a:hover {
	color: #666;
	background-color: #ffe1af;
}







#format_type_container {
	/* for centering: 
	 clear: left;
	float: left;
	*/
	padding: 0;
	background: transparent url('../images/centeredmenu.gif') bottom repeat-x;
	width: 100%;
	overflow: hidden;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	/* text-shadow: 1px 1px 2px #330033;*/
}
#format_type_container ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	/*  for centering:
	left: 50%;
	text-align: center;
	*/
}
#format_type_container ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	position: relative;
	/*  for centering:
	right: 50%;
	*/
}
#format_type_container ul li a {
	display: block;
	float: left;
	margin: 0 1px;
	padding: 5px 10px;
	background: #e6e6e6;
	text-decoration: none;
	color: #000;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	position: relative;
	bottom: 1px;
}
#format_type_container ul li a:hover {
	background: #ffe1af;
	color: #000;
}
#format_type_container ul li.active {
	margin-top: 10px;
}
#format_type_container ul li.active a,
#format_type_container ul li.active a:hover {
	position: relative;
	bottom: 0;
	padding: 10px;
	background: #fff;
	color: #000;
	font-weight: bold;
}








/* TableSorter */
/* tables */
table.tablesorter {
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	
	background-color: #e6EEEE;
	
	/*background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
		padding: 4px;
		padding:0px;*/
}
table.tablesorter thead tr .header {
	background-image: url(../images/jquery.tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
/*	color: #3D3D3D;
	padding: 4px;
	padding:0px;
	background-color: #FFF;
	vertical-align: top;*/
}
table.tablesorter tbody tr.odd td {
	background-color:#ededed;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/jquery.tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/jquery.tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

#form_widgets {
  margin-top:60px;	
  float:left;
  width:100%;

}
#entire_form {
  position: relative;
}
#top_floating_button_wrapper { /* required to avoid jumping */
  position: absolute;
  width:100%;


}
#buttons {
  position: absolute;
  top: 0;
/*  padding-top: 19px;*/
  background-color: #ededed; /* rgba(255, 255, 255, 1); */
  width:100%;
  border-bottom:1px solid #ccc;


	-webkit-box-shadow: 0 8px 8px 0 rgba(51,0,0,0.5);
	-moz-box-shadow: 0 8px 8px 0rgba(51,0,0,0.5);
	box-shadow: 0 8px 8px 0 rgba(51,0,0,0.5);


}
#buttons.fixed {
  position: fixed;
  top: 0;
 
}



