body {
	background-color: #efefef;
}

/* 
table {
	border: 1px solid red;
}
*/

#list_content_area { 
}
#list_content_area,
#admin_content_area {
	background-color: #fff;
	box-shadow: 3px 5px 8px -1px rgba( 51, 0, 0, .3 ), -3px 5px 8px -1px rgba( 51, 0, 0, .3 );
	min-height: 640px;
	height: auto;
}

#admin_top_bar_menu {
	box-shadow: 3px 5px 8px -1px rgba( 51, 0, 0, .3 ), -3px 5px 8px -1px rgba( 51, 0, 0, .3 );
}

iframe#archived_message_body_container {
	height: 500px;
	width: 100%;
	border: 1px solid #000;
	/* text-styling rules will have NO effect in here. see below instead. */
}

.file-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.file-upload input.file-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*
.tabs dd.active a, .tabs .tab-title.active a {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
*/

/* #buttons {
	z-index: 100;
	background-color: #fff;
	width: auto;
}
*/

.floating_panel {
	background-color: #ededed;
	border-bottom: 1px solid #ccc;
	box-shadow: 3px 5px 8px -1px rgba( 51, 0, 0, .3 ), -3px 5px 8px -1px rgba( 51, 0, 0, .3 );
}

.floating_panel button, 
.floating_panel .button {
	margin-bottom:0;
}
#dadamail_footer {
	/* 
		margin-top: 30px;
		padding:10px;
		box-shadow: 3px 5px 8px -1px rgba( 51, 0, 0, .3 ), -3px 5px 8px -1px rgba( 51, 0, 0, .3 );
		background-color: #fff;
	*/
}

a.menu_disabled,
a.menu_disabled:link,
a.menu_disabled:visited,
a.menu_disabled:hover,
a.menu_disabled:active {

	font-style: italic;
	 opacity: 0.66;
}
.menu_hidden { 
	display:none;
}

#recaptcha_area input[type="text"] {
  display: inline-block;
  height: auto;
}
#recaptcha_response_field {
	margin: 12px 0 0 0!important;
}
#recaptcha_area table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
	line-height: normal;
}


.fm-modal {
    z-index: 10011; /** Because CKEditor image dialog was at 10010 */
    width:80%;
    height:80%;
    top: 10%;
    left:10%;
    border:0;
    position:fixed;
    -moz-box-shadow: 0px 1px 5px 0px #656565;
    -webkit-box-shadow: 0px 1px 5px 0px #656565;
    -o-box-shadow: 0px 1px 5px 0px #656565;
    box-shadow: 0px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}


.dm_highlighted {
	font-style: normal;
	background-color: #ccff15;
}

.dm_tighter td { 
	font-size: smaller;
	padding: 4px;
}

.dm_tighter td button, .button {
	margin: 0;
}




