/* ----- GENERAL ----- */
html {
	margin: 0;
	padding: 0;
}
body {
}

#Dada { 
    margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Helvetica,Verdana,Arial,sans-serif;
	line-height: 1.50em;
	font-size: .8em;
	background: #fff;	
}

/* ----- IDS: General Page Layout ----- */


html, body {
	height: 100%;
}
#Dada #PageWrapper {
	min-height: 100%;
}

#Dada #ContentWrapper {
	overflow: auto;
	padding-bottom: 50px;
}






/* BOTH */
#Dada #Header {
	min-width: 800px;
	min-height: 50px;
	margin: 0 auto; /* page centering for all but IE */
	padding:0px;
	background-color: #669999;
	background-image: url('../images/header_bg.gif');
	background-repeat: repeat-y;
	text-align: left;
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	text-shadow: 1px 1px 2px #330033;
}

#Dada #Header img { 
 border:0px; 	
}

#Dada #Header #Title {
	float: right;
	padding-right: 10px;
	padding-top: 20px;
	color: #fff;
}
#Dada #Header #Title img {
	vertical-align: bottom;
	padding-top: -20px;
	border: 1px solid #666;
	margin-right: 5px;
	margin-left: 5px;
}
#Dada #Header #Title a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#Dada #Header #Title a:hover {
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

/* non-admin */
#Dada #Content {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* admin */
#Dada #Menu {
	position:relative;
	margin-left: -100%;
	float: left;
	width: 199px;
	padding: 0;
	border-right: 1px solid #666; /* so, 200px total */
	background-color: #fff;
	text-align: left;
	line-height: 150%;

}

/* BOTH */
#Dada #AdminContentWrapper,
#Dada #ContentWrapper {
	border-top: 1px solid #666;
	float: left;
	width: 100%
}

/* admin */
#Dada #AdminContent {
	margin-left: 200px;
	padding-bottom: 10px;
}

/* BOTH */
#Dada #FooterWrapper {
	border-top: 1px solid #666;
	background-color: #669999;
	height: 50px;
	color: #fff;
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	text-shadow: 1px 1px 2px #330033;
	clear: both;
	
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
	
	
}
#Dada #FooterWrapper a {
	color: #fff;
	text-decoration: none;
}
#Dada #FooterWrapper a:hover {
	color: #fff;
	text-decoration: underline;
}
#Dada #FooterPadding {
	padding: 5px;
}

#Dada #breadcrumbs {}

/* ----- CLASSES ----- */

#Dada .disabled {
	background-color: #ccc;
	border: 1px solid #fff;
}
#Dada .error {
	font-size: .9em;
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-style: italic;
	color: #600;
}

#Dada .alert {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	font-size: .9em;
	color: #09c;
}

#Dada .hidden {
	display: none;
}


#Dada .highlighted {
	font-style: normal;
	background-color: #6F3;
}

#Dada .positive {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em;
	color: #063;
}

#Dada .simplebox {
	padding: 7px;
	border: 1px solid #000;
	background-color: #fff;
}

/* all but IE/Win & NN4: */
#Dada .simplebox>p {
	margin: 0;
}

#Dada .clearskiesbox,
#Dada .badweatherbox,
#Dada .login_message {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	border: 1px solid #333;
	background-color: #efefef;
	color: #333;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
	-webkit-box-shadow: 0 4px 8px 0 rgba(51,0,0,0.5);
	-moz-box-shadow: 0 4px 8px 0 rgba(51,0,0,0.5);
	box-shadow: 0 4px 8px 0 rgba(51,0,0,0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Dada .clearskiesbox {
	background: #cbecff;
	width: 500px;
}

#Dada .badweatherbox {
	width: 500px;
	background: #fc9;
}

#Dada .login_message {
	width: auto;
	float: right;
	background-color: #ffc;
}

#Dada .login_message p {
	line-height: 100%;
}

#Dada .login_message ul {
	list-style-type: square;
	color: #ccc;
}

/* ----- HEADINGS ----- */

#Dada h1, 
#Dada h2, 
#Dada h3 {
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	font-weight:bold;
	line-height: 1.50em;	
}

#Dada h1 {
	font-size: 1.4em;
}

#Dada h2 {
	font-size: 1.2em;
}

#Dada h3 {
	font-size: 1em
}

/* ----- PARAGRAPHS ----- */

#Dada p {
/* 

	margin-top: 0.75em;
	margin-bottom: 0.75em;

*/
}

#Dada #AdminContent h1,
#Dada #AdminContent h2,
#Dada #AdminContent h3,
#Dada #AdminContent h4,
#Dada #AdminContent h5,
#Dada #AdminContent p {
	padding-left: 5px;
	padding-right: 5px;
}


#Dada p.small {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em;
}

/* ----- CODE ----- */

#Dada code, 
#Dada pre, 
#Dada p.fake_code {
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #dcffd2;
	font: .8em/1.6em Monaco,Mono,'Courier New',Courier,monospace;
}

/* ----- LINKS ----- */

#Dada a {
	text-decoration: none;
}

#Dada a:link {
	color: #339; 
}

#Dada a:visited {
	color: #03c;
}

#Dada a:hover {
	color: #33c;
}

#Dada a:active {
}
#Dada .ui-widget-content a {
	color: #339; 
}

#Dada .ui-tabs a {
	color: #222; 
}


/* ----- FORMS ----- */

#Dada label {
	font-family: Helvetica,Verdana,Arial,sans-serif;

/*font-size:12px;*/
/*font-size: .95em; */
font-weight:bold;
color: #000;
}

#Dada label.disabled { 
	color: #999;
	background-color: transparent;
	border: 0;
}

#Dada .label_by_5 {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}
#Dada .label_profile_fields {
	width: 18em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}


#Dada fieldset {
	padding-top: 4px;
	padding-bottom: 9px;
	padding-left: 7px;
	padding-right: 7px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	background: #ededed;
}
#Dada #AdminContent fieldset {
	border-left: 0px;
	border-right: 0px;
}
#Dada #Content fieldset {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Dada #AdminContent fieldset fieldset {
	background: #e6e6e6;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Dada legend {
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	font-weight: bold;
	font-size: 1.25em;
}

#Dada input[type="text"],
#Dada input[type="email"],
#Dada input[type="password"],
#Dada select,
#Dada textarea,
#Dada .fake_input {
    width: auto;
	margin: 3px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #666;
	font-size: 1em;
	font-family: Helvetica,Verdana,Arial,sans-serif;
	-moz-box-shadow:  0px 1px 3px 0 rgba(51,0,0,0.3) inset;
	-webkit-box-shadow:  0px 1px 0 3px rgba(51,0,0,0.3) inset;
	box-shadow:  0px 1px 3px 0 rgba(51,0,0,0.3) inset;
}
#Dada .fake_input { 
	margin-left:0; 
	background-color:#ededed; 
	font-style: italic;
	
}
#Dada .spinner_bg { 
    min-width:50px; 
    min-height:50px;
    background: transparent url('../images/spinner.gif') 50% 0 no-repeat;
}
#Dada #Header select { 
	font-size: .8em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	width: 150px;
	background-color: #efefef;
	margin: 0px;
	padding: 1px;
}

#Dada #Header .select2-container
 {
		font-size: .8em;
		font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
		width: 150px;
		margin: 0px;
		padding: 1px;
		text-shadow: none;
		bottom:-6px;
		color:#000;
}

#Dada #Header .select2-choice, 
#Dada #Header #Title .select2-container a { 
    height: 22px; 
	line-height: 22px; 
	color:#000;	
}

#Dada #Header .select2-container a:hover { 
	color:#000;
}

#Dada #Header .select2-choice a:hover { 
	color:#000;
}


/* affects buttons only: */
#Dada input[type="submit"],
#Dada input[type="button"],
#Dada input[type="reset"],
#Dada button,
#Dada input.plain,
#Dada input.processing,
#Dada input.cautionary,
#Dada input.alertive,
#Dada input.quiet,
#Dada input.help,
#Dada input.small_button {
	margin: 3px;
	padding: 3px;
	border-width: 1px;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	color: #333;
	border-color: #ccc #999 #666 #999;
	background-color: #ededed;
}

#Dada input.small_button {
	margin: 1px;
	padding: 2px;
	font-size: .9em;
}

#Dada input.bigger_button { 
	font-size: 1.25em; 
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	padding:.3em; 
	color:#000;
	
}

#Dada #Header input.small_button {
	padding-top: 1px;
	padding-bottom: 1px;
}

#Dada input.small_button:hover,
#Dada input.plain:hover,
#Dada input.processing:hover,
#Dada input.cautionary:hover,
#Dada input.quiet:hover,
#Dada input.alertive:hover,
#Dada input.help:hover {
	color: #333;
	background-color: #ffe1af;
	color: #333;
}




#Dada input.small_input {
	margin: 1px;
	padding: 3px;
	font-size: .9em;
}

#Dada input.full {
	margin-top: -5px;
	width: 95%;
}
#Dada input.midi {
	width: 50%;
	margin-top: -5px;
}

#Dada textarea {
	padding: 10px;
	width: 90%;
	color: #333;
}


#Dada input.processing {
	background-color: #cfc;
	color: #333;
}
#Dada input.cautionary {
	background-color: #ffc;
	color: #333;
}

#Dada input.quiet {
	background-color: #fff;
	color: #666;
	border:1px solid #333; 
}


#Dada input.alertive {
	background-color: #f66;
	color: #fcc;
}

#Dada input.help {
	background-color: #fcf;
	color: #333;
}

#Dada input.disabled {
	color: #999;
	background-color: #ccc;
	border: 1px solid black;
}

#Dada div.buttonfloat {
	float: right;
}

/* ----- TABLES ----- */

#Dada table {
	font-size: 100%; /* fixes IE inheritance bug, redundant for others */
}

#Dada td {
	vertical-align: top;
}

/* all but IE/Win & NN4: */
#Dada td>p {
	margin: 0;
}

#Dada table.tagchart {
	border-collapse: collapse;
	border: 2px solid #000;
	background-color: #fff;
	width: 100%;
}

#Dada table.tagchart td {
	border: 1px solid #000;
	padding: 5px;
}

#Dada table.options_tb { 
    width:   100%; 
    margin:  0px;   
    border:  0px;   
}
#Dada table.options_tb td { 
    padding-right: 0px; 
    padding-left: 0px; 
/*    padding-top:5px; */ 
	padding-bottom:5px; 
    
}
#Dada td.checkbox_container { 
 width:20px;
}


#Dada table.options_tb input[type="checkbox"], 
#Dada table.options_tb input[type="radio"], 
 { 
    vertical-align: middle; 
    margin: 0px;
}

/* ----- BREAKS ----- */

#Dada hr {
	width: 66%;
	text-align: center;
	height: 1px;
	border: 0;
	color: #000; /* IE */
	background-color:#000; /* Moz & Opera */
	clear:both;
}

#Dada div.floatclear {
	clear: both;
	height: 1px;
	overflow: hidden;
}

/* ----- ARCHIVES ----- */

#archived_message_wrapper {
}

#archived_message_head {
}

#Dada iframe#archived_message_body_container {
	height: 500px;
	width: 100%;
	border: 1px solid #000;
	/* text-styling rules will have NO effect in here. see below instead. */
}

#archived_message_body {
/* inline-displayed HTML messages keep their inline styles, but can otherwise be styled here.
iframe-displayed HTML messages *always* retain their own style. this does nothing for 'em.
plain text messages, whether inline or iframed, will be styled here also. */
}

#Dada .quoted_reply {
	color: #666;
	font-style: italic;
}

#archived_attachments_wrapper {
}


#Dada ul.archive_badges_ul {

/* font-size: 11px; */
font-size: .9em;
line-height: 13px;
}

#Dada li.archive_badges_li {
	display: inline;
	padding-left: 3px;
	padding-right: 7px;
	/* border-right: 1px dotted #066; */
}




/* http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */

#Dada #centeredmenu {
	clear: left;
	float: left;
	padding: 0;
	background: #fff url('../images/centeredmenu.gif') bottom repeat-x;
	width: 100%;
	overflow: hidden;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	/* text-shadow: 1px 1px 2px #330033;*/
}

#Dada #centeredmenu ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	left: 50%;
	text-align: center;
}

#Dada #centeredmenu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	position: relative;
	right: 50%;
}

#Dada #centeredmenu ul li a {
	display: block;
	float: left;
	margin: 0 1px;
	padding: 5px 10px;
	background: #ededed;
	text-decoration: none;
	color: #000;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	position: relative;
	bottom: 1px;
}

#Dada #centeredmenu ul li a:hover {
	background: #ffe1af;
	color: #000;
}

#Dada #centeredmenu ul li.active {
	margin-top: 10px;
}

#Dada #centeredmenu ul li.active a,

#Dada #centeredmenu ul li.active a:hover {
	position: relative;
	bottom: 0;
	padding: 10px;
	background: #fff;
	color: #000;
	font-weight: bold;
}

#Dada #list_activity ul {
	list-style: none;
}

#Dada #list_activity li {
	line-height: 200%;
}

#Dada #screentitle {
	width: 100%;
	height: 25px;
	background-color: #cc9999;
	border-bottom: 1px solid #666;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	text-shadow: 1px 1px 2px #330033;
	
	
	
}
#Dada #screentitle a,
#Dada #screentitle hover,
#Dada #screentitle link,
#Dada #screentitle visited {
	color: #fff;
}

#Dada #screentitlepadding {
	float: left;
	padding: 3px;
}


#Dada #navcontainer {
	margin: 0px;
	border-bottom: 1px solid #666;
}

#Dada #navcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, Helvetica, sans-serif;
}

/* this is the horizontal separator */
#Dada #navcontainer li {
	margin: 0 0 1px 0;
}

#Dada #navcontainer a {
	display: block;
	padding: 2px 5px;
	width: 189px;
	color: #666;
	background-color: #ededed;
	text-decoration: none;
}

#Dada #navcontainer a:hover {
	color: #666;
	background-color: #ffe1af;
	text-decoration: none;
}

#Dada #navcontainer span.title {
	display: block;
	/* h, w */
	padding: 2px 5px;
	width: 189px;
	color: #fff;
	background-color: #99bccc;
	font-weight: bold;
	border-top: 1px solid #333;
	height: 22px;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	text-shadow: 1px 1px 2px #330033;
	
	
	
}

/* this is the horizontal separator */
#Dada #navcontainer ul ul li {
	margin: 0 0 1px 0;
}

#Dada #navcontainer ul ul a {
	display: block;
	padding: 2px 2px 2px 20px;
	width: 177px; /* 20 + 2 */
	background-color: #ededed;
	text-decoration: none;
	font-size: .9em;
}
#Dada #navcontainer ul ul span.title {
	color: #fff;
}

#Dada #navcontainer ul ul a:hover {
	color: #666;
	background-color: #ffe1af;
	text-decoration: none;
}
#Dada #navcontainer ul ul a:active,
#Dada #navcontainer ul ul a:focus {
	color: #000;
	background-color: #f4ffaf;
}

#Dada #navcontainer ul ul a.menu_disabled,
#Dada #navcontainer ul ul a.menu_disabled:link,
#Dada #navcontainer ul ul a.menu_disabled:visited,
#Dada #navcontainer ul ul a.menu_disabled:hover,
#Dada #navcontainer ul ul a.menu_disabled:active {
	color: #ccc;
	font-style: italic;
}

#Dada #navcontainer ul ul a.menu_selected,
#Dada #navcontainer ul ul a.menu_selected:link,
#Dada #navcontainer ul ul a.menu_selected:visited,
#Dada #navcontainer ul ul a.menu_selected:hover,
#Dada #navcontainer ul ul a.menu_selected:active {
	color: #000;
	background-color: #f4ffaf;
}


#Dada .stripedtable {
	/*border: 1px solid red;*/ /* for testing. */
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	border: 0px;
	
}
#Dada .stripedtable td, 
#Dada .stripedtable th 
 {
	vertical-align: top;
	text-align:left; 
	padding: 2px;
	margin: 0px;
}
#Dada .stripedtable tr td,
#Dada .stripedtable tr th 
 {
	background-color: #fff;
}

#Dada div.alt,
#Dada .stripedtable tr.alt td {
	background-color: #ededed;
}

#Dada .stripedtable a {
	color: #666;
	/* border-bottom:1px dotted #ffe1af; */
	text-decoration:none;
}

#Dada .stripedtable a:hover {
	color: #666;
	background-color: #ffe1af;
}
#format_type_container {
	/* for centering: 
	 clear: left;
	float: left;
	*/
	padding: 0;
	background: transparent url('../images/centeredmenu.gif') bottom repeat-x;
	width: 100%;
	overflow: hidden;
	font-size: 1em;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", "Avant Garde", Avantgarde, sans-serif;
	/* text-shadow: 1px 1px 2px #330033;*/
}


#Dada #format_type_container ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	/*  for centering:
	left: 50%;
	text-align: center;
	*/
}

#Dada #format_type_container ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	position: relative;
	/*  for centering:
	right: 50%;
	*/
}

#Dada #format_type_container ul li a {
	display: block;
	float: left;
	margin: 0 1px;
	padding: 5px 10px;
	background: #e6e6e6;
	text-decoration: none;
	color: #000;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	position: relative;
	bottom: 1px;
}

#Dada #format_type_container ul li a:hover {
	background: #ffe1af;
	color: #000;
}

#Dada #format_type_container ul li.active {
	margin-top: 10px;
}

#Dada #format_type_container ul li.active a,

#Dada #format_type_container ul li.active a:hover {
	position: relative;
	bottom: 0;
	padding: 10px;
	background: #fff;
	color: #000;
	font-weight: bold;
}








/* TableSorter */
/* tables */
#Dada table.tablesorter {}

#Dada table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	
	background-color: #e6EEEE;
	
	/*background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
		padding: 4px;
		padding:0px;*/
}

#Dada table.tablesorter thead tr .header {
	background-image: url(../images/jquery.tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

#Dada table.tablesorter tbody td {
/*	color: #3D3D3D;
	padding: 4px;
	padding:0px;
	background-color: #FFF;
	vertical-align: top;*/
}

#Dada table.tablesorter tbody tr.odd td {
	background-color:#ededed;
}

#Dada table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/jquery.tablesorter/asc.gif);
}

#Dada table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/jquery.tablesorter/desc.gif);
}

#Dada table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

#Dada #form_widgets {
  margin-top:60px;	
  float:left;
  width:100%;

}

#Dada #entire_form {
  position: relative;
}

#Dada #top_floating_button_wrapper { /* required to avoid jumping */
  position: absolute;
  width:100%;


}

#Dada #buttons {
  position: absolute;
  top: 0;
/*  padding-top: 19px;*/
  background-color: #ededed; /* rgba(255, 255, 255, 1); */
  width:100%;
  border-bottom:1px solid #ccc;


	-webkit-box-shadow: 0 8px 8px 0 rgba(51,0,0,0.5);
	-moz-box-shadow: 0 8px 8px 0rgba(51,0,0,0.5);
	box-shadow: 0 8px 8px 0 rgba(51,0,0,0.5);


}

#Dada #buttons.fixed {
  position: fixed;
  top: 0;
 
}



