<!-- begin admin_top_bar_menu.tmpl -->
<nav class="top-bar" data-topbar role="navigation" id="admin_top_bar_menu">
	<section class="top-bar-section">
		<!-- tmpl_loop NAV -->
			<!-- tmpl_if Activated -->
				<ul class="left">
					<li class="has-dropdown">
						<a href="#">
							<!-- tmpl_var Title -->
						</a>						
						<ul class="dropdown">
							<!-- tmpl_loop SUBNAV -->
							
								<!-- tmpl_if Activated --> 
								    <!-- tmpl_if comment -->this is a little ambiguous: <!-- /tmpl_if -->
									<li class="admin_menu_<!-- tmpl_var Function escape="HTML" -->">			
								<!-- tmpl_else -->
									<li 
										<!-- tmpl_if hide_nav --> 
											class="admin_menu_<!-- tmpl_var Function escape="HTML" --> menu_hidden"
										<!-- tmpl_else -->
											class="admin_menu_<!-- tmpl_var Function escape="HTML" -->"
										<!-- /tmpl_if -->
									>							
								<!-- /tmpl_if -->
									<a href="<!-- tmpl_var Title_URL -->"
											<!-- tmpl_unless Activated -->
												class="menu_disabled"
											<!-- /tmpl_unless -->
									>
										<!-- tmpl_var Title -->
									</a>
								</li>
							<!--/tmpl_loop-->
						</ul>
					</li>
				</ul>				
			<!-- /tmpl_if -->
		<!--/tmpl_loop-->
	</section>
</nav>
<!-- end admin_top_bar_menu.tmpl -->