<!-- begin archive_index_nav_table_widget.tmpl -->

<div class="row panel">
	<div class="small-4 columns text-left">
		<!-- tmpl_if expr="((prev_link_start >= 0) && (prev_link_start ne ''))" -->
			&lsaquo;
			<a href="<!-- tmpl_var url -->?flavor=<!-- tmpl_var flavor_label -->&list=<!-- tmpl_var list escape="URL" -->&start=<!-- tmpl_var prev_link_start -->">
				Older
			</a>
		<!-- tmpl_else --> 
			&nbsp;
		<!-- /tmpl_if --> 
	</div>
	<div class="small-4 columns text-center">
		<a href="<!-- tmpl_var url -->?flavor=<!-- tmpl_var flavor_label -->&list=<!-- tmpl_var list_settings.list -->">
			Archive Index
		</a>
	</div>
	<div class="small-4 columns text-right">
		<!-- tmpl_if expr="((next_link_start >= 0) && (next_link_start ne ''))" -->
			<a href="<!-- tmpl_var url -->?flavor=<!-- tmpl_var flavor_label -->&list=<!-- tmpl_var list escape="URL" -->&start=<!-- tmpl_var next_link_start -->">
				Newer
			</a>&rsaquo;
		<!-- tmpl_else --> 
			&nbsp;
		<!-- /tmpl_if --> 
	</div> 
</div>

<!-- end archive_index_nav_table_widget.tmpl -->