<!-- begin delete_list_success_screen.tmpl -->

<!-- tmpl_set name="title" value="Deletion Successful" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 You have deleted your Mailing List.
</p>
<p>
 <a href="<!--tmpl_var PROGRAM_URL -->">
  Return to the <!-- tmpl_var PROGRAM_NAME --> Default Screen.
 </a>
</p>

<!-- end delete_list_success_screen.tmpl -->
