<!-- begin delete_list_screen.tmpl -->

<!-- tmpl_set name="title" value="Mailing List &#187; Delete This Mailing List" -->
<!-- tmpl_set name="load_captcha_js" value="1" -->



<div id="screen_meta" data-menu_highlight="delete_list"></div>
<div id="delete_list_screen"></div> 


<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Your Mailing List
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Delete This Mailing List
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>



<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" id="delete_list_form" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
    <input type="hidden" name="flavor"  value="delete_list" >
    <input type="hidden" name="process" value="true" >

    <fieldset> 
        <div class="alert-box alert radius">
            <p>
                Are you sure you want to completely delete your Mailing List?
            </p>
            <p>
                Mailing List Deletion cannot be undone.
            </p> 
        </div>
		
		<!-- tmpl_if recaptcha_failed -->
			<div class="alert-box warning radius">
				reCAPTCHA Failed.
			</div>
		<!-- /tmpl_if -->
		
		 <div class="row">
			<div class="small-12 columns">
				<!-- tmpl_if can_use_Google_reCAPTCHA_v2 --> 
					<div class="form-group">
						<div 
							class="g-recaptcha" 
							id="delete_list_gr"
						></div>
					</div>
				<!-- /tmpl_if --> 

				<!-- tmpl_if can_use_Google_reCAPTCHA_v3 -->			
					<input 
						type="hidden"
						id="g-recaptcha-response_delete_list"
						class="g-recaptcha-response"
						name="g-recaptcha-response"
					>
				<!-- /tmpl_if -->
			</div> 
		</div>
		
    
        <ul class="button-group right">    
            <li>
                <input type="submit" class="button alert" value="Delete Your Mailing List (<!-- tmpl_var name="list_settings.list_name" ESCAPE="HTML" -->)" >
            </li>
        </ul>
    </fieldset>
</form> 
    



<!-- end delete_list_screen.tmpl -->
