<!-- begin error_incorrect_login_url_screen.tmpl --> 

<!-- tmpl_set name="title" value="Problems Logging In" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 You've attempted to log in from a unauthorized form. Please use the 
 login forms provided by <!-- tmpl_var PROGRAM_NAME --> itself.
</p>

<!-- end error_incorrect_login_url_screen.tmpl --> 
