<!-- tmpl_var error_no_show_archives_screen.tmpl --> 

<!-- tmpl_set name="title" value="No Archived Messages" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 There are no messages archived for this list that are available to be viewed.
</p>

<!--- tmpl_var list_settings.list_name -->

<!-- tmpl_var error_no_show_archives_screen.tmpl --> 
