<!-- begin error_no_admin_permissions_screen.tmpl --> 

<!-- tmpl_set name="title" value="Screen Disabled." -->

<h1>Screen Disabled.</h1>

<div class="alert-box warning radius">
		This screen may only be accessed when logged in with the 
		<strong><!-- tmpl_var PROGRAM_NAME --> Root Password</strong>.
</div>


<!-- end error_no_admin_permissions_screen.tmpl --> 
