<!-- begin error_unsub_invalid_email_screen.tmpl --> 

<!-- tmpl_set name="title" value="Invalid Email Address" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 The address you gave, 
 <strong>
  <!-- tmpl_var subscriber.email -->
 </strong>, 
doesn't seem to pass verification.

	<!-- tmpl_var unsubscription_form --> 

<!-- tmpl_include error_footer_widget.tmpl -->


<!-- end error_unsub_invalid_email_screen.tmpl -->
