<!-- begin error_no_display_attachments_screen.tmpl --> 

<!-- tmpl_set name="title" value="Sorry," -->
<!-- tmpl_set name="show_profile_widget" value="0" -->

<p>
 Attachments for messages of this list are not displayed.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_no_display_attachments_screen.tmpl --> 
