<!-- begin error_list_cp_login_recaptcha_failed_screen.tmpl -->
<!-- tmpl_set name="title" value="reCAPTCHA Failed." -->
	 <p>
	  <a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=<!-- tmpl_var ADMIN_FLAVOR_NAME -->" class="warning button">
		  	Back to Administration
		</a>
	 </p>
<!-- end error_list_cp_login_recaptcha_failed_screen.tmpl -->