<!-- begin error_over_list_quota_screen.tmpl --> 

<!-- tmpl_set name="title" value="Unable to Create a New Mailing List" -->
<!-- tmpl_set name="show_profile_widget" value="0" -->


<p>
 The limit to the amount of Mailing Lists that can be created has been reached.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_over_list_quota_screen.tmpl --> 
