<!-- begin error_footer_widget.tmpl --> 

<!-- tmpl_if list_settings.list_owner_email --> 

<p>
 If you would like to receive more assistance, please email the
 <a href="mailto:<!-- tmpl_var list_settings.list_owner_email escape="HTML" -->">
  list owner
 </a> 
with your problem.
</p>

<!-- /tmpl_if --> 


<!-- end error_footer_widget.tmpl --> 
