<!-- begin file_upload_status_bar_widget.tmpl --> 

<div style="width:305px">
<h3>File Upload Status: <!-- tmpl_var percent -->% Complete </h3>
<p class="positive">
	<!-- tmpl_var bytes_read --> of <!-- tmpl_var content_length -->  bytes
	</p>
<div style="width:<!-- tmpl_var big -->px;height:20px;background-color:#6f0;float:left;border:1px solid black;border-right:0px;"></div>
<div style="width:<!-- tmpl_var small -->px;height:20px;background-color:#f33;float:left;border:1px solid black;border-left:0px;"></div>
</div>

<!-- end file_upload_status_bar_widget.tmpl --> 
