<!-- begin list_invite_screen.tmpl -->


<!-- tmpl_set name="title" value="Membership &#187; Invite" -->
<div id="screen_meta" data-menu_highlight="add"></div>


<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
			<a href="#">
				Membership (Subscribers)
			</a>
			<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=add">
					Invite
					<!-- tmpl_if expr="((list_settings.enable_mass_subscribe == 1) && ((root_login == 1) || (list_settings.enable_mass_subscribe_only_w_root_login != 1)))" --> 
						/ Subscribe
	 			    <!-- /tmpl_if -->
			</a>
			<a href="#" class="unavailable">
				Verify
			</a>
			<a href="#" class="current">
				Send Invitation
		   </a>
	 </nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<div id="list_invite"></div> 

<form 
	name="mass_mailing" 
	id="mass_mailing" 
	action="<!-- tmpl_var name="S_PROGRAM_URL" -->" 
	method="post" 
	accept-charset="<!-- tmpl_var HTML_CHARSET -->"
>
	
	<!-- tmpl_include send_email_button_action_notice_widget.tmpl -->
	
	<div id="entire_form">
	  <div id="form_widgets">

	  	<div id="buttons">
			<!-- tmpl_include send_email_button_widget.tmpl -->
	  	</div>
		  
		  
		<!-- tmpl_include mass_mailing_limit_notice_widget.tmpl --> 

<input 
	type="hidden" 
	id="f" 
	name="flavor" 
	value="list_invite"
>

<fieldset>
<legend>Invitation Message</legend>
<textarea name="custom_invite_message" rows="10" ></textarea>

</fieldset>
<!-- tmpl_if verified_addresses --> 

	<fieldset> 
	 <legend>
		Your Invitees
	 </legend>
	 <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
	 <table  style="width:100%" class="responsive">
	  <tr>
	   <td width="25">
	    <p>&nbsp;</p>
	   </td>
	   <td>
	   <p>
	    <strong>
	     Email
	   </strong>
	  </p>
	 </td>
	<!-- tmpl_loop name="field_names" --> 
	    <td>
	     <p>
	      <strong>
	       <!-- tmpl_var name --> 
	      </strong>
	     </p>
	    </td> 
	<!--/tmpl_loop --> 
	  </tr>
	  <!-- tmpl_loop verified_addresses -->
	    <tr>
	     <td width="25">
	      <input type="checkbox" name="address" value="<!-- tmpl_var csv_info escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->" checked="checked" >
	     </td>
	     <td>
	      <p>
	<label for="<!-- tmpl_var email -->">
	       <!-- tmpl_var email -->
	</label>
	      </p>
	     </td>
	     <!-- tmpl_loop fields --> 
	        <td>
	         <p>
	          <!-- tmpl_var value default="&nbsp;" -->
	         </p>
	        </td>
	    <!-- /tmpl_loop --> 
	  </tr>
	  <!-- tmpl_if __last__ --> 
	  </table>
	  <p class="text-right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
	  <!-- /tmpl_if --> 
	<!-- /tmpl_loop -->
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	</div>
	</fieldset>
	
<!-- tmpl_else -->
	<div class="alert-box info radius">
	<p> 
		No addresses have passed verification. 
	</p> 
</div>
<!-- /tmpl_if --> 




<!-- tmpl_if invited_already_addresses --> 

	<fieldset> 
	 <legend>
	 	Already Invited Addresses</legend>
	
	<div class="alert-box info radius">
		<p>
		The below addresses have already been invited to your mailing list. 
		
		<!-- tmpl_unless list_settings.invites_prohibit_reinvites --> 
			Check the addresses you would like to re-invite.
		<!-- /tmpl_unless --> 
		
		</p>
	</div> 
		
	 <div style="max-height: 200px; overflow: auto; border:1px solid black;background:#fff">
	 <table  style="width:100%" class="responsive">
	  <tr>
	   <td width="25">
	    <p>&nbsp;</p>
	   </td>
	   <td>
	   <p>
	    <strong>
	     Email
	   </strong>
	  </p>
	 </td>
	<!-- tmpl_loop name="field_names" --> 
	    <td>
	     <p>
	      <strong>
	       <!-- tmpl_var name --> 
	      </strong>
	     </p>
	    </td> 
	<!--/tmpl_loop --> 
	  </tr>
	  <!-- tmpl_loop invited_already_addresses -->
	    <tr>
	     <td width="25">
	      <!-- tmpl_if list_settings.invites_prohibit_reinvites -->
			&nbsp;
		  <!-- tmpl_else --> 
			<input type="checkbox" name="already_invited_address" class="already_invited_address" value="<!-- tmpl_var csv_info escape="HTML" -->" id="<!-- tmpl_var email escape="HTML" -->"  ><!--checked="checked"-->
	      <!-- /tmpl_if --> 
		</td>
	     <td>
	      <p>
	<label for="<!-- tmpl_var email -->">
	       <!-- tmpl_var email -->
	</label>
	      </p>
	     </td>
	     <!-- tmpl_loop fields --> 
	        <td>
	         <p>
	          <!-- tmpl_var value default="&nbsp;" -->
	         </p>
	        </td>
	    <!-- /tmpl_loop --> 
	  </tr>
	  <!-- tmpl_if __last__ --> 
	   
	   <!-- tmpl_unless list_settings.invites_prohibit_reinvites -->
		   <tr>
			<td>
				<input class="toggleCheckboxes" type="checkbox" data-target_class="already_invited_address" >
		    </td>
			<!-- tmpl_loop fields --> 
		        <td>
		         <p>
					<!-- tmpl_if __first__ -->
						<label for="check_all_already_invited_addresses">Check All Addresses</label>
					<!-- tmpl_else --> 
		         		&nbsp;
					<!-- /tmpl_if --> 
		         </p>
		        </td>
	    <!-- /tmpl_loop -->
		</tr>
		<!-- /tmpl_unless -->	   
	  </table>
	  <p class="text-right"><strong>Total:</strong> <!-- tmpl_var __counter__ -->&nbsp;</p> 
	  <!-- /tmpl_if --> 
	
	<!-- /tmpl_loop -->
	
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	</div>
	</fieldset> 
<!-- /tmpl_if -->

	
</div> 
</div>
</div>

</form> 

<!-- end list_invite_screen.tmpl -->
