<!-- begin manage_privacy_policy.tmpl -->




<!-- tmpl_set name="title" value="Mailing List &#187; Manage Privacy Policy" -->
<div id="screen_meta" data-menu_highlight="manage_privacy_policy"></div>


<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Mailing List
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Manage Privacy Policy
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<div id="manage_privacy_policy"></div> 

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<!-- tmpl_if errors -->

    <div class="alert-box alert radius">
	 The <!-- tmpl_var errors --> field<!-- tmpl_var errors_ending --> on this form
	 <!-- tmpl_var err_word --> filled out incorrectly and
	 must be fixed for all new information to be saved.
	</div>

<!--/tmpl_if-->

    <div class="alert-box info radius">
	  <p>
		  <strong>
			  What makes a good privacy policy? 
		  </strong>
		</p>
		<p>
			See the OCI's page, 
			<a href="https://ico.org.uk/for-organisations/guide-to-data-protection/privacy-notices-transparency-and-control/privacy-notices-under-the-eu-general-data-protection-regulation/" target="_blank">
				Privacy notices under the EU General Data Protection Regulation
			</a>
			for ideas and guidelines. 
		</p>
		
    </div>
	
	<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form" accept-charset="<!-- tmpl_var HTML_CHARSET -->">


<input type="hidden" name="flavor" value="manage_privacy_policy" >
<input type="hidden" name="process" value="1" >

<!-- tmpl_if flags_privacy_policy -->
    <div class="alert-box alert radius">
	  You need to give your list a privacy policy.
    </div>


<!--/tmpl_if-->

<h1>Privacy Policy</h1>

<div class="row">
	<div class="large-12 medium-12 small-12 columns">
        <textarea name="privacy_policy" id="privacy_policy"  rows="20"><!-- tmpl_var privacy_policy --></textarea>
   </div>
</div>

<div class="clearfix">
	<ul class="button-group right">
	    <li><input type="reset"  class="warning button" value="Clear Changes" ></li>
	    <li><input type="submit" class="success button" value="Save Changes" ></li>
	</ul>
</div>
</form>

    <div class="alert-box info radius">
		<p>
			Your mailing list's privacy policy will always be available at the following URL:
		</p>
		<p>
		<a href="<!-- tmpl_var S_PROGRAM_URL -->/privacy_policy/<!-- tmpl_var list_settings.list -->/" target="_blank"> 
			<!-- tmpl_var S_PROGRAM_URL -->/privacy_policy/<!-- tmpl_var list_settings.list -->/
		</a>
		</p>
	</div>



<!-- end manage_privacy_policy.tmpl -->