<html>
	<head>  

	<!-- If you already are using jquery somewhere in your site, you won't need to include it, again: -->
	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery-3.6.0.min.js"></script>
		
    <link href="<!-- tmpl_var SUPPORT_FILES_URL -->/static/css/vendor/lity/lity.min.css" rel="stylesheet">
    <script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/lity/lity.min.js"></script>
	
	</head>
	<body>  
		<a href="<!-- tmpl_var S_PROGRAM_URL -->/modal_subscribe_landing/<!-- tmpl_var list_settings.list -->" data-lity>
			Click Here to Subscribe
		</a>
	</body>
</html>
