<!-- begin newsfeed_widget.tmpl --> 
<!-- tmpl_if list_settings.publish_archives_rss --> 
	<div class="row" style="margin:5px">
		<div class="small-12 columns">
			<div class="clearfix">					
				<a href="<!-- tmpl_var PROGRAM_URL -->/archive_rss/<!-- tmpl_var list_settings.list -->/" class="right">
					<img src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/images/webicon-rss.png" alt="rss/atom" title="rss/atom">     
				</a>
			</div>
		</div>
	</div>    
<!-- /tmpl_if --> 
<!-- end newsfeed_widget.tmpl --> 