<!-- begin no_spam.tmpl -->

<p>
 You may not, under any condition, use this program 
 (<!-- tmpl_var name="PROGRAM_NAME" -->) or its libraries 
 to send unsolicited email (spam).
</p>

<!-- end no_spam.tmpl -->
