<!-- begin pass_gen_screen.tmpl --> 

<!-- tmpl_set name="title" value="Password Encryption" -->

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->"> 
    <input type="hidden" name="flavor" value="pass_gen">
	<div class="row">
		<div class="small-12 columns">
			<label for="pw">
				Password
			</label>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<input type="password" name="pw" id="pw" size="16" >
		</div>
	</div> 
	<div class="row">
		<div class="small-12 columns">
			<input type="submit" value="encrypt password" class="button">
		</div>
	</div> 		
</form>

<!-- end pass_gen_screen.tmpl --> 
