<html>
<head> 
	<script type="text/javascript">
		function submitform() { 
			document.getElementById('postify_email_password').submit();
		}
		window.onload=submitform;
		
	</script> 
</head>

<body>
	<form id="postify_email_password" action="<!-- tmpl_var S_PROGRAM_URL -->" method="POST" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
		<input type="hidden" name="flavor" value="post_email_password">

		<input type="hidden" name="list" value="<!-- tmpl_var list -->">
		
		<input type="hidden" name="pass_auth_id" value="<!-- tmpl_var pass_auth_id -->">

		<input type="submit" value="Click here to complete request...">
	</form>
</body>

</html>