<!-- begin preview_template.tmpl --> 

<p>
 This is a 
  <strong>
   preview
  </strong> 
         of your mailing list template.
 </p>

<p>
 To save or edit, close this window and click the 
 
<strong>
 Change Template
</strong> button.
</p>

<!-- end preview_template.tmpl --> 
