<!-- being profile_login.tmpl --> 

<!-- tmpl_set name="title" value="Profile Login" --> 
<!-- tmpl_set name="show_profile_widget" value="0" --> 
<!-- tmpl_set name="load_captcha_js" value="1" --> 

<div id="profile_login_registration"></div>

<!-- tmpl_if removal --> 
	<div class="alert-box info radius">
		Your Profile has been removed.
	</div> 
<!-- /tmpl_if --> 

<!-- tmpl_if welcome --> 
	<div class="alert-box info radius">
		You have been successfully registered! Please log in with your Profile email address and password:
	</div> 
<!-- /tmpl_if --> 

<!-- tmpl_if logged_out --> 
	<div class="alert-box info radius">
		You have logged out. 
	</div> 
<!-- /tmpl_if --> 

<!-- tmpl_if password_changed --> 
	<div class="alert-box info radius">
		You've successfully changed your Profile password ! Please log in again:
	</div> 
<!-- /tmpl_if --> 



				<!-- tmpl_if comment --> 
					<!-- tmpl_if errors --> 
						<h3>YOU HAVE ERRORS!!!</h3> 
						<ul>
						<!-- tmpl_loop errors --> 
							<li><p><!-- tmpl_var error --></p></li>
						<!-- /tmpl_loop --> 
						</ul>
					<!-- /tmpl_if --> 

					<h3>error_profile_login: <!-- tmpl_var error_profile_login --> </h3> 
					<h3>error_profile_register: <!-- tmpl_var error_profile_register --></h3>
					<hr > 
					<hr > 
					<hr > 
				<!-- /tmpl_if --> 




<!-- tmpl_if errors --> 
	<div class="alert-box warning radius">

	<p>
		<strong>
			Problems with your Request:
		</strong>
	</p>
	
	<ul> 
	<!-- tmpl_if error_profile_login --> 
		<li>
			Please log into your Profile.
		</li>
	<!-- /tmpl_if --> 
	<!-- tmpl_if error_profile_activate --> 
		<!-- tmpl_if error_invalid_auth_code -->                 
			<li>
				Your Registration Authorization Code does not seem to be valid. Make sure to copy/paste the entire registration link. 
			</li>
		<!-- /tmpl_if -->  
	<!-- /tmpl_if -->

	<!-- tmpl_if error_profile_register --> 
		<!-- tmpl_if error_invalid_email -->
			<li>
				The email address you've entered is not valid.
			</li>        
		<!-- /tmpl_if --> 
		<!-- tmpl_if error_password_blank --> 
			<li>
				You forgot to enter a password.
			</li>
		<!-- /tmpl_if --> 
		<!-- tmpl_if error_email_no_match --> 	
			<li>
				The email addresses you've entered do not match.
			</li>        
		<!-- /tmpl_if --> 
		<!-- tmpl_if error_captcha_failed --> 
			<li>
				Sorry, reCAPTCHA failed. 
			</li>
		<!-- /tmpl_if --> 

		<!-- tmpl_if error_profile_exists -->
			<li>
				A Profile for this address already exists. Please log in, or reset your Profile Password.
			</li>        
		<!-- /tmpl_if --> 
	<!-- /tmpl_if --> 

	<!-- tmpl_if error_profile_login --> 
		<!-- tmpl_if errors_not_logged_in -->     
		<li>
			You'll have to log in, before you may access your Profile.
		</li>
		<!-- /tmpl_if -->             
		<!-- tmpl_if error_unknown_user --> 
			<!-- tmpl_if profile_settings.register -->
				<li>
					Profile User Unknown - have you registered?
				</li>
			<!-- tmpl_else -->
				<li>
					Profile User Unknown - self-registration is also disabled.
				</li>
			<!-- /tmpl_if -->
		<!-- /tmpl_if --> 
		<!-- tmpl_if error_incorrect_pass --> 
			<li>
				Incorrect Password.
			</li>
		<!-- /tmpl_if --> 
		</ul> 
	<!-- /tmpl_if --> 

	<!-- tmpl_if error_profile_reset_password --> 
		<!-- tmpl_if error_invalid_auth_code --> 
			<li>
				Authorization Code is not valid. Make sure to copy/paste the entire password reset link. 
			</li> 
		<!-- /tmpl_if --> 

		<!-- tmpl_if error_unknown_user --> 
			<li>
				Profile User Unknown - have you registered?
			</li> 
		<!-- /tmpl_if -->
	<!-- /tmpl_if -->
		</ul>
	</div> 
<!-- /tmpl_if --> 




<div class="alert-box info radius"> 
	<p>
		<!-- tmpl_var PROGRAM_NAME --> Profiles allow you to view and work with all 
		your <!-- tmpl_var PROGRAM_NAME --> subscriptions.
	</p>
	<p>
		Having a profile and being logged in also allows you to view subscriber-only archives.
	</p>
</div> 



<div class="row">
  <div class="small-12 columns">
    <ul class="tabs show-for-medium-up" data-tab>
      <li class="tab-title active"><a href="#profile_login">Login</a></li>
		 
		  <!-- tmpl_if profile_settings.password_reset -->
		 	 <li class="tab-title"><a href="#profile_password_reset">Reset Password</a></li>
		  <!-- /tmpl_if -->
	   
		  <!-- tmpl_if profile_settings.register -->
	      		<li class="tab-title"><a href="#profile_register">Register</a></li>
		  <!-- /tmpl_if -->	
	
	</ul>

	<dl class="accordion" data-accordion>
	
		<dd class="accordion-navigation">
			<a href="#profile_login" class="show-for-small-only">Login</a>
			<div id="profile_login" class="content active">
				<div class="content-box section-box">



					<form 
						action="<!-- tmpl_var PROGRAM_URL -->" 
						method="post" 
						accept-charset="<!-- tmpl_var HTML_CHARSET -->" 
						id="profile_login"
					> 
						<input type="hidden" name="flavor" value="profile_login" > 
						<input type="hidden" name="process" value="1" > 
						
						<!-- tmpl_if DISABLE_OUTSIDE_LOGINS --> 
							<input 
								type="hidden" 
								name="auth_state" 
								value="<!-- tmpl_var auth_state -->"
							> 
						<!--/tmpl_if--> 
						
						
						<div class="row">
							<div class="small-12 columns">
								<label for="login_email">
									Email Address
								</label>
								<input 
									type="email" 
									name="login_email" 
									id="login_email" 
									value="<!-- tmpl_var login_email escape="HTML" -->"
								> 
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<label for="login_password">
									Password
								</label>
								<input 
									type="password" 
									name="login_password" 
									id="login_password" 
								> 
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<input type="submit" class="button expand" value="Log Into Your Profile" > 
							</div>
						</div>
					</form>
    			</div>
			</div>
		
		 <!-- tmpl_if profile_settings.password_reset -->
		
				<a href="#profile_password_reset" class="show-for-small-only">Reset Password</a>
				<div id="profile_password_reset" class="content">
					<div class="content-box section-box">





						<form 
							action="<!-- tmpl_var PROGRAM_URL -->" 
							method="post" 
							accept-charset="<!-- tmpl_var HTML_CHARSET -->" 
							id="profile_reset_password"
						> 
							<input type="hidden" name="flavor" value='profile_reset_password' > 
						
							<div class="row">
								<div class="small-12 columns">
									<label for="reset_email">
										Email Address
									</label>
									<input 
										type="text" 
										id="reset_email" 
										name="reset_email" 
										value="<!-- tmpl_var reset_email escape=HTML -->"
									>
								</div>
							</div>
							<div class="row">
								<div class="small-12 columns">
									<input type="submit" class="button expand" value="Reset Your Profile Password">
								</div>
							</div> 
						</form>
					
					
					
	    			</div>
				</div>
				
			<!-- /tmpl_if -->
			
			 <!-- tmpl_if profile_settings.register -->
			
					<a href="#profile_register" class="show-for-small-only">Register</a>
					<div id="profile_register" class="content">
						<div class="content-box section-box">


							<div class="alert-box info radius">
								Register a Profile to easily manage all your <!-- PROGRAM_NAME --> Subscriptions.
							</div> 

							<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->" id="profile_register"> 
								<input type="hidden" name="flavor" value="profile_register" > 
						
								<div class="row">
									<div class="small-12 columns">
										<label for="register_email">
											Email Address
										</label>
										<input 
											type="email" 
											name="register_email" 
											id="register_email" 
											value="<!-- tmpl_var register_email escape=HTML -->"
										> 
									</div>
								</div>
								<div class="row">
									<div class="small-12 columns">
										<label for="register_email_again" >
											Email Address (again)
										</label>
										<input 
											type="email" 
											name="register_email_again" 
											id="register_email_again" 
											value="<!-- tmpl_var register_email_again -->"
										> 
									</div>
								</div>
								<div class="row">
									<div class="small-12 columns">
										<label for="register_password" >
											Password
										</label>
										<input 
											type="password" 
											name="register_password" 
											id="register_password" 
										 > 
									</div>
								</div>
								
								<!-- tmpl_if can_use_captcha --> 
									<!-- tmpl_if can_use_Google_reCAPTCHA_v2 --> 
										<div class="form-group">
											<div 
												class="g-recaptcha" 
												id="profile_login_gr"
											></div>
										</div>
									<!-- /tmpl_if --> 
				
									<!-- tmpl_if can_use_Google_reCAPTCHA_v3 -->			
										<input 
											type="hidden"
											id="g-recaptcha-response_profile_login"
											class="g-recaptcha-response"
											name="g-recaptcha-response"
										>
									<!-- /tmpl_if -->
								<!-- /tmpl_if --> 
								
								<div class="row">
									<div class="small-12 columns">
										<input 
											type="submit"
											class="button expand"
											value="Register a New Profile"
										> 
									</div>
								</div>
							</form> 

		        </div>
					</div>
			
			<!-- /tmpl_if -->

		</dd>
	</dl>





	</div>
</div>
<!-- end profile_login.tmpl --> 