<!-- begin profile_update_email_auth_send.tmpl --> 

<!-- tmpl_set name="title" value="Profile Email Update Confirmation Sent!" -->

<p>An email message has been sent to your <em>updated</em> email address, </p> 

<ul> 
	<li> 
		<p>
			<!-- tmpl_var profile.update_email -->
		</p> 
	</li> 
</ul> 

<p>
	Follow the authorization link in the message, to update your Profile email address and change all your mailing list subscriptions.

</p>



<!-- end profile_update_email_auth_send.tmpl --> 
