<!-- begin restore_lists_complete.tmpl --> 

<!-- tmpl_set name="title" value="Restore List Information - Complete" --> 

<p>List Information Restored.</p> 

<p>
<a href="<!-- tmpl_var PROGRAM_URL -->">
 Return to the <!-- tmpl_var PROGRAM_NAME --> main page.
</a>
</p> 

<!-- end restore_lists_complete.tmpl --> 