<!-- begin save_for_multiple_mailing_lists_button_widget.tmpl -->
	<input 
		type="button" 
		class="button success also_save_for" 
		value="Save for Multiple Lists..."
	>
	<input 
		type="hidden" 
		name="also_save_for_list"
		id="also_save_for_list"
		value=""
	>
	<input 
		type="hidden" 
		name="also_save_for"
		id="also_save_for"
		value="0"
	>
<!-- end save_for_multiple_mailing_lists_button_widget.tmpl -->
