<!-- begin scheduled_jobs.tmpl -->
<!-- tmpl_set name="title" value="Scheduled Jobs" -->

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Control Panel Settings
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Scheduled Jobs
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>



<div id="scheduled_jobs"></div> 
<div id="screen_meta" data-menu_highlight="scheduled_jobs"></div>

<form> 
	<input type="hidden" id="s_program_url" name="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL_base64_encoded -->" > 
</form> 

<form>
    
<fieldset> 
    <legend> 
        Scheduled Jobs URL
    </legend>
    
    <div data-alert class="alert-box info radius"> 
		<!-- tmpl_var S_PROGRAM_URL -->/<!-- tmpl_var scheduled_jobs_flavor escape="HTML" -->/_all/_all/_silent/	
    </div> 
	
	<p>
		Set this URL to be fetched by a scheduled task (cronjob) on a recurring schedule (~5 minutes)
    </p>
	
    
    <div class="row">
		<div class="small-12 columns">
	        <label for="cronjob_url">
				Using the curl command: 
			</label> 
		
		
		<div class="row collapse">
			<div class="large-10 medium-10 columns">
		        <input 
					type="text"
					id="cronjob_url"
					value="<!-- tmpl_var name="curl_location" default="/cannot/find/curl" --> --user-agent &quot;Mozilla/5.0 (compatible;)&quot; --silent --get --url <!-- tmpl_var S_PROGRAM_URL -->/<!-- tmpl_var scheduled_jobs_flavor escape="HTML" -->/_all/_all/_silent/"
					readonly
				>
			</div>
			<div class="large-2 medium-2 columns">
  			<button 
			
  				type="button" 
  				class="postfix copy_button" 
  				data-clipboard-target="#cronjob_url"
				alt="Copy to clipboard"
  			>
  					Copy
  				</button>
				
			</div>
			
		</div> 
		
		
		
		
			
		</div>
	</div>
    
</fieldset> 
        <input type="hidden" name="sched_flavor" id="sched_flavor" value="<!-- tmpl_var scheduled_jobs_flavor escape="HTML" -->" > 

				<input 
					type="button" 
					value="Manually Run Scheduled Jobs" 
					class="success button manually_run_scheduled_jobs expand"
				>
</form>


<!-- end scheduled_jobs.tmpl -->
