<!-- begin search_archive_screen.tmpl -->

<!-- tmpl_set name="title" value="Archive Search Results" --> 

<!-- tmpl_include name="list_breadcrumbs_widget.tmpl" -->


<!-- tmpl_include archive_search_form_widget.tmpl -->

<!-- tmpl_if search_results -->
	
	<p>
	 <em>
	  Found <!-- tmpl_var total_count --> archived message<!-- tmpl_var ending --> 
	  when looking for &quot;<!-- tmpl_var q -->&quot;:
	 </em>
	</p>
		
	<!-- tmpl_include search_archive_results_pagination.tmpl -->
		
	 
	<!-- tmpl_loop summaries --> 
		 
		<h2>
		 
		    <a href="<!-- tmpl_var PROGRAM_URL -->/archive/<!-- tmpl_var list -->/<!-- tmpl_var id -->/">
		     <!-- tmpl_var subject -->
		    </a>
		</h2>

		  <p><em>
		    Sent <!-- tmpl_var date -->
		   </em>
		  </p>
		 
		  <p>
		   <!-- tmpl_var summary -->
		  </p>
		 
	<!--/tmpl_loop-->
	 

<!-- tmpl_include search_archive_results_pagination.tmpl -->

	
<!--tmpl_else-->
	
	<div class="alert-box info radius">
		 No archived messages matched your search.
	</div>
	
<!--/tmpl_if-->

<!-- tmpl_include archive_search_form_widget.tmpl -->
	


<!-- tmpl_include list_page_info_widget.tmpl -->
	
<!-- end search_archive_screen.tmpl -->
