<!-- begin send_email_button_action_notice_widget.tmpl --> 
	<div class="clearfix">
		<div class="text-right">
			<small>
				<span id="button_action_notice">
					&nbsp;
				</span>
			</small>
		</div>
	</div>
<!-- end send_email_button_action_notice_widget.tmpl --> 