<!-- begin subscriber_help_screen.tmpl -->

<!-- tmpl_set name="title" value="Subscription Help" -->

<p>
 This information will hopefully help you if you're trying to subscribe to 
 <strong>
  <!-- tmpl_var list_name -->
 </strong>
 but aren't receiving email messages sent to your email address.
</p>

<h2>
 Add <!-- tmpl_var list_owner_email --> to Your Address Book/White List
</h2>
<p>
 Many times, messages from mailing lists seem to not get delivered, because they 
 get filtered into junk mail folders. This is because sometimes the legitimate 
 unsubscription information that's in the message itself is flagged as being SPAM-like.
</p>
<p>
 There's no proper way around this, except to not have this unsubscription information 
 available, which will cause trouble when you want off a list. It's a Catch-22 situation.
</p>
<p>
 In light of this problem, the best thing to do is to add the list owner's email address, 
 <strong>
  <!-- tmpl_var list_owner_email -->
 </strong>
 , to your addressbook/whitelist.
</p>
<ul>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#hotmail">
   Hotmail Users
  </a>
 </li>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#yahoo">
   Yahoo! Mail Users
  </a>
 </li>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#gmail">
   Gmail Users
  </a>
 </li>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#outlook_2003">
   Microsoft Outlook 2003 Users
  </a>
 </li>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#apple_mail">
   Apple Mail.app Users
  </a>
 </li>
</ul>

<h2>
 <a name="hotmail">
  Hotmail Users
 </a>
</h2>
<h3>
 Adding <!-- tmpl_var list_owner_email --> to your Hotmail Address Book:
</h3>
<p>If you successfully received the confirmation email message, click 
  <strong>
   Save Address 
  </strong>
 to have <!-- tmpl_var list_owner_email --> 
 saved into your Hotmail addressbook.
</p>
<h3>
 Adding <!-- tmpl_var list_owner_email --> to your Hotmail Safe List:
</h3>
<ol>
 <li>
  <p>
   When you're logged into your Hotmail account, click on the 
   <strong>
    Mail 
   </strong>
   tab in the middle of the interface.
  </p>
 </li>
 <li>
  <p>
   Click on the 
   <strong>
    Options 
   </strong>
   link on the right side of the interface.
  </p>
 </li>
 <li>
  <p>
   Click on 
   <strong>
    Junk Email Protection</strong>.
  </p>
 </li>
 <li>
  <p>
   Click on 
   <strong>
    Safe List</strong>.
  </p>
 </li> 
 <li>
  <p>
   Type in the list owner address, 
   <strong>
    <!-- tmpl_var list_owner_email -->
   </strong>
   , under 
   <strong>
    Type an address or domain:
   </strong>
  </p>
 </li>
 <li>
  <p>
   Click the 
   <strong>
    Add 
   </strong>
   button.
  </p>
 </li>
</ol>

<h2>
 <a name="yahoo">
  Yahoo! Mail Users
 </a>
</h2>
<h3>
 Adding <!-- tmpl_var list_owner_email --> to your Yahoo Address Book:
</h3>
<p>
 If you successfully received the confirmation email message, click 
 <strong>
  Add to Address Book
 </strong>
 when viewing a message from <!-- tmpl_var list_owner_email --> 
 to have the address <!-- tmpl_var list_owner_email --> 
 saved into your Yahoo! Mail Address Book. 
 This link is located to the right of the "From" header, above the message itself.
</p>

<h2>
 <a name="gmail">
  Gmail Users
 </a>
</h2>
<h3>
 Adding <!-- tmpl_var list_owner_email --> to your Gmail Contacts list:
</h3>
<p>If you successfully received the confirmation email message, click 
 <strong>
  More Options 
 </strong>
 below the Subject line. Then, click 
 <strong>
  Add sender to Contacts list</strong>.
</p>
<p>
 You should see a message on the top of the interface, stating: 
 <em>
  The send has been added to your contacts list.
 </em>
</p>

<h2>
 <a name="outlook_2003">
  Microsoft Outlook 2003 Users
 </a>
</h2>
<h3>
 Adding <!-- tmpl_var list_owner_email --> to your Microsoft Outlook 2003 Safe Senders List:
</h3>
<p>
 Choose: 
 <strong>
  Actions -&gt; Junk Email 
 </strong>
 then click: 
 <strong>
  Add Sender to Safe Senders List</strong>.
</p>
<p>
 Or if you prefer, choose: 
 <strong>
  Actions -&gt; Junk Email Options</strong>, 
 select the
 <strong> 
  Safe Senders 
 </strong> 
 tab, click 
 <strong> 
  ADD</strong>, 
 and enter the email address in the popup window. Lastly, click 
 <strong> 
  OK</strong>.
</p>

<h2>
 <a name="apple_mail">
  Apple Mail.app Users
 </a>
</h2>
<h3>
 Adding <!-- tmpl_var list_owner_email --> to your Address Book list:
</h3>
<p>
 If you successfully received the confirmation email message, choose: 
 <strong>
  Message -&gt; Add Sender to Address Book 
 </strong> 
 on the top toolbar.
</p>
<p>
 You may also hold the pointer over the email address in the message, 
 press the mouse button, and choose 
 <strong>
  Add to Address Book
 </strong>
 from the pop-up menu.
</p>

<!-- end subscriber_help_screen.tmpl -->
 
