<!-- begin transform_to_pro_failure.tmpl -->

<h1>Sorry,</h1>

<div class="alert-box warning radius">
<p>There seem to have been a problem with either verifying your to Pro Dada account, or doing 
the actual transformation.</p>
<p>More information may be found in the app's error log.
</p>
	
<!-- tmpl_include transform_to_pro.tmpl -->

<!-- end transform_to_pro_failure.tmpl -->

