<!-- begin transform_to_pro_success.tmpl -->
	<h1>Pro Dada Transformation Complete!</h1>
	<p>
		 You are now running Pro Dada! 
	</p>
	
	<p>
		We appreciate you being a Pro Dada Subcriber.
	</p>
	<!-- tmpl_if comment -->
		<p>Receipt: <code><!-- tmpl_var receipt --></code></p>
	<!-- /tmpl_if -->
<!-- end transform_to_pro_success.tmpl -->
