<!-- begin unsubscription_request_screen.tmpl -->
	<!-- tmpl_set name="title" value="Unsubscription Request Sent" -->
	
	
	<p>
		Your request to unsubscribe from <!-- tmpl_var list_settings.list_name --> has been sent.
	</p>
	
<!-- end unsubscription_request_screen.tmpl -->