
/* ----- GENERAL ----- */
html { 
	margin: 0;
	padding: 0	
}
body {
	margin: 0;
	padding: 0;	
	background-color: #fff;
	font-family: helvetic,arial,san-serif;
	line-height: 1.50em;
	font-size: .825em;
	background: #fff;
}

/* ----- IDS: General Page Layout ----- */

/* non-admin */
#PageWrapper {}

#Header {
	min-width: 800px;
	height: 50px;
	margin: 0 auto; /* page centering for all but IE */
	padding:0px;
	background-color: #669999; /* 99cc99 */
	background-image: url('<!-- tmpl_var S_PROGRAM_URL -->/img/header_bg.gif/');
	background-repeat: repeat-y;
	text-align: left; /* overrides page centering hack for IE (in the body) */
	font: 1.1em "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	text-shadow: 1px 1px 2px #330033;
}

#Logo {
	float: left;
	text-align: left;
}

#Title {
	float: right;
	text-align: right;
	padding-right: 10px;
	padding-top: 20px;
	color: #fff;
}
#Title a {
	color: #fff;
	text-decoration: none;
}
#Title a:hover {
	color: #fff;
	text-decoration: underline;
}

/* non-admin */
#Content {
	padding-left:50px; 
	padding-right:50px;
	padding-top:20px;
	padding-bottom:20px;
}

#Menu {	
	margin-left: -100%;
	float:left;
	width: 199px;
	padding: 0;
	border-right:1px solid #666;
	background-color: #fff;
	text-align: left;
	line-height: 150%;
}

#AdminContentWrapper {
	border-top: 1px solid #666;
	float: left;
	width: 100%
	
}
#AdminContent {
	margin-left: 200px;
	padding-bottom: 10px;
}

#Footer {
	border-top: 1px solid #666;
	background-color: #669999;
	height:50px;
	color: #fff;
	font: 1.1em "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	text-shadow: 1px 1px 2px #330033;
	clear:both;
	
}

#Footer a {
	color: #fff;
	text-decoration: none;
}
#Footer a:hover {
	color: #fff;
	text-decoration: underline;
}


#FooterPadding { 
	padding:5px;
}


/* ----- IDS: Navigation ----- */



#list_type_switcher div {
	font-family: 'Avant Garde', 'Century Gothic', AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	float: left;
	margin-right: 2px;
	width: 150px;
	border: 1px solid #000;
	background-color: #ededed;
	text-align: center;
}

#list_type_switcher div a,
#list_type_switcher div span {
	padding: 8px 0;
	/* these next two make the entire "button" clickable: */
	display:block; /* Moz, etc. */
	width:150px; /* IE */
}

#list_type_switcher div span {
	background-color: #fff;
	font-weight: bold;
}

#list_type_switcher div a:hover {
	background-color: #e6e6e6;
}

/* ----- IDS: Widgets/Other ----- */

#breadcrumbs {
}

#help_link {
	float: right;
	margin-top: .8em;
	font-weight: bold;
	clear: both;
}

#root_login_message {
/* float:right; */
margin-right:0.5em;
color: #fff;
}

/* ----- CLASSES ----- */

.disabled {
	background-color: #ccc;
	border: 1px solid #fff;
}




.error {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em;
	font-style: italic;
	color: #600;
}

.alert {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em;

/*font-style:italic;*/
color:#09c;
}



.hidden {
	display: none;
}


.highlighted {
	font-style: normal;
	background-color: #6F3;
}

p.link_to_screen {
	text-align: right;
	font-weight: bold;
}

.positive {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em;
	color: #063;
}

.positive_greeting {
	padding: 2px;
	border: 1px solid #363;
	background-color: #CFC;
}

.simplebox {
	padding: 7px;
	border: 1px solid #000;
	background-color: #fff;
}

.psuedomodalbox {

	margin-left: auto;
	margin-right: auto;
	width: 350px;
	border: 1px solid #333; 
	background-color: #EFEFEF;
	color: #000;
	text-align: left;
	padding: 5px
	
	-webkit-box-shadow: 0px 0px 10px #330033;
	-moz-box-shadow: 0px 0px 10px #330033;
	box-shadow: 0px 0px 10px #330033;
	
}

.login_message {
	float: right;
	padding: 5px;
	/* width:150px; */
	background-color:#ffc;
	border: 1px dotted #333;
}

.login_message p {
	line-height: 100%;
}

.login_message ul {
	list-style-type: square;
	color: #ccc;
}


/* all but IE/Win & NN4: */
.simplebox>p {
	margin: 0;
}

/* ----- HEADINGS ----- */


h1, h2, h3 {
	font-family: 'Avant Garde', 'Century Gothic', AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	font-weight: bold;
}

h1 {

/*font-size:18px;*/


font-size: 1.4em;
}

h2 {
/*font-size:16px;*/
font-size: 1.2em;
}

h3 {
/*font-size:14px;*/
font-size: 1em
}

/* ----- PARAGRAPHS ----- */

p {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

#AdminContent h1,
#AdminContent h2,
#AdminContent h3,
#AdminContent h4,
#AdminContent h5,
#AdminContent p {
	padding-left: 5px;
	padding-right: 5px;
}


p.small {
	font-family: Helvetica,Verdana,Arial,sans-serif;
	/*font-size:11px;*/
	font-size: .9em;
}

/* ----- CODE ----- */

code, pre {
	margin: 5px;
	padding: 5px;
	border: 1px dotted #666;
	background-color: #dcffd2;
	font: .8em/1.6em Monaco,Mono,'Courier New',Courier,monospace;
}

/* ----- LINKS ----- */

a {
	text-decoration:none;
}

a:link {
	color:#339;
}

a:visited {
	color:#03c;
}

a:hover {
	color:#33c;
}

a:active {
}


#Logo a:link,
#Logo a:visited {
	color: #000;
}

#Logo a:hover {
	color: #000;
}

#Logo a:active {
}

/* ----- FORMS ----- */

label {
	font-family: Helvetica,Verdana,Arial,sans-serif;

/*font-size:12px;*/
/*font-size: .95em; */
font-weight:bold;
color: #000;
}

.label_by_5 {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

fieldset {
	padding-top: 4px;
	padding-bottom: 9px;
	padding-left: 7px;
	padding-right: 7px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	background: #ededed;
}
#AdminContent fieldset {
	border-left: 0px;
	border-right: 0px;
}
#Content fieldset {
	width: 75%;
}

#AdminContent fieldset fieldset {
	background: #e6e6e6;
	border: 1px solid black;
}


legend {
	font-family: 'Avant Garde', 'Century Gothic', AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	font-weight: bold;
	/*font-size:16px;*/
	font-size: 1.15em;
}

input, select {
	margin: 3px;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #999 #ccc #999;
	font-family: "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	font-size: 1em;
}
.small_input {
	margin: 2px;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #999 #ccc #999;
	font-family: "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	font-size: .9em;
}


/* removes checkbox/radio-button borders in IE 5.0+: */
/* (commented out for validation, uncomment to apply)
input {
border: expression(this.type=="checkbox"? 'none':
this.type=="radio"? 'none':
'1px solid #000');
}
*/

input.full {
	margin-top: -5px;
	width: 95%;
}
input.midi {
	width: 50%;
	margin-top: -5px;
}




textarea {
	padding: 10px;
	width: 95%;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #999 #ccc #999;
	font-family: Helvetica,Verdana,Arial,sans-serif;
	font-size: 1em;
	color: #333;
}

input.small_button {
	background-color: #ededed;
	margin: 1px;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #999 #666 #999;
	font: .9em "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
}

input.small_button:hover,
input.plain:hover,
input.processing:hover,
input.cautionary:hover,
input.alertive:hover,
input.help:hover {
	background-color: #ffe1af;
}

/* affects buttons only: */
input.plain,
input.processing,
input.cautionary,
input.alertive,
input.help {
	font: 1em "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	color: #000;
	border-color: #ccc #999 #666 #999;
}



input.plain {
	background-color: #ededed;
	/*color:#000;*/
	border-color:#ccc #999 #666 #999;
	color: #333;
}

input.processing {
/*background-color:#9c9;*/
background-color:#9f9;
color: #333;
}
input.cautionary {
/* background-color:#ffc; */
background-color:#ff9;
color: #333;
}

input.alertive {
/* background-color:#f66; */
background-color:#f33;
color: #fcc;
}

input.help {
/*background-color:#9c9;*/
background-color:#fcf;
color: #333;
}

input.disabled {
	color: #999;
	background-color: #ccc;
	border: 1px solid black;
}

/* IE doesn't understand this: */
input:focus,
textarea:focus {
}

div.buttonfloat {
	float: right;
}

/* ----- TABLES ----- */

table {
	font-size: 100%; /* fixes IE inheritance bug, redundant for others */
}

td {
	vertical-align: top;
}

/* all but IE/Win & NN4: */
td>p {
	margin: 0;
}

table.tagchart {
	border-collapse: collapse;
	border: 2px solid #000;
	background-color: #fff;
	width: 100%;
}

table.tagchart td {
	border: 1px solid #000;
	padding: 5px;
}

/* ----- BREAKS ----- */

hr {
	width: 66%;
	text-align: center;
	height: 1px;
	border: 0;
	color: #000; /* IE */
	background-color:#000; /* Moz & Opera */
	clear:both;
}

div.floatclear {
	clear: both;
	height: 1px;
	overflow: hidden;
}

/* ----- ARCHIVES ----- */

#archived_message_wrapper {
}

#archived_message_head {
}

iframe#archived_message_body_container {
	height: 500px;
	width: 100%;
	border: 1px solid #000;
	/* text-styling rules will have NO effect in here. see below instead. */
}

#archived_message_body {
/* inline-displayed HTML messages keep their inline styles, but can otherwise be styled here.
iframe-displayed HTML messages *always* retain their own style. this does nothing for 'em.
plain text messages, whether inline or iframed, will be styled here also. */
}

.quoted_reply {
	color: #666;
	font-style: italic;
}

#archived_attachments_wrapper {
}


ul.archive_badges_ul {

/* font-size: 11px; */
font-size: .9em;
line-height: 13px;
}

li.archive_badges_li {
	display: inline;
	padding-left: 3px;
	padding-right: 7px;
	/* border-right: 1px dotted #066; */
}




/* matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */

#centeredmenu {
	clear: left;
	float: left;
	padding: 0;
	background: #fff url(<!-- tmpl_var PROGRAM_URL -->/img/centeredmenu.gif) bottom repeat-x;
	width: 100%;
	overflow: hidden;
	font: 1em "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	/* text-shadow: 1px 1px 2px #330033;*/
}
#centeredmenu ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	left: 50%;
	text-align: center;
}
#centeredmenu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	position: relative;
	right: 50%;
}
#centeredmenu ul li a {
	display: block;
	float: left;
	margin: 0 1px;
	padding: 5px 10px;
	background: #ededed;
	text-decoration: none;
	color: #000;
	border-top: 1px solid #369;
	border-left: 1px solid #369;
	border-right: 1px solid #369;
	position: relative;
	bottom: 1px;
}
#centeredmenu ul li a:hover {
	background: #ffe1af;
	color: #000;
}
#centeredmenu ul li.active {
	margin-top: 10px;
}
#centeredmenu ul li.active a,
#centeredmenu ul li.active a:hover {
	position: relative;
	bottom: 0;
	padding: 10px;
	background: #fff;
	color: #000;
	font-weight: bold;
}

#list_activity ul {
	list-style: none;
}
#list_activity li {
	line-height: 200%;
}

#screentitle {
	width: 100%;
	height: 25px;
	background-color: #cc9999;
	border-bottom: 1px solid #666;
	color: #fff;
	font: 1em "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	text-shadow: 1px 1px 2px #330033;
}
#screentitle a,
#screentitle hover,
#screentitle link,
#screentitle visited {
	color: #fff;
}

#screentitlepadding {
	float: left;
	padding: 3px;
}


#navcontainer {
	margin: 0px;
	border-bottom: 1px solid #666;
}

#navcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, Helvetica, sans-serif;
}

/* this is the horizontal separator */
#navcontainer li {
	margin: 0 0 1px 0;
}

#navcontainer a {
	display: block;
	padding: 2px 5px;
	width: 189px;
	color: #666;
	background-color: #ededed;
	text-decoration: none;
}

#navcontainer a:hover {
	color: #666;
	background-color: #ffe1af;
	text-decoration: none;
}

#navcontainer span {
	display: block;
	/* h, w */
	padding: 2px 5px;
	width: 189px;
	color: #fff;
	background-color: #99bccc;
	font-weight: bold;
	border-top: 1px solid #333;
	height: 22px;
	font: 1em "Avant Garde", "Century Gothic", AvantGarde, Helvetica,Verdana,Arial,sans-serif;
	text-shadow: 1px 1px 2px #330033;
}

/* this is the horizontal separator */
#navcontainer ul ul li {
	margin: 0 0 1px 0;
}

#navcontainer ul ul a {
	display: block;
	padding: 2px 2px 2px 20px;
	width: 177px; /* 20 + 2 */
	background-color: #ededed;
	text-decoration: none;
	font-size: .9em;
}
#navcontainer ul ul span {
	color: #fff;
}

#navcontainer ul ul a:hover {
	color: #666;
	background-color: #ffe1af;
	text-decoration: none;
}

#navcontainer ul ul a.menu_disabled,
#navcontainer ul ul a.menu_disabled:link,
#navcontainer ul ul a.menu_disabled:visited,
#navcontainer ul ul a.menu_disabled:hover,
#navcontainer ul ul a.menu_disabled:active 
 {
	color: #ccc;
	font-style: italic;
}



/* currently, there is no subactive state...
ul#navlist li#active ul#subnavlist li#subactive a {
font-weight: bold;
color: #000;
background: #fff;
text-decoration: none;
}
*/

.stripedtable {
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	border: 0px;
	/*
	cellpadding="2" cellspacing="0" border="0" width="100%"
	*/
}
.stripedtable td {
	padding: 2px;
	margin: 0px;
}
.stripedtable tr.alt td {
	background-color: #fff;
}
.stripedtable tr.alt td {
	background-color: #ededed;
}

.stripedtable a {
	color: #666;
	/* border-bottom:1px dotted #ffe1af; */
	text-decoration:none;
}

.stripedtable a:hover {
	color: #666;
	/* border-bottom:1px solid #000; */
	background-color: #ffe1af;
}




