<!-- tmpl_set name="title" value="Plugins &#187; Password Protect Directories" --> 
<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<h1>Sorry,</h1>
<p>This plugin will only work, if you have installed and configured <!-- tmpl_var PROGRAM_NAME --> to use one of the SQL backends.</p>
