<!-- tmpl_set name="title" value="Plugins &#187; Default Mass Mailing Messages" -->
<div id="screen_meta" data-menu_highlight="default_mass_mailing_messages"></div>


<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title -->
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<!-- tmpl_if done -->  
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<!-- tmpl_if expr="(pt_return == 0)" -->		
	<div class="badweatherbox">
		Problem saving PlainText Message!
	</div> 
<!-- /tmpl_if --> 
<!-- tmpl_if expr="(html_return == 0)" -->		
	<div class="badweatherbox">
		Problem saving HTML Message!
	</div> 
<!-- /tmpl_if --> 



<p class="alert">
	Set default copy for both your PlainText and HTML Mass Mailing Messages. Use dummy text/images
	as placeholders to create a head-start for your next mass mailing. 
</p>





<form action="<!-- tmpl_var Plugin_URL -->" method="post" method="post" accept-charset="<!-- tmpl_var HTML_CHARSET -->">
<input type="hidden" name="flavor" value="save_params" />

<fieldset> 
	<legend>PlainText Message</legend>
	
	<table border="0" cellpadding="5" width="100%"> 
		<tr> 
		<td>
		 <p>
		  <input type="radio" id="default_plaintext_message_content_src_default" name="default_plaintext_message_content_src" value="default" <!-- tmpl_if expr="(list_settings.default_plaintext_message_content_src eq 'default')" -->checked="checked"<!-- /tmpl_if --> />
		<label for="default_plaintext_message_content_src_default">Use the following PlainText as content: </label><br /> 
		
		<textarea cols="80" rows="30" name="default_plaintext_message_content_data"><!-- tmpl_var default_plaintext_message_content_data escape="HTML" --></textarea>
		 </p>
		</td> 
		
		
		</tr>
		<tr>
			<td>
			 <p>
			  <input type="radio" id="default_plaintext_message_content_src_url_or_path" name="default_plaintext_message_content_src" value="url_or_path" <!-- tmpl_if expr="(list_settings.default_plaintext_message_content_src eq 'url_or_path')" -->checked="checked"<!-- /tmpl_if --> />
			<label for="default_plaintext_message_content_src_url_or_path">Grab content from this webpage address (URL), or Server Path: </label>
			<!-- tmpl_if plaintext_message_source_isa_url --> 
				<a href="<!-- tmpl_var list_settings.default_plaintext_message_content_src_url_or_path -->" target="_blank">
					(View <!-- tmpl_var list_settings.default_plaintext_message_content_src_url_or_path -->)
				</a> 
			<!-- /tmpl_if --> 
			<!-- tmpl_if plaintext_message_source_isa_file --> 
			<a href="<!-- tmpl_var Plugin_URL -->?flavor=view_file;fn=default_plaintext_message_content_src_url_or_path" title="PlainText Message" class="modalbox">
				(View <!-- tmpl_var default_plaintext_message_content_src_url_or_path -->)
			</a>
			<!-- /tmpl_if -->
			<!-- tmpl_if problems_fetching_plaintext_url -->
				<span class="error">Can't fetch URL!</span>
			<!-- /tmpl_if -->  
			<!-- tmpl_if problems_opening_plaintext_file --> 
				<span class="error">Can't open file!</span>
			<!-- /tmpl_if --> 
			<br /> 
			
			<input type="text" class="full"  name="default_plaintext_message_content_src_url_or_path" value="<!-- tmpl_var list_settings.default_plaintext_message_content_src_url_or_path escape="HTML" -->"/>
			 </p>
			</td> 
		</tr> 
	</table> 
</fieldset> 


<fieldset> 
	<legend>HTML Message</legend>

	<table border="0" cellpadding="5" width="100%"> 
		<tr> 
		<td>
		 <p>
		  <input type="radio" id="default_html_message_content_src_default" name="default_html_message_content_src" value="default" <!-- tmpl_if expr="(list_settings.default_html_message_content_src eq 'default')" -->checked="checked"<!-- /tmpl_if --> />
		<label for="default_html_message_content_src_default">Use the following HTML as content: </label><br /> 

		<textarea cols="80" rows="30" name="default_html_message_content_data"><!-- tmpl_var default_html_message_content_data escape="HTML" --></textarea>
		 </p>
		</td> 


		</tr>
		<tr>
			<td>
			 <p>
			  <input type="radio" id="default_html_message_content_src_url_or_path" name="default_html_message_content_src" value="url_or_path" <!-- tmpl_if expr="(list_settings.default_html_message_content_src eq 'url_or_path')" -->checked="checked"<!-- /tmpl_if --> />
			<label for="default_html_message_content_src_url_or_path">Grab content from this webpage address (URL), or Server Path: </label>
			<!-- tmpl_if html_message_source_isa_url --> 
				<a href="<!-- tmpl_var list_settings.default_html_message_content_src_url_or_path -->" target="_blank">
					(View <!-- tmpl_var list_settings.default_html_message_content_src_url_or_path -->)
				</a> 
			<!-- /tmpl_if --> 
			<!-- tmpl_if html_message_source_isa_file --> 
			<a href="<!-- tmpl_var Plugin_URL -->?flavor=view_file;fn=default_html_message_content_src_url_or_path" title="HTML Message" class="modalbox">
				(View <!-- tmpl_var default_html_message_content_src_url_or_path -->)
			</a>
			<!-- /tmpl_if -->
			<!-- tmpl_if problems_fetching_html_url -->
				<span class="error">Can't fetch URL!</span>
			<!-- /tmpl_if -->  
			<!-- tmpl_if problems_opening_html_file --> 
				<span class="error">Can't open file!</span>
			<!-- /tmpl_if --> 
			<br /> 

			<input type="text" class="full"  name="default_html_message_content_src_url_or_path" value="<!-- tmpl_var list_settings.default_html_message_content_src_url_or_path escape="HTML" -->"/>
			 </p>
			</td> 
		</tr> 
	</table> 
</fieldset>


<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Clear Changes" />
 <input type="submit" class="processing" value="Save Changes" />
</div>
<div class="floatclear"></div>





</form>