<!-- tmpl_set name="title" value="Bridge" -->
<!-- tmpl_set name="load_colorbox" value="1" -->

<div id="screen_meta" data-menu_highlight="bridge"></div>


<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>
<div id="plugins_bridge_default"></div> 

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<!-- tmpl_unless list_email_status --><!--/tmpl_unless-->

<form name="default_form" action="<!-- tmpl_var Plugin_URL --> "method="post">

	 <input type="hidden" name="plugin_url"    id="plugin_url"    value="<!-- tmpl_var Plugin_Url -->" /> 
	 <input type="hidden" name="s_program_url" id="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->" /> 

<!-- tmpl_if list_settings.disable_discussion_sending -->
<div class="badweatherbox">
  <p><strong>
   This Plugin is Currently Disabled for this Mailing List!
  </strong></p> 

<p>
 Uncheck the option labeled, <strong>Disable sending using this method</strong> below to enable this plugin for this Mailing List.
</p>
 </div> 
  
<!--/tmpl_if--> 



<fieldset> 

<legend>List Email Configuration</legend>



<!-- tmpl_if error_list_email_set_to_list_owner_email -->
 	<div class="badweatherbox">
		<p>
			Your List Email is set to the same address as the <strong>List Owner Email</strong>. It needs to be set to a different address. 
		</p>
	</div> 
<!-- /tmpl_if -->
	
<!-- tmpl_if error_list_email_set_to_another_list_owner_email --> 
 	<div class="badweatherbox">
		<p>
			Your List Email is set to the same address as a <strong>List Owner Email address of a different Mailing List</strong>. It needs to be set to a different address. 
		</p>
	</div> 
	<!-- /tmpl_if -->
		
<!-- tmpl_if error_list_email_set_to_list_admin_email --> 
 	<div class="badweatherbox">
		<p>
			Your List Email is set to the same address as the <strong>List Admin Email</strong>. It needs to be set to a different address. 
		</p>
	</div> 
<!-- /tmpl_if -->
<!-- tmpl_if error_list_email_set_to_another_list_admin_email --> 
 	<div class="badweatherbox">
		<p>
			Your List Email is set to the same address as the <strong>List Admin Email address of a different Mailing List</strong>. It needs to be set to a different address. 
		</p>
	</div> 
<!-- /tmpl_if -->

<!-- tmpl_if error_list_email_subscribed_to_list --> 
 	<div class="badweatherbox">
		<p>
			Your List Email is currently subscribed to your <strong>Subscription List</strong>. It needs to be set to a different address. 
		</p>
	</div> 
<!-- /tmpl_if -->
<!-- tmpl_if error_list_email_subscribed_to_authorized_senders --> 
	<div class="badweatherbox">
		<p>
			Your List Email is currently subscribed to your <strong>Authorized Senders List</strong>. It needs to be set to a different address. 
		</p>
	</div> 
<!-- /tmpl_if -->

<!-- tmpl_if error_list_email_subscribed_to_moderators --> 
	<div class="badweatherbox">
		<p>
			Your List Email is currently subscribed to your <strong>Moderators List</strong>. It needs to be set to a different address. 
		</p>
	</div> 
<!-- /tmpl_if -->

<!-- tmpl_if error_list_email_subscribed_to_another_list --> 
	<div class="badweatherbox">
		<p>
				Your List Email is currently subscribed to <strong>another mailing list's Subscription List</strong>. It needs to be set to a different address. 
			</p>
	</div> 
	
<!-- /tmpl_if -->
<!-- tmpl_if error_list_email_subscribed_to_another_authorized_senders --> 
	<div class="badweatherbox">
	<p>
			Your List Email is currently subscribed to <strong>another mailing list's Authorized Senders List</strong>. It needs to be set to a different address. 
		</p>
	</div> 

<!-- /tmpl_if -->
<!-- tmpl_if error_list_email_subscribed_to_another_moderators --> 
	<div class="badweatherbox">
	<p>
			Your List Email is currently subscribed to <strong>another mailing list's Moderators List</strong>. It needs to be set to a different address. 
		</p>
	</div> 
<!-- /tmpl_if -->

<!-- tmpl_include ses_email_verification_widget.tmpl -->





 <table width="100%" cellpadding="5" cellspacing="0">
  <tr> 
   <td width="150" align="right" valign="bottom">
    <label for="discussion_pop_email" style="font-size:1.5em">
     List Email:
    </label>
   </td>
   <td>
    <input name="discussion_pop_email" id="discussion_pop_email" type="text" value="<!-- tmpl_var list_settings.discussion_pop_email -->" class="full bigger_button" style="color:black" <!-- tmpl_unless list_email_status -->style="background:red;font-weight:bold;color:white;border:3px solid black"<!-- /tmpl_unless -->/>
	
   </td>
  </tr>
</table>

 <table width="100%" cellpadding="0" cellspacing="0">
  
  <tr> 
	<td align="right" width="100">
		<p><label>Setup As:</label></p>
	</td> 
	<td>

	<table width="100%" cellpadding="0" cellspacing="0"> 
		<tr> 
			<td width="15">
				<p>
					<input type="radio" name="bridge_list_email_type" class="bridge_settings" id="mail_forward_pipe" value="mail_forward_pipe" <!-- tmpl_if expr="(list_settings.bridge_list_email_type eq 'mail_forward_pipe')" -->checked="checked"<!-- /tmpl_if -->>
				</p>
			</td>
			<td>
				<p>
					<label for="mail_forward_pipe">Email Forward</label>
				</p>
				<div id="bridge_mail_forward_pipe_params">
					<fieldset>
						<label for="bridge_mail_forward_pipe_command">Email Forward Pipe Command (example):</label><br /> 
						<input type="text" class="full" id="bridge_mail_forward_pipe_command" value="|<!-- tmpl_var plugin_path escape="HTML" -->/<!-- tmpl_var plugin_filename escape="HTML" --> --inject --list <!-- tmpl_var list_settings.list -->" />
					</fieldset>
					 
				</div> 
			</td>
		</tr> 
		<tr> 
			<td align="right" width="15">
				<p>
					<input type="radio" name="bridge_list_email_type" class="bridge_settings" id="pop3_account" value="pop3_account" <!-- tmpl_if expr="(list_settings.bridge_list_email_type eq 'pop3_account')" -->checked="checked"<!-- /tmpl_if -->>
				</p>
			</td>
			<td>
				<p>
					<label for="pop3_account">POP3 Account</label>
				</p>
				
				
				<div id="bridge_pop3_account_params">
					<fieldset> 
				<table> 
					 <tr> 
					   <td>
					    <label for="discussion_pop_server">
					     POP3 Server:
					    </label>
					   </td>
					   <td>
					    <input name="discussion_pop_server" id="discussion_pop_server" type="text" value="<!-- tmpl_var list_settings.discussion_pop_server -->" class="full" />
					   </td>
					  </tr>
					  <tr>
					   <td width="125">
					    <label for="discussion_pop_username">
					     POP3 Username:
					    </label>
					   </td>
					   <td>
					    <input name="discussion_pop_username" id="discussion_pop_username" type="text" value="<!-- tmpl_var list_settings.discussion_pop_username -->" class="full" />
					   </td>
					  </tr>
					  <tr>
					   <td width="125">
					    <label for="discussion_pop_password">
					     POP3 Password:
					    </label>
					   </td>
					   <td>
						<!-- tmpl_unless has_discussion_pop_password --> 
					    	<input name="discussion_pop_password" id="discussion_pop_password" type="password" value="" />
					   <!-- tmpl_else --> 
							<div id="change_pop3_password_button">
								<input type="button" value="Click to Change POP3 Password..." class="cautionary change_pop3_password" />
							</div> 
							<div id="change_pop3_password_field" style="display:none">
								<input name="discussion_pop_password" id="discussion_pop_password" type="text" /><a href="#" class="cancel_change_pop3_password"> or cancel </a>
							</div>
						<!-- /tmpl_unless --> 
						
						
						</td>
					  </tr>


					<tr>
					     <td>
					      <p>
					       <label for="discussion_pop_auth_mode">
					        Type:
					       </label>
					      </p>
					     </td>
					     <td>
					      <p>
					       <!-- tmpl_var discussion_pop_auth_mode_popup --> 
					     </p>
					  </td>
					 </tr>
					<tr>
						<td align="right" valign="top">


					       <p>
					        <input type="checkbox" name="discussion_pop_use_ssl" id="discussion_pop_use_ssl" value="1" <!-- tmpl_if list_settings.discussion_pop_use_ssl -->checked="checked"<!-- /tmpl_if --> <!-- tmpl_unless can_use_ssl -->disabled="disabled"<!--/tmpl_unless-->/>
					       </p>
					      </td>
					      <td valign="top">

					       <p>
					        <label for="discussion_pop_use_ssl">
					         Use Secure Sockets Layer (SSL)
					        </label>
					        <!-- tmpl_unless can_use_ssl -->
					            <br />
					            <span class="error">
					             Disabled. The IO::Socket::SSL module needs to be installed.
					            </span>
					        <!--/tmpl_unless--> 

					       </p>    
					  </td>
					 </tr>
				</table> 
				 <div class="buttonfloat">
				 <input type="button" class="cautionary plugins_bridge_test_pop3" value="Test POP3 Login Information..." />
				</div> 
				 <div class="floatclear"></div> 	
				</fieldset> 
				
				
				<fieldset> 
				<p>
				 <label for="cronjob_url">Manual Run URL:</label><br /> 
				<input type="text" class="full" id="cronjob_url" value="<!-- tmpl_var Plugin_URL -->?run=1&passcode=<!-- tmpl_var Manual_Run_Passcode -->" />
				</p>



				<p> <label for="cronjob_command">cronjob command using curl (example):</label><br /> 
				<input type="text" class="full" id="cronjob_command" value="<!-- tmpl_var name="curl_location" default="/cannot/find/curl" -->  -s --get --data run=1\;passcode=<!-- tmpl_var Manual_Run_Passcode -->\;verbose=0  --url <!-- tmpl_var Plugin_URL -->" />
				<!-- tmpl_unless curl_location --> 
					<span class="error">Can't find the location to curl!</span><br />
				<!-- /tmpl_unless --> 

				<!-- tmpl_unless Allow_Manual_Run --> 
				    <span class="error">(Currently disabled)</a>
				<!-- /tmpl_unless --> 
				</p>

				 <div class="buttonfloat">
					  <input type="button" class="cautionary plugins_bridge_manually_check_messages" value="Manually Check and Send Waiting Messages..." />
				 </div> 
				 <div class="floatclear"></div> 


				</fieldset>
				
				
			</div> 
			
			</td>
		</tr>
	</table> 
	</div> 

	
					
		</td>
	</tr>

 


</table>


  </fieldset>   



<fieldset> 
 <legend> 
General
</legend> 


 <table width="100%" cellspacing="0" cellpadding="5">
  <tr>
    <td width="20">
    <input name="disable_discussion_sending" id="disable_discussion_sending" type="checkbox" value="1" <!--tmpl_if list_settings.disable_discussion_sending -->checked="checked"<!--/tmpl_if--> />
   </td>
   <td>
   
    
    <p>
     <label for="disable_discussion_sending">
      Disable Bridge
     </label>
          <br /> 
      ALL e-mails sent to your List Email 
		<!-- tmpl_if list_settings.discussion_pop_email --> 
			(<strong><!-- tmpl_var list_settings.discussion_pop_email escape="HTML" --></strong>)
		<!-- /tmpl_if -->
		will be deleted.     
    </p>
   
   
   
   </td>
  </tr>

	<tr> 
	<td>
	 <input name="prefix_list_name_to_subject" id="prefix_list_name_to_subject" type="checkbox" value="1" <!--tmpl_if list_settings.prefix_list_name_to_subject -->checked="checked"<!--/tmpl_if--> />
	</td>
	<td>  
	 <p>
	  <label for="prefix_discussion_list_subjects_with">
	   Prefix message subjects with the:
	  </label>
	  <br />
	  <select name="prefix_discussion_list_subjects_with">
	   <option value="list_shortname" <!--tmpl_if expr="(list_settings.prefix_discussion_list_subjects_with eq 'list_shortname')" -->selected="selected" <!--/tmpl_if--> >list shortname: [<!-- tmpl_var list_settings.list escape="HTML" -->]</option>
	   <option value="list_name"      <!--tmpl_if expr="(list_settings.prefix_discussion_list_subjects_with eq 'list_name')" -->selected="selected" <!--/tmpl_if--> >List Name: [<!-- tmpl_var list_settings.list_name escape="HTML" -->]</option>
	  </select> 
	  <br />
	  The List Name/Short Name will be surrounded by square brackets. 

	  <table>
	   <tr> 
	    <td>
	        <input name="no_prefix_list_name_to_subject_in_archives" id="no_prefix_list_name_to_subject_in_archives" type="checkbox" value="1" <!--tmpl_if list_settings.no_prefix_list_name_to_subject_in_archives -->checked="checked"<!--/tmpl_if--> />
	    </td> 
	    <td> 
	     <label for="no_prefix_list_name_to_subject_in_archives">
	      Do not append the list/list shortname to archived messages (only outgoing messages).  
	     </label>
	    </td> 
	   </tr> 
	  </table> 
	 </p>
	</td>
	</tr>   
   </table> 


</fieldset> 

<fieldset> 
 <legend> 
 Announce-Only List Options
 </legend> 



 <table width="100%" cellspacing="0" cellpadding="5">
  <tr> 
    <td width="20">
	 <input name="group_list" id="group_list_no" type="radio" value="0" class="bridge_settings" <!--tmpl_unless list_settings.group_list -->checked="checked"<!--/tmpl_unless--> /> 
	  </td>
	   <td>
				
	    <p>
	     <label for="group_list_no">
	      This mailing list is an Announce-Only mailing list
	     </label><br /> 
		 Your List Owner (
		<a href="mailto:<!-- tmpl_var list_settings.list_owner_email ESCAPE="URL" -->">
		<!-- tmpl_var list_settings.list_owner_email ESCAPE="HTML" -->
		</a>
		) may send messages to your List Email 
		
		<!-- tmpl_if list_settings.discussion_pop_email --> 
			(
			<a href="mailto:<!-- tmpl_var list_settings.discussion_pop_email ESCAPE="URL" -->">
			<!-- tmpl_var list_settings.discussion_pop_email ESCAPE="HTML" -->
			</a>
			),
		<!-- /tmpl_if -->
		
		 which will then be sent to all your Subscribers. 
		
		<div id="announce_list_params"> 
			
		 <table width="100%" cellspacing="0" cellpadding="5">
		  <tr> 
	  		<td width="20">
			    <input name="rewrite_anounce_from_header" id="rewrite_anounce_from_header" type="checkbox" value="1" <!--tmpl_if list_settings.rewrite_anounce_from_header -->checked="checked"<!--/tmpl_if--> /> 
			   </td>
			   <td>
			    <p>
			     <label for="rewrite_anounce_from_header">
			      Rewrite the From: header on announce-only messages to the List Owner address 
			     </label>
			     <br /> 
			     Outgoing announce-only mass mailings will have the From: header set to: <code><!-- tmpl_var mailing_list_message_from escape="HTML" --></code>
			     </p>
			    </td> 
			   </tr> 
			   </table> 
		</div> 
	   </td>
	  </tr>
	</table> 
   </fieldset> 

<fieldset> 
 <legend> 
 Discussion List Options
 </legend> 


 <table width="100%" cellspacing="0" cellpadding="5">
  <tr> 
 <td width="20">
    <input name="group_list" id="group_list_yes" type="radio" value="1" class="bridge_settings" <!--tmpl_if list_settings.group_list -->checked="checked"<!--/tmpl_if--> /> 
   </td>
   <td>
    <p>
     <label for="group_list_yes">
      This mailing list is a Discussion List
     </label>
     <br />
	 Your List Owner (
	<a href="mailto:<!-- tmpl_var list_settings.list_owner_email ESCAPE="URL" -->">
	<!-- tmpl_var list_settings.list_owner_email ESCAPE="HTML" -->
	</a>
	) or any Subscriber may send messages to your List Email 
	
	<!-- tmpl_if list_settings.discussion_pop_email --> 	
		(
		<a href="mailto:<!-- tmpl_var list_settings.discussion_pop_email ESCAPE="URL" -->">
		<!-- tmpl_var list_settings.discussion_pop_email ESCAPE="HTML" -->
		</a>
		), 
	<!-- /tmpl_if --> 
	
	which will then be sent to all your Subscribers. 
   </p>


	<div id="discussion_list_params">
	
	
	<table width="100%" cellspacing="0" cellpadding="5">
	   <tr> 
	   <td width="20">
	    <input name="mail_discussion_message_to_poster" id="mail_discussion_message_to_poster" type="checkbox" value="1" <!--tmpl_if list_settings.mail_discussion_message_to_poster -->checked="checked"<!--/tmpl_if--> />
	   </td>
	   <td>
	    <label for="mail_discussion_message_to_poster">
	     Send message posters a copy of the message they've sent the discussion list. 
	    </label>
	    <br />
	   </td>
	  </tr>

	     <tr> 
	   <td>
	    <input name="discussion_template_defang" id="discussion_template_defang" type="checkbox" value="1" <!--tmpl_if list_settings.discussion_template_defang -->checked="checked"<!--/tmpl_if--> />
	   </td>
	   <td>
	    <label for="discussion_template_defang">
		DON'T parse templates in discussion messages
	    </label>
	    <br />
		Parsing Template Tags could create formatting problems. 
	   </td>
	  </tr>

	     <tr> 
	   <td>
	    <input name="group_list_pp_mode" id="group_list_pp_mode" type="checkbox" value="1" <!--tmpl_if list_settings.group_list_pp_mode -->checked="checked"<!--/tmpl_if--> />
	   </td>
	   <td>
	    <label for="group_list_pp_mode">
		Send messages, &quot;On Behalf Of&quot; (p.p. mode)
	    </label>
	    <br />
			Discussion List messages will be sent as the List Owner, on behalf of List Members. 
		</p>
		<p>
			<label for="group_list_pp_mode_from_phrase">From: header phrase:</label>
			<input type="text" class="midi" name="group_list_pp_mode_from_phrase" id="group_list_pp_mode_from_phrase" value="<!-- tmpl_var list_settings.group_list_pp_mode_from_phrase escape="HTML" -->" />
		</p>
	   </td>
	  </tr>
	 </table> 

	<p><label>Replies to messages should:</label><br/> 

	<table width="100%" cellspacing="0" cellpadding="5">
     <tr>
       <td width="20">
	<p>
	  <input type="radio" name="set_to_header_to_list_address" id="set_to_header_to_list_address_1" value="1" <!--tmpl_if list_settings.set_to_header_to_list_address -->checked="checked"<!--/tmpl_if--> />
	</p>
	</td>
	<td>
	<p><label for="set_to_header_to_list_address_1">be addressed to the sender</label><br />
	 <em>(you can still "Reply-All" to send the reply to the sender, as well as the mailing list)</em></p>
	</td>
	</tr> 
	<tr> 
   <td width="20">
	<p>
	 <input type="radio" name="set_to_header_to_list_address" id="set_to_header_to_list_address_0" value="0" <!--tmpl_unless list_settings.set_to_header_to_list_address -->checked="checked"<!--/tmpl_unless--> />
	</p></td> 
	<td> 
	<label for="set_to_header_to_list_address_0">be addressed to the mailing list</label>
</p> 
</td> 
</tr> 
</table>


<table width="100%" cellspacing="0" cellpadding="5">

<!-- tmpl_if comment --> 

					<tr> 
					<td>
					<p>
					 <input type="checkbox" name="discussion_clean_up_replies" id="discussion_clean_up_replies" value="1" <!--tmpl_if list_settings.discussion_clean_up_replies -->checked="checked"<!--/tmpl_if--> />
					</p></td> 
					<td> 
					<label for="discussion_clean_up_replies">Attempt to clean up replies</label>
					 <em>(Experimental)</em><br /> 
					An attempt will be made to remove quoted Opening and Signature parts from replies. The Opening and Signature parts usually hold 
					mailing list/unsubscribe/profile information that often gets repeated, forming long chains at the bottom of mailing list messages. 
				</p> 
				</td> 
				</tr>
<!-- /tmpl_if --> 


<!-- tmpl_if Allow_Open_Discussion_List -->
        <tr> 
       <td align="right">
        <input name="open_discussion_list" id="open_discussion_list" type="checkbox" value="1" <!--tmpl_if list_settings.open_discussion_list -->checked="checked"<!--/tmpl_if--> />
       </td>
       <td>
        <label for="open_discussion_list">
         Allow messages to also be posted to the list from non-subscribers.         
        </label>
         <br /><span class="alert">(This opens up your mailing list to possible abuse, unless moderated)</span> 
       </td>
      </tr>
 <!-- /tmpl_if -->
 </table> 



<fieldset> 
 <legend>Moderation</legend> 

  <table width="100%" cellspacing="0" cellpadding="5">    
  <tr> 
    <td width="20"> 
    <input name="enable_moderation" id="enable_moderation" type="checkbox" class="bridge_settings" value="1" <!--tmpl_if list_settings.enable_moderation -->checked="checked"<!--/tmpl_if--> /> 
   </td>
   <td>
    <p>
     <label for="enable_moderation">
      Use Moderation
     </label>


<div id="moderaton_params"> 
<p>
			          Messages sent to your discussion list will first have to be approved by: 
		      </p>
		   	  <p>
		 		<input type="radio" name="moderate_discussion_lists_with" value="list_owner_email" id="moderate_discussion_lists_with_list_owner_email" <!--tmpl_if expr="(list_settings.moderate_discussion_lists_with eq 'list_owner_email')" -->checked="checked" <!--/tmpl_if--> />
				<label for="moderate_discussion_lists_with_list_owner_email">
					List Owner
				</label>
				<br />

		 			<input type="radio" name="moderate_discussion_lists_with" value="moderators" id="moderate_discussion_lists_with_moderators" <!--tmpl_if expr="(list_settings.moderate_discussion_lists_with eq 'moderators')" -->checked="checked"<!--/tmpl_if--> />
					<label for="moderate_discussion_lists_with_moderators">
						List Owner or a Moderator
					</label>
				</p>      


				<div class="buttonfloat"> 
				  <input type="button"  class="processing view_moderators" value="View Moderators (<!-- tmpl_var moderators_count -->)"  />
				  <input type="button" class="processing add_moderators" value="Add Moderators" />
				 </div> 
				 <div class="floatclear"></div> 



		     <table  cellspacing="0" cellpadding="5">
		      <tr>
		       <td>
		        <input name="authorized_sending_no_moderation" id="authorized_sending_no_moderation" type="checkbox" value="1" <!--tmpl_if list_settings.authorized_sending_no_moderation -->checked="checked"<!--/tmpl_if--> />
		       </td>
		       <td>
		        <p>
		         <label for="authorized_sending_no_moderation">
		          Allow Authorized Senders to send messages to your Subsribers List without moderation
		         </label>
		        </p>
		       </td>
		       </tr>     

		 <!-- tmpl_if list_settings.open_discussion_list -->       
		   <!-- tmpl_if list_settings.group_list --> 
		      <tr>
		       <td>
		        <input name="subscriber_sending_no_moderation" id="subscriber_sending_no_moderation" type="checkbox" value="1" <!--tmpl_if list_settings.subscriber_sending_no_moderation -->checked="checked"<!--/tmpl_if--> />
		       </td>
		       <td>
		        <p>
		         <label for="subscriber_sending_no_moderation">
		          Allow Subscribers to send messages to the entire list without moderation
		         </label><br /> 
		         If not checked, messages from Subscribers require moderation.
		        </p>
		       </td>
		       </tr> 
		   <!-- /tmpl_if --> 
		 <!-- /tmpl_if --> 
		</table>

		<table  cellspacing="0" cellpadding="5">
		        <tr>
		    <td>
		     <input name="send_moderation_msg" id="send_moderation_msg" type="checkbox" value="1" <!--tmpl_if list_settings.send_moderation_msg -->checked="checked"<!--/tmpl_if--> />
		    </td>
		    <td>
		     <p>
		      <label for="send_moderation_msg">
		       Send a &quot;Message Received, Awaiting Moderation&quot; Message
		      </label><br /> 
		      The original poster will receive a message stating that the message has been received, but requires moderation.
		     </p>
		    </td>
		    </tr>

		    <tr>
		    <td>
		     <input name="send_moderation_accepted_msg" id="send_moderation_accepted_msg" type="checkbox" value="1" <!--tmpl_if list_settings.send_moderation_accepted_msg -->checked="checked"<!--/tmpl_if--> />
		    </td>
		    <td>
		     <p>
		      <label for="send_moderation_accepted_msg">
		       Send an &quot;Acceptance&quot; Message
		      </label><br /> 
		      The original poster will receive a message stating that the moderated message was accepted.
		     </p>
		    </td>  
		    </tr>

		   <tr>
		    <td>
		     <input name="send_moderation_rejection_msg" id="send_moderation_rejection_msg" type="checkbox" value="1" <!--tmpl_if list_settings.send_moderation_rejection_msg -->checked="checked"<!--/tmpl_if--> />
		    </td>
		    <td>
		     <p>
		      <label for="send_moderation_rejection_msg">
		       Send a &quot;Rejection&quot; Message
		      </label><br /> 
		      The original poster will receive a message stating that the moderated message was rejected.
		     </p>

		    </td>
		   </tr>
		 </table> 

		  </td>
		  </tr>
		 </table> 


</div> 


</fieldset> 


</div> 


</td>
</tr>
</table> 



</fieldset> 

<fieldset> 
	<legend>Authorized Senders</legend> 
	
	<table width="100%" cellspacing="0" cellpadding="5">
		<tr> 
		<td width="20">
	    <input name="enable_authorized_sending" id="enable_authorized_sending" type="checkbox" value="1" <!--tmpl_if list_settings.enable_authorized_sending -->checked="checked"<!--/tmpl_if--> /> 
	   </td>
	   <td>
	    <p>
	     <label for="enable_authorized_sending">
	      Allow Messages Sent By Authorized Senders
	     </label>
	     <br /> 
	       Authorized Senders may send messages to your mailing list (announce-only, or discussion), without having to be a Subscriber themselves.
		</p>

			<div class="buttonfloat"> 
			  <input type="button"  class="processing view_authorized_senders" value="View Authorized Senders (<!-- tmpl_var authorized_senders_count -->)" />
			  <input type="button" class="processing add_authorized_senders" value="Add Authorized Senders" />
			 </div> 
			 <div class="floatclear"></div> 
	    </td> 
	   </tr> 
	  </table> 	
	</fieldset>





<fieldset> 
 <legend> 
 Message Delivery
 </legend> 

 <table width="100%" cellspacing="0" cellpadding="5">
  <tr> 
   <td> 
    <p>
     <label>
     	When allowed messages are received:
	</label>
    </p>
    <table>

        <tr>
         <td> 
          <input type="checkbox" name="send_received_msg" id="send_received_msg" value="1" <!-- tmpl_if list_settings.send_received_msg -->checked="checked"<!--/tmpl_if--> />
         </td> 
         <td>
          <label for="send_received_msg">
           Send a message to the original sender, letting them know their message was received
          </label>
          <br /> 
          Mass Mailing can take a long time. A, &quot;message received!&quot; message sent to the original sender
          can stop them from second-guessing if if their message was received. 
         </td>
        </tr> 

     <tr>
      <td> 
       <input type="checkbox" name="send_msgs_to_list" id="send_msgs_to_list" value="1" <!-- tmpl_if list_settings.send_msgs_to_list -->checked="checked"<!--/tmpl_if--> />
      </td> 
      <td>
       <label for="send_msgs_to_list">
        Send the message to your Subscribers.
       </label>
      </td>
     </tr> 
     <tr> 
      <td>
       <input type="checkbox" name="send_msg_copy_to" id="send_msg_copy_to" value="1" <!-- tmpl_if list_settings.send_msg_copy_to -->checked="checked"<!--/tmpl_if--> />
      </td>
      <td>
       <label for="send_msg_copy_to">
        Forward a copy to:</label>
       <p>
        <input type="text" name="send_msg_copy_address" id="send_msg_copy_address"value="<!-- tmpl_var list_settings.send_msg_copy_address -->" />
       </p>
      </td> 
     </tr> 
     <tr> 
      <td>
		&nbsp;
      </td>
      <td>
       <p>
        <!-- tmpl_if list_settings.archive_messages --> 
         <p class="positive"> 
         * Archiving is Enabled.
         </p>
        <!--/tmpl_if-->
       </p>
      </td> 
     </tr> 
    </table> 
   </td>
  </tr>
  <tr> 
  
  
  
  
   <td> 
    <p>
     <label>
  		When disallowed messages are received:
     </label>
    </p>
    <table> 
     <tr>
      <td> 
       <input type="checkbox" name="send_invalid_msgs_to_owner" id="send_invalid_msgs_to_owner" value="1" <!-- tmpl_if list_settings.send_invalid_msgs_to_owner -->checked="checked"<!--/tmpl_if--> />
      </td> 
      <td>
       <label for="send_invalid_msgs_to_owner">
        Send the List Owner a &quot;Not a Subscriber&quot; email message, with the original message attached.
       </label>
      </td>
     </tr> 
     
     <!--
     <tr> 
      <td>
       <input type="checkbox" />
      </td>
      <td>
       Be forwarded to the Authorized Senders (Authorized Sending must be turned on!).
      </td> 
     </tr>
     --> 
     
     <tr> 
      <td> 
       <input type="checkbox" name="send_not_allowed_to_post_msg" id="send_not_allowed_to_post_msg" value="1" <!-- tmpl_if list_settings.send_not_allowed_to_post_msg -->checked="checked"<!--/tmpl_if--> />
      </td> 
      <td> 
       <label for="send_not_allowed_to_post_msg">
        Send back a &quot;Not Allowed to Post&quot; message.
       </label>
      </td>  
     </tr> 
    </table> 
   </td> 
  </tr>
 </table>
 
 </fieldset> 



<fieldset> 
  <legend> 
      Digests
  </legend> 
  <table class="options_tb"> 
   <tr>
    <td class="checkbox_container"> 
        <p>
            <input type="checkbox" name="digest_enable" id="digest_enable" value="1" <!-- tmpl_if list_settings.digest_enable --> checked="checked"<!-- /tmpl_if --> />
        </p>
    </td> 
    <td>
        <p>
            <label for="digest_enable"> 
                Enable Digests
            </label> 
        </p>
        <table class="options_tb"> 
         <tr>
          <td>
              <p>
                  <label for="digest_schedule"> 
                      Send Digests Every: 
                  </label>
                  <!-- tmpl_var digest_schedule_popup_menu -->
              </p>
            </td> 
           </tr>
          </table>
          
      </td> 
     </tr>
    </table> 
  
  
</fieldset> 


<fieldset> 
 <legend> 
Mailing List Security
</legend> 
 


   <table>


   <tr>
      <td> 
       <input type="checkbox" name="ignore_spam_messages" id="ignore_spam_messages" value="1" <!-- tmpl_if list_settings.ignore_spam_messages -->checked="checked"<!--/tmpl_if--> />
      </td> 
      <td>
       <label for="ignore_spam_messages">
        Reject messages labeled as, &quot;SPAM&quot; by SpamAssassin filters. 
       </label></p> 
      
       
        <!-- tmpl_unless can_use_spam_assassin --> 
          <p class="error">* SpamAssassin may not be installed on your server.</p>
        <!--/tmpl_unless--> 
      
        <p>Find SpamAssassin Score By: 
        <table border="0"> 
         <tr> 
          <td><input type="radio" id="looking_for_embedded_headers" name="find_spam_assassin_score_by" value="looking_for_embedded_headers" <!-- tmpl_if find_spam_assassin_score_by_looking_for_embedded_headers -->checked="checked"<!--/tmpl_if--> /></td>
          <td>
           <p>
            <label for="looking_for_embedded_headers">
            Look for the embedded SpamAssassin Headers (Fast! But may not be available)
            </label> 
           </p>
          </td>
         </tr>
         
         <tr> 
          <td><input type="radio" id="calling_spamassassin_directly" name="find_spam_assassin_score_by" value="calling_spamassassin_directly" <!-- tmpl_if find_spam_assassin_score_by_calling_spamassassin_directly -->checked="checked"<!--/tmpl_if--> /></td>
          <td>
           <p>
            <label for="calling_spamassassin_directly">
            Use the SpamAssassin Modules directly (Slow, resource-intensive)
            </label> 
           </p>
          </td>
         </tr>
         
         <!-- 
         
         <tr> 
          <td><input type="radio" disabled="disabled" /></td>
          <td>
           <p>
            <label> 
             Use the spamd daemon (not currently supported)
            </label>
           </p>
          </td>
         </tr>
         
         --> 
         
        </table> 
      
       <p> 
        Messages must reach a SpamAssassin level of at least: <!-- tmpl_var spam_level_popup_menu --> to be considered SPAM.
       </p> 
	<table cellpadding="5"> 
	<tr> 
	<td><input type="radio" name="rejected_spam_messages" value="ignore_spam" <!-- tmpl_if expr="(list_settings.rejected_spam_messages eq 'ignore_spam')" -->checked="checked"<!-- /tmpl_if --> /></td>
	<td><p><label>Ignore Spam Messages</label><br /> 
	</p>
	</td>
	</tr> 
	<tr> 
	<td><input type="radio" name="rejected_spam_messages" value="send_spam_rejection_message" <!-- tmpl_if expr="(list_settings.rejected_spam_messages eq 'send_spam_rejection_message')" -->checked="checked"<!-- /tmpl_if -->/><label></td><td><p><label>Send a Rejection Message</label><br /> 
	The original poster will receive a message stating that the original message was rejected.

</p> 
	</td>
	</tr> 
	</table> 

      </td>
     </tr> 


     
     <tr>
      <td> 
      
 <input type="checkbox" name="strip_file_attachments" id="strip_file_attachments" value="1" <!-- tmpl_if list_settings.strip_file_attachments -->checked="checked"<!--/tmpl_if--> />
 
 </td>
 <td>
 <p>
 <label for="strip_file_attachments">Strip attachments that have the following file ending or MIME-Type:</label> <em>(separated by spaces)</em>
	 <br />
	 
         <input type="text" name="file_attachments_to_strip" id="file_attachments_to_strip"value="<!-- tmpl_var list_settings.file_attachments_to_strip -->" class="full" />

  </p>
 </td>
 </tr>
 </table> 
 
 
 </fieldset> 
 
 
   
 <input name="flavor"  type="hidden" value="cgi_default" />
 <input name="process" type="hidden" value="edit" />
 <div class="buttonfloat"> 
  <input type="reset"  class="cautionary" value="Clear Changes" />
  <input type="submit" class="processing" value="Save Changes" />
 </div> 
 <div class="floatclear"></div> 
 
 
</form>





<fieldset> 
<legend><!-- tmpl_var Plugin_Name --> Email Templates</legend>

 <div class="buttonfloat"> 
 <form action="<!-- tmpl_var Plugin_URL -->" method="get"> 
  <input type="hidden" name="flavor" value="edit_email_msgs" /> 
  <input type="submit" value="Customize Email Templates..." class="processing" /> 
 </form> 
 </div> 

<div class="floatclear"></div> 

</fieldset> 


<fieldset> 
<legend><!-- tmpl_var Plugin_Name --> Configuration</legend>

 <div class="buttonfloat"> 
 <form action="<!-- tmpl_var Plugin_URL -->" method="get"> 
  <input type="hidden" name="flavor" value="cgi_show_plugin_config" /> 
  <input type="submit" value="View All Plugin Configurations..." class="processing" /> 
 </form> 
 </div> 

<div class="floatclear"></div> 

</fieldset>