<!-- tmpl_set name="title" value="Bridge" -->

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Plugins/Extensions
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				<!-- tmpl_var Plugin_Name -->
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>

<div id="screen_meta" data-menu_highlight="bridge"></div>
<div id="plugins_bridge_default"></div> 

<!-- tmpl_if done -->
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<!-- tmpl_unless list_email_status --><!--/tmpl_unless-->

<form 
	name="default_form" 
	action="<!-- tmpl_var S_PROGRAM_URL -->"
	method="post"
	accept-charset="<!-- tmpl_var HTML_CHARSET -->"
>
	<input type="hidden" name="s_program_url" id="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL -->"> 
	<input type="hidden" name="flavor"   value="plugins"> 
	<input type="hidden" name="plugin"   value="bridge"> 
	<input type="hidden" name="prm"      value="edit">
	<input type="hidden" name="process"  value="1">

	<!-- tmpl_if list_settings.disable_discussion_sending -->
		<div class="alert-box warning radius">
			
			<p>
				<!-- tmpl_var Plugin_Name --> is Currently Disabled for this Mailing List. 
			</p>
			<ul> 
				<li>
					Uncheck the option labeled, 
					<strong>
						Disable <!-- tmpl_var Plugin_Name -->
					</strong> 
					below to enable this plugin for this Mailing List.
				</li>
			</ul>
		</div> 
	<!--/tmpl_if--> 
	
	<fieldset> 
		<legend>
			List Email Configuration
		</legend>
		
		<!-- tmpl_if error_list_email_set_to_list_owner_email -->
			<div class="alert-box alert radius">
				Your List Email is set to the same address as the 
				<strong>List Owner Email</strong>. 
				It needs to be set to a different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_if error_list_email_set_to_another_list_owner_email --> 
			<div class="alert-box alert radius">
				Your List Email is set to the same address as a <strong>List 
				Owner Email address of a different Mailing List</strong>. 
				It needs to be set to a different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_if error_list_email_set_to_list_admin_email --> 
			<div class="alert-box alert radius">
				Your List Email is set to the same address as the 
				<strong>List Admin Email</strong>. It needs to be set to a 
				different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_if error_list_email_set_to_another_list_admin_email --> 
			<div class="alert-box alert radius">
				Your List Email is set to the same address as the <strong>List Admin 
					Email address of a different Mailing List</strong>. It needs to 
					be set to a different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_if error_list_email_subscribed_to_list --> 
			<div class="alert-box alert radius">
				Your List Email is currently subscribed to your <strong>Subscription 
				List</strong>. It needs to be set to a different address. 
			</div> 
		<!-- /tmpl_if -->
		<!-- tmpl_if error_list_email_subscribed_to_authorized_senders --> 
			<div class="alert-box alert radius">
				Your List Email is currently subscribed to your <strong>Authorized
				Senders List</strong>. It needs to be set to a different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_if error_list_email_subscribed_to_moderators --> 
			<div class="alert-box alert radius">
				Your List Email is currently subscribed to your <strong>Moderators 
				List</strong>. It needs to be set to a different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_if error_list_email_subscribed_to_another_list --> 
			<div class="alert-box alert radius">
				Your List Email is currently subscribed to <strong>another mailing 
				list's Subscription List</strong>. It needs to be set to a different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_if error_list_email_subscribed_to_another_authorized_senders --> 
			<div class="alert-box alert radius">
				Your List Email is currently subscribed to <strong>another mailing list's Authorized Senders List</strong>. It needs to be set to a different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_if error_list_email_subscribed_to_another_moderators --> 
			<div class="alert-box alert radius">
				Your List Email is currently subscribed to <strong>another mailing 
				list's Moderators List</strong>. It needs to be set to a different address. 
			</div> 
		<!-- /tmpl_if -->

		<!-- tmpl_include ses_email_verification_widget.tmpl -->

		<div class="row collapse">
			<div class="large-2 medium-2 columns">
		        <label 
					class="prefix"
					for="discussion_pop_email"
				> 
					List Email:
				</label>
				
			</div>
			<div class="large-10 medium-10 columns">
				<input 
					name="discussion_pop_email" 
					id="discussion_pop_email" 
					type="text" 
					value="<!-- tmpl_var list_settings.discussion_pop_email -->" 
				>
			</div>
		</div> 

		<div class="row">
			<div class="small-12 columns">
				<h4>
					Setup As:
				</h4>
			</div>
		</div>
		
		<div class="row">
			
			<div class="small-12 columns"> 
				<label for="mail_forward_pipe">
					<input 
						type="radio" 
						name="bridge_list_email_type" 
						class="bridge_settings" 
						id="mail_forward_pipe" 
						value="mail_forward_pipe" 
						<!-- tmpl_if expr="(list_settings.bridge_list_email_type eq 'mail_forward_pipe')" -->checked="checked"<!-- /tmpl_if -->
					>
					Email Forward:
				</label>
				<div id="bridge_mail_forward_pipe_params">
					<div class="panel">
						<label 
							for="bridge_mail_forward_pipe_command"
						>
								Email Forward Pipe Command:
						</label>
						
						
						<div class="row collapse">
							<div class="large-10 medium-10 columns">
									<input 
										type="text"  
										id="bridge_mail_forward_pipe_command" 
										value="|<!-- tmpl_var program_abs_path --> --inject --list <!-- tmpl_var list_settings.list -->"
										readonly
									>
				           </div> 
							<div class="large-2 medium-2 columns">
					 			<button 
					 				type="button" 
					 				class="zclip postfix" 
					 				data-zclip-target-id="bridge_mail_forward_pipe_command"
					 			>
					 					Copy
					 				</button>
							</div>
				        </div>
						
						
					</div>
				</div><!-- bridge_mail_forward_pipe_params -->
			</div> 
		</div>
		
		<div class="row">
			<div class="small-12 columns"> 
				
				<label for="pop3_account">
					<input 
						type="radio" 
						name="bridge_list_email_type" 
						class="bridge_settings" 
						id="pop3_account" 
						value="pop3_account" 
						<!-- tmpl_if expr="(list_settings.bridge_list_email_type eq 'pop3_account')" -->checked="checked"<!-- /tmpl_if -->
					>
					POP3 Account
				</label>
						
				<div id="bridge_pop3_account_params">
					<div class="panel"> 
						<div class="row">
							<div class="small-12 columns">
								<label for="discussion_pop_server">
									POP3 Server
									<input 
										name="discussion_pop_server" 
										id="discussion_pop_server" 
										type="text" 	
										value="<!-- tmpl_var list_settings.discussion_pop_server -->"
									>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">						
								<label for="discussion_pop_username">
									POP3 Username
									<input 
										name="discussion_pop_username" 
										id="discussion_pop_username" 
										type="text" 
										value="<!-- tmpl_var list_settings.discussion_pop_username -->"
									>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<label for="discussion_pop_password">
									POP3 Password
								</label>
							
								<div class="row">
									<!-- tmpl_unless has_discussion_pop_password --> 
										<div class="small-12 columns">
											<input 
												name="discussion_pop_password" 
												id="discussion_pop_password" 
												type="password" 
											>
										</div>
									<!-- tmpl_else --> 
										<div class="row">
											<div class="small-12 columns">
												<div id="change_pop3_password_button">
													<input 
														type="button" 
														value="Change POP3 Password..." 
														class="change_pop3_password button small"
													>
												</div> 
												<div id="change_pop3_password_field" style="display:none">
													<div class="row">
														<div class="small-4 columns">
															<input 
																type="text" 
																name="discussion_pop_password" 
																id="discussion_pop_password"
															>													
														</div>
														<div class="small-8 columns">
															<span class="inline">
																<a href="#" class="cancel_change_pop3_password"> 
																	or cancel
																</a>
															</a>
														</div>
													</div> 
												</div>
											</div>
										</div>
									<!-- /tmpl_unless --> 
								</div>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<label for="discussion_pop_auth_mode">
									Type
									<!-- tmpl_var discussion_pop_auth_mode_popup --> 
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<label for="discussion_pop_use_ssl">
									<input 
										type="checkbox" 
										name="discussion_pop_use_ssl" 
										id="discussion_pop_use_ssl" 
										value="1" 
										<!-- tmpl_if list_settings.discussion_pop_use_ssl -->checked="checked"<!-- /tmpl_if -->
									>
									Use Secure Sockets Layer (SSL)
								</label>
								<!-- tmpl_unless can_use_ssl -->
									<span class="error">
										Disabled. The IO::Socket::SSL module needs to be installed.
									</span>
								<!--/tmpl_unless--> 
								
								<div class="clearfix">
									<ul class="button-group right">
									    <li>
											<button
												type="button" 
												class="button small plugins_bridge_test_pop3" 
											>
												Test POP3 Login Information...
											</button>
										</li>
										<li>
											<button 
												type="button" 
												class="warning plugins_bridge_manually_check_messages  button small" 
												value="Manually Check and Send Waiting Messages..."
											>
												Manually Check and Send Waiting Messages...
											</button>
										</li>
									</ul>
								</div>
								<div data-reveal id="plugins_bridge_test_pop3"               class="reveal-modal medium" role="dialog"></div>
								<div data-reveal id="plugins_bridge_manually_check_messages" class="reveal-modal medium" role="dialog"></div>
								
							</div>
						</div>

								

					</div>
				</div><!--  bridge_pop3_account_params --> 
				
			</div>
		</div>
	</fieldset> 

	<fieldset> 
		<legend> 
			General
		</legend> 
		<div class="row">
			<div class="small-12 columns">
				<label for="disable_discussion_sending">
					<input 
						type="checkbox"
						name="disable_discussion_sending" 
						id="disable_discussion_sending" 
						value="1" <!--tmpl_if list_settings.disable_discussion_sending -->checked="checked"<!--/tmpl_if-->
					>
					Disable <!-- tmpl_var Plugin_Name -->
				</label>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<label for="prefix_discussion_list_subjects_with">
					<input 
						type="checkbox"
						name="prefix_list_name_to_subject" 
						id="prefix_list_name_to_subject" 
						value="1" 
						<!--tmpl_if list_settings.prefix_list_name_to_subject -->checked="checked"<!--/tmpl_if-->
					>
					Prefix message subjects with the:
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<select name="prefix_discussion_list_subjects_with">
					<option value="list_shortname" <!--tmpl_if expr="(list_settings.prefix_discussion_list_subjects_with eq 'list_shortname')" -->selected="selected" <!--/tmpl_if--> >list shortname: [<!-- tmpl_var list_settings.list escape="HTML" -->]</option>
					<option value="list_name"      <!--tmpl_if expr="(list_settings.prefix_discussion_list_subjects_with eq 'list_name')" -->selected="selected" <!--/tmpl_if--> >List Name: [<!-- tmpl_var list_settings.list_name escape="HTML" -->]</option>
				</select> 
			</div> 
		</div>

		<div class="row">
			<div class="small-12 columns">
				<label for="no_prefix_list_name_to_subject_in_archives">
					<input
						 type="checkbox" 
						 name="no_prefix_list_name_to_subject_in_archives" 
						 id="no_prefix_list_name_to_subject_in_archives" 
						 value="1"
						 <!--tmpl_if list_settings.no_prefix_list_name_to_subject_in_archives -->checked="checked"<!--/tmpl_if-->
						>
					Do not append the list/list shortname to archived messages (only outgoing messages).  
				</label>
			</div> 
		</div>

		<div class="alert-box warning radius"> 
			<strong>Warning:</strong> Setting the Soft and/or Hard Max Sizes too high will 
			cause disruptions in processing email messages.
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label for="msg_soft_size_limit">
					Soft Max Size of Messages
					<!-- tmpl_var msg_soft_size_limit_popup_menu -->
				</label>
			</div> 
			<div class="large-6 columns">
				<label for="msg_hard_size_limit">
				Hard Max Size of Messages
				<!-- tmpl_var msg_hard_size_limit_popup_menu -->
				</label>
			</div> 
		</div>
	</fieldset> 

	<fieldset> 
		<legend> 
			Announce-Only List Options
		</legend> 
		<div class="row">
			<div class="small-12 columns">
				<label for="group_list_no">
				<input type="radio" name="group_list" id="group_list_no"  value="0" class="bridge_settings" <!--tmpl_unless list_settings.group_list -->checked="checked"<!--/tmpl_unless--> > 
					This mailing list is an Announce-Only mailing list
				</label>
			</div>
		</div> 
		
		<div class="alert-box info radius">
			Your List Owner:
			<a href="mailto:<!-- tmpl_var list_settings.list_owner_email ESCAPE="URL" -->">
			<!-- tmpl_var list_settings.list_owner_email ESCAPE="HTML" -->
			</a> may send messages to your List Email:

			<!-- tmpl_if list_settings.discussion_pop_email --> 
				(
				<a href="mailto:<!-- tmpl_var list_settings.discussion_pop_email ESCAPE="URL" -->">
				<!-- tmpl_var list_settings.discussion_pop_email ESCAPE="HTML" -->
				</a>
				),
			<!-- /tmpl_if -->
			which will then be sent to all your Subscribers. 
		</div>

		<div id="announce_list_params"> 
			<div class="row">
				<div class="small-12 columns">
					<label for="rewrite_anounce_from_header">
					<input 
						name="rewrite_anounce_from_header"
						id="rewrite_anounce_from_header"
						type="checkbox"
						value="1" 
						<!--tmpl_if list_settings.rewrite_anounce_from_header -->checked="checked"<!--/tmpl_if-->
					> 
						Rewrite the From: header on announce-only messages to the List Owner address 
					</label>
				</div> 
			</div>

			<div class="row">
				<div class="small-12 columns">
					<h4>
						Set Reply-To header:
					</h4>
				</div>
			</div> 

			<div class="row">
				<div class="small-12 columns">
					<label for="bridge_announce_reply_to_none">
					<input 
						type="radio"
						name="bridge_announce_reply_to"
						id="bridge_announce_reply_to_none"
						value="none" 
						<!-- tmpl_if expr="(list_settings.bridge_announce_reply_to eq 'none')" -->checked="checked"<!--/tmpl_if-->
					>
						Don't set Reply-To header
					</label>
				</div>
			</div> 
			<div class="row">
				<div class="small-12 columns">
					<label for="bridge_announce_reply_to_list_owner">
					<input 
						type="radio" 
						name="bridge_announce_reply_to" 
						id="bridge_announce_reply_to_list_owner" 
						value="list_owner" 
						<!-- tmpl_if expr="(list_settings.bridge_announce_reply_to eq 'list_owner')" -->checked="checked"<!--/tmpl_if-->
					>
						To the List Owner (<!-- tmpl_var list_settings.list_owner_email ESCAPE="HTML" -->)
					</label>
				</div>
			</div> 
			<div class="row">
				<div class="small-12 columns">
					<label for="bridge_announce_reply_to_og_sender">
					<input 
						type="radio" 
						name="bridge_announce_reply_to" 
						id="bridge_announce_reply_to_og_sender"
						value="og_sender" <!-- tmpl_if expr="(list_settings.bridge_announce_reply_to eq 'og_sender')" -->checked="checked"<!--/tmpl_if-->
					>
						To the original message sender (Authorized Sender)
					</label>
				</div>
			</div> 
		</div> 
	</fieldset> 

	<fieldset> 
		<legend> 
			Discussion List Options
		</legend> 
		
		<div class="row">
			<div class="small-12 columns">
				<label for="group_list_yes">
					<input 
						type="radio" 
						name="group_list" 
						id="group_list_yes" 
						value="1" 
						class="bridge_settings" 
						<!--tmpl_if list_settings.group_list -->checked="checked"<!--/tmpl_if-->
					> 
					This mailing list is a Discussion List
				</label>
			</div>
		</div>

		<div class="alert-box info radius">
			Your List Owner (
			<a href="mailto:<!-- tmpl_var list_settings.list_owner_email ESCAPE="URL" -->">
			<!-- tmpl_var list_settings.list_owner_email ESCAPE="HTML" -->
			</a>
			) or any Subscriber may send messages to your List Email 

			<!-- tmpl_if list_settings.discussion_pop_email --> 	
			(
			<a href="mailto:<!-- tmpl_var list_settings.discussion_pop_email ESCAPE="URL" -->">
			<!-- tmpl_var list_settings.discussion_pop_email ESCAPE="HTML" -->
			</a>
			), 
			<!-- /tmpl_if --> 
			which will then be sent to all your Subscribers. 
		</div>

		<div id="discussion_list_params">
			<div class="row">
				<div class="small-12 columns">
					<label for="mail_discussion_message_to_poster">
					<input 
						name="mail_discussion_message_to_poster" 
						id="mail_discussion_message_to_poster" 
						type="checkbox" 
						value="1" 
						<!--tmpl_if list_settings.mail_discussion_message_to_poster -->checked="checked"<!--/tmpl_if-->
					>
						Send message posters a copy of the message they've sent to the discussion list. 
					</label>
				</div> 
			</div>
	
			<div class="row">
				<div class="small-12 columns">
					<label for="discussion_template_defang">
					<input
						 type="checkbox"
						 name="discussion_template_defang" 
						 id="discussion_template_defang" 
						 value="1" 
						 <!--tmpl_if list_settings.discussion_template_defang -->checked="checked"<!--/tmpl_if--> 
					>
						DON'T parse templates in discussion messages
					</label>
					<div class="alert-box warning radius">
						Parsing Template Tags could create formatting problems. 
						It's suggested you keep this option <strong>checked</strong>.  
					</div> 
				</div> 
			</div>
			<div class="row">
				<div class="small-12 columns">
					<label for="group_list_pp_mode">
					<input 
						type="checkbox" 
						name="group_list_pp_mode" 
						id="group_list_pp_mode" 
						value="1" 
						<!--tmpl_if list_settings.group_list_pp_mode -->checked="checked"<!--/tmpl_if-->
					>
						Send messages, &quot;On Behalf Of&quot; (p.p. mode)
					</label>
					<div class="alert-box info radius">
						Discussion List messages will be sent as the List Owner, on behalf of List Members. 
					</div>
				</div> 
			</div>

			<div class="row">
				<div class="small-12 columns">
					<label for="group_list_pp_mode_from_phrase">
						From: header phrase:
					</label>
					<input 
						type="text"
						name="group_list_pp_mode_from_phrase"
						id="group_list_pp_mode_from_phrase" 
						value="<!-- tmpl_var list_settings.group_list_pp_mode_from_phrase escape="HTML" -->"
					>
				</div> 
			</div>
	
			<div class="row">
				<div class="small-12 columns">	
					<h4>
						Replies to messages should:
					</h4>
				</div> 
			</div>

			<div class="row">
				<div class="small-12 columns">	
					<label for="set_to_header_to_list_address_1">
						<input 
							type="radio" 
							name="set_to_header_to_list_address" 
							id="set_to_header_to_list_address_1" 
							value="1" 
							<!--tmpl_if list_settings.set_to_header_to_list_address -->checked="checked"<!--/tmpl_if-->
						>
						be addressed to the sender
					</label>
				</div>
			</div>
	
			<div class="row">
				<div class="small-12 columns">	
					<label for="set_to_header_to_list_address_0">	
						<input 
							type="radio" 
							name="set_to_header_to_list_address" 
							id="set_to_header_to_list_address_0" 
							value="0" 
							<!--tmpl_unless list_settings.set_to_header_to_list_address -->checked="checked"<!--/tmpl_unless-->
						>
							be addressed to the mailing list
					</label>
				</div>
			</div>

			<!-- tmpl_if Allow_Open_Discussion_List -->
				<div class="row">
					<div class="small-12 columns">	
						<label for="open_discussion_list">
							<input 
								name="open_discussion_list" 
								id="open_discussion_list" 
								type="checkbox" 
								value="1"
								<!--tmpl_if list_settings.open_discussion_list -->checked="checked"<!--/tmpl_if-->
							>
							Allow messages to also be posted to the list from non-subscribers.         
						</label>
						<div class="alert-box info radius">
							This opens up your mailing list to possible abuse, unless moderated)</span>
						</div>
					</div>
				</div>
			<!-- /tmpl_if -->

			<fieldset> 
				<legend>
					Moderation
				</legend> 
				<div class="row">
					<div class="small-12 columns">	

						<label for="enable_moderation">
						<input 
							type="checkbox" 
							name="enable_moderation" 
							id="enable_moderation"
							class="bridge_settings" 
							value="1" 
							<!--tmpl_if list_settings.enable_moderation -->checked="checked"<!--/tmpl_if-->
						> 
							Use Moderation
						</label>
					</div>
				</div>

				<div id="moderaton_params"> 
		
					<div class="alert-box info radius">
						Messages sent to your discussion list will first have to be approved by: 
					</div>
	
					<div class="row">
						<div class="small-12 columns">	
							<label for="moderate_discussion_lists_with_list_owner_email">
							<input 
								type="radio" 
								name="moderate_discussion_lists_with" 
								value="list_owner_email" 
								id="moderate_discussion_lists_with_list_owner_email" 
								<!--tmpl_if expr="(list_settings.moderate_discussion_lists_with eq 'list_owner_email')" -->checked="checked" <!--/tmpl_if-->
							>
								List Owner
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">	
							<label for="moderate_discussion_lists_with_moderators">
								<input 
									type="radio"
									name="moderate_discussion_lists_with"
									value="moderators"
									id="moderate_discussion_lists_with_moderators" 
									<!--tmpl_if expr="(list_settings.moderate_discussion_lists_with eq 'moderators')" -->checked="checked"<!--/tmpl_if-->
								>
								List Owner or a Moderator
							</label>
						</div>
					</div>
	
					<ul class="button-group right">
					    <li>
							<input type="button"  class="success view_moderators button small" value="View Moderators (<!-- tmpl_var moderators_count -->)" >
						</li>
						<li>
							<input type="button" class="success add_moderators button small" value="Add Moderators">
						</li>
					</ul>

					<div class="row">
						<div class="small-12 columns">	

							<label for="authorized_sending_no_moderation">
							<input 
								type="checkbox" 
								name="authorized_sending_no_moderation" 
								id="authorized_sending_no_moderation" 
								value="1" 
								<!--tmpl_if list_settings.authorized_sending_no_moderation -->checked="checked"<!--/tmpl_if-->
								>
									Allow Authorized Senders to send messages to your Subscribers List without moderation
							</label>
						</div>
					</div>

					<!-- tmpl_if list_settings.open_discussion_list -->       
						<!-- tmpl_if list_settings.group_list --> 
							<div class="row">
								<div class="small-12 columns">	
									<label for="subscriber_sending_no_moderation">
										<input 
											type="checkbox"
											name="subscriber_sending_no_moderation" 
											id="subscriber_sending_no_moderation"
											value="1"
											<!--tmpl_if list_settings.subscriber_sending_no_moderation -->checked="checked"<!--/tmpl_if-->
										>
										Allow Subscribers to send messages to the entire list without moderation
									</label> 
						<!-- /tmpl_if --> 
					<!-- /tmpl_if --> 

					<div class="row">
						<div class="small-12 columns">	
							<label for="send_moderation_msg">
							<input 
								type="checkbox"
								name="send_moderation_msg" 
								id="send_moderation_msg"
								value="1" 
								<!--tmpl_if list_settings.send_moderation_msg -->checked="checked"<!--/tmpl_if-->
							>
								Send a &quot;Message Received, Awaiting Moderation&quot; Email Notification
							</label>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">	
							<label for="send_moderation_accepted_msg">
								<input 
								type="checkbox" 
								name="send_moderation_accepted_msg" 
								id="send_moderation_accepted_msg"
								value="1"
								<!--tmpl_if list_settings.send_moderation_accepted_msg -->checked="checked"<!--/tmpl_if-->
								>
								Send an &quot;Acceptance&quot; Email Notification
							</label>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">	
							<label for="send_moderation_rejection_msg">
								<input name="send_moderation_rejection_msg" id="send_moderation_rejection_msg" type="checkbox" value="1" <!--tmpl_if list_settings.send_moderation_rejection_msg -->checked="checked"<!--/tmpl_if--> >
								Send a &quot;Rejection&quot; Email Notification
							</label> 
						</div>
					</div>
				</div> 
			</fieldset> 
		</div> 
	</fieldset> 

	<fieldset> 
		<legend>
			Authorized Senders
		</legend> 
		<div class="alert-box info radius">
			Authorized Senders may send messages to your mailing list (announce-only, or discussion), without having to be a Subscriber themselves.
		</div>

		<div class="row">
			<div class="small-12 columns">
				<label for="enable_authorized_sending">
					<input 
						type="checkbox" 
						name="enable_authorized_sending" 
						id="enable_authorized_sending" 
						value="1" 
						<!--tmpl_if list_settings.enable_authorized_sending -->checked="checked"<!--/tmpl_if-->
					> 
						Allow Messages Sent By Authorized Senders
				</label>
			</div>
		</div>
		<div class="clearfix">
			<ul class="button-group right">
			    <li>
					<input type="button"  class="success view_authorized_senders button small" value="View Authorized Senders (<!-- tmpl_var authorized_senders_count -->)">
				</li>
				<li>
					<input type="button" class="success add_authorized_senders button small" value="Add Authorized Senders">
				</li>
			</ul>
		</div>
	</fieldset>


	<fieldset> 
		<legend> 
			Message Delivery
		</legend>
		<h4>
			When allowed messages are received:
		</h4>
		
		<div class="row">
			<div class="small-12 columns">		
				<label for="send_received_msg">
					<input 
						type="checkbox" 
						name="send_received_msg" 
						id="send_received_msg" 
						value="1" 
						<!-- tmpl_if list_settings.send_received_msg -->checked="checked"<!--/tmpl_if-->
					>
					Send &quot;Message Received&quot; Email Notification
				</label>
				<div class="alert-box info radius"> 
					A Mass Mailing may take a long time. A, &quot;Message 
					Received&quot; Email Notification sent to the original sender
					can stop them from second-guessing if their message was 
					successfully sent to the mailing list. 
				</div> 
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 columns">		
				<label for="send_msgs_to_list">
					<input 
						type="checkbox" 
						name="send_msgs_to_list"
						id="send_msgs_to_list" 
						value="1" 
						<!-- tmpl_if list_settings.send_msgs_to_list -->checked="checked"<!--/tmpl_if-->
					>
					Send the message to Subscribers
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">		
				<label for="send_msg_copy_to">
					<input 
						type="checkbox" 
						name="send_msg_copy_to" 
						id="send_msg_copy_to" 
						value="1"
						<!-- tmpl_if list_settings.send_msg_copy_to -->checked="checked"<!--/tmpl_if--> 
					>
					Forward a copy to:
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">		
				<input 
					type="text" 
						name="send_msg_copy_address" 
						id="send_msg_copy_address"
						value="<!-- tmpl_var list_settings.send_msg_copy_address -->"
					>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 columns">		
				<h4>
					When disallowed messages are received:
				</h4>
			</div> 
		</div> 
		
		<div class="row">
			<div class="small-12 columns">				
				<label for="send_invalid_msgs_to_owner">
				<input 
					type="checkbox" 
					name="send_invalid_msgs_to_owner"
					id="send_invalid_msgs_to_owner"
					value="1" <!-- tmpl_if list_settings.send_invalid_msgs_to_owner -->checked="checked"<!--/tmpl_if-->
				>
					Send the List Owner a &quot;Not a Subscriber&quot; Email Notification.
				</label>
			</div> 
		</div> 
		
		<div class="row">
			<div class="small-12 columns">				
				<label for="send_not_allowed_to_post_msg">
					<input 
						type="checkbox" 
						name="send_not_allowed_to_post_msg" 
						id="send_not_allowed_to_post_msg" 
						value="1" <!-- tmpl_if list_settings.send_not_allowed_to_post_msg -->checked="checked"<!--/tmpl_if-->
					>
						Send a &quot;Not Allowed to Post&quot; Email Notification
				</label>
			</div> 
		</div> 
	</fieldset> 

	<fieldset> 
		<legend> 
			Digests
		</legend> 
		<div class="row">
			<div class="small-12 columns">				
				<label for="digest_enable"> 
					<input 
						type="checkbox" 
						name="digest_enable" 
						id="digest_enable" 
						value="1" 
						<!-- tmpl_if list_settings.digest_enable --> checked="checked"<!-- /tmpl_if -->
					>
					Enable Digests
				</label> 
			</div> 
		</div> 
		<div class="row">
			<div class="small-12 columns">				
				<label for="digest_schedule"> 
					Send Digests Every: 
				</label>
				<!-- tmpl_var digest_schedule_popup_menu -->
			</div> 
		</div> 
		
	</fieldset> 


	<fieldset> 
		<legend>
			Security
		</legend> 

		<!-- tmpl_unless can_use_spam_assassin --> 
			<div class="alert-box warning radius">
				SpamAssassin may not be installed on your server.
			</div>
		<!--/tmpl_unless-->

		<div class="row">
			<div class="small-12 columns">
				<label for="ignore_spam_messages">
					<input 
						type="checkbox" 
						name="ignore_spam_messages" 
						id="ignore_spam_messages" 
						value="1" 
						<!-- tmpl_if list_settings.ignore_spam_messages -->checked="checked"<!--/tmpl_if-->
					>
					Reject messages labeled as, &quot;SPAM&quot; by SpamAssassin filters. 
				</label>
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 columns">
				<h4>
					Find SpamAssassin Score By: 
				</h4>
			</div>
		</div> 

		<div class="row">
			<div class="small-12 columns">
				<label for="looking_for_embedded_headers">
					<input 
						type="radio" 
						id="looking_for_embedded_headers" 
						name="find_spam_assassin_score_by" 
						value="looking_for_embedded_headers" 
						<!-- tmpl_if find_spam_assassin_score_by_looking_for_embedded_headers -->checked="checked"<!--/tmpl_if-->
					>
					Look for the embedded SpamAssassin Headers
				</label> 
			</div>
		</div>
		
		<div class="row">
			<div class="small-12 columns">
				<label for="calling_spamassassin_directly">
					<input 
						type="radio" 
						id="calling_spamassassin_directly" 
						name="find_spam_assassin_score_by" 
						value="calling_spamassassin_directly" 
						<!-- tmpl_if find_spam_assassin_score_by_calling_spamassassin_directly -->checked="checked"<!--/tmpl_if--> 
					>
					Use the SpamAssassin Modules directly (Slow, resource-intensive)
				</label> 
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="ignore_spam_messages_with_status_of">
					SpamAssassin Score Threshold
				</label>
				<!-- tmpl_var spam_level_popup_menu -->
			</div>
		</div>

		
		<div class="row">
			<div class="small-12 columns">
				<h4>
					If Scored as SPAM:
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="rejected_spam_messages_ignore_spam">
					<input 
						type="radio" 
						name="rejected_spam_messages"
						id="rejected_spam_messages_ignore_spam" 
						value="ignore_spam" 
						<!-- tmpl_if expr="(list_settings.rejected_spam_messages eq 'ignore_spam')" -->checked="checked"<!-- /tmpl_if -->
					>
					Ignore Spam Messages
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="rejected_spam_messages_send_spam_rejection_message">
					<input 
						type="radio" 
						id="rejected_spam_messages_send_spam_rejection_message"
						name="rejected_spam_messages"
						value="send_spam_rejection_message" 
						<!-- tmpl_if expr="(list_settings.rejected_spam_messages eq 'send_spam_rejection_message')" -->checked="checked"<!-- /tmpl_if -->
					>
					Send a Rejection Message
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="strip_file_attachments">
					<input 
						type="checkbox"
						name="strip_file_attachments"
						id="strip_file_attachments"
						value="1" 
						<!-- tmpl_if list_settings.strip_file_attachments -->checked="checked"<!--/tmpl_if-->
						>
						Strip attachments with the file ending/MIME-Types listed:
				</label>
			</div>
		</div> 
		<div class="row">
			<div class="small-12 columns">
				<input 
					type="text" 
					name="file_attachments_to_strip" 
					id="file_attachments_to_strip"
					value="<!-- tmpl_var list_settings.file_attachments_to_strip -->"
					placeholder="seperated by spaces"
				>
			</div>
		</div> 
	</fieldset> 

	<div class="clearfix">
		<ul class="button-group right">
		    <li>
				<input type="reset"  class="warning button" value="Clear Changes">
			</li>
			<li>
				<input type="submit" class="success button" value="Save Changes">
			</li>
		</ul>
	</div>
</form>





<fieldset> 
	<legend>
		<!-- tmpl_var Plugin_Name --> Email Templates
	</legend>
				<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="get"> 
				<input type="hidden" name="flavor" value="plugins"> 
				<input type="hidden" name="plugin" value="bridge"> 
				<input type="hidden" name="prm" value="edit_email_msgs"> 
				<input type="submit" value="Customize Email Templates..." class="success button expand"> 
				</form> 
</fieldset> 


<fieldset> 

<legend><!-- tmpl_var Plugin_Name --> Configuration</legend>

				<form action="<!-- tmpl_var Plugin_URL -->" method="get"> 
				<input type="hidden" name="flavor" value="plugins"> 
				<input type="hidden" name="plugin" value="bridge"> 
				<input type="hidden" name="prm" value="cgi_show_plugin_config"> 
				<input type="submit" value="View All Plugin Configurations..." class="success button expand"> 
				</form> 
</fieldset>