
<!-- tmpl_set name="title" value="Bridge &#187; Customize Email Messages" -->
<div id="screen_meta" data-menu_highlight="bridge"></div>


<div id="screentitle"> 
	<div id="screentitlepadding">

        <a href="<!-- tmpl_var Plugin_URL -->">
            Bridge
        </a> 
        &#187; 
        Customize Email Messages

	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<!-- tmpl_if done -->
    <!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!--/tmpl_if-->

<p class="alert">Leave a Subject or Message blank to have it revert to the default subject or message.</p> 

	<form method="post" action="<!-- tmpl_var Plugin_URL -->" accept-charet="<!-- tmpl_var HTML_CHARSET -->">
	
	
		<fieldset>
    		<legend>
    			Message Received Message (Message Sender)
    		</legend>

    		<p class="alert">
    		This message is sent out to a <strong>message sender</strong> when their message is received, but before the
    		message is sent out to the entire mailing list. 
    		</p>

    		<!-- tmpl_if list_settings.send_received_msg --> 
    			<p class="alert">
    				Enabled.
    			</p>
    		<!-- tmpl_else --> 
    			<p class="error">
    				Sending out this message is currently Disabled.
    			</p>		
    		<!-- /tmpl_if --> 

    		<p>
    		 <label for="msg_received_msg_subject" class="label_by_5">Subject:</label><input type="text" name="msg_received_msg_subject" id="msg_received_msg_subject" value="<!-- tmpl_var list_settings.msg_received_msg_subject escape="HTML" -->" class="midi" />
    		</p>
    		<p>
    		 <label for="msg_received_msg">PlainText Message:</label>
    		 <textarea name="msg_received_msg" id="msg_received_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.msg_received_msg escape="HTML" --></textarea> 
    		</p>
    	</fieldset>
    
    
    
	<fieldset>
		<legend>
			Not Allowed to Post Message (Message Sender)
		</legend>
		
		<p class="alert">
		This message is sent out to a <strong>message sender</strong> if they do not have permission to post a message to this Mailing List. 
		</p>
		
		<!-- tmpl_if list_settings.send_not_allowed_to_post_msg --> 
			<p class="alert">
				Enabled.
			</p>
		<!-- tmpl_else --> 
			<p class="error">
				Sending out this message is currently Disabled.
			</p>		
		<!-- /tmpl_if --> 
		
		<p>
		 <label for="not_allowed_to_post_msg_subject" class="label_by_5">Subject:</label><input type="text" name="not_allowed_to_post_msg_subject" id="not_allowed_to_post_msg_subject" value="<!-- tmpl_var list_settings.not_allowed_to_post_msg_subject escape="HTML" -->" class="midi" />
		</p>

		<p>
		 <label for="not_allowed_to_post_msg">PlainText Message:</label>
		 <textarea name="not_allowed_to_post_msg" id="not_allowed_to_post_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.not_allowed_to_post_msg escape="HTML" --></textarea> 
		</p>
	</fieldset>
	
	
	<fieldset>
		<legend>
			Not Allowed to Post Message (List Owner)
		</legend>
		
		<p class="alert">
		This message is sent out to the <strong>List Owner</strong> if a message is received from a sender that does not have permission to post a message to this Mailing List. 
		</p>
		
		<!-- tmpl_if list_settings.send_invalid_msgs_to_owner --> 
			<p class="alert">
				Enabled.
			</p>
		<!-- tmpl_else --> 
			<p class="error">
				Sending out this message is currently Disabled.
			</p>		
		<!-- /tmpl_if --> 
		
		<p>
		 <label for="invalid_msgs_to_owner_msg_subject" class="label_by_5">Subject:</label><input type="text" name="invalid_msgs_to_owner_msg_subject" id="invalid_msgs_to_owner_msg_subject" value="<!-- tmpl_var list_settings.invalid_msgs_to_owner_msg_subject escape="HTML" -->" class="midi" />
		</p>

		<p>
		 <label for="invalid_msgs_to_owner_msg">PlainText Message:</label>
		 <textarea name="invalid_msgs_to_owner_msg" id="invalid_msgs_to_owner_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.invalid_msgs_to_owner_msg escape="HTML" --></textarea> 
		</p>
	</fieldset>
	



	<fieldset>
		<legend>
			Moderation Message
		</legend>
		
		
		<p class="alert">
		This message is sent out to the List Owner (and Authorized Senders, if 
		enabled to do so), when a message posted to the <strong>List Email</strong> 
		requires moderation. 
		</p>
		
		<!-- tmpl_if list_settings.enable_moderation --> 
			<p class="alert">
				Moderation is Enabled.
			</p>
		<!-- tmpl_else --> 
			<p class="error">
				Moderation is currently Disabled.
				</p>
		<!-- /tmpl_if --> 
		
		
		<p>
		 <label for="moderation_msg_subject" class="label_by_5">Subject:</label><input type="text" name="moderation_msg_subject" id="moderation_msg_subject" value="<!-- tmpl_var list_settings.moderation_msg_subject escape="HTML" -->" class="midi" />
		</p>

		<p>
		 <label for="moderation_msg">PlainText Message:</label>
		 <textarea name="moderation_msg" id="moderation_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.moderation_msg escape="HTML" --></textarea> 
		</p>
	</fieldset>





	<fieldset>
		<legend>
			Awaiting Moderation Message
		</legend>	
		
		<!-- tmpl_if list_settings.send_moderation_msg --> 
			<p class="alert">
				Enabled.
			</p>
		<!-- tmpl_else --> 
			<p class="error">
				Sending out this message is currently Disabled.
			</p>
		<!-- /tmpl_if -->
		
		<p>
		 <label for="await_moderation_msg_subject" class="label_by_5">Subject:</label><input type="text" name="await_moderation_msg_subject" id="await_moderation_msg_subject" value="<!-- tmpl_var list_settings.await_moderation_msg_subject escape="HTML" -->" class="midi" />
		</p>

		<p>
		 <label for="await_moderation_msg">PlainText Message:</label>
		 <textarea name="await_moderation_msg" id="await_moderation_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.await_moderation_msg escape="HTML" --></textarea> 
		</p>
	</fieldset>





	<fieldset>
		<legend>
			Moderated Message Accepted Message
		</legend>
		
		<!-- tmpl_if list_settings.send_moderation_accepted_msg --> 
			<p class="alert">
				Enabled.
			</p>
		<!-- tmpl_else --> 
			<p class="error">
				Sending out this message is currently Disabled.
			</p>
		<!-- /tmpl_if -->
		
		<p>
		 <label for="accept_msg_subject" class="label_by_5">Subject:</label><input type="text" name="accept_msg_subject" id="accept_msg_subject" value="<!-- tmpl_var list_settings.accept_msg_subject escape="HTML" -->" class="midi" />
		</p>

		<p>
		 <label for="accept_msg_subject">PlainText Message:</label>
		 <textarea name="accept_msg" id="accept_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.accept_msg escape="HTML" --></textarea> 
		</p>
	</fieldset>





	<fieldset>
		<legend>
			Moderated Message Rejected Message
		</legend>

		<!-- tmpl_if list_settings.send_moderation_rejection_msg --> 
			<p class="alert">
				Enabled.
			</p>
		<!-- tmpl_else --> 
			<p class="error">
				Sending out this message is currently Disabled.
			</p>
		<!-- /tmpl_if -->



		<p>
		 <label for="rejection_msg_subject" class="label_by_5">Subject:</label><input type="text" name="rejection_msg_subject" id="rejection_msg_subject" value="<!-- tmpl_var list_settings.rejection_msg_subject escape="HTML" -->" class="midi" />
		</p>

		<p>
		 <label for="rejection_msg">PlainText Message:</label>
		 <textarea name="rejection_msg" id="rejection_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.rejection_msg escape="HTML" --></textarea> 
		</p>
	</fieldset>





	<fieldset>
		<legend>
			Message Was Labeled As SPAM Message
		</legend>

		<!-- tmpl_if list_settings."send_spam_rejection_message --> 
			<p class="alert">
				Enabled.
			</p>
		<!-- tmpl_else --> 
			<p class="error">
				Sending out this message is currently Disabled.
			</p>
		<!-- /tmpl_if -->

		<p>
		 <label for="msg_labeled_as_spam_msg_subject" class="label_by_5">Subject:</label><input type="text" name="msg_labeled_as_spam_msg_subject" id="msg_labeled_as_spam_msg_subject" value="<!-- tmpl_var list_settings.msg_labeled_as_spam_msg_subject escape="HTML" -->" class="midi" />
		</p>

		<p>
		 <label for="msg_labeled_as_spam_msg">PlainText Message:</label>
		 <textarea name="msg_labeled_as_spam_msg" id="msg_labeled_as_spam_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.msg_labeled_as_spam_msg escape="HTML" --></textarea> 
		</p>
	</fieldset>
	
	
	
	
	
	<fieldset>
		<legend>
			Message Too Big Message
		</legend>
		
		<p class="alert">
			A global message size limit of <!-- tmpl_var Soft_Max_Size_Of_Any_Message --> KB 
			for all mailing lists. If a message is received that is larger than this limit, 
			it will be rejected and the original poster will receive this message. Any messages
			larger than <!-- tmpl_var Max_Size_Of_Any_Message --> KB  will simply be ignored. 
		</p>
		
		<p>
		 <label for="msg_too_big_msg_subject" class="label_by_5">Subject:</label><input type="text" name="msg_too_big_msg_subject" id="msg_too_big_msg_subject" value="<!-- tmpl_var list_settings.msg_too_big_msg_subject escape="HTML" -->" class="midi" />
		</p>

		<p>
		 <label for="msg_too_big_msg">PlainText Message:</label>
		 <textarea name="msg_too_big_msg" id="msg_too_big_msg" rows="10" cols="50" ><!-- tmpl_var list_settings.msg_too_big_msg escape="HTML" --></textarea> 
		</p>
	</fieldset>
	
	
	
	
	
    	<fieldset>
    		<legend>
    			Digest Message
    		</legend>

    		<fieldset>
    			<legend>
    				Headers
    			</legend>

<!-- tmpl_if comment --> 
    	    <p>
    	     <label for="mailing_list_message_from_phrase" class="label_by_5" >From:</label> <input type="text" name="mailing_list_message_from_phrase" id="mailing_list_message_from_phrase" value="<!-- tmpl_var list_settings.mailing_list_message_from_phrase escape=HTML -->" class="midi" /> &lt;<!-- tmpl_var list_settings.list_owner_email -->&gt;
    	    </p>

    	    <p>
    	     <label for="mailing_list_message_to_phrase" class="label_by_5" >To:</label> <input type="text" name="mailing_list_message_to_phrase" id="mailing_list_message_to_phrase" value="<!-- tmpl_var list_settings.mailing_list_message_to_phrase escape=HTML -->" class="midi" /> &lt;<code>&lt;!-- tmpl_var subscriber.email --&gt;</code>&gt;
    	    </p>
<!-- /tmpl_if --> 


    	    <p>
    	     <label for="digest_message_subject" class="label_by_5" >Subject:</label> <input type="text" name="digest_message_subject" id="digest_message_subject" value="<!-- tmpl_var list_settings.digest_message_subject escape=HTML -->" class="midi" />
    	    </p>

    	</fieldset> 


     		<fieldset>
    			<legend>
    				PlainText Message: 
    			</legend>
    		<p>
    	        <textarea name="digest_message" id="digest_message" rows="10" cols="50" ><!-- tmpl_var list_settings.digest_message escape=HTML --></textarea> 
    		</p>

    	</fieldset> 

    	<fieldset>
    		<legend>
    			HTML Message:
    		</legend>
    		<p>
    	<textarea name="digest_message_html" id="digest_message_html" rows="10" cols="50" ><!-- tmpl_var list_settings.digest_message_html escape=HTML --></textarea> 
    		</p>
    	</fieldset> 

    </fieldset>

	
	<input type="hidden" name="process" value="1" />
	<input type="hidden" name="flavor" value="edit_email_msgs" />
	<div class="buttonfloat">
		<input type="reset" class="cautionary" value="Clear All Changes" />
		<input type="submit" class="alertive" name="revert" value="Revert ALL Text to Defaults" />
		<input type="submit" class="processing" value="Save All Changes" />
	</div>
	<div class="floatclear">
	</div>

	</form>