
<!-- tmpl_set name="title" value="Bridge &#187; Plugin Configuration" --> 
<div id="screen_meta" data-menu_highlight="bridge"></div>

<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

    <table> 
    
    <!-- tmpl_loop configs --> 
    
    <tr> 
      <td> 
       <p> 
         <strong> 
          <!-- tmpl_var name --> 
          </strong>
        </p>
       </td> 
       <td> 
        <p>
        <!-- tmpl_var value --> 
        </p>
        </td> 
        </tr> 
    <!-- /tmpl_loop --> 
    </table>