<html>
<head> 
	<script type="text/javascript">
		function submitform() { 
			document.getElementById('postify_mod_get').submit();
		}
		window.onload=submitform;
		
	</script> 
</head>

<body>
	<form id="postify_mod_get" action="<!-- tmpl_var S_PROGRAM_URL -->" method="POST" accept-charset="<!-- tmpl_var HTML_CHARSET -->">

		<input type="hidden" name="flavor" value="<!-- tmpl_var flavor -->" >             
		<input type="hidden" name="plugin" value="<!-- tmpl_var plugin -->" >             
		<input type="hidden" name="prm" value="<!-- tmpl_var prm -->" >             
		<input type="hidden" name="list" value="<!-- tmpl_var list -->" >             
		<input type="hidden" name="process" value="<!-- tmpl_var process -->" >             
		<input type="hidden" name="msg_id" value="<!-- tmpl_var msg_id -->" >             
		<input type="hidden" name="acting_email_address" value="<!-- tmpl_var acting_email_address -->" >
		<input type="hidden" name="rand_string" value="<!-- tmpl_var rand_string -->" >

		<input type="submit" value="Click here to complete request...">
	</form>
</body>

</html>