<html>
<head> 
	
	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery-3.6.0.min.js"></script>
	<script src="<!-- tmpl_var SUPPORT_FILES_URL -->/static/javascripts/vendor/jquery/jquery.cookie.js?v=<!-- tmpl_var VER escape=URL -->"></script>
	
	
	<script type="text/javascript">
		
		jQuery(document).ready(function($){
					
			function add_csrf_token() {
				var token = $.cookie("_csrf_token"); 
				if (typeof token === 'undefined') {
					return false;
				}
				$("<input>").attr({
				                name:  "_csrf_token",
						        class:  "_csrf_token _refresh",
				                type:  "hidden",
								value:  token 
				}).appendTo("form");
			}
		
			function submitform() { 
				add_csrf_token();
				document.getElementById('postify_mod_get').submit();
			}
			submitform();
		}); 
		
	</script> 
</head>

<body>
	<form id="postify_mod_get" action="<!-- tmpl_var S_PROGRAM_URL -->" method="POST" accept-charset="<!-- tmpl_var HTML_CHARSET -->">

		<input type="hidden" name="flavor" value="<!-- tmpl_var flavor -->" >             
		<input type="hidden" name="plugin" value="<!-- tmpl_var plugin -->" >             
		<input type="hidden" name="prm" value="<!-- tmpl_var prm -->" >             
		<input type="hidden" name="list" value="<!-- tmpl_var list -->" >             
		<input type="hidden" name="process" value="<!-- tmpl_var process -->" >             
		<input type="hidden" name="msg_id" value="<!-- tmpl_var msg_id -->" >             
		<input type="hidden" name="acting_email_address" value="<!-- tmpl_var acting_email_address -->" >
		<input type="hidden" name="rand_string" value="<!-- tmpl_var rand_string -->" >

		
		<input type="submit" value="Click here to complete request...">
	</form>
</body>

</html>