<!-- tmpl_if chrome --> 

	<div id="screen_meta" data-menu_highlight="bridge"></div>
	<!-- tmpl_set name="title" value="Plugins &#187; Bridge &#187; POP3 Login Test" --> 
	<div id="screentitle"> 
		<div id="screentitlepadding">
			<!-- tmpl_var title --> 
		</div>
		<!-- tmpl_include help_link_widget.tmpl -->
	</div>

  <p id="breadcrumbs">
        <a href="<!-- tmpl_var Plugin_URL -->">
		 Plugins &#187; Bridge &#187; POP3 Login Test
	</a> &#187; Test POP3 Login
   </p>
<!-- /tmpl_if --> 

	

<!-- <p class="alert">Loading...</p> --> 

<div id="test_pop3_results_loading"><p class="alert">&nbsp;</p></div>
<div id="test_pop3_results"></div> 