<!-- begin plugins/tracker/default.tmpl -->

<!-- tmpl_set name="title" value="Plugins/Extensions &#187; Usage Log to Consent Activity" --> 
<!-- tmpl_set name="load_google_viz" value="1" -->

<div class="row hide-for-small-only" id="control_panel_breadcrumbs">
	<div class="medium-10 small-9 columns">
	   	<nav class="breadcrumbs">	
		 	 <a href="#" class="unavailable">
				Plugins/Extensions
			 </a>
	 	    <a 
				href="#"
				class="current"
			>	
				Usage Log to Consent Activity 
			</a>
		</nav>
	</div>
	<div class="medium-2 small-3 columns text-right">
	   <!-- tmpl_include help_link_widget.tmpl -->
	</div>
</div>
		
<div id="screen_meta" data-menu_highlight="tracker"></div>
<div id="usage_log_to_consent_activity"></div> 

<!-- tmpl_if done --> 
	<!-- tmpl_include changes_saved_dialog_box_widget.tmpl  -->
<!-- /tmpl_if --> 

<form> 
	<input type="hidden" id="s_program_url" name="s_program_url" value="<!-- tmpl_var S_PROGRAM_URL_base64_encoded -->" > 
</form> 

<form 
	name="default_form" 
	action="<!-- tmpl_var S_PROGRAM_URL -->"
	method="post"
	accept-charset="<!-- tmpl_var HTML_CHARSET -->"
	target="_blank"
>
	<input type="hidden" name="flavor"   value="plugins"> 
	<input type="hidden" name="plugin"   value="usage_log_to_consent_activity"> 
	<input type="hidden" name="prm"      value="process">
	<input type="hidden" name="process"  value="1">
	
	
	<h1>Consents</h1>
	<!-- tmpl_if consents -->
		<!-- tmpl_loop consents -->
			<p>
				<label for="consent<!-- tmpl_var id -->">
					<input 
						type="checkbox" 
							name="consents" 
							value="<!-- tmpl_var id -->"
							id="consent<!-- tmpl_var id -->"
						>
					 <!-- tmpl_var consent --> 
				</label>
			</p>
		<!-- /tmpl_loop -->
	<!-- tmpl_else -->
		<div class="alert-box info radius">
			No mailing list consents have been set up. 
		</div>
	<!-- /tmpl_if --> 
	
	<h1>Privacy Policy</h1>
	
	<p>
		<label for="consent<!-- tmpl_var id -->">
			<input 
				type="checkbox" 
					name="add_privacy_policy" 
					value="1"
					id="consent<!-- tmpl_var id -->"
				>
			 Add current Privacy Policy
		</label>
	</p>

		
	
	
	<div class="clearfix">
		<ul class="button-group right">
		    <li><input type="submit" class="warning button" value="Process..." ></li>
		</ul>
	</div>
	
	
	
</form>

<!-- end plugins/tracker/default.tmpl -->