<!-- begin plugins/tracker/clickthrough_table.tmpl --> 


<!-- tmpl_if report_by_message_index --> 

	
	<div class="pagination-centered">
  		<ul class="pagination">
			<li class="arrow">
				<a href="#" class="tracker_turn_page" data-page="<!-- tmpl_var first_page -->">
					&laquo;
				</a>
			</li>

		<!-- tmpl_if previous_page --> 
			<li>
				<a href="#" class="tracker_turn_page" data-page="<!-- tmpl_var previous_page -->">
					&lsaquo;
				</a>
			</li>
		<!-- /tmpl_if -->

			<!-- tmpl_loop pages_in_set --> 
				<!-- tmpl_if on_current_page --> 
					 <li class="current">
						 <a href="#">
							 <!-- tmpl_var page --> 
						</a>
					 </li>
				<!-- tmpl_else --> 
					<li>
						<a href="#" class="tracker_turn_page" data-page="<!-- tmpl_var page -->">
							<!-- tmpl_var page --> 
						</a>
					</li>
				<!-- /tmpl_if --> 
			<!-- /tmpl_loop --> 
			<!-- tmpl_if next_page -->
				<li>
					<a href="#" class="tracker_turn_page" data-page="<!-- tmpl_var next_page -->">				
						&rsaquo;
					</a>
				</li>
			<!-- /tmpl_if --> 

			<li class="arrow">
				<a href="#" class="tracker_turn_page" data-page="<!-- tmpl_var last_page -->">		
					 &raquo;
			 	</a>
			</li>
			<li>
				<a href="#" class="tracker_export_page" data-page="<!-- tmpl_var page -->">
					export page (.csv)
				</a>
			</li>
		</ul>
	</div>
	
<div id="subscriber_history_chart" style="height:425px"></div>
	
<div style="width:100%"> 
    <div style="max-height: 480px; overflow: auto; width:100%">

		<table id="subscriber_history_table" style="width:100%" class="tablesorter responsive">
		<thead> 
		<tr>
			<th class="sorter-false" style="width:75px"> 
				&nbsp;
			</th>
			
		<th> 
			Sent
		</th>			
		<th> 
			Subject
		</th> 
	
<!-- 
		<th> 
			Subscribers
		</th>
-->
		<th> 
			Recipients
		</th>
		<th> 
			Opens
		</th>
		<th> 
			Clickthroughs
		</th>

		<th> 
			Delivery Issues
		</th>

		<th> 
			Unsubscribes
		</th>

		<th class="sorter-false"> 
		</th>
		</tr> 
	</thead>
	<tbody>
	
		<!-- tmpl_loop report_by_message_index --> 
		<tr> 
		
			<td valign="middle">	
				<span style="font-size: 2em; padding-bottom:0;padding-top:0" class="text-align:center">
					<a href="<!-- tmpl_var Plugin_URL -->?prm=m&mid=<!-- tmpl_var mid -->" title="View Analytics">
							<i class="fi-graph-pie"></i>
							<i class="fi-graph-bar"></i>
					</a>
				</span>
						
			 </td>
			 
			<td> 
				<!-- tmpl_var date --> 
			</td>

		 <td> 
				<!-- tmpl_if archived_msg -->
					<!-- tmpl_var message_subject_snipped escape="HTML" -->
				<!-- tmpl_else --> 
					<!-- tmpl_if message_subject -->
						<!-- tmpl_var message_subject_snipped escape="HTML" -->
					<!-- tmpl_else --> 
						<em>(subject not saved)</em>
					<!-- /tmpl_if -->
				<!-- /tmpl_if -->

				<!-- tmpl_if archived_msg -->
					&nbsp;<a href="<!-- tmpl_var S_PROGRAM_URL -->?flavor=view_archive&list=<!-- tmpl_var list -->&id=<!-- tmpl_var mid -->" target="_blank" title="View Archived Message"><i class="fi-share"></i></a>
				<!-- /tmpl_if -->
				
		</td> 
		
	
		 <!-- 
		 	<td> 
		  	  <!-- tmpl_var num_subscribers_commified  default="-" --> 
			 </td>
	 	-->
		
		 <td data-text="<!-- tmpl_var total_recipients -->">
		    <!-- tmpl_if total_recipients -->
				<!-- tmpl_var total_recipients_commified  default="-"--> 
				<!-- tmpl_if num_subscribers -->
					of <!-- tmpl_var num_subscribers_commified  default="-" --> 
				<!-- /tmpl_if -->
			<!-- tmpl_else -->
				-
			<!-- /tmpl_if -->
		 </td>
	
	 	<td 
			 <!-- tmpl_if unique_open -->
			 	data-text="<!-- tmpl_var unique_open -->"
			 <!-- tmpl_else -->
				 data-text="<!-- tmpl_var open -->"
			 <!-- /tmpl_if -->
		>
			<!-- tmpl_if expr="(
				(
					(list_settings.tracker_track_email == 1)
				 	&& (PII_OPTIONS_allow_logging_emails_in_analytics == 1)
				) 
				|| 
				(list_settings.tracker_track_anonymously == 1)
			)" -->
				<!-- tmpl_if unique_open -->
					<strong>Unique:</strong>&nbsp;<!-- tmpl_var unique_open_commified --> / <!-- tmpl_var unique_opens_percent -->%
					<br>
					<strong>Total:</strong>&nbsp;<!-- tmpl_var open_commified default="-"  -->
				<!-- tmpl_else -->
					-
				<!-- /tmpl_if -->
			<!-- tmpl_else -->
				<strong>Total:</strong><!-- tmpl_var open_commified default="-"  -->
			<!-- /tmpl_if -->
			
		 </td>




		
		 	<td 
				 <!-- tmpl_if unique_clickthroughs -->
				 	data-text="<!-- tmpl_var unique_clickthroughs -->"
				 <!-- tmpl_else -->
					 data-text="<!-- tmpl_var count -->"
				 <!-- /tmpl_if -->
			> 		
			 
			 
			<!-- tmpl_if expr="(
				(
					(list_settings.tracker_track_email == 1)
				 	&& (PII_OPTIONS_allow_logging_emails_in_analytics == 1)
				) 
				|| 
				(list_settings.tracker_track_anonymously == 1)
			)" -->
				<!-- tmpl_if unique_clickthroughs -->
					<strong>Unique:</strong>&nbsp;<!-- tmpl_var unique_clickthroughs_commified --> / <!-- tmpl_var unique_clickthroughs_percent -->%
					<br>
					<strong>Total:</strong>&nbsp;<!-- tmpl_var count_commified  default="-"  -->
				<!-- tmpl_else -->
					-	
				<!-- /tmpl_if -->
			<!-- tmpl_else -->
				<strong>Total:</strong><!-- tmpl_var count_commified  default="-"  --> 
			<!-- /tmpl_if -->
			
			
			
			
		 </td>
		 
		 <td data-text="<!-- tmpl_var delivery_issues -->"> 
			 
			 <!-- tmpl_if delivery_issues -->
			 	<!-- tmpl_var delivery_issues_commified  default="-"  --> / <!-- tmpl_var delivery_issues_percent -->%
			<!-- tmpl_else -->
				<!-- tmpl_var delivery_issues_commified  default="-"  -->
			<!-- /tmpl_if -->
		 </td>
		 
		 <td data-text="<!-- tmpl_var unsubscribe -->"> 
		    
			 <!-- tmpl_if unsubscribe --> 
			 	<!-- tmpl_var unsubscribe_commified  default="-"  --> / <!-- tmpl_var unique_unsubscribes_percent -->%
			 <!-- tmpl_else -->
				 <!-- tmpl_var unsubscribe_commified  default="-"  -->
			 <!-- /tmpl_if -->
		 
		 </td>

		 <td>
		     <form action="<!-- tmpl_var S_PROGRAM_URL -->">
				<button 
					type="button" 
					name=""
					class="tiny button alert tracker_delete_msg_id_data" 
					data-mid="<!-- tmpl_var mid -->" 
				>
					<i class="fi-x"></i>
			</button>	
			</form> 
		</td>
		</tr> 
		<!-- /tmpl_loop --> 
	</tbody>
		</table> 
	</div>
</div>
<!-- tmpl_if comment -->
		<fieldset> 
			<pre>
			<!-- tmpl_var report_by_message_id_dump escape="HTML" --> 
			</pre> 
		</fieldset> 
<!-- /tmpl_if --> 	
	
<!-- tmpl_else -->
	  <div class="alert-box info radius">
		  No logs to report.
	  </div>
<!-- /tmpl_if --> 



<!-- end plugins/tracker/clickthrough_table.tmpl --> 