<!-- begin plugins/tracker/individual_country_geoip_report_table.tmpl -->


<!-- tmpl_unless chrome --> 

	<div>
	<div style="max-height: 400px; overflow: auto; border:1px solid black overflow-y: scroll; overflow-x: hidden;">
	<p style="text-align:right">
		<a href="<!-- tmpl_var Plugin_URL -->?f=individual_country_geoip_report_table&mid=<!-- tmpl_var mid -->&country=<!-- tmpl_var country -->&type=ALL&chrome=1" target="_blank">
			View Report in a New Window &gt;&gt;
		</a>
	</p> 
<!-- /tmpl_unless --> 

<h2>Cumulative Report for, <!-- tmpl_var country --><!-- tmpl_if chrome -->, Message ID: <!-- tmpl_var mid --><!-- /tmpl_if --></h2> 
<p style="font-size:9px">
<!-- tmpl_loop report --> 
<a href="#<!-- tmpl_var city -->"><!-- tmpl_var city --></a> | 
<!-- /tmpl_loop --> 
</p>

<!-- tmpl_loop report --> 

	<a name="<!-- tmpl_var city -->"></a>
	<h3><!-- tmpl_var city --> - <!-- tmpl_var unique_ip_count --> Unique Addresse(s)</h3>
		
	<!-- tmpl_loop unique_ips -->
	
		<table class="stripedtable" style="border:1px solid black;border-collapse: collapse;width:640px">
			<thead style="background-color:#999999;color:#FFFFFF;  text-align:center">
			<tr style="background-color:#999999;color:#FFFFFF;  text-align:center">
				<th colspan="3" style="background-color:#333333;color:#FFFFFF; text-align:center">
					<p>
						<strong> 
							<!-- tmpl_var ip -->, <!-- tmpl_var count --> event(s)
						</strong> 
					</p>
				</th>
			 </tr> 
			 <tr> 
					<th style="background-color:#999999;color:#FFFFFF; text-align:center">
						Timestamp
					</th>
					<th style="background-color:#999999;color:#FFFFFF; text-align:center">
						Event
					</th>
					<th style="background-color:#999999;color:#FFFFFF; text-align:center">
						URL
					</th>
			</thead>
			<tbody>
			</tr>
			<!-- tmpl_loop ip_history --> 
				<tr <!-- tmpl_if __odd__ -->class="alt"<!-- /tmpl_if -->> 
					<td width="200"><p style="font-size:11px"><!-- tmpl_var ctime --></p></td>
				 	<td width="100"><p style="font-size:11px"><!-- tmpl_var event_label --></p></td>
					<td width="340">
						
						<!-- tmpl_if url --> 
						<p style="font-size:11px">
							<a href="<!-- tmpl_var url -->" target="_blank">
								<!-- tmpl_var url -->
							</a>
						</p>
						<!-- tmpl_else --> 
							&nbsp;
						<!-- /tmpl_if --> 
						</td>
				</tr> 
			<!-- /tmpl_loop --> 
			</tbody>
		</table> 
	<!-- /tmpl_loop --> 

<!-- /tmpl_loop --> 

<!-- tmpl_unless chrome --> 
	</div> 
	</div> 
<!-- /tmpl_unless --> 



<!-- end plugins/tracker/individual_country_geoip_report_table.tmpl -->
