	<table style="width:100%">
		<!-- tmpl_if sending_method -->
			<!-- tmpl_if comment -->
				All these analytics were introducted at the same time, so if one's not here, they all aren't. 
			<!-- /tmpl_if -->
	
		<tr> 
			<td valign="top">
				<strong>
					Sending Interval
				</strong>
			</td> 
			<td class="text-right"  valign="top"> 
				<!-- tmpl_if start_time -->
					<strong>Start:</strong> <!-- tmpl_var start_time_formatted -->,
				<!-- /tmpl_if --> 
				<!-- tmpl_if finish_time -->
					<br>
					<strong>Finish:</strong> <!-- tmpl_var finish_time_formatted --> 
				<!-- /tmpl_if --> 
			</td>
		</tr>
		
			<!-- tmpl_if sending_time -->
				<tr> 
					<td  valign="top">
						<strong>
							Sending Speed
						</strong>
					</td> 
					<td class="text-right"  valign="top"> 
						<strong>Total Time:</strong> <!-- tmpl_var sending_time_formatted -->, 
						<br>
						<!-- tmpl_var sending_speed_formatted --> messages/hour
					</td>
				</tr>
			<!-- /tmpl_if -->
		
			<!-- tmpl_if sending_method -->
				<tr> 
					<td valign="top">
						<strong>Sending Method</strong>
					</td> 
					<td class="text-right"  valign="top"> 
						<!-- tmpl_var sending_method -->
					</td>
				</tr>
			<!-- /tmpl_if -->
			
			<!-- tmpl_if msg_size -->
				<tr> 
					<td  valign="top">				
						<strong>Received Message Size</strong>
					</td> 
					<td class="text-right" valign="top"> 
						<!-- tmpl_var msg_size_formatted -->
					</td>
				</tr>
			<!-- /tmpl_if -->
		<!-- /tmpl_if -->	

		<tr> 
			<td valign="top">
				<!-- tmpl_if a_in_t -->
					<a href="#subscriber_activity">
				<!--/tmpl_if -->
					<strong>Message Recipients</strong>
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
			</td> 
			<td class="text-right" valign="top"> 
				Total: <!-- tmpl_var total_recipients_commified default="0" -->, 
				<br>
				Delivered: <!-- tmpl_var received_commified default="0" --> - <!-- tmpl_var received_percent default="0" -->%
			</td>
		</tr>
		<tr>
			<td valign="top"> 
				<strong>
					<!-- tmpl_if a_in_t -->
						<a href="#opens">
					<!-- /tmpl_if --> 
					Opens
				
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
			
			</strong>
			</td> 
			<td class="text-right" valign="top"> 
				<!-- tmpl_if a_in_t -->
					<a href="#opens">
				<!-- /tmpl_if -->
					Total: <!-- tmpl_var open_commified default="0" -->
				
					<!-- tmpl_if expr="(
						(
							(list_settings.tracker_track_email == 1)
						 	&& (PII_OPTIONS_allow_logging_emails_in_analytics == 1)
						) 
						|| 
						(list_settings.tracker_track_anonymously == 1)
					)" -->
						<!-- tmpl_if unique_open -->
							, Unique: <!-- tmpl_var unique_open_commified default="0" --> - <!-- tmpl_var unique_opens_percent default="0" -->%
						<!-- /tmpl_if -->
					<!-- /tmpl_if -->
				
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
			</td> 
		</tr>
		<tr>
			<td valign="top"> 
				<strong>
					<!-- tmpl_if a_in_t -->
						<a href="#clickthroughs">
					<!-- /tmpl_if -->	
						Clickthroughs
					<!-- tmpl_if a_in_t -->
						</a>
					<!-- /tmpl_if -->	
				</strong>
			</td> 
			<td class="text-right" valign="top"> 
				<!-- tmpl_if a_in_t -->
					<a href="#clickthroughs">
				<!-- /tmpl_if -->
					
					
					Total: <!-- tmpl_var clickthroughs_commified default="0" -->
					<!-- tmpl_if expr="(
						(
							(list_settings.tracker_track_email == 1)
						 	&& (PII_OPTIONS_allow_logging_emails_in_analytics == 1)
						) 
						|| 
						(list_settings.tracker_track_anonymously == 1)
					)" -->
						<!-- tmpl_if unique_clickthroughs -->
							, Unique: <!-- tmpl_var unique_clickthroughs_commified default="0" --> - <!-- tmpl_var unique_clickthroughs_percent default="0" -->%
						<!-- /tmpl_if -->
					<!-- /tmpl_if -->	
				
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
				
			</td> 
		</tr>
		<tr>
			<td valign="top"> 
				<strong>
					<!-- tmpl_if a_in_t -->
						<a href="#unsubscribes">
					<!-- /tmpl_if -->	
						
								Unsubscriptions
						
						
					<!-- tmpl_if a_in_t -->
						</a>
					<!-- /tmpl_if -->
						
						
						</strong>
			</td> 
			<td class="text-right" valign="top"> 
				<!-- tmpl_if a_in_t -->
					<a href="#unsubscribes">
				<!-- /tmpl_if -->
				
					<!-- tmpl_var unsubscribe default="0" -->
					<!-- tmpl_if expr="((list_settings.tracker_track_email == 1) && (PII_OPTIONS_allow_logging_emails_in_analytics == 1))" -->
						<!-- tmpl_if unsubscribe -->- 
							<!-- tmpl_var unique_unsubscribe_percent default="0"  -->%
						<!-- /tmpl_if -->
					<!-- /tmpl_if -->
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
			</td> 
		</tr>
		<tr>
			<td valign="top"> 
				<strong>
					<!-- tmpl_if a_in_t -->
						<a href="#bounces">
					<!-- /tmpl_if -->	
						
								Bounces
					<!-- tmpl_if a_in_t -->
						</a>
					<!-- /tmpl_if -->
						
						</strong>
			</td> 
			<td class="text-right" valign="top"> 
				<!-- tmpl_if a_in_t -->
					<a href="#bounces">
				<!-- /tmpl_if -->
					<!-- tmpl_if total_bounce -->
						Soft: <!-- tmpl_var soft_bounce default="0" -->, 
						Hard: <!-- tmpl_var hard_bounce  default="0" --> 
						<!-- addresses that are bounces are tallied, even if we're not collecting email addresses *shrug* -->
							- <!-- tmpl_var unique_bounces_percent default="0" -->%
					<!-- tmpl_else -->
						0
					<!-- /tmpl_if -->
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
			</td> 
		</tr>	
	
	
		<tr>
			<td valign="top"> 
				<strong>
					<!-- tmpl_if a_in_t -->
						<a href="#sending_errors">
					<!-- /tmpl_if -->	
						Sending Errors
					
					<!-- tmpl_if a_in_t -->
						</a>
					<!-- /tmpl_if -->
				
				</strong>
			</td> 
			<td class="text-right" valign="top"> 
				<!-- tmpl_if a_in_t -->
					<a href="#sending_errors">
				<!-- /tmpl_if -->		
					<!-- tmpl_var errors_sending_to_commified default="0" -->
					<!-- tmpl_if errors_sending_to -->
						- <!-- tmpl_var errors_sending_to_percent default="0" -->%
					<!-- /tmpl_if -->
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
			</td> 
		</tr>
	
		<tr>
			<td valign="top"> 
				<strong>
					<!-- tmpl_if a_in_t -->
						<a href="#abuse_reports">
					<!-- /tmpl_if -->			
								
								Abuse Reports
								
								
					<!-- tmpl_if a_in_t -->
						</a>
					<!-- /tmpl_if -->
					
						
						</strong>
			</td> 
			<td class="text-right" valign="top"> 
				<!-- tmpl_if a_in_t -->
					<a href="#abuse_reports">
				<!-- /tmpl_if -->	
				
					<!-- tmpl_var abuse_report_commified default="0" --> 
				
			<!-- tmpl_if a_in_t -->
				</a>
			<!-- /tmpl_if -->
			
			
			</td> 
		</tr>
	
		<tr>
			<td valign="top"> 
				<strong>
					<!-- tmpl_if a_in_t -->	
						<a href="#archive_views">
					<!-- /tmpl_if -->
					
								Archive Views
					
					
						<!-- tmpl_if a_in_t -->
							</a>
						<!-- /tmpl_if -->
						
						</strong>
			</td> 
			<td class="text-right" valign="top"> 
				
				<!-- tmpl_if a_in_t -->
					<a href="#archive_views">
				<!-- /tmpl_if -->
				
					<!-- tmpl_var view_archive_commified default="0"-->
			
			
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
			
			
			</td> 
		</tr>
		<tr>
			<td valign="top"> 
				<strong>
					<!-- tmpl_if a_in_t -->
						<a href="#forwards">
					<!-- /tmpl_if -->		
							
								Forwards
						
						
					<!-- tmpl_if a_in_t -->
						</a>
					<!-- /tmpl_if -->
						
						</strong>
			</td> 
			<td class="text-right" valign="top"> 
				<!-- tmpl_if a_in_t -->
					<a href="#forwards">
				<!-- /tmpl_if -->	
					
					<!-- tmpl_var forward_to_a_friend_commified default="0" -->
				
				
				<!-- tmpl_if a_in_t -->
					</a>
				<!-- /tmpl_if -->
			
			
			</td> 
		</tr>
		
	</table>