<!-- tmpl_set name="title" value="Plugins &#187; Change List Shortname" -->

<div id="screen_meta" data-menu_highlight="change_list_shortname"></div>

<div id="screentitle"> 
	<div id="screentitlepadding">
		<!-- tmpl_var title --> 
	</div>
	<!-- tmpl_include help_link_widget.tmpl -->
</div>

<div id="plugins_change_list_shortname"></div> 

<fieldset> 


<form action="<!-- tmpl_var Plugin_URL -->" method="post" id="change_name_form" name="change_name_form">
	<input type="hidden" name="flavor" id="flavor" value="verify_change_list_shortname" />
	<input type="hidden" name="plugin_url" id="plugin_url" value="<!-- tmpl_var Plugin_URL -->" />
	<p><label for="new_name">Your New List Short Name:</label><input type="text" name="new_name" id="new_name" value="" maxlength="16" /></p>
	<div class="buttonfloat">
	<input type="button" id="verify_button" value="Verify Your List Short Name Change..." class="alertive" /> 
	</div> 
	<div class="floatclear"></div>
</form>

</fieldset>