	<!-- tmpl_if errors --> 

	<h1>Problems!</h1>
	
	<p>Some problems were found with the new List Short Name you picked out:</p> 
	
	<div class="badweatherbox">
	
	<ul>
		

	<!-- tmpl_if flags_list_exists -->

		 <li><p>
		   This list Short Name already exists. Please choose a different Short Name.
		 </p></li>

	<!-- /tmpl_if -->

	<!-- tmpl_if flags_list -->
		 <li><p>
		   Please fill out a Short Name.
		 </p></li>

	<!-- /tmpl_if -->

	<!-- tmpl_if flags_shortname_too_long -->

		 <li><p>
		   Your list Short Name is longer than 16 characters.
		 </p></li>

	<!-- /tmpl_if -->

	<!-- tmpl_if flags_slashes_in_name -->

		 <li><p>
		   Your list Short Name cannot have slashes (&quot;/&quot; or &quot;\&quot;) in the name itself.
		 </p></li>

	<!-- /tmpl_if -->

	<!-- tmpl_if flags_weird_characters -->

		 <li><p>
		   Your list Short Name appears to have weird characters in the 
		   name that may create problems. Please use only lowercase 
		   alphanumeric characters (e.g.: abc123).
		 </p></li>

	<!-- /tmpl_if -->

	<!-- tmpl_if flags_quotes -->
		 <li><p>
		   Your list Short Name cannot contain quotes.
		 </p></li>

	<!-- /tmpl_if -->
	
	</div> 
	
<!-- tmpl_else --> 
	<fieldset> 
	<legend>Verification Successful</legend>
	<p>Your new List Short Name checks out.</p> 
	
	
	<p><strong>Please make a backup of your current Dada Mail database, before continuing.</strong></p> 
	
	<form action="<!-- tmpl_var Plugin_URL -->"  method="post" >
		<input type="hidden" name="flavor" id="flavor" value="change_list_shortname" />
		<input type="hidden" name="new_name" id="new_name" value="<!-- tmpl_var new_name -->" /> 
		<div class="buttonfloat">
		<input type="submit" value="Change your list short name from, &quot;<!-- tmpl_var list_settings.list -->&quot; to, &quot;<!-- tmpl_var new_name -->&quot;" class="processing" /> 
		</div> 
		<div class="floatclear"></div>
		
	</form>
	</fieldset> 
	
<!-- /tmpl_if --> 
