
<fieldset> 
<legend>
	Installation Log:
</legend>

<!-- tmpl_var install_log --> 
</fieldset> 

<!-- tmpl_if error_cant_edit_config_dot_pm --> 
 <h1>ONE MORE STEP</h1> 

	<p>
		You'll have to manually edit the, <strong><em>dada/DADA/Config.pm</em></strong> file. 
	</p> 
	
	<p>Find this line: </p> 
	
	<p><code>\$PROGRAM_CONFIG_FILE_DIR = 'auto';</code></p> 
	
	<p>
		And change it to:  
	</p> 
	
	<p><code>\$PROGRAM_CONFIG_FILE_DIR = '<!-- tmpl_var install_dada_files_loc -->/$Dada_Files_Dir_Name/.configs';</code></p> 
	
	<p>And, you're done!</p> 
	
<!-- /tmpl_if --> 

<!-- tmpl_if status --> 

<!-- tmpl_else --> 
	<h1>BIG PROBLEMS</h1> 
	
	<p>Problems with the installation - look in the Installation Log for clues.</p> 
	
<!-- /tmpl_if -->