
<fieldset> 
<legend>
	<a href="#" onclick="toggleDisplay('install_log');return false;">+/-</a> Installation Log:
</legend>
<div id="install_log" style="display:none"> 
	<!-- tmpl_var install_log -->
</div> 
 
</fieldset> 

<!-- tmpl_if error_cant_edit_config_dot_pm --> 
 <h1>ONE MORE STEP</h1> 

	<form> 
	<p>
		You'll have to manually edit your, <strong><em>dada/DADA/Config.pm</em></strong> file. 
	</p> 
	
	<p>Find this line: </p> 
	
	<input type="text" class="full" value="$PROGRAM_CONFIG_FILE_DIR = 'auto';" />
	
	<p>
		And change it to:  
	</p> 
	
	<input type="text" class="full" value="$PROGRAM_CONFIG_FILE_DIR = '<!-- tmpl_var install_dada_files_loc -->/<!-- tmpl_var Dada_Files_Dir_Name -->.configs';" /> 

 <h1>AND ANOTHER THING - VERY IMPORTANT!</h1> 

<p>
	Rename/Remove the, <em>dada/<strong>install</strong></em> directory!
</p> 

</form> 
	
<!-- /tmpl_if --> 

<!-- tmpl_if status --> 

<!-- tmpl_else --> 
	<h1>BIG PROBLEMS</h1> 
	
	<p>Problems with the installation - look in the Installation Log for clues.</p> 
	
<!-- /tmpl_if -->


<!-- tmpl_include install_debug_info.tmpl --> 