<h1>Welcome to the <!-- tmpl_var PROGRAM_NAME --> Installer!</h1> 
		<ul>
		<li>
		<p>
		<a href="<!-- tmpl_var Self_URL -->?f=scrn_configure_dada_mail">
			This is a NEW installation of <!-- tmpl_var PROGRAM_NAME -->!
		</a>
		</p>
		</li> 
		<li>
		<p>
			<a href="<!-- tmpl_var Self_URL -->?f=scrn_upgrade_dada">
				I'm upgrading from a previous installation!
			</a>
			
		</p>
		</li>
		</ul>

<!-- tmpl_include install_debug_info.tmpl --> 